[2021-03-11 13:43] frontdevde commented on #50964
Marking as low priority as the current copy seems adequate for now. CC'ing @sfougnier for a final call on whether we want to keep or update the copy.

[2021-03-11 13:52] getdave commented on #50951
SSO seems to be `off` for sites that are experiencing this issue.

[2021-03-11 13:56] cpapazoglou commented on #50957
Working on a diff here D58539-code

[2021-03-11 14:03] frontdevde commented on #49731
`dark` doesn't ring a bell, no. The Nav Unification dark is `classic-dark` and it doesn't seem like `dark` was part of the most recent set of core or Calypso color schemes.

[2021-03-11 14:23] zdenys opened #50991 "Signup: Creating a new WP.com account (with no site) shows a message about site being created"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/start/account/user
2. Create a new account
3. See the message `Hooray! Your site will be ready shortly.` while no site is being created actually

#### What I expected to happen
The message `Hooray! Your site will be ready shortly.` is displayed briefly while no site is being created actually.

#### What actually happened

See a me

[2021-03-11 14:40] jsnajdr commented on #48072
I see two kinds of errors when testing the joemygod.com embed.

The first issue is with lazy loading the iframe. The markup looks like:
[code]
The iframe is lazy loaded, i.e., loaded only when the element is within the viewport. But the styles effectively hide the iframe (until it's loaded). The 1x1px clip is apparently not enough to convince Chrome that the frame is in the viewport and that it sh

[2021-03-11 14:59] getdave commented on #50951
This is almost certainly a issue with cached transients and the way we sync the toggle setting over to Atomic.

* We [grab the WPCom user data from Dotcom Simple](https://github.com/Automattic/jetpack/blob/c4092f5ab342e4d6db7453894a8c38b1f608164e/projects/plugins/jetpack/modules/masterbar/masterbar/class-masterbar.php#L102).
* We use whatever comes back to [set the value of the user_option `jetpac

[2021-03-11 15:04] arunsathiya commented on #41052
This appears okay now. I am on a Windows machine at the moment, with no idea of how to make screenshots. Closing.

[2021-03-11 15:04] #41052 closed

[2021-03-11 15:06] #50929 closed, assigned to cpapazoglou

[2021-03-11 15:11] arunsathiya commented on #44776
This seems okay now. Closing.

[2021-03-11 15:11] #44776 closed

[2021-03-11 15:16] arunsathiya commented on #41051
Is okay now. Closing.

[2021-03-11 15:16] #41051 closed

[2021-03-11 15:28] ghost commented on #50987
Thanks for the ping @davipontesblog !

+1 to this. I find the Links menu item to be confusing and counterintuitive to the shift toward the new editor. Agree with removing to remove friction and declutter the sidebar.

[2021-03-11 15:37] Nic-Sevic opened #50994 "Site icon not showing when bookmark site on iOS devices"
### Steps to reproduce the behavior

1. Open Safari in iOS device
2. Visit WordPress.com site and bookmark
3. see that icon missing on left

#### What I expected to happen
Icon should appear for bookmark in the same way it appears when added to homescreen or when view site in browser tab

#### What actually happened
icon shows everywhere but bookmark
- per slack sounds like issue might be that boo

[2021-03-11 15:44] ghost commented on #50964
Thanks for the ping @frontdevde !

**Context:** The copy was changed to remove any internal terminology that less savvy users may be unfamiliar with. We need some supporting information as to what this does for users who are less aware of what impact this will have.

To make this setting more discoverable for users who may be on the lookout for `wp-admin`, we can change to:

Replace your dashboard

[2021-03-11 15:54] cpapazoglou commented on #50945
My proposal is:
- **Home -> Always links to Calypso Home**
- In case that Advanced Users want to use the WP Admin dashboard **they may either go directly to WP Admin OR we can add “WP Admin Dashboard” link as submenu of “Home”**

@sfougnier Can you make the call on this?

[2021-03-11 16:04] cpapazoglou commented on #50765
Let me say that the problem is not with the Astra theme but with Astra Starter Templates plugin. With collapsed sidebar it looks OK

![](https://cln.sh/hDmTTv+)

Are you suggesting collapsing the sidebar in certain cases?

We already had problems with Gutenberg and Jetpack which we fixed by overwriting styles
https://github.com/Automattic/jetpack/blob/16fd659047e04f94b8f3fb768dd15f665eee1291/proje

[2021-03-11 16:06] blackjackkent commented on #45607
Continuing to work on this today. The current struggle is getting it to happen consistently; it was reproducing on my Atomic site on my account and then stopped, so I'm trying to figure out why. (If anyone has an account/site where it is happening consistently that I can try and make use of, please let me know.)

[2021-03-11 16:07] obenland commented on #50765
No I was just wondering if it's maybe conflicting with more than that.

I'll try and reach out to Brainstorm Force and see if they can fix it in the plugin.

[2021-03-11 16:08] getdave commented on #50951
I believe the issue is that the WPCom user ID doesn't match the JP user ID. See my fix here D58544-code.

See Slack with Jetpack Crew p1615478804354500-slack-jetpack-crew which confirms there is not always a 1:1 with user Ids.

[2021-03-11 16:10] ivan-ottinger commented on #49952
Another request: 22770017-hc

[2021-03-11 16:25] mreishus commented on #36274
I have not found a way to recreate the bug on dotorg multisite, both before and after forcing `global_terms_enabled()` to be on. This may be a dotcom specific bug. Up next is investigating just why the tag and the category are getting the same term_id, when they don't on dotorg.
![2021-03-11_10-23](https://user-images.githubusercontent.com/937354/110819709-0ce30380-8254-11eb-8eff-52b98109c6f1.png)

[2021-03-11 16:29] cpapazoglou commented on #49731
I searched for a `dark` color scheme but couldn't find any reference. In 2014 core included the following color schemes
[code]

Is there a chance you have updated your user with a `dark` non-existent color-scheme? Shall we close this as non-reproducible?

[2021-03-11 16:30] ghost commented on #50945
I prefer that we avoid showing duplicate menu items in the sidebar, so I would vote for going directly to WP admin.

[2021-03-11 16:30] obenland commented on #49731
Entirely possible. I'll close, we can re-open if others run into it as well

[2021-03-11 16:30] #49731 closed, assigned to nobody

[2021-03-11 17:08] getdave commented on #50951
## Fix for Happiness - requires Atomic CLI experience

**Stop** - before you do this please ask Atomic leads if it's ok to do this. If in doubt don't do it and refer upwards for support.

If you have a user with this issue. In the short term until D58544-code ships you can do the following.

**⚠️ Note this is complex and so if you're not comfortable working on the Atomic WPCLI you should refer thi

[2021-03-11 17:15] niranjan-uma-shankar commented on #44593
I think as a first step, we can try to re-purpose the Quick Start appointment card in customer home to also schedule a session. @wynwin what do you think? Can we move this issue to the concierge issues repo and triage it there?

[2021-03-11 18:08] desnum commented on #50746
#28344864-hc

starting March 2

[2021-03-11 18:09] msilbers commented on #50746
another report of Video play stats missing starting March 1. seems like it happened around then for at least a few of these reports. for this particular user, they are now working again starting March 9

3804948-zd

[2021-03-11 18:47] roundhill commented on #50746
Hi y'all, our new video player rollout broke this for about a week :( We have implemented a fix but I'm afraid the stats from that time period were not recorded :(

We have also discovered that Chrome seems to be blocking the tracking pixel for this so we may need to overhaul the video stats to get something working reliably.

[2021-03-11 19:02] cpapazoglou commented on #50950
We 've got an other problem too with Yoast plugin. This page `/wp-admin/admin.php?page=wpseo_configurator` returns an error. It gets fixed in this branch though. Let's keep an eye on it after refactoring / before merging.

[2021-03-11 19:14] eeeeevon13 opened #51003 "Cursor should change to cursor"
### Steps to reproduce the behavior

1. Go to https://cloud.jetpack.com/backup/[site name]
2. You'll need to look at a backup that has some changes w/links included
3. Hover over the links

https://user-images.githubusercontent.com/49159284/110841408-728eba00-826b-11eb-986d-f8153a6a60c4.mp4

![finger](https://user-images.githubusercontent.com/49159284/110841418-77536e00-826b-11eb-9c75-d16a3c46e318

[2021-03-11 19:38] kcswong commented on #50574
Similar report in 26496263-hc. All blocks on a page were showing the error; they're going to switch to PayPal buttons for now.

Console errors:

![console errors](https://d.pr/i/d2mfFH+)

Their error was: `We are sorry, there was a configuration problem. Please contact the site owner. Error:SP19`

[2021-03-11 19:43] wynwin commented on #50927
+1 Just had a user request this in a Quick Start session.

[2021-03-11 19:49] mattsherman commented on #50833
@ilyasfoo I have a in-progress PR to improve this issue. I do not believe it fully addresses all possible hangs, but I do think it improves the situation where the hang occurs right at the beginning after clicking "Set up my store!".

I have a suspicion that some of the hanging might be related/caused by #49925, as I did see some lines in my dev console mentioning a redirect to a crowdsignal forms

[2021-03-11 20:23] serabi opened #51007 "Customizer: Additional CSS section is no longer warning of errors"
### Issue

When I add incorrect CSS to the Customizer, the Customizer no longer warns me that the CSS is broken/incorrect. I can also save completely broken CSS with no error messages. I was able to replicate this behavior on both Simple and Atomic sites.

### Example (screenshot)

<img width="347" alt="Screen Shot 2021-03-11 at 3 18 32 PM" src="https://user-images.githubusercontent.com/30205248/1

[2021-03-11 20:26] jeyip commented on #37459
Drafted a phab diff for this. ~Currently trying to figure out how to test it 🤔~ Added testing notes!

D58565-code

[2021-03-11 20:42] tbradsha commented on #36274
Got it in 28348375-hc. Trying twice didn't work, so I had them publish without tags or categories (success!) and then add the tags and categories after.

[2021-03-11 20:42] tbradsha commented on #36274
Got it in 28348375-hc. Trying twice didn't work, so I had them publish without tags or categories (success!) and then add the tags and categories after.

[2021-03-11 21:00] hngdny commented on #50958
Also affected here: 26804723-hc

[2021-03-11 21:30] eeeeevon13 opened #51009 "Fix typography and alignment of notifications on Cloud"
Currently the notifications on the Cloud have some alignment and typographic inconsistencies.

What
**Top dark notifications:**
-  Make notifications span the same with as the content (it's currently short)

![banner-width](https://user-images.githubusercontent.com/49159284/110856562-6a3f7a80-827d-11eb-84c1-2d160d02bc51.png)

- Make the background of notifications white and the body copy (body col

[2021-03-11 21:33] DavidRothstein commented on #50574
`SP17` and `SP19` sound like different errors.  Although if you look at the first report (the `SP17` one) the screenshot provided by the _user_ (in 3774306-zd-woothemes) actually shows `SP19` also (not `SP17`), so maybe the two cases are related.

In any case, `SP19` seems to often indicate a Jetpack connection problem while trying to create the PayPal order.  In the case of the comment right abov

[2021-03-11 21:34] lakellie commented on #50951
Just a heads up for clarity, I edited the above comment to reference WP-CLI instead of "Jetpack CLI" to reduce HE confusion.

[2021-03-11 21:51] jeyip commented on #37459
@davipontesblog @samiff Hi team -- I'm drafting a fix for this. I had a product question, and was wondering if either of you happen to know.

If a user has a two-step authentication number and a recovery sms number that are different, which do we ping when they attempt SMS recovery? Currently, it defaults to the two-step number. To me, sending it to the recovery number seems to make more sense, bu

[2021-03-11 21:52] bluefuton commented on #50979
Absolutely agree. We're in discussions about how best to E2E test Jetpack Search over at p6fDka-uh-p2#comment-1864.

[2021-03-11 21:59] eeeeevon13 opened #51010 "CLOUD: Activity log visual clean up"
The backups action menu in activity log has some typographic and spacing issues.

What
- Make the font for the "enter server creds" the same size as download backup.
- Increase line height to accommodate larger font
- Align the icons and padding of both actions
- The icon for server creds is being cut off on the right side. Increasing the size of the svg to 1.3rem fixed it in browser.

BEFORE
![al

[2021-03-11 22:06] mattsherman commented on #50833
@ilyasfoo I have went ahead and put #51005 up for review, as I believe that it is worth merging, even if it doesn't fully address the issue.

I think the next step would be to dig into https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/woocommerce/dashboard/required-plugins-install-view.jsx and see if there is obsolete code that can be removed. The state handling (which came over

[2021-03-11 22:08] designsimply commented on #8556
Noting another request from a user on a P2 Feedback site dated 2020-12-29:

<sup>(internal reference: pcaMk7-d6-p2#comment-883)</sup>

[2021-03-11 22:11] designsimply commented on #8556
Noting one more request from a separate user on a P2 Feedback site dated 2021-03-10:

<sup>(internal reference: pcaMk7-rI-p2)</sup>

[2021-03-11 22:33] blackjackkent commented on #45607
I have now been able to reproduce this issue consistently on one atomic site but not another, making use of the exact same share URL except for the blog ID (thanks @scosgro for info on a reproducible blog). I'm currently trying to go through discrepancies between the two to see what might be the problem- some heretofore unidentified issue with a plugin seems most likely to me, so I'm going to star

[2021-03-11 22:45] noahtallen commented on #50929
love it, thanks for fixing!

[2021-03-11 22:48] scosgro opened #51013 "Slideshow Block: Block remembers Image Captions, so they can't be changed or removed."
### Steps to reproduce the behavior

1. Go to the site's Media Library, and import some images from Pexels (since those come with captions by default)
2. Go to Site - Pages, create a page, add a Slideshow Block to it, and add all of your new Pexels images to the slideshow. Publish the page.
3. Visit the page, and you'll see all of the captions appearing at the bottom of images.
4. Go back to your

[2021-03-11 22:51] obenland commented on #48349
@getdave What's the benefit of adding the count property?

[2021-03-11 22:59] kwight commented on #45607
@blackjackkent I can turn this on and off reliably; sites using Gutenframe (`wordpress.com/post/`) work, while those that don't (`domain.com/wp-admin/post`) do not work. You should be able to create a new WoA site, share successfully, then install a denied plugin (like Elementor), and get the empty editor on the next share attempt. As mentioned up [here](https://github.com/Automattic/wp-calypso/is

[2021-03-11 23:09] obenland commented on #49144
Related: #36331

[2021-03-11 23:25] obenland commented on #49228
@mattsherman Can this be closed or is there more work to do?

[2021-03-11 23:26] samiff commented on #37459
@jeyip As far as I can tell, currently the `Recovery SMS number` is not used in either case (standalone Recovery SMS, or Recovery SMS + Two-step SMS).

Would sending to both be an option? If not, maybe using the Two-Step might be more relevant in the sense that it is _required_ to access the account.

In any case, it'd be great to get the standalone Recovery SMS working (or deprecated) 👍

[2021-03-11 23:32] obenland commented on #49187
Hm, I'm still now quite clear on what the expected outcome is for this one.

Is this a matter of highlighting the submenu item that corresponds to a tabbed menu?
Or adding submenu items to the navigation for each tabbed menu?

[2021-03-11 23:35] obenland commented on #49275
@belcherj Is this something you can still reproduce? I wonder if it was fixed by https://github.com/Automattic/wp-calypso/pull/49999

[2021-03-11 23:43] obenland commented on #49434
With VIP sites no completely moved off of dotcom, this should only be visible internally.
@annezazu Would you be opposed to us closing this to focus on higher-priority items?

[2021-03-11 23:51] jeyip commented on #37459
Ah I think I could've been clearer here. Yeah, the SMS recovery number doesn't work in either case right now 😅

What I meant to do was ask, assuming that the recovery SMS number _is_ working again, what should we do when a user has two distinct phone numbers -- one number for the two-step SMS, and another for the recovery SMS. Which should we send the recovery SMS to?

<img width="1344" alt="Scree

[2021-03-11 23:51] obenland commented on #49454
@stephdau How are users who've not ventured into wp-admin currently consuming Akismet stats?

[2021-03-11 23:59] obenland commented on #49655
@klimeryk Would you mind testing this again? 🙈

I've not been able to reproduce it and I wonder if it was fixed in a separate PR.

[2021-03-12 00:00] annezazu commented on #49434
Ah! If it's solely an internal issue then I trust you all there and will let my minor annoyance with it subside :)

[2021-03-12 00:00] obenland commented on #49682
Closing in favor of #49145.

[2021-03-12 00:00] #49682 closed, assigned to nobody

[2021-03-12 00:12] obenland commented on #49821
Closing in favor of #32159.

I prioritized #32159 onto the Manage project board and it will be ready for dev teams to chose starting next iteration.

[2021-03-12 00:12] #49821 closed, assigned to nobody

[2021-03-12 00:13] obenland commented on #49878
@sfougnier Should this be brought back or can we leave it for now?

[2021-03-12 00:35] kaitohm opened #51014 "Google Map iframe not converting to shortcode"
### Steps to reproduce the behavior

1. Follow the steps listed on our support doc [Embedding a Google Map](https://wordpress.com/support/google-maps/#embedding-a-google-map) to embed a Google Map in a Custom HTML Block on a simple site.
2. Publishing the post should convert the HTML to a shortcode
3. Instead, it becomes an empty Custom HTML block, and the code (and map) disappear

#### What I exp

[2021-03-12 00:38] wpshellbelle commented on #50560
User is unable to connect to Anchor. Here is a screenshot of the error they are seeing:

![](https://d.pr/i/zM6q99+)

User has been in contact with Anchor and I am sharing their replies below:

I wish I could be more helpful here, but please let me know if you've got any other questions.
All the best,
Rae
Anchor

I hope that helps explain it a little better. Please let me know if you have any ques

[2021-03-12 00:56] deBhal commented on #50758
@simison : Which button do you mean? The autosaving? That does seem a good target to improve things, but we'll need a lot more.

It's even worse in other languages - check out german, which still doesn't have enough space at 1010px width:
![Seite_bearbeiten_‹_Test_—_WordPress_com](https://user-images.githubusercontent.com/5952255/110874400-66643480-831f-11eb-9264-3128ce74269a.jpg)

Contrast that w

[2021-03-12 01:16] michaeldcain opened #51016 "Podcasting: update instances of "subscribe" to "follow""
It looks like Apple and podcasting services are [updating instances of the word "subscribe" to "follow"](https://podnews.net/update/follow-not-subscribe) to reduce confusion of paid vs free podcasts. We should probably update any references in our code and documentation to match.

- [x] WPcom podcasting implementation - looks like only the podcast widget uses "subscribe" in the UI
- [x] [WPcom pod

[2021-03-12 01:22] michaeldcain commented on #51016
Updated the Podcasting docs.

[2021-03-12 01:28] michaeldcain commented on #51016
Widget changes in D58592-code

[2021-03-12 03:42] pauloeaquino commented on #46077
28341100-hc

[2021-03-12 05:02] jordesign commented on #48839
`By canceling auto-renewal, your %(planName)s plan for %(siteDomain)s will expire on %(expiryDate)s. ' + "When it does, you'll lose access to key features you may be using on your site. " + 'To avoid that, turn auto-renewal back on or manually renew your plan before the expiration date.` is the default fallback phrasing for anything not specific in more detail - so I imagine that `key features` is

[2021-03-12 05:05] jordesign commented on #48839
Have updated PR #50415 accordingly.

[2021-03-12 07:01] jeyip commented on #50919
Reproduced this following the given instructions in Chrome, Firefox, IE11, Edge, and Safari. I'm on the fence about priority. This doesn't affect any workflows on the site -- the user can still select the theme and, but it very well might be the user's first impression of the .com platform. Setting the priority as normal, but it's definitely up for discussion.

[2021-03-12 07:04] jeyip commented on #50919
It looks like there was some discussion surrounding this. Basically, the theory is that there is some lag when loading the demo site for the first time. The screenshot taken for the thumbnail is captured before the image can render.

p1615436364208200-slack-CS0SC36SX

cc @ramonjd

[2021-03-12 07:34] mrfoxtalbot opened #51018 "Nav Unification: "Compress JPEG & PNG images" plugin replaces MEDIA menu item URL"
### Steps to reproduce the behavior

1. Install https://wordpress.org/plugins/tiny-compress-images
2. Once active, click on the "Media" menu item

#### What I expected to happen

I expected to be taken to /wp-admin/upload.php

#### What actually happened

Instead I got taken to /wp-admin/admin.php?page=tiny-bulk-optimization

### Context

The child menu item is visible, but it seems that both the

[2021-03-12 08:11] getdave opened #51022 "Add note to User RC item that displays if the unified navigation has been activated"
Please add a User RC item that displays if the unified navigation has been activated.

See p1615530263202500-slack-nav-unification

[2021-03-12 08:27] ilyasfoo commented on #50833
@mattsherman I have tested #51005 with 5 sites, and could not reproduce this issue 🙌 . As you mentioned however, I don't think it fixed all the issues, since I've noticed that one of the symptoms that it actually fixes is when **the progress bar remains empty** indefinitely. The way I tested this was by nullifying [`fetchPlugins`](https://github.com/Automattic/wp-calypso/blob/b6e84c0404388aa8ca2cf

[2021-03-12 08:51] jeherve commented on #49187
Things have changed a bit since I opened that issue. We now have a Marketing menu in the sidebar, under Tools, linking to this Calypso page. I believe this brings back the behaviour we had with the old nav, it may consequently be enough at this point.

[2021-03-12 09:21] jsnajdr commented on #48072
@automattic-ian writes on a P2:

I don't know what originally broke the Atomic embeds in Dec 2020, but the recent surge clearly coincides with release of WordPress 5.7 which [adds a new iframe lazy-loading feature](https://wordpress.org/news/2021/03/esperanza/):

This apparently breaks some WordPress.com embeds, because the wpcom `embeds/render` REST endpoint returns iframe markup with styles that

[2021-03-12 09:26] #44677 closed

[2021-03-12 09:26] tyxla commented on #44677
Fix has been merged 🚀  Let me know if you encounter this again.

[2021-03-12 09:31] simison commented on #48072
Good sleuthing Jarda! It sounds like just removing the styles returned from the API endpoint would do the trick?

@jeyip @deBhal could be able to have a look at this? Thanks!

[2021-03-12 10:25] simison opened #51023 "YouTube media pattern showing private video"
In the editor, when adding Patterns -> Media -> Youtube, it shows this:

<img width="402" alt="Screenshot 2021-03-12 at 12 22 48" src="https://user-images.githubusercontent.com/87168/110927053-d24d9980-832d-11eb-8dac-0f0fdf83679e.png">

And in the editor:

<img width="382" alt="Screenshot 2021-03-12 at 12 22 19" src="https://user-images.githubusercontent.com/87168/110927065-d4aff380-832d-11eb-9541

[2021-03-12 10:28] simison commented on #49007
We can probably close and let's re-open if we get any reports, or open a new issue if this happens, because it's likely unrelated. Upstream issue: https://github.com/WordPress/gutenberg/issues/18704

cc @WunderBart @fullofcaffeine who were working on shipping fixed Gutenberg.

[2021-03-12 10:28] #49007 closed, assigned to nobody

[2021-03-12 11:09] mrfoxtalbot opened #51024 "Nav Unification: "Commenter emails" plugin permissions error and menu location inconsistency"
### Steps to reproduce the behavior

1. Install https://wordpress.org/plugins/commenter-emails/
2. Head to the dashboard and click on "Comments"

#### What I expected to happen
I should be taken to:

`/wp-admin/edit-comments.php?page=commenter-emails%2Fcommenter-emails.php
`
#### What actually happened
I was taken here:

`https://navunimrfx.wpcomstaging.com/wp-admin/admin.php?page=commenter-emails

[2021-03-12 11:46] getdave commented on #50951
This should now be fixed as of deploy of D58544-code.

Tested and confirmed by @cpapazoglou @mrfoxtalbot and myself.

[2021-03-12 11:46] #50951 closed, assigned to getdave

[2021-03-12 11:57] tjcafferkey commented on #50847
Just some initial thoughts on this

* This tracking will need implementing in Calypso and WP Admin to cover the scenarios where the user is in either one or the other.
  - Does JP have active tracking? I can see [this](https://github.com/Automattic/jetpack/blob/master/projects/packages/tracking/src/js/tracks-ajax.js) but haven't seen anything to suggest its being used, or even if its the same syst

[2021-03-12 11:58] getdave commented on #51024
Possibly related to https://github.com/Automattic/wp-calypso/issues/50950. Will need to take a look.

[2021-03-12 12:02] getdave commented on #51024
I tested this flow on an Atomic site and I ended up at `wp-admin/admin.php?page=commenter-emails%2Fcommenter-emails.php&return=https%3A%2F%2Fwordpress.com%2Fhome%2F{{MYSITE}}.wpcomstaging.com&from=calypso-unified-menu`.

[2021-03-12 12:03] getdave commented on #51018
Ah yes. The default behaviour is to use the URL of the first submenu item as the URL of the parent menu item. I'll need to check as to _why_ we are doing that.

[2021-03-12 12:08] getdave commented on #51018
<img width="245" alt="Screen Shot 2021-03-12 at 12 07 04" src="https://user-images.githubusercontent.com/444434/110938260-826dd300-832b-11eb-98ec-69ea3594e395.png">

Testing on a DotOrg site I see the same behaviour. The parent menu item always uses the URL of the first submenu item.

In our case the first item is tiny PNG which is a problem. Why are we missing the menu items shown in the screensh

[2021-03-12 12:13] getdave commented on #51018
It shouldn’t be possible to have only 1 child. When the first submenu is registered, Core also registers one more submenu that it’s going to be a replica of the parent menu and place it in the 1st position. So looks like this could be a bug. Looking into it now.

[2021-03-12 12:14] getdave commented on #51024
@mmtr Not sure if this is a related to what you are working on. Seems we do have another issue here though.

[2021-03-12 12:34] mikeicode commented on #50264
I think the issue is these empty P tags:

![https://d.pr/i/vXwM0x](https://d.pr/i/vXwM0x+)

Probably added with this update:

 https://github.com/WordPress/gutenberg/blob/426ad1754e17d30d73cf163f44944c420c51e26f/packages/block-library/src/paragraph/style.scss#L39

[code]
This can be used to resolve:

[code]

![https://d.pr/i/xNiwix](https://d.pr/i/xNiwix+)

[2021-03-12 12:48] thabotswana opened #51025 "Email: Can't Add Email to a Domain Only Subscription"
### Steps to reproduce the behavior

1. Starting at URL: https://wordpress.com/start/domain/domain-only
2. Purchase a domain without associating it to a site
3. Click the **Add email** button
4. Add Titan email

#### What I expected to happen
There should be an option to choose the number of mailboxes

#### What actually happened
When you try to add Titan email, it takes you back to the home menu.

[2021-03-12 13:01] simison opened #51027 "Nav unification "advanced toggle" orphan symbol in Spanish"
Open https://wordpress.com/me/account in Spanish and observe wp-admin advanced setting:

<img width="1104" alt="Screenshot 2021-03-12 at 15 00 04" src="https://user-images.githubusercontent.com/87168/110943368-cd93e000-8343-11eb-8d8f-bed7ae9aa37e.png">

See how the ?-symbol gets orphaned on its own line.

This function might help:

https://github.com/Automattic/wp-calypso/blob/9a3fc0feba3b8ddef3c4

[2021-03-12 13:15] davipontesblog commented on #50987
Wow, and here I was thinking this was us trying to match core 😅 Thanks for letting me know @davemart-in !

[2021-03-12 13:20] cpapazoglou opened #51029 "Color Studio v2.5.0 being released - Update dependencies"
**Task Details**
<-- Details of the task to be added here. Try to be specific and reasonably sized. -->
Check and update any dependencies related to color schemes due to Color Studio v2.5.0 being released

**Related to**
pbjpUB-dZ-p2

[2021-03-12 13:20] cpapazoglou commented on #51029
@frontdevde Can you weigh in here and set a priority on this?

[2021-03-12 13:57] cpapazoglou commented on #50957
Deployed r222623-wpcom

[2021-03-12 13:57] #50957 closed, assigned to cpapazoglou

[2021-03-12 14:31] #50867 closed, assigned to nobody

[2021-03-12 14:31] getdave commented on #51018
@mmtr thinks this will be fixed by https://github.com/Automattic/jetpack/pull/19114

[2021-03-12 14:43] cpapazoglou commented on #51022
Patch on progress D58631-code

[2021-03-12 15:03] cavalierlife opened #51034 "Duplicate Plugins link with one leading to 404 in new Nav Unification"
### Steps to reproduce the behavior

1. Just created a new site on WordPress.com with Business plan and I see two Plugins link in the new Nav sidebar.
2. Click on the first link and it 404s
3. The second Plugins link works fine.

#### What actually happened
Created a new site, saw 2 Plugins links, one leads to 404, one works fine.
![twopluginslinks](https://user-images.githubusercontent.com/286874

[2021-03-12 15:03] mrfoxtalbot opened #51035 "Nav Unification: Lowecaser "comments" and "plugins" menu item labels in ES locale (wp-admin only)"
### Steps to reproduce the behavior

1. Set a site's language to ES
2. Navigate to a wp-admin section, such as `wp-admin/plugins.php`

The "Comentarios" and "Plugins" section titles are all lowercase

![Screen Shot on 2021-03-12 at 12:31:59](https://user-images.githubusercontent.com/4452464/110957299-c4a70c80-834b-11eb-90eb-4f4cd385e3d8.png)

This does not happen in Calypso screens such as `wordpr

[2021-03-12 15:18] jackiejade opened #51037 "Checkout: Upgrading to Monthly Business doesn't offer "discount""
### Steps to reproduce the behavior

1. Go to Plans and purchase an annual Personal plan
2. Decide you need the Business plan but the annual is a bit much, so choose monthly instead
3. Click on plans and upgrade to Monthly Business
4. I've now been charged for 2 plans, one annual and one monthly.

#### What I expected to happen

When a user upgrades to a different annual plan, their already paid a

[2021-03-12 15:26] #51025 closed, assigned to daledupreez

[2021-03-12 15:36] kwight commented on #51016
Done, our Anchor integration doesn't use this terminology at all. 👍

[2021-03-12 16:05] ianstewart commented on #51023
We need to replace the video on this one. The source has changed. Drafting it and another pattern that uses it so it won't show up in the meantime.

I'll follow up with another issue for us to update the source and republish. :)

[2021-03-12 16:05] #51023 closed, assigned to nobody

[2021-03-12 16:20] obenland commented on #49187
Thanks for that feedback! Let's close for now then

[2021-03-12 16:20] #49187 closed, assigned to nobody

[2021-03-12 16:28] ccwalburn opened #51040 "Nav Unification: Add VideoPress Share and Rating Options to Media Library"
**What**
The Media Library accessed from the Media section of the new Nav Unification dashboard does not show the VideoPress Share and Rating options for the individual media items. I currently refer users to the Media Library on the WP Admin dashboard to see that information. Now that the WP Admin link is gone, it will be harder for users to get that information.

This is how it displays from the

[2021-03-12 16:29] ccwalburn commented on #50867
Created new request for the VideoPress Share and Rating Options part of this request here: https://github.com/Automattic/wp-calypso/issues/51040

[2021-03-12 16:46] sirbrillig opened #51041 "Nav Unification: Upgrades link and sublinks redirect to error page for a11ns"
### Steps to reproduce the behavior

This only appears to happen when proxied and (I think) only with an a11n account.

1. Go to any page in the my-site section of calypso for a Simple site, eg: customer home (`/home/example.com`).
2. Click on "Upgrades" in the sidebar (or any of the sub-menus like "Plans").

#### What I expected to happen

To load the plans page.

#### What actually happened

I w

[2021-03-12 16:55] kwight commented on #45607
We've confirmed that we are getting the correct parameters passed in the WP Admin redirect, it's just that there's no support for the feature yet in WP Admin Atomic (since the feature works in Calypso/Gutenframe regardless of Atomic or not, the current support is likely in Calypso itself).

This will likely require a `wpcomsh` patch that can inject the content into the post via the `wp_insert_post

[2021-03-12 16:56] mattsherman commented on #49228
@obenland I am closing this one -- as far as I am aware, there is no more WooCommerce-specific work to do. I didn't realize this issue was still out there!

[2021-03-12 16:56] #49228 closed, assigned to nobody

[2021-03-12 17:10] khristiansnyder commented on #51040
+1. Just had an upset user that needs both Calypso and WP-Admin to manage video settings as there are unique options in both sections.

[2021-03-12 17:17] sixhours commented on #51041
Possibly related, some of the submenu items under Upgrades are linked to the current page I'm viewing rather than their actual page:

* Premium Themes
* My Domains
* Manage Purchases
* Billing History

"Domains" goes to the correct screen at `domains/manage`

[2021-03-12 17:29] michaeldcain commented on #51041
I can reproduce this with both the "advanced mode" toggled on and off. It seems like most of the items @sixhours mentions, are new to the menu - previously this menu just had "plans", "manage purchases", and "domains".

[2021-03-12 17:43] eeeeevon13 opened #51043 "From Jetpack Cloud: Open check out in the same tab (not a new one)"
When you are on Jetpack Cloud and you click a purchase button, let's say you do not have scan and you choose to upgrade and get it, we open the checkout in a separate tab. This takes the user totally out of the flow they were in. If you watch the attached video you will see why this is confusing. Especially if you change your mind and decide to hit close or the back button.

What
Let's open the ch

[2021-03-12 17:43] eeeeevon13 opened #51106 "From Jetpack Cloud: Open check out in the same tab (not a new one)"
When you are on Jetpack Cloud and you click a purchase button, let's say you do not have scan and you choose to upgrade and get it, we open the checkout in a separate tab. This takes the user totally out of the flow they were in. If you watch the attached video you will see why this is confusing. Especially if you change your mind and decide to hit close or the back button.

What
Let's open the ch

[2021-03-12 17:52] obenland commented on #51041
Looks like it broke with r222623-wpcom

[2021-03-12 18:00] obenland commented on #51041
Possible fix in D58646-code

[2021-03-12 18:09] timmyc commented on #50217
Hello 👋 @mmtr - I just went on a bit of a journey to access webhooks on a team P2, and the experience is really rough right now. Here is how it flows on a team p2: https://cloudup.com/c5JOrZs1NzJ

A few things to point out there **besides** webhooks missing - note the differences between what is being shown on the one Settings Submenu in wp-admin, vs what is shown in the submenu when on calypso (

[2021-03-12 18:19] obenland commented on #51041
Should be fixed with r222644-wpcom. Would you mind double-checking and closing if so?

[2021-03-12 18:23] adamziel commented on #41272
The endpoint requires public-api cookies that may not be there when the user simply visits the site. An alternative would be to have a similar endpoint available on the atomic site itself and then replace all the photon URLs with the site's API endpoint URLs using a filter.

[2021-03-12 18:23] adamziel commented on #41272
The endpoint requires public-api cookies that may not be there when the user simply visits the site. An alternative would be to have a similar endpoint available on the atomic site itself and then replace all the photon URLs with the site's API endpoint URLs.

[2021-03-12 19:28] kwight commented on #41272
If the user is logged in, those cookies would be there, wouldn't they? And a user needs to be logged in to view a private site?

I'm going to attempt to summarize discussions and where we're at so far (please do correct anything that's off).

* Users with private atomic sites cannot see images they've added to tiled galleries.
* These images are not rendered because they are Photon image URLs whic

[2021-03-12 20:43] mmtr commented on #51024
Yup, this one should be solved by https://github.com/Automattic/jetpack/pull/19114.

[2021-03-12 21:15] worldomonation opened #51047 "Cancellation and Refund: toast message can be improved"
### Steps to reproduce the behavior

Prereq. Have a purchased plan.

1. Go to /me.
2. On the left sidebar, click on `Purchases`.
3. Select a purchased item.
4. Click on `Cancel Subscription`.
5. Go through the motions.
6. Check the toast that appears on top right of the browser window.

#### What I expected to happen

The toast message takes the form of a confirmation of an action, not a personall

[2021-03-12 21:15] sirbrillig commented on #51041
Confirmed; it does appear to be fixed now! Thank you!

[2021-03-12 21:15] #51041 closed, assigned to nobody

[2021-03-12 21:16] worldomonation commented on #51047
Related issue #41863 also covers improvements to the toast. Maybe the two can be linked.

[2021-03-12 21:21] worldomonation commented on #36274
Issue reproduced during my `Back to Basics` user testing run.

Steps I took:
1. open a post.
2. add new post tags.
3. click on `Launch`.
4. cancel the new launch flow (one that looks similar to Gutenboarding).
5. see error.

Post link: https://e2eflowtesting2021031201gardening4.wordpress.com/2021/03/12/retro-cameras-galore/

[2021-03-12 21:36] obenland commented on #49921
@brandonpayton Have you had a chance to triage this ticket yet? Wondering if we could take it out of the Nav Unification bucket?

[2021-03-12 21:38] obenland commented on #49922
@reginabally Is this something that still happens for you? The customizer link should point to the Jetpack site's wp-admin customizer instance now.

[2021-03-12 21:47] obenland commented on #50217
@sfougnier Is there a place that comes to mind for you where we could put menu items that we don't want in the sidebar but that should still be accessible to customers?

[2021-03-12 21:50] obenland commented on #50312
This feels like one of those things that has been broken before and just becomes obvious with nav unification?

What would be the best way to fix this? ~~Expand the color schemes model where we link to Calypso from the Core setting?~~

Edit: It looks like we removed the concept of user language on Atomic sites? The language drop down in `/wp-admin/profile.php` does not seem to be available

[2021-03-12 21:53] roundhill commented on #50746
Me again! We deployed another fix that should have the video stats working just like they used to. If any users still see inconsistencies after today, let me know!

[2021-03-12 21:59] obenland commented on #50490
Any response from their end yet?

[2021-03-12 22:00] #50702 closed, assigned to mattwiebe

[2021-03-12 22:02] obenland commented on #50507
Going to close for now. This specific instance will be fixed soon and any future instances will just be part of the reality of working with third-party plugins.

[2021-03-12 22:02] #50507 closed, assigned to nobody

[2021-03-12 22:13] obenland commented on #50508
Screen Options and Help are Core features and contextual to the screen they appear in. I'm not sure I share the expectation of consistency for either—as you pointed out with Jetpack—screens added by third-party plugins will likely not offer any of the two.

The ? icon has been added now, providing a constantly available option to get help. Is that a satisfactory stop-gap solution until we get to f

[2021-03-12 22:25] obenland commented on #50557
I think we never remove it in Calypso either, not even when editing posts/pages.

Happy to leave this open to see if it garners more feedback, but I'm leaning towards not fixing that.

[2021-03-12 22:34] obenland commented on #50562
In 576-gh-Automattic/wpcomsh @jeherve suggests using wpcomsh's `admin-style.css` to hide the plan information.

Let's hide both the plan info box and the "Plans" menu item:

![hide-plan-info](https://user-images.githubusercontent.com/1398304/111005616-029e3380-8340-11eb-9e6f-79218cae1730.jpg)

[2021-03-12 22:39] obenland commented on #50565
@tbradsha Is this something a user reported? Or something that is part of your workflow? There are still ways to get to that, it just depends on the context.

[2021-03-12 22:44] kwight commented on #41272
@adamziel @jblz I'm trying to set up a dev environment for this, but I'm a little confused by how I can activate private mode on a JP+wpcomsh or ephemeral site (both seem to not offer the option in WP.com settings):

<img width="1353" alt="Screen Shot 2021-03-12 at 2 40 25 PM" src="https://user-images.githubusercontent.com/349751/111006067-ebac1100-8340-11eb-9e80-0d287d190bf2.png">

I thought I co

[2021-03-12 23:18] obenland commented on #50566
While testing this I also ran into the behavior of #50564. Let's keep Account Settings for now but find a way to set the current site correctly when we link from wp-admin to Calypso.

[2021-03-12 23:18] #50566 closed, assigned to nobody

[2021-03-12 23:24] obenland commented on #50564
There's a regression when we navigate from wp-admin to Calypso, particularly outside of site-specific screens, where My Sites is not set to the correct site, but to the default site.

To reproduce:

* Starting from https://wordpress.com/home/
* Select a site other than your default site
* Click Users > Account Settings
* Click My Sites
* Notice how you're at My Home of the previously selected site

[2021-03-12 23:27] obenland commented on #50567
@cpapazoglou Did we add "Other Tools" to provide a way back to My Blogs?

[2021-03-13 11:40] pablinos commented on #45440
The proposed solution to this has changed. We're now going to disable Calypsoify altogether (or at least the part that makes the setting persist between page loads) and add the `calypsoify=1` parameter for block editor pages. This will solve this problem also, as Calypsoify won't be activated in any other part of `wp-admin`.

[2021-03-13 11:53] pablinos commented on #29208
@Automattic/ajax Would we consider this 'fixed' by nav unification? Essentially everyone should end up in Calypso unless they've toggled the setting to use `wp-admin`.

I need to check what the recent changes to the logic, which determines the editor URL, does to this issue, but I suspect it's still as described here.

I'm about to merge a PR on Jetpack (Automattic/jetpack#17826) which prevents th

[2021-03-13 12:55] jsnajdr commented on #48072
The styles ensure that the iframe is not visible until it loads successfully. If we simply remove them, visitors might see ugly white rectangles instead of nice embeds. Before making such changes, let's check if it doesn't degrade the UX visually.

[2021-03-13 13:15] jsnajdr commented on #48072
I realized that this issue is actually two different bugs.

One of them is the lazy loading of iframes that started few days ago with WordPress 5.7.

The second one is the originally reported one, involving Chrome incognito mode. That's an issue with the Cloudflare CDN and has indeed something to do with 3rd party cookies (hi @josephscott)

The joemygod.com page uses the Cloudflare Challenge Passa

[2021-03-13 15:20] adamziel commented on #41272
@kwight AFAIR that's only possible on "real" atomic sites hosted on the atomic platform as they are a bit different from ephemeral sites or JP+wpcomsh sites (e.g. `AT_PRIVACY_MODEL` does not work outside of atomic). Unfortunately they are quite painful to setup.

I used to create a new e-commerce site and upload my own wpcomsh and jetpack via scp. Then, I made WP use my copies instead of the ones

[2021-03-13 18:14] kspilarski opened #51051 "SEO Tools: Automatically Add Space between Site Title & Tagline"
### Steps to reproduce the behavior

1. Go to your Business plan site:  Tools > Marketing > Traffic > Page Title Structure: (Front page, Posts, Pages, Tags, or Archives).
2. In Front page, click `+ Site Title` and click `+ Tagline`.

#### What I expected to happen

The site title and tagline will display correctly (with space in between the site title texts and tagline texts).

#### What actually

[2021-03-13 19:18] mmtr commented on #50567
Yeah, that was the main reason why I added it in https://github.com/Automattic/jetpack/pull/18586, but now that we have a link in "Me" to go to "My Blogs" I was thinking on removing it as part of https://github.com/Automattic/jetpack/pull/19114.

What's your take on that?

[2021-03-13 20:51] maciejpilarski opened #51052 "Featured images not displayed on the published page in the Blog Posts block"
#### Steps to reproduce

1. Add the Blog Posts block
2. Select a category
3. Select the option to "Show featured image"
3. Featured image displayed in the Editor
4. Publish post
5. Featured images not displayed in the Frontend, only post titles.

#### What I expected
Links to posts with featured images.

#### Screenshot / Video

<img width="1457" alt="Screenshot on 2021-03-13 at 21-45-44" src="htt

[2021-03-13 20:59] scosgro opened #51053 "Cover Block with White Background defaults to White Font, text goes "missing""
### Steps to reproduce the behavior

1. Go to Site - Pages and create a page.
2. Add a Cover Block to it, and make the Cover Block have a white background.
3. Add some text on top of that Cover Block.

#### What I expected to happen
The font color to be black, or some other contrasting color that would be visible on the Cover Block.

#### What actually happened
The font color automatically default

[2021-03-13 23:19] #43663 closed

[2021-03-14 04:07] inaikem commented on #50753
User in chat accidentally deleted the content of their block ID `2208`.

See 28333283-HC.

[2021-03-14 13:44] pauljacobson commented on #50574
@DavidRothstein I have a report of this behaviour in 3816447-zen. The affected site is on a WordPress.com Premium plan. This is how the issue manifests for me:

![20210314_153800_screenshot](https://user-images.githubusercontent.com/2912202/111070736-ae2fbb00-84db-11eb-8c28-21bcb2acee6d.gif)

What's happening there is as follows:

- I click on the Pay with PayPal button;
- A new tab briefly opens,

[2021-03-14 17:10] NoHopeRadio commented on #47643
28402793-hc

[2021-03-14 22:53] kristarella commented on #51052
This is related to: https://github.com/Automattic/newspack-blocks/issues/399

[2021-03-14 23:35] katiebethbrown commented on #48746
Another report: 3820032-zd-woothemes

Less specific to domains though. More concerned with a renewal that happened that they can't see to manage since their primary domain is pointing to Wix and JP is broken.

[2021-03-15 00:51] donalirl commented on #47000
I believe this also came up in #28266031-hc.

The stats show a time affected by DST even when the site's timezone is set to a region that does not use DST (Phoenix, Arizona.) To reproduce:

1. Set site timezone to Phoenix in Settings → General
2. Go to Stats and click on the Months view.
3. Scroll down to where it says:

Stats for March 2021
Last update: 6:32 PM (Updates every 30 minutes)

The las

[2021-03-15 02:29] roo2 commented on #49706
order is now changed 👍

[2021-03-15 02:29] #49706 closed, assigned to roo2

[2021-03-15 02:33] roo2 commented on #44240
We just bumped it lower in the list (#49706)

It looks like it is trivial to change the copy to "Edit the site menu" in https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/customer-home/cards/tasks/site-setup-list/get-task.js#186

[2021-03-15 02:44] devNigel commented on #50126
Ran into a similar issue: #3810132-zen

Theme: Perennial

User is using Safari browser.

[2021-03-15 03:21] jeyip commented on #48072
@jsnajdr @deBhal I was planning to add a filter for `wp_iframe_tag_add_loading_attr`, but I noticed that the loading="lazy" attribute is only added to iframe embeds on atomic sites 🤔

| Atomic | Simple |
| --- | --- |
| <img width="1456" alt="Screen Shot 2021-03-14 at 7 21 02 PM" src="https://user-images.githubusercontent.com/5414230/111095457-b6e3b980-84fa-11eb-9310-21494f3da233.png"> | <img widt

[2021-03-15 05:21] ollierozdarz commented on #50758
@simison are you talking about the `Launch` button on mobile? That seems like only element there that could possibly be removed/hidden without affecting the core functionality of the toolbar (saving/previewing/publishing) - although I'd hate to see launch rates decline because of it.

The difficult thing is that I believe we stack plugins in the toolbar (i.e. Jetpack), so this will become an issue

[2021-03-15 05:24] ollierozdarz commented on #44240
These feel like the correct course of action to me, @simison 🙂. A quick and iterative win while this gets more thought.

[2021-03-15 05:34] #50433 closed, assigned to aneeshd16

[2021-03-15 06:08] autumnfjeld opened #51056 "Welcome Tour: remove NUX code"
The new Welcome Tour is being [shown to all users](https://github.com/Automattic/wp-calypso/pull/51055), so we can remove the NUX code.

This may also be a good time to consider any Welcome Tour  cleanup tickets, such as
https://github.com/orgs/Automattic/projects/147#card-56471257

[2021-03-15 06:38] #47138 closed

[2021-03-15 06:42] vindl opened #51057 "Site Editor: menu item URL for Atomic sites"
Aside from [positioning problems](https://github.com/Automattic/wp-calypso/issues/50894) the Site Editor menu item on Atomic site is also not linking to Calypso section but to wp-admin instead. This should be changed in order to leverage our iframe integration.

<img width="738" alt="Screenshot 2021-03-15 at 07 42 18" src="https://user-images.githubusercontent.com/1182160/111113393-fee9f700-8561-1

[2021-03-15 06:45] #44875 closed

[2021-03-15 06:49] #38402 closed

[2021-03-15 06:52] reginabally commented on #49922
@obenland Thanks for following up. I no longer see the error but when I exited Customizer (step 3 in my original post), I was redirected to my site's homepage instead of WP Admin. Is this intended?

![Screen Capture on 2021-03-15 at 14-51-07](https://user-images.githubusercontent.com/40906847/111114259-f4e5e980-859d-11eb-9a96-f51f16f33ce2.gif)

[2021-03-15 07:14] #33008 closed

[2021-03-15 07:20] #32774 closed

[2021-03-15 07:24] vindl commented on #50053
I think we can base this on existing `core-site-editor-enabled` sticker that still applied to all of the sites created to FSE test flow. Previously this was controlling FSE experiment activation, but now that's not needed since it's automatically done when supporting theme is detected. We still left it around to cover purposes like this one.

@ianstewart any opinions on the following:

- How shoul

[2021-03-15 07:39] mrfoxtalbot opened #51058 "Nav Unification: Force the "Write" button in the Masterbar to acknowledge the status of the "Dashboard Appearance" toggle"
### Steps to reproduce the behavior

1. Create a new post or page
2. Click on the "View all posts" link to go back

![Screen Shot on 2021-03-15 at 08:25:26](https://user-images.githubusercontent.com/4452464/111118972-c8b07580-8569-11eb-98e5-420fdbc81d04.png)

#### What I expected to happen

I expected this link to take into account my current "Dashboard Appearance" and take me to `wordpress.com/po

[2021-03-15 07:40] #29208 closed

[2021-03-15 08:01] cpapazoglou commented on #50312
Yes indeed.

I have a suggestion here https://github.com/Automattic/wp-calypso/issues/50312#issuecomment-785878289

@obenland It's working fine for me, and I never had an issue with the language picker not being available. If that is the case for your Atomic site, it worths investigating why / when the language pickers gets hidden.

![](https://cln.sh/iOFcup+)

[2021-03-15 08:55] Robertght opened #51060 "Marketing banner hides menu on mobile in Twenty Twenty-One when logged out"
### Steps to reproduce the behavior

This is how it looks when we're logged in:

![image](https://user-images.githubusercontent.com/6737345/111127617-b25fe500-857c-11eb-939e-3394bce42f73.png)

This is how it looks when we're logged out:

![image](https://user-images.githubusercontent.com/6737345/111127651-bb50b680-857c-11eb-897b-c5f89da935be.png)

### Context

- Reported by a user in #3817684-zen

[2021-03-15 09:11] getdave commented on #50765
Reading the comments above, I'm not convinced we have enough information to make a call either way here.

As a result, I'm keen we remain open to the possibility that we may need to revert to match Core to ensure better compatibility with 3rd party code which _expects_ Core not WPCom. I think it's important we aren't coupling ourselves to previous decisions.

How about we ask ~@davipontesblog~ Hap

[2021-03-15 10:01] stephdau commented on #33008
Very sorry I missed this question @obenland .

That banner has [not been displayed on anything since April 2020](https://blog.akismet.com/2020/04/29/version-4-1-5-of-the-akismet-wordpress-plugin-is-now-available/) (v4.1.5 of the plugin).

[2021-03-15 10:05] mmtr commented on #50567
We've been actually asked to remove the "Other tools" page (https://github.com/Automattic/wp-calypso/issues/50193) so I guess we'd need to create a different landing page.

[2021-03-15 12:05] aleone89 commented on #48177
A user has asked here: https://wordpress.com/forums/topic/links-256/#post-3648616 where the links went from the menu.

Just my two cents on this - if it's available in WP Admin, and the idea is to unify all experiences across the board - it should perhaps be available - or at best, both the new navigation and WP Admin view should look the same.

I hope that's useful.

[2021-03-15 12:27] mrfoxtalbot opened #51064 "Quick Language Switcher does not work with the Unified Navigation"
1. Start a Support Session
2. User the Quick Language Switcher to select a language different from the default one.

#### What I expected to happen
The entire site should change to the selected language

#### What actually happened
Only the content (on the right) changed. The navigation itself remained in the original language.

![Screen Shot on 2021-03-15 at 13:27:00](https://user-images.githubus

[2021-03-15 12:36] simison commented on #50053
Would it be useful to just list _only_ FSE themes there for starters in the experiment, and the rest maybe behind some toggle? I don't mind if this is pretty ugly for starters just to get testing it, but this flow also really needs design effort to figure out.

[2021-03-15 13:10] simison commented on #46987
@apeatling have you heard about this happening at scale? It could be theme specific issue, and if we can't figure it might be ok to close.

[2021-03-15 13:17] vindl commented on #50053
I think that would work just fine to get the testing rolling.

[2021-03-15 13:24] simison commented on #50312
Saw this happen for my Atomic site, a merry mixture of languages in the sidebar was quite jarring:

<img width="1110" alt="Screenshot 2021-03-15 at 15 16 29" src="https://user-images.githubusercontent.com/87168/111159665-05985e80-85a2-11eb-90a5-7e4352ba8e90.png">

Setting in calypso:

<img width="630" alt="image" src="https://user-images.githubusercontent.com/87168/111160020-5dcf6080-85a2-11eb-83c

[2021-03-15 13:38] tbradsha commented on #50565
This was part of my workflow, but it'd be nice to open up a way for the end user to update their site-specific display name as well.

[2021-03-15 14:49] Robertght commented on #49840
Same issue in 3823616-zen

[2021-03-15 15:09] obenland commented on #49922
It depends on whether a return parameter was defined. It looks like you're entering the Customizer with Nav Unification disabled, I'm pretty sure with it active that return parameter is passed along.

[2021-03-15 15:18] cathymcbride commented on #51037
@michaeldcain does this need to go on the shilling backlog?

[2021-03-15 15:19] mmtr commented on #51035
This is actually caused by a wrong translation:

https://translate.wordpress.org/projects/wp-plugins/jetpack/dev/es/default/?filters%5Bterm%5D=plugins&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

<img width="1012" alt="Screen Shot 2021-03-15 at 16 14 59" src=

[2021-03-15 15:19] #51035 closed, assigned to mmtr

[2021-03-15 15:42] ghost commented on #49878
I vote we leave it out for now - since we've decreased the padding there's a lot of details to digest, so it might be best to avoid adding more.

[2021-03-15 16:21] ghost commented on #50217
@obenland not off the top of my head, but I can think a bit more on this.

[2021-03-15 16:25] ghost commented on #49783
This change is fine by me.

[2021-03-15 16:30] getdave commented on #51018
✅  Confirmed during testing that https://github.com/Automattic/jetpack/pull/19114 will fix this.

[2021-03-15 16:31] getdave commented on #50945
✅ Confirmed in my testing that this will be addressed in https://github.com/Automattic/jetpack/pull/19114

[2021-03-15 16:32] getdave commented on #50939
✅ Confirmed in my testing that this will be addressed in https://github.com/Automattic/jetpack/pull/19114

[2021-03-15 16:36] synora commented on #50312
Reported 3821659-zen.

[2021-03-15 16:53] ianstewart commented on #50053
**Pre-Launch MVP:** Merely listing them in the list of themes behind the appropriate flag/sticker/mechanism would be a big win as they don't show up yet at all on Horizon. :)

**Internal and External Testing:** My expectation is that at the very least Block Themes would replace our recommended themes when Block Themes are available. I don't think it's a blocker for internal testing. It may be a bl

[2021-03-15 16:57] ianstewart commented on #50053
Less sure about this one. I think it's a core Gutenberg issue that we should likely contribute to or follow. I think it's a separate issue.

That said, I don't think we should _warn_ people about switching.

- Nothing should break and no content should be lost.
- Many themes already have idiosyncratic functionality that is turned off and on during theme switch and in general pattern this would be

[2021-03-15 18:08] jackiejade commented on #50994
There is a workaround for this. If you add the images to the root level of the domain via SFTP it will make the bookmarks show. You'll want to have the user upload the images to their media library in .png and .ico format. The files need to be named:

apple-touch-icon.png
favicon.ico

[2021-03-15 18:30] stephanethomas commented on #50914
That would be a much better user experience indeed. We could take advantage of the `getEligibleGSuiteDomain()` function to determine an appropriate domain, and then redirect the user to the corresponding `Add New Users` page. However, this page is pretty empty so maybe the will feel a bit lost (although I'm not sure when and how often users are redirected because the shopping cart doesn't contain

[2021-03-15 18:34] apeatling commented on #45663
I'm unable to reproduce this on the most recent example. The older examples are before we moved and upgraded the block. The low number of reports makes me think these are different issues. Please reopen if there's another example.

[2021-03-15 18:34] #45663 closed

[2021-03-15 18:50] worldomonation commented on #45484
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I think this proposal is worth investigating so I am removing the `Stale` label for the time being.

[2021-03-15 19:16] ianstewart commented on #50606
I'm going to move this one off of the Site Editor project and put this one on to the Create Focus experience board as it won't block the Site Editor.

[2021-03-15 19:20] ianstewart commented on #50605
Moved this one on to the Create Focus backlog as it's a general onboarding issue.

[2021-03-15 19:25] ianstewart commented on #50554
Moving this one to the Create Focus backlog as it's a general onboarding issue.

[2021-03-15 20:11] obenland commented on #49878
Sounds good!

[2021-03-15 20:11] #49878 closed, assigned to nobody

[2021-03-15 20:13] JoshuaGoode opened #51076 "WordPress.com on Atomic: Allow migrations/cloning across WoA sites."
**What**<br>The ability to migrate/clone between two [WordPress.com](<http://WordPress.com>) on Atomic (WoA) sites

**Why**<br>This is a common request from designers, developers, agencies, and technical users that wish to easily copy or migrate an existing WoA site to another.

Not just site cloning, to a new site. But migrating between existing sites.

**How**<br>Use the Everything Import option

[2021-03-15 20:13] davipontesblog commented on #50765
@getdave on our end please liaison with @mrfoxtalbot on this, similarly to how we are tracking plugin and theme issues with nav menu items not showing, it seems to be working well on that front.

[2021-03-15 20:13] JoshuaGoode commented on #51076
If we don't route through the WPCOM/Everything importer, perhaps the cloning/migration feature already provided by Jetpack?  https://jetpack.com/support/cloning/

The Atomic platform also supports Jetpack-less cloning which is in use on a non-WoA provider.

[2021-03-15 20:20] JoshuaGoode commented on #51076
A previous discussion about Atomic API cloning while WPCOM Migration was being developed:
pbkcP4-8-p2#comment-48

Recent internal threads where a user requested this:

* p1615838869313300/1615838679.311300-slack-C03TY6J1A
* p1615832525287100/1615830826.282800-slack-C03TY6J1A
* p1614884969298200/1614884492.297000-slack-C3GP81E05

Internal P2 thread:
pbkcP4-gn-p2

A request for a WordPress.com site

[2021-03-15 20:23] tmmbecker commented on #24539
3820357-zen

Customer was unable to connect and purchase a Jetpack plan because the WordPress.com dashboard is inaccessible. We really should get this fixed!

[2021-03-15 20:28] sourourn commented on #42973
Another report here: #28117777-hc

[2021-03-15 20:39] vindl commented on #50053
Yeah that's a good point, it should be dealt with and discussed separately, preferably in core.

So the main thing from a technical side here is to figure out if it's possible to conditionally (per user or site basis) show themes in the showcase that are network disabled.

[2021-03-15 20:46] obenland commented on #50565
μ => Blog's Network Admin => Blog Users will take you to a user list from where you should be able to access user profiles.

<img width="453" alt="image" src="https://user-images.githubusercontent.com/1398304/111218821-79336f00-8594-11eb-9130-51e800162b61.png">

Direct access has been disabled for Simple Sites for a while (AFAIK), let's not walk back that decision for now.

[2021-03-15 20:46] #50565 closed, assigned to nobody

[2021-03-15 20:50] obenland commented on #50567
Can you help me understand what's not working with the current one? Sure, it is framed in a Marketing offering, but it shows a list of tools, like logo creators, CRM, earn potential, etc

[2021-03-15 20:56] kwight commented on #41272
That explains why I wasn't finding other references to `AT_PRIVACY_MODEL`. 🙃

Urgh, sticky. Since we control the hardware for Atomic sites, I wouldn't expect to have any unsurmountable issues for CPU/memory consumption, nor ImageMagick unavailable (it seems we have a `gmagick` module installed, that's comparable?). However, it feels like a lot of work to create duplicate code and more variation be

[2021-03-15 21:36] ianstewart commented on #50679
Going to close this one out as more variety and optionality up front is the plan.

- @jeffikus and co is working on bringing more Block themes to life, whose home page content we will feature in the design picker.
- @alaczek is working on adapting existing starter designs and other patterns to Block themes to the same end.

[2021-03-15 21:36] #50679 closed, assigned to nobody

[2021-03-15 22:06] JenSwish commented on #50958
3824138-zen

[2021-03-15 23:23] worldomonation commented on #50693
#50774 has been merged into trunk.

The PR above installs Playwright as one of the dependencies in `test/e2e` and lays the groundwork for actually migrating over a demonstration script.

[2021-03-15 23:27] worldomonation opened #51080 "Playwright: migrate a demonstration test case"
**Task Details**
PR #50774 added the ability to install Playwright into the `ci-e2e` image as part of the test step.

In this task, look for a suitable test case to migrate to Playwright, and implement the foundation required to run the test.

Subtasks:
- identify test case/suite.
- decide how/where migrated test file should live.
- decide how test should be run on TeamCity.

**Related to**
Parent

[2021-03-15 23:28] Jaccuse commented on #51076
An interaction where a user was requesting this functionality can be found at: 9948558-hc

[2021-03-16 00:33] worldomonation opened #51082 "[Meta] Playwright: implement scaffolding around the drivers"
**Task Details**
Selenium based tests currently have a lot of scaffolding and supporting libraries built around it. These are some examples:
- screenshot capture
- start/stop video recording
- browser instance management

This task is the meta task for implementing the necessary scaffolding around the Playwright browser instances to provide a similar level of functionality to the Selenium based su

[2021-03-16 01:17] nagpai commented on #49675
Related:
https://github.com/Automattic/wp-calypso/issues/51076

[2021-03-16 01:32] ilyasfoo commented on #50833
@mattsherman Based on my observation, `automatedTransferStatus` had always been `completed` or `null` and `hasPendingAT` was always `false` by the time we've installed a plugin and turned the site into Atomic. Since we're checking the site's Atomic status before showing the WooCommerce installation menu and before accessing the install screen, do you think it's possible to remove the code paths th

[2021-03-16 02:21] alaczek opened #51085 "Editor: Pattern selector not working properly on mobile"
### Steps to reproduce the behavior

1. Add a post or a page using a mobile device (I used an iPhone).
2. Click on the + button in the top left corner of the editor. In the overlay switch to the Patterns tab.
3. Click on the list and select a category.
4. I'm not able to preview patterns in the selected category. The whole overlay closes and I'm back in the editor.

Here's a quick video: https://c

[2021-03-16 02:34] alaczek opened #51086 "Editor: Page published tab has a large gap on top on mobile"
### Steps to reproduce the behavior

1. Add a new page to a site using a mobile device (I used an iPhone).
2. Add page title and some content, then hit Publish on the top right.
3. Note that the "Page is live" overlay has a large unexplained gap on top.

#### What I expected to happen
I expected a smaller gap, similar in height to the one that appears on desktop.

![IMG_3037](https://user-images.g

[2021-03-16 03:05] alaczek opened #51088 "Editor: Question mark is obscuring image insert button on mobile"
### Steps to reproduce the behavior

1. Using a mobile device, start editing a post or a page.
2. Add an Image block. Click on Select Image > Pexels Free Photos option.
![IMG_3040](https://user-images.githubusercontent.com/4550351/111249958-a2213600-8660-11eb-9c42-347a33e2cc52.jpg)

3. Type a search term and hit Search button.
4. Select an image and note the "Select" button at the bottom is obscur

[2021-03-16 03:40] roo2 commented on #50361
updated the three pages identified here Automattic/en.support-docs-content#1007 with new images and gifs

[2021-03-16 03:40] #50361 closed, assigned to nobody

[2021-03-16 06:20] andrewserong commented on #50407
I can only recreate this in production, and not from my sandbox, where additional assets aren't loaded from s0,s1,s2, etc. If I update my sandbox to use those instead, I can recreate the issue. So I'm wondering if this is to do with loading additional JS / styles from within the editor canvas iframe (I haven't verified this yet, it's just a hunch at the end of my day 🙂)? If so, I'm not sure which

[2021-03-16 07:45] jartes commented on #50398
Found this issue while testing version 6.12 (beta). on macOS BigShur 11.2.3 (20D91). Maybe related with Nav Unification?

[2021-03-16 08:01] yoavf commented on #51076
Noting that while Atomic to Atomic migrations via the WP migration tool is theoretically possible (though currently disabled), they are very slow and resource-intensive. We should look at this from an Atomic infrastructure POV where it might be significantly easier and faster to clone an existing site.

[2021-03-16 08:02] reginabally commented on #49922
Ah, my apologies. It looks like Nav Unification was [disabled for Jetpack sites](https://github.com/Automattic/wp-calypso/pull/50751/files#diff-9fb76d512b14b29e4619f44fc4f0fed98dc373f1bdfdc544112f914a0eaee761) for now. I'll test this out again when it's enabled.

[2021-03-16 08:15] simison commented on #50407
Could sandboxing/not-sandboxing the store have an effect on this?

The code for the upsell should be in Jetpack methinks.

You can create a [site for FSE](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor) and access site-editor (vs page/post editor) that way.

[2021-03-16 08:28] tjcafferkey commented on #50490
I tested a build late last week which fixed the issue. This is due to get released this week AFAIK. Have set a reminder to check again in a few days time.

[2021-03-16 08:45] razvanpapadopol opened #51093 "Domain Picker: full suggestion row isn't clickable when using button item type"
### Steps to reproduce the behavior

1. Open Focused Launch
2. Open Domain Details View
3. Hovering a domain suggestion item turns the cursor into a pointer but nothing happens when clicking it

#### Video
https://user-images.githubusercontent.com/14192054/111280298-52cd0c80-8644-11eb-8fca-3399dd89249c.mov

Related PRs: https://github.com/Automattic/wp-calypso/pull/46946, https://github.com/Automa

[2021-03-16 09:09] zdenys opened #51094 "Editor: Make Page Title visible in the browser tab"
**What**
Currently, when you create a new page, the browser tab reads `Add New Page ‹ Site Title`. When you make edits to such page and save it and reload the browser window, the browser tab reads `Edit Page ‹ Site Title`. If you add the title to the Page in the editor, the browser tab continues to read `Edit Page ‹ Site Title`.

**Why**
If you have several pages opened in editing mode, each in a

[2021-03-16 09:38] pablinos commented on #49944
Sorry I kind of missed the notifications on this one.

@mmtr asked if there is still an issue as we will send people to the correct editor URL when the classic editor plugin is enabled. This is true and probably fixes the problem for Atomic, although we should probably work out a way of displaying the correct URL rather than relying on that redirect.

This is still the concern. I don't know how ma

[2021-03-16 10:04] mrfoxtalbot opened #51095 "Nav Unification: Improve parity between Calypso & WP-Admin stats"
Since Nav Unification has removed access to wp-admin/index.php?page=stats, there are two small tweaks that would make the transition to wordpress.com/stats a little easier:

1. Adding a redirection so that wp-admin/index.php?page=stats takes to wordpress.com/stats, instead of showing the following error

<img width="847" alt="Screen Shot 2021-03-15 at 22 30 51" src="https://user-images.githubuserc

[2021-03-16 10:11] Aurorum commented on #51095
Please forgive me if I'm misunderstanding, but I believe that most of those are already available under the Insights section. Would you suggest adding the missing data (I think that all-time comments and the number of views under "Best views ever" could both be added here) or making the entire box more prominent?

![Screenshot_20210316-101004](https://user-images.githubusercontent.com/43215253/111

[2021-03-16 10:14] mrfoxtalbot opened #51096 "Nav Unification: Increase Max Width of content on Calypso screens to improve parity with WP-Admin"
This is what a Calypso screen looks like on a wide screen:

![Screen Shot on 2021-03-16 at 11:10:03](https://user-images.githubusercontent.com/4452464/111292177-37640080-8648-11eb-907d-99c5bef68b85.png)

If we compare that to the way WP-Admin manages screen space, the difference is obvious:

![Screen Shot on 2021-03-16 at 11:10:18](https://user-images.githubusercontent.com/4452464/111292290-553165

[2021-03-16 10:16] inaikem opened #51097 "Flickr embed - not displaying previous, next arrows for albums and sets"
Originally posted to `505-gh-automattic/dotcom-manage` by @kosiew. Reposting per current guidelines.

---

### Expected behavior
[Flickr Embed](https://wordpress.org/support/article/flickr-embed/) should be able to display photos from album.

### Actual behavior

Flickr Embed works on Simple sites but not on Atomic.
![Screenshot](https://d.pr/i/qS74tX+)
*if image does not load, please click on thi

[2021-03-16 10:16] inaikem commented on #51097
Another related incident - #3819439-zen

[2021-03-16 10:33] cpapazoglou commented on #51022
Deployed r222805-wpcom

[2021-03-16 10:33] #51022 closed, assigned to cpapazoglou

[2021-03-16 10:34] #49434 closed, assigned to nobody

[2021-03-16 10:38] cpapazoglou commented on #51022
@mrfoxtalbot FYI
![](https://cln.sh/HSf6Ne+)

It will return `false` for all a12s though

[2021-03-16 10:58] cpapazoglou commented on #50226
I am going to move the Translator Button to the top of the FAB like it happens in Calypso
![](https://cln.sh/BxE6KV+)

[2021-03-16 12:14] #50939 closed, assigned to mmtr

[2021-03-16 12:14] #50950 closed, assigned to mmtr

[2021-03-16 12:14] #51018 closed, assigned to mmtr

[2021-03-16 12:14] #51024 closed, assigned to mmtr

[2021-03-16 12:14] #49915 closed, assigned to mmtr

[2021-03-16 12:55] #49355 closed, assigned to cpapazoglou

[2021-03-16 13:02] cpapazoglou commented on #50226
WIP here D58793-code

[2021-03-16 13:08] davipontesblog commented on #49240
@autumnfjeld is this one good to be closed now?

[2021-03-16 13:09] davipontesblog commented on #49239
@autumnfjeld I think this one should have auto-closed by moving to "Done" but it wasn't, just checking if it can be closed now. Thanks!

[2021-03-16 13:09] davipontesblog commented on #48127
@ramonjd I think this can be closed with the new layout picker merged now. Could you confirm?

[2021-03-16 13:10] davipontesblog commented on #46687
I am moving this to the triaging board to see if it's still an issue with the new layout picker on simple sites. If so, we can close it.

[2021-03-16 13:11] davipontesblog commented on #44940
I am moving this to the triaging board to see if it's still an issue with the new layout picker on simple sites. If so, we can close it.

[2021-03-16 13:11] davipontesblog commented on #44739
I am moving this to the triaging board to see if it's still an issue with the new layout picker on simple sites. If so, we can close it.

[2021-03-16 13:12] davipontesblog commented on #43891
I am moving this to the triaging board to see if it's still an issue with the new layout picker on simple sites. If so, we can close it.

[2021-03-16 13:13] davipontesblog commented on #42904
I am moving this to the triaging board to see if it's still an issue with the new layout picker on simple sites. If so, we can close it.

[2021-03-16 13:13] galakhyati commented on #46634
Ran into this at 3825710-zd-woothemes

The logos on the sharing buttons were not visible, they were shown in squares.

Adding the above code doesn't work either. The sharing buttons aren't hidden when using the above code.

[2021-03-16 13:15] davipontesblog commented on #42679
@p-jackson is this still an issue with the new layout picker launched today?

[2021-03-16 13:19] tjcafferkey opened #51100 "Project Types sub menu item opens Posts sub menu"
### Steps to reproduce the behavior

1. Enable the "Portfolio" menu item by going to Settings > General > Writing and toggling this on.
2. Select Projects > Project Types.
3. Observe the "Posts" sub-menu being displayed as active now.
4. Refreshing this page corrects the issue.

#### What I expected to happen

I expected the Portfolio menu items to be displayed as selected and its sub menu items v

[2021-03-16 13:27] cpapazoglou commented on #50847
We can use the slug after striping the domain.

Sounds like something we could really benefit from ;-)!

Looking in tracks funnels, I can see there aren't a vast amount of funnels using `calypso_mysites_sidebar_` in Steps.

![](https://cln.sh/OQCgYJ+)

Perhaps, instead of trying to find a WP Admin solution for tracking, we could focus on fixing the funnels already used. For example:
- a User is in

[2021-03-16 13:29] cpapazoglou commented on #50847
I can see the following tracking events currently used in Funnels

- `calypso_mysites_sidebar_view_site_clicked`
- `calypso_mysites_sidebar_customer_home_clicked`
- `calypso_mysites_sidebar_customize_clicked`
- `calypso_mysites_sidebar_themes_clicked`
- `calypso_mysites_sidebar_wpadmin_clicked`
- `calypso_mysites_sidebar_plan_clicked`

[2021-03-16 13:52] devNigel commented on #48072
Another report: 3825320-zen

[2021-03-16 13:56] ciampo opened #51102 "New Onboarding: create up-to-date blue color variables"
## What

Gather all the shades of blue required by our design specs

## Why

They will be used across all New Onboarding flows

## A/C

- [ ] All shades of blue from the design specs should be listed
- [ ] All shades of blue should be from the allowed list (see context bellow)
- [ ] All shades of blue should be expressed as a CSS variable in the `@automattic/onboarding` package
- [ ] Variables sho

[2021-03-16 14:01] ciampo commented on #51102
@ollierozdarz could you please list all of the shades of blue that are needed across New Onboarding flows?

[2021-03-16 14:02] ciampo commented on #47181
Superseded by #49866

[2021-03-16 14:02] #47181 closed

[2021-03-16 14:09] frontdevde commented on #51029
Good spot! Priority low, no color change here that affects us. Also I'd assume someone in Jetpack is going to update the dependency given that the Jetpack Green changed. I guess we can close this.

[2021-03-16 14:13] cpapazoglou commented on #51029
Great news! Thanks for checking this!

[2021-03-16 14:13] #51029 closed, assigned to nobody

[2021-03-16 14:23] ciampo commented on #49153
Putting on hold, as it will solved when working on #50513

[2021-03-16 15:04] getdave commented on #50765
@davipontesblog Yep whoever on Happiness is best placed to keep track. @mrfoxtalbot has been doing a great job!

[2021-03-16 15:16] davipontesblog commented on #46634
@cathymcbride I am going to raise awareness on this one by adding a "[Pri] Normal" label since I believe this is affecting lots of users. We don't have a ton of reports yet, but the combination below is likely present in tons of sites since it's a pretty common one in sites, and one that's present in many of our page layouts and block patterns as well:

- Blog posts block set to show post excerpts

[2021-03-16 15:29] michaeldcain commented on #51037
@jackiejade: I don't see a monthly option on the /plans/ page after buying an annual Personal plan. Can you let me know where that was offered? It _is_ possible to add an annual upgrade to your cart and then switch to monthly in Checkout, but as a policy, we allow term picking for upgrades so it's not specifically a Checkout issue.

<img width="1552" alt="Screen Shot 2021-03-16 at 11 14 32 AM" src

[2021-03-16 15:32] ghost commented on #49944
A couple of UX solutions for simple sites:

- Surfacing settings alongside the toggle in Account Settings. I see these are currently surfaced in Writing, but that seems a bit buried and disconnected from the toggle. This will enable users to select their preference between the editor types and make the 'Edit' button in their content management screens redirect to the Classic editor if they've sele

[2021-03-16 15:32] davipontesblog commented on #46634
The CSS code below can be a temporary fix for users to hide the broken sharing buttons:

[code]

This issue is intriguing since in atomic sites if the setting in https://wordpress.com/marketing/sharing-buttons/ for "Options" that says "Show like and sharing buttons on" is set to "Posts" only, the sharing buttons should only show on single post template pages, not other pages. This is not happening

[2021-03-16 15:37] michaeldcain commented on #49416
This is being handled by @sixhours (thanks!) in PRs like #50721 - closing.

[2021-03-16 15:37] #49416 closed, assigned to nobody

[2021-03-16 15:44] cathymcbride commented on #51085
FYI @apeatling

[2021-03-16 15:52] michaeldcain commented on #21129
Can't seem to reproduce. Closing.

[2021-03-16 15:52] #21129 closed

[2021-03-16 15:55] getdave commented on #49128
This has now reached our project board and we're looking to start work on it.

[2021-03-16 16:14] kathrynwp commented on #48177
Clarifying for HEs with users looking for the missing link manager that it's at

`/wp-admin/link-manager.php`

[2021-03-16 16:34] cpapazoglou commented on #46634
@philnick206 Can you provide the theme with the broken icons? I tried it on my Atomic site with Twenty Twenty-One and icons are not broken

without excerpt  | with excerpt
-------|------
![](https://cln.sh/iFTBQL+) | ![](https://cln.sh/yiTEzd+)

Also, why is it expected that the `blog posts list` block should not show the social icons?

**Edit: I found / replicated the problem**

![](https://cln.s

[2021-03-16 16:36] ghost commented on #48243
There's not a ton of dash icons to choose from, but let's try this for all plugins without an icon: https://developer.wordpress.org/resource/dashicons/#plugins-checked

[2021-03-16 16:39] kriskarkoski commented on #50869
Since we won't be adding another menu I am closing this as a duplicate of https://github.com/Automattic/wp-calypso/issues/10742 to add bulk editing throughout Calypso which has some recent discussion.

[2021-03-16 16:39] #50869 closed, assigned to nobody

[2021-03-16 16:46] jeherve commented on #51106
Transferring this back to the wp-calypso repo, where the Calypso green interface is being built (sorry @cathymcbride!)

[2021-03-16 16:47] synora commented on #50917
Triaged. Tested and can replicate on a simple site. Works as expected on Atomic sites.

[2021-03-16 16:53] ghost commented on #50217
Unfortunately, I don't really see a way around exposing them in the existing section. There's not really a logical area within the areas of the navigation that this could fit in, and the sidebar is already quite full. A couple of thoughts for these types of sidebar items:

- Choose to keep these sections enabled for P2s and sites that are already using them, and hide them for new sites or sites wh

[2021-03-16 17:05] cathymcbride commented on #33270
Closing due to staleness. Feel free to re-open if you disagree!

[2021-03-16 17:05] #33270 closed

[2021-03-16 17:13] synora commented on #50928
Tested this and uploading .zip files for simple sites worked fine with or without "Show advanced dashboard pages"  selected. I did have to turn on that option on my Atomic site, otherwise, the error message would appear and the .zip file would fail to upload.

[2021-03-16 17:14] xpurichan commented on #50376
I checked the status on this high priority issue in p1615914537012300-slack-luna.

[2021-03-16 17:21] #27551 closed

[2021-03-16 17:21] #27550 closed

[2021-03-16 17:22] cpapazoglou commented on #50765
In our recent Backlog meeting AJAX decided that this is a Blocker for ramping up nav-unification _till we have a solid decision / direction._

### Why
Showing to users broken interfaces results to bad user experience. Since the affected screens are somehow usable, users will probably not contact support but they will still be disappointed. There might also be cases where the broken interface will

[2021-03-16 17:28] synora commented on #51095
@mrfoxtalbot can confirm what you're requesting here?

[2021-03-16 17:30] worldomonation commented on #40597
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I am removing the stale label for the time being as this is a good feature proposal.
This means that the Stale bot will not re-tag this issue for the next 180 days.

[2021-03-16 17:34] worldomonation commented on #41176
Re-labeled with `Bug` instead of `Enhncement`.

[2021-03-16 17:40] cathymcbride commented on #51014
@bsanevans I'm not reproing this? Mine converted to the shortcode and displays correctly. Is there another constraint I'm missing?

[2021-03-16 17:42] worldomonation commented on #974
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried on both Desktop and Mobile web versions and found that clicking on the Comment icon from Reader view did open up the article in question and scrolled down to the comments field.

In light of this, I propose that this issue be closed as `Closed - Not Reproducible`.

[2021-03-16 17:44] cathymcbride commented on #51051
@jaswrks - martech?

[2021-03-16 17:55] worldomonation commented on #45203
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue remains reproducible as of Gutenberg: v10.1.1.
It is difficult to assess the priority level without knowing the adoption rate of having both `Classic` block and a Media block in the same post. My hunch is that this should be Medium priority.

[2021-03-16 17:56] synora commented on #46687
I tested this two different ways on a simple site:
1.  Creating a new page and choosing the Contact page via the new layout picker
2. Creating a new blank page, and choosing the Contact page layout from Block Patterns.

I'm unable to replicate this issue either way. Closing.

[2021-03-16 17:56] #46687 closed

[2021-03-16 18:13] synora commented on #44940
I'm able to replicate this even with the launch of the new layout picker. Keeping this issue open.

[2021-03-16 18:29] zdenys opened #51109 "Domains: Hide (or allow to hide) `Complete domain setup` warning for domains mapped via Cloudflare"
**What**
Currently, if a domain is mapped via Cloudflare, there is a warning displayed reading `Complete domain setup`.

![](https://d.pr/i/pSyzw6+)
_Link: https://d.pr/i/pSyzw6_

An additional warning `Complete setup` is displayed in `https://wordpress.com/domains/manage/DOMAIN` but it's less prominent.

![](https://d.pr/i/4vTLnK+)
_Link: https://d.pr/i/4vTLnK_

**Why**
It is confusing and annoyi

[2021-03-16 18:43] synora commented on #44739
I'm unable to reproduce this issue and it's no longer an issue with the new layout picker. Closing.

[2021-03-16 18:43] #44739 closed

[2021-03-16 18:45] klimeryk commented on #51109
Already working on it - patch D58467-code should fix it (when it's merged) so that domains mapped through Cloudflare will be recognized simply as properly mapped 🎉

[2021-03-16 18:47] davipontesblog opened #51111 "Media: Add option to download a copy of file(s)"
### What
It should be much easier for users to be able to download copies of their media files from `Site > Media`, or even `WP Admin > Media`. Right now they need to, from Site Media for example:
- Click on an image, or several, that they want to download.
- Then click “Edit”. (It should be noted this is not something most people will think would lead them to be able to download a file, so it's a

[2021-03-16 18:52] mattsherman commented on #50833
@ilyasfoo 💯 As you say, the way we show this "WooCommerce" menu item now, it doesn't show at all until the site is Atomic. So, I think it is safe and proper to remove checks for Atomic in the installation page. That would be a great simplification to the logic.

[2021-03-16 18:54] synora commented on #43891
Keeping open due to the ongoing conversation at https://github.com/Automattic/wp-calypso/issues/43892.

[2021-03-16 18:55] liviopv commented on #37944
Also requested on 28452573-hc

[2021-03-16 18:57] mattwiebe commented on #50405
This was fixed by #19114, which no longer blindly re-registers the Customizer submenu because it only works by adjusting existing submenus to reference their menu parent's updated WPCom URL.

[2021-03-16 18:57] #50405 closed, assigned to nobody

[2021-03-16 19:02] synora commented on #42904
I'm unable to replicate this. This is a rather old issue so it's possible it was fixed along the way or recently with the new layout picker feature.

[2021-03-16 19:02] #42904 closed

[2021-03-16 19:04] ciampo opened #51113 "Focused Launch x AnchorFM: cleanup code"
## What

Cleanup code after AnchorFM sites are correctly assigned to Focused Launch flow

## Why

Some code is currently (and necessarily) hacky, while we transition Gutenboarding and AnchorFM sites from Step by Step to Focused Launch flow.

## A/C

Needs to be expanded

- [ ] (to be expanded) cleanup some hardcoded values forcing AnchorFM sites to be launched through Focused Launch flow

## Conte

[2021-03-16 19:19] jaswrks commented on #51051
Nice catch. @cathymcbride MarTech can fix. Thanks.

[2021-03-16 19:57] Aurorum commented on #51095
I still think your issue raises a good point and that this may be worth implementing, by the way. :)

[2021-03-16 19:59] kwight commented on #41272
After some discussion with @mreishus , we're going to try another approach:

* add a new "[Photon implementation](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/tiled-gallery/utils/index.js#L53)" (not using Photon) that would fetch the images from the Atomic media proxy endpoint (it seemed as good a place to start as any in the block), and
* have the e

[2021-03-16 20:04] obenland commented on #49922
Sounds good, thank you!

[2021-03-16 20:04] #49922 closed, assigned to nobody

[2021-03-16 20:07] cathymcbride commented on #42727
@tijosh can you still repro this? I'm not seeing the business listing anymore? Nor can I find one similar.

[2021-03-16 20:22] Aurorum commented on #51095
If that's something that'd be desired, I spun up #51116. Can just be closed if not. :)

[2021-03-16 20:52] razvanpapadopol commented on #50376
The feature affected by this bug is no longer in production after D57607-code

[2021-03-16 20:52] razvanpapadopol commented on #48339
The feature affected by this bug is no longer in production after D57607-code

[2021-03-16 20:57] michaeldcain commented on #49473
Ian reproduces it in the first video on this comment: p58i-abg-p2#comment-49729

[2021-03-16 20:57] razvanpapadopol commented on #47190
removed `[Type] Bug` label since the feature is not yet in production for Atomic sites

[2021-03-16 20:57] carladoria commented on #50958
also reported on [3819741-zen](3819741-zd-woothemes)

[2021-03-16 20:58] michaeldcain commented on #49473
@niranjan-uma-shankar: it looks like Chrome, existing user, business plan purchase (with credits - don't know that that's part of the reason)

[2021-03-16 20:58] ianstewart commented on #49473
I wondered if it was credits but it looks like you were able to do it with a card at the top of this thread.

[2021-03-16 21:00] razvanpapadopol commented on #42510
This bug was fixed for the editor launch flow in D57607-code but it's still happening on the other launch flows in Calypso.

[2021-03-16 21:20] obenland commented on #50765
I'd like to propose a two-sided approach, where we increase to 20% as-is and see if we run into more reports (cc @mrfoxtalbot) and give @sfougnier a chance to prepare possible alternatives for a 160px menu.

The upgrade nudges drive a considerable amount of traffic and I worry about negative effects on that with a narrower sidebar.  I agree that maintaining fixes for more plugins would be cumberso

[2021-03-16 21:22] obenland commented on #50217
I like the idea of making them settings section with general settings rather than keeping them on separate pages.
@timmyc Thoughts?

[2021-03-16 21:23] sixhours opened #51118 "Upsell Nudge: Domains upsell dismiss icon has no contrast"
### Steps to reproduce the behavior

I'm not 100% how to reproduce this upsell, but it showed up on a site that already has a mapped domain while I was testing something else:

<img width="312" alt="Screen Shot 2021-03-16 at 5 15 22 PM" src="https://user-images.githubusercontent.com/2124984/111381337-f259c180-867b-11eb-98bf-d20dec013a5d.png">

There's a blank space next to the main CTA that's inte

[2021-03-16 21:36] ianstewart opened #51119 "Checklist: Checklist disappears when going Atomic, "Coming Soon" pill in site card briefly disappears"
### Steps to reproduce the behavior

1. Create a new site on WP.com
2. Upload a plugin
3. Bug: Checklist disappears when going Atomic, "Coming Soon" pill in site card briefly disappears

#### What I expected to happen

- The checklist would remain present as site is unlaunched.
- Coming Soon pill in site title card would not disappear and reappear

[2021-03-16 21:43] jeffgolenski commented on #50918
@Automattic/jetpack-crew Is this something we can look into fairly soon? We want to make sure traffic is diverted to the Assistant for onboarding (free and new purchases). Let us know if we need to log in the Jetpack project and not calypso.

[2021-03-16 22:48] katiebethbrown opened #51121 "Sites created as Atomic with async TLDs (.ca, .blog) are non-functional after purchase"
When purchasing a new eCommerce plan and a custom `.ca` domain (this should apply to other TLDs that are known to be slow to set up, like .blog), Jetpack is broken immediately after checkout because the domain doesn't have any public DNS yet. This results in a completely broken Calypso state with just a cryptic error message.

This seems like a less than optimal first experience for new eCommerce

[2021-03-16 22:52] kwight commented on #36274
D58727-code under review.

[2021-03-16 22:58] ramonjd commented on #48127
Thanks @davipontesblog

Yep the redesign was shipped very recently pbAok1-1Rg-p2#comment-4175 😄

Closing.

[2021-03-16 22:58] #48127 closed, assigned to nobody

[2021-03-16 22:59] xpurichan commented on #46629
+1 on this, I've had at least a couple of customers confused on why they couldn't change the privacy - without realizing that they had not yet launched their site.

[2021-03-16 23:09] xpurichan commented on #45980
I tested this and I was able to replicate everything except for step 5, which was clicking on the images inside of the editor and causing them to disappear. Step 1-4 replicated exactly.

[2021-03-16 23:48] obenland commented on #50217
I created D58852-code and D58857-code for POCs of @sfougnier's suggestion.

Webhooks uses a few inline form and thickbox which breaks options-general.php when added as a settings section. As an alternative I've disabled the feature for sites that don't currently have webhooks and enabled it for all a8c-internal sites.

Let me know what you think of that approach! If you like the direction I'd appr

[2021-03-17 03:24] jordesign commented on #47220
Another user requesting this in #3825489-zen

it looks like the original work was done by @artpi - who might have some further thoughts on adding a block or oEmbed.
this seems it would be a great thing to add to further our MailerLite integration.

[2021-03-17 03:40] samvaidya commented on #33371
Another report:  #3828363-zen

Workaround to paste the video link (https://vimeo.com/374971617) into the Classic block worked. Also was only able to reproduce this on the customer's site as others have reported here.

[2021-03-17 04:06] ilyasfoo commented on #50833
@mattsherman I did more tests and found out the transfer statuses `inquiring` and `start` was also in the mix. I was only able to test `start`, which still result in a successful setup, though our setup code does not handle and results in `NaN` for progress (follow-up PR https://github.com/Automattic/wp-calypso/pull/51128). So far it's hard to test the whole flow for all cases to be confident maki

[2021-03-17 05:21] jsnajdr commented on #38280
Let's keep this open, I'm still hoping to fix it sometime soon.

[2021-03-17 06:46] andrewserong commented on #50407
It turns out the upsell itself is a bit of a red herring — I think it might actually be a CSS loading issue. The `jetpack-blocks-editor-css` style isn't getting copied over to the site editor's iframe because it doesn't exist in `window.__editorStyles.html` and it also doesn't get grabbed from the parent document because when it's loaded externally to the site the stylesheet doesn't have a `.cssRu

[2021-03-17 07:05] p-jackson commented on #42679
Yes and no. The large preview area no longer exists, so that's no longer a problem. The thumbnails do not however reflect the site's current colour scheme.

<img width="1311" alt="Screenshot 2021-03-17 at 7 59 08 PM" src="https://user-images.githubusercontent.com/1500769/111427637-47203980-875b-11eb-87dd-0590c18515e3.png">

The above screenshot is from a site with the Balasana theme and a dark col

[2021-03-17 07:25] artpi commented on #47220
I think we should do it :) Here is how: https://github.com/Automattic/jetpack/issues/17721#issuecomment-722295022

[2021-03-17 08:32] scinos commented on #50622
The only usage left is via `watchpack > watchpack-chokidar2 > chokidar`. It is marked as an optional dependency and `watchpack` will first try to load `chokidar@3`, so this should be safe.

I [sent a PR](https://github.com/paulmillr/chokidar/pull/1077) to `chokidar@2` to avoid installing it in Node 14+ environments that should prevent it from getting installed in our dependency tree.

[2021-03-17 08:32] #50622 closed, assigned to nobody

[2021-03-17 08:33] scinos commented on #50623
Update: this only comes from `@wordpress/eslint-plugin` now, although we don't use it in our `.eslintrc` files.

There is an issue to migrate `@wordpress/eslint-plugin`, https://github.com/WordPress/gutenberg/issues/29179

[2021-03-17 08:34] #50623 closed, assigned to nobody

[2021-03-17 09:10] #50715 closed, assigned to nobody

[2021-03-17 09:18] cpapazoglou commented on #50701
I would argue that if the "?" (FAB) icon annoys us while using WP Admin interfaces it will probably be the same case for all users. In that sense, we should explore what we can do to meditate this.

![](https://cln.sh/svQIJb+)

I propose:
- show the icon on first load
- hide the icon when user scrolls down
- show the icon when user scrolls up

Calypso will benefit from this too

![](https://cln.sh

[2021-03-17 09:59] jeherve commented on #50918
Those links are built in Calypso green, so you're in the right place.

A quick search through the codebase shows that we're linking to wp-admin > Jetpack > Dashboard > My Plan from a few places in Calypso:
- https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/state/selectors/get-jetpack-wp-admin-url.js#L12
- https://github.com/Automattic/wp-calypso/blob/61

[2021-03-17 10:09] davemart-in commented on #50765
I don't see evidence of this being a widespread issue.

From my perspective we're just kicking the can down the road if we decide to revert to 160px. When the core left nav is finally updated, I don't foresee it sticking with the current 160px width. We're going to have to address this problem sooner or later.

Rather than reverting, can we come up with a way to indicate somehow in the DOM what th

[2021-03-17 10:10] cpapazoglou commented on #51060
👋 @jeffikus Could the themes team pick up this and fix it directly in the theme like we did with the folloing themes?

`unsupported_templates = [ 'scrawl', 'seedlet', 'twentyfourteen', 'twentyseventeen', 'twentytwenty', 'boardwalk', 'gateway', 'dyad-2', 'cubic', 'coherent', 'rockfield', 'stratford', 'pique'`

[2021-03-17 10:37] StefanNieuwenhuis commented on #48270
I'm closing this issue since we're fixing this in #50888.

[2021-03-17 10:37] #48270 closed, assigned to StefanNieuwenhuis

[2021-03-17 10:41] StefanNieuwenhuis commented on #45501
I'm closing this issue since we're fixing it in #50888 & #42638.

[2021-03-17 10:41] #45501 closed

[2021-03-17 11:25] jeyip commented on #50659
I'll continually update this comment as I make progress.

## Stack Trace
- CPT templates and template parts are created through the rest templates controller ( [Link](https://github.com/WordPress/gutenberg/blob/935b05200a77dd79a80ba134ef1c794686fec4e3/lib/full-site-editing/class-wp-rest-templates-controller.php#L235-L263) )
- Before persisting data, we serialize relevant template / part informatio

[2021-03-17 12:05] adamziel commented on #41272
I like that idea, good thinking! If it works, you could complicate the data flow a little bit to make it work even for users who are not logged in to calypso. Basically instead of sending the request directly to public-api, you would go through a site-specific Jetpack/wpcomsh endpoint which would send an authenticated public-api request on your behalf using the blog token. The data would bounce ba

[2021-03-17 12:15] zdenys commented on #50722
I can reproduce it on several WoA (Atomic) sites of mine. I am getting the same `No themes found. Try a different search.` message or I get to find similar themes (such as lite versions) but not our own Premium ones that I could see in Calypso. Here is the video with the issue from my WoT site https://d.pr/v/4IHnPH

On Simple Site, I can see all Premium themes and they have the label `Included` at

[2021-03-17 12:29] BogdanUngureanu opened #51136 "Atomic: Elementor plugin breaks page layout in Theme Builder section"
After installing Elementor on Atomic and visiting Elementor's `Templates > Theme Builder` section, the page layout is broken.

### Steps to reproduce the behavior

1. Go to 'Templates > Saved Templates'
2. Click on 'Templates > Theme Builder'
3. The page layout is broken and the user has to refresh the page

#### Browser / OS version
Chrome Version 89.0.4389.82 / MacOS Catalina

#### Does this hap

[2021-03-17 12:32] BogdanUngureanu commented on #51136
The issue was also reproduced with the new nav unification disabled.

[2021-03-17 13:27] cpapazoglou commented on #50722
@zdenys "Add New Theme" is only for WordPress.org themes. Can you confirm that searching for a WordPress.org theme in that page produces the correct results?

@sfougnier, it seems that this menu item generates some confusion.
Adding a WordPress.**com** theme is done through Appearance -> Themes, while adding a WordPress.**org** theme is done through Appearance -> Add New Theme.

cc @obenland

[2021-03-17 13:35] klimeryk commented on #51109
Patch has been merged 🎉 Please let me know if you notice it not working as expected anywhere 🙇 But marking as resolved for now.

[2021-03-17 13:35] #51109 closed, assigned to klimeryk

[2021-03-17 13:40] davipontesblog commented on #42679
I'd say let's leave it as a feature request then.

[2021-03-17 13:46] #50988 closed, assigned to cpapazoglou

[2021-03-17 13:57] razvanpapadopol opened #51137 "New Onboarding: redirect new users to use-your-domain flow"
### What
Add the option to redirect to the existing `use-your-domain` flow on DomainStep in [New onboarding](https://wordpress.com/new/domains) for new (logged-out) users.

### Why
Allow users to create wp com sites using their own domain

### A/C
  - [ ] Show the signup modal when a new user is clicking the button
  - [ ] After successful signup/login, redirect to `use-your-domain` flow
  - [ ] S

[2021-03-17 13:58] razvanpapadopol commented on #44645
closing this issue since the last part is tracked in https://github.com/Automattic/wp-calypso/issues/51137

[2021-03-17 13:58] #44645 closed

[2021-03-17 14:09] zdenys commented on #50722
Question. How a user with Nav Uni active and `Show advanced dashboard pages` active in [Account Settings](https://wordpress.com/me/account) can activate a WordPress.com theme? The latter option forces the redirect to WP Admin, so Appearance -> Themes shows only the already installed themes. Like this:

![](https://d.pr/i/NyhYqd+)
_Link: https://d.pr/i/NyhYqd_

Only if `Show advanced dashboard page

[2021-03-17 14:10] kathrynwp commented on #45700
This is still a bug and it should be fixed.

[2021-03-17 14:10] mreishus commented on #41272
Noting that photon implementations ([link](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/tiled-gallery/utils/index.js#L53)) is not the right abstraction for adding proxied images. Photon implementations transforms one `src` to a `src` and `srcSet` attribute by modifying query parameters and changing the domain.

But the proposed proxy images solution

[2021-03-17 15:06] sixhours commented on #28567
Another request for this in en.blog comments: https://wordpress.com/blog/2021/03/15/block-editor-updates-2/#comment-418971

[2021-03-17 15:12] #24019 closed

[2021-03-17 15:33] farmerfunster commented on #46802
Also happening with me since early Feb, just for Linkedin.
Twitter, FB etc are still all good.

An API request using https://public-api.wordpress.com/connect/?action=request&kr_nonce=... returns the nonce error, even though LinkedIn reports a successful authorisation. WP app UI just hangs with 'Connecting...'

See forum thread at https://wordpress.com/forums/topic/publicize-linkedin-connection-pro

[2021-03-17 15:48] razvanpapadopol commented on #42545
Fixed in D57607-code. The remaining exceptions (eCommerce and wp-admin) would be fixed by implementing #50122

[2021-03-17 15:48] #42545 closed

[2021-03-17 15:54] mreishus commented on #41272
Figured out the 0.5 step here: https://github.com/Automattic/jetpack/pull/19201 (I think, I'm pretty inexperienced with JetPack, so I'm not 100% on the technique of communicating private + atomic status to the JavaScript portion)

[2021-03-17 15:58] ianstewart commented on #50722
A fun one. :) It looks like a couple things are happening.

1. On Atomic sites that Add New Themes link unintentionally exposes an admin screen for users with the unified nav that loads the whole wp.org themes dir. And not the same list one would find on delivered through the WP.com themes api.
2. Users who opt in to to only show wp-admin screens will also not see the curated list of wpcom themes

[2021-03-17 15:59] darnelldibbles-zz commented on #31
Related: We have a user who, due to privacy concerns, is questioning why there is a requirement for a phone number for users who use the app. https://wordpress.com/forums/topic/two-setp-authentication-by-app-codes-and-user-privacy-violation/

[2021-03-17 16:02] ghost commented on #50701
hide the icon when user scrolls down
show the icon when user scrolls up

Sounds ok in theory. I worry it would make accessing help more difficult, but I can see in your screenshot how the FAB conflicts with other page elements. Might be worth testing to be sure?

[2021-03-17 16:05] david-binda commented on #36274
D58727-code has been shipped. Hopefully this addresses the issue 🤞

[2021-03-17 16:08] tjcafferkey commented on #50847
We can do this for links that take users from WP Admin > Calypso but it won't work for WP Admin > WP Admin (as you mentioned above).

We may also struggle to reliably track a click on a Calypso > WP Admin menu item with the same event name as a Calypso > Calypso menu item if we are using the slug.

For example if the user has the dashboard toggle enabled do we want to track clicks to Posts > All P

[2021-03-17 16:23] mmtr commented on #50722
This is intentional, see https://github.com/Automattic/wp-calypso/issues/49238 and https://github.com/Automattic/jetpack/pull/18780.

When the "Show advanced dashboard pages" toggle is off, "Appearance > Themes" is intended for WP.com themes, and "Appearance > Add New Theme" is intended for WP.org themes. We're discussing in https://github.com/Automattic/wp-calypso/issues/50814#issuecomment-792624

[2021-03-17 16:35] rootkea commented on #31
Asking user mobile number to set up 2FA SMS method makes sense but why to demand user's mobile number to set up 2FA authentication app codes method?

This feels like a user privacy violation.

As someone who values privacy and security deeply, why can’t I have 2FA authentication app codes method set up without having to give my phone number to WordPress.com like all other companies e.g. Twitter, F

[2021-03-17 16:39] sixhours commented on #50600
I started investigating this and noticed there's inconsistent results for the cover block display in email, too:

**Gmail (browser)**

<img width="615" alt="Screen Shot 2021-03-17 at 12 37 09 PM" src="https://user-images.githubusercontent.com/2124984/111504223-d3137080-871d-11eb-8a9c-be166c920d0b.png">

**Apple Mail**

<img width="619" alt="Screen Shot 2021-03-17 at 12 37 26 PM" src="https://user-

[2021-03-17 16:43] ciampo opened #51142 "Domain Picker: add jest-axe for a11y testing"
## What

Use axe (an a11y testing tool) in the Domain Picker automated tests by using the [jest-axe](https://github.com/nickcolley/jest-axe) integration

## Why

This will help spotting the most obvious a11y issues in our code just by adding one additional insertion in any tests.

## A/C

- [ ] Add `jest-axe` to Calypso's `dev` dependencies
- [ ] Add `jest-axe` to the Domain Picker package's jest

[2021-03-17 17:09] ciampo opened #51144 "Domain Picker: rework folder structure"
## What

Rearrange the folder structure of the `src` folder in the Domain Picker package

## Why

This will make the package more structured and easier to work with, in addition to enabling us to leave each unit test next to its source file.

## A/C

Folder structure spec:

[code]

- [x] The Domain Picker folder structure should follow the spec highlighted above.
- [x] All React components should

[2021-03-17 17:42] vindl opened #51145 "Site Editor: make option for adding Pexel images more prominent"
It's not very easy to discover the free images option in current media library if you don't know where to look. One piece of feedback we received in testing was that this should be surfaced in alongside Upload and Media Library buttons.

https://user-images.githubusercontent.com/1182160/111512753-5fd72200-8750-11eb-9e5d-c072e88b3797.mov

In the video you can also notice a weird issue with image re

[2021-03-17 19:23] synora opened #51148 "Navigation Unification: Dashboard Items"
What
There's a lack of details from the requester but, there has been a request to get the old wp-admin dashboard back. Since this doesn't appear possible with the nav uni rollout, would it be possible to add old 'wp-admin" dashboard items like "At a Glance", "Activity", and "WordPress News and Events" to My Home?

Why
With the nav uni rollout, this makes it difficult for the requester to navigate

[2021-03-17 19:49] sixhours commented on #50600
Started working on this in D58929-code

[2021-03-17 20:18] michaeldcain opened #51150 "Nav Unification: "domains" sub menu position not working"
In the old Calypso navigation scheme, the Upgrades menu is:

- Upgrades
 - Plans
 - Domains
 - Purchases (where you manage both plan and domains purchases)

However, in the unified navigation it's:

- Upgrades
 - Plans
 - Purchases (where you manage both plan and domains purchases)
 - Domains

In `WPcom_Admin_Menu` the [position argument for the Domains sub menu](https://github.com/Automattic/jetp

[2021-03-17 20:23] noteeth opened #51151 "Video block not removable if video is deleted from media first"
### Steps to reproduce the behavior

1. add video to media library
2. add video block to a page/post and select video from media
3. delete video from media library
4. return to editor and you will see "generating preview" in place of the video block, with no way to delete the block.

#### What I expected to happen
Hoping there's a way to remove the block, even if the video is no longer on the site

[2021-03-17 20:38] ghost commented on #50722
Adding a WordPress.com theme is done through Appearance -> Themes, while adding a WordPress.org theme is done through Appearance -> Add New Theme.

It's generally confusing to have two versions of the same screen surfaced as separate menu items. I imagine this will be the case regardless of a user's familiarity with the nuances between Core and Dotcom.

Since this is WordPress.com, it makes sense

[2021-03-17 20:57] noteeth commented on #51151
Just tested this on https://jurassic.ninja/ and it appears to be a WordPress.com specific issue.  I can remove the block once the media has been removed on the jurassic.ninja site.

<img width="1337" alt="Screen Shot 2021-03-17 at 1 54 49 PM" src="https://user-images.githubusercontent.com/16570939/111537368-96994200-8728-11eb-8689-4ac554a91467.png">

[2021-03-17 21:38] kwight opened #51154 "Sharing: Embeds are incorrectly sized when sharing to WP Admin on Atomic sites."
If an Atomic site is running a denied plugin, the user will be sent to WP Admin for the editor (instead of editing within Gutenframe). Support for sharing in this situation was added in 636-gh-Automattic/wpcomsh, but it left embeds with sizing problems. I'm not sure what embeds, if any, beyond YouTube have a similar problem.

<img width="2360" alt="Screen Shot 2021-03-17 at 2 34 00 PM" src="https:

[2021-03-17 21:48] kwight commented on #45607
This will be (mostly) fixed with 636-gh-Automattic/wpcomsh, but will leave a sizing bug with the embeds. We'll track that separately in https://github.com/Automattic/wp-calypso/issues/51154, so this issue can be closed with the `wpcomsh` merge.

[2021-03-17 22:06] mreishus commented on #41272
I have a WIP of the proxied images approach here (https://github.com/Automattic/jetpack/pull/19212), but it doesn't work. I'm not sure how to do an authenticated request to the public-api from a jetpack block. Will probably need some eyes on it if we continue to go down this route.

To summarize:
* Approach Step 0.5: https://github.com/Automattic/jetpack/pull/19201 - Removes the photonize entirely

[2021-03-17 22:09] arcangelini opened #51155 "Meet Classic Block notification"
### Steps to reproduce the behavior

1. Go to WordPress editor
2. View the "Meet the Classic Block" message and click through to dismiss it.
3. Close the page and log out of WordPress.com.
4. Log in to WordPress.com again and go to the page editor
5. View the "Meet the Classic Block" message again

#### What I expected to happen
Once this has been accepted and acknowledged this should no longer be

[2021-03-17 22:52] worldomonation commented on #50693
Additional branches are awaiting PR to be submitted to reviewers, and also to rebase on top of #51149.

[2021-03-17 22:55] alaczek opened #51157 "Signup: Height of site preview in font pairing step on mobile"
When signing up from a mobile device, the site preview presented in the font pairing step is quite short, and in effect doesn't properly showcase the site being created. Would it be possible to make the preview taller?

![IMG_3033](https://user-images.githubusercontent.com/4550351/111250987-799a3b80-8662-11eb-95e3-f9231cd3b583.PNG)

Device info:
iOS 14.4.1 / Safari

[2021-03-17 22:57] obenland commented on #21540
Possibly related: #14515

[2021-03-17 23:00] obenland commented on #23122
Fixed in #23299

[2021-03-17 23:00] #23122 closed

[2021-03-17 23:02] worldomonation commented on #35742
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-17 23:02] worldomonation commented on #35744
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-17 23:02] worldomonation commented on #35743
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-17 23:03] worldomonation commented on #35745
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue it is being closed with the label `Closed - Won't Fix`.
If this issue should remain open, please feel free to re-open this bug.

[2021-03-17 23:04] obenland commented on #33769
This seems to be fixed now. Please feel free to re-open with updated steps to reproduce if that still happens to you.

[2021-03-17 23:04] #33769 closed

[2021-03-17 23:06] worldomonation commented on #45557
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

As there has been no recent activity on this issue I would propose that this issue be closed with the label `Closed - Won't Fix`. Once work is scoped for this the issue should be re-opened.

[2021-03-17 23:06] #974 closed

[2021-03-17 23:07] obenland commented on #33768
@Aurorum Is this something you'd want to take a stab at fixing by any chance? Could be as simple as limiting list-item widths to 50% on small screens

[2021-03-17 23:11] worldomonation commented on #45935
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was unable to reproduce this issue with the following versions:
Gutenberg: v10.1.1
CoBlocks: 2.5.3
Editing Toolkit: 3.2409

https://user-images.githubusercontent.com/6549265/111550463-61e2b600-873b-11eb-9df0-a271eb8c031a.mov

As such this issue is being closed with `Closed - Not Repro

[2021-03-17 23:11] #45935 closed

[2021-03-17 23:16] obenland commented on #37658
@jeffikus Could this be fixed by setting up a theme demo site for Storefront?

[2021-03-17 23:16] worldomonation commented on #45945
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue using Firefox Developer Tools and setting the device to iPad(768x1024).

[2021-03-17 23:17] worldomonation commented on #45945
Setting Low Priority on the bug.

[2021-03-17 23:45] fullofcaffeine commented on #50775
@simison Seems it's still present. I tested with both themes on edge and I still see the problem on 10.2.0. I'll do some testing locally and create an issue.

[2021-03-17 23:48] obenland commented on #50767
I wonder if this is an effect of #50765 and the template picker running into the sidebar? In which case I'd probably close this as a duplicate.

[2021-03-18 00:42] fullofcaffeine opened #51161 "Gutenberg: v10.3.x plugin upgrade"
Previous upgrade: https://github.com/Automattic/wp-calypso/issues/50775
Release notes: [v10.3.0](https://github.com/WordPress/gutenberg/releases/tag/v10.3.0), [v10.3.1](https://github.com/WordPress/gutenberg/releases/tag/v10.3.1), [v10.3.2](https://github.com/WordPress/gutenberg/releases/tag/v10.3.2)

### Process

- [x] Install and activate
  - [x] Copy & install v10.3.0-rc.1
  - [x] Activate v10.

[2021-03-18 00:42] fullofcaffeine commented on #50775
This is done. Next one: https://github.com/Automattic/wp-calypso/issues/51161.

[2021-03-18 01:41] fullofcaffeine commented on #50775
The issue has been created here: https://github.com/WordPress/gutenberg/issues/29952. I'm also tracking here, and in the list of issues in the tracking issue for v10.3.x.

[2021-03-18 01:43] devNigel commented on #51148
Another report: 28482158-hc

[2021-03-18 01:46] melek commented on #45409
I found this problem today while trying to alter `--p2-color-link` on the sidebar of my Work P2. Glad to see an issue already filed and share that it has affected an a11n (me), so presumably some customers might bump into this occasionally as well.

I'll add that the live preview correctly displays my change as I type it in, so it was confusing when it didn't stick around.

I'll also add that on A

[2021-03-18 02:23] creativecoder commented on #51155
Whether this classic block welcome guide is shown is stored in local storage for the specific browser you are using, so it will show again across browsers, loading the editor for a different site, or if caches are cleared.

Regardless, it's probably time to remove this guide since it's been several months since the Calypso editor was deprecated (see https://github.com/Automattic/wp-calypso/issues/

[2021-03-18 02:30] creativecoder opened #51162 "Editor: button to exit editor hidden on mobile screens"
Help, I can't escape the editor!

### Steps to reproduce the behavior

1. Open the editor on a mobile sized screen

#### What I expected to happen

I can go back to the site dashboard using the "W" button at the top left.

#### What actually happened

The "W" button is hidden, and there's no visible way to navigate back to the dashboard (other than using the browser back button)

#### Browser / OS

[2021-03-18 03:17] retnonindya opened #51164 "Request: Add more information about pricing on Pricing page is for first-time purchase"
Is it possible to have some kind of information/text: “For first-time purchase”/“For new purchase only” on https://wordpress.com/pricing (non-USD page)?

Some users got confused on why they see the pricing on Plans page and https://wordpress.com/pricing different (and naturally, they prefer the cheaper price -- and this put HE with position either to defend/inform that the price for upgrades would

[2021-03-18 03:20] jordesign commented on #51164
Not sure if this is something for @Automattic/editorial to weigh in on?

[2021-03-18 03:44] retnonindya opened #51165 "Request: (Low Priority) (Nav Unification) (User Feedback) More variations on color scheme?"
A user shared their insights about WordPress.com color scheme.

A bit of context, they got caught off-guard with our unified navbar and disliked the Classic Dark color scheme since the contrast is too high (white-on-black). I'm not sure what's going on, because their dashboard color scheme was set to Classic Dark when I did initial check, so to have the white text on black background should be exp

[2021-03-18 04:00] andrewserong commented on #51151
Just a quick guess, but it sounds like the block is stuck on either the `isFetchingMedia` or `isFetchingPreview` state around this line in the VideoPress block: https://github.com/Automattic/jetpack/blob/41fe374f32d0fa35bb66b4ca492e0b337ee7c6cd/projects/plugins/jetpack/extensions/blocks/videopress/edit.js#L417

I wonder if we need something like an `isMediaNotAvailable` failure state added somewhe

[2021-03-18 05:16] belcherj commented on #49275
I cannot readily reproduce it but I have seen it in the last day or two.

[2021-03-18 05:19] belcherj commented on #49275
If I make my browser thinner I still get blank screens.
<img width="519" alt="Screen Shot 2021-03-18 at 1 17 46 AM" src="https://user-images.githubusercontent.com/6817400/111577056-fffc6d80-8787-11eb-859f-a405b29ee105.png">
<img width="707" alt="Screen Shot 2021-03-18 at 1 17 35 AM" src="https://user-images.githubusercontent.com/6817400/111577059-00950400-8788-11eb-84bd-607e0d08fc83.png">

[2021-03-18 05:37] kaitohm commented on #51014
Thanks for checking. And I missed the step I should have taken. I only tested with the user's code, and never went and got myself a new embed code.

I've gone back and collected a new link from Google Maps, and the process worked! Google Map gave me this code:

We were working with the following code the user had, which didn't work:

It seems the issue is specific to their code, or the format that

[2021-03-18 07:01] mrfoxtalbot opened #51171 "Nav Unification: WooCommerce menus not showing for Shop Managers"
Currently, WooCommerce Shop Managers are not seeing the WooCommerce menu item on the unified Nav.

![Screen Shot on 2021-03-18 at 08:03:14](https://user-images.githubusercontent.com/4452464/111586112-a2384780-87c0-11eb-9fc7-f722078ad727.png)

This report is a bit of a stub, we are still triaging it here pc4f5j-pf-p2#comment-806 as it is hard to replicate due to the fact that WordPress.com superadm

[2021-03-18 08:13] cpapazoglou commented on #50767
This is a "core" behavior. In some pages (eg Posts) the sidebar sticks to the bottom while on other pages (eg Media, Themes) the sidebar scrolls indefinitely.

This "infinite scroll" happens to pages that alter the `height` of the main content is altered after the initial load by adding elements with JS.

[2021-03-18 08:13] #50767 closed, assigned to nobody

[2021-03-18 08:19] tjcafferkey commented on #50490
This has been fixed in the latest MailPoet release

[2021-03-18 08:19] #50490 closed, assigned to nobody

[2021-03-18 08:22] garymurray commented on #49925
@timmyc @pmcpinto This looks like something that might be in your teams domain/area.

[2021-03-18 09:41] StefanNieuwenhuis opened #51175 "Domain Picker: Improve semantics"
### Why
#### A11y
Improving semantics will benefit a11y enormously since it's easier for both humans and machines to read and understand the HMTL-code. It'll also ensures equal access for people with disabilities and enables people to customize their experiences.

#### Maintenance
Using semantic markup results in very clear, standardized code, and that means you’ll save time in the long run.
Clear

[2021-03-18 10:45] #50217 closed, assigned to nobody

[2021-03-18 10:48] #50987 closed, assigned to nobody

[2021-03-18 11:06] adamziel commented on #41272
That's a really good spot 🙌

@mreishus  `is_defined('AT_PRIVACY_MODEL') && AT_PRIVACY_MODEL == 'wp_uploads'` should do the trick. It is a bit of an abstraction leak, if you want to keep things tidy you could make it a filter and handle it in wpcomsh. We even have a function for that called `Private_Site\site_is_private()`. See the "Coming Soon, Private, and Un-launched Sites" FG page for more deta

[2021-03-18 11:07] #50705 closed, assigned to BogdanUngureanu, tjcafferkey

[2021-03-18 11:16] adamziel commented on #41272
That bit is tricky to figure out on one's own. My one regret is I did not reach out earlier to @jeherve, @kraftbj, and others. Also cc @roo2

[2021-03-18 11:22] adamziel commented on #41272
@mreishus this Jetpack PR could help you get started with the authenticated request part:

https://github.com/Automattic/jetpack/pull/14984

Note the conversation surfaces some concerns about using the blog token. The gist of it is that you will need to tell the public-api proxy endpoint to accept blog tokens (they are not accepted for private sites by default). This requires a smallish backend di

[2021-03-18 11:34] pmcpinto commented on #49925
I think this is being impacted by the fact that Creative Mail and Crowdsignal automatically redirect users to their onboarding when the plugins are installed. @timmyc can you check this? Thanks!

[2021-03-18 12:02] tjcafferkey commented on #50847
### The issue

Problem 1: We are no longer tracking menu clicks in Calypso
Problem 2: We don't currently have a method to reliably track menu clicks in WP Admin

These are going to be treated separately. I'm going to focus on fixing the regression which is highlighted in _Problem 1_.

**The problem with reliable events in Calypso**

* Labels change based on language settings.
* Slugs change based

[2021-03-18 12:09] swoodipto opened #51180 "Atomic: Pages list not showing "Copy page" option even after Jetpack's "copy-post" module is on"
### Steps to reproduce the behavior

1. Go to 'My Site → Site → Pages'
2. Click the 3-dots(•••) beside a page
3. Please look for the "Copy page" option (looks as given below), it should be visible on Atomic sites:
    <img width="284" alt="78937485-79aeb600-7a65-11ea-8186-058bc5645baa" src="https://user-images.githubusercontent.com/29238672/111623132-fd455b00-880f-11eb-8b09-8379312599d2.png">
4. G

[2021-03-18 12:19] simison commented on #41272
@Automattic/view-engineering might be the best folks to support you here @mreishus, since they work in Jetpack blocks and specifically, quite a bit on Gallery blocks recently.

[2021-03-18 12:45] simison commented on #51047
@michaeldcain yo! Wanna grab this one and the above linked issue for your team as it's related to payment flows? Happy to think other teams if that works better, too. :-)

[2021-03-18 12:47] simison commented on #50732
@jeffikus @scruffian hi! does this seems like a theme issue or core issue to you?

[2021-03-18 13:00] kristastevens commented on #51164
If there's a way we can make this clearer for potential / existing customers, I think we should. How about:

"Price applies to new purchases only."

[2021-03-18 13:09] automattic-ian opened #51182 "Links to the Support pages for information on the Advanced Dashboard pages are broken for languages other than EN."
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. in any non english language
3. right click on the learn more link about advanced dashboard pages and open in new tab.
4. see 404 page in support docs. ex https://wordpress.com/de/support/account-settings/#dashboard-appearance

#### What I expected to happen
same as a regular click, I expected a page to load with the

[2021-03-18 13:11] simison commented on #50298
cc @obenland @lcollette in case this would make sense for Manage team?

[2021-03-18 13:13] simison commented on #50214
cc @fullofcaffeine @WunderBart hi! this seems like an editor integration issue — does it happen with latest editor? If not, seems safe to close.

[2021-03-18 13:13] Thelmachido commented on #48072
Another report probably related. The user is on an iPhone + Chrome and their embed is looking like this [screenshot here](https://p20.zdusercontent.com/attachment/215490/95bp5Gp3IUQ49EwITujyyhYDY?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..WW4H8sP3yCWVd4fn2hyFDg.rTebeB2KqxbsH1VIRr9jptQ6A08VtecuovzKcyobqs74zVbWdjIcfDk65mGjSZV5JC8I13gP8kJMLxXcZnJu0-IMENhaNK8xw9SeXTmiI8IjF1sDaqPRtIi1u202Tg

[2021-03-18 13:17] simison commented on #50102
Oh, I don't think the YouTube URL would work in the iframe:

`https://www.youtube.com/watch?v=yOfAuOb68Hc?rel=0&amp;showinfo=0&amp;autoplay=1`

It should come via their [embed API instead](https://developers.google.com/youtube/iframe_api_reference):

`https://www.youtube.com/embed/yOfAuOb68Hc`

[2021-03-18 13:17] cpapazoglou commented on #50847
You are right @tjcafferkey, I haven't thought about users navigating from WP Admin to WP Admin. In that case your solution makes sense.

I guess we can abuse the `$GLOBALS['menu']` here
https://github.com/Automattic/jetpack/blob/01bf918ccb0322a2b2fff2048e671ddf8fc42d2d/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L47

and by looping it and adding the identifier

[2021-03-18 13:19] cathymcbride commented on #50102
@simison does that mean this has never worked?

[2021-03-18 13:23] simison commented on #50102
@cathymcbride hard for me to imagine how it could have worked, but I could be wrong and maybe it's more recent change from YouTube.

[2021-03-18 13:24] cathymcbride commented on #51014
@bsanevans Sounds like it? I'm going to close this, but feel free to re-open if this comes up again.

[2021-03-18 13:24] #51014 closed, assigned to nobody

[2021-03-18 13:24] cpapazoglou commented on #50847
cc @mmtr who is now an expert in WordPress menu api!

[2021-03-18 13:28] simison commented on #50102
Even weirder, here it's as embed URL:

https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/blocks/inline-help/contextual-help.js#L1464-L1470

There are a lot of other YouTube videos in that list and looks like it's happening with others too, e.g. _Settings page -> Add a Site Icon._

[2021-03-18 13:28] simison commented on #50102
I'll bump this high since it's all those videos across all the sections, not just Themes.

[2021-03-18 13:31] alshakero commented on #45038
Here is my old attempt on design picker categories https://github.com/Automattic/wp-calypso/pull/45091

[2021-03-18 13:35] simison commented on #49634
@fullofcaffeine @WunderBart hi! This seems like a good Gutenberg integration issue to tackle by Team Calypso — what do you think?

[2021-03-18 13:38] simison commented on #49375
@ianstewart assuming there's been a deployment since and safe to close? Feel free to re-open if not :-)

[2021-03-18 13:38] #49375 closed, assigned to nobody

[2021-03-18 13:56] simison commented on #49374
@Automattic/team-calypso this is a bit of head-scratcher for us. Does the error tell anything to you where this problem could originate:

It happens only with Enhanced Tracking Protection enabled.

[2021-03-18 14:06] michaeldcain commented on #51047
@simison thanks for the ping! I'll add it to Shilling's board.

[2021-03-18 14:08] simison commented on #38030
@jdc91 safe to close? :-) Feel free to re-open if still an issue.

[2021-03-18 14:08] #38030 closed

[2021-03-18 14:11] simison commented on #49221
Yeah, @ianstewart and I were considering to not add this demo-content at all since removing/editing it is confusing, which would make this problem to go away as well.

[2021-03-18 14:14] michaeldcain commented on #50896
@niranjan-uma-shankar as you said, this is probably pretty high priority (broken for RTL mobile users). Is @Automattic/martech going to triage this?

[2021-03-18 14:34] ciampo commented on #51175
As discussed,

should not be flagged as an issue.

One potential solution is to change the suggestion item's wrapping component to be a `<label>` element and be paired with a hidden `<input type="radio" />` element ([A11yPen](https://a11ypen.net/s/WEorwZArOk4Fpj2T0OpE))

We should have a conversation with the design team and understand if keeping 2 variations for the suggestion items is still nece

[2021-03-18 14:58] mattsherman commented on #49925
@pmcpinto @timmyc I'll take a look at this today and update this issue with any details I find (or, link to a PR if I have a fix).

[2021-03-18 15:01] sixhours opened #51185 "Help: Site picker search is out of place"
I noticed some weirdness with the site picker search bar on the Help contact form while working on #51184:
<img width="341" alt="Screen Shot 2021-03-18 at 10 53 41 AM" src="https://user-images.githubusercontent.com/2124984/111647271-bab45c00-87d8-11eb-9494-a2059d222fe7.png">

There appears to be a selector positioning it 67px from the top. Needs more investigation.

_Originally posted by @sixhours

[2021-03-18 15:16] simison commented on #50430
@razvanpapadopol this can now be closed I assume? And other similar bugs in that flow that's no longer live for anyone?

[2021-03-18 15:19] edequalsawesome opened #51186 "WP-Admin shows a Redirect label when site has a custom domain and no site redirect upgrade"
### Steps to reproduce the behavior

1. Set a site with a primary domain that isn't a `.wordpress.com` domain
2. Go WP Admin for the site here

#### What I expected to happen
The site wouldn't show it has an active site redirect in the labels beneath the site URL in the sidebar

#### What actually happened
The site shows it has an active site redirect in the labels beneath the site URL in the side

[2021-03-18 15:23] ciampo opened #51187 "Domain Picker: split styles into smaller files"
## What

As a follow-up task after #51144, we should split the Domain Picker styles into smaller files, closer to each subcomponent

## Why

This will increase modularity and decouple the different parts of the Domain Picker component

## A/C

- [ ] Issue #51144 has been solved
- [ ] The ignored eslint rule about CSS classnames matching a file's path should be enabled again, and the necessary chan

[2021-03-18 15:26] jackiejade opened #51188 "Nav Unification: Links manager missing"
If a user is utilizing the Links Widget, they are not able to find the link manager that used to be in the sidebar of WP Admin. As seen here in the support page:

https://wordpress.com/support/blogroll/

If the user wants to edit these links they can still do so with a direct link appending `/wp-admin/link-manager.php` to their domain.

This might be good to fall under customization in the customi

[2021-03-18 15:39] CompChris opened #51189 "Nav Unification: While "Show advanced dashboard pages" is on, display user-facing way to access Calypso settings"
For users that opt to use the WP-Admin pages with Nav Unification, there isn't an easy user-side method (without a direct URL) to access the Calypso Site "Settings" page. This page includes features like changing privacy settings/coming soon, deleting a site, changing how SSO works, access to CDN settings, Podcasting setup, discussion settings, etc.

What
Link to Calypso "Settings" page at https:/

[2021-03-18 15:42] jeffgolenski commented on #50918
Gah that's right. Thanks @jeherve

@Automattic/jetpack-voyager Can we take a look at this?

[2021-03-18 15:58] mattsherman commented on #49925
I can reproduce this, and believe the fix will be to do something similar as https://github.com/Automattic/wc-calypso-bridge/pull/478

I will put together a PR to fix this.

[2021-03-18 16:03] scruffian commented on #50732
It's a core issue. We have a couple of PRs open for it:
https://github.com/WordPress/gutenberg/pull/29731
https://github.com/WordPress/gutenberg/pull/29714

[2021-03-18 16:36] mmtr opened #51190 "Nav Unification is enabled on local users for Atomic sites"
### Steps to reproduce the behavior

1. On an Atomic site, go to Jetpack > Settings.
2. Disable the "Allow users to log in to this site using WordPress.com accounts" option.
3. Go to `/wp-admin/user-new.php` and create a new user.
4. Login as the new user.
5. Add the `from=calypso-unified-menu` param to the URL to make sure nav unification gets enabled. Otherwise it'll be enabled depending on whet

[2021-03-18 16:46] BogdanUngureanu opened #51191 "Nav Unification: Reader Chevrons have different margins for folded/unfolded sections"
### Steps to reproduce the behavior

1. Go to Reader
2. Collapse and expand any section (e.g. Followed sites)
3. The chevron position changes.

#### What I expected to happen
It should remain in the same position

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![Screenshot 2021-03-18 at 18 32 27](https://user-images.githubusercontent.com/995955/111663946-f3c0

[2021-03-18 16:57] Jagjeet opened #51192 "Calling addBlock method fails for adding the Social Icons block"
## Overview
Calling `addBlock` fails for adding the Social Icons block as below:
`await gEditorComponent.addBlock( 'Social Icons' );`

Steps:
1) Call `addBlock` using 'Social Icons' or 'Social Links' from within a test case as below:
`await gEditorComponent.addBlock( 'Social Icons' );`

or

`await gEditorComponent.addBlock( 'Social Links' );`

Results ('Social Icons'):
TimeoutError: Timed out wait

[2021-03-18 17:00] Jagjeet commented on #51192
This is fixed by: https://github.com/Automattic/wp-calypso/pull/50871

[2021-03-18 17:03] mmtr commented on #51190
That's not even enough for this scenario, since there are several links with no WP Admin equivalents (e.g. My Home, Activity Log, etc) which are still unaccessible for users who don't have a WP.com account.

I took a more direct approach in 641-gh-Automattic/wpcomsh in order to simply disable Nav Unification entirely if the user is not connected to WP.com.

[2021-03-18 17:04] obenland commented on #42765
Duplicate of #40195

[2021-03-18 17:04] #42765 closed

[2021-03-18 17:06] obenland commented on #51185
Duplicate of #40195.

[2021-03-18 17:06] #51185 closed, assigned to sixhours

[2021-03-18 17:15] carladoria opened #51193 "Site visibility options (Public, Coming soon, Private) don't show when "Show advanced dashboard pages" is enabled"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/account
2. Enable "Show Advanced Dashboard Pages" in Dashboard Appearance and save changes.
3. Go to Settings > General

Options of Site Visibility (Public, coming soon, private) don't show anywhere.

Expected:  Even with the Advanced Dashboard pages option enabled, we should link somewhere in the General Settings to the Calyps

[2021-03-18 17:32] ciampo commented on #51137
Note to self on next steps, after some investigation today:

1. Refactor the hooks without changing functionality:
   - Extract logic for the `createSite` function out of the `useOnLogin` and `useOnSignup` hooks
   - Modify both hooks to accept a callback to execute. The callback will be a function that gets certain parameters (like userId and siteId). These parameters are going to be provided by

[2021-03-18 17:42] pablinos commented on #45440
This has been done with a combination of Automattic/jetpack#17826 and D52634-code

[2021-03-18 17:42] #45440 closed

[2021-03-18 17:43] pablinos commented on #36400
Automattic/jetpack#17826 fixes this issue.

[2021-03-18 17:43] #36400 closed

[2021-03-18 17:46] chrisfromthelc commented on #46802
I had a user in 28315510-hc for this.

Several reconnection attempts; had them log out and back in, cleared the connection in Publicize, but no success.

It shows Reconnect on LinkedIn, and in the Publicize RC, the connection shows broken.

[2021-03-18 18:17] #51171 closed, assigned to nobody

[2021-03-18 18:46] obenland commented on #50298
I'm not sure Manage would be able to get to it any time soon, I'm afraid, but it looks like Team Calypso already added it to their backlog.

[2021-03-18 19:06] cathymcbride commented on #50896
@jaswrks - would this be martech's?

[2021-03-18 19:19] niranjan-uma-shankar commented on #50896
We had a discussion about it in pau2Xa-2EA-p2#comment-9885. The conclusion reached was that we'd like to wait for the A/B test currently running on the plans step, described in pbxNRc-D0-p2, to finish in a few days. The treatment in that test introduces a new layout and hence fixes the bug. If it wins, we can deploy it to all users. If treatment loses, we will prioritize fixing this bug. Does that

[2021-03-18 19:21] kriskarkoski opened #51199 "Reader: Content font size has increased"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/read
2. The font size of content is too large now, appearing the same size at the title

#### What I expected

The previous styling where the content is smaller than the title.

#### What happened instead

The content font has increased.

#### Screenshot / Video

![Screen Shot 2021-03-18 at 3 19 44 PM](https://user-images.githubuse

[2021-03-18 19:31] jeyip opened #51200 "Site Editor: adjust template and template parts theme paths for Atomic revert"
## Description
When creating template / parts CPTs in an atomic site, theme stylesheets will look as expected (Ex. `tt1-blocks`, `seedlet-blocks`, etc.). However, on simple sites, themes stylesheets will be prefixed with values like `/pub` (Ex. `pub/tt1-blocks`, `pub/seedlet-blocks`), and may potentially be prefixed by other values as well. Template / parts are queried by theme, so this will cause

[2021-03-18 20:13] rcanepa commented on #50918
Hey Jeff, I just created a card on our Maintenance board: 1164141197617539-as-1200080919556443. Feel free to update it and change its priority if you think it deserves more attention.

[2021-03-18 20:25] eeeeevon13 opened #51202 "Make yearly/monthly toggle on pricing pages accessible"
The yearly/monthly toggle creates an interesting problem.  We are using a toggle UI element to allow a user to select yearly or monthly billing. But a screen reader reads it as "checked" or not checked. So there is no way for a user who is using a screen reader to understand which billing option is selected using this toggle.
Have a look at see what I mean

https://user-images.githubusercontent.co

[2021-03-18 20:31] katiebethbrown commented on #51151
Another report: 28501964-hc

[2021-03-18 20:39] obenland commented on #51199
@monsieur-z @rcanepa It looks like #51139 started including the Jetpack styles in `entry-main.css`?  [This breakpoint](https://github.com/Automattic/wp-calypso/pull/51139/files#diff-ae2cfaf8d104c254af77ba2a3db2fd7529faab92b898c7d3c779c6108df12a19R230) now gets applied in Reader.

[2021-03-18 20:45] rcanepa commented on #51199
Thanks for pointing that out. I'll revert the PR now.

[2021-03-18 21:05] khristiansnyder commented on #50126
Ran into this again today.  A good place to see this happening is on the AltoFocus theme demo site as I was able to recreate this error there.

[2021-03-18 21:13] bluefuton commented on #51199
@rcanepa reverted in https://github.com/Automattic/wp-calypso/pull/51204 and this is now resolved.

[2021-03-18 21:13] #51199 closed, assigned to nobody

[2021-03-18 21:26] ianstewart opened #51205 "Site Editor: Not loading on Ecommerce Plan"
### Steps to reproduce the behavior

1. Start the Site Editor Creation flow on Horizon.
2. Select an Ecommerce Plan in flow
3. Checkout
4. Dimiss WooCommerce Onboarding Task Checklists until you see wp-admin
5. Load Site Editor via nav sidebar
6. See Bug (screenshot below)

![image](https://user-images.githubusercontent.com/545779/111699442-219c3a00-8806-11eb-9995-9399408beff9.png)

Potentially re

[2021-03-18 21:36] ianstewart opened #51206 "Site Editor: Query Block link to open Post Editor not working on Horizon"
### Steps to reproduce the behavior

1. Open Site Editor in WP.com.
2. Add a Query Block.
3. Open block inspector sidebar.
4. Click "Create a new post." (Screenshot below.)
5. See bug. (Screenshot below.)

**Click "Create a new post."**

![image](https://user-images.githubusercontent.com/545779/111700877-05999800-8808-11eb-94d3-efaec33ed839.png)

**See bug.**

![image](https://user-images.githubus

[2021-03-18 21:50] ianstewart opened #51207 "Editor: Reconcile Editor UIs"
This is somewhat tangentially related to the Site Editor or something like an adjacent issue related to the introduction of the Site Editor on WP.com.

We'll have two slightly different Editor UIs.

![image](https://user-images.githubusercontent.com/545779/111702139-d3893580-8809-11eb-91e7-b79283d620a8.png)

![image](https://user-images.githubusercontent.com/545779/111702172-de43ca80-8809-11eb-856

[2021-03-18 22:12] p-jackson commented on #49587
Shipped in #49860

[2021-03-18 22:12] #49587 closed, assigned to nobody

[2021-03-18 22:27] dlind1 commented on #50980
That seems to be caused by [text expansion](https://www.w3.org/International/articles/article-text-size.en) not fully taken into account when designing the particular portion of the UI. In many non-English languages, the text lengths are longer which causes the button to be wider than expected and causes the horizontal scrollbar to appear.
A possible solution would be to update the css to allow al

[2021-03-18 23:06] worldomonation commented on #37543
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I took the following steps:
1. change the interface language to Japanese from `/me`.
2. start a post from one of my sites.
3. search for and insert a variety of CoBlocks.

For all blocks I have inserted they were localized to Japanese.

For additional testing, I then switched the interf

[2021-03-18 23:58] worldomonation commented on #37323
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

This issue remains reproducible as of
Gutenberg: v10.2.0
CoBlocks: 2.5.3
Editing Toolkit: 3.2465

While there has not been any activity for half a year, I suggest keeping this issue open as it does lead to a slightly confusing UX for users.

[2021-03-19 00:27] supernovia commented on #51188
I understand [we intentionally removed it](https://github.com/Automattic/wp-calypso/issues/48177). Noting another complaint here:
https://wordpress.com/forums/topic/links-258/

[2021-03-19 01:02] kcswong commented on #50574
Pinged in p1616115481143200-slack-jpop-support

[2021-03-19 01:24] retnonindya opened #51210 "Atomic site: Customizer `json_parse_error` whenever changes in Customizer are saved"
I keep seeing this issue popping up today (three times since UTC 1 — and several others before my work hours) so I opened GitHub issue for this. I don’t know what happened and how to rectify it for now — @katiebethbrown  mentioned it seems like it’s self-resolving.

---

### What happened

We received several reports that users seeing `json_parse_error` whenever they tried saving changes or drafts

[2021-03-19 02:07] retnonindya opened #51211 "WoA (Atomic): Recent update to Gutenberg (10.2.0) caused "Auto Draft" text on title appearing on every new post"
On March 18, 2021, we had Gutenberg update to 10.2.0 on Simple sites and Atomic sites. Then, a user reported that they keep seeing "Auto Draft" on the title area whenever they want to create new post. They informed that the issue happened recently and no changes happened on the website.

I checked Blog RC and I can confirm the latest update was on Gutenberg, hence this GH issue.

I checked the web

[2021-03-19 02:20] michaeldcain opened #51212 "Upsell Nudge: "free domain with plan" nudge adds a plan to the user's cart without being clear"
New users without a plan see a "Free domain with a plan" nudge in the sidebar. Clicking "upgrade" takes the user to the Domains page and, somewhat hidden, adds a Personal plan to their cart.

If the user ultimately doesn't select a domain, they're still left with a plan in their cart and will start to receive abandoned cart nudges and emails throughout the product. Given the prevalence of Happines

[2021-03-19 02:24] pauloeaquino commented on #51210
Issue encountered in 23410681-hc

[2021-03-19 02:48] pauloeaquino opened #51213 "Submitted contact form messages appearing as blank on Atomic sites"
### Steps to reproduce the behavior

1. Create a contact form
2. Submit message
3. Details will appear blank on both the summary details on front end, and feedback section

Video example: https://d.pr/v/n4piNd

![screenshot](https://d.pr/i/DVwu5l+)
![screenshot](https://d.pr/i/vopOpB+)

#### What I expected to happen
- Submitted details will display accordingly on both the front-end as well as in

[2021-03-19 03:02] kelasante opened #51214 "Contact Form Not Showing Summary Upon Submitting on Atomic Sites"
### Steps to reproduce the behavior

1. Go to an atomic site with a contact form like https://appleslices12345.blog/280-2/
2. Fill out Form
3. Submit Form
4. Summary is blank.

#### What I expected to happen
See a summary with data from form input.

#### What actually happened
Blank Summary

### Context
A user came to chat 28503917-hc with issues submitting a contact form. Tested switching themes,

[2021-03-19 03:09] kelasante commented on #51213
28503917-hc "Name" and "Email" fields appear blank upon submitting the contact form on their home page. Similar issue on my test atomic site but not on my Simple site.

[2021-03-19 03:37] retnonindya commented on #51210
From the comments on the P2, it seems like the issue is resolved when:
- The user logout-relogin
- The user is using a different browser (although there is a case where the issue happened on multiple browsers)
- The change happened one at a time (do a change, save, do a change, save...)

[2021-03-19 04:08] devNigel commented on #51213
Another report: 28507272-hc
Followup: 3835427-zen

The form submissions are empty in Feedbacks page as well.

[2021-03-19 04:19] DavidRothstein commented on #50574
The most recent one above looks a bit different, and also seems reproducible.  When I edit that page on that site in Gutenberg, all the existing PayPal blocks have empty configuration (i.e. they basically look like https://wordpress.com/support/pay-with-paypal/#create-the-button).  So something is definitely wrong with the setup on that site, but it's not clear how it broke.

[2021-03-19 06:12] jsnajdr commented on #49374
@simison I believe this is an intentional behavior of Gutenframe and Jetpack. To load the iframed editor, the user needs to be logged into the Atomic site and have site-specific auth cookies. With 3rd party cookies blocked, that login is not going to work. There is a Jetpack patch (https://github.com/Automattic/jetpack/pull/16167) that detects cookie blocking (`calypsoify_cookie_check` in query ar

[2021-03-19 06:49] Robertght commented on #51213
Another case in 1942705-hc
Follow-up: 3834995-zen

[2021-03-19 07:20] aneeshd16 commented on #50400
Hi, thanks for reporting! I can reproduce this issue reliably too, I'll be debugging and fixing this.

Steps:
1. Create a new account with a free domain and a paid monthly plan.
2. Go to http://calypso.localhost:3000/start/launch-site?siteSlug={slug}
3. Click on Skip Purchase, the page should "refresh".

I cannot reproduce the issue after removing `domain-upsell` from the flow, so it is definitely

[2021-03-19 08:31] tanjoymor commented on #51210
The problem continued throughout the evening for me. I wouldn't call it "self-resolving" but rather more randomly occurring. The most consistent factor for me was if I tried to change more than one setting before saving I would get the error. Never got the error when I only made one change. Didn't seem to matter which settings I was working in, though it was most prevalent in the Astra Customizer

[2021-03-19 08:46] StefanNieuwenhuis opened #51219 "Domain Picker: Refactor package"
### Why
Adding new features & unit/integration/e2e tests to as well as maintaining the DomainPicker component is a tedious task

### What
As a developer, I want to have a maintainable DomainPicker component.
As a user, I want a well-performing, user-friendly DomainPicker component.

### Acceptance Criteria
* The specs for the DomainPicker are well defined and we have a clear idea of how to evolve

[2021-03-19 09:27] mmtr commented on #50847
Thanks for the ping. I briefly discussed this with @tjcafferkey yesterday and agreed that adding a menu/submenu identifier in the API response is the best way forward.

However, I think the global `$submenu` doesn't have any identifier that we can re-use so we would probably need to autogenerate one based on maybe its slug.

Anyway, the goal is to keep tracking the same events that we were trackin

[2021-03-19 09:36] #51190 closed, assigned to mmtr

[2021-03-19 09:41] krutidugade commented on #51213
Another report: 28511636-hc
Follow up: 3836047-zen

[2021-03-19 09:41] simison commented on #51213
Fyi @jeherve and @Automattic/view-engineering

[2021-03-19 09:53] mmtr commented on #51190
It will apply to all users not connected to WP.com, so those with the JP connection broken should also see the default nav.

[2021-03-19 10:41] davoraltman commented on #51213
I can reproduce this on [personal blog's contact form](https://davor.blog/#contact).

Form after submission:

<img width="721" alt="Screen Shot 2021-03-19 at 11 40 34 AM" src="https://user-images.githubusercontent.com/10340370/111768217-efdbaf80-88a7-11eb-89a5-5d729a286dfe.png">

The email I received:

<img width="731" alt="Screen Shot 2021-03-19 at 11 40 59 AM" src="https://user-images.githubuser

[2021-03-19 10:44] susanjanec commented on #51213
Another report - 28512469-hc
Follow up - 3835822-zen

[2021-03-19 11:16] sophiegyo commented on #51213
I encountered another case: #18181024-hc
Follow-up: #3836182-zen
Screenshot from Feedback section:
![ronnierowland-com](https://user-images.githubusercontent.com/36608681/111772410-1bad6400-88ad-11eb-8ccf-7054bfbe28d2.png)

Front end after submitting a message:
![frontendronnierowland-com](https://user-images.githubusercontent.com/36608681/111772476-3089f780-88ad-11eb-8f8f-ed6c1a0742c0.png)

[2021-03-19 11:23] WunderBart commented on #50775
ℹ️ Upgraded to v10.2.1 patch.

[2021-03-19 11:27] sophiegyo commented on #51213
Worth noting as well - I tested this on a self-hosted site using Jetpack Version 9.5 and the message came through just fine - it seems to be specific to Atomic sites.

[2021-03-19 11:47] zdenys commented on #51210
Reported in 28467804-hc

[2021-03-19 12:09] zdenys commented on #51211
Encountered during a Quick Start session. Confusing. 3835889-zd-woothemes

[2021-03-19 12:20] synora commented on #51213
Another report 28514412hc
Follow up: 3836428-zen

[2021-03-19 12:23] razvanpapadopol opened #51229 "Design picker: extract DesignGrid component"
### What
Extract design grid from `DesignSelector` step component in Gutenboarding.

### Why
We need to re-use the component in other flows.

### A/C
- [ ] `DesignPicker` component should work anywhere in Calypso without a dependency on the Onboard store in `client/landing/gutenboarding`.
- [ ] `/new` design picking and site creation should continue to work exactly as before.

#### Follow-up
- [x]

[2021-03-19 12:34] razvanpapadopol opened #51230 "Add design step to /start onboarding"
**What**
Create a /start onboarding flow with a design step by re-using Gutenboarding design picker and API to set template, fonts, and theme to a newly created site.

**Why**
We are looking to start an experiment to allow users to pick a design in /start onboarding

**A/C**
- [ ] Desgin picker step (`start/with-design-picker/design`) appear as the last step in `start/with-design-picker` flow
- [

[2021-03-19 12:40] Robertght commented on #51213
Another report in 27363221-zen

[2021-03-19 12:48] razvanpapadopol opened #51231 "Update site creation API to enable design picker flow in /start"
### What
Site creation flow should support other `site_creation_flow` than `gutenboarding` when headstarting content with custom theme, template, fonts.

### Why
We need to use the features in /start

### A/C
- [x] Update backend to support other `site_creation_flow` than `gutenboarding` (eg: `with-design-picker`)
- [x] When calling the site creation endpoint in this supported flow, the new site s

[2021-03-19 12:58] yuliyan commented on #51064
Status update:

The issues within Calypso has been resolved with https://github.com/Automattic/wp-calypso/issues/51066, so the menu items will now be refetched when switching the language.

However, the main problem where the menu wouldn't get re-translated still remains for Atomic and Jetpack sites, since those would always return the menu items in the site language, no matter if they've been req

[2021-03-19 13:00] kriskorn commented on #51213
28515483-hc

[2021-03-19 13:20] jeherve commented on #51213
This appears to be caused by 636-gh-wpcomsh.

cc @blackjackkent Do you think you could take a look? We'll probably want to avoid applying all that logic every time a post is created. Could it be limited to just shared posts?

[2021-03-19 13:20] ivan-ottinger commented on #51213
Another report:

Chat: 28515874-hc
Follow-up: 3836550-zd-woothemes

[2021-03-19 13:27] kriskorn commented on #51213
28516038-hc

[2021-03-19 13:38] TheSteveK opened #51232 "Nav Unification: Users create only local accounts when advanced pages enabled"
When an Atomic user turns on the toggle for advanced wp-admin pages in their account settings, the user menu no longer shows the Calypso People tab, only the default user page. This is resulting in users creating local accounts instead of inviting WordPress.com users.  With SSO enabled, these new users can't login to the site.

### Steps to reproduce the behavior

1. Turn on advanced wp-admin page

[2021-03-19 13:41] razvanpapadopol opened #51233 "Setup experiment to add design picker after /start onboarding"
**What**
Use the new exPlat API (pbmo2S-HC-p2) to setup the experiment. We can also explore if feasible to run it on the backend. pbAok1-1PR-p2#comment-4193

**Why**
Check if we can help the users create more launchable site using the design picker step in onboarding p9Jlb4-26o-p2

**A/C**
- Create Experiment in Abacus (see p1617089148082600-slack-C0KDTA48Y)
  - [x] Create baseline funnel
  - [x]

[2021-03-19 13:44] jeherve commented on #51211
cc @blackjackkent Do you think this may be caused by 636-gh-wpcomsh? Do you think you could take a look?

[2021-03-19 13:48] TheSteveK commented on #51232
Workaround: Direct users to the direct Calypso link: https://wordpress.com/people/team/ and invite their users

[2021-03-19 13:54] Lazza commented on #31779
What the heck! Seriously?

[2021-03-19 13:57] csonnek commented on #51188
Another user having trouble with that link missing: https://wordpress.com/forums/topic/add-and-edit-links/

[2021-03-19 13:57] ajaykj commented on #51211
Encountered in 26429320-hc

[2021-03-19 14:23] AtrumGeost commented on #51213
Got another report here:

21644855-hc

[2021-03-19 14:31] blackjackkent commented on #51211
I'm not sure but that change is definitely having side effects so we're going to be reverting that change regardless. Will follow up to see if it undoes this bug.

[2021-03-19 14:34] blackjackkent commented on #51213
@jeherve Yep - @mreishus just submitted a revert so further refinement can be made there before it's sent live again.

[2021-03-19 14:37] mreishus commented on #45607
We had to revert the changes in 636-gh-Automattic/wpcomsh, because it was breaking contact forms on Atomic. Main issue: https://github.com/Automattic/wp-calypso/issues/51213 Possible related issue: https://github.com/Automattic/wp-calypso/issues/51211

[2021-03-19 14:40] mmtr commented on #49128
A fix for this is ready for review/testing in D59042-code.

[2021-03-19 14:44] thabotswana commented on #51211
Another report here: 28517358-hc

[2021-03-19 14:49] correliebre commented on #51213
Just in case, another report here:

28517241-hc

[2021-03-19 15:02] klimeryk commented on #40970
#41066 is for a different issue - searchging for FQDNs. This is for .blog subdomains. Which we may or may not want to surface in new onboarding. But the current signup _has_ to support them, because we have a bunch of landing sites like tech.blog, photo.blog, etc. that rely on it. So re-opening this one to keep it on your radar - otherwise I'm afraid when we switch to new onboarding 100% those sit

[2021-03-19 15:04] Aurorum commented on #33768
I'm not sure this is something which can/should be fixed with styling added to Calypso (sorry, not sure I realised that when I made this issue). It seems to be that the lists have their own styling to make them sit next to each other. If a `max-width` was to be imposed upon all lists within Calypso, I think that'd also affect those lists where they should be full width.

For example, you'd end up

[2021-03-19 15:16] kwight commented on #51211
I believe this is fixed now with the revert of 636-gh-Automattic/wpcomsh/

I get "Add title" – is that an issue?

Closing, but we can re-open if there are ongoing concerns.

[2021-03-19 15:16] #51211 closed, assigned to nobody

[2021-03-19 15:17] mreishus commented on #51213
We have reverted the 636-gh-wpcomsh patch. In my testing, I am now seeing the details of the contact form on the "Message Sent" page. However, I'm looking for the message in my email and I'm not finding it. If someone else could test on prod and let us know if there's still a problem that would help.

[2021-03-19 15:20] mreishus commented on #51213
Update: I found the message in the feedback section, under spam (my email and message were junk, so to be expected). I believe this is resolved now.

[2021-03-19 15:26] geekinthegirl commented on #51213
Just noticed the comments above, but here's one more case: 28479306-hc

[2021-03-19 15:30] kwight commented on #51210
@retnonindya @tanjoymor are you still seeing this at all? We had to revert a [change](636-gh-Automattic/wpcomsh) with a `wp_insert_post` filter on Atomic that could have affected new Customizer changesets.

[2021-03-19 15:31] razvanpapadopol commented on #50430
This bug is happening in live flows (`/start/launch-site` and `/start`) and will be probably fixed by https://github.com/Automattic/wp-calypso/pull/51021.

[2021-03-19 15:58] kwight commented on #51213
This should be resolved; we can reopen if there are cases reported happening after [this comment](https://github.com/Automattic/wp-calypso/issues/51213#issuecomment-802908368).

[2021-03-19 15:58] #51213 closed, assigned to nobody

[2021-03-19 15:58] simison opened #51238 "Clean out a script for generating screenshots for /new flow"
Before we enabled mshots screenshots in `/new/design`, we generated the screenshots manually.

There's a [feature flag that enables mshots](https://github.com/Automattic/wp-calypso/blob/trunk/config/production.json#L45), which can now be cleaned out. The script can also be removed.

Cleanup list:
- [ ] [thumbnails generator script](https://github.com/Automattic/wp-calypso/blob/d441df19aaac8b1381e2

[2021-03-19 16:14] JoshuaGoode commented on #51210
After review, it appears this was indeed fixed by the reversion of 636-gh-Automattic/wpcomsh

Updating users on p9F6qB-6DB-p2_parse_error-whenever-changes-in-customizer-are-saved/

[2021-03-19 16:23] #49492 closed, assigned to nobody

[2021-03-19 16:56] kwight commented on #51210
Thanks @JoshuaGoode , closing. 👍

[2021-03-19 16:56] #51210 closed, assigned to nobody

[2021-03-19 16:59] ciampo opened #51242 "Domain Picker: add hooks unit tests"
## What

Add unit tests to the hooks in the Domain Picker package

## Why

These hooks are used across the codebase, we should make sure that they are properly tested

## A/C

- [ ] Mock interaction with data stores
- [ ] `useDomainSuggestion` unit tests
- [ ] `usePersistentSelectedDomain` unit tests

[2021-03-19 17:03] ciampo commented on #48270
@StefanNieuwenhuis  let's make sure that the test scenarios highlighted in this PR are mentioned in #50888 too

[2021-03-19 17:11] ciampo opened #51243 "Domain Picker: add missing utils unit tests"
## What

Add unit tests to the utils in the Domain Picker package

## Why

These functions hold some key logic for the package, we should make sure that they are properly tested

## A/C

- [ ] `getDomainSuggestionsVendor` unit tests
- [ ] `mockDomainSuggestion` unit tests

[2021-03-19 17:17] ciampo opened #51244 "Domain Picker: add missing components unit tests"
## What

Add the most important unit tests to the components in the Domain Picker package

## Why

While the critical flows will be tested as integration tests (#50888), we should still ensure that other key functionality of the Domain Picker package is properly tested.

This should be achieved through unit tests, where a component in rendered in a shallow way and tested in isolation (e.g. mocking

[2021-03-19 17:24] kwight commented on #511
Closing since the Calypso editor has been deprecated, and users now only use a WP Admin version of either the Gutenberg or Classic editor.

See: pb5gDS-P5-p2

[2021-03-19 17:24] #511 closed

[2021-03-19 17:48] kwight commented on #1292
This was cleaned up at some point; I can comment on a post with Ratings enabled and not see the script in the notification.

<img width="477" alt="Screen Shot 2021-03-19 at 10 47 03 AM" src="https://user-images.githubusercontent.com/349751/111822100-9f148880-88a0-11eb-896c-9d1ffcef9d61.png">

[2021-03-19 17:48] #1292 closed

[2021-03-19 18:32] jeyip opened #51246 "Site Editor: Throws fatal error when enabled on an atomic site"
## Description
After provisioning an atomic site that is full site editing (FSE) enabled, the site and post editor stop loading upon revisiting either page.

<img width="1279" alt="Screen Shot 2021-03-19 at 11 28 59 AM" src="https://user-images.githubusercontent.com/5414230/111826784-58299180-88a6-11eb-883d-f1d2bfdbe98c.png">

## Steps to reproduce the behavior
1. Create FSE enabled site https://h

[2021-03-19 19:09] Robertght opened #51248 "Linked text: Link color option inconsistent across themes"
### Steps to reproduce the behavior

1. Create a paragraph/heading. Check the original colors in the frontend.
2. Make sure you also link the paragraph/heading. Check the link color now. it should remain the same.
3. Next, make sure you change the Link color option:
![https://d.pr/i/MTARPC](https://d.pr/i/MTARPC+)
Direct Link: https://d.pr/i/MTARPC
4. Observe the results in the editor and on the p

[2021-03-19 19:11] kwight commented on #51118
I didn't find a quick way to replicate these upsells, neither by upgrading or having a .blog domain already – any further tips to replicate?

[2021-03-19 19:18] Robertght opened #51249 "Cover block: Big font size heading not responsive"
### Steps to reproduce the behavior

This appears to affect only WordPress.com sites as it happens with multiple themes. Basically, the bigger font sizes of headings that are placed in a full width Cover block do not wrap on mobile screens or adjust their font size.
On a self-hosted site, the text wraps around the container. I'm wondering if this is an edge case to consider and if it's ok to repor

[2021-03-19 19:43] #50979 closed, assigned to nobody

[2021-03-19 19:44] jsnmoon commented on #50979
Just to be clear: This wasn't a regression, but a known defect. This has now been fixed in https://github.com/Automattic/jetpack/pull/19207.

[2021-03-19 19:51] Gilmoursa commented on #50987
Do we have a transition plan for users who do use the links feature? I've had several users ask what happened to it now that it is hidden.

For anyone who comes across this, links can be found at `/wp-admin/link-manager.php`

[2021-03-19 19:57] sixhours commented on #51118
It's possible you've already seen and dismissed the notice; cleaning out your dismiss preferences might re-enable the nudge.

If it doesn't, the logic around when to display this notice and which version to display is pretty epic: https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/current-site/notice.jsx#L144

I think it has to do with your current domain name being available for

[2021-03-19 20:16] nerrad commented on #51205
This should be fixed when WooCommerce 5.2 ships - if it doesn't, please ping me and I'll follow-up.

[2021-03-19 20:45] #50894 closed, assigned to mattwiebe

[2021-03-19 20:45] worldomonation commented on #51082
Screenshot capture is implemented, just needs to work out the pathing issue.

Next will be video capture.

[2021-03-19 20:47] obenland commented on #51193
Closing for #51189.

[2021-03-19 20:47] #51193 closed, assigned to nobody

[2021-03-19 21:15] ccwalburn opened #51252 "Nav Unification: Offer access to Share Stats"
With the new dashboard that prevents access to WP Admin, users can no longer access the Share Stats as described here:

https://wordpress.com/support/sharing/#share-stats

Can these be added to the Stats Insights?

[2021-03-19 21:43] obenland commented on #51188
@mmtr It looks like we'll have to be a bit more surgical with our approach and leave it in place for customers that are using the feature.

On Simple Sites the feature is currently kept active through a filter (see p58i-1gB-p2/#comment-13859), I wonder if we could only have that return true on sites where the links are different from the default set. Or even better, have that option reflect the tr

[2021-03-19 21:55] obenland commented on #51150
Submenu items are kept in an unassociated array but [they get inserted at the specified key](https://core.trac.wordpress.org/browser/tags/5.7/src/wp-admin/includes/plugin.php#L1455). So switching the key to 2 or 3 or something should work to make it the third item in the list.

[2021-03-19 22:02] obenland commented on #51100
Duplicate of #49309.

[2021-03-19 22:02] #51100 closed, assigned to nobody

[2021-03-19 22:13] vparkhere opened #51253 "Gutenberg v10.2.1 - Copy/Paste adding space before and after text"
### Steps to reproduce the behavior
(Windows-only issue)
1. Go to the page editor.
2. Copy some text.
3. Paste in the middle of a word.
4. See error.

#### What I expected to happen
Text that is pasted into the editor pastes only the text.
#### What actually happened
When text is pasted into the editor, a space is added before and after the pasted text.
### Context
This was previous reported and f

[2021-03-19 22:43] sophiegyo commented on #51213
Thank you! On behalf of the user I spoke to today, would anyone know if the messages sent while it was broken unretrievable (or know who to ask about that) ? They had people send contact messages and sign up for an event; but since those messages were blank they have no data.

[2021-03-19 23:37] scosgro commented on #31860
Theme is now Retired. Closing.

[2021-03-19 23:37] #31860 closed

[2021-03-19 23:45] scosgro commented on #33117
From all of my testing, this appears to have been fixed. Couldn't replicate any more.

Closing for now.

[2021-03-19 23:45] #33117 closed

[2021-03-20 04:36] erricgunawan opened #51254 "Reusable Block: Can't be converted to regular blocks if contains a deprecated Block"
### Steps to reproduce the behavior

First, add a deprecated block such as Button block by copying the exact format/text below:

[code]

This can be done by creating a new post from `/wp-admin/edit.php?post_type=wp_block` and using Classic Editor.

Note that it's not possible to add a button this way anymore, since if we insert a new Buttons block now, the correct format would be:

[code]

After t

[2021-03-20 05:58] kriskorn commented on #51213
@sophiegyo and others who might have the same question, please check out p9F6qB-6DX-p2 for more information about possibly retrieving lost data.

[2021-03-20 09:08] devNigel opened #51255 "Embed Block: Clicking on embedded file link in the editor breaks it"
When you embed a file such as PDF on the editor, the Embed block says `Click to access (filename)`. However, when you click on it, the Embed block looks broken with a sad face.

![image](https://user-images.githubusercontent.com/33957570/111864772-f68e2380-8988-11eb-9cc9-172c03179906.png)

### Steps to reproduce the behavior

1. Go to Site > Pages / Posts > Add New
2. Paste a link to a file upload

[2021-03-20 10:50] zdenys opened #51256 "Embed Block: Avoid previewing unsupported links in the Editor"
### Steps to reproduce the behavior

1. Paste a link that is not in [the supported list](https://wordpress.org/support/article/embeds/#okay-so-what-sites-can-i-embed-from) (for example `https://metro.co.uk/2021/02/27/what-i-own-steph-and-lance-who-put-down-37000-on-a-london-house-14140131/`)
2. Its preview appears in the Editor
3. View the page on the front end and see no preview of the embedded l

[2021-03-20 10:52] zdenys commented on #51256
Observed in 28531579-hc

[2021-03-20 11:11] Aurorum commented on #51252
Hi! Out of interest, is there no way to access the previous Share Stats at all, even through some obscure URL? I can try adding them to Calypso, but I just need to verify that the correct number will be displayed first.

[2021-03-20 11:47] simranvijwani commented on #46077
Another report in 28473265-hc

[2021-03-20 12:39] davipontesblog commented on #50987
@Gilmoursa I think you mentioned a good strategy to let users know to use that direct link, we could encourage them to bookmark it if they really use the feature. If you'd like to communicate the "why" behind this change, this is a change that aligns our platform with the current developments in WordPress, but we are leaving the page available for them to use via a direct link if they still need i

[2021-03-20 18:49] annezazu commented on #47117
I logged in today to write a new post and the issue is now resolved on my individual site! Feel free to close unless there are other reports I'm unaware of.

[2021-03-20 21:12] jordesign opened #51257 "Default font-family in Editor has changed for multiple WPCOM themes (where `font-family` is not defined in Editor styles)"
This is a stub issue for us to gather more information. It appears recent changes to the default Gutenberg editor styles have meant that the appearance of text in the Editor may change for users depending on:

* Whether the theme provides a editor-styles stylesheet
* Whether the Editor Styles define a default `font-family`

This change is potentially disruptive to our customers - making it harder

[2021-03-20 21:15] jordesign commented on #51257
Unsure if this is a dupe of https://github.com/Automattic/themes/issues/3280 ?

@scruffian @simison

[2021-03-21 01:27] RealCarFax opened #51258 "Embed Block: Displaying pages from own site"
This issue is specific to embedding pages from the user's own site and then viewing in Chrome or Edge.

### Steps to reproduce the behavior

For example if the Customer has a published page titled "Sample Embed Page" and they copy the link to this page then paste it into the Home page of their site. The editor automatically embeds a preview of the page, which is then displayed with the title, feat

[2021-03-21 09:52] dolgelukkig commented on #51180
This is also happening on [#3836397-zd](https://woothemes.zendesk.com/agent/tickets/3836397). I tried deactivating and reactivating the Jetpack module and also saw that there are 2 other copy and clone plugins. Tried deactivating theme as well but that didn't change anything.

[2021-03-21 11:14] susanjanec commented on #49292
When viewing this option "Edit CSS Revisions" on a Simple site for a user, they were not able to access the revisions and got the CSS revisions page error as described above. The user is on a Premium plan. Can someone confirm if the revisions are no longer available due to the nav unification, which they have applied on their site?

[2021-03-21 11:47] #43401 closed

[2021-03-21 16:10] Aurorum commented on #51252
Ah, I managed to access it. It seems like just the total number of Shares was displayed there. That should be pretty easy to add to the Insights section.

<img width="850" alt="Screenshot 2021-03-21 at 15 50 29" src="https://user-images.githubusercontent.com/43215253/111911359-31fa2200-8a5d-11eb-91e3-f6d975d53a11.png">

But there's also a deeper breakdown of how those stats are distributed regardi

[2021-03-21 16:26] ccwalburn commented on #51252
Hi @Aurorum ! This particular request was based on a user I worked with who wanted to see which post was shared the most. Our documentation made it sound like that was possible by clicking on the total number of shares:

![screenshot](https://d.pr/i/D5zegV+)
Image URL: https://d.pr/i/D5zegV

Do you see that information anywhere?

[2021-03-21 16:46] metabreakr opened #51259 "Podcast Player Block not updating on simple site upon page update/save"
The Podcast player on the homepage doesn't update automatically when they save a new podcast post.

Editor looks correct:

<img width="571" alt="Screen Shot 2021-03-18 at 13 04 56" src="https://user-images.githubusercontent.com/39252765/111913117-4aa11280-8a32-11eb-8116-14ba4abcb498.png">

Site does not:

<img width="624" alt="Screen Shot 2021-03-18 at 13 10 09" src="https://user-images.githubuser

[2021-03-21 22:04] Aurorum commented on #51252
Oh, yep. Looking into it, I don't think that information is passed to Calypso though (at least I can't find it) so that might require adding to the API first.

Just for context, here's that screen:

<img width="1683" alt="Screenshot 2021-03-21 at 21 10 08" src="https://user-images.githubusercontent.com/43215253/111921195-1e65b000-8a8b-11eb-977d-535dd80f8f01.png">

[2021-03-21 22:19] goblinartificer commented on #51189
+1 to this - in particular, access to https://wordpress.com/settings/delete-site is no longer available, and that's pretty confusing!

[2021-03-22 03:18] donalirl opened #51260 "Update Confusing "This theme is unsupported" Messaging for Third Party Themes"
### Steps to reproduce the behavior

1. Upload a third-party theme on a WordPress.com site (needs Business or eCommerce plan).
2. Go to `https://wordpress.com/themes/SITE_URL` (replace with your site URL) and click on 'Info' for the current theme.
3. Click on the 'Support' tab.

#### What happened

This message appeared:

Maybe it's a custom theme? Sorry about that.

This is confusing, because "Th

[2021-03-22 05:02] retnonindya opened #51263 "eCommerce plan: "No access" on Plugins area on websites that upgraded to eCommerce"
I've been seeing two incidents about this since last week so I decided to open GH issue here. Feel free to point me to the right direction/right repo! Thank youuu!

Reports:

First report:
p9F6qB-6DQ-p2

Second report:
p9F6qB-6Eu-p2

However, I can't replicate this issue (I upgraded my test site to eCommerce plan and I able to access the Plugins area after the website is upgraded to eCommerce plan

[2021-03-22 05:28] autumnfjeld commented on #42679
@p-jackson @davipontesblog
I have a memory of @andrewserong addressing this, such that the preview to matches the theme.  Is [this update](pbAok1-1QJ-p2#comment-3863) the same thing that is being discussed here?

[2021-03-22 05:40] #49240 closed, assigned to roo2

[2021-03-22 05:42] kosiew commented on #49292
Reopening issue.

#3838243-zen

getting The page requested does not exist
at wp-admin/themes.php?page=editcss

[2021-03-22 05:57] autumnfjeld commented on #49239
Thanks @davipontesblog . I see I am missing a step in my board tidying :) I need to close issue and move it to done!  Or I think it will be moved automattically to done.

[2021-03-22 05:57] #49239 closed, assigned to autumnfjeld

[2021-03-22 06:00] andrewserong commented on #50919
I've created a diff to cheat rendering the Slideshow block in a static way, which should 🤞 work around the mShots rendering issue for this block: D59099-code — the diff will add an additional param for the endpoint to generate the preview, so if it all looks good and gets merged in, I'll create a small PR for Gutenboarding to use the param in the design step.

[2021-03-22 07:35] flootr commented on #43867
Keep it open. Will provide a PR.

[2021-03-22 07:59] jeyip commented on #51246
Apparently the global styles feature also relies on a custom post type that uses theme stylesheet pathing (similar to how FSE template / parts do).

## Stack Trace
- The PHP error logs point us here where `get_user_data()` is invoked ( [Link](https://github.com/WordPress/gutenberg/blob/a5395f8e4a88b59816af1753a558c0e1208430bb/lib/class-wp-theme-json-resolver.php#L431) )
- `get_user_data()` is defi

[2021-03-22 08:01] jeyip commented on #50659
~Quick update:~

~This issue is blocked by https://github.com/Automattic/wp-calypso/issues/51246. We can't verify that our updates to the atomic transfer process fix loading issues for template / part CPTs because there is a separate problem causing fatal errors in the post and site editors. They throw a white screen of death.~

Edit: This issue is no longer blocked

[2021-03-22 08:18] retnonindya opened #51266 "Jetpack Activity log: Cron job pulling incorrect user to display on Activity log"
Reference:
p9F6qB-6Dr-p2

The P2 post above already solved, but I want to open GH issue to bring this for developer awareness and to improve on how we display information on Activity log.

A user was curious as they found their **subscriber** name displayed on Activity log as the one who is responsible for plugin update. This is not possible as subscribers should not have any access to website's d

[2021-03-22 08:55] simison commented on #51257
Seems duplicative to me but I'll let Themers decide. :-)

[2021-03-22 09:00] syds87 commented on #51252
Hi!

I had a similar report on #3838128-ZD.

[2021-03-22 09:24] mmtr commented on #49292
Thanks for reopening. It's been likely reintroduced by https://github.com/Automattic/jetpack/pull/19114.

[2021-03-22 10:31] StefanNieuwenhuis opened #51268 "DomainPicker: Fix InfoTooltip unit tests"
Blocked by #51175

### Why
As a developer, I want to ensure that the InfoTooltip component works properly.

### What
The current unit tests are stale and have to be updated

### A/C
* [ ] The unit tests for InfoTooltip are enabled
* [ ] The unit tests for InfoTooltip all pass

[2021-03-22 11:09] tyxla commented on #43867
Nice. Adding low priority because it's just a naming one.

[2021-03-22 11:18] scruffian commented on #51257
It could be caused by https://github.com/WordPress/gutenberg/pull/30080, but I'm happy to close in favour of https://github.com/Automattic/themes/issues/3280

[2021-03-22 11:18] #51257 closed, assigned to nobody

[2021-03-22 12:09] oandregal commented on #51246
https://github.com/WordPress/gutenberg/pull/30088 will help fixing this as well.

[2021-03-22 12:22] davipontesblog commented on #47117
@annezazu thanks for reporting back on this. Let's close the issue for now and reopen if it ever comes up again.

[2021-03-22 12:22] #47117 closed

[2021-03-22 12:38] simison commented on #50758
@ollierozdarz yeah, I meant _Launch_ button on mobile can be hidden because it's still better than the broken header. If there's an alternative that we can implement after hiding, great! :-)

There was a core issue previously (that got since fixed) where plugins would get stacked even when there wasn't space, but they're since getting hidden in the three dots menu.

@alshakero @roo2 let's hide the

[2021-03-22 12:45] razvanpapadopol opened #51270 "Focused Launch: re-add e2e tests for free flow"
**Update**: Focused launch e2e tests were removed in https://github.com/Automattic/wp-calypso/pull/55995
___
**What**
Add e2e tests for Focused Launch flow

**Why**
Focused Launch is now rolled out for `/new` users and AnchorFM flow.

**A/C**
- [ ] Re-add e2e tests code (removed as part of https://github.com/Automattic/wp-calypso/issues/53118)
- [x] Cover with E2E tests the Free Launch flow for a

[2021-03-22 12:49] edwinho89 opened #51271 "Blog Post Block: "Load More Post" Button Displays Long Encoded Characters Excerpts"
When click on "Load More Posts" button, posts below appeared to have displayed much longer excerpts with encoded characters (like Chinese or Japanese words)

### Steps to reproduce the behavior

1. Publish a few posts with encoded, non-English characters in contents.
2. Create a page with Blog Post Block - Enable Show "Load more posts" Button and "Show Excerpt"
3. Publish page, click on "Load more

[2021-03-22 12:51] WunderBart commented on #50775
ℹ️ Hotfixed the [missing default font for non-FSE themes](https://github.com/Automattic/themes/issues/3280) bug on Simple sites via D59109-code. Atomic sites will receive the update with the v10.3.0 upgrade.

[2021-03-22 12:52] razvanpapadopol opened #51272 "Focused Launch: Add e2e tests for paid flow"
**What**
Add e2e tests for Focused Launch paid flow

**Why**
Focused Launch is now rolled out for `/new` users and AnchorFM and 50% of `/start` users

**A/C**
- [ ] Paid flow for a site with Free plan (details in https://github.com/Automattic/wp-calypso/issues/46943#issuecomment-779895421)
  - Extract Editor Checkout Modal e2e test into a flow like https://github.com/Automattic/wp-calypso/blob/tru

[2021-03-22 12:53] razvanpapadopol opened #51273 "Focused Launch: add e2e test coverage for i18n"
**What**
Add e2e tests to check i18n of Focused Launch

**Why**
Focused Launch is now rolled out AnchorFM (all locales) and 50% of `/start` users (all locales)

**A/C**
- [ ] Free flow to display translations (similar to what https://github.com/Automattic/wp-calypso/pull/51000 added to Gutenboarding)

**Related to**
#46943

[2021-03-22 13:03] mmtr commented on #51148
The link to the WP Admin dashboard was intentionally removed as requested in https://github.com/Automattic/wp-calypso/issues/50945#issuecomment-796866194.

Users who want to still access the WP Admin dashboard can do it by visiting the `/wp-admin` URL directly.

[2021-03-22 13:03] #51148 closed, assigned to nobody

[2021-03-22 13:09] mmtr commented on #51165
Thanks for reporting this, @retnonindya! I removed the Nav Unification label since different teams use it to track fixes/enhancements for Nav Unification and this is not strictly related as you pointed out.

[2021-03-22 13:18] michaeldcain commented on #51263
I can reproduce by buying an ecommerce plan on a new site. I don't think the plan upgrade is a requirement.

[2021-03-22 13:20] razvanpapadopol commented on #51137
Idea for handling Calypso Login success: pass the URL (`/start/domains/use-your-domain?source=${ window.location.href }`) to SignupForm and use it at https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/components/signup-form/index.tsx#L193

[2021-03-22 13:29] #43867 closed

[2021-03-22 13:33] aleone89 commented on #59396
Hello, this has been reported in the forums here: https://wordpress.com/forums/topic/fonts-115/

[2021-03-22 13:39] razvanpapadopol commented on #49466
On Hold until we get some data about the failures

[2021-03-22 13:48] retnonindya commented on #51165
Thank you so much, @mmtr! Yep, this is feature request so definitely not in a rush and can be considered as low priority 🙂 Thanks again!

[2021-03-22 13:49] retnonindya commented on #51211
Thank you, @kwight! And yep, "Add Title" is expected 😄 Thanks again!

[2021-03-22 13:56] Lazza opened #51274 "YouTube embeds should NOT load advertising trackers and cookies, especially before pushing "play""
**What**

This is a feature request asking to replace `www.youtube.com` with `www.youtube-nocookie.com` on automatic YouTube embeds.

**Why**

Currently my blog hosted on WP.com includes some YouTube videos. As soon as the page load, even if videos do not start and no user interaction is performed, uBlock Origin detects (and blocks) requests to:

- `googleads.g.doubleclick.net`
- `static.doublecli

[2021-03-22 13:58] mmtr commented on #51182
Thanks for reporting this, @automattic-ian! This is the expected behavior at the moment, since the account settings support article has not been translated yet to other languages.

Note that the page is not actually a 404 page, we display info at the beginning saying to the user that the page can be seen in English or translated with Google Translate:

Going to close this issue for now, since from

[2021-03-22 13:58] #51182 closed, assigned to nobody

[2021-03-22 14:06] tyxla commented on #50298
I wonder if someone who used to work on these flows could be more suitable to take a look at this one in the meantime - @Tug or @stephanethomas or anyone from @Automattic/start-dev or @Automattic/luna perhaps?

[2021-03-22 14:38] pablinos commented on #51263
I'm hoping not, but could this be Calypsoify related? AFAIK there shouldn't be anything in the e-commerce setup flow that relies on it anymore, but there might be something we've missed

[2021-03-22 14:55] #51118 closed, assigned to sixhours

[2021-03-22 14:59] pablinos commented on #51263
Actually, I think that's not the cause. I was just worried as that was something that changed last week

[2021-03-22 15:11] razvanpapadopol commented on #50888
Fixed in https://github.com/Automattic/wp-calypso/issues/50889

[2021-03-22 15:11] #50888 closed, assigned to StefanNieuwenhuis

[2021-03-22 15:14] #51232 closed, assigned to nobody

[2021-03-22 15:17] cpapazoglou commented on #51232
The issue will be resolved when this hotfix 647-gh-Automattic/wpcomsh is deployed.

[2021-03-22 15:29] tjcafferkey commented on #49689
With the Advanced Dashboard toggle OFF the Settings > Sharing links to the Marketing > Sharing Buttons. So we will remove the item from Settings.

[2021-03-22 15:41] mreishus commented on #41272
Assuming we're talking about adding custom XHRs to fetch images, adding them to photon implementations doesn't feel right to me. `photonizedImgProps` is currently a pure function called in [render()](https://github.com/Automattic/jetpack/blob/952872321fbcdc3172a1a0e6f13bd14ebab98e32/projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/index.js#L48) and [onChange()](https://github.com/Au

[2021-03-22 15:56] tjcafferkey commented on #49275
Steps to reproduce:

1. Open reading, and all nav items
2. Scroll down the content on the right and lazy-load in new content
3. Resize window and scroll up.

[2021-03-22 15:58] cpapazoglou commented on #49364
After having a discussion about this in our team call we came down to the following:

The problem is that `masterbar` & `nav-unification` may be disabled anytime cause they alter the UX in an unwanted way (even if we decouple `nav-unification` from `masterbar`). For these Users, we can "auto" activate another module (in wpcomsh) that will **just** add the required WPCOM menus like "Hosting Configu

[2021-03-22 15:58] tjcafferkey commented on #49454
Also, how many users currently go to this page from WP Admin so we can measure impact.

cc @stephdau

[2021-03-22 16:03] mikeicode commented on #51248
I ran into this on 28383204-hc which is AT - Blank Canvas theme.

I tested this further.

**Simple site** using Blank Canvas and Twenty Twenty-One:

The preset color options don’t change the color at all:

![https://d.pr/i/MwsvDT](https://d.pr/i/MwsvDT+)

Custom colors change the color in the editor:

![https://d.pr/i/ypfqi9](https://d.pr/i/ypfqi9+)

But not on the site:

![https://d.pr/i/YmAlQc](

[2021-03-22 16:24] Sandkorner opened #51279 "A toggle for switching Email Notifications On/Off for posts you publish on simple sites."
What
I have heard from several users, that they want to have an option to switch email notifications off for their users (for one post, but it might be also for a longer time for several posts that they are publishing)

Why
This will help our users to publish their content as they see fit.

How
I would think it would be a good option to have here:
<img width="668" alt="Screenshot 2021-03-22 at 18

[2021-03-22 16:34] ianstewart opened #51280 "Nav Unification: Site Editor and Plugin menu items load slowly (or not at all)"
Not sure if related to the Nav Unification project but it seems to be:

1. Created an atomic site by uploading a plugin.
2. Installed a Block Theme ([q](https://wordpress.org/themes/q/)).
3. **Bug:** The Site Editor menu item did not show up immediately.
4. **Bug:** The Plugins menu item disappeared?
5. **Bug:** Reloaded a few times and nothing happened.
6. Reloaded again and both Site Editor menu

[2021-03-22 16:47] obenland commented on #51263
I was able to reproduce with a non-superadmin test account. @aidvu Is there a chance it could be related to 565-gh-Automattic/wpcomsh or https://github.com/Automattic/wc-calypso-bridge/pull/622?

[2021-03-22 16:51] simison commented on #51263
cc @jmdodd ☝️ because @aidvu is AFK.

[2021-03-22 16:55] obenland commented on #51280
The API request that fetches menu data takes quite a bit of time to resolve, like 2-4 sec, which is probably what created or at least contributed to the experience you describe in bug 1 & 3.

[2021-03-22 17:02] creativecoder commented on #50758
Note that this is a problem at various screen sizes, not just mobile:

**< 382px**

<img width="389" alt="gutenberg-header-lt-382" src="https://user-images.githubusercontent.com/1699996/112024208-f5343680-8b01-11eb-9bee-859f1d9ffdb5.png">

**600-728px**

<img width="621" alt="gutenberg-header-600-728" src="https://user-images.githubusercontent.com/1699996/112026489-43e2d000-8b04-11eb-8377-2c889916

[2021-03-22 17:03] tjcafferkey opened #51283 "Nav Unification: Force Posts and Pages to WP Admin on Atomic"
**What**

Force Posts and Pages to link to WP Admin on Atomic sites

**Why**

Please find the context to this change here: pbAPfg-1sT-p2
And the decision to this change here: pbAPfg-1sT-p2#comment-2895

**Acceptance criteria**

* Should a site be Atomic the links for menu items Posts and Pages should link to WP Admin regardless of the Advanced Dashboard menu toggle

[2021-03-22 17:07] tjcafferkey commented on #49944
@obenland is the solution proposed by @sfougnier above a suitable fix for this? Bearing in mind this will only be on Simple sites once https://github.com/Automattic/wp-calypso/issues/51283 is closed.

[2021-03-22 17:17] obenland commented on #49944
I like the menu item on the post/pages list.

Do we currently surface that editor preference anywhere else for Simple Sites? @sfougnier You mentioned "Writing" but I couldn't find anything there in either Calypso or wp-admin?

[2021-03-22 17:26] mikeicode opened #51284 "Profile links: Unexpected error occurred when adding site without Site Title"
If you add a site which doesn’t have a Site Title to your links under `My Profile > Profile links` there will be an error `An unexpected error occurred. Please try again later.`

### Steps to reproduce the behavior

1. Remove the Site Title from a site
2. Visit `My Profile > Profile links`
3. Add the site via `Add > Add WordPress site`
4. See error

#### What I expected to happen

Site should be a

[2021-03-22 18:27] #50775 closed, assigned to nobody

[2021-03-22 19:08] stephanethomas commented on #50298
Tug is out until the end of this month, and I have too many things on my plate for the next two weeks. And to be honest, I don't remember if that behavior is expected or not, I would have to `mgs` and check our backend code 🙂.

[2021-03-22 19:15] ghost commented on #49944
From what I can tell, no. Not outside of the content management screens.
<img width="386" alt="Screen Shot 2021-03-22 at 3 14 26 PM" src="https://user-images.githubusercontent.com/67021691/112045515-51f31980-8b21-11eb-8def-0d33b1dcdbd0.png">

It appears in the wp-admin "Writing" or "Advanced writing" screen with the Classic Editor plugin activated.
<img width="1676" alt="Screen Shot 2021-03-22 at

[2021-03-22 19:20] ciampo opened #51286 "Domain Picker: add missing integration tests"
## What

Add the Domain Picker integration tests that were listed as part of issue #50888 but were not implemented in #50889

## Why

We should integration-test the critical/happy flow (and have the rest of the tests performed as unit tests)

## A/C

- [ ] In the integration tests, only external dependencies should be mocked (e.g. data-stores), together with context (is needed) and props. Internal

[2021-03-22 19:22] ciampo commented on #50888
Opened #51286 to track the remaining part of the integration test that was not implemented in #50889

[2021-03-22 19:27] katiebethbrown opened #51287 "Payments Block Setup Not Visible At Narrow Widths (like in Columns)"
When adding Payments blocks inside columns, the block settings indicate a plan is selected, but the block is still asking for the user to click on the plan in the block itself.

The options to select the plan are not visible in the block when it is narrow, like in a column.

### Steps to reproduce the behavior

1. Add a columns block with three columns
2. Add a Payments block in one column
3. Chec