[2022-02-01 20:51] kwight opened #60731 "Seller Experience: Add a new payments pattern to the site editor."
Depends on https://github.com/Automattic/wp-calypso/issues/60717.

When the simple path user lands in the site editor, they should have a Payments block already added (within the new commerce pattern). Let's close #60717 above first, rather than trying to combine it all in one PR.

<img width="1059" alt="Screen Shot 2022-02-01 at 12 52 34 PM" src="https://user-images.githubusercontent.com/349751/1

[2022-02-01 20:51] AtrumGeost opened #60732 "FSE: Customize menu option not available on atomic sites."
EDIT - As it seems some functionalities have been updated since original ticket creation. At this point a main issue is that `customize` button does not show up consistently for Atomic sites when running any FSE themes, even if they are running plugins or themes that add customizer settings.

Customize should always be available when any theme or plugin is active that adds features to the customiz

[2022-02-01 21:13] dcoleonline commented on #58923
Another in 33908238-hc

[2022-02-01 21:15] dcoleonline commented on #58923
Also 4740572-zen

[2022-02-01 21:17] kwight opened #60733 "Anchor: A user could not have their preferred site due to a signup bug."
A user was blocked from using their preferred site domain because they signed up while https://github.com/Automattic/wp-calypso/issues/59738 was active; because the signup couldn't complete, their domain was taken, but not attached to their Anchor account. Since we don't support linking existing sites, they were stopped from using their preferred address.

I'm not sure if it's possible, but let's

[2022-02-01 21:27] kwight commented on #52562
The above PRs and issues have been resolved, closing.

[2022-02-01 21:27] #52562 closed, assigned to DanielSmithMichigan

[2022-02-01 21:29] kwight commented on #40310
There was an internal decision to keep the theme switch modals as they are, instead of introducing the retired theme info: https://github.com/Automattic/wp-calypso/pull/40793#issuecomment-897926213

[2022-02-01 21:29] #40310 closed

[2022-02-01 21:29] obenland opened #60735 "Marketplace: Single plugin view crashes in All my Sites"
### Quick summary

It looks like plugin details can't be viewed when in All My Sites > Plugins.

### Steps to reproduce

Navigate to https://wordpress.com/plugins/gutenberg.

### What you expected to happen

A plugin details page to appear.

### What actually happened

<img width="1511" alt="Screen Shot 2022-02-01 at 1 29 12 PM" src="https://user-images.githubusercontent.com/1398304/152054434-e373

[2022-02-01 21:31] kwight commented on #54821
Fixed by https://github.com/Automattic/wp-calypso/pull/54979

[2022-02-01 21:31] #54821 closed, assigned to blackjackkent

[2022-02-01 21:32] kwight commented on #54727
Resolved in #54774.

[2022-02-01 21:32] #54727 closed, assigned to nobody

[2022-02-01 21:33] kwight commented on #53753
Closing as not terribly relevant these days.

[2022-02-01 21:33] #53753 closed, assigned to nobody

[2022-02-01 21:33] sstabrizi opened #60736 "Set default active tab for Donation Block"
### What

The donation block has the is-active class set by default on the “one-time” heading which then triggers the content inside the tab to change. The suggestion is that we provide a way for the user to select or change the default tab (i.e. monthly, annually).

### Why

Currently, the only way to do this would be for the user to add custom JS through a plugin. This would erase that need.

##

[2022-02-01 21:42] kwight commented on #54651
This no longer happens, it must have been corrected at some point.

[2022-02-01 21:42] #54651 closed, assigned to sixhours

[2022-02-01 21:52] mreishus commented on #51594
I've been researching this and it's definitely not as simple as setting the `blog_upload_space` option, like we do on simple.

## I believe our next steps are:

* Change the Atomic `create-site` API to accept a variable representing the amount of space to be set as disk-quota when making the new site.
* Change the Atomic transfer code to examine a site's plan, determine the amount of space to be p

[2022-02-01 21:55] Gilmoursa commented on #60469
Another report in 4740679-zd

[2022-02-01 22:13] kwight commented on #60710
@nelsonec87 Oh, this isn't quite correct; the simple flow is included in any paid plan, the Woo flow is included in any Business or Ecommerce plan.

[2022-02-01 22:17] obenland commented on #51594
Thank you for this detailed update @mreishus!

In Planning we said we should start with improving the experience on Atomic before turning to plan up/downgrades and transfers. Looking through the list of next steps you outlined, I'm thinking it would make sense to not limit us in that way for the upload space work, but rather fix it in all stages.

Rather than checking the plan, I wonder if we coul

[2022-02-01 22:23] mreishus commented on #51594
Yes, this should work. Plans are bundles of products, and I believe the current plan definitions match what we want. Personal comes with WPCOM_SPACE_3GB, which represents 6 gb of space, and Business+Ecommerce come with WPCOM_SPACE_100GB, which represents 200gb of space.

[2022-02-01 22:59] worldomonation commented on #55948
Reopening because I misunderstood this to be for `basic post flow` when in fact it is `basic page flow`.

[2022-02-01 23:07] JulianBustamante commented on #60442
Diff Created D74219-code

[2022-02-01 23:12] katiebethbrown opened #60741 "Simple sites only: CSS Gap Property Being Stripped From Customizer"
### Quick summary

Custom CSS containing the `gap` property is stripped from simple sites on save.

### Steps to reproduce

1. Edit the additional CSS on a simple site.
2. Set the gap property.
3. Save.

ie:

<img width="297" alt="CleanShot 2022-02-01 at 16 09 04@2x" src="https://user-images.githubusercontent.com/42279181/152066832-27a21752-36b0-4787-aa5d-d785b8a85696.png">

[code]

### What you e

[2022-02-01 23:12] DustyReagan commented on #51587
Created #60734 to address the missing "Footer credit" panel in Settings. Hopefully that covers this particular issue. I'd like to move #51929 up from the backlog and look at it next, since it's closely related.

[2022-02-01 23:15] katiebethbrown commented on #60741
Also CSS Tidy Related:
- https://github.com/Automattic/wp-calypso/issues/59568

[2022-02-01 23:23] metabreakr commented on #60257
+1 to this. The social icons block should include Apple and Google podcast icons.

[2022-02-01 23:28] donalirl commented on #58923
#33977242-hc

[2022-02-01 23:59] lsl opened #60743 "WooCommerce landing page font flickering"
Seeing some font flickering on hard refresh, happens more during navigation too. Also seems to happen on the address step.

https://user-images.githubusercontent.com/811776/152071320-294272d0-adfb-4273-a772-766347a82087.mp4

Maybe just me? Maybe just Firefox? Maybe wider issue?

- [ ] Time box some investigation

[2022-02-02 00:04] Rolilink commented on #59478
Closed since we deployed all the PRs

[2022-02-02 00:04] #59478 closed, assigned to Rolilink, allilevine

[2022-02-02 00:06] #39283 closed

[2022-02-02 00:09] #60310 closed, assigned to jjchrisdiehl

[2022-02-02 00:24] wprhunt commented on #58923
4740989-zen

[2022-02-02 00:25] wprhunt commented on #58923
4741065-zen

[2022-02-02 00:37] jsnmoon opened #60744 "Task: Update post-purchase page for WordPress.com Search"
### Details

How the page currently looks:

![image](https://user-images.githubusercontent.com/4044428/152074395-74d1b696-3069-4b34-887e-76198e0257e5.png)

I recommend we update the copy to direct them to either the Search Dashboard (for atomic) or the Search Customizer (for Simple).

### Checklist

- [ ] Update post-purchase copy and link to Search Dashboard for atomic sites
- [ ] Update post-pur

[2022-02-02 00:38] cometgrrl commented on #59977
That makes so much sense. I must have changed to WP Admin view at some point, and forgotten. Another thing to add to my checklist. Thanks for the help!

[2022-02-02 01:11] Greatdane commented on #58923
Another; 33980753-hc
a WooCommerce plugin they purchased through us.

[2022-02-02 01:19] #60384 closed, assigned to p-jackson

[2022-02-02 01:21] #58212 closed, assigned to nobody

[2022-02-02 01:24] lsl commented on #59190
Yes, I think so, not something for this sprint, just thinking out loud.

Yes I think that's fine.

[2022-02-02 01:26] lsl commented on #59190
Remainder todo after https://github.com/Automattic/wp-calypso/pull/60697
- [ ] Replace illustration with new one (The shopping bags one is fine for now)
- [ ] Spacing / whitespace / margins need fixing up
- [ ] Delete removed images (I don't think anything else uses them) https://github.com/Automattic/wp-calypso/pull/60742
- [ ] Update colophon link to plugins/woocommerce/ https://github.com/Autom

[2022-02-02 01:55] autumnfjeld opened #60746 "Try to fix dropped subscribers issue"
D73624-code

[2022-02-02 02:27] helenaartmann opened #60747 "Pullquote Block font not changing in the editor"
### Quick summary

Pullquote block font is not changing when we try to change it in the editor as per this gif: https://d.pr/v/sPb5E2

### Steps to reproduce

1. Open the editor
2. Add block pullquote
3. add a quote
4. try changing the font size using custom
5. font doesn't change
6. changes spacing instead of the font. Seems like it changes top padding instead

### What you expected to happen

Fo

[2022-02-02 02:33] #60472 closed, assigned to p-jackson

[2022-02-02 02:53] essleeung commented on #58923
Another here: 33980737-hc
Elementor pro & Category and Taxonomy Image

[2022-02-02 03:08] jordesign opened #60748 "Plugin Upload: Uploading plugins fails on Atomic Sites"
### Quick summary

When attempting to manually upload a plugin file (ZIP) on Atomic sites - an error is received.
`We're sorry, but an unexpected error has occurred`

### Steps to reproduce

1. Go to 'Plugins' on an Atomic Site and click 'Upload'
2. upload a file

### What you expected to happen

I should be able to upload a file and have the plugin installed

### What actually happened

An error

[2022-02-02 03:53] #60116 closed

[2022-02-02 03:54] #60115 closed, assigned to nobody

[2022-02-02 04:02] nagpai opened #60750 "FSE / Calypso : Theme filter for FSE themes needed"
### What

The calypso theme library (for WPcom sites) does not seem to have any filter for FSE compatible sites.

### Why

I had a couple of users trying to enable FSE on incompatible themes and wondering where the feature is.

#32886047-hc

### How

_No response_

[2022-02-02 04:18] gavande1 commented on #60748
The fix is deployed in [Uploading plugins fails on Atomic Sites #60749](https://github.com/Automattic/wp-calypso/pull/60749). Closing the issue.

[2022-02-02 04:37] p-jackson commented on #59025
Closing. Support for premium themes in the design picker when the site already had a premium plan shipped on the 20th Jan 2022 pdgK6S-iY-p2

[2022-02-02 04:37] #59025 closed, assigned to arthur791004

[2022-02-02 04:39] Greatdane commented on #60726
@ahmadbaig1 could you upload the screenshot again please 🙇

[2022-02-02 04:56] p-jackson commented on #59229
Launching 🎉
pdgK6S-wB-p2

[2022-02-02 05:04] Greatdane commented on #60483
@liviopv I agree with this, but are we sure when going Atomic, all sites have this turned on by default? I looked at a recent test site of mine and the setting is OFF.

[2022-02-02 05:07] Greatdane commented on #60703
I wonder if we can set it by default in the HTML anchor like we do for headings now?

[2022-02-02 05:09] Greatdane commented on #58923
Closing in favour of https://github.com/Automattic/wp-calypso/issues/60748

[2022-02-02 05:11] #59229 closed, assigned to arthur791004

[2022-02-02 05:19] Greatdane commented on #60685
It [looks like](https://www.w3.org/WAI/GL/WCAG20/tests/test3.html) the recommended max ALT text length is about 100 characters. Just like the title, it is supposed to be short, and not too descriptive.

Closing this one for now.

[2022-02-02 05:19] #60685 closed, assigned to nobody

[2022-02-02 05:22] Greatdane commented on #59978
@Robertght I am not experiencing this problem on Chrome 97. Can you check again now? Does it happen on all sites for you?

<img width="1126" alt="Markup 2022-02-02 at 14 21 00" src="https://user-images.githubusercontent.com/5075840/152097529-89c134ba-865c-4dc5-ade9-7b7888254ea0.png">

[2022-02-02 05:23] KokkieH commented on #59140
Another request in https://wordpress.com/forums/topic/add-proper-spell-checker-for-deskop-app/?view=all

[2022-02-02 05:28] KokkieH opened #60751 "Desktop app: Add in-editor search"
### What

Add an option to search for text inside a specific post in the editor - as can be done by pressing Ctrl/Cmd-F in a browser

### Why

With longer posts and pages, this would allow people to quickly find specific text they need to edit.

I can see this being useful to some people in the Reader view in the app as well.

Requested in https://wordpress.com/forums/topic/search-function-for-the

[2022-02-02 05:29] Greatdane commented on #58835
I am unable to replicate on a Simple or Atomic site. It seems to be a very internment/rare bug, so closing for now.

<img width="866" alt="Markup 2022-02-02 at 14 26 24" src="https://user-images.githubusercontent.com/5075840/152098181-2ba0eed5-9205-4628-a867-c246fef6eed4.png">

[2022-02-02 05:29] #58835 closed, assigned to nobody

[2022-02-02 05:58] #60057 closed

[2022-02-02 06:31] rw-ye commented on #57812
Another report: 4741959-zd-woothemes

[2022-02-02 07:52] druesome commented on #60648
Another report 4742076-zen

Moreover, going to Appearance > Widgets and then clicking on "Choose Songs" on the Music Player widget does not bring up the dialog to add or edit tracks.  Nothing happens when you click on it.

Screencast: https://d.pr/i/3qgn5z

[2022-02-02 07:56] claudiucelfilip commented on #50909
This should be fixed by #60184.
Closing this.

[2022-02-02 07:56] #50909 closed, assigned to nobody

[2022-02-02 07:57] claudiucelfilip commented on #54813
This should be fixed in #60184.
Closing this issue.

[2022-02-02 09:20] druesome opened #60757 "[Feature Request]: Make Archive Title Work on Query Loop Block on Search Template"
### What

Normally, when we run a search on a site, we expect to see a heading such as this on top of the results:

[code]

On a site that relies on FSE templates, we would expect the same.  The Search Template utilizes the Query Loop block to display search results.  However, when displaying search results, no heading is shown.

Adding an Archive Title within the Query Loop block doesn't seem to

[2022-02-02 10:04] csabarakasz commented on #60272
I wanted to leave a comment here, that this 4706374-zd-woothemes ticket was most likely not a bug, but a custom CSS that was added by the user and we didn't know about it, until now.

[2022-02-02 10:11] fstath opened #60758 "Reblog button copies all images to the reblogger's Media Library"
### Quick summary

When a user is reblogging using the Reblog button at the end of a post, all of that post's images are copied to the reblogger's Media Library. It has been reported by one of our forum volunteers as a possible copyright issue.

### Steps to reproduce

1. Go to a post that has the reblog option enabled.
2. Click on the Reblog button and publish the post on your own blog.
3. Open y

[2022-02-02 11:05] daria2303 commented on #52728
4742534-zd-woothemes would like to be informed when solved

[2022-02-02 11:12] gcsecsey opened #60760 "`e.startsWith is not a function` error when loading plugin page"
Related convo: pdh6GB-d4-p2#comment-587

[2022-02-02 11:32] cpapazoglou commented on #60444
Probably a new educating article would be better. @vajrasar any ideas who can pick up this task of creating some education material regarding SEO and domains?

[2022-02-02 12:39] cpapazoglou commented on #58457
@vajrasar can we assign this task to someone who can undertake the above tasks (creating macros etc)

[2022-02-02 12:44] #60552 closed, assigned to WBerredo

[2022-02-02 13:02] fresatomica opened #60765 "Add a Search&Replace option for links"
### What

A user suggested adding an option to search&replace links on the site automatically, rather than having to do it manually

### Why

It would save time when having to change links that changed on old posts:
https://wordpress.com/forums/topic/convert-all-download-links-from-http-to-https/.

### How

_No response_

[2022-02-02 13:23] #60735 closed, assigned to cpapazoglou

[2022-02-02 13:56] jorpdesigns commented on #52556
Similar report here: 8091525-hc

User screenshot:
![user](https://user-images.githubusercontent.com/40006288/152167243-8713815b-2b85-44a7-9381-f2b1fbd42175.png)

My screenshot:
<img width="1265" alt="mine" src="https://user-images.githubusercontent.com/40006288/152167266-bccd27c7-1a25-4dc7-8923-e78d4d62cdeb.png">

[2022-02-02 14:06] #60316 closed, assigned to sixhours

[2022-02-02 14:34] mmtr commented on #51591
After the work done by the Atomic Downgrade pod, any Atomic site with a plan expired after October 2021 is automatically  reverted to Simple. That makes me wonder: do we actually need to support ads on Atomic now that free Atomic sites is something we're actively preventing?

While it's true that we still have a backlog of free Atomic sites existing before October 2021, the Atomic team will eventu

[2022-02-02 14:59] cpapazoglou opened #60769 "Plugin Details: indicate when a plugin has a paid version"
Yoast premium has also a free version. While user might directly discover Yoast premium there will also be cases where users go straight ahead to the free version.

How can we better indicate that there is a paid version too directly in Plugin Details page?

### UPDATE
- [ ] add "Premium version available", when searching the jetpack index for `org_slug` returns a result

<img width="890" alt="Cle

[2022-02-02 15:15] ChrissiePollock opened #60770 "Turkish Characters Don't Appear in Search"
### Quick summary

When one searches for a product using non-English characters, the search yields no result.

![HTlJyR](https://user-images.githubusercontent.com/2545184/152181491-2b5ed51a-794c-417c-8bfd-26b138a0dfda.png)

![PgyShR](https://user-images.githubusercontent.com/2545184/152181531-ebdd80e8-9e13-452d-b689-ca48d55e77bc.png)

### Steps to reproduce

1. Create a product with a non-English

[2022-02-02 15:19] Gustavo-Hilario opened #60771 "Twenty-Eleven > Quote Block: unable to italicize words"
### Quick summary

With a `Twenty-Eleven` theme, if we add a `Quote block` and set it to use any appearance on the block settings, we won't be able to italicize words or sentences.

### Steps to reproduce

1. Add a `Quote` block to a page or post.
2. In the block settings, set `Appearance` to use any style except *italic*.
3. Try to italicize some words or sentences using the block toolbar or ⌘ +

[2022-02-02 15:24] #51587 closed, assigned to DustyReagan

[2022-02-02 15:50] jartes commented on #56010
I had two interactions with the same issue: 23690603-hc, 32536486-hc

They changed their domain name servers to WordPress.com, and then, their "email service" was lost.

Is it possible when connecting a domain to display a list of the "Public DNS records" and an option to automatically add them? Making this optional (but recommended).

[2022-02-02 15:51] liviopv commented on #60469
4742554-zen

[2022-02-02 16:38] #60345 closed, assigned to escapemanuele

[2022-02-02 16:44] #46141 closed

[2022-02-02 17:11] Addison-Stavlo commented on #60723
To clarify, is the goal for all universal themes to run in FSE mode? So the main differences between universal and standard block-based themes is the extra goo we enable for universal such as the customizer? And would it be ok to turn on FSE for everyone currently running a universal theme in classic mode?

If that all is the case, I think either approach allows us to get rid of the site option fo

[2022-02-02 17:13] katiebethbrown opened #60774 "FSE: Contact Forms Added To Templates Via the Site Editor Don't Show Submission Responses"
### Quick summary

Jetpack contact forms added directly to templates in the site editor do not show the response when submitted.

The contact form submissions do go through, but the confirmation does not display.

### Steps to reproduce

1. Activate a FSE theme.
2. Open the Site Editor.
3. Add a Contact Form to a Template.
4. View the post or page on the live site, and submit a form response.

###

[2022-02-02 17:37] ezebecke commented on #60563
Another report on 33722616-hc

[2022-02-02 17:50] cuemarie commented on #60597
Hey! I was able to get a Cover Block with video content to respond appropriately on mobile. On my iPhone+Safari browser it took a little time to load before it played, but the image appeared right away. On my iPhone + Chrome browser it loaded right away, see brief recording below:

https://user-images.githubusercontent.com/27249804/152208886-badc2a6b-ecbc-45af-8e17-770edaf78dcd.mp4

I ran this tes

[2022-02-02 18:27] obenland commented on #52214
I noticed a similar symptom of nav unification impacting yoast premium yesterday p1643666403243409-slack-C029JEQRVRT

I'm not sure if there is already a stylesheet for misc nav unification fixes, if there is it probably doesn't hurt to add a fix for this there. Generally, I think, this is something that could be fixed on the Yoast side to account for WP.com circumstances.

[2022-02-02 18:34] sajmes commented on #39956
Please notify this user when this is fixed. For now, they are working around it by using a Columns block instead.

4738719-zd

[2022-02-02 19:06] mreishus commented on #51594
In my testing, simple sites are accurately reporting storage used: :heavy_check_mark:
*  through the storage-media endpoint,
* in the UI displayed to the user in the calypso media gallery
* in the UI displayed to the user in  wp-admin upload.php

They are also preventing uploads that would go beyond their allotted space. :heavy_check_mark:

The functions being used are `get_space_allowed()` and `g

[2022-02-02 19:12] kathrynwp commented on #60510
I was finally able to re-activate Stewart by switching to another theme, adding the `fse-eligible` sticker to the site, clicking the FSE - Beta tab in the showcase, and scrolling down to find Stewart.

I was **not** able to replicate the issue, so will go ahead and close this.

[2022-02-02 19:14] #60510 closed, assigned to nobody

[2022-02-02 19:52] vindl commented on #60723
Yes, but...

I was thinking only for sites that make a theme switch to a universal theme. We'll enable it to everyone at some point after that, but we need to run some email/marketing announcements prior to switching them.

We could add a `calypso_fse_enrolled` event for them to track them, but I don't think we'll need a separate sticker anymore?

[2022-02-02 20:05] sajmes commented on #60597
It's possible this is down to the video file itself. I added the user's .mp4 version next to a Pexels .mp4 on a test AT site here: https://2twentythree2021.wpcomstaging.com/24-2/

The top video (user's) does not load on mobile, while the bottom video (Pexel) does. Both were uploaded to the Media Library and then added to a Cover Block.

I thought this could just be due to size but the Pexels is 7.

[2022-02-02 20:09] #60678 closed, assigned to allilevine, arunsathiya

[2022-02-02 20:15] brinbliss commented on #53626
Two more today, both fixed by turning it back to Coming Soon and then Public again:
4725606-ZD
33982995-HC

[2022-02-02 20:15] msilbers commented on #59566
reported by 33995772-hc

[2022-02-02 20:30] Sandkorner commented on #60770
As I had a discussion here as well, going deeper a bit into the issue, I open this ticket: 4742579-ZEN

[2022-02-02 20:39] msilbers commented on #60623
This is a bad experience for customers! I have one who is now afraid to change themes. 33911246-hc

[2022-02-02 20:44] kwight commented on #60413
Also see: https://github.com/Automattic/wp-calypso/pull/60772#issuecomment-1028341100

[2022-02-02 20:48] #60710 closed, assigned to nelsonec87

[2022-02-02 21:33] #60558 closed, assigned to blackjackkent

[2022-02-02 22:29] mreishus commented on #51594
## Investigating Atomic storage reporting

### Media Endpoint Storage Reporting (Atomic)

The media endpoint is used by calypso to display the space used and available in the calypso media page:
<img width="230" alt="Screen_Shot_2021-06-09_at_1 42 21_PM" src="https://user-images.githubusercontent.com/937354/152244671-44e8450d-a318-41d3-bd84-51d429193b01.png">

I had a personal **simple** site with

[2022-02-02 23:00] metabreakr opened #60785 "Radcliffe 2: Tag cloud styles not applied"
### Quick summary

In the Radcliffe 2 theme, the tag cloud does not render with outlines despite being set in the block setting.

### Steps to reproduce

1. Activate Radcliffe 2
2. Create a new page, adding the tag cloud block
3. Ensure that the block is styled with outlines
4. Observe on the rendered page that the outlines are not present

### What you expected to happen

I expected this:

![Anno

[2022-02-02 23:02] arinoch commented on #55175
Another case in 4744578-zd-woothemes. I changed the display name in CLI.

[2022-02-02 23:24] metabreakr commented on #60469
https://wordpress.com/forums/topic/dragging-and-dropping-images-with-the-classic-editor/

[2022-02-03 00:05] glendaviesnz commented on #60435
I was able to replicate this on a local dev install but only when the CoBlocks plugin was activated. The page performance seems fine with a Gallery block, but as soon as you activate CoBlocks there are long delays in typing and CPU usage of the tab goes 100%+

[2022-02-03 01:04] lsl opened #60788 "Woo landing: Icon alignment + mobile"
Make the icons in footer section align with text as shown in figma

r6eTqDpL2GGk96hcPLhsBb-fi-877%3A2069

Before
![Screenshot 2022-02-03 at 10-59-24 WooCommerce — WordPress com](https://user-images.githubusercontent.com/811776/152258004-109b94bb-b337-4628-8325-257163a6dde3.png)

[2022-02-03 01:06] lsl opened #60789 "Woo landing: 720 breakpoint"
PromoCards probably shouldn't stack at 720p, I think they're doing it because they don't have quite enough space with the image padding so this might be fixed by https://github.com/Automattic/wp-calypso/issues/60788

![Screenshot 2022-02-03 at 11-30-18 WooCommerce — WordPress com](https://user-images.githubusercontent.com/811776/152260916-b53bc4d2-b5fe-408b-875b-7f9b59995599.png)

[2022-02-03 01:07] lsl opened #60790 "Header heading alignment with footer heading"
Keep page header left justified, it's stretching with page size.

![Screenshot(59)](https://user-images.githubusercontent.com/811776/152261019-e82ad715-dafc-4520-8dd7-8e9329c2d661.png)

[2022-02-03 01:08] lsl opened #60791 "Woo landing: Replace landing page illustration"
Replace shopping bag illustration once we have a new one from design.

[2022-02-03 01:16] donalirl commented on #60469
Another report in #15150005-hc with a gallery inside of the Classic block.

[2022-02-03 01:20] lsl opened #60792 "Woo landing: Remove _blank from target on Learn More"
For Learn More links around calypso we normally use an inline help component we should either:
- Implement the inline help component https://github.com/Automattic/wp-calypso/pull/60787
- ~Remove _blank~
- ~Add an external link icon to the link~

[2022-02-03 01:23] lsl commented on #59190
I think we've shipped a good baseline for this. Lets close this.

There are a few more follow up [todos](https://github.com/Automattic/wp-calypso/issues/59190#issuecomment-1027488359) so I created new issues to track those independently and added them to the backlog.

[2022-02-03 01:23] #59190 closed, assigned to SaxonF

[2022-02-03 01:31] happychait opened #60793 "Google Workspace: In the billing receipts, clarify pro-rated billing for additional licenses"
### What

When a customer purchases an additional Google Workspace license, we [charge them pro-rated price](https://wordpress.com/support/add-email/adding-google-workspace-to-your-site/#cost-for-additional-google-workspace-licenses). However, the billing receipt doesn't clarify it and mentions one big discount across all the licenses as in this screenshot:
![Google Workspace billing receipt](http

[2022-02-03 02:10] glendaviesnz commented on #60435
I have logged an [issue with CoBlocks](https://github.com/godaddy-wordpress/coblocks/issues/2264) about this.

[2022-02-03 04:03] autumnfjeld commented on #55188
@jrushfinn  @mattmiklic @roo2
 Taking some key discussion points from this sister issue https://github.com/Automattic/wp-calypso/issues/55141
[Mural ideas](https://app.mural.co/t/a8c1359/m/a8c1359/1642775570168/adb041c3bcd97c52e5698c21ba19cbde07e15c61?sender=u74e9502380fc214159157096)

* Add QR code
* These app store badges should redirect to apps.wordpress.com not the app stores. On desktop, send

[2022-02-03 04:06] autumnfjeld commented on #55141
It sounds like two pieces of inter-related work are being discussed here.
1. Updating the existing "Get the WordPress app" content --> which is issue #55188 .  This is mostly cosmetic, updating content.

2. Changing the content once we know user has downloaded the app, to show more relevant messaging, which is this issue. This is a bit more complex requiring logic to determine "has user already do

[2022-02-03 04:19] lsl commented on #60318
Wasn't sure how to do this so had a look around, we can use [logToLogstash](https://github.com/Automattic/wp-calypso/blob/67f067558c8611a57cf442b34f33dd8608e0e324/client/lib/logstash/index.ts#L25), [usage example](https://github.com/Automattic/wp-calypso/blob/ed45bf41db2431314b08d786405223cfcd7ce0ab/client/my-sites/checkout/checkout-system-decider.js#L17).

[2022-02-03 04:57] Greatdane commented on #60039
Tested this. Editor always loads but has different results, such as this;

<img width="746" alt="Markup 2022-02-03 at 13 55 50" src="https://user-images.githubusercontent.com/5075840/152283639-b8836017-182d-4e8e-b696-39ea99cf8216.png">

But this is true for all plugins, including Elementor.

I am going to close this for now, but if we see more issues we can always re-open. I would expect pages wit

[2022-02-03 04:57] #60039 closed, assigned to nobody

[2022-02-03 05:00] Greatdane commented on #60209
Unable to replicate this, and user no longer has it on their blog. Closing this for now, we can re-open if the issue is replicated.

[2022-02-03 05:03] syafiqnazim commented on #60744
Hey @jsnmoon . How do I navigate to the page that you are mentioning above?

[2022-02-03 05:06] Greatdane commented on #60210
Can replicate on Atomic and Simple sites;

<img width="937" alt="Markup 2022-02-03 at 14 03 43" src="https://user-images.githubusercontent.com/5075840/152284437-25e0a37e-cfa3-4a1e-bfe1-8b7d31dcd40a.png">

Flickr embed is Calypso-based.

[2022-02-03 05:19] lsl commented on #60318
https://github.com/Automattic/wp-calypso/pull/60796

[2022-02-03 05:19] Greatdane commented on #60240
@daria2303 - I am unable to replicate this with the storefront theme and primary menu;

<img width="448" alt="Markup 2022-02-03 at 14 16 10" src="https://user-images.githubusercontent.com/5075840/152285502-aca19f74-e81a-4c3a-a354-d59d90278da0.png">

Video;

https://user-images.githubusercontent.com/5075840/152285726-21a5490d-1c00-41a4-aea6-ac977e7f22d4.mp4

Are we sure this is not an AMP setting?

[2022-02-03 05:23] lsl opened #60797 "Contact support back URL needs to account for snag error use case"
We recently improved the back url for support links https://github.com/Automattic/wp-calypso/pull/60682

I believe we originally had fixed this to the confirm step so you don't return to the transfer step and get stuck in a loop. (this predates the addition of the new steps and [sort of - not really] made sense at the time)

Let's add a url override to the component and pass it in as an optional p

[2022-02-03 05:30] Greatdane commented on #60249
Unable to replicate this - I see it in both editors;

https://user-images.githubusercontent.com/5075840/152286698-29c7d44e-acdc-40ec-93d2-4016f67731f2.mp4

@zdenys are you still experiencing this problem on FSE? (please be sure to try a new site rather than an old FSE beta enabled site).

[2022-02-03 05:30] #60249 closed, assigned to nobody

[2022-02-03 05:46] Greatdane commented on #60765
I doubt this will be implemented in Simple sites ( WordPress doesn't have its own search function anyway, just use's the browser), but there are plugins that have this functionality.

Eg, https://wordpress.org/plugins/search-replace/

Another option would be for the user to go to the code editor, copy all the code, paste it into a text editor, then do find and replace, before pasting it back into

[2022-02-03 05:46] #60765 closed, assigned to nobody

[2022-02-03 05:49] lsl commented on #60569
Going to need something we ingest at the start of the flow - need to be able to access it in other places like the contact support url

e.g. note what I've done [here](https://github.com/Automattic/wp-calypso/pull/60798/files#diff-27479408af4e300120c9425fc05d5585a74c602ff3c1f0992681591f92624700R27) will have a similar issue.

We might want to set up three different urls, start url, error url (othe

[2022-02-03 05:52] Greatdane commented on #60277
I cannot reproduce or see the screens you get when starting from https://wordpress.com/domains/

This is what I see;

<img width="1251" alt="Markup 2022-02-03 at 14 49 45" src="https://user-images.githubusercontent.com/5075840/152288619-586efe19-b479-4688-aac1-a973ad80a2eb.png">

<img width="1171" alt="Markup 2022-02-03 at 14 50 08" src="https://user-images.githubusercontent.com/5075840/152288647-

[2022-02-03 05:52] #60277 closed, assigned to nobody

[2022-02-03 06:08] lsl commented on #60790
@SaxonF do you think we need this change? In isolation it makes sense but I'm looking at other pages (Plugins, Pages) and seeing compact views. Maybe we should condense the footer content with a 1024 max width too?

[2022-02-03 06:23] vindl commented on #60723
After thinking about this some more, this might complicate things technically. If that turns out to be the case we can postpone this step for when we deal with the rest of the existing Universal theme sites.

[2022-02-03 06:43] lsl commented on #60790
Attempting to change the footer width instead https://github.com/Automattic/wp-calypso/pull/60799, it doesn't quite look right either. For now we're going to leave this as is but this inconsistency with other pages is something that needs a fix at some point.

Lets leave this open until design is able to make a judgement call on which approach makes sense.

[2022-02-03 06:45] lsl commented on #60790
Tagging this as on hold, assuming https://github.com/Automattic/wp-calypso/issues/60789 is in the same boat.

[2022-02-03 06:50] jordesign commented on #57006
I'n not able to recreate this any more on a Simple site in Chrome - closing the issue.

[2022-02-03 06:50] #57006 closed, assigned to alshakero

[2022-02-03 06:52] SaxonF commented on #60788
I think this is ok for now @lsl . It's certainly better than what's currently live. For the next iteration we can look at the icon alignment possibly using something other than the promo section component.

[2022-02-03 06:53] jordesign commented on #56797
Scrubbed and confirmed this issue - I'm not seeing any console errors when clicking the 'What's New' - just a total lack of *anything* happening.

[2022-02-03 06:53] SaxonF commented on #60788
Unless its an easy fix to move the icons next to the header, they by all means go for it :D

[2022-02-03 06:56] jordesign commented on #55283
Flagging this for some further investigation. Whilst it is the expected behaviour (thanks @bazza) that not *all* views will be assigned to a country - the larger discrepency in some of these items means it might be worth some further investigation.

[2022-02-03 07:00] rw-ye commented on #60353
User reached out to us again - 4745251-zd-woothemes

User wanted to add:

Hope this information can help.

[2022-02-03 07:07] Robertght commented on #59787
Another case in #4742855-zen

Theme: Hever

[2022-02-03 07:11] donalirl commented on #60750
I would like to suggest calling the filter "Site Editor" as that is the same term used in the interface. The terms "Full Site Editing" and "FSE" wouldn't be immediately recognizable to most users.

[2022-02-03 07:14] jordesign commented on #55081
Plane has ~100k active installs and Linen (retired) has about 3300 active installs.

It sounds as though the issue here is limited to themes that don't support Featured Images - something I suspect is likely to happen less and less often. Interested on other thoughts on prioritising this @simison @ianstewart

[2022-02-03 07:32] mriyazuddin commented on #39956
4727185-zd

[2022-02-03 07:50] #56866 closed, assigned to fushar

[2022-02-03 07:50] #54737 closed, assigned to fushar

[2022-02-03 08:08] Robertght commented on #43183
4727525-zen

[2022-02-03 08:10] daria2303 commented on #60240
@Greatdane Hi, sure, so I can still replicate it on Android when AMP is on with Standard mode, when is off, Reader, Transitional it is working. Sending video from my onlygrass.blog - you can check the site too, I will not edit it for now. It doesn't look like a setting to me, it would be rather strange not to be able to open menu.
I reported it also based on this request https://github.com/Automat

[2022-02-03 08:53] vishnugopal opened #60802 "Memoize ImportPreview"
[ImportPreview](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/import/ready/preview.tsx) must be wrapped inside a `memo()` otherwise it download the same image over and over.

[2022-02-03 08:54] vishnugopal opened #60803 "Investigate: Include metadata (like color themes) from websites during Light import."
Let's have an idea of:

1. How this will be presented to the user.
2. What does this involve in terms of customizing the imported site

[2022-02-03 08:56] vishnugopal opened #60804 "Let’s ensure that only one import at a time to a destination site is allowed."
This needs to be investigated both at the backend and the frontend. Let's test and understand behaviour.

Currently only imports of one type is allowed at a time from the frontend.

[2022-02-03 09:06] vishnugopal commented on #59247
This should work like it does in any browser. Try `https://` first, and then `http://`. This is probably a backend change.

[2022-02-03 09:07] vishnugopal opened #60805 "Explore Gutenberg AI"
Seems to be just a page now: https://try.gutenbergai.com/

[2022-02-03 09:21] kylemcph commented on #53626
Another one here: 4743468-zd-woothemes
Privacy somersault worked.

[2022-02-03 09:27] gcsecsey commented on #60760
I managed to reproduce the issue by:
- opening an incognito window
- first going to wordpress.com and logging in
- then loading `https://wordpress.com/plugins/woocommerce-shipment-tracking`

![image](https://user-images.githubusercontent.com/11555574/152315494-2518564c-39f3-483a-b78a-4d42dee26e90.png)

Here it seems the parameters arent always strings:
https://github.com/Automattic/wp-calypso/blob

[2022-02-03 09:51] carinapilar commented on #60039
I agree, the main issue here though is that for this user the editor breaks, so they can't access their content anymore. That's what I think we should troubleshoot further.

[2022-02-03 09:56] marutim commented on #60617
Another report here: 33787195-hc with the Hever theme

[2022-02-03 09:57] zdenys commented on #55815
4745838-zd-woothemes

FYI: Some work is being done for downgrades from yearly to monthly here: https://github.com/Automattic/wp-calypso/pull/59912

[2022-02-03 10:08] rickmgithub opened #60808 "Double footers on FSE"
### Quick summary

On one of the pages on my own site the footer credit appears twice.

### Steps to reproduce

<img width="1395" alt="Markup 2022-02-03 at 09 59 24" src="https://user-images.githubusercontent.com/13706336/152320791-0374d96f-5b52-4a21-9022-81a81bb2d787.png">

I couldn't see where to remove it, or why two credits were appearing.

There is a footer block in the template itself

The p

[2022-02-03 10:43] alshakero opened #60809 "Task: Move Intent Capture Screen to onboarding package"
### Details

For reusability, let's move the [`intent screen`](https://github.com/Automattic/wp-calypso/blob/add/stepper-foundatoin/client/signup/steps/intent/intent-screen.tsx) from Calypso to an independent package. I already skimmed the code and intent screen seems pretty refined and already in TypeScript. Moving it to a package shouldn't be hard.

### Notes
- Unlike [now](https://github.com/Au

[2022-02-03 11:04] alshakero opened #60810 "Use the Intent Screen upcoming package to build the intent capture step in Stepper"
### Details

Once https://github.com/Automattic/wp-calypso/issues/60809 is done. It should be easy to build the intent capture step in Stepper.

- Before building the step inside Stepper, explore a bit whether it makes sense to make the step itself a package that lives next to `intent-screen`. Steps are highly customized, so it might not be a good option, but it's worth it to explore making the st

[2022-02-03 11:27] aleone89 commented on #60335
Another report: hc-31852865

The error was:

[code]

[2022-02-03 11:34] tellisbethel commented on #53626
Another report here: 4745702-zd-woothemes
"Privacy somersault" worked. <- Tee-hee! I like that lingo.

[2022-02-03 11:58] rossanafmenezes opened #60811 "WordPress Embed Block Switches to a Git Embed Block on AT sites"
### Quick summary

This is something I found out while posting on my personal site which is Atomic (rossana.blog). I tried to add a link to a post of mine published in the [Happiness Blog](https://happinessengineer.blog/2022/01/31/5-surprising-facts-ive-learned-about-working-remotely/) and since the Reblog option does not work for AT sites I thought I could embed the post into a post on my site.

[2022-02-03 12:03] zdenys commented on #60249
I can no longer reproduce either.

[2022-02-03 12:29] gcsecsey commented on #60079
We have a hook that redirects the core plugin install calls to Calypso:
https://github.com/Automattic/wpcomsh/blob/51a665b80c90741041fedba8b040bdbb24269953/feature-plugins/masterbar.php#L247-L254

#60179 has the same root cause.

We'll need to update this hook to consider more edge cases.

[2022-02-03 12:36] gcsecsey commented on #59671
Find a solution that returns the most relevant products to the user, either from recommendations or search.

We could feed some preferences from the onboarding choices to the recommendation engine.

WC.com already uses algolia, which can serve a mechanism for both requirements. An added benefit of algolia is that it's completely hosted, and WC.com has already created some components to interact wi

[2022-02-03 13:04] #60706 closed, assigned to Addison-Stavlo

[2022-02-03 13:04] nagpai commented on #59960
Fix expected in Gutenberg 12.5 as per the patch in core here:
https://github.com/WordPress/gutenberg/issues/38002

[2022-02-03 13:15] #58930 closed, assigned to creativecoder

[2022-02-03 13:17] BogdanUngureanu opened #60814 "[Bug]: Atomic: Jetpack plugin is disabled when using Jetpack Beta Tester on free sites"
### Quick summary

Jetpack plugin remains disabled on subscription removal/expiration when the site has Jetpack Beta tester plugin installed and enabled.

### Steps to reproduce

1. Get an Atomic site with Jetpack Beta tester installed
2. Use Jetpack Beta tester to switch to Bleeding edge version of Jetpack
3. Go to Store Admin and remove the subscription the Atomic site
4. Go back to Atomic WP-Ad

[2022-02-03 13:54] zdenys commented on #58462
Is this the same as https://github.com/Automattic/wp-calypso/issues/53102? There are more reports there so merging into that one makes sense.

[2022-02-03 14:00] zdenys commented on #53102
4736381-zd-woothemes

[2022-02-03 14:37] mmtr commented on #51591
That would be a very valid case indeed @DustyReagan, thanks for bringing it up. I wonder though if we should hold off until the viability to run WooCommerce on Free plans is determined (see pdhcfv-68-p2).

[2022-02-03 14:54] mmtr commented on #51591
From a technical point of view, if we finally decide to support ads on Free Atomic sites, we'd need to port the _Freemium_ WordAds model used on Simple sites (see `wp-content/blog-plugins/wordads-classes/class-wordads-iponweb-async.php#479`) to `wpcomsh`.

Atomic sites uses the WordAds module included in Jetpack (which is different to the WordAds lib used on Simple sites), so the most immediate th

[2022-02-03 14:56] BogdanUngureanu commented on #59834
The patch was deployed in wpcom with r239502-wpcom. Feel free to pick-up the front-end improvement if it's still needed. :)

[2022-02-03 14:58] #55960 closed, assigned to dpasque

[2022-02-03 15:34] BogdanUngureanu commented on #53294
A fix for this has been deployed in r239502-wpcom. The Limited Atomic pod might continue the work with a front-end improvement [here](https://github.com/Automattic/wp-calypso/issues/59834).

[2022-02-03 15:34] #53294 closed, assigned to BogdanUngureanu

[2022-02-03 15:54] Robertght opened #60816 "Tag cloud block: wrong output message in case there are no tagged posts"
### Quick summary

If you add the tag cloud block without any posts associated with the tags, you'll see this message in the editor:

"Your site doesn’t have any tags, so there’s nothing to display here at the moment."

I noticed this is visible on a self-hosted website, which leads me to believe it's a Gutenberg thing but I cannot locate it.

### Steps to reproduce

1. Create a few tags.
2. Make

[2022-02-03 15:56] jeyip commented on #60110
I can replicate the problem. One thing to note is that, for me, it only happens when visiting the site editor from the Calypso UI. If I navigate to the full site editor from wp-admin, things appear to work as expected.

[2022-02-03 15:59] Robertght commented on #60785
Thank you for reporting this @metabreakr !

It looks like it's a general issue with Gutenberg at the moment. Closing it in favor of https://github.com/Automattic/wp-calypso/issues/60347

[2022-02-03 15:59] #60785 closed, assigned to nobody

[2022-02-03 16:01] Addison-Stavlo commented on #59818
This is a duplicate of https://github.com/Automattic/wp-calypso/issues/60110, closing in favor of that one!

[2022-02-03 16:01] #59818 closed, assigned to nobody

[2022-02-03 16:01] Robertght commented on #60347
I tested this with various themes(most of themes were Twenty 16-21, but I can see it on Spearhead and Radcliffe 2)

[2022-02-03 16:05] Robertght commented on #60347
Update: this is not an issue on self-hosted sites.

cc @chad1008 for further debugging

[2022-02-03 16:19] kwight commented on #60750
Hm, definitely something odd going on; we _do_ have an FSE tab already, that was added in https://github.com/Automattic/wp-calypso/pull/55043 (in fact, I swear I saw it a couple of days ago). 🙃 So it exists, there has to be a bug not showing it (tested today with a new FSE site):

<img width="800" alt="Screen Shot 2022-02-03 at 8 17 42 AM" src="https://user-images.githubusercontent.com/349751/1523

[2022-02-03 16:31] sixhours commented on #60750
It sounds like the FSE tab was removed on purpose recently; I initially heard about it here: p1643727468688389/1643719471.281689-slack-C01DF571R5Y

And it looks like that was done today in #60642

[2022-02-03 16:41] jrushfinn commented on #55141
@autumnfjeld Awesome! Once we have exhausted the more simple conversion optimizations we can explore more dynamic content. No need to overcomplicate initially :)

[2022-02-03 16:50] obenland commented on #51591
@ianstewart How high up the list do you see adding Ads to Atomic for free sites?

[2022-02-03 17:13] Nic-Sevic opened #60820 "Ability to revoke Jetpack credentials on AT sites"
### Quick summary

The ability to revoke credentials appears on WoA sites. This allows the user to break their jetpack in a way that they cannot fix without support help.

When this happens we can fix it with the `Autodetect main credentials` option in the VaultPress dashboard but it would be better to hide the ability in the first place

### Steps to reproduce

1. Go to https://wordpress.com/sett

[2022-02-03 17:30] DustyReagan commented on #52214
I agree. We could address this by overriding the [left value in the CSS](https://github.com/Yoast/wordpress-seo/blob/569430c76624e83b021e883aed37f1ae120c739f/css/src/admin-global.css#L538) on our end. But that's liable to break in the future when the plugin's CSS changes. The long term solution is for the Yoast plugin CSS to not require a specific width for the sidebar menu, which I think is doabl

[2022-02-03 17:35] NoHopeRadio commented on #56781
I just wanted to add that I've seen similar behavior with the same workaround with other blocks. Buttons most commonly. I think it is a larger editor issue with theme colors.

[2022-02-03 17:37] KirkwallDay commented on #56781
Instance here: 4732376-zen

Used a workaround involving changing the border color of the block to a non-theme default. Also used this CSS to remove the line that shows up in the block (Ixion Theme):

[code]

[2022-02-03 17:59] DustyReagan commented on #59834
Now that D71358-code is applied. The issue is that the plan label in the sidebar doesn't change until the page has a hard refresh. I feel like that is OK in the case of a plan change due to a subscription time-frame trigger, or a change via Store Admin. In other words, I don't feel like we need to constantly check for a plan update. However, when the user personally triggers a plan change, they sh

[2022-02-03 18:06] obenland commented on #59834
There are a few occasions where the sidebar should reload in Calypso but doesn't. Like when a comment was moderated and the count in the sidebar doesn't get updated, or a plugin gets activated/deactivated and the menu item it registers doesn't get added/removed.

When Nav Unification was built we stopped shy of iterating on that, I wonder if this effort could be an excuse to start improving that.

[2022-02-03 18:57] klimeryk opened #60823 "Signup continues using LayoutLoggedOut after logging in"
### Quick summary

While investigating why inline help form was not shown in signup, I've noticed that after the first step of signup (choosing login, password, etc.), the main layout stays [`LayoutLoggedOut`](https://github.com/Automattic/wp-calypso/blob/trunk/client/layout/logged-out.jsx). However, the user _is_ logged in at that point - which can be verified by simply refreshing the page. The p

[2022-02-03 19:24] cphilleo commented on #51591
:wave: Keeping tabs on this from the WordAds team side. What @mmtr said is correct in that we'd need to move our WordAds features into wpcomsh. This is already something that we've been considering doing in the near-ish future as the current state of using Jetpack to serve WordAds to Atomic sites leaves gaps in our product and leads to some strange customer experiences.

If Atomic on Free is somet

[2022-02-03 20:20] CompChris commented on #60353
I have another user that this is happening to, when hovering over the Carousel block (and possibly others).

12162856-hc
4747656-zd

--Gutenberg plugin on--

Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
    at Sh (https://la-parenthese-de-chacha.com/wp-content/plugins/gutenberg/vendor/react-dom.min.edd8b7a6.js:152:147)
    at Rh (https://la-

[2022-02-03 21:11] JulianBustamante commented on #60438
Diff created D74410-code

[2022-02-03 21:16] obenland commented on #60569
Discussed in State of the Board (p1643922774499119-slack-C029UPVMGTW)

Instead of three different URLs, maybe try history api and see how it works out? Or maybe store the URL the flow was entered from and carry that along? It would be good to keep the API for the first step as simple as possible

[2022-02-03 21:18] DavidRothstein commented on #55815
As long as you're staying on the same plan (e.g. "Business Yearly" => "Business Monthly"), a downgrade option actually already exists.  See https://github.com/Automattic/wp-calypso/pull/51901.  But it mainly makes sense when your yearly plan is close to expiration (since to switch to it you have to pay for a month immediately) so that's the case where it's currently highlighted as an option in Cal

[2022-02-03 21:30] obenland commented on #60743
Discussed in State of the Board (p1643923720673059-slack-C029UPVMGTW)

Might be a component re-render issue, something in our state loading maybe

[2022-02-03 21:36] #59022 closed, assigned to nobody

[2022-02-03 21:43] Gustavo-Hilario opened #60831 "Shoreditch > Paragraph: inline theme colors aren't working in the editor"
### Quick summary

Changes aren't being applied when highlighting text in the `Paragraph` block. However, if we preview the page/post, we will see the color was set correctly.

### Steps to reproduce

1. Activate the `Shoreditch` theme.
2. Add a new page or post.
3. Add a `Paragraph` block and text.
4. Select a portion of this text and try to highlight it (change color).
5. Changes won't be applie

[2022-02-03 22:02] supernovia opened #60832 "[Bug]: Latest Posts Block: Read More link does not render properly"
### Quick summary

The "read more" link in the Latest Posts block is showing up like unrendered markup. ~or in some cases, not appearing at all~

### Twenty Twenty One
<img width="627" alt="Screen Shot 2022-02-03 at 2 40 46 PM" src="https://user-images.githubusercontent.com/3476361/152434997-84dcf5f8-4316-41f5-b3b0-967810b4c016.png">

### Mayland
<img width="830" alt="Screen Shot 2022-02-03 at 2 5

[2022-02-03 22:02] obenland commented on #60788
It doesn't look to be, the icon is in a separate div and the component seems to be adamant about not floating it on small screens.

With it not being a high priority for @SaxonF, let's close as `wontfix`.

[2022-02-03 22:05] obenland commented on #60789
They start stacking for me at 1280px, albeit at full width. I've not been able to reproduce them being cut off like this

[2022-02-03 22:06] obenland commented on #60789
I just noticed the sidebar being cut off, too, which shouldn't be the case.

Are there steps to reproduce this that you can share?

[2022-02-03 22:08] sixhours commented on #60750
@Automattic/cylon does it make sense to re-add a tab that only shows FSE themes? See above concerns from HEs/users for context.

[2022-02-03 22:24] arinoch commented on #60270
If user verifications count as verifications, I have one in 4747952-zd-woothemes. They upgraded to Business, went atomic, and can no longer connect to Anchor. Currently telling them we're investigating.

[2022-02-03 22:25] DustyReagan commented on #59834
Sounds like a good idea.

I noticed when the user upgrades a plan the sidebar updates correctly. It's just not updating on downgrades. What's causing the sidebar to reload on upgrades?

[2022-02-03 22:45] DustyReagan commented on #51999
I'm leaning we leave "Site Health" in for all Atomic sites. Seems like it's useful for debugging and a feature of having an Atomic site, rather than a specific plan. Only downside of leaving it in is maybe it could confuse users? But it seems tucked away and easy enough for the user to ignore.

[2022-02-03 23:01] obenland commented on #59834
I'm not sure! Does it do a full page reload maybe?

[2022-02-03 23:04] creativecoder commented on #60750
Note that the filter "block templates" will display only FSE themes.

We're actually already using this filter within the Recommended tab in the Theme showcase for FSE sites, but that's not apparent.

Here's a change that updates the labeling to make that more obvious: https://github.com/Automattic/wp-calypso/pull/60834

I'm open to other suggestions!

[2022-02-03 23:30] DustyReagan commented on #59834
It looks like it happens client side to me. 🤔 I wonder because it may be that we just need to apply the same trigger on downgrades.

https://user-images.githubusercontent.com/140841/152446184-819ba55d-730c-4a3c-835e-019898651fa4.mp4

[2022-02-03 23:34] blackjackkent commented on #60413
This has turned out to be a bit more of a complex issue (and more of a learning experience) than I expected. With the decision made to navigate the Sell flow user to the site editor, I'm working on how to implement a conditional modal when that editor specifically has been submitted (for the first time, with a user who arrived via the sell intent and has a product block on the page, as noted in th

[2022-02-03 23:41] ianstewart commented on #51591
I think it could potentially be non-blocking if the first products to roll-out with Limited Atomic are subscription ones like paid plugins. But It'd be an immediate priority I think after.

It might be valuable to approach this like we are with WordAds above? Reaching out to teams to talk to them about prioritizing moving code to wpcomsh?

[2022-02-03 23:45] levinro commented on #53595
I just found exactly what you mentioned here as well.  This occurs in Safari only, all other browsers are fine.  The Safari developer console showed no errors, the page just fails to load.  I turned off the PDF preview so that the file is download only and then the page loads fine in Safari.

[2022-02-03 23:51] jordesign commented on #60750
At the moment the 'block templates' filter doesn't appear to show as an autocomplete when searching for themes.

Additionally - whilst it is a good descriptive slug - it isn't clear to users that this is related to Full Site Editing. Could we adjust the search mechanism there to:

1. Include the filter as an autocomplete
2. Get it to match for broader terms related to Full Site Editing?

[2022-02-03 23:52] mreishus commented on #58041
I'm not yet sure what specific limit this user ran into. Is it the overall disk quota or something else? I'm not seeing granular limits on the plugin or themes directory. The plugin, wpdatatables, does write to its own database tables, so maybe there is a DB size limit. Investigating that.
I also noticed that sometimes wpdatatables can cause a run-time out of memory error when trying to load large

[2022-02-04 00:02] arinoch opened #60836 "Give users a tool to batch convert from classic to block editor."
### What

I would like to see us offer users a path, preferably in-house, to bring their content from the classic editor into the block editor.

### Why

Assuming we can get a user interested in using the block editor, converting their posts manually will be a project. On atomic sites, We can refer them to a [plugin](https://wordpress.org/plugins/convert-to-blocks/) that will do the job for the us

[2022-02-04 00:48] DanAntion commented on #51787
I don't know if this is helpful, but this is the information on the last
person to be dropped (that I know of)

lois <http://loisajay1213.wordpress.com>

4 hr. ago
<http://nofacilities.com/2022/02/03/wethersfield-houses/#comment-242008>....on
pets and prisoners..... <http://loisajay1213.wordpress.com>

haha! I just followed your blog. I cannot wait for you to give them
‘whatfor.’ Back away, Dan!
-

[2022-02-04 01:14] supernovia opened #60837 "[Bug]: FSE: Unexpected/Invalid content when editing Twenty Twenty Two, only on WP.com"
### Quick summary

Some block combinations will save and display properly, but when I try to edit the site again, I get an error about unexpected or invalid content, and am asked if I want to attempt block recovery.

Block recovery works I save, I view the site, but the next time I try to edit the header, the error is back.

### Steps to reproduce

1. Activate Twenty Twenty Two
2. Edit Site
3. Use

[2022-02-04 02:23] Greatdane commented on #60249
Thanks! Looks like it has been solved and we can leave this closed then.

[2022-02-04 02:29] Greatdane commented on #60750
Yes, 'block templates' does not work for me (doesn't show up in search and manually using `https://wordpress.com/themes/filter/block-templates/mysite.wordpress.com` does not work either)

[2022-02-04 02:37] #60797 closed, assigned to nobody

[2022-02-04 02:37] lsl commented on #60797
#60798

[2022-02-04 03:17] #60318 closed, assigned to nobody

[2022-02-04 03:31] lsl commented on #60789
Like screenshot? That's just an artifact of firefox screenshot "all page" option - not something users see.

There is some weirdness with the sidebar when you change vertical window size while being scrolled down on a long page I've documented somewhere before... (nope cant find might have been on p2)

[2022-02-04 04:46] lsl commented on #60792
I think https://github.com/Automattic/wp-calypso/pull/60787 is the way to go here, we can close this after that merges.

[2022-02-04 05:15] lsl commented on #60788
While looking at how to fix margin / line-height issues after making a minor font size correction I found a relatively easy way to do this in https://github.com/Automattic/wp-calypso/pull/60838

[2022-02-04 05:16] vishnugopal opened #60839 "Review & fix content of "What can be imported?" modals"
For e.g. the WordPress migrator has wrong information:

<img width="1901" alt="CleanShot 2022-02-04 at 10 45 15@2x" src="https://user-images.githubusercontent.com/533/152476113-ea948212-e3e5-465e-8134-74fd2fb68dae.png">

[2022-02-04 05:22] Greatdane commented on #58742
We had another report here, but used customizer as a work around. 4731037-zd-woothemes

[2022-02-04 05:57] autumnfjeld opened #60840 "[Bug] TT2 themes are not shuffling properly in the Gutenboarding (/new) Design Picker"
## Description
In the Gutenboarding Design Picker, the designs are meant to shuffle so that they appear in a random order on page load.  There seems to be a bug such that the Twenty Twenty 2 (TT2) themes are not shuffling properly--instead they always show in the top of the grid.

Even though the /new flow will be replaced by /start in the coming weeks/months, it is important that we have TT2 them

[2022-02-04 06:04] autumnfjeld commented on #60840
@Automattic/ganon  We've been asked to help out with this FSE bug.  I think this could be a good task for Griffith or Ashar, get some experience in the Gutenberg tech and the [Design Picker package](https://github.com/Automattic/wp-calypso/tree/trunk/packages/design-picker).

[2022-02-04 06:38] nagpai commented on #60832
#4748758-zd

[2022-02-04 06:48] KokkieH commented on #60832
https://wordpress.com/forums/topic/my-lists-are-all-glitching/?view=all

Theme: Mayland

[2022-02-04 06:57] KokkieH commented on #60832
### Workaround:

The issue does not happen with the Blog Posts block. It also works correctly with the Post List/Query Loop block. So using either of those instead of the Latest Posts block gets around the problem.

[2022-02-04 07:44] Greatdane commented on #60240
@daria2303 Thanks, so the issue does look to be with AMP, when it is in standard mode?

I can also replicate menu not working with AMP in the standard mode setting.

With AMP turned off, or on any other mode, the menu works fine, correct?

[2022-02-04 09:16] jeyip commented on #60110
Addie made [a great observation](https://github.com/Automattic/wp-calypso/issues/59818).

After some digging, here's what I've found:

- Here is where the default back to dashboard button is defined in Gutenberg ( [link](https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-site/src/components/navigation-sidebar/navigation-panel/index.js#L79-L85) )
- Here is where our plugin overwrites t

[2022-02-04 09:16] lsl commented on #60789
Fix coming in https://github.com/Automattic/wp-calypso/pull/60838

[2022-02-04 10:16] VariantT505 commented on #54201
Happens to me on a daily basis. I write movie reviews while I watch them and my editor is open for a long time on the same article. After some minutes, all my paragraphs blocks freeze. I have to delete them and ctrl+Z to undo and then they are usable again.

Tried on a MacBook Pro mid-2010 with an old version of Safari on Mac OS High Sierra (and I thought at first that my browser was just too old)

[2022-02-04 10:43] filipanoscampos commented on #60648
Hi! I think this is the same bug:
https://github.com/Automattic/wp-calypso/issues/60469#issuecomment-1028964487

[2022-02-04 10:45] filipanoscampos commented on #60469
This is reported here, affecting the audio playlist:
4742076-zd-woothemes

There appears to be another [bug report specific to the Audio Playlists](https://github.com/Automattic/wp-calypso/issues/60648).

[2022-02-04 10:51] carinapilar opened #60844 "Ippo: Broken Layout on Archive Pages with Hidden Widgets"
### Quick summary

On an Archive page, when you load more posts it starts showing in one column, instead of 3 or 4.

### Steps to reproduce

1. Activate the Ippo theme on a site with at least 5 posts, all with the same category
2. Set to show content in 3 columns, from Customize > Theme Options > Layout Settings
3. Add a sidebar widget, with a visibility rule to show the widget only on the homepag

[2022-02-04 12:12] arunsathiya opened #60846 "Fortune: "Read more" tag appears as HTML within "Latest posts" block"
### Quick summary

On the retired theme, Fortune, "Read more" tags within "Latest posts" block appear as HTML.

### Steps to reproduce

- Start with a simple or Atomic site.
- Activate Fortune (guide on blog report card)
- Publish some blog posts.
- Create a page and add "Latest posts" block to it.
- Set excerpt to be visible on the blog, not full post.

### What you expected to happen

"Read more

[2022-02-04 12:12] arunsathiya commented on #60846
I suspect we won't fix this as the theme is retired but wanted to log anyway.

[2022-02-04 13:18] bogiii commented on #60371
Hey @vishnugopal @jeroenpf,

During development, we left fields `supportedContent` and `unsupportedContent` empty. You can see the example: [WordPress prepareParams](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/import-from/wordpress/import-content-only/index.tsx#L66-L67) and [Wix prepareParams](https://github.com/Automattic/wp-calypso/blob/trunk/client/signup/steps/impor

[2022-02-04 13:27] arunsathiya commented on #60846
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/60832.

[2022-02-04 13:27] #60846 closed, assigned to nobody

[2022-02-04 13:28] arunsathiya commented on #60832
4748991-zen; Fortune theme (retired); both simple and Atomic.

[2022-02-04 13:44] Robertght commented on #60832
Thank you for reporting this! Raising priority and asking here p1643982221485819-slack-CBTN58FTJ

[2022-02-04 13:51] #60373 closed, assigned to nobody

[2022-02-04 13:51] #59518 closed, assigned to zaerl

[2022-02-04 13:52] #60802 closed, assigned to zaerl

[2022-02-04 13:56] getdave commented on #60832
Fixed in https://github.com/WordPress/gutenberg/pull/38517

[2022-02-04 14:11] aleone89 commented on #60832
Another report of this here: hc-34020207 - have let the user know a fix has been deployed.

[2022-02-04 14:21] mmtr opened #60848 "Store: WordPress.com branding removal (aka hide Footer Credit) not listed as plan feature"
#### Steps to reproduce

1. Pick a site under a Business plan
2. Make a `GET` request to the `/rest/v1.1/sites/:site/features` endpoint
3. Check response.

<img src="https://user-images.githubusercontent.com/1233880/152543966-c188928d-d5bb-4c24-b411-a506ef5f5861.png" width=400>

#### What I expected

The WordPress.com branding removal to be included in the list of active features.

#### What happe

[2022-02-04 14:54] michaeldcain commented on #60493
To circle back: we ended up having this conversation on the linked P2 and additionally in Slack (p1643907635701219-slack-C0117V2PCAE), opting for two new tables to separate product-specific logic from Store logic.

[2022-02-04 14:59] tommusrhodus commented on #60469
Another report of this in 4731465-zen

[2022-02-04 15:02] alliebbush2 commented on #60469
Reported in 4746097-zen

[2022-02-04 15:13] mmtr commented on #60848
Prepared a WP.com diff that adds a new WP.com branding removal product to the Business and eCommerce plans: D74448-code

[2022-02-04 15:13] jackiejade opened #60849 "Latest Post Block More Tag showing Code"
### Quick summary

In Varia themes, the latest post block is not working correctly.

The "continue reading" is showing as a code in the latest post block instead of just showing the link.

### Steps to reproduce

1. Switch theme to a varia theme (Tried Hever and Exford)
2. Create a new page with a Latest Post block
3. Under Post Content settings, enable Excerpt
4. Publish page

### What you expect

[2022-02-04 15:18] liviopv commented on #60469
Another 33448965-hc

[2022-02-04 15:19] DustyReagan commented on #52214
[PR](https://github.com/Yoast/wordpress-seo/pull/18031) accepted! ✅ 🎉

I propose we leave this issue open until the plugin updates and the fix is visible in production. In case any follow up is needed.

[2022-02-04 15:24] DavidRothstein commented on #59937
I think this may be the same issue as 613-gh-Automattic/payments-shilling.

[2022-02-04 15:25] galakhyati commented on #60849
I was able to replicate the issue on an AT test site too with Varia-based themes (checked with Hever, Russell themes).

User report: (27947292-hc), follow-up ticket: 4749028-zen

[2022-02-04 15:26] #60495 closed, assigned to zaerl

[2022-02-04 15:36] bogiii commented on #60374
The job has its own **failed** state.

It is covered by providing an error message. For more details, see [thePull Request](https://github.com/Automattic/wp-calypso/pull/60850).

[2022-02-04 15:36] #60374 closed, assigned to vishnugopal, bogiii

[2022-02-04 16:25] tellisbethel commented on #39956
User report: 4749786-zd-woothemes

**Additional details**: The Slideshow block, when placed into a Group Row, or a Layout Grid Column, is so wide it's disabling the toolbar in the Editor, not displaying images and is preventing the user to select any elements that lie on the same visual row.

**Workaround**: Advised user to use the Columns block, but they have seven Layout Grids with slideshows, t

[2022-02-04 16:34] tvolpert commented on #60832
another instance here: #19994968-hc

[2022-02-04 16:46] Gustavo-Hilario commented on #60832
Another report here: 30033361-hc

The user used the `Blog Posts` block to fix this :)

[2022-02-04 16:47] edequalsawesome commented on #60832
Another report in 4750266-zen

[2022-02-04 17:07] Addison-Stavlo commented on #60723
D74449-code should enable this.

[2022-02-04 17:07] Gustavo-Hilario opened #60853 "Baskerville 2 > Buttons: styles aren't working properly (outline)"
### Quick summary

If we set a button with an outline style, the outline will disappear when previewing or saving. Other different strange behaviors happen if we can try other styles.

### Steps to reproduce

1. Enable `Baskerville 2` Theme.
2. Create a new post or page and add a `Button` block.
3. Set the style to `Outline`.
4. Publish or check the preview.

Note: Other styles aren't working corr

[2022-02-04 17:32] sirbrillig commented on #60628
Worth noting that this issue also exists in the checkout new card form.

I think this may have been an accidental regression caused by https://github.com/Automattic/wp-calypso/pull/57212, specifically this removal:

https://github.com/Automattic/wp-calypso/blob/d42ff0aeb7ef8e0b21f585b637a885e57a5fa5e9/client/my-sites/checkout/composite-checkout/payment-methods/credit-card/credit-card-fields.js#L37

[2022-02-04 17:59] annacmc commented on #59975
Swapping the Jetpack link for the WordPress.com one for all sites would be a quick fix, but my question here is: does it make sense to also switch it out for all sites, including Jetpack connected ones? Or should this be a change intended only on WordPress.com sites? I can see points for both approaches here. What did you have in mind @donalirl & @formosattic ?

If we want to swap it out for every

[2022-02-04 18:01] kerrynicl commented on #60849
User reported here as well 34029806- HC

[2022-02-04 18:34] allilevine commented on #60792
Closed by https://github.com/Automattic/wp-calypso/pull/60787

[2022-02-04 18:34] #60792 closed, assigned to nobody

[2022-02-04 19:10] paxblueribbon opened #60858 "Some Users Are Automatically Unfollowed When They Leave A Comment In Reader"
### Quick summary

 Customer is reporting that some of their followers tell them that every time they leave a comment, they are automatically unfollowed from this site.  I tested this with my account and didn't experience it, but when I look at the user RC for the users mentioned, I do see that they repeatedly unfollow and then follow blogs in a way consistent with what the customer is reporting.

[2022-02-04 19:21] #59524 closed, assigned to nobody

[2022-02-04 20:29] vajrasar commented on #56468
Another user report here: 4749075-zen

Theme: TwentyFourteen

All the widgets show with the "Legacy Widget" title, and preview shows only Widget Headings (not what the widget actually are).

[2022-02-04 20:41] DustyReagan commented on #59834
Good explanation of what's going on here. p1643930384084729-slack-C02DQP0FP

I drafted a [PR to address this issue here](https://github.com/Automattic/wp-calypso/pull/60861). But I'm a bit concerned with changing the signature of `clearPurchases()` and `removePurchase()` and would like some feedback on that.

There is also an alternative solution of updating the sidebar on `fetchSitePurchases()`.

[2022-02-04 21:29] mreishus commented on #60848
D74448-code is working properly for me on simple sites.
Note that it doesn't change the behavior of Atomic sites, which are controlled by `footer-credit/theme-optimizations.php` in wpcomsh, which is checking for business bundle.
Here, it doesn't seem adding an API call is appropriate to me? It's too much extra work. This is probably a good place to explore if persistent data (as mentioned by @oben

[2022-02-04 21:38] #59918 closed, assigned to worldomonation

[2022-02-04 22:23] cometgrrl commented on #59787
Looks like this should be fixed as[ Gutenberg 12.5.1](https://github.com/WordPress/gutenberg/issues/37598#issuecomment-1024998614) is rolled out to everyone. Right now it's only out for simple sites.

If anyone sees evidence that contradicts this, please ping me!

[2022-02-04 22:41] thekingsprojects commented on #60832
Another report here: 33812911-hc

Let user know about the Blog Posts block workaround, but they're content to wait for the fix for now.

[2022-02-04 23:29] Rolilink commented on #60568
PR here #60866, it seems introducing back `siteSlug` triggers back the #60383 issue

[2022-02-04 23:37] thekingsprojects commented on #60469
Another case here: 33382092-hc (Follow-up here: 4751263-zen )

[2022-02-04 23:44] creativecoder commented on #60723
More discussion on how we could roll this out: paYE8P-1rh-p2

[2022-02-05 00:53] hacchism commented on #53376
Another report: 33987253-hc

Provided the CSS code mentioned above.

[2022-02-05 02:01] adelineyaw opened #60867 "Pique Theme - Compare block has a higher z-index than the menu on mobile"
### Quick summary

Compare block has a higher z-index than the menu using the Pique theme.

### Steps to reproduce

1). Activate the [Pique theme](https://wordpress.com/theme/pique/).
2). Add a primary menu with submenu items.
3). Add a page and insert the Compare block as first block.
4). Open on mobile the created page and click on the menu to see the submenu items

### What you expected to happ

[2022-02-05 02:07] worldomonation opened #60868 "Playwright: refactor GutenbergEditorPage into smaller components."
### Details

The current iteration of the GutenbergEditorPage for the Playwright framework has been around for the longest time, since April 2021 when the project kicked off. All of us participating in this project has learned a lot on how best to structure a framework since then.

However, this file is still stuck with the way I had initially set up the structure and this has contributed to the s

[2022-02-05 02:23] worldomonation commented on #60868
@dpasque I'd love to hear your thoughts on this.

It was prompted by my experience in https://github.com/Automattic/wp-calypso/pull/60864 where I tried to make a few changes to the selectors and the draft/publish behavior and found it to be increasingly burdendsome.

Keeping in mind the [single responsibility principle](https://stackoverflow.com/questions/4338831/when-is-a-class-too-big), I think

[2022-02-05 02:49] ianstewart commented on #60731
A few minor notes.

- "Quick specks" should be "Quick specs".
- We should remove the Lorem Ipsum and replace it with real text like, "You can add a few lines here that describe the item you're selling. Or just delete this block if you don't need it!" vs Lorem Ipsum text that can sometimes confuse non-designers.

[2022-02-05 07:03] daria2303 commented on #60240
Correct

[2022-02-05 07:29] flameslash commented on #60469
Reporting this here 4748769-zd-woothemes

[2022-02-05 07:56] KokkieH commented on #59527
Another report in https://wordpress.com/forums/topic/fse-site-export-customized-templates/?view=all

[2022-02-05 09:00] nagpai commented on #60733
4673508-zd

[2022-02-05 09:13] nagpai commented on #60563
Another report here
4747937-zd

[2022-02-05 09:25] nagpai commented on #60563
Happening on my Jetpack connected Self-hosted site too. Could be a Jetpack core related issue.

[2022-02-05 11:59] nagpai commented on #59960
This is now fixed, with Gutenberg 12.5 up and running! I tested this on simple as well as atomic sites.

[2022-02-05 11:59] #59960 closed, assigned to nobody

[2022-02-05 12:32] synora commented on #60832
Additional report at 4749122-zen.
Using the Blog Posts Block instead was suggested.

[2022-02-05 13:51] chiape commented on #39956
4749546-zd

As a workaround, I asked the user to use the Columns Block instead, as mentioned above!

[2022-02-05 14:18] zdenys commented on #60832
4749159-zd-woothemes

I suggested Blog Posts Block as a workaround.

[2022-02-05 14:44] zdenys commented on #53102
4747684-zd-woothemes

[2022-02-05 15:50] KokkieH commented on #60469
https://wordpress.com/forums/topic/gallery-widget-not-working/?view=all

[2022-02-05 17:05] kspilarski opened #60869 "Byrne Theme: Related Posts not Displaying Categories or Tags"
### Quick summary

Byrne theme: In Reading Settings, even _"Show context (category or tag)"_ is selected, related posts do not show categories or themes.

### Steps to reproduce

1. Activate Byrne theme
2. Go to Settings > Reading
3. Scroll down to Related Posts and select _"Show context (category or tag)"_
4. Save
5. View a post and check the related posts below.

### What you expected to happen

[2022-02-05 18:12] Camaropilot commented on #60832
4751870-zd

Suggested Blog Post block as workaround

[2022-02-05 19:23] michaeldcain commented on #59937
@DavidRothstein's correct that it's related to the same bug in 613-gh-Automattic/payments-shilling, where we decided that the higher commission we charge for users in this situation is fine for the time being, but this issue uncovers the additional problem that a user without an eligible plan can no longer access the Earn management features:

<img width="1435" alt="Screen Shot 2022-02-05 at 2 18

[2022-02-05 19:39] carinapilar commented on #60849
Another report on the forums: https://wordpress.com/pt-br/forums/topic/desconfiguracao-do-layout-do-tema-libre-2 - they are using Libre 2 and I was able to replicate the issue on a Simple site using Twenty Twenty-One.

The workaround this user used was to disable the option to show the post content on the Latest Posts block.

[2022-02-05 19:44] carinapilar commented on #60849
I found this report first, but it seems it was already reported one day before this one, here: https://github.com/Automattic/wp-calypso/issues/60849

[2022-02-06 01:58] formosattic commented on #60832
+1 33081652-hc

Thanks for sharing a workaround @KokkieH , I updated the initial report with it. 🙂

[2022-02-06 06:42] hacchism commented on #60832
Another report in 4751340-zen.

Theme: Hever

[2022-02-06 08:12] i11za commented on #58599
Another report in 32132964-hc

[2022-02-06 08:55] i11za commented on #58599
Another report in 34051051-hc (user reached out regarding another unrelated issue)

[2022-02-06 10:12] i11za commented on #53716
Another report in 4751719-zen

[2022-02-06 10:36] louinel commented on #60849
New case here: #4751222-zen

[2022-02-06 11:38] renata-franco opened #60870 "Blog Posts Block: Cannot add post by "Authors" display settings"
### Quick summary

When using the Blog Posts Block, if you want to choose to display posts by any of the authors on the website, it just does not show anything.

Here is what that looks like:

![Screen Capture on 2022-02-06 at 12-31-51](https://user-images.githubusercontent.com/81378719/152678868-d8fa2fa1-43ae-42b5-8044-1ea84f8c5408.gif)

### Steps to reproduce

1. Create a new Page/Post.
2. Add t

[2022-02-06 14:15] kathrynwp commented on #60750
Right now, I think this theme filter is **only** available to site stickered as `fse-eligible`.

[2022-02-06 14:17] kathrynwp commented on #60750
See also this Slack thread where I brought up a similar issue a few days back.

p1643739385414689-slack-C029FM1EH

[2022-02-06 14:19] rickmgithub opened #60871 "Premium Content Block not showing subscriber content in editor"
### Quick summary

The editor doesn't show the content which has been published for subscribers

To illustrate
* Go to this page - https://wordpress.com/post/arizkattsherbs.com/1588
* Select subscriber view. Nothing shows but the words

Subscriber Content
Add content here that will only be visible to your subscribers.

* Go to the public page https://arizkattsherbs.com/2022/02/05/bts-bee-garden/
*

[2022-02-06 14:48] kspilarski opened #60872 "Twenty Twenty: Fonts set in the Customizer not the same in Editor"
### Quick summary

Using Twenty Twenty theme, the fonts set in Customize > Fonts appear correctly in the live page, but shows a different font in the page editor.

### Steps to reproduce

1. activate Twenty Twenty theme
2. go to Appearance > Customize > Fonts
3. set fonts for Heading and Base font
4. visit the site to see how it looks on the live page - it shows the correct font set in the Customi

[2022-02-06 15:34] jp-imagines commented on #60832
4752335-zd, Alves theme.

[2022-02-06 16:54] renata-franco commented on #60871
This is my third one today: 4709244-zd-woothemes

[2022-02-06 16:59] freelylovinglife commented on #59434
Here is another report: 4732174 - ZD

[2022-02-06 17:01] philnick206 commented on #60832
Reported in #4753827-zen Libre 2

[2022-02-06 17:14] renata-franco commented on #60832
Another one: 4751919-zd-woothemes

[2022-02-06 17:16] syedshaon commented on #60849
Another case #4753169
Twenty Seventeen theme.

[2022-02-06 17:28] mustu commented on #60849
[4751919](https://woothemes.zendesk.com/agent/tickets/4751919)
Theme: Morden

[2022-02-06 17:47] ChrissiePollock opened #60873 "Theme Instructions Wrong on Quadrat"
### Quick summary

When looking at theme options, the instructions say to go to Appearance>Customize.

<img width="640" alt="Screen Shot 2022-02-06 at 12 37 05" src="https://user-images.githubusercontent.com/2545184/152693626-1e60aa1b-19d6-4dcd-b9e0-1cfb6ad7632d.png">

This is not an option for some:

<img width="640" alt="Screen Shot 2022-02-06 at 12 37 05" src="https://user-images.githubusercont

[2022-02-06 18:12] renata-franco commented on #60469
Another one on Classic Editor: 4742302-zd-woothemes

[2022-02-06 18:46] renata-franco commented on #60832
It's me again: 4753597-zd-woothemes

[2022-02-06 21:32] jp-imagines commented on #60832
An interesting case in 4749346-zd.

This user has custom HTML in their blog post _excerpts_ (to color specific words), which previously worked well. The raw HTML is being displayed now, I assume because of this bug.

[2022-02-06 23:45] jordesign commented on #52182
Another case in #4753477-zen

In my further testing I could also recreate locally using the Toujours theme - and this image specifically (in case it's helpful for testing).

![pexels-photo-1856451](https://user-images.githubusercontent.com/1842363/152706691-d46260cd-563d-4a84-841c-4212b820fc7a.jpg)

[2022-02-06 23:57] donalirl commented on #59975
I would say this change should only be **for WordPress.com sites**.

The dotcom doc is specifically written to provide help and information for dotcom atomic sites - and this information would not apply to self-hosted JP sites.

The JP doc would be most helpful for JP-connected sites, and much less helpful for atomic sites.

So, let's make sure the correct environment (atomic or JP-connected) sees

[2022-02-07 00:48] arinoch commented on #60849
+1 in 4747697-zd-woothemes

Theme: Alves

[2022-02-07 00:51] Greatdane commented on #60832
Another; 4751974-zd-woothemes

[2022-02-07 01:04] taipeicoder commented on #60055
The event has been added with the name `calypso_courses_translation_support_link_click`!

[2022-02-07 01:04] #60055 closed, assigned to taipeicoder

[2022-02-07 01:07] arinoch commented on #56742
4754488-zd-woothemes is on the Business plan, and should have been switched to atomic when they entered the HTML code in this ticket.

[2022-02-07 02:40] lsl commented on #60789
Figured out what caused this, there is a flex rule coming from the promo section. [Fixed here](https://github.com/Automattic/wp-calypso/pull/60838/files#diff-9e23959469626859bb1dd6c22b069321bd57c3cc4feb23ba20bb9073e910a50eR94). (I think)

[2022-02-07 02:43] lsl commented on #60790
When / if we change this, [the code here](https://github.com/Automattic/wp-calypso/pull/60838/files#diff-9e23959469626859bb1dd6c22b069321bd57c3cc4feb23ba20bb9073e910a50eR20-R25) can be removed to have the footer section content align with the header text. You'll need to add a margin at some breakpoint (I think we're removing it elsewhere.)

[2022-02-07 04:17] syedshaon commented on #60849
Another case #4755024
Libre 2 theme

[2022-02-07 05:47] Robertght commented on #57449
another case in 4751893-zen

[2022-02-07 06:15] Greatdane commented on #60291
Can reproduce;

https://user-images.githubusercontent.com/5075840/152734309-43c24fb9-5d75-486e-86dc-08d6d1b2a509.mov

In my case, the `*.wordpress.com` domain for my site was already taken, which is confusing.

[2022-02-07 06:27] Greatdane commented on #60312
Can reproduce on out sites **and** self-hosted sites;

https://user-images.githubusercontent.com/5075840/152735605-dca3983c-3a97-495b-8de6-e004084bef40.mp4

As this is a Jetpack block at heart, will transfer to Jetpack repo.

[2022-02-07 06:43] taipeicoder commented on #60840
Looking at the code, [shuffling](https://github.com/Automattic/wp-calypso/blob/trunk/packages/design-picker/src/utils/available-designs.ts#L95) works as intended. That being said, after shuffling there is [sorting](https://github.com/Automattic/wp-calypso/blob/trunk/packages/design-picker/src/utils/available-designs.ts#L100) step where designs with the property `is_featured_picks`  are prioritized

[2022-02-07 06:46] kuropixel opened #60875 "Allow Atomic sites ability to add demo content from themes like simple sites"
### What

Atomic sites should also feature the option given to Simple sites when switching themes for adding demo content. Similar to how we explain it for simple site users in our documentation: https://wordpress.com/support/themes/add-demo-content/#how-to-add-demo-content

### Why

New Atomic users are being confused when they switch themes and they don't see any difference on their site. The on

[2022-02-07 06:56] autumnfjeld commented on #60840
Awesome sluething @taipeicoder !  @vindl if we don't want TT2 to be featured, should the `is_featured_picks` be removed? Or is that used in the Theme Showcase to feature there?  If we are worried about metrics representing similar behavior to "before FSE" then I'd think we don't want these to be featured.

And if we are going to feature things differently between Theme Showcase & Design Pickers ma

[2022-02-07 07:02] Greatdane commented on #60832
Another interesting case; 4755148-zd-woothemes

Their blog page titles, `site.com/blog` now show HTML tags rather than the italics they had.

@getdave, do you know if this is related? The user said it's just started to happen. See my test here; p1644217327147149/1644141899.130889-slack-CB0B2G43X

[2022-02-07 07:04] arthur791004 commented on #60840
I think we can just remove `is_featured_picks` for those themes from [available-designs-config.json](https://github.com/Automattic/wp-calypso/blob/67e2c946767a595c90f86777364d87cbb9d55bf4/packages/design-picker/src/available-designs-config.json#L42) as Twenty Twenty related themes should not enable this feature. See PCYsg-D3C-p2 for more details about `is_featured_picks`

[2022-02-07 07:30] stefancln commented on #60849
Another case 4753181-HC  Twenty Seventeen theme

[2022-02-07 07:45] donalirl opened #60876 "Task: Add Subtitles and Learn More Links to Several Calypso Pages"
### Details

On 25+ screens in Calypso, there is a subtitle followed by a Learn more link that leads to a support doc. Example from Stats:
![image](https://user-images.githubusercontent.com/30727666/152490861-f9e71ce4-cbee-4aba-be59-32dbc161cace.png)

Subtitle: Learn more about the activity and behavior of your site's visitors.
Doc link: https://wordpress.com/support/stats/

Here are the remaining

[2022-02-07 08:28] retnonindya opened #60877 "Blockbase: Social Menu does not displaying the social icons"
### Quick summary

When using theme Blockbase -- and FSE is *OFF*, Social Menu is not behaving as expected. The menu will display Share icon (something like this `<`) instead of the intended icon.

### Steps to reproduce

1. Activate theme Blockbase
2. Now, make sure FSE is OFF
3. Create a menu, give it a title "Social" and assign it as Social Navigation menu/Social menu
4. Add menu item using cus

[2022-02-07 08:28] Greatdane commented on #60469
Another report here; 4755686-zd-woothemes

[2022-02-07 08:45] retnonindya commented on #60877
Another report here:
4755744-zd-woothemes

[2022-02-07 08:55] philnick206 opened #60878 "Domains: Icon on Delete button on domain manage /domains/manage/ looks broken"
### Quick summary

The trash can icon on the Delete button on ` /domains/manage/`  looks broken.

![CleanShot 2022-02-07 at 08 51 13@2x](https://user-images.githubusercontent.com/51966986/152755819-d7d0b837-6386-4aae-8c6b-82c914914d03.png)

### Steps to reproduce

1. Go to non-primary domain settings

### What you expected to happen

Delete button should be formatted correctly

### What actually h

[2022-02-07 09:12] getdave commented on #60832
The output of HTML should now be fixed as of https://github.com/WordPress/gutenberg/pull/38517 and deployed at ~04:00 UTC.

The missing "Read more" seems like a separate bug though...

[2022-02-07 09:33] simison commented on #60840
Yep, what Arthur said. Just leave blank canvas on top and the rest can be random. 👍

[2022-02-07 10:03] rachelwinspear commented on #60832
I am still getting reports of this bug on an Atomic site and I can replicate the issue.
Theme Rockfield.

4755061-zen

[2022-02-07 10:43] IoanaAMuresan commented on #60832
Another report here 4755972-zd-woothemes

[2022-02-07 11:07] jartes commented on #56010
Another one one 34067153-hc

[2022-02-07 11:08] kspilarski opened #60883 "Checkout: Money Back Guarantee Refund Period not Included"
### Quick summary

In the checkout, if only a one item is added, **`X-day money back guarantee`** is shown, but if it's multiple items in the cart, it's only **`Money back guarantee`** without the refund period.

### Steps to reproduce

1. Go to the Upgrades > Plans
2. Select a plan and proceed to checkout (it will show `X-day money back guarantee`).
3. Add a domain or multiple items to the cart (

[2022-02-07 11:09] arthur791004 opened #60884 "Refine tracking events of follow button widget"
* D74507-code
* D74556-code
* D74557-code

[2022-02-07 11:11] arthur791004 commented on #60746
Close as D73624-code is shipped.

[2022-02-07 11:11] #60746 closed, assigned to arthur791004, roo2

[2022-02-07 11:25] getdave commented on #60832
This is a two-fold Issue:

1. Read more link was showing as raw HTML. This is fixed as per [this comment](https://github.com/Automattic/wp-calypso/issues/60832#issuecomment-1031233563).
2. The "Read more" link is not appearing - this appears to be a block Theme specific bug. I was able to replicate in Twenty Twenty Two (block Theme) but when switching back to Twenty Twenty One (classic Theme) it d

[2022-02-07 11:28] arthur791004 commented on #51787
@DanAntion Based on [autumnfjeld's comment](https://github.com/Automattic/wp-calypso/issues/51787#issuecomment-1021804331), we drafted a potential fix for the scenario from [comment you left](https://github.com/Automattic/wp-calypso/issues/51787#issuecomment-871370679)

Now, this fix is deployed and we'll keep an eye on the logs to see if it mitigates the issue.

[2022-02-07 11:32] mmtr commented on #60848
Yup, that'd come on a follow-up change. See my comment here: 807-gh-Automattic/wpcomsh#discussion_r798699146. Ideally we want to replace all the plan checks in `wpcomsh` with feature checks in order to avoid maintaining duplicated code across Simple and Atomic.

That would indeed come in handy! Although the purpose of the Atomic infra is to have sites running separately and isolated, so I'm not su

[2022-02-07 11:38] cpapazoglou commented on #59753
Reserved for onboarding

[2022-02-07 12:01] DanAntion commented on #51787
Thank you. I hope it helps. As recently as last week, I have had people reporting that they stopped getting notifications in email and had to resubscribe.

Dan

[2022-02-07 12:09] #58294 closed, assigned to WBerredo

[2022-02-07 12:21] #60704 closed, assigned to WBerredo

[2022-02-07 12:24] simison commented on #52100
Convo p4H3ND-18w-p2 leaning towards keeping this deprecated.

[2022-02-07 13:17] gabriel-fuentes commented on #59388
Another report here: 4756858-zen

[2022-02-07 13:44] rickmgithub opened #60887 "Barnsbury Quote block wrong font size"
### Quick summary

The font size controls have no influence over the text size in the quote block on Barnsbury theme.

### Steps to reproduce

Using Barnsbury on a business plan
Add a quote block
Try to change the font size.
It changes how it looks in the editor but still shows as a large font on the published page.

editor view:
<img width="1598" alt="Markup 2022-02-07 at 13 40 57" src="https://u

[2022-02-07 13:54] bogiii commented on #60839
I've left the comment with a question on pcmemI-kH-p2#comment-520

[2022-02-07 14:48] cpapazoglou commented on #59671
Before diving into third parties, it might worth exploring an in-house solution that never made it to production
https://searchanddiscoveryp2.wordpress.com/2018/12/21/personalized-plugin-recommendations-master-thread/

[2022-02-07 15:04] tyxla commented on #60823
We've had that problem before in other areas, and IIRC the consensus was that it's much harder to prepare Calypso for a switch of the current user (including logging in or out) than to just reload the page or redirect to the next step (rather than just navigating to it).

The `SignupForm` block doesn't handle the redirect (unless in some specific conditions) and nor does the user signup step, appa

[2022-02-07 15:07] #56242 closed, assigned to michaeldcain

[2022-02-07 15:15] gcsecsey commented on #60444
Currently, only the domains of the site are checked, and the popup window is shown, if the primary domain is not a custom domain. I'd like to restrict this further to only run this check if the plugin requires a custom primary domain. The question is where to store the lists of plugins that have this requirement, especially as this list is expected to grow later?

As one option, I think we could s

[2022-02-07 15:16] simison commented on #52100
Still open about it but it definitely lowered the priority significantly in my mind.

Sounds like it would need entirely be redesigned to actually be useful, and in it current form it isn't helpful, other than on the surface. I'm all ears for more input on this tho! Especially if customers are asking for something like this, and what are they specifically asking/needing.

[2022-02-07 15:48] allilevine commented on #60349
Closed by https://github.com/Automattic/wp-calypso/pull/60784

[2022-02-07 15:48] #60349 closed, assigned to allilevine

[2022-02-07 16:46] mreishus commented on #58041
I'm finding difficulty determining what limit the user ran into. Reading the support chat, I see that visitors to the user's site saw a blank screen when retrieving a certain page/post that rendered a wpDataTable, and that the user was able to resolve the problem by removing some rows from the wpDataTable.

The closest I've come to recreating this is this example of a wpDataTable with ~40,000 rows

[2022-02-07 16:51] druesome opened #60891 "Wrong Domain Mentioned in Plan and Domain Renewal Emails"
### Quick summary

A user sent an inquiry about an email they received regarding the upcoming renewal of their Premium Plan and domain:

Subject line:

[code]

Message body:

[code]

The user found it confusing, as the subject line mentions the domain `kevinmcbrien.com` yet the body of the message says a different domain `bachflipclassical.com` was going to renew.  When I looked into this, `bachfl

[2022-02-07 16:55] jp-imagines commented on #58265
I had a related request in 4747153-zd.

This user had several Contributors on their site, but had no way to contact them because their email addresses aren't shown in Calypso. I showed the user how to access WP Admin (screen options > classic view) as a workaround, but it would be great if user's emails were visible in Calypso to make it easier to communicate with various collaborators without nee

[2022-02-07 17:10] mreishus commented on #58041
Resources limits I know exist:

 * `space_quota` / `space_used`
   * Enforcement: Users won't be able to exceed the platform disk quota, linux will stop writing to disk and manual intervention would be required.
   * Alerting: Can be checked manually in site health, but only updated once every 12 hours.
     * TODO: We should ensure that users know when they are running out of space
* out of memor

[2022-02-07 17:16] jeyip commented on #60750
That's what I'm seeing as well. I'm starting to investigate why the theme filter is _not_ working for non-stickered sites.

[2022-02-07 17:50] cpapazoglou commented on #60444
`requirements` is our own invention and can be used in any way we want. Initially, it was for plugins & themes mainly but it allows for any object keys on purpose.

It seems that @JulianBustamante has already added `'required_primary_domain' => true,` in the `requirements` for yoast in D74219-code. Have you tried that?

[2022-02-07 18:24] #59943 closed, assigned to JulianBustamante

[2022-02-07 18:35] bogiii commented on #60804
Scenarios for running two imports for the same destination site simultaneously.

**WP and Wix:**
- started an import on the WP -> content only flow (in progress screen is visible)
- in the second tab, started a Wix import (the error screen is there saying "Oops, something went wrong; Try again soon or contact support for help)

**Wix and WP**
- started an import of the Wix site (in progress screen

[2022-02-07 18:51] obenland commented on #51435
@pablinos @allilevine Can this be closed now? The publicize work seems like it's separate to the purpose of this ticket?

[2022-02-07 19:04] jp-imagines commented on #56484
Noting that I had another request for this in 34075632-hc.

[2022-02-07 19:07] obenland commented on #51205
@ianstewart Do you know if this is fixed now?

[2022-02-07 19:09] obenland commented on #37660
Closing in favor of #58041.

/cc @mreishus

[2022-02-07 19:09] #37660 closed

[2022-02-07 19:13] obenland commented on #36314
Fixed in #60734.

[2022-02-07 19:33] kathrynwp commented on #60832
Another report of issue 1 in 4758131-zen

@getdave Do you know when this will be fixed on Atomic sites?

[2022-02-07 19:46] #60628 closed, assigned to sirbrillig

[2022-02-07 20:03] ckmccoy2 commented on #60832
One more 34076382-hc

[2022-02-07 20:07] happychait commented on #60832
One more report in 34076382-hc

[2022-02-07 20:24] worldomonation commented on #50302
This also happens with OpenTable block.

[2022-02-07 20:33] SaxonF commented on #60444
Apologies @gcsecsey! Thanks for taking the time to explore the different possibilities. Let's stick with the first option for now for consistency.

[2022-02-07 22:08] razvanpapadopol commented on #54948
Is this issue good to be closed, @escapemanuele?

[2022-02-07 22:58] supernovia commented on #60832
Another report here:
https://wordpress.com/forums/topic/read-more-works-in-preview-but-not-on-actual-website/

I cleared cache to confirm; it's still displaying raw HTML. @getdave any thoughts on this? We can file separate issues for themes that don't show a link at all.

[2022-02-07 23:32] #59834 closed, assigned to DustyReagan, BogdanUngureanu

[2022-02-07 23:44] cometgrrl commented on #60849
This should be fixed with the latest GB update 12.5.3. p1644249951168499/1643982221.485819-slack-CBTN58FTJ

[2022-02-08 00:23] lsl opened #60905 "My home carousel: Hide this popup should hide on swipe events"
The "Hide this" pop up sticks around even after you swipe left or right. On mobile when you touch on one of the cards while this pop up is present the whole card goes white. (Can't see this on laptop but do see it on mobile android/firefox)

https://user-images.githubusercontent.com/811776/152894119-836b3dfd-da28-492f-8df5-f29bbb39d385.mp4

[2022-02-08 00:25] lsl commented on #60905
@autumnfjeld does @Automattic/ganon still own this?

[2022-02-08 00:27] #60788 closed, assigned to nobody

[2022-02-08 00:27] #60789 closed, assigned to nobody

[2022-02-08 00:36] paxblueribbon opened #60906 "Latest Posts homepage scrolls down to first slideshare"
### Quick summary

Customer's homepage automatically scrolls down to whatever the first slideshare is.  If I remove the slideshare from one post it automatically scrolls to the next post that contains a slideshare.

### Steps to reproduce

1. Open Site which has slideshare block in one of the posts and is set to Latest Posts for Homepage.

### What you expected to happen

Page to load and focus to

[2022-02-08 01:26] kaushikasomaiya commented on #57449
+1 4758877-zen

[2022-02-08 01:37] syedshaon commented on #60849
Another issue 4748475-zen
Theme: Seedlet

[2022-02-08 02:24] jordesign commented on #51787
Another case in #4759636 of a user who didn't receive notifications from a site - and when they checked the reader, they found the preference to receive emails to be off.

[2022-02-08 03:22] formosattic commented on #52728
4760061-zd-woothemes

[2022-02-08 03:22] #60477 closed, assigned to kwight

[2022-02-08 03:31] lsl opened #60907 "Woo installer: Browser back button from checkout wsods"
Back button fails to work from checkout page, guessing this is down to the navigation to the checkout.

https://user-images.githubusercontent.com/811776/152913074-978658e3-077a-469f-8094-99dff3cd963c.mp4

One potential way we missed this is if you "prime" your history with `site=` slug in the url the thing doesn't fail:

https://user-images.githubusercontent.com/811776/152913081-453713d9-c249-41a1

[2022-02-08 04:04] #60840 closed, assigned to taipeicoder

[2022-02-08 04:05] autumnfjeld commented on #60905
Added to Ganon board. :)

[2022-02-08 04:33] arthur791004 commented on #60884
Close it as all are shipped!

[2022-02-08 04:33] #60884 closed, assigned to arthur791004

[2022-02-08 05:20] lsl commented on #60568
@obenland / @kwight heads up - [We might](https://github.com/Automattic/wp-calypso/pull/60866#issuecomment-1032222359) need to let go of ^this plan, siteSlug or site will need to be sent in regardless so I don't know if it matters too much whether it's site or siteSlug.

See link above, I suspect that's probably related?

Regardless of this situation there is a bug we need to fix, probably by pass

[2022-02-08 05:24] KokkieH commented on #60335
Another report in https://wordpress.com/forums/topic/error-when-editing-gallery-module/?view=all

Simple site.

Noting that their gallery has over 50 images in it. I'm able to replicate on a test site, and it starts happening exactly at 53 images - up to 52 images the gallery works fine, but the moment I add one image over that, the error occurs. So this might be specific to the size of the galler

[2022-02-08 06:07] galakhyati opened #60909 "Subscription Form block: Changed Success Message text doesn't get displayed"
### Quick summary

The changes made to the Success Message text on the Subscription Form block aren't showing up.

Instead, the default message is being shown, which is "Success! An email was just sent to confirm your subscription. Please find the email now and click 'Confirm Follow' to start subscribing."

### Steps to reproduce

1. Add a new page.
2. Add Subscription Form block and edit the Succ

[2022-02-08 06:39] pablinos commented on #51435
Yes, I think it can be. I think this was the issue that most closely matched the work we were doing on Republicize, but it's 'fixed' for now. I think @xpurichan sums it up nicely:

[2022-02-08 06:39] #51435 closed, assigned to nobody

[2022-02-08 07:18] aisajib commented on #60832
This was reported in 4757821-zd-woothemes as well. I was able to replicate this on my test site with two different themes. The Latest Posts block doesn't render the read more links correctly.

I've suggested "Blog Posts block" as an alternative for now.

[2022-02-08 08:23] Greatdane commented on #60832
@getdave I am still seeing the issue on a number of sites - 3 examples here; p1644308584512399/1644234047.216629-slack-C01UW7SB411

[2022-02-08 08:53] Robertght commented on #59978
Hey! I cannot replicate it anymore. I think it was fixed by some mysterious beings. Closing.

[2022-02-08 08:53] #59978 closed, assigned to nobody

[2022-02-08 08:54] zdenys commented on #60469
4760273-zd-woothemes

[2022-02-08 09:03] arthur791004 commented on #54417
Oh, I have already kept `excludedSteps` in the redux store in this [PR](https://github.com/Automattic/wp-calypso/pull/60609). As I'm not sure is there any side effect, I only apply to flows with branching steps and those flows will restore the excluded steps to `flows.excludedSteps`. Maybe we can try always reading `excludedSteps` from redux store and remove `flows.excludedSteps`.

But for https:/

[2022-02-08 09:46] escapemanuele commented on #54948
Yes, the App Banner is now shown **before** the Editor Welcome Tour, without waiting for the site to be older than 30 minutes.

[2022-02-08 09:47] vindl commented on #60840
I agree with the previous comments, and I'm fine with removing them. 👍

[2022-02-08 10:06] mmtr commented on #60848
Closing this one out since, as per discussion in pdG1ka-17-p2, we're finally opting out for not using the features API to perform feature eligibility checks.

[2022-02-08 10:06] #60848 closed, assigned to mmtr

[2022-02-08 10:10] kylemcph commented on #53626
Another one here: #24050307-hc
Privacy somersault worked.

[2022-02-08 10:19] getdave commented on #60832
Please see p1644315488144269-slack-CBTN58FTJ. Turns out the fix wasn't enabled. I'm not currently on Dotcom so I wasn't familiar with the process.

[2022-02-08 10:52] cpapazoglou commented on #55588
Closing in favor of https://github.com/Automattic/wp-calypso/issues/60661

[2022-02-08 10:52] #55588 closed, assigned to nobody

[2022-02-08 10:54] aleone89 commented on #58535
Hello, there's another report here:  zen-4755526 with the natural theme.

I also stumbled across this GH too: https://github.com/Automattic/themes/issues/5274

Are these the same issue:

[2022-02-08 11:15] #60760 closed, assigned to gcsecsey

[2022-02-08 11:29] tellisbethel commented on #50560
User getting "Error connecting to WordPress." here: 4754116-zd-woothemes
Details on minor testing I did to try to connect Anchor.fm to my Atomic sites here: pc4f5j-13S-p2#comment-2002

[2022-02-08 11:32] LauraSWP commented on #60832
Another one 34053052-hc They did not want to use blog post block

[2022-02-08 11:38] mmtr commented on #51593
I testes a bunch of scenarios, and everything seems to be working as expected on Calypso. However, I found some discrepancies in WP Admin.

Page | Simple (Free) | Atomic (Free)
--- | --- | ---
`wp-admin/post-new.php` | After inserting a Video block, both "Upload" and "Media library" buttons are disabled, so I'm unable to upload any video file. <img width="682" alt="Screen Shot 2022-02-08 at 12 29

[2022-02-08 12:33] cpapazoglou commented on #60493
Created a systems request here pMz3w-eDW-p2

[2022-02-08 12:44] ccwalburn commented on #60832
This user wants to be notified when the bug is fixed: 4761171-zen

[2022-02-08 13:10] mmtr commented on #51593
Seems the discrepancy is caused by a VideoPress Free trial that has been granted to my Atomic site, which don't know if it's the intended behavior. Asked for more details in pxWta-18P-p2#comment-5423.

[2022-02-08 13:16] AliSoftware opened #60922 "Notification wording for new comment on followed post"
### Quick summary

The wording for a notification about a new comment on a post you follow seems to have recently changed, and currently uses a surprising wording:
![image](https://user-images.githubusercontent.com/216089/152995152-de38116f-dac0-40d1-a74c-c29f5d843e10.png)

I'm pretty sure the wording we use everywhere else is about "comments" not "remarks", and that it should read "X commented on

[2022-02-08 13:28] cpapazoglou opened #60923 "Marketplace: promote Yoast Premium"
As we are planning to launch Yoast, it would be great if we have some visuals (banner?) to promote it in the plugins screen or even (additionally) an announcement modal.

[2022-02-08 13:29] kylemcph opened #60924 "Social Icons Widget elongated Hemingway Rewritten theme"
### Quick summary

The Social Icons block displayed within a widget area are displaying elongated. My testing shows this is only via the Hemingway Rewritten theme.
![2022-02-08 at 14 04](https://user-images.githubusercontent.com/38780306/152994920-f7bfe232-c3d1-4b90-98f7-9f7e62ff4c52.png)

This may be related to the now closed https://github.com/Automattic/wp-calypso/issues/57083 issue.

### Steps

[2022-02-08 13:45] getdave commented on #60832
Fix deployed by @chad1008  as of D74485-code. See also p1644315488144269-slack-CBTN58FTJ.

Please **test** before going back to the customer/user.

[2022-02-08 14:04] cpapazoglou commented on #60443
Related P2 pdh6GB-gN-p2

[2022-02-08 14:10] andres-blanco commented on #50560
paYKcK-1gw-p2

[2022-02-08 14:20] simison opened #60927 "[Bug]: design picker preview scroll position hides header"
Header stays hidden in onboarding.

### Steps to reproduce

1. start with /start flow
2. Go to build, see design picker
3. Scroll down in the grid, then pick a design to preview
4. In the preview, note how header isn't visible
    ![image](https://user-images.githubusercontent.com/87168/153005318-48f491f3-bd32-4a54-b7d4-f02b37798154.png)
5. You can scroll up and the header is visible again
    ![i

[2022-02-08 14:25] simison commented on #60927
Ah, closing as duplicate of https://github.com/Automattic/wp-calypso/issues/60380

[2022-02-08 14:25] #60927 closed, assigned to nobody

[2022-02-08 14:25] sixhours commented on #60717
Closed by #60772

[2022-02-08 14:25] #60717 closed, assigned to sixhours

[2022-02-08 14:27] #51999 closed, assigned to nobody

[2022-02-08 15:19] getdave commented on #60832
Thank you for proactively checking and testing these 👏 👏 👏

[2022-02-08 15:27] mmtr commented on #51995
Seems this is no longer an issue. Just made a test on a Free Atomic site with Yoast Premium and this is how SA displays the site:

<img width="1100" alt="Screen Shot 2022-02-08 at 16 24 55" src="https://user-images.githubusercontent.com/1233880/153019231-f946f31e-1b77-430d-8752-c2beed45515e.png">

cc @cpapazoglou

[2022-02-08 15:27] #51995 closed, assigned to mmtr

[2022-02-08 15:36] kylemcph commented on #60924
Closing this in favor of https://github.com/Automattic/themes/issues/5345

[2022-02-08 15:36] #60924 closed, assigned to nobody

[2022-02-08 16:46] rachelwinspear commented on #60469
Another report here: 4755422-zen

**Workaround**
The drop and drag issue is visible in the Classic View (WP Admin), I asked the user to switch to the Default view, this way they have some control over the image order.

<img width="300" alt="Screenshot on 2022-02-08 at 17-41-38" src="https://user-images.githubusercontent.com/44442769/153034489-dec5c2ae-e0f8-4dab-ab8f-531084931e65.png">

<img width=

[2022-02-08 16:55] dpasque commented on #60868
💯  Definitely agree - I think this would be a very worthwhile refactor!

Clarifying question: in the final iteration, would test scripts instantiate and interact directly with the sub-component POM classes, or would they still interact with the `GutenbergEditorPage` class that is then composed on calls to the sub-component classes?

I've seen it designed both ways before, where you either interact

[2022-02-08 17:00] manRebollo commented on #57812
New occurrence reported in Safari: 4756869-zd-woothemes

[2022-02-08 17:10] cpapazoglou commented on #58898
@dlind1 any updates of plugins ready except `Points And Rewards`?

[2022-02-08 17:55] khristiansnyder commented on #60103
I've encountered this as well. There is no way to return back to the template editor after editing a template part. Clicking Site stays on the template part editor and doesn't return to the template/site editor:
![Markup on 2022-02-08 at 10:54:15](https://user-images.githubusercontent.com/41035049/153046968-f0a86b6a-2ab4-4940-b31a-4eef72efc27f.png)

[2022-02-08 18:04] MaxPhilip commented on #58446
Another report in 4758262-ZD / 4749729-ZD

[2022-02-08 18:13] ClassicRKR27 commented on #60469
Another report here: [34074983-hc](https://hud.happychat.io/chat/34074983)

In the Slack thread about this, @jp-imagines noticed that when accessing the page from Calypso it still directs to a `/wp-admin/` page so I'm not sure if the above workaround will fix it for all users.

[2022-02-08 20:11] Addison-Stavlo opened #60932 "[Block] Navigation - Settings > Advanced > "manage menus" fails to open WP-Admin Menus page, FSE and Classic Themes"
#### Steps to reproduce

* Visit the site editor
* select a navigation menu
* in the block toolbar open the "Select Menu" dropdown.
* Select the "manage menus" option:

![Screen Shot 2022-02-08 at 3 00 08 PM](https://user-images.githubusercontent.com/28742426/153067299-9f81bcd9-cc1d-4502-b03c-9c004bbc56b0.png)

This option by default links to wp-admin, which is not allowed from our calypso editor

[2022-02-08 20:55] dlind1 commented on #58898
@cpapazoglou The three PRs all got approved and seem to be in QA at the moment, although I'm not sure what's the process for creating a new release once they'd be merged, so I've followed-up with Darin Kotter for clarifications.
The current release of `WooCommerce Deposits` has a valid set of language packs, so we could include that since the fix only applies to future releases.
WooCommerce One Pa

[2022-02-08 21:26] obenland commented on #59691
@SaxonF Is there any existing work that we could use as inspiration for how to display that pricing and term length information?

[2022-02-08 21:58] SaxonF commented on #60790
@lsl let's leave consistent with other pages for now (e.g. domains). I need to chat with design team about the evolution of the page header and breadcrumbs.

[2022-02-08 22:32] obenland commented on #60429
There is no way that I can think of how we'd debug that. The menu item appears on reload and I can't add debug code to a site before it exists.

My suggestion would be to remove that filter in the Woocommerce menu item definition and see if that fixes it.

[2022-02-08 23:28] SaxonF commented on #58296
One simple iteration is including plugin icon in the header
![image](https://user-images.githubusercontent.com/1072756/153092962-17f00312-a2ad-4e41-87ed-979b45978adf.png)
f84fqtCG4pCnCh2Hq0But5-fi-301%3A1774

[2022-02-08 23:29] annbingle commented on #52728
Another report here 29586695-hc .

[2022-02-08 23:38] obenland commented on #60923
We'll create a Spotlight component that can be re-used for various plugins to be highlighted at the top of the plugin screen. An example for WooCommerce looks like this:

![image-2](https://user-images.githubusercontent.com/1398304/153093664-b76ad2c4-23ae-4f69-8f99-a25b7393bac2.png)

For this iteration, let's have props for a plugin object, an illustration, a background color, and maybe a promo te

[2022-02-08 23:43] worldomonation opened #60937 "Desktop: Investigate failures caused by Playwright 1.18"
### Details

Original PR that prompted this investigation: #60902.
Upstream bug that holds some information: https://github.com/microsoft/playwright/issues/11920.

### Environment

- Playwright Version: 1.17, 1.18
- Operating System: Linux, macOS Monetery 12.0
- Node.js version: 17.3.1, 16.11.1
- Browser: Electron
- Test runner: Jest 27.3.1
- Extra: macOS-arm64

System:
 - OS: macOS 12.1
 - Memory

[2022-02-08 23:44] obenland commented on #60553
[Let's go with the titles "Featured Premium Plugins" and "Featured Free Plugins"](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/index.jsx#L456-L463) and [move the block of featured free plugins out of the `jetpackNonAtomic` check to show them again to everyone](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/plugins/plugins-browser/

[2022-02-08 23:46] worldomonation opened #60938 "Desktop: regression test electron 17.0."
### Details

### Overview

A solution that has resolved Jest hangs as noted in https://github.com/Automattic/wp-calypso/issues/60937 is to upgrade the version of `electron` used from `12.1.0` to `17.0.0`. Doing so permits the desktop e2e test to pass as expected locally.

However, this introduces a need to perform regression testing for 17.0.0 to ensure that no unintentional breakages has been int

[2022-02-08 23:48] obenland commented on #60429
Spent a bit more time on it.

[This wpcomsh filter](https://github.com/Automattic/wpcomsh/blob/51a665b80c90741041fedba8b040bdbb24269953/feature-plugins/masterbar.php#L191-L199) does seem to work. It hides the Calypso menu item because the plugin is active.

So I wonder if it's something on the WooCommerce side where the admin menu code is not loaded correctly?

[2022-02-09 00:06] DustyReagan commented on #51590
I'm still researching what's going on with the [individual themes](https://github.com/Automattic/wp-calypso/issues/51590#issuecomment-849512348). Meanwhile I went ahead and created a [PR for the upsell nudge copy change](https://github.com/Automattic/wp-calypso/pull/60939).

[2022-02-09 00:08] katiebethbrown commented on #60687
@simison - Not sure if this question is for me or not, but in case it is - in the site we originally noticed the issue on the form block is added to the Footer template part directly. We didn't add it using the shortcode, so it must be falling back to that (or trying to) somewhere.

![CleanShot 2022-02-08 at 17 04 26@2x](https://user-images.githubusercontent.com/42279181/153096765-6a3ff3cd-cbfc-4c

[2022-02-09 00:18] supernovia commented on #60849
Many more reports here:
https://github.com/Automattic/wp-calypso/issues/60832

[2022-02-09 00:18] supernovia commented on #60832
https://wordpress.com/forums/topic/radcliffe-3-error-bloc-last-articles/

[2022-02-09 01:50] bsanevans commented on #57881
Another request to be able to embed YouTube Shorts from user: 4754151-zd-woothemes

[2022-02-09 02:04] lsl commented on #60429
I seem to recall a few checks that check plugin install status but not activation status. Its possible it's a timing issue but for me its 100% repro so I don't think that's likely unless it's something like the first request activates plugins or something like that.

Maybe look at how wc-calypso-bridge loads things again - I know it can mess with the menu, not sure if it does in our case.

[2022-02-09 02:18] gabriel-fuentes commented on #55258
Another report here: 4753585-zen

[2022-02-09 02:24] #60380 closed, assigned to taipeicoder, roo2

[2022-02-09 02:34] fushar commented on #60379
I'm done as well!

[2022-02-09 02:34] #60379 closed, assigned to taipeicoder, fushar

[2022-02-09 03:25] formosattic commented on #53088
Will close this in favor of this older thread #52728 which has more user reports and is already triaged.

[2022-02-09 03:25] #53088 closed, assigned to nobody

[2022-02-09 03:26] formosattic commented on #52728
As @metabreakr [points out](https://github.com/Automattic/wp-calypso/issues/53088#issuecomment-1026115926), this issue is discussed in p3btAN-1Ab-p2.

[2022-02-09 03:48] lsl commented on #60790
This seems like a wider issue, closing for now.

[2022-02-09 03:48] #60790 closed, assigned to nobody

[2022-02-09 04:00] a8ck3n commented on #60744
Hello @syafiqnazim. Sorry for the delayed response here. To test this out will require a couple of things:

1. Calypso running locally.
2. A Simple site (a free WordPress.com hosted site) without any paid plans.
3. Navigate to Jetpack → Search in the sidebar. — http://calypso.localhost:3000/jetpack-search
4. Purchase a Search plan for the site from that page. The purchase flow will push you to wor

[2022-02-09 04:53] formosattic commented on #60849
Closing this in favor of #60832, and we'll follow-up on the cases reported in this thread.

Issue already has a fix deployed.

[2022-02-09 04:53] #60849 closed, assigned to nobody

[2022-02-09 05:02] SaxonF commented on #60923
@obenland updated the design to simplify this a little bit initially. We wont need a background colour.

![image](https://user-images.githubusercontent.com/1072756/153125233-e4282897-b407-4eec-9370-4f712884254a.png)
![image](https://user-images.githubusercontent.com/1072756/153125273-0e82f830-7e68-4509-bddb-4d3a7d62d4c8.png)

[2022-02-09 05:04] lsl commented on #60791
@SaxonF Any update yet?

[2022-02-09 05:06] SaxonF commented on #58539
One solution is to add an active and inactive badge under installed with a stronger border color.

Could we break out "activate" action into a separate issue?

f84fqtCG4pCnCh2Hq0But5-fi-593%3A13170

![image](https://user-images.githubusercontent.com/1072756/153125424-7ea55c3f-2ab4-4a3f-b93c-c03e03af7e6a.png)

[2022-02-09 05:08] SaxonF commented on #60553
Until we have the ability to mix in free plugins with paid, a slightly alternative to what's proposed here is to create two groups under the featured collection. (excuse the dummy content).

![image](https://user-images.githubusercontent.com/1072756/153125763-19e99297-fe0c-40ce-b270-5e406f5cc114.png)

[2022-02-09 05:08] lsl commented on #60655
Closing for now. Not a priority.

[2022-02-09 05:08] #60655 closed, assigned to nobody

[2022-02-09 05:15] lsl commented on #60654
Upstream has the same issue, I think we should remain consistent with upstream for now so any reporting on these values is comparing apples to apples.

[2022-02-09 05:15] #60654 closed, assigned to nobody

[2022-02-09 05:18] lsl commented on #60429
This looks like a first load issue not a timing issue. Marketplace / plugin install flow has the same issue. (cc @cpapazoglou - this might be something we want to bring into the next sprint)

Clicking "Manage plugin" at the end of the install process takes you to plugins.php but WooCommerce isn't available in the menu.

[2022-02-09 05:20] lsl commented on #60907
#60866

[2022-02-09 05:20] #60907 closed, assigned to nobody

[2022-02-09 05:22] formosattic commented on #60832
We've followed-up with all the user reports.

I've double-checked quite a few sites, and the fix was applied OK.

Closing, but comment or re-open, if needed.

[2022-02-09 05:22] #60832 closed, assigned to nobody

[2022-02-09 05:22] lsl commented on #60568
https://github.com/Automattic/wp-calypso/pull/60866

[2022-02-09 05:22] #60568 closed, assigned to Rolilink

[2022-02-09 05:42] SaxonF commented on #60791
We're still waiting on final illustrations. I think we should push this one back until a future sprint when we have everything ready.

[2022-02-09 06:30] inaikem commented on #56468
@chad1008 👋 Just a quick ping to see if it's possible to taker another look at this, thanks!

Cc: @Automattic/dotcom-triage-pa-group + @cometgrrl

[2022-02-09 08:05] csabarakasz commented on #53116
4763190-zd-woothemes Safari 13. In Chrome.

[2022-02-09 08:27] jeherve commented on #60687
This fallback is happening here:
https://github.com/Automattic/jetpack/blob/8e0dff02179e33e6e7bf357a03e5c18abe2aa08c/projects/plugins/jetpack/modules/contact-form/grunion-contact-form.php#L2123-L2125

It's been set up that way since the contact form was first developed, years ago, but makes less sense now, when used in template parts. Unfortunately, forms are still tied to a post behind the scenes

[2022-02-09 09:09] stefancln commented on #56688
Another report on 4753843-HC

The first icon from the Social Icons Block added to the footer is unnecessarily padded up, at a different level than the other icons

[2022-02-09 09:12] formosattic commented on #60507
Closing in favor of https://github.com/Automattic/wp-calypso/issues/59566 , and will track the user reports on it.

[2022-02-09 09:12] #60507 closed, assigned to nobody

[2022-02-09 09:13] formosattic commented on #59566
From https://github.com/Automattic/wp-calypso/issues/60507 , other user reports:

* 4725572-zen (user wants reply once fixed)
* 33875036-hc

[2022-02-09 09:16] sharonlaker19 commented on #59985
+1 at 28584868-hc and I'm able to reproduce on my test sites too.

[2022-02-09 10:54] bogiii opened #60952 "Capture page: missing input confirm button for the mobile screen"
For more details, see: p58i-c55-p2#comment-53670

[2022-02-09 10:56] zdenys opened #60953 "Blogger.com import doesn't associate tags with posts despite importing them"
### Quick summary

Importing an xml export from Blogger.com that has tags (labels) associated with posts results in tags being imported but not associated with the respective posts.

### Steps to reproduce

1. Create a new Blogger.com site with at least a few posts that have at least a few labels/tags (in my case I created 3 posts with 6 labels)
![image](https://user-images.githubusercontent.com/3

[2022-02-09 11:29] gcsecsey commented on #60444
Great tip @cpapazoglou, thanks! I've added this check to the UI.

Thanks for weighing in @SaxonF, I've updated the UI to use this option! 👍

[2022-02-09 11:50] razvanpapadopol commented on #54948
Fixed in https://github.com/Automattic/wp-calypso/pull/58524

[2022-02-09 11:50] #54948 closed, assigned to poligilad-auto

[2022-02-09 11:56] chad1008 commented on #56468
Hi @inaikem ! I know @fullofcaffeine has been investigating a solution, though it sounds like some additional testing/investigation is needed... but it hasn't been forgotten!

ref: p1643133714043300-slack-C7YPUHBB2

[2022-02-09 12:34] benchilcote commented on #59770
Noting that I've closed this ticket for now 4660958-zen

[2022-02-09 12:34] janmckell opened #60958 "Show site icon as avatar for pingbacks"
### What

A user requested that the site icon be set as the default for pingbacks - whether self-pingbacks or generated by posts from other blogs.

This function uses Gravatar to pull in the gravatar for pingbacks, and this is how it currently functions:

**When you are creating a pingback, the main post is treating it as an action from the site, not the post's author. Thus it is showing a default

[2022-02-09 12:50] #60323 closed, assigned to WBerredo

[2022-02-09 13:36] brinbliss commented on #53626
4764641-ZD

🤸 worked!

[2022-02-09 13:51] #60905 closed, assigned to taipeicoder

[2022-02-09 14:17] sajmes commented on #60418
34087699-hc twenty twenty

[2022-02-09 16:23] gcsecsey commented on #60444
@vajrasar could you please weigh in here? We can also remove the `Learn more` button until some education material is ready.

[2022-02-09 16:29] #59501 closed, assigned to Copons

[2022-02-09 17:24] obenland commented on #60553
Is that a _possible_ alternative or what should be built?

For context, bringing back that section without change is a matter of minutes—creating something like what is shown in that image multiple days of work. Which is fine, I just want to be clear about the expectations

[2022-02-09 17:30] i11za commented on #55175
Another report here 34110908-hc and follow up via 4765222-zen
Changed the display name in CLI.

[2022-02-09 17:38] obenland commented on #60429
For sites that need a transfer? Or does that include sites that are already on Atomic?

[2022-02-09 17:41] #55958 closed, assigned to worldomonation, dpasque

[2022-02-09 17:50] obenland opened #60965 "Atomic: Add purchase information to Persistent Data"
### What

Let's add site-based purchase information to Persistent Data and find a way to keep that up to date with future purchases.
I'm not sure how much we need to account for the Product Registry (pbOQVh-1xl-p2) work for this, it might be a bit too early for that.

### Why

Sites will have the ability to make add-on purchases beyond a plan. We'll need to be able to determine the features a site

[2022-02-09 18:04] JulianBustamante commented on #60438
This ticket is closed since instead of modifying the slug of an existing product, a new product must be created to avoid issues with products that have already been sold on production. More details can be found on D74410-code

New Yoast Premium product and plans are created in #60437

[2022-02-09 18:04] #60438 closed, assigned to JulianBustamante

[2022-02-09 18:19] obenland opened #60966 "Atomic: Sync feature list to wpcomsh"
### Details

Let's see if we can find a way to bring the feature list from dotcom to wpcomsh. This will enable us to check if sites have access to certain features based on their purchases and allows for features to work separately from the plans that bundle them.

See pdG1ka-17-p2

### Checklist

- [ ] Prep feature list in wpcom to be portable
- [ ] Create a file with a function in it that is the

[2022-02-09 18:32] cuemarie opened #60967 "Byrne Theme: Separator Block with "Dots" style appears misaligned in editor"
### Quick summary

Dots style separator displays the 3 dots on 2 lines instead of all parallel in the editor:

<img width="1383" alt="Markup 2022-02-09 at 09 35 53" src="https://user-images.githubusercontent.com/27249804/153265419-7dacca07-d3a7-443b-9f49-aff4c715cff7.png">

Dots appear fine on live site.

### Steps to reproduce

1. Activate Theme Byrne on a simple site
2. Add Separator Block to pa

[2022-02-09 19:09] gutenberg-plugin-upgrade-bot[bot] opened #60969 "Gutenberg: v12.6.x plugin upgrade"
Previous upgrade: #60500
Release notes: [v12.6.1](https://github.com/WordPress/gutenberg/releases/tag/v12.6.1)

**Install and activate**
- [x] Copy & install v12.6.0-rc.1 (D74692-code, D74701-code)
- [x] Activate v12.6.0-rc.1 on edge (D74709-code)
- [x] Copy & install v12.6.0 (D75123-code, D75124-code)
- [x] Activate v12.6.0 on edge (D75125-code)
- [x] Activate v12.6.0 on production (D74712-code)

[2022-02-09 19:22] emilylaguna commented on #60302
👋 I am closing this because this has been deployed on the server side. Reference: D73727-code

[2022-02-09 19:22] #60302 closed, assigned to emilylaguna

[2022-02-09 19:22] enejb opened #60970 "[Bug]: Shopping cart popup doesn't look quite right"
### Quick summary

The current when I have placed something in the shopping card I see the following popup.

<img width="579" alt="Screen Shot 2022-02-09 at 11 21 13 AM" src="https://user-images.githubusercontent.com/115071/153274610-4dedd627-075a-40d4-ae10-2b98db5b9e3d.png">

Notice the right border next to the nubmer.

### Steps to reproduce

Add plan to card but don't pay for it.

### What you

[2022-02-09 19:25] cuemarie opened #60971 "FSE: Add padding/space to Template Part editor to make room for toolbars"
### What

Add padding or internal space to the template part editor to allow some room for floating toolbars, particularly for short-height elements.

### Why

When editing a template part that has a short height, block settings bars overlay ontop of the blocks themselves, making it quite difficult at times to use the block or edit settings.

Example: Here's a quick video of me trying to edit a So

[2022-02-09 19:31] cuemarie opened #60972 "FSE: Create a "Post Read More Button" block for use with Query Loops / Post Templates"
### What

Create a "Post Read More Button" type block that can be used with the Query Loop Block / Post Template.

The ability to use a button that links to the link within a Query Loop Block > Post Template would be awesome!

### Why

Right now, the Post Excerpt block adds a "read more" link via text, but that doesn't offer much customization.

You can add a Buttons Block within the same group, b

[2022-02-09 19:37] cuemarie opened #60973 "Query Loop - Post Excerpt Block: Add ability to adjust max word count"
### What

Add ability to adjust max word count of the Post Excerpt Block

### Why

Without this feature, there's no way to globally adjust the character limit of post excerpts; leaving you dependent on the default limit, or needing to add a "More" block to each post.

Pictured below, the **Blog Posts Block** does include an Excerpt max word count under the Post Control Settings.

<img src="https:/

[2022-02-09 19:41] obenland commented on #60639
@Copons This seems to be a result of D69690-code. Any chance it could find its way into your next sprint?

[2022-02-09 19:44] Sandkorner commented on #57339
4765054-ZEN
Customiser workaround does not work and my Personal plan test site had the same issue.

[2022-02-09 20:07] allilevine commented on #60743
I'm seeing similar behavior on the Domains page so it might be an issue with the `EmptyContent` component:

https://github.com/Automattic/wp-calypso/blob/3f8fead1d88f4dc549d8c6179b5fd759c2ce1bdd/client/components/empty-content/index.jsx#L102

[2022-02-09 20:07] kwight opened #60975 "Hero flows: Multiple intents leaves some rendered below the fold."
The mobile view of the intents selection step really only shows the first two options, unless the user scrolls down – but contains some wasted whitespace. This layout could be improved, and will be very useful for the seller experience intent.

![img-8734](https://user-images.githubusercontent.com/349751/153281673-01c64938-0a1d-47c9-88cf-e6b4b9a8e4f0.png)

[2022-02-09 20:33] WBerredo commented on #57749
WPCom change: D74695-code

[2022-02-09 20:44] jeyip commented on #60339
D74698-code

[2022-02-09 21:06] JulianBustamante commented on #60437
Instead of updating the existing Yoast Premium product, a new product will be created due to the `product_slug` should not be modified/updated.

[2022-02-09 21:06] JulianBustamante commented on #60437
Diff created D74704-code

[2022-02-09 22:52] kwight opened #60978 "Seller Experience: The blog name and tagline data is not passed on to the Woo onboarding flow."
We have a step in the seller experience flow that allows the user to enter their site title and tagline. This works for the simple flow, but the data does not get passed to the Woo onboarding for the "more" flow.

<img width="874" alt="Screen Shot 2022-02-09 at 2 51 26 PM" src="https://user-images.githubusercontent.com/349751/153303979-ad9b5c39-9628-400b-9f6a-86909ffb2ee1.png">

[2022-02-09 23:58] JulianBustamante commented on #60437
Deployed r239848-wpcom

[2022-02-09 23:59] DustyReagan opened #60981 "Installing themes on Atomic Free sites does not work."
### What plan tier(s) are affected?

Free, Personal, Premium

### Steps to Reproduce

Go to [themes showcase](https://wordpress.com/themes/) on a free Atomic site. Try installing a free theme from the showcase.

### Expected (Simple)

The free theme installs fine on a simple site.

### Expected (Atomic)

The free theme should install on an Atomic site.

### Actual

Trying to install a theme produc

[2022-02-10 00:02] DustyReagan commented on #51590
I [created a PR](https://github.com/Automattic/wp-calypso/pull/60980) to address the [missing individual themes price and upsell nudge](https://github.com/Automattic/wp-calypso/issues/51590#issuecomment-849512348) on Atomic issue. Definitely needs some 👀 as it was quite a bit more complex than I expected.

I also noticed that themes are not installing on sub Business Atomic sites. I'm thinking tha

[2022-02-10 00:26] mrfoxtalbot opened #60982 "[Site Editor] Query Loop does not display private posts"
### Quick summary

The Query Block does not display private posts on the site editor. The public view **does** show all posts, including private ones, but the **editor view only displays published posts**:

- Editor View:
![Screen Shot on 2022-02-10 at 01:10:54](https://user-images.githubusercontent.com/4452464/153312313-104b74bb-6f38-468f-9907-d3670fa3534a.png)

- Public view:
![Screen Shot on 20

[2022-02-10 00:39] thekingsprojects commented on #43919
Another report here: 4763316-zen

Suggested they try inviting as Contributor as a workaround.

[2022-02-10 00:41] lsl commented on #60429
Only transfer.

[2022-02-10 00:47] lsl commented on #60743
I wonder if it's related to the `ref`, we added that to the empty component recently and would explain the connection.

https://github.com/Automattic/wp-calypso/blob/3f8fead1d88f4dc549d8c6179b5fd759c2ce1bdd/client/components/empty-content/index.jsx#L53

[2022-02-10 01:08] fullofcaffeine opened #60984 "CoBlocks: v2.21.6 plugin upgrade"
### Details

This is a tracking issue for the CoBlocks plugin upgrade on WP.com Simple sites.
For the full list of previous tracking issues click [here](https://github.com/Automattic/wp-calypso/issues?q=label%3Acoblocks-upgrade+is%3Aclosed).

---

#### ⚠️ **Important**
Since the 26th of October, we're no longer activating CoBlocks for newly created sites (p4TIVU-9QA-p2). We will only provide neces

[2022-02-10 03:03] joweber123 commented on #59581
I also just came across this when I was doing testing on my own today.  I expected that I would be able to create a completely new template from the screen below and I was confused that I was only shown the option to add a new "Front Page" template.

![Markup on 2022-02-10 at 12:02:27](https://user-images.githubusercontent.com/24914028/153329095-a8ce9559-0557-4b42-b2e2-fa01ff3bd313.png)

[2022-02-10 03:15] joweber123 opened #60986 "FSE: Add Header & Footer to new template by default"
### What

Currently, when we click to create a new template, we are presented with this default content.

![Markup on 2022-02-10 at 12:09:17](https://user-images.githubusercontent.com/24914028/153329765-af5550e2-c668-463c-ae5d-fb6df21bb6cf.png)

I think it would be easier for a user to have a Header and Footer added to the default new template as well.

### Why

The majority of sites use a Header

[2022-02-10 04:26] nagpai opened #60987 "Lyretail : Blog posts block showing White blocks instead of titles"
### Quick summary

Issue specific to Lyretail theme.
Blog Posts block with image set as background, shows white blocks instead of title.

### Steps to reproduce

1. Install Lyretail on any test site
2. Make sure you have a few posts with featured images added
3. Add a blog posts block on any page, and select the option to show featured image behind content.

### What you expected to happen

Titles

[2022-02-10 04:37] roo2 commented on #56869
As @sixhours said, it looks like there's a decent amount of effort required to get this working, I pinged you on a p2 to discus pbxlJb-WW-p2

[2022-02-10 04:39] roo2 commented on #53233
It looks like there's a fair amount of effort needed to get headstart working on atomic sites. I posted in a P2 to discuss further pbxlJb-WW-p2

[2022-02-10 05:03] vishnugopal commented on #60371
I need a little bit more context here about what `supportedContent` and `unsupportedContent` is here to make a call. Let's discuss during team meeting today.

[2022-02-10 05:06] vishnugopal commented on #60839
This requires design input.

[2022-02-10 05:07] vishnugopal commented on #60804
Can we also check how the WP migration flow behaves?

[2022-02-10 05:08] vishnugopal commented on #59038
@zaerl Would be nice to have a roadmap here in the [main description](https://github.com/Automattic/wp-calypso/issues/59038#issue-1076456133) that'll show our progress here.

[2022-02-10 05:13] Greatdane commented on #60352
Closing, can no longer replicate after fix.

[2022-02-10 05:13] #60352 closed, assigned to nobody

[2022-02-10 05:19] Greatdane commented on #60353
Can replicate when embedding an image into a layout grid and trying to transform image;

https://user-images.githubusercontent.com/5075840/153342513-a617c8c6-bd17-4be7-9e0d-0db3f12465b8.mov

[2022-02-10 05:35] Greatdane commented on #60335
Nice sleuthing! I can confirm if you add **more than 53 images** on **Simple** site, the error occurs.

[code]

[2022-02-10 06:34] rw-ye commented on #60871
Another report of it here: 4760520-zd-woothemes

[2022-02-10 06:35] rw-ye commented on #57812
4760520-zd-woothemes

Suggested workaround

[2022-02-10 06:52] 1dr0 commented on #39956
4765799-zd

Encountered above. Workarounds tested that work:

Columns block > Slideshow block
Group block > Columns block > Slideshow block
Group block > Row block > Slideshow block

[2022-02-10 07:07] jordesign commented on #59788
This is Blockbase specific - so I'll move it to the themes repo

[2022-02-10 07:37] zaerl opened #60988 "[Bug]:"
### Quick summary

The `calypso_signup_plan_change` event's parameters are not _snake_case_.

See: https://github.com/Automattic/wp-calypso/blob/trunk/client/lib/analytics/signup.js#L179-L187

### Steps to reproduce

1. Open a page that generates a `calypso_signup_plan_change` event.
2. See the error is displayed on the console.

### What you expected to happen

The event must be ignored only beca

[2022-02-10 07:49] fushar commented on #59383
This is done. For more details, see the discussion on: pbxlJb-WA-p2.

[2022-02-10 07:49] #59383 closed, assigned to fushar

[2022-02-10 08:29] arthur791004 commented on #60988
Oops, the reason is that the event name ended with a space 😅

[2022-02-10 08:40] cpapazoglou commented on #60493
https://opengrok.a8c.com/source/search?project=calypso&project=jetpack&project=matticspace&project=mc&project=trunk&full=test

[2022-02-10 08:42] as-esu commented on #59434
zen-4763815
I could reproduce the issue on my test site when activating the Rockfield theme with its homepage demo content. The last section using the cover block shows the text in the front end as expected ( white colour ).
**Editor view:**
![Rockfield-1](https://user-images.githubusercontent.com/64140926/153368589-2a63872e-0139-4b4b-9baf-5d7623c58f4f.jpg)
**Preview:**
![Rockfield-2](https://user

[2022-02-10 08:43] KokkieH commented on #60469
https://wordpress.com/forums/topic/cant-reorder-images/?view=all

[2022-02-10 09:26] arthur791004 commented on #60988
Close it via https://github.com/Automattic/wp-calypso/pull/60989

[2022-02-10 09:26] #60988 closed, assigned to nobody

[2022-02-10 09:43] vishnugopal commented on #60608
Discussion:
* Maybe we want to enable Full Site Editing when we migrate a FSE theme from a Jurassic Ninja site.
* P2 post incoming with observations.
* View Site is coming up empty, at the end of the page! [after the import happens]
* This happens even with new Atomic sites.
* All other imports (aside from migration) should not be affected.
* Please check Wix as well. This should work fine because

[2022-02-10 09:54] vishnugopal commented on #59038
Discussion:
- The currently written test works except for attachments.
- There is an obselete WordPress importer plugin in the codebase. There is a lot of custom code in the plugin (code specific for WordPress.com with forking et. al). It's a bit hard to update this.
- Let's try to keep the plugin as is.
- Let's try the flag on queue_import, and if it doesn't work, get the change on async-job revi

[2022-02-10 09:58] vishnugopal commented on #60371
Let's look into what this is: `supportedContent`, and then if needed, add it back to `analyze-url`.

[2022-02-10 09:59] razvanpapadopol commented on #54417
Absolutely! I don't see why that wouldn't work 👍🏼

[2022-02-10 10:11] vishnugopal opened #60990 "Atomic Sites content importers should be redirected to wp-admin"
See this: p1644468369888719/1644424174.779719-slack-C01A60HCGUA

[2022-02-10 10:14] vishnugopal commented on #60804
Discussion:
- All cases seem to be covered here, and this seems to be working as intended!

[2022-02-10 10:16] gavande1 opened #60992 "Limited Atomic: Can't buy another paid plugin once site is Atomic"
### Details
You can't buy another paid plugin if your site is already Atomic but without a supported plan. What happening here is, when you try to buy the paid plugin, it also adds a business plan. Somehow the business plan is getting removed from the cart. The result is you get the following message. Note that the plan was not removed manually.

<img width="1308" alt="Screenshot 2022-02-10 at 3 4

[2022-02-10 10:18] vishnugopal opened #60993 "Handle switching from simple to atomic sites during WordPress migration"
See: p1644427089062789-slack-C01A60HCGUA

Also let's see how this works in the existing Tools > Import migration and upgrade flow.

[2022-02-10 10:25] vishnugopal opened #60994 "Mobile view bug"
https://wp.me/p58i-c55#comment-53670

[2022-02-10 10:27] mmtr commented on #51590
Noted one more difference: the upsell nudge on individual pages of themes is missing on Free Atomic sites:

Simple (Free) | Atomic (Free)
--- | ---
<img width="789" alt="Screen Shot 2022-02-10 at 11 23 19" src="https://user-images.githubusercontent.com/1233880/153388203-e5a39bb4-1137-48db-a8a0-9ee83f1b57aa.png"> | <img width="822" alt="Screen Shot 2022-02-10 at 11 23 25" src="https://user-images.g

[2022-02-10 10:31] fresatomica commented on #60758
A user published a post about how they got sued because of this. The full post is[ here](https://hughsviewsandnews.com/2022/01/31/why-i-was-threatened-with-legal-action-after-reblogging-on-wordpress-a-true-story-and-guest-post-by-deborah-jay-deborahjay2/).

[2022-02-10 10:56] zdenys opened #60996 "FSE: The alignment option is missing from the toolbar for blocks in Site Editor"
### Quick summary

The alignment option is missing from the toolbar for blocks in Site Editor while it's present in Post/Page Editor

Site Editor |  Post/Page Editor
--- | ---
![CoverBlockSiteEditor](https://user-images.githubusercontent.com/39308239/153392025-9904fd03-5e4d-46e7-8094-cf19f279d5b4.png) |  ![CoverBlockPostEditor](https://user-images.githubusercontent.com/39308239/153391867-ccd48013-

[2022-02-10 11:10] philnick206 commented on #53116
Update: In #4763190-zen they are using Safari 15.3.

[2022-02-10 11:54] zaerl commented on #60988
@arthur791004 👍

[2022-02-10 12:09] zdenys opened #60997 "FSE: Changing heading level (H1 through H6) for Post Title Block has no effect"
### Quick summary

https://user-images.githubusercontent.com/39308239/153405272-ed936bfb-eed7-4f82-ad75-9743d8f59bda.mp4

### Steps to reproduce

1. Add a Post Title block in a page/post/site editor
2. Try changing the heading level via the block's toolbar (between H1 and H6)

### What you expected to happen

See the change in heading's size

### What actually happened

Nothing

### Context

_No r

[2022-02-10 12:47] gavande1 commented on #59734
Related WPCOMSH PR: 811-gh-Automattic/wpcomsh

[2022-02-10 13:02] zdenys commented on #55815
Another case where a Premium Plan user could not upgrade to the monthly Business Plan 9020727-hc

[2022-02-10 13:37] jartes commented on #56010
Another one on 34127261-hc

[2022-02-10 14:34] #59483 closed, assigned to lsl

[2022-02-10 16:01] simison opened #61007 "Themes doc link focuses on classic experience instead of FSE"
### What

When I have FSE site with FSE theme, and I go to /themes page, I see docs link next to my theme:

![image](https://user-images.githubusercontent.com/87168/153445871-8f54d796-b199-444a-ae5f-34967eeb68f0.png)

There's another "Learn More" link right under "Themes" heading.

They open up classic theme docs:

<img width="1075" alt="Screenshot 2022-02-10 at 17 57 13" src="https://user-images.

[2022-02-10 16:06] allilevine commented on #60569
Closed via https://github.com/Automattic/wp-calypso/pull/60892 cc @kwight

[2022-02-10 16:06] #60569 closed, assigned to allilevine

[2022-02-10 16:25] zdenys opened #61008 "FSE: Previewing in a new tab should reflect template changes even before saving"
### What

Currently, if

- you change the Template in the Page/Post editor right-side panel and click `Preview in new tab`

or

- you change the Template in the Page/Post editor right-side panel, and then click `Edit` to end up in the Template Editor, and lastly click `Preview in new tab`

the change is not reflected.

It only reflects if you preview after you save changes by clicking `Update`.

h

[2022-02-10 16:34] allilevine commented on #60429
Hi @Automattic/proton 👋 Can you help us debug why the WooCommerce menu item is missing after Atomic transfer? It's missing on first load, but appears again on a reload of wp-admin.

[2022-02-10 16:35] allilevine commented on #60743
I tried reverting it but didn't see a change. 🤔

[2022-02-10 16:54] jeffstieler commented on #60429
Hi @allilevine, I'm going to loop in @Automattic/isotope since this is likely in the Calypso bridge plugin.

[2022-02-10 16:54] #60990 closed, assigned to bogiii

[2022-02-10 17:10] #51929 closed, assigned to gavande1

[2022-02-10 17:25] sixhours opened #61009 "Seller Experience: Minor copy fixes needed"
Typo in this paragraph, "than" should be "then".

![image](https://user-images.githubusercontent.com/2124984/153462099-aa2f4a84-9faf-43b1-851f-3ae96b3e2bd0.png)

The headings at the store intent step "Start simple" and "More Power" are inconsistent about capitalization. We should pick one. :)

[2022-02-10 17:25] msilbers commented on #58098
This seems to be occurring whether you use the bookmarklet or the sharing button for Press This, and it's happening on /go, our own site

When the button is clicked it opens a completely blank draft, with no highlighted text, link, or anything else. Some folks are getting just the post title and nothing else. You can see the same in the two videos above, they are not just missing the highlighted t

[2022-02-10 17:39] dpasque opened #61010 "Playwright: Improve View Post/Page selector to speed up mobile tests."
### Details

Currently in the `GutenbergEditorPage`, when we publish a post, we use a selector that matches both the pop-over link, and also the link in the sidebar.

However, this adds about 15 seconds to all mobile runs, because it matches first on the pop-over link, but that is covered by the sidebar. So, it waits for that popover link to detach before it can use the sidebar button.

We should

[2022-02-10 18:20] louinel commented on #60469
Another case here: #4766389-zen

[2022-02-10 18:38] cometgrrl opened #61012 "Reader: Daily digest sometimes spans multiple days"
### Quick summary

I have noticed recently that sometimes my daily digest emails skip a few days and come containing several days of posts.

Example:

Daily Digest for Automattic Swarm received on Feb 9 contained posts from Feb 7-9.  Another on Feb 6th, contained posts for Feb 4-6.

Daily Digest for USAmattic received on Feb 1 contained posts from Dec 7 - Jan 31.

Edit to add: while these two exam

[2022-02-10 19:28] jordesign commented on #56960
Closing this in favor of #58098

[2022-02-10 19:28] jordesign commented on #58098
An older report from another issue:
https://href.li/?4369103-zen

[2022-02-10 19:39] kwight opened #61014 "Seller experience: The simple product page has a confusing "Home" title and placeholder image."
The simple product page has a "Home" title and placeholder image, making it look rather awkward and junky. Let's remove them (users would likely change or remove them anyways).

<img width="1411" alt="Screen Shot 2022-02-10 at 11 33 35 AM" src="https://user-images.githubusercontent.com/349751/153483880-8cbba50c-ff1f-4b30-a430-47c920b33ab5.png">

[2022-02-10 19:44] kwight commented on #61014
@SaxonF @alaczek Any thoughts here? Simply removing them seems the easiest and quickest way forward (we still want to get the MVP out to then do further iteration).

See: paYKcK-1hA-p2 at 15:19 for discussion

[2022-02-10 19:48] kwight opened #61015 "Seller experience: The empty image placeholder on the Payment block can be improved."
The empty placeholder image for the Payment block could be a confusing first impression to a new user, and leaves an unbalanced whitespace area on the front-end. Let's consider adding some sort of default image (even just a grey box).

| Editor | Desktop Front-End |
| --- | --- |
| <img width="1193" alt="Screen Shot 2022-02-10 at 11 40 26 AM" src="https://user-images.githubusercontent.com/349751/1

[2022-02-10 19:49] kwight commented on #61015
@alaczek see: paYKcK-1hA-p2 at 16:07 for discussion

[2022-02-10 19:57] kwight opened #61016 "Seller experience: The simple path is disabled after clicking Back from the "more power" path."
The simple path cannot be chosen after clicking Back from the "more power" path. It works fine on a first selection.

![2022-02-10 11 55 24](https://user-images.githubusercontent.com/349751/153486647-5a5f5424-a047-47a2-9583-2eb17ca2ae26.gif)

[2022-02-10 20:03] kwight opened #61017 "Seller experience: WP.com footer may not be appropriate."
We add a WordPress.com footer to new sites, such as "Blog at WordPress.com", that might not be suitable for a new e-commerce site (Maybe something like "Start selling on WordPress.com." would be better).

<img width="1137" alt="Screen Shot 2022-02-10 at 12 02 21 PM" src="https://user-images.githubusercontent.com/349751/153487461-56eeaae0-53b5-42b5-b092-6ac3490e46e6.png">

[2022-02-10 20:20] kwight commented on #60978
We should be able to save this straight to the database on Continue – that way it's already set before we get into the Woo flow (which itself has no similar step).

[2022-02-10 20:24] tvolpert opened #61018 "Twenty Twenty-Two (Mint) theme shows all images in black and white"
### Quick summary

Any image added to a site using the Twenty Twenty-Two (Mint) theme has a black and white duotone filter applied. None of the other flavors of Twenty Twenty-Two seem to be affected.

### Steps to reproduce

Activate the Twenty Twenty-Two (Mint) theme on a test site, and add an image or gallery block to any page or post.

### What you expected to happen

The pictures should be sho

[2022-02-10 20:54] kwight opened #61019 "Seller experience: The commerce pattern is hard-coded."
The commerce pattern for the simple seller experience is currently hard-coded. It would be better to be pulled dynamically from `dotcompatterns`, but we don't do that since we'd like an edit context, not the rendered content (and we can't give a user edit capabilities to the source site).

That said, we already have patterns from `dotcompatterns` already being used in the pattern selector in the e

[2022-02-10 21:00] kwight opened #61020 "Seller experience: Consider reducing the whitespace in the mobile view."
We currently have a lot of whitespace for the home page in the mobile view. I'm assuming this is related to the Zoologist theme itself, but let's also make sure we don't have extra elements taking up space in the commerce pattern and the homepage template.

![2022-02-10 12 58 18](https://user-images.githubusercontent.com/349751/153495594-ef5b5d15-d5fe-4b33-b99f-56a96c37866a.gif)

[2022-02-10 21:02] kwight commented on #61020
@SaxonF @alaczek Any guidance here?

[2022-02-10 21:14] kwight commented on #61019
More info on how to proceed with this can likely be found at PCYsg-t0i-p2

[2022-02-10 21:19] kwight opened #61021 "Seller experience: Investigate other placeholder methods for the pattern content."
Our commerce pattern content acts as a placeholder for a user's new home page, which they would need to replace. Instead of using content, we might be able to use other Gutenberg-native placeholder abilities.

[2022-02-10 21:22] kwight commented on #61021
I couldn't find any way in the editor itself to set a placeholder for content, but there is the `placeholder` property when [defining block templates](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates/). @obenland you mentioned it was available to only headings and paragraphs; is it the latter you were referring to?

[2022-02-10 21:41] obenland commented on #61021
Sounds likely, yes. I did use it in the updates template, so that makes sense.

[2022-02-10 21:41] kwight opened #61023 "Seller experience: Remove the preemptive translations."
All of our translations should be in place now, so we can remove the preemptive translations file at `client/signup/translations/seller-experience.js`.

[2022-02-10 22:19] SaxonF commented on #61014
I'd +1 removing for now. For V2 we should consider utilising our vertical content to pre-fill images and text so it feels more like a website, as well as a template that's appropriate for a one-pager. e.g.

![image](https://user-images.githubusercontent.com/1072756/153506207-f025008a-aad0-499e-b9a7-f0fef0b8e2d5.png)
![image](https://user-images.githubusercontent.com/1072756/153506243-4cb643f4-e063

[2022-02-10 22:30] alaczek commented on #61014
+1 to everything @SaxonF said :) We can remove the page title by switching to the Header and Footer only page template:
![image](https://user-images.githubusercontent.com/4550351/153507488-61b8ba0e-eea2-4c85-b191-08b805f6638d.png)

[2022-02-10 22:55] mreishus commented on #60639
I looked into `/wp-admin/?service-worker` specifically, and it seems to be its own separate issue: It renders menus even though it doesn't need menus. I think that part can be dropped from this issue, and I've written more about it here: p55Cj4-1xc-p2

[2022-02-10 23:09] #55950 closed, assigned to nobody

[2022-02-11 01:53] happychait commented on #60385
I recently came across very similar issue on a customer's site.

The `Select Menu` option on the Navigation Menu block had three `Main` menus:
<img width="943" alt="Three Main menus" src="https://user-images.githubusercontent.com/1519466/153525706-9f078366-6550-4f86-b8a6-08cbb1ad6ff8.png">

The List View of the Header template shows the expected menu items, **but the site wouldn't show the same me

[2022-02-11 02:12] SaxonF opened #61026 "Seller experience: Update onboarding images."
### Details

- Remove image from "Set up your store"
- Replace the image on "First let's give your store a name" to this SVG

![store-name](https://user-images.githubusercontent.com/1072756/153527506-31bde236-a851-4f29-b477-c3586f34017c.svg)

[2022-02-11 03:13] edwinho89 opened #61028 "Twenty Twenty-Two and Twenty Twenty-Two (Swiss) Themes max-width Differences"
### Quick summary

While browsing through themes, I noticed Twenty Twenty-Two and Twenty Twenty-Two (Swiss) themes having different `max-width` values as below:

Twenty Twenty-Two : 1000px

![image](https://user-images.githubusercontent.com/34882260/153531225-414a1d7b-4a0d-4310-a008-3399ad5af8de.png)

Twenty Twenty-Two (Swiss) : 1060px

![image](https://user-images.githubusercontent.com/34882260/1

[2022-02-11 05:30] alaczek commented on #61014
We chatted with @SaxonF and we both thought the default pattern is too blank. So I created a new one, based on the two layouts (pictured above) that Saxon's been using. This is the design from Figma:
![Frame 4265](https://user-images.githubusercontent.com/4550351/153541360-cbc3c153-7a7f-444a-9488-e6f97b9f852d.png)

From this, for the MVP we'd only use the product pattern (and we can later launch t

[2022-02-11 05:34] alaczek commented on #61014
Now that I look at it, I wonder if we should fill in the details (item name, price, description). It looks a bit weird with opinonated image and background, but using generic text.

[2022-02-11 07:02] fushar commented on #55599
As #55785 is already fixed, users can already view the post in a new tab using the "correct workaround" by using cmd-click.

As this is not a blocker anymore, I think we should avoid custom hack in Calypso and push the "fix" in Gutenberg instead. Gutenberg already has an open issue around this:

- https://github.com/WordPress/gutenberg/issues/28599

I added a few more context as a comment on the a

[2022-02-11 07:32] arthur791004 commented on #52182
@jordesign Your image is helpful for testing 👍

[2022-02-11 07:53] p-jackson opened #61030 "Removed properties that are now unused since the `main` flow has been removed"
D74811-code

[2022-02-11 08:01] stefancln commented on #60724
Found another case 4743111-HC

[2022-02-11 09:21] cpapazoglou opened #61032 "Marketplace: Partners landing page"
Let's check how we can update https://wordpress.com/partners/ to suit the Marketplace needs

- [ ] Should we link to the Marketplace terms too? (pdh6GB-7N-p2#comment-697)
- [x] Determine how to update the contact form auto-reply content based on input from @emmnyc85
- [x] Implement auto-reply content updates https://github.com/Automattic/wp-calypso/issues/61772
- [ ] Design task to figure out what

[2022-02-11 11:37] zdenys commented on #53084
Another case 4754612-zd-woothemes. User's AT site was launched and still posts received various likes.

[2022-02-11 11:41] kriskorn commented on #60770
User error: p9F6qB-8ml-p2#comment-45323
Closed.

[2022-02-11 11:41] #60770 closed, assigned to nobody

[2022-02-11 13:17] Gustavo-Hilario commented on #52520
Another report here: 33861842-hc

[2022-02-11 13:38] dpasque commented on #60868
That is a fantastic pro/con write up! I very much agree with all the points you raised.

This ^^ is a great idea! I like this because it effectively combines both options and gets us the best of both worlds. What if we renamed `GutenbergEditorPage` to `EditorFlows` to more match with our syntax? That `EditorFlows` class would then be the one interface test writers would interact with for most of t

[2022-02-11 13:55] cpapazoglou opened #61033 "Plugin Browser: search icon miss-alignment in mobile"
![image](https://user-images.githubusercontent.com/12430020/153604200-72c92e55-b56c-4a52-a184-ad01dd120f26.png)

[2022-02-11 14:59] ianstewart commented on #61033
I can reproduce with a new site on my iPhone.

![image](https://user-images.githubusercontent.com/545779/153614778-bbe87267-f23d-4f3e-b8e2-a0648aa69ab8.png)

[2022-02-11 15:00] ianstewart opened #61035 "Plugin Browser: Modal needs a close icon"
New site, created on mobile device.

I expected: a close icon for the modal.

![image](https://user-images.githubusercontent.com/545779/153615043-d9998d14-5488-4c5b-9eb1-efbfbb1fae3f.png)

[2022-02-11 15:17] ianstewart commented on #61014
I think either fill in the the details to be more opinionated or make the pattern less opinionated and more of a template like so:

![image](https://user-images.githubusercontent.com/545779/153617885-00f03ae2-dd76-4d95-9e36-8aa51e18d727.png)

[2022-02-11 15:31] #54417 closed, assigned to StefanNieuwenhuis

[2022-02-11 15:32] alshakero commented on #54417
Sooo happy to see this finally live!

[2022-02-11 15:36] cpapazoglou commented on #60659
Related diff D74741-code

[2022-02-11 15:38] alshakero opened #61036 "[Bug]: three consecutive banners when landing in FSE"
### Quick summary

There are three upsells/banners in the editor and at least two of them are conflicting with each other (core banner and WPCOM banner).

See p1644591908914389-slack-C01DF571R5Y for context.

### What to do:

Quoting @simison :
1. Mobile banner shows up too early and then hides; it should be visible in the editor first thing, just like in post/page editor. => PR for this: https://

[2022-02-11 15:45] simison commented on #61036
Let's also ensure we can separate site-editor mobile banner in tracks events from page/post editors. But check first with apps team if that's ok and expected.

[2022-02-11 15:47] zdenys commented on #59565
I can no longer reproduce with Gutenberg: v12.5.4 on WordPress.com. So I assume it's been fixed in core (possibly here https://github.com/WordPress/gutenberg/issues/38185). Closing for now.

https://user-images.githubusercontent.com/39308239/153622862-303b6d9f-387d-4f14-98b0-768e3fcca70e.mp4

[2022-02-11 15:47] #59565 closed, assigned to nobody

[2022-02-11 16:18] simison opened #61038 "[Bug]: Seedlet and Mayland show up in onboarding"
slack p1644577717086629-slack-cylon

### Quick summary

Seeldet and Mayland show up at /start onboarding design picker, they shouldn't:

<img width="848" alt="image" src="https://user-images.githubusercontent.com/87168/153627992-e2d7192d-92ed-4894-a068-62a78f3910e2.png">

These themes were meant for migration purposes (I assume).

When chosen, they show up in editor broken:

![image](https://user-

[2022-02-11 16:23] JulianBustamante opened #61039 "Marketplace: Update Yoast Premium data returned by products endpoint"
Premium Yoast has been created as a product in the database. Therefore the product and variations slugs and ids need to be updated on the `marketplace/products` endpoint.

[2022-02-11 16:29] Addison-Stavlo commented on #61038
Note - these are also available in the theme showcase.

I network deactivated these themes this morning, but they still seem to be showing up. Perhaps this is due to cache or maybe there is another issue in the mix.

[2022-02-11 16:35] JoshuaGoode opened #61041 "WPCOM Atomic / Ownership Transfer: User facing ownership transfers"
### What

_Please reach out to @Automattic/reactor members, or myself, for questions or concerns about this request._

A user-facing ownership transfer option for WPCOM Atomic sites that takes care of the following transfers between users.

1. Selected subscriptions.
2. Site ownership.
3. The primary Jetpack connection owner.
4. Jetpack Backup (VaultPress) owner. (~Requires escalated support privi

[2022-02-11 17:39] sajmes commented on #52182
6175693-hc Twenty Seventeen.

Required user to zoom out to 50% in browser before it worked.

[2022-02-11 18:32] #61035 closed, assigned to michaeldcain

[2022-02-11 18:55] Copons commented on #59937
@michaeldcain Thanks for the ping (and apologies for the late answer).
I agree with you (and @artpi) that there really is no reason to stop folks from using Payment Blocks after their plan expires, besides also saving us some massive headaches.

We can definitely update the checks to access the Earn section, where we would then restrict the items displayed.
Unless I'm missing something, for users

[2022-02-11 19:12] #55948 closed, assigned to dpasque

[2022-02-11 19:21] connorhipps commented on #60871
Another report here as well: 4772028-zd-woothemes

[2022-02-11 20:25] JoshuaGoode commented on #60871
We're seeing a similar issue, no subscriber content in the editor, on an Atomic site that did a backup restore.

See p9F6qB-8uA-p2#comment-45599

[2022-02-11 20:48] jp-imagines commented on #60871
Another in 4769302-zd /p9F6qB-8vb-p2

[2022-02-11 21:42] jeyip commented on #60750
The `block-templates` filter should now be available on sites still on the classic experience. One thing to note is that for those sites still on classic, the search term will only display FSE block themes and _not_ FSE universal themes. More information about the differences here pNEWy-eIk-p2

All FSE themes will be displayed shortly as we complete the FSE rollout.

[2022-02-11 21:51] JoshuaGoode commented on #60871
Once the bugfix reaches Atomic, via a Jetpack update, we'll want to test and then update this user: 4766556-zd-woothemes

Looks like that is an Atomic user as well: 4769302-zd-woothemes

[2022-02-11 22:39] JoshuaGoode commented on #60871
Thanks all, reopening until fix lands on Atomic.

[2022-02-11 23:05] manRebollo commented on #55081
The customer contacted us again, in 32939252-hc
Following up via 4771268-zd-woothemes

[2022-02-11 23:34] creativecoder commented on #60723
Should we close this now that D74449-code has landed?

[2022-02-12 03:40] DavidRothstein commented on #59937
This seems like it could become obsolete via p58i-c1P-p2?

[2022-02-12 05:19] nagpai commented on #60469
It looks like this is a core WP.org issue that has been identified and fixed here
https://core.trac.wordpress.org/ticket/54902

It will be released as a part of WP 5.9.1 (based on the milestone I see on the ticket)

(Props @jerrysarcastic )

[2022-02-12 08:35] arunsathiya commented on #60597
4770116-zen; offered to followup once we have an update.

[2022-02-12 10:06] arunsathiya opened #61051 "Map block: Map does not render on the live site if more than 55 locations are added"
### Quick summary

On the map block, the first 55 locations render the map fine on the live site. Anything beyond that fails and the locations appear as a list on the live site. Editor view is fine.

### Steps to reproduce

- Add the map block to a post/page.
- Add 55 locations.
- See that the map block renders okay on the live site.
- Add one or more locations to the same block.
- Map does not re

[2022-02-12 10:35] aleone89 commented on #60469
Another report here: zen-4746097 (Sketch)

Also further reports here: https://github.com/Automattic/themes/issues/5451

[2022-02-12 10:37] sarahcada commented on #44774
Another report at 4770111-zd-woothemes
Tile Gallery Block is inside a Columns Block. The Columns block isn't necessary in this case, so the workaround I used is to just remove the Tiled Gallery Block from the nesting.

[2022-02-12 15:14] zdenys opened #61052 "FSE: Template Part fails to save if the name contains an emoji"
### Steps to reproduce

1. Create a new Template Part via SIte Editor > Template Parts > Add New
2. Include an emoji (such as 💚) in the name and click Create
3. Add any block to the template part
4. Click Save

### What you expected to happen

Emoji should either be supported in the Template Part's name or validation should be implemented for the Template Part name at the time of its creation.

##

[2022-02-12 19:07] the-misha commented on #52347
Another user report: 34162452-hc

[2022-02-12 21:13] the-misha commented on #54350
Another user report: 33267670-hc / 4774293-zd-woothemes

Gradient is showing in both the editor and on the live site. Solid colors are showing neither place.

[2022-02-12 22:24] ClassicRKR27 opened #61055 "Line break formatting not working on Posts Pages or Blog Posts block"
### Quick summary

I had a user in chat asking how to make their Haikus have the correct formatting on their Posts pages. None of the line breaks were being respected:

<img width="1283" alt="Markup 2022-02-12 at 10 54 33" src="https://user-images.githubusercontent.com/51870544/153730163-317c111b-9c68-4bab-bc82-d540d9250a46.png">

I initially suspected that it was because they were using the Verse

[2022-02-12 22:48] Jaccuse opened #61056 "Highlights Not Affecting File Block"
### Quick summary

The Highlight feature is available on the File Block, but it doesn't seem to do anything. You can change the text or background color and it will not affect the File Block. I have seen this on a Simple and an Atomic site.

![image](https://user-images.githubusercontent.com/31910936/153730823-dfd0634a-64e1-4615-837d-4e9e41b8f00d.png)

### Steps to reproduce

1. Add file block to

[2022-02-13 00:31] cat-og opened #61057 "Lost Widgets in FSE Transition"
### Quick summary

When a user changes from a current theme with widgets to an FSE theme, their widgets are lost and must be recreated from scratch using FSE tools.
- Going to /wp-admin/widgets.php returns this error: The theme you are currently using isn’t widget-aware, meaning that it has no sidebars that you are able to change. For information on making your theme widget-aware, please [follow t

[2022-02-13 04:14] arunsathiya commented on #60871
4774892-zen; offered a followup once the bug is fixed.

[2022-02-13 04:57] joweber123 opened #61058 "Navigation Block: Add ability to add button inside of the navigation block"
### What

It would be great to be able to add a button inside of the navigation block.

### Why

Often users want to add a button to their menu, which is styled differently from other menu items.  This is often used for a donation or login link.  This is currently not possible without adding in custom CSS.

![Markup on 2022-02-13 at 13:45:11](https://user-images.githubusercontent.com/24914028/1537

[2022-02-13 05:55] hacchism commented on #53626
Another report - #34079829-hc
Privacy somersault worked.

[2022-02-13 07:50] formosattic opened #61059 "Backup: Improve UX, disable all Restore buttons is a restore is ongoing"
### Quick summary

When there's an ongoing Restore, `Jetpack > Backup` will still show the option to start a new Restore, which is misleading for users.

It should be like `Jetpack > Activity Log` where all Restore buttons are disabled.

This appears to just be an issue on the front-end. On the back-end, if there's an ongoing restore, a new one won't get started simultaneously.

### Steps to repro

[2022-02-13 07:50] formosattic opened #61066 "Backup: Improve UX, disable all Restore buttons if a restore is ongoing"
### Quick summary

When there's an ongoing Restore, `Jetpack > Backup` will still show the option to start a new Restore, which is misleading for users.

It should be like `Jetpack > Activity Log` where all Restore buttons are disabled.

This appears to just be an issue on the front-end. On the back-end, if there's an ongoing restore, a new one won't get started simultaneously.

Enhancement sugges

[2022-02-13 15:06] kylemcph commented on #53626
Another report - #34171530-hc
Privacy somersault worked.

[2022-02-13 16:08] rachelwinspear opened #61062 "Duplicate `Like` notification via email"
### Quick summary

User reported they have received duplicate email notifications when someone 'Likes' their posts.

### Steps to reproduce

I was not able to reproduce. But can see the email notifications from Logstash.

### What you expected to happen

Expected only one email to be sent out when user received a like to a blog post.

### What actually happened

Duplicate emails were sent out.
![A

[2022-02-13 16:20] dolgelukkig commented on #60871
33886268-hc

advised the user to not change the post and wait for a few days.

[2022-02-13 18:14] ChrissiePollock commented on #33077
Re-opening since this is occurring again in #4755512-zen. I was able to reproduce as well.

[2022-02-13 21:52] autumnfjeld commented on #52289
@Automattic/ganon Let's prioritize this work, see above comment on picking up work in PR 52338.  Even though we are going to deprecate /new soon, collecting this data will be valuable for referencing how Blank Canvas was selected by users.

[2022-02-13 22:03] autumnfjeld commented on #53545
@carinapilar  Thank you for filing this issue.  😄  Some info that will hopefully help explain what you observed:

This is correct behavior.   The /new flow (which is the onboarding flow you are describing here) is for English language only and only for existing customers via the "Add a new site" button.   Other users are directed to the /start flow.  You can try both of these yourself via wordpres

[2022-02-14 02:36] fushar commented on #52289
@autumnfjeld Sure, I'll pick this up 😄

[2022-02-14 04:02] SaxonF commented on #60553
@obenland could we bring back the free section without change as a first step, and then move it into the featured section + update featured card design as part of the `3. Feature prominence` release in the `upcoming-marketplace-releases` post?

[2022-02-14 04:10] #60339 closed, assigned to jeyip, zaguiini

[2022-02-14 04:29] taipeicoder commented on #60112
D74825-code

[2022-02-14 05:18] JulianBustamante commented on #61039
Deployed r240018-wpcom

[2022-02-14 05:21] rw-ye opened #61063 "Reader: Writing a comment on a post causes an alert popup to appear on the screen"
### Quick summary

While writing a comment on a post in the [Reader](https://wordpress.com/read), an alert popup message will appear with the following message: `You have unsaved changes. Are you sure you want to leave this page?`

![reader-popup](https://user-images.githubusercontent.com/21261509/153803907-a7c94bf7-39ee-474b-bc03-b155d2af66ea.png)

Here is a video of the issue:

https://user-imag

[2022-02-14 05:43] vishnugopal opened #61065 "Explore theme picker verticalisation (in the context of url-analyzer)"
See: pbAok1-2sH-p2

[2022-02-14 05:45] vishnugopal commented on #61065
See also recent refinement here: p9Jlb4-3MF-p2#comment-4836

[2022-02-14 07:24] simranjeetkaur10 commented on #61063
another one 4775534-zd

[2022-02-14 07:24] lsl commented on #59694
This has changed a bit since the issue was created. Added needs design label because I'm not sure what we need to do here. Do we want to create a complete new [checkout summary card](https://github.com/Automattic/wp-calypso/blob/f4948a9859c50e2a538069b5a54b67d2baa81b15/client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.tsx#L66) or just change the copy around and add a

[2022-02-14 07:32] lsl commented on #59694
On the implementation side of things:

The feature summary list ("included with your purchase") are [coupled to plans](https://github.com/Automattic/wp-calypso/blob/f4948a9859c50e2a538069b5a54b67d2baa81b15/client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.tsx#L79) I'm not sure how well this component will like plugin plans (are they set up the same?)

Changing plans

[2022-02-14 08:45] jromales commented on #58599
+1 on 34180000-hc

This user reached out regarding a different issue on Jetpack, and I saw the warning `Your site needs an Antispam key` in security settings.

[2022-02-14 08:57] manzoorwanijk commented on #61066
Added this to Voyager Maintenance 1164141197617539-as-1201825952025343/f

[2022-02-14 10:07] dsas commented on #60639
317 of those are domain products, but we can quite easily stop worrying about the other 118. This goes from ~7.5 seconds to 4-5 seconds. It's an improvement but not sufficient. See D74917-code

[2022-02-14 10:38] cpapazoglou commented on #60923
The URL for the CTA should be `https://wordpress.com/plugins/wordpress-seo-premium/:site?`.

In the future we can add an endpoint for "editing" this section from the backend (without needing to deploy Calypso).

[2022-02-14 11:01] mxhassani commented on #58599
Same report 34185194-hc

[2022-02-14 11:23] MaxPhilip commented on #60469
Another one 4770658-ZD

[2022-02-14 12:07] cpapazoglou commented on #60718
We haven't create any special flows for Yoast Premium. We were relying on the `action_links.Settings` plugins that `https://public-api.wordpress.com/rest/v1.1/sites/:site/plugins` return for a given site.

It seems though that neither Yoast nor Yoast Premium include such a link in their response

[code]

**We can add `setup_url` in our `https://public-api.wordpress.com/wpcom/v2/marketplace/product

[2022-02-14 12:35] cpapazoglou commented on #60714
@obenland can you elaborate on that?

[2022-02-14 12:59] Addison-Stavlo commented on #60723
I considered it still open since the universal themes part of it is still unresolved.  Although its up to how we want to track it, we can always create another issue for that.

 https://github.com/Automattic/wp-calypso/pull/61040 and D74666-code should hopefully resolve the universal themes case, and after that it just comes down to code cleanup I think. 🤞

[2022-02-14 13:11] iamtakashi commented on #61014
<img width="1141" alt="Screenshot 2022-02-14 at 13 04 22" src="https://user-images.githubusercontent.com/908665/153870358-99f37420-5b84-4e84-b3f9-3daf0aa6235d.png">

What do the social icons do? If the viewer can share the product by clicking those icons, it makes sense to be there. But if they are just links to social media profiles of the shop, I'm not sure if we need those...

[2022-02-14 13:22] Abdul-Elsayed commented on #60724
This issue was reported here:  4775902-HC

[2022-02-14 13:24] nerdysandy opened #61072 "FSE: The Navigation Block in Header section doesn't autoupdate the changes made to Menu in the Customiser"
### Quick summary

If you select one of your already created Menus (under Customiser) to be added to the Header section of FSE Header ->Navigation section, you will notice that this section doesn't update automatically when you make any changes to the Menu under Customiser.

<img width="892" alt="Screenshot 2022-02-14 at 8 19 41 AM" src="https://user-images.githubusercontent.com/16509219/153871842

[2022-02-14 13:25] nerdysandy commented on #61072
Reported on #zen-4771586

[2022-02-14 13:25] cpapazoglou opened #61073 "Marketplace: Add WooCommerce Points and Rewards and WooCommerce Deposits"
- [x] Adding in `store_products`
- [x] Adding in `https://public-api.wordpress.com/wpcom/v2/marketplace/products` endpoint (`featured: false`)

Let's add them behind a feature flag, and smoke test them with a12s.

[2022-02-14 14:06] fresatomica commented on #61063
This was also reported here: https://wordpress.com/forums/topic/wordpress-reader-34/?view=all

It looks like there are some keyboard shortcuts active on Reader. Press L will like the post, J and K will move you to the next or previous post. It's not possible to write a comment while those are active.

[2022-02-14 14:28] kathrynwp commented on #58265
I think this may be a duplicate of #49053

[2022-02-14 15:28] obenland commented on #54652
We might be able to just unregister the menu item linking to that page, when a site doesn't have the appropriate plan.

[2022-02-14 15:39] obenland commented on #60966
Let's make sure what ever mapping we come up with can be reused on wpcom

[2022-02-14 15:45] Copons commented on #58535
Note: this also seem to happen in the site editor.

[2022-02-14 16:57] kwight commented on #61015
See also https://github.com/Automattic/wp-calypso/issues/61014#issuecomment-1036322201

[2022-02-14 17:05] #53974 closed, assigned to razvanpapadopol

[2022-02-14 17:10] kwight commented on #60978
How does this work already in the blogger flow? At some point, it's being set before showing the editor to the user. There's a "defer until of flow" setting of `true` for this step – we'd need to find out if that's done for any particular reason (we could also just handle differently depending on intent, but that adds more complexity).

[2022-02-14 17:13] kwight opened #61079 "Seller experience: Verify we have Full Story support."
Verify we have Full Story support.

[2022-02-14 17:23] obenland commented on #60713
Indeed, that's right! However at the moment that notice is shown the customer hasn't touched permalinks yet.

[2022-02-14 17:24] obenland commented on #60714
More specific to the context of the site being in coming soon mode.

[2022-02-14 17:33] kwight commented on #60056
Let's add coverage for the "mark video as complete" function in the library.

[2022-02-14 17:58] ktyfuller604 commented on #61063
Another report here 34191923-hc

They said their entire community is discussing this issue. They are currently using the workaround.

[2022-02-14 18:07] kwight opened #61082 "Seller experience: Updated content and translations are needed."
Originally reported in https://github.com/Automattic/wp-calypso/issues/61026 by @SaxonF , let's change secondary text of the "Set up your store" step from "Let's create a website that suits your needs" to "Let's make sure you have everything you need to sell online".

<img width="1337" alt="Screen Shot 2022-02-14 at 10 06 30 AM" src="https://user-images.githubusercontent.com/349751/153921304-5aec1

[2022-02-14 18:09] kwight commented on #61082
This first needs to be added to the preemptive translations file and then once that's been translated, we can do the proper PR to update it for production.

[2022-02-14 18:09] kwight commented on #61026
Content changes will be handled in https://github.com/Automattic/wp-calypso/issues/61082

[2022-02-14 19:18] #61009 closed, assigned to sixhours

[2022-02-14 19:19] worldomonation opened #61083 "Flaky E2E: Configure the block"
### Spec file

specs/specs-wpcom/wp-blocks__jetpack-grow.ts

### TeamCity ID

7396901

### Logs

[code]

Link: https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_Playwright_desktop/7396901?showRootCauses=false&expandBuildChangesSection=true&expandBuildTestsSection=true

[2022-02-14 19:42] obenland opened #61086 "Atomic: Backfill Persistent Data for existing WoA sites"
Create a script to add purchase information to Persistent Data for existing sites. See pdG1ka-17-p2#comment-19

There is an existing script that we might be able to build on, see `atomic_set_persistent_plan_data()` in Opengrok.

[2022-02-14 20:22] kwight commented on #61014
@alaczek Which approach do you feel is best? I like the idea of it all being more generic – the user would be replacing it all anyways, and it's simpler and quicker to implement. Happy to do whatever you think is best though.

Hm, true – but I also like the idea of showing the user the _potential_ of something. Curious what @SaxonF and Ola prefer.

[2022-02-14 21:07] katiebethbrown opened #61090 "FSE: Emptying a Site Does Not Empty Template Parts"
### Quick summary

Emptying a site that has template parts edited via the site editor does not clear out the modified template parts.

### Steps to reproduce

1. Edit a site's templates through the Site Editor.
2. Search for the site in Network Admin.
3. Use the `empty` option to reset it and remove all content.
4. Once confirmation is received that the process is complete, open the site.

### Wha

[2022-02-14 21:11] kwight commented on #60056
The issues I had were what seemed like inconsistent behaviour of watched videos being recorded as complete, but only when there were two active courses in production (currently, we only have the one, "Blogging Quick Start", where I never noticed any problems). By inconsistency, I mean videos not being marked as complete in the UI when I thought the should be, and completed videos no longer being m

[2022-02-14 21:13] allilevine commented on #60743
Can be reproduced, wider issue.

[2022-02-14 21:21] allilevine commented on #60923
Needs to be behind a flag for now.

[2022-02-14 21:26] bluefuton commented on #61063
@Automattic/team-calypso looks like this could be regression related to https://github.com/Automattic/wp-calypso/pull/60812?

[2022-02-14 21:29] allilevine commented on #60553
First section is "Premium", add second "category" called "Featured".

[2022-02-14 21:34] sirbrillig commented on #61063
Confirmed: this only happens when typing `j` or `k` (also when you press `l` it toggles liking the post). Definitely a regression from #60812

[2022-02-14 21:37] lsl commented on #60443
Featured bool, paid/free, category/collection/tag, sorting by date, sorting by downloads (popular)

[2022-02-14 21:38] cpapazoglou commented on #60923
Yes, please! `marketplace-spotlight` in my opinion. It targets the feature rather that the content.

[2022-02-14 21:43] allilevine commented on #60443
Timebox investigating whether we can pass featured param and get featured results. Either hardcode page using search layout with query for featured plugin, or adjust current search results page to accept featured query param. Look at featured components and we can re-use as first step.

[2022-02-14 21:45] allilevine commented on #59397
Pattern used in the pricing pages.

[2022-02-14 21:50] bluefuton commented on #61063
I have a revert ready in https://github.com/Automattic/wp-calypso/pull/61091 👍

[2022-02-14 22:04] allilevine commented on #60443
User can browse all premium and free plugins on a page.

[2022-02-14 22:04] sixhours commented on #61016
I noticed as I was testing this that both simple *and* powerful options are disabled after clicking back! Not sure if that's helpful in solving this but something to keep an eye on. :)

[2022-02-14 22:19] allilevine commented on #60743
@Automattic/team-calypso This seems to be a wider issue related to loading the Recoleta font in Firefox. See: p1644518273250019-slack-C03DY3RJ5 Is this something you can help us with?

[2022-02-14 22:42] cpapazoglou commented on #60443
`featured` already exists for paid plugins as a `type` parameter

https://github.com/Automattic/wp-calypso/blob/08c583c6287e59734ad43ec1fc9692ed5cf73bde/client/data/marketplace/use-wpcom-plugins-query.ts#L5-L23

we can probably refactor it to boolean, no blockers if we need to.

[2022-02-14 22:45] lsl opened #61094 "Setup e2e tests for plugin screen"
Setup e2e tests for plugin screen (if they don't exist already.)

Done:
- [x] Check if any exist (unit tests under [plugins browser](https://github.com/Automattic/wp-calypso/blob/af991a5e00a1c1499797b6ac8f0981f99881fc1c/client/my-sites/plugins/plugins-browser-list/test/index.jsx) exist, but no e2e playwright or legacy.
- [x] Confirm each new section is displayed on /plugins: premium, featured, pop

[2022-02-14 22:59] cometgrrl commented on #60317
I'm putting this at low priority, as it's my understanding that ultimately FSE replaces the customizer, and the behavior described here would be correct.

See paYE8P-1rh-p2.

[2022-02-14 23:01] bluefuton commented on #61063
Reverted and now appears to be fixed.

cc @tyxla for followup

[2022-02-14 23:01] #61063 closed, assigned to nobody

[2022-02-14 23:01] mreishus commented on #60966
Explored one "baby step" idea here: D74966-code + pdG1ka-2M-p2.
It's mostly taking what we already have and splitting it into separate files with minimal dependencies, in order to set up those files being copy and pasted later.
Definitely not committed to the idea and looking for feedback. Is it too confusing? Does it make sense? etc.

[2022-02-14 23:03] donalirl commented on #60469
Gallery within a classic block: #33861148-hc

[2022-02-14 23:20] noahtallen commented on #60743
It looks like this is how Recolatta is loaded across most (if not all) of Calypso:

https://github.com/Automattic/wp-calypso/blob/a83f9acf2b30fc352da61669616f280df655134b/packages/typography/styles/fonts.scss#L3-L9

So by default, the browser only attempts to download the font after it gets used by a rendered element.

But honestly, based off the description, maybe it's a Firefox bug? Maybe a solu

[2022-02-14 23:20] donalirl commented on #61063
Had a report of this in #34189896-hc. They tried again just now and confirmed it's working. They mentioned the issue only happened when typing the letter j or k, which I thought I'd share here just in case.

[2022-02-14 23:23] bluefuton commented on #61063
@donalirl thanks for the report. The keyboard shortcuts navigate to the previous or next page when using `j` or `k`, so entering those letters in a comment input led the browser to try and navigate pages (hence the popup warning). Pressing the letter `l` could also accidentally like the post.

[2022-02-14 23:25] kwight commented on #60978
@sixhours I thought we were going to just save the title and tagline right from the step, so that it's already done by the time the user starts the Woo flow?..

[2022-02-14 23:39] cometgrrl commented on #60650
See linked issue 545-gh-Automattic/videopress for fix.

[2022-02-14 23:39] #60650 closed, assigned to nobody

[2022-02-15 00:06] SaxonF commented on #61014
Based on the discussion @kwight and @ianstewart and I had around verticalisation I would agree that if its easier to start generic then let's do that.

We can work towards showing an image that's related to the industry they are in, along with the product name and price they entered previously in the flow (if they didn't skip).

[2022-02-15 00:10] SaxonF commented on #61014
![image](https://user-images.githubusercontent.com/1072756/153967941-d1324c6a-5926-480e-aa74-559fc2494bd6.png)

We could use something more abstract like the above or just a placeholder image like the below

![image](https://user-images.githubusercontent.com/1072756/153968008-94e3cc6f-5b12-4d27-8f2b-ef647250c725.png)

[2022-02-15 00:16] yaelirub commented on #55188
Since FSE has been deployed and will be landing people on the editor instead of My Home, this has become lower priority imo.

[2022-02-15 00:29] #60750 closed, assigned to nobody

[2022-02-15 00:44] roo2 commented on #56869
Summary of the P2 discussion: we will likely put this on pause until after changes to headstart related to verticalization pbxlJb-WW-p2#comment-1149. It does turn out that headstart is _somwhat_ designed to be made portable pbxlJb-WW-p2#comment-1150, and we could possibly implement this homepage switcher without porting all of headstart pbxlJb-WW-p2#comment-1151, but there is still some technical

[2022-02-15 00:58] cphilleo commented on #51591
I appreciate you creating this draft PR, but I'm not sure this approach is as straightforward as it seems. Right now there are separate but similar, ads code paths for freemium, WPCOM, and Jetpack. I don't think just overriding a few parameters on the ad server configuration would be enough. We need to at least run code to determine if a free site should show ads or not (there are lots of criteria

[2022-02-15 01:18] roo2 commented on #58098
It looks like this is happening when the editor gets redirected to the wp-admin editor. `$site.wordpress.com/wp-admin/post-new.php` it seems to work correctly if the user stays in the calypso wrapped editor `wordpress.com/post/$site.wordpress.com`.  This is due to the [iframe-bridge-server](https://github.com/Automattic/wp-calypso/blob/trunk/apps/wpcom-block-editor/src/calypso/features/iframe-brid

[2022-02-15 02:15] alaczek commented on #61014
Ok, I made changes based on all the feedback:
* used a placeholder image (as per @SaxonF's mockup above).
* changed background to light grey.
* removed social media icons.

I decided to update the original pattern - so it's already, published, updated & ready to go.
https://dotcompatterns.wordpress.com/2022/02/03/single-product/

[2022-02-15 02:15] worldomonation commented on #52228
Closing for now as we're close to deprecating the Selenium based framework in favor of Playwright (which has been running for 4 months now).

[2022-02-15 02:16] #52228 closed, assigned to nobody

[2022-02-15 02:16] worldomonation opened #61095 "Flaky E2E: Click on the "My Plan" tab"
### Spec file

specs/specs-playwright/wp-plans__purchases-spec.ts

### TeamCity ID

7401779

### Logs

[code]

Link: https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_mobile/7401779?showRootCauses=false&expandBuildChangesSection=true&expandBuildTestsSection=true

[2022-02-15 02:41] hacchism opened #61096 "Alves: Issue with link color in page editor in conjunction with Group Block"
### Quick summary

When a parent Group Block has a custom background color, links within the Group Block always show up with white in the page editor. But on the live page, they show up with the default site-wide link color or the custom text color set to individual blocks that contain the links.

### Steps to reproduce

1. Activate Alves theme.
2. Create a new post or page.
3. Add a Group Block a

[2022-02-15 02:45] SaxonF commented on #59397
I'm going to make this a little easier so we don't have to touch the structure of the page. I think that the price section of the plugin header probably needs a revisit at some point and at that time we can move the price toggle.

For the time being however, let's just add the savings to the existing monthly/yearly toggle.

![image](https://user-images.githubusercontent.com/1072756/153982435-f963f

[2022-02-15 02:56] SaxonF commented on #60443
So just to confirm what a user should expect to see once this is shipped.

- There is a browse all link to the top featured/premium section that will link off to a page showing all premium plugins.
- The premium plugins page will utilise the existing search view as shown below
- The title of this page will be "All premium plugins"
- Optional: The breadcrumb will show `Plugins -> Premium`. If this

[2022-02-15 03:03] lsl commented on #60443
Thanks, that helps a bit.

If we're changing the title we'll probably want to add new routes to the search page so changing breadcrumbs won't be much of an issue to do as well.

[2022-02-15 03:06] SaxonF commented on #60443
@lsl we could also leave title but unsure how that would work with filters? Maybe `Search results for type:featured`?

[2022-02-15 03:09] lsl commented on #60923
We're still waiting on a decision on how / when / what conditions this is shown to users.

For this sprint we're scoping this issue to building the promotion component.

I suggest we place it behind a standalone flag `yoast-promotion`? to ship the component. Next sprint we can replace that with conditional logic once we know what it is. Turning on the flag with `?flags=yoast-promotion` would just

[2022-02-15 03:14] arthur791004 commented on #60281
Close it as all of the ecommerce-onboarding, simple, main, and developer flows are removed

[2022-02-15 03:14] #60281 closed, assigned to arthur791004

[2022-02-15 03:14] lsl commented on #60553
For added context, we're scoping this to:

- [ ] Renaming "Featured" (currently only paid plugins) to "Premium" and
- [ ] "bringing back that section without change" under the heading "Featured"

[2022-02-15 03:21] lsl commented on #58296
Likely a separate issue but Is there a reason we display the Developer as "Automattic" and not "WordPress.com", or in the case of WooCommerce "WooCommerce"?

[2022-02-15 03:34] lsl commented on #58293
@SaxonF this needs to be done at a higher level than marketplace work.

Happy to create a PR (or two) that modifies [the definitions](https://github.com/Automattic/wp-calypso/blob/5d95d41594689f75cf0d5afc24632e96520faafe/packages/typography/styles/variables.scss#L46) we already have but I think it would need wider review (i18n and marketing come to mind.)

For this issue, I suggest we:

- [ ] Chan

[2022-02-15 03:39] SaxonF commented on #58293
Sounds good @lsl . We're going to revisit search in future iterations anyway to put more emphasis on it.

[2022-02-15 03:39] lsl commented on #60443
I think it's ok I was going to hide the "search results..." text for these pages too. That should only show when a user runs a search.

[2022-02-15 03:42] lsl commented on #60743
Likely going to change soon. https://github.com/Automattic/wp-calypso/issues/58293#issuecomment-1009651810

[2022-02-15 03:48] ilyasfoo commented on #60429
I'm having a hard time debugging this, I've attempted to use WoA developer blog to provide my own wpcomsh with some manual logging. However, the issue is only reproducible when menu is immediately requested after a transfer. I've tried triggering a transfer via Hosting Configuration and installing WooCommerce after, but WC menu shows on the first load.

I think this isn't related to Calypso bridge

[2022-02-15 04:46] nagpai commented on #53626
34190531-hc
Privacy somersault worked

[2022-02-15 06:41] ilyasfoo commented on #60429
Adding my observation that while installing WooCommerce via plugins is able to reproduce the issue, installing WooCommerce via plugin upload does not.

[2022-02-15 06:54] formosattic opened #61100 "Customize: update inline help link to WordPress.com doc"
### Quick summary

_No response_

### Steps to reproduce

1. Go to Customize
2. Click on the question mark in circle.
3. Check link for `Documentation on Customizer`

![image1](https://user-images.githubusercontent.com/15944096/154008349-b3a6d620-c5bc-48ca-8151-a6dc374317fc.png)

### What you expected to happen

To link to WordPress.com support site: https://wordpress.com/support/customizer/

###

[2022-02-15 06:55] retnonindya commented on #60617
I found something about theme Stow -- and I guess, with Varia-based themes (which means, Hever, Leven, Stow, and friends.)

The theme does not have a Link Color feature on the Block Editor because the theme's color settings are set from Customize > Colors & Backgrounds. For theme Stow, it's using Primary Color.

So if they want to change the link color, they need to do so from here:
![Screenshot 2