[2018-03-19 22:50] bluefuton commented on #5840
New issues:
- clean up subscribers when a site is deleted: #23426
- subscription count is incorrect when subscriptions contain deleted sites: https://github.com/Automattic/wp-calypso/issues/23427
- Blogs I Follow widget shows deleted sites: 8027-wpcom

[2018-03-19 23:07] bluefuton commented on #20392
I wholeheartedly agree that this should be a 'soft block'. We need to do some work on the backend to make this happen.

[2018-03-20 00:25] drw158 commented on #23421
Could be related to #23188

[2018-03-20 01:17] bluefuton commented on #18161
Closing this as a duplicate of #7342.

[2018-03-20 02:26] beaulebens commented on #22369
@eliorivero I'm pretty sure @enejb worked on shipping an endpoint (a long time back) for themes... although now I'm not sure if it handled updates, or only installing a theme from the directory.

[2018-03-20 02:37] samouri commented on #18166
@bluefuton: Is this still an issue? I don't temporarily see a follow button anymore so I think it may be solved

[2018-03-20 02:50] bluefuton commented on #18166
Looks suspiciously fixed to me :)

[2018-03-20 02:50] taggon commented on #23413
Oh dear, that's my fault 😱 I'm going to make a fix soon.
@seear Thanks for noticing me the problem.

[2018-03-20 02:51] #18166 closed

[2018-03-20 03:07] bluefuton commented on #22953
@beau also provides this example of lists formatting looking a bit odd:

![screen-shot-2018-03-14-at-10-32-14-am](https://user-images.githubusercontent.com/17325/37633825-c9173058-2c58-11e8-9dfa-e739ccd40c5e.png)

[2018-03-20 03:28] samouri commented on #23240
between the new protections to the repo and modifying the edit link in #23409, i'd say this issue is safe to close!

[2018-03-20 03:28] #23240 closed

[2018-03-20 07:46] tyxla opened #23435 "Jetpack Onboarding: Losing onboarding credentials when logged out and redirected to JPC flow"
To reproduce:

1. Start the flow here: http://yourgroovydomain.com/wp-admin/admin.php?page=jetpack&action=onboard
1. Enter a site title.
1. Select "Personal" or "Business" for the site type.
1. Select "Recent news" or "Static page" for the homepage.
1. Select "Add a contact form" to be taken to the Jetpack connection flow. I was logged out, so this brought me to the account signup form.
1. Select

[2018-03-20 07:48] tyxla commented on #23435
It appears that when logged out and being redirected to the Jetpack Connect flow, Redux state is flushed and onboarding credentials are lost.

The simplest solution will be to redirect back to wp-admin to reobtain them again in such cases. We already have a mechanism for that, we just need to expand it to cover this case. PR coming soon.

[2018-03-20 07:50] tyxla commented on #23435
I think we introduced this in #22775.

[2018-03-20 07:57] tyxla opened #23436 "Jetpack Onboading: Preserve last step when redirecting to obtain credentials"
Currently, if we're in a step different from site title, and we're redirected to obtain onboarding credentials, after obtaining we'll be redirected to the site title.

It would be a better experience if the user is redirected to the step that they were trying to access last.

[2018-03-20 08:11] tyxla commented on #23436
This will likely require an additional parameter for the `onboard` action, just like we handle `calypso_env`; thus it would need changes in Jetpack.

[2018-03-20 11:00] rachelmcr opened #23439 "Simple Payments: Support localized currency format"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/me/account
2. Set your account interface language to German.
3. Start a new post.
4. Create a new simple payment button.

#### What I expected

I expected to be able to enter a price in the localized currency format used in Germany, i.e. using a period for the thousands separator and a period for the decimal separator (`1.234,56`).

[2018-03-20 11:28] tyxla commented on #23177
#23441 duplicates the guided tour and updates the use case in the Jetpack Connect flow.

[2018-03-20 12:28] tyxla commented on #23298
Solution suggested in #23443.

[2018-03-20 12:49] #23413 closed

[2018-03-20 13:44] jameskoster commented on #23343
The whole bar is sticky anyway, so it would work fine in that regard I think.

Yeah we can definitely address that :)

[2018-03-20 14:49] drw158 commented on #8513
Short answer: just make them both a toggle. That way you don't have to worry about error notices for an unchecked checkbox.

---

Long answer: both versions are a frustration interaction.

For the checkbox version, why would you allow me to uncheck the box if I can't proceed without checking something? Notice how the button is disabled in this state. If you can't submit the form without selecting

[2018-03-20 14:54] shaunandrews commented on #8513
Here's a quick mockup:

<img width="968" alt="screen shot 2018-03-20 at 10 54 10 am" src="https://user-images.githubusercontent.com/191598/37662270-19aeecee-2c2d-11e8-98e7-cf1a72c0cad1.png">

[2018-03-20 15:27] marekhrabe commented on #4829
#22972 is definitely a step in a good direction but I still see some room for improvement. First, the help text doesn't fully reflect the functionality.

"Key" in this case means typing `>` but also `---` or `####` - that's not really a _key_ anymore. The worst part is that typing `####` and hitting enter doesn't work. No heading will be created unless you also put some text between typing the sho

[2018-03-20 15:35] ockham commented on #23435
Testing this, I discovered the following:
* Start in a new incognito window (so you're logged out of WP.com)
* https://jurassic.ninja/create?jetpack-beta
* http://your.jurassic.ninja/wp-admin/admin.php?page=jetpack&action=onboard&calypso_env=development
* Wait for redirection to JPO.
* Site title and tagline fields aren't pre-populated!
* The reason seems to be that `hasFinishedRequestingSite` is

[2018-03-20 15:43] ockham commented on #23435
Ah-hah! https://github.com/Automattic/wp-calypso/blob/a48f3155a367c8bdf468aa4e4bb0e3d9874e40e3/client/jetpack-onboarding/main.jsx#L191-L192 doesn't work for logged-out, since the 'all sites' concept (which is implicit in `isRequestingSites`) simply doesn't work for logged-out users (and the `isRequestingSite` doesn't really work anyway...)

[2018-03-20 15:52] #23213 closed

[2018-03-20 16:20] kwight opened #23452 "Simple Payments: Investigate why validation occasionally fails for the form."
While exploring #23387 , in rare cases a couple of us were able to save invalid data in the Calypso UI (the invalid data was caught and sanitized somewhere on the API side). Firefox may be the culprit somehow.

Background discussion: p3fqKv-6th-p2

[2018-03-20 16:29] #22851 closed

[2018-03-20 17:00] #18340 closed

[2018-03-20 17:13] gwwar opened #23455 "NPS Survey: move eligibility check to the data-layer"
In #12966 we added a new method to the [undocumented file](https://github.com/Automattic/wp-calypso/blob/bf0adc7d4bdc7ab04fb5861e917ae6d2e0772d73/client/lib/wpcom-undocumented/lib/undocumented.js#L2446) in wpcom.js let's port move this to the [data-layer](https://github.com/Automattic/wp-calypso/tree/master/client/state/data-layer) for a few reasons:
- We won't need it in the undocumented file!
-

[2018-03-20 17:21] gwwar commented on #23455
Note that it looks like we should add a new action type like `NPS_SURVEY_ELIGIBILITY_CHECK`

Once this is fully ported we'll be able to test with a browser console dispatch, to trigger the dice roll/network request:
[code]

[2018-03-20 17:24] rachelmcr commented on #22813
Related Jetpack issue: https://github.com/Automattic/jetpack/issues/2044

[2018-03-20 17:29] seear opened #23456 "JP Remote Install: Improve error handling for WP versions < 4.7"
Currently, the remote install API returns success for versions < 4.7 but Jetpack is only installed and not activated. Either:
* return failure, or,
* Fix activation

[2018-03-20 18:05] kwight commented on #17790
I think the redirect will be quite jarring; I'll look at something simpler as @gwwar suggests.

[2018-03-20 18:52] joanrho opened #23458 "Jetpack Onboarding: Change "next" link text to "skip for now" on all steps"
Confusion between “continue” and “next” button. Should be “skip for now”. For example, we don’t want the user to fill out their site title info, click “next” and have it not be applied. The same applies to all steps.

ref: p1HpG7-4WU#comment-25005

[2018-03-20 18:59] joanrho commented on #23341
@tyxla Ah, I see what you mean. Yes, I agree that it makes sense not to show it for logged in users.

[2018-03-20 19:01] joanrho opened #23460 "Jetpack Onboarding: Scale down images in Step 3"
The size of the illustrations on Step 3 is significantly larger than in the other steps. This is due to the fact that the illustration doesn't have a "scene", like the other ones do. I'll update the illustration to match the others.

[2018-03-20 19:16] joanrho opened #23461 "Jetpack Onboarding: Add an illustration on summary screen"
Add an illustration to the Summary screen.

Fireworks asset to add to top of Summary screen: https://cloudup.com/cee1yeTTusG

Mockup:

<img width="585" alt="screen shot 2018-03-20 at 1 16 01 pm" src="https://user-images.githubusercontent.com/204742/37677516-e34c2c70-2c40-11e8-8e0f-e70a17ad7d7e.png">

ref: p1HpG7-4WU#comment-25005

[2018-03-20 19:20] ockham commented on #23435
This is both interesting and tricky. We can't just add an `isLoggedIn` criterion, since a user might be logged out of WP.com, while their site is connected. Ideally, we can modify the query component and `isRequestingSite` selector to work with site slugs...

[2018-03-20 19:49] allendav commented on #22656
See also https://github.com/Automattic/jetpack/pull/9058

[2018-03-20 20:06] MichaelArestad opened #23462 "AB test button text of Activity Log switch banner"
![image](https://user-images.githubusercontent.com/1123119/37678969-3581c50a-2c45-11e8-98e3-6dd8d3f813b5.png)

There is concern there will be confusion or fear of clicking the "set up" button so we could try alternate text of "Learn more"

Let's test it once we start rolling out Rewind to Jetpack folks.

[2018-03-20 21:04] AnnaMag opened #23465 "JP Remote Install: redirecting from credentials form brings users back to the beginning."
Clicking away from the screen at `/jetpack/connect/install` after the request has been initiated with correct credentials, Jetpack install and activation will proceed undisturbed ( data stored in Redux ),
but Back browser button will land users back at `/jetpack/connect/install`.

[2018-03-20 21:21] dechov opened #23467 "Error messages are not passed back via Jetpack proxy"
The Jetpack proxy isn't passing through the error response body, causing meaningful error messages (sent back as `WP_Error`s from WooCommerce Services endpoints) to be replaced with:

`{"error":"no_response_body","message":"Server could not read response."}`

<img width="342" alt="screen shot 2018-03-20 at 5 03 01 pm" src="https://user-images.githubusercontent.com/1867547/37682753-c8decabc-2c60-11

[2018-03-20 21:29] #10668 closed

[2018-03-20 21:30] justinshreve opened #23468 "Store: TypeError on Shipping Settings Page"
I'm seeing the following error on the shipping settings page:

`Uncaught TypeError: Cannot read property 'offsetWidth' of null`

<img width="542" alt="screen shot 2018-03-20 at 2 27 52 pm" src="https://user-images.githubusercontent.com/689165/37683797-eea366e2-2c4a-11e8-9901-dbcff46e8d7c.png">

It seems like the save button is saving correctly still.

Looks like this was introduced by #22541.

@ry

[2018-03-20 21:35] justinshreve commented on #21279
I think this issue can be closed now.

The placeholder issue was fixed in #22026, the overflow issue was fixed in #23022.
I created a small PR to address the typo #23469.

[2018-03-20 21:35] #21279 closed

[2018-03-20 21:41] vindl commented on #16902
I audited the recorded page view events in order to determine for which ones the above issue is still present. Essentially I used the queries mentioned above and manual inspection to obtain the results (I'll write up a post that describes this process and link to it soon). I'm quite confident that this represent the majority (if not all) of the misreported paths in Calypso.

In the following list

[2018-03-20 21:43] justinshreve commented on #23467
Hmm - I don't think we have that problem in other places. We are using error messages for things like the duplicate SKU message that shows up when creating a product: `{"error":"product_invalid_sku"}`.

From a look at the Jetpack Proxy code (`class.wpcom-json-api-jetpack-blog-endpoint.php` on WPCOM), this is where it's happening:

[code]

So it's getting an empty body from Jetpack or something on

[2018-03-20 21:46] gwwar commented on #16902
Let's do it! Feel free to write one per section to save a bit of time (with checkboxes if there are a number of paths to fix). Let me know if you need a hand with that.

[2018-03-20 22:11] #22264 closed

[2018-03-20 23:16] allendav commented on #19761
OK, this is happening because we are testing on the manage_options capability in a few places. Unfortunately, manage_options is one of the few capabilities the shop_manager role is not granted.

Shop managers only get the following ( from https://github.com/woocommerce/woocommerce/blob/127b9a89d01a754b3045eb9422ae0165d2411d10/includes/class-wc-install.php#L848 )

[code]

[2018-03-20 23:26] ockham commented on #23435
This is a bit of a catch-22:

* We want to know whether we're connected or not, since that determines whether to send `jpoAuth`  credentials or not, so we wait until `hasFinishedRequestingSite` before we query JP(O) settings.
* However, if we're logged-out and unconnected, we cannot `<QuerySites />`, since we can't query for "all the user's sites", nor do we have a `siteId` to query for specifical

[2018-03-20 23:28] ockham commented on #23435
One way out of this dilemma could be to actually do `<QuerySite siteId={ siteSlug } />` (and `isRequestingSite( state, siteSlug )`. Thanks to the underlying action, this will work...

[2018-03-21 08:31] tyxla commented on #23435
Nice sleuthing @ockham, and the solution makes sense. Will test run it in a bit.

[2018-03-21 08:38] tyxla commented on #23458
@joanrho it seems it's being suggested that we remove links in cases where we have the Continue button? See p1HpG7-4WU-p2 #comment-25088 (also you seem to have agreed with that approach in a reply).

I'm confused as to whether to remove the links or update the text. It's worth mentioning that historically we've been through this doubt already, see https://github.com/Automattic/wp-calypso/pull/2285

[2018-03-21 08:41] tyxla commented on #23458
Or is it about doing both at the same time:

* Updating the text from "Next" to "Skip for now" in all cases
* Hiding the Next/Skip button in cases where we have the "Continue" button

Let me know if that's the case and I'll prepare a PR.

[2018-03-21 09:10] southp commented on #22914
I did a quick PoC to explore today: #23484 . In summary, my plan is to:

1. Implement a new endpoint for fetching the payment status.
1. Add a new data-layer handler for interacting with the above endpoint.
1. Add a redux substate for storing the payment status, including actions / reducers / selectors.
1. Implement a query component for polling.
1. Add a new checkout page route like: `checkout/th

[2018-03-21 09:11] tyxla commented on #23461
Looks great @joanrho, illustration added in #23485.

[2018-03-21 09:25] jrobinson-uk opened #23486 "People:"
This is a prefilled issue

[2018-03-21 09:40] #23486 closed

[2018-03-21 09:45] tyxla commented on #23458
I've decided to take the initiative and wrangle a PR - #23488.

Would appreciate some feedback @joanrho @rickybanister @jeffgolenski @keoshi, thanks!

[2018-03-21 10:54] tyxla commented on #23341
I'm not 100% sure how we're expected to proceed with all cases - on the login screen, on the signup screen, on the Jetpack Connect authorize approval step...

@joanrho could I please ask you to create a before and after of how we should alter each case? There are many cases and I just want to make sure we're doing it right.

[2018-03-21 11:20] jsnajdr opened #23493 "Inline Help: search doesn't work with special characters"
#### Steps to reproduce
1. Open inline help
2. Type ".com" into the search box

#### What I expected
As the `/rest/v1.1/help/search` request returns valid results, they should be displayed.

#### What happened instead
No results are displayed.

The selectors in `state/inline-help` don't work well with queries that contain special characters, e.g., `.com` or `foo[1]`. The JS code is:
[code]
Dots an

[2018-03-21 11:45] seear opened #23494 "JP Remote Install: Add tracks events"
Add appropriate tracks events to the Jetpack Remote Install feature. Something like:
* On Entry to creds form
* On form submit
* On success
* On error

Send the remote site url as a prop with each event.

[2018-03-21 12:04] janm6k commented on #22914
I don't have much experience with the redux parts, but from API point of view this sounds like a good plan!

[2018-03-21 13:20] ockham commented on #23177
@lsinger We do the tour change (#23441), you do the doc fixes? 😁

[2018-03-21 14:11] tyxla commented on #23436
Another way, which avoids Jetpack changes is to store the last step in a cookie.

[2018-03-21 14:25] rickybanister commented on #21655
What if we did something a bit more radical here and just made an exception for the poopy.life email address since we know it's a shared address? I'm not sure if this is a real world issue.

[2018-03-21 14:26] folletto opened #23503 "Me: Primary Site setting should make a hidden site visible."
<img width="355" alt="screen shot 2018-03-21 at 10 19 41" src="https://user-images.githubusercontent.com/4389/37715047-62570b60-2cf1-11e8-965e-7466b7bb3914.png">

In https://wordpress.com/me/account setting an "Hidden" site as "Primary Site" doesn't make the site "Visible".

### Steps to reproduce

1. From My Sites → Switch Site → scroll to the bottom and click on "Change" for the hidden sites set

[2018-03-21 15:02] caimin-j opened #23505 "Bug: Press This cannot be dragged to favorites bar in Microsoft Edge"
Using Microsoft Edge:
#### Steps to reproduce
1. Go to My Sites > Settings
2. Drag the Press This button to the favorites bar...
3. ..or right-click the Press This button

#### What I expected
To be able to save Press This to the favorites bar.

#### What happened instead
Press This can't be dropped on to the favorites bar. The right-click option does show an option to add to the favorites bar.

#

[2018-03-21 15:13] vindl opened #23506 "Checklist: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Checklist are reported without replacing site slug with `:site` variable. For example:

`/checklist/:site/example.wordpress.com`

In this case, since `:site` variable is already present in the path, I think that we should just remove the site slug part.

For more details on how to obtain the logs, please check out the parent is

[2018-03-21 15:19] vindl opened #23508 "Checkout: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Checkout are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[site]` means that `example.wordpress.com` was recorded in our logs, instead of `:site`):

- [ ] `/checkout/[site_id]/personal`
-

[2018-03-21 15:24] rantoncuadrado opened #23509 "Happychat Localized Chat Routing not showing the correct button"
Happychat Localized Chat Routing not showing the correct button
#### Steps to reproduce
1. Set your interfaz language to SPANISH in https://wordpress.com/me/account
2. Set a site language -for this user- to SPANISH, I did with https://wordpress.com/settings/general/aprehendizajes.com
3. Set another site language to ENGLISH, I did with https://wordpress.com/settings/general/extimacies.wordpress.com

[2018-03-21 15:24] vindl opened #23510 "Comments: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Comments are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[comment_id]` means that something like `123` was recorded in our logs, instead of `:comment_id`):

- [x] /comment/[comment_id] (o

[2018-03-21 15:27] rickybanister commented on #701
I've noticed this issue recently as well. If I don't remember the wording of a tag I use the sidebar's typeahead, and later realized the tag didn't apply. I believe @davidakennedy had the same problem recently.

[2018-03-21 15:33] vindl opened #23513 "Customize: page views reported with non-normalized paths"
According to internal logs, some calypso_page_view paths coming from Checkout are reported without replacing passed parameters with corresponding variables. For example:

- [ ] `/customize/undefined`
- [ ] `/customize/WP-ADMIN`, `/customize/WP-admin`, `/customize/wd-admin`, `/customize/wp-Admin`, `/customize/admin`.

The first one might be related to https://github.com/Automattic/wp-calypso/issues

[2018-03-21 15:36] vindl opened #23514 "Domains: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Domains are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[site]` means that `example.wordpress.com` was recorded in our logs, instead of `:site`):

- [ ] /domains/add/[site]/google-apps
-

[2018-03-21 15:39] simison commented on #22202
Also noting that when running latest unpublished version (v5.6-alpha), Calypso shows date of the latest published version (v5.9):

![image](https://user-images.githubusercontent.com/87168/37719891-c9f1e366-2d2e-11e8-91dd-3cf9201ee738.png)

[2018-03-21 15:40] vindl opened #23515 "Me: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Checkout are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[purchase_id]` means that something like `1234567` was recorded in our logs, instead of `:purchase_id`):

- [ ] `/me/purchases/[pu

[2018-03-21 15:42] vindl opened #23516 "Media: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Media are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[filename]` means that `example-file.pdf` was recorded in our logs, instead of `:file`):

`/media/[filename]/:site`

For more details

[2018-03-21 15:44] vindl opened #23517 "Page: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Page are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[page_id]` means that something like `123` was recorded in our logs, instead of `:page_id`):

`/page/[page_id]`

For more details on h

[2018-03-21 15:47] vindl opened #23519 "People: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from People section are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[hash]` means that something like `72ca5c93acd491a7a757ed28483ffce8` was recorded in our logs, instead of `:hash`):

`/peopl

[2018-03-21 15:49] vindl opened #23520 "Plugins: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Plugins are reported without replacing passed parameters with corresponding variables.

`/plugins/akismet/localhost::danish`

We need to check if `akismet` should be replaced with `:plugin_name`, and where `localhost::danish` is coming from, and why is it recorded anyway?

For more details on how to obtain the logs, please chec

[2018-03-21 15:50] vindl opened #23521 "Posts: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Posts are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[site]` means that `example.wordpress.com` was recorded in our logs, instead of `:site`):

- [x] `/post/[post_id]`
- [x] `/post/[site

[2018-03-21 15:51] nellofn commented on #23509
For this, we'll need to highlight the **Subject** field to make it easier for users to realize why the Contact option is not enabled.

I tried this on my sites and could replicate this case as well:

- Site language: English
- Account language: Spanish

**Result:** Email button only.

**What I expected:** Help options are based on the user's account language, not the site's language setting.

[2018-03-21 15:52] vindl opened #23522 "Stats: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Stats are reported without replacing passed parameters with corresponding variables. In the following examples I'll be using `[variable]` to denote the places where these parameters appear (e.g. `[site]` means that `example.wordpress.com` was recorded in our logs, instead of `:site`):

- [x] `/stats/day/[site]/:site`
- [x] `/st

[2018-03-21 15:53] #23407 closed

[2018-03-21 15:53] #23435 closed

[2018-03-21 15:54] vindl opened #23523 "Start: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from `/start/` route are reported without replacing passed parameters with corresponding variables. For example:

`/start/about/el-po`

Actually all of the `/start` route variations seem to have locale string appended. I'm wondering if this should be replaced with `:locale` variable for the purpose of page view stats reporting?

For

[2018-03-21 15:57] vindl opened #23524 "Themes: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Themes are reported without replacing passed parameters with corresponding variables. For example:

- [ ] `/themes/blog/filter/accessibility-ready+author-bio+blog-excerpts+fixed-layout+fixed-layout+fluid-layout+grid-layout+responsive-layout`

There are a lot of similar examples in the logs with various filter combinations being

[2018-03-21 15:59] joanrho commented on #23458
@tyxla exactly—it's about doing both at the same time in certain cases like your comment above:

[2018-03-21 16:04] vindl opened #23525 "Analytics: page views reported with non-normalized paths"
According to internal logs, some `calypso_page_view` paths coming from Checkout are reported without replacing passed parameters with corresponding variables. For example we are reporting `example.wordpress.com` in paths instead of `:site` etc.

For more background on this please check out https://github.com/Automattic/wp-calypso/issues/16902, p7jreA-1xN-p2, and p4qSXL-2hc-p2. Ideally we should ha

[2018-03-21 16:13] vindl commented on #16902
I logged all of the issues separated by section in the following milestone https://github.com/Automattic/wp-calypso/milestone/238, and also added a framework issue to add eslint rule or reporting in order to prevent new errors popping up. Closing this out for now because the new issues cover everything that was reported here. After all of the fixes are deployed, we will continue monitoring the log

[2018-03-21 16:13] #16902 closed

[2018-03-21 16:17] tyxla commented on #23458
@joanrho sure, that's already done in #23488 - it's already approved, but if you can take a look too that would be awesome!

[2018-03-21 16:18] rickybanister commented on #14253
Any chance of this being tackled during our continuation of hack week?

[2018-03-21 16:24] rickybanister commented on #7228
@tyxla can you confirm what work remains in order to get this issue closed?

I just checked and @richardmuscat's last comment about the 'upgrade to yearly' call to action is finished:

![image](https://user-images.githubusercontent.com/437258/37722517-98c3df3c-2d02-11e8-96f3-969e248ac101.png)

That is, if you view the yearly tab. If you view the monthly tab you see this:

![image](https://user-ima

[2018-03-21 16:51] #23460 closed

[2018-03-21 16:51] MichaelArestad commented on #22404
In trying to recreate this, I got a plan and, during set up, disconnected it. I got the following error:
![image](https://user-images.githubusercontent.com/1123119/37723971-59956072-2cf5-11e8-86d2-7bdeca303a93.png)

I think this error should have a button to contact Happiness. "Get help" probably.

To address this issue (with infinite spinners), we need to do something similar to the screenshot ab

[2018-03-21 17:19] designsimply commented on #23505
I tried adding any link by dragging it into the favorites bar in Edge 16 on Windows 10 and found that it didn't work, so I think it's a limitation of the browser. ([24s](https://cloudup.com/cA9p5gRwgW3))

After searching, I found a Stack Overflow answer that proposes a workaround: https://stackoverflow.com/a/43307055

I tried testing it but found a slightly different workaround worked for me: [35s

[2018-03-21 17:20] jeherve commented on #23146
Closing this as snow is coming back:
https://github.com/Automattic/jetpack/pull/9110

[2018-03-21 17:20] #23146 closed

[2018-03-21 17:33] gititon commented on #17480
I tested this extensively and found that Calypso reported the correct plugin versions, even after modifying plugin versions on the Jetpack site via the Plugin Editor. @enejb confirmed my findings. We will address the Jetpack Beta specific inconsistencies separately. Please feel free to reopen if you find there is still an issue unrelated to Jetpack Beta.

[2018-03-21 17:33] #17480 closed

[2018-03-21 17:48] singerb commented on #23371
Updated the wording based on this feedback; thanks! Closing the issue.

[2018-03-21 17:48] #23371 closed

[2018-03-21 17:49] #21376 closed

[2018-03-21 17:49] #22662 closed

[2018-03-21 18:20] #17415 closed

[2018-03-21 18:40] mattwondra commented on #23509
@rantoncuadrado Thanks for spotting this — we thought we'd explicitly not required the subject line in this case but it seems we were wrong. In the case where two buttons are present (one to email in Spanish and one to chat in English) we will remove the subject line and only a message will be required, the same as it is currently for live chat.

This is because you chose a free site so live chat

[2018-03-21 18:41] mattwondra commented on #23509
@nellofn I'm assuming the same thing happened when you tested an English site — it was a free site, so chat was not given as an option.

To clarify — we do not account for the site's language preferences in any way when showing support options and routing chats/tickets.

[2018-03-21 19:20] joanrho commented on #23341
@tyxla Thanks for prompting me to go through each and every single case. I've added some copy versions for the Logged In cases hadn't been considered. cc @benhuberman for review.

Does this make sense?

For **Logged Out** users:

(Add contact form step)
In order to add a Contact Us page with a contact form to your site, you'll need to connect to Jetpack. You can either log in to your WordPress.com

[2018-03-21 19:34] benhuberman commented on #23341
The logged-out language looks good to me. For the logged-in version, I'd suggest a couple of tweaks:

Does that work, @joanrho ?

Small nit: when talking about specific widgets (as opposed to widgets, generically), we usually go with title case (like other feature names), so "business address widget" s/b "Business Address Widget."

[2018-03-21 19:34] sirbrillig commented on #22914
redux work (yay for using the data-layer!) sounds like a good plan too!

[2018-03-21 20:17] unDemian commented on #23509
I don't think stats would be affected by this, because that is how the form has always worked. When email option is present the subject field will be required. We are going to remove the subject field when we show both email and chat via https://github.com/Automattic/wp-calypso/pull/23529

I can't see a big decrease in `es` chats in the past 2 months, I added a new chart which breaks down number o

[2018-03-21 21:35] gititon commented on #17480
@beaulebens I submitted and merged a PR for the Jetpack Beta plugin that should ensure Calypso properly reports whatever Jetpack version you're using on account of the Jetpack Beta plugin, https://github.com/Automattic/jetpack-beta/pull/56.

[2018-03-21 21:55] justinshreve commented on #21427
I tried to brainstorm and tinker with this a bit today and got something that kind of works for products.

However, each object list (product, promotion, product category) works differently both in terms of display and code/structure. i.e. on the product category page we would have to wait till all the elements load, scroll down, then highlight the row. For Promotions we have to find the correct p

[2018-03-21 22:27] yanirs commented on #16902
This is awesome, thanks @vindl!

[2018-03-21 22:52] designsimply commented on #23505
Would love to have a second opinion from someone working on the project about whether it might be worth updating the language. Here's what it currently says:

<img width="1280" alt="screen shot 2018-03-21 at wed mar 21 11 22 11 am" src="https://user-images.githubusercontent.com/1119271/37726117-339557a6-2cfa-11e8-9fcf-21b1d2d59e3c.png">

[2018-03-21 23:46] joanrho commented on #23341
@benhuberman sounds good to me! Thanks so much.

I updated my copy paragraphs to include those changes.

[2018-03-22 05:55] rantoncuadrado commented on #23509
@mattwondra you are right about my English site. It was free. Sorry about that.

@unDemian. I expected something like this. The difference would be in tickets. To clarify this, as a general rule:

- You can expect people able to speak English to choose Chat
- People with no English knowledge facing the ES-Ticket vs EN-Chat alternative could choose ES-Ticket.
- The same people facing the EN-Chat as

[2018-03-22 08:33] #22731 closed

[2018-03-22 09:11] #23458 closed

[2018-03-22 09:20] #23461 closed

[2018-03-22 09:27] #23298 closed

[2018-03-22 10:51] tyxla commented on #7228
Looking again, it seems the "Your plan" ribbon works properly to cover these cases.

I was thinking whether we should also propagate the "Manage Plan" to the monthly plan view when viewing the corresponding yearly plan for a site that currenly has a yearly plan. But that is probably something unrelated.

That being said, I agree we could close this one and reconsider future improvements another ti

[2018-03-22 11:54] GeoJunkie opened #23542 "Can't remove or update coupon code in checkout"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/plans
2. Upgrade a plan
3. Choose "Have a coupon code?"
4. Enter a valid coupon code and Apply
5. Realize you entered the wrong code/have a better code

#### What I expected

A way to view the currently applied coupon and remove or change the code.

#### What happened instead

There is no way to view what discounts have been applied

[2018-03-22 12:06] GeoJunkie opened #23543 "Link To option no longer available for post/page images"
#### Steps to reproduce
1. Create or edit a post/page
2. Insert an image
3. Click the pencil icon, then the Edit Image button

#### What I expected

A Link To option to link the image to the Attachment Page, Media File, or a Custom URL.

#### What happened instead

An interface to rotate, crop, or flip the image without any of the link to options available any more.

This capability still exists i

[2018-03-22 12:48] seear opened #23544 "Jetpack Connect: Manual instructions margins unequal at some widths"
<img width="517" alt="screen shot 2018-03-22 at 12 39 28" src="https://user-images.githubusercontent.com/7767559/37771327-26a79650-2dcf-11e8-9926-010f8663c9df.png">

400px > Unequal margins < 480px

[2018-03-22 12:59] caimin-j commented on #23505
Thanks for the info. I've let the user know and sent them a link to the workaround video.

[2018-03-22 14:02] eliorivero opened #23546 "Activity Log: app banner related to Stats is shown"
Visit https://wordpress.com/stats/activity/YOURSITESLUG in a mobile device. I was actually able to find this in Chrome's mobile emulator in dev tools:

<img width="336" alt="captura de pantalla 2018-03-22 a la s 10 34 26" src="https://user-images.githubusercontent.com/1041600/37774589-66c5670e-2dbf-11e8-8248-9d61ac3a6358.png">

Right now we have nothing in the Redux state that allows us to discrim

[2018-03-22 14:03] eliorivero commented on #22869
This one should be fixed as well

https://github.com/Automattic/wp-calypso/issues/23546

[2018-03-22 14:10] seear opened #23547 "JP Remote Install: Disable password managers for creds form"
See p1HpG7-4Xw-p2 #comment-25161

Automatic password manager interaction with the credentials form for remote install may not be appropriate because the domain will not match the stored password.

Is there a sensible way to hint to password managers not to interact with this password field?

[2018-03-22 14:54] #7228 closed

[2018-03-22 15:31] ehti commented on #23139
@klimeryk I don't think we can verify if a domain is verified with G Suite/Zoho/O365 etc.

So yes- making it optional would be the best route IMO (with the field label also saying optional, so users aren't too confused).

Also, considering the issue in p2MSmN-6ro-p2 , I'd even say that we don't need to validate if the token format is correct. That's user's responsibility, and additional burden on

[2018-03-22 15:52] cafenoirdesign opened #23549 "Enhancement request for the SMS Verification code screen in Calypso"
#### Steps to reproduce

There are a couple spots in the Calypso user flow, where users are asked to revalidate their identity. One spot is when managing subscriptions here:
https://wordpress.com/me/notifications

#### What I expected

Why is the "Send SMS" button, below the empty "Verification Code" field?

It implies that you need the field to be filled in before clicking the button, when actual

[2018-03-22 16:08] drw158 commented on #23549
This is from #22195

[2018-03-22 16:47] gwwar commented on #23546
Yes, we currently show this for the stats root. Is there any reason why activity log was added to the stats path if we don't consider it a stat?

[2018-03-22 16:49] gwwar commented on #23546
cc @kwonye @catehstn what are your preferences for behavior here?

[2018-03-22 16:56] klimeryk commented on #23139
I agree that it can totally change - as seen here. But we have to remember that this is a very asynchronous and "esoteric" action for the user. They want to set up their email - so they buy G Suite or Zoho and now they need to set up these magical "DNS records". So they end up on this view. If we make the token field optional, my guess will be that most of the users will just skip supplying it - o

[2018-03-22 17:05] ehti commented on #23139
You can get a domain verified and then remove its TXT record - that's what leads to many confusing cases with Office 365 emails: People wanting to use their existing O365 email service with already verified domains, in quite a few cases purchased from 3rd parties like GoDaddy. And they have no TXT records to provide or at least nothing is in their DNS editor.

And we force-ask for it, that too in

[2018-03-22 17:18] eliorivero commented on #23546
@gwwar there's a good reasoning about why it's under Stats in p7pQDF-2Me-p2, in the #comment-10161

[2018-03-22 17:21] jblz commented on #9142
Related #18203

[2018-03-22 17:24] mattwondra commented on #23509
@rantoncuadrado There shouldn't be any impact on tickets because of this. The experience of the ticket-only form hasn't changed at all (it's always required a subject line to be submittable). And the new double-button form with the known issue was previously a chat-only form. So even though it's not ideal that the double-button form requires a subject for the ticket to be filled, that's not taking

[2018-03-22 18:11] joanrho opened #23557 "Jetpack Onboarding: Add checklist styling to Summary view"
As discussed in p1HpG7-4WU#comment-25192, here is a mockup of what the Summary step of JPO could look like in a future iteration with the Checklist styling applied.

<img width="615" alt="summary step with checklist buttons" src="https://user-images.githubusercontent.com/204742/37789592-f17ac2ea-2dc9-11e8-82ff-370e00eab89b.png">

[2018-03-22 18:32] gwwar commented on #23546
A quick technical fix would be to expand the check while in the stats section to see if the current window location contains your sub-sections. eg

[code]

I don't think we have enough of a use case to dispatch additional information about the path for a general framework update though we can certainly revisit if folks see this happening often.

We're happy to help review if folks start a PR. I'm

[2018-03-22 18:39] justinshreve opened #23559 "Store: New Order screen doesn't use store currency"
The new order screen doesn't seem to pull in the store currency when creating a new order.

Steps to reproduce:

1. Set your currency (`http://calypso.localhost:3000/store/settings/site`) to something like Pounds
2. Navigate to the new order screen (`http://calypso.localhost:3000/store/order/:site`)
3. Notice the shipping dialog displays `$`
4. Click add a product. The prices here will be displaye

[2018-03-22 19:34] justinshreve commented on #21304
This has already been handled.

<img width="1174" alt="5" src="https://user-images.githubusercontent.com/1595739/35016334-efff15c2-facc-11e7-9128-a455c5c8a1a1.png">

[2018-03-22 19:34] #21304 closed

[2018-03-22 19:35] justinshreve commented on #18814
I think this one can be closed out. We've made the top bar sticky on all displays, and have added notices to our pages when you navigate away with unsaved changes.

[2018-03-22 19:35] #18814 closed

[2018-03-22 19:36] #15333 closed

[2018-03-22 19:55] samjhamdy opened #23561 "Themes: Dropdown filters not appearing when filter is clicked"
#### Steps to reproduce
1. Starting at any WordPress.com site
2. Go to the Themes panel
3. Click on a filter (e.g. 'Subject')

#### What I expected

This should trigger a dropdown of the 'Subject' filters to appear.

#### What happened instead

Nothing. Although the filter name does appear in the Search field.

#### Browser / OS version

Chrome Version 65.0.3325.162 (Official Build) (64-bit) / OS

[2018-03-22 20:31] allendav commented on #23559
Found it. We set all new orders to `USD` by default

https://github.com/Automattic/wp-calypso/blob/46b162169d2ac69b7e743d4a9259f59821eed120/client/extensions/woocommerce/state/ui/orders/selectors.js#L61

Working on a fix now.

[2018-03-22 20:31] hoverduck opened #23564 "Editor: Toggling between Visual/HTML mode loses tab characters"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/post/example.wordpress.com
2. Go to the HTML editor tab
3. Paste in some text with tabs, like the following:
[code]
4. Switch to Visual mode and back

#### What I expected
For my tabs to be retained

#### What happened instead
The tabs disappear when I go to the Visual tab, and remain missing when I go back to HTML.

#### Browser /

[2018-03-22 20:32] gibrown opened #23565 "Jetpack JITM: API call slow and hard to debug due to multiple hops"
The current implementation of the JITM in Calypso takes a round about path to get a response:
1. Calypso runs a request to wp.com v1 api. Example `https://public-api.wordpress.com/rest/v1.1/jetpack-blogs/43590063/rest-api/?_envelope=1&path=%2Fjetpack%2Fv4%2Fjitm&query=%7B%22message_path%22%3A%22calypso%3Aposts-pages%3Aadmin_notices%22%7D&http_envelope=1`
2. v1 api redirects request to the Jetpack

[2018-03-22 22:30] kwight opened #23567 "Simple Payments: Invalid prices for products are not displayed in editor."
With #23213 , we know that some users have invalid prices in their products. An invalid price won't display in the editor, but it also doesn't indicate to the user that there is anything wrong with the product.

![screen shot 2018-03-22 at 3 25 28 pm](https://user-images.githubusercontent.com/349751/37802006-ee430cec-2de5-11e8-9af1-7acff6b8433a.png)

An alert to prompt the user to correct the pric

[2018-03-22 22:54] samouri commented on #23000
First usage of `componentDidCatch` has just been merged by @bluefuton to make it so that a single bad component doesn't break all of devdocs: https://github.com/Automattic/wp-calypso/pull/20252

🎉

[2018-03-22 23:34] enejb commented on #22404
I got the same screen. See
![screen shot 2018-03-22 at 4 32 42 pm](https://user-images.githubusercontent.com/115071/37803900-b6613df4-2dee-11e8-87c6-14ad5b01052c.png)

I noticed that the message in the yellow box is telling me to set thing up manually.

@rickybanister Can you help with this? How can we improve this flow for the user?

[2018-03-23 00:13] iamtakashi opened #23572 "Simple Payments: Mismatching buttons between Calypso and site front-end"
PayPal keeps changing the button appearance and now the main button style doesn't match. That's easy to fix, but I'm not sure if we can safely to add the credit card icons because I've heard at some point not all customers see the same icons.

![artboard 2](https://user-images.githubusercontent.com/908665/37804923-c99808ea-2e2e-11e8-8f9c-6855928849df.png)

[2018-03-23 01:28] choubacha opened #23574 "Replying to a comment doesn't respect depth limits"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/read/blogs/144400841/posts/3#comments
2. Reply to comment "b" over and over. (see comments with the text `b-r-1`, every new reply has another `r` added to it)
3. Each reply is actually replied to the previous comment
4. Examine the network of comments and parents. You should see that I was able to create a deeply nested reply struct

[2018-03-23 01:53] jancavan opened #23575 "Onboarding Checklist: Change tooltip is still being displayed even after uploading a new Site Icon"
#### Steps to reproduce
1. Create a brand new site.
2. Select the step where you are asked to customize your site icon.
3. Be taken to your Site Profile and click on the placeholder site icon to upload a new one (there's a tooltip telling you to Change the image).
4. Upload a new site icon.
5. Exit "Edit" mode. Notice how the Change tooltip is still there.

#### What I expected
For the Change tool

[2018-03-23 02:02] jancavan opened #23576 "Pages: Unable to set a page as a Home page"
#### Steps to reproduce
1. Starting at URL: https://wpcalypso.wordpress.com/page/[site].
2. Add a new page.
3. Try setting a page as your Home.

#### What I expected
To be able to set any page in `/pages` as my Home page. I searched for this option in the ellipsis menu, but it wasn't there.

It also doesn't help that I'm seeing `Front page is showing your latest post`. "Well, yes, that's correct,

[2018-03-23 02:51] mapk commented on #23561
Looks like this has been corrected with #23562 which reverted the code that introduced the problem. I'll close this.

[2018-03-23 02:51] #23561 closed

[2018-03-23 03:22] frontdevde commented on #22645
### Observation

For standard posts the `post.URL` and the base of `post.preview_URL` always match.

With portfolios they differ, so for example the `post.URL` looks like this
`...portfolio/portfolio-test/...` while the `post.preview_URL` looks like this
`...2018/03/22/portfolio-test/...`.

When visiting the URL
https://example.wordpress.com/2018/03/22/portfolio-test/
in the Browser, it resolves t

[2018-03-23 07:07] #11520 closed

[2018-03-23 09:24] suiwenfeng commented on #22787
![image](https://user-images.githubusercontent.com/2735407/37821561-ee5edd44-2ebe-11e8-9736-530b159857ce.png)

which version you are using ？
✓ expecting node: 8.9.4 (Your version: 8.9.4)
✓ expecting npm: 5.6.0 (Your version: 5.6.0)

[2018-03-23 11:17] vindl opened #23580 "Pages: page views reported with non-normalized paths"
According to internal logs, some calypso_page_view paths coming from Pages are reported without replacing passed parameters with corresponding variables, or removing wrong entries from the route:

- [x] `/pages/[random_text]`
- [x] `/pages/[random_text]/:site`

For more details on how to obtain the logs, please check out the parent issue #16902 and p7jreA-1xN-p2.

You can also use this query to se

[2018-03-23 12:37] #22762 closed

[2018-03-23 14:13] tyxla commented on #23297
Fix coming in #23594.

[2018-03-23 14:26] tyxla commented on #23341
@joanrho we've been discussing possible implementation with @ockham and it seems that in order to achieve that we'll need to implement Jetpack Onboarding-specific copy in two separate sections that are completely distinct from the Jetpack Onboarding one:

- Login (the login block)
- Jetpack Connect + Jetpack signup

FWIW, we've been striving to keep those sections independent and this implementati

[2018-03-23 14:26] rickybanister commented on #22404
We are looking to deprecate this screen in favor of the new checklist feature on the my plan page. As we do that we probably need to either automatically re-try the auto-configuration or provide a 'try again' link.

Do you know exactly what part timed out @enejb?

cc @joanrho to consider with the checklist work and also @johnHackworth

[2018-03-23 14:29] ockham commented on #23341
Yeah, been discussing this with @tyxla in Slack -- the trouble is that we would have to spill JPO specific information into JPC, which is otherwise pretty agnostic of JPO. This goes kind of against principles of encapsulation and modularity, so I'd also rather avoid it...

[2018-03-23 14:30] jeherve commented on #20456
Also in 1001559-zen

[2018-03-23 14:37] dechov commented on #23467
Thanks for pointing me to that code @justinshreve. Should have caught this when documenting the issue, but the wp-admin client is also receiving a 500 status (with an HTML body), so yes, it's an issue with the host not allowing `WP_Error` responses for some reason.

[2018-03-23 15:34] enejb commented on #22404
@rickybanister There are all sorts of errors that are possible. In my case I took the site offline completely. The API failed by not being able to return any plugins from the site.
Do you think we should send some time fixing this now?
When is the new checkmark page suppose to go live?

I think for now we could make the message that says "we can't automatically configure your site." more prominent

[2018-03-23 15:41] lsinger opened #23598 "Guided Tours: tour history reset doesn't work anymore"
As of now, the following doesn't seem to work anymore to reset one's Guided Tours history:

To clear a user's tour history, simply visit Calypso with `tour=reset` as a query argument. This will then call `resetGuidedToursHistory`:

[code]

When this issue is resolved, please add the above documentation to Guided Tours' [`DEBUGGING.md`](https://github.com/Automattic/wp-calypso/blob/master/client/la

[2018-03-23 16:02] Copons commented on #23510
Wondering if this is still relevant.

`/comments` should only reports normalized, manually written, paths created in the controller and passed down to `Main` that assign them to `PageViewTracker`:
https://github.com/Automattic/wp-calypso/blob/master/client/my-sites/comments/controller.js#L65
https://github.com/Automattic/wp-calypso/blob/master/client/my-sites/comments/controller.js#L94

`/comment`

[2018-03-23 16:12] Copons commented on #18197
This is likely related to a bunch of corner cases where the `comments-tree` endpoint returned some incorrect comments for a variety of reasons.
If I recall correctly, we eventually got around to fix this issue, but anyway since then we also moved back to the `comments-list` endpoint which should be safe from this kind of problems.

I'm going to close this issue for now since I can't reproduce it (

[2018-03-23 16:12] #18197 closed

[2018-03-23 16:26] #20663 closed

[2018-03-23 16:40] joanrho commented on #23557
No dumb Qs, these are all valid!

Yes. Incomplete and complete. We hope to group them together by complete/incomplete—would that be possible?

Yes I think that will be the case for the right side items, but, for example, when a user clicks on the “type of site” checklist item (in the first column) to revisit since they skipped it in step 2, it will take them back into JPO (this was an issue brough

[2018-03-23 17:16] #23468 closed

[2018-03-23 17:16] #16733 closed

[2018-03-23 17:17] rickybanister opened #23604 "Plugins: add tracks events to plugin search"
Currently we can analyze the search parameter urls from the calypso plugin browser, but it doesn't give us enough to segment the results.

Can we add tracks events to record the search query that is submitted to the search field, as well as  the site, and user’s language?

context: p10gg3-8w9

[2018-03-23 17:39] vindl commented on #23510
@Copons yes, the code seems fine, although if you run this query 1d6d6-pb for yesterday's stats you'll notice that we still have a small number of events recorded as `/comments/all` instead of `/comments/:status`.

Also, running this query 1d6d8-pb will show a small number of paths that are recorded as `/comment/123` instead of `/comment/:comment_id` (most likely, but could be `:site_id also?).

I

[2018-03-23 17:45] nosolosw opened #23606 "Blank screnn when a post can't be found"
When a customer access a post that can't be found, he is presented with the following blank screen:

![reader-post-not-found](https://user-images.githubusercontent.com/583546/37845220-406099e2-2eca-11e8-9a9f-2dc63096a567.png)

This is the console error:

![reader-no-feed](https://user-images.githubusercontent.com/583546/37845250-50981fc4-2eca-11e8-8de1-10df62326a26.png)

More details at p5PDj3-4tW

[2018-03-23 17:57] joanrho commented on #23341
That sounds good to me for now. We can think of better solutions when we revisit this in the future. Thanks @tyxla and @ockham!

[2018-03-23 18:00] timmyc commented on #21427
Seems reasonable if the established pattern after create for posts and pages is to show the edit screen - that we should do the same with store related objects. In Woo core we do the same thing on product creates.

[2018-03-23 18:36] rwaynick commented on #20208
Another suggestion for a warning in 2159832-hc

[2018-03-23 20:16] kwonye commented on #23546
I agree with this approach, @gwwar. That stats is pretty focus on the general stats screen so it's out of place here in the activity log.

[2018-03-23 20:46] #23509 closed

[2018-03-23 20:48] dechov commented on #23467
Closing as not directly pertinent to Calypso.

[2018-03-23 20:48] #23467 closed

[2018-03-23 21:10] ockham commented on #23436
I've thought some more about this. I my preferred way would be to persist Redux state -- this would be the simplest and most elegant way of retaining credentials for when a user returns to JPO. We would likely have to add some sort of exception since right now, we don't persist Redux state for logged-out users IIRC.

[2018-03-24 09:56] ehti opened #23615 "Domain-only: Unable to add Site Redirect"
Because of the way domains purchased from wordpress.com/domains (domain-only) work, if someone wants to redirect it, it's not possible without first purchasing a plan, refunding, and THEN adding a Site Redirect.

#### Steps to reproduce
1. Starting at URL: `wordpress.com/domains` - register a domain

2. Per this [support doc](https://en.support.wordpress.com/site-redirect/), go here to add a site

[2018-03-24 13:05] ChrissiePollock opened #23616 "Site Activation Email has Incorrect Information"
#### What I expected -
I created a new account/site and expected consistent information between the https://wordpress.com/ page and the activation email.

#### What happened instead
The https://wordpress.com/ says that WordPress powers 30% of the Internet, and the email says 28%.

https://wordpress.com/
![screen shot 2018-03-24 at 8 55 41 am](https://user-images.githubusercontent.com/2545184/37864

[2018-03-24 13:46] ChrissiePollock commented on #21859
@rachelmcr The user is coming back asking about this. Does it appear as if a fix is on the horizon?

[2018-03-24 15:41] rachelmcr commented on #21859
@ChrissiePollock This issue hasn't been picked up yet. As a workaround, if users access WP Admin first (to ensure they are logged in there) everything in Calypso should work as expected.

[2018-03-24 18:59] mccarthinator commented on #23576
This is legit! I agree this current workflow is inefficient and disconnected. Also, this is my first attempt to make a code contribution to calypso, so bear with me please as I attempt to come up with a solution :)

Design question for you as I see you're a product designer and I'm not! What is your ideal workflow for this process of easily changing a homepage?

-One solution I see is adding anoth

[2018-03-24 22:00] mccarthinator commented on #23576
I've identified that this menu is a React component (PopoverMenuItem), which is found in client/my-sites/pages/page/index.js

But it's not the functionality of the component that needs changing, it's the display of this specific page that needs an additional menu-item component added to the menu. In the readme inside of the popover docs, I see that "children { node }" is where we define what exact

[2018-03-24 23:12] lancewillett commented on #14235
Fixed in r172277-wpcom

[2018-03-24 23:12] #14235 closed

[2018-03-24 23:15] #15143 closed

[2018-03-24 23:19] lancewillett commented on #14240
Cancel on the Avatar settings — that comes from core WordPress and isn't easily hideable right now.

Let's just hide the Comment Form prompt for now, see D10299-code.

[2018-03-25 00:15] #11109 closed

[2018-03-25 00:26] ChrissiePollock opened #23617 "Emails for Replies to Comments not Coming Through"
#### Steps to reproduce
1. Starting at URL: https://amehrling.com/2018/03/21/logans-snow-day/
2. I made a comment as Chrissie.

#### What I expected
When my comment was replied to, I would expect a notification, either in my notifications or by email if I had that set up (I don't).

#### What happened instead
I never get a notification of responses from this site.

#### Browser / OS version

Firef

[2018-03-25 14:41] andfinally opened #23618 "Editor: content of editor help dialog overflows on IE11"
#### Steps to reproduce
1. In IE11, starting at URL: https://wordpress.com/post/[subdomain].wordpress.com/[postId]
2. Use the scrollbar in the post editor menu to scroll to the right-hand end of the menu (or if you see the menu expand icon, expand the post editor menu to show the second row).
3. Click on the dark question mark icon on the right-hand end of the menu to pop up the keyboard shortcuts

[2018-03-25 19:17] #15364 closed

[2018-03-25 19:55] sirbrillig opened #23619 "Draft quick links cause a type error"
#### Steps to reproduce
1. First, begin writing a post and save it as a draft (or use an already-saved draft).
2. Starting at URL: http://calypso.localhost:3000/post/your.site.here
3. Click on the "Latest Drafts" button (the small number icon on the upper left adjacent to the site title in the master bar).
4. Click on the title card of a draft.

#### What I expected

To be redirected to the post e

[2018-03-25 21:17] #8078 closed

[2018-03-25 22:11] bluefuton commented on #15503
Still think this'd be valuable for future Reader maintainers :)

[2018-03-26 01:13] bluefuton opened #23623 "Reader: redirect logged-out users to login page"
#### Steps to reproduce

Visit any Reader URL - e.g. http://wordpress.com/read/conversations - when not logged in.

#### What I expected

Redirected to login page.

#### What happened instead

![screen shot 2018-03-26 at 2 10 23 pm](https://user-images.githubusercontent.com/17325/37882402-8d07d3fa-30ff-11e8-8c75-1087c74965ea.png)

[2018-03-26 01:15] bluefuton commented on #23623
There's some ongoing work in https://github.com/Automattic/wp-calypso/pull/23548 to provide a `redirectLoggedOut` function on the main controller. We can use this once it's merged.

[2018-03-26 06:40] #22452 closed

[2018-03-26 06:50] #22869 closed

[2018-03-26 10:03] rachelmcr commented on #23615
Could you give more details about a scenario where a Site Redirect is required? I would expect that in most cases the domain could be pointed to the desired location, whereas a site redirect is meant for use with sites themselves (not domains only).

[2018-03-26 10:16] #23297 closed

[2018-03-26 10:24] tyxla commented on #23436
Sounds like a great plan! I was only wondering if we could break anything if we do that. Would be good to investigate what were the motivations to implement clearing of the state when logging in, just to make sure we're not missing something.

[2018-03-26 11:26] nosolosw commented on #18670
Work for this is happening at https://github.com/Automattic/happychat-client/issues/152

[2018-03-26 11:26] #18670 closed

[2018-03-26 12:40] tyxla commented on #22696
This one is really close to getting done - just needs a final review of D10740-code after feedback was addressed.

Do you think you can have another look @ebinnion?

[2018-03-26 12:59] lsinger commented on #23177
Opened a PR for the documentation fixes here: #23641.

[2018-03-26 13:07] roccotripaldi commented on #14819
I'm 95% sure this is fixed. I can no longer reproduce. Let's re-open if it re-surfaces.

[2018-03-26 13:07] #14819 closed

[2018-03-26 14:11] MindyPostoff commented on #17340
I encountered this issue in:
Ticket: 1039668-zd-woothemes

Seeing the loading icon indefinitely and there is no option to cancel the import in WP-ADMIN

[2018-03-26 14:19] gravityrail opened #23644 "Reader: Broken Edit link in Reader for my own posts on Jetpack sites"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/read/list/goldsounds/amptest
2. Click on a post, e.g. https://wordpress.com/read/feeds/76552105/posts/1804969891
3. Notice Edit link below post; click it
4. Page enters a weird state where the top and side bars disappear, but the reader content is still displayed and we don't enter "edit" mode fully

#### What I expected

To edit th

[2018-03-26 14:20] lancewillett commented on #17340
@jblz Jeff, could @Automattic/delta-samus take a look at this one please?

[2018-03-26 14:59] fditrapani commented on #23575
Thanks for sharing @jancavan. The data is coming in for the checklist and I'll have some updates to share within the next week. I'll wait on prioritizing this until then.

[2018-03-26 15:05] #21489 closed

[2018-03-26 15:49] ebinnion commented on #22696
Accepted

[2018-03-26 16:07] fstath opened #23648 "Australian country code for SMS recovery missing from drop down list"
#### Steps to reproduce
1. Go to Account > Security > Account Recovery (https://wordpress.com/me/security/account-recovery)
2. Click on Add next to Recovery SMS number
3. Expand the Country Code drop down list to see that Australia isn't listed

#### What I expected
To see Australia's country code (+61)

#### What happened instead
The code isn't listed

#### Screenshot / Video
![screen shot 2018-0

[2018-03-26 16:15] rodrigoi opened #23649 "SignUp / Domains: make domain availability usable with a screen reader"
Follow up on #21658.

Testing with VoiceOver on macOS.

When a domain search is performed, there are warnings about the availability of a domain that are not announced by the VoiceOver utility.

For example.

| Warning | |
| - | - |
| Domain is taken | ![screen shot 2018-03-26 at 13 07 44](https://user-images.githubusercontent.com/233601/37918298-fd4f443a-30f6-11e8-9e5d-ab274dbf85a1.png) |
| TLD n

[2018-03-26 16:37] #23619 closed

[2018-03-26 17:03] vindl opened #23652 "Publicize: explain why we need access to the friends list when connecting Facebook"
When connecting Facebook account via Publicize users are presented with this prompt:

![step1](https://user-images.githubusercontent.com/1182160/37920735-f86a14aa-3127-11e8-826a-5c510e07c3a2.png)

While requesting `Public profile` is expected, access to `Friend list`. We currently only use your friend count to help populate the Follow widget, and we don't store any other friend data. We should add

[2018-03-26 17:05] #9298 closed

[2018-03-26 17:26] bisko commented on #17340
@lancewillett unfortunately the REST API endpoint has a separate way of keeping the status of the current import, which can get desynchronized with the one that the `wp-admin` interface uses.

We'll handle that in an iteration in our imports improvement efforts!

[2018-03-26 17:39] lezama commented on #22695
For some reason this one didn't get to the fixtheflows board 🤔

@simison do you mind 😊 ?

[2018-03-26 17:44] simison commented on #22695
I'll tackle it. 👍

[2018-03-26 18:29] kwight opened #23653 "Sharing: Jetpack sharing admin is not localized."
https://github.com/Automattic/jetpack/issues/9150

[2018-03-26 18:33] kwight opened #23654 "Sharing: OAuth windows are not localized."
Currently, all OAuth windows open in English, regardless of the user's locale. Some services (such as Twitter) accept a parameter to specify the OAuth window's language; this should be tied to the user's current locale and passed on.

![screen shot 2018-03-20 at 1 00 05 pm](https://user-images.githubusercontent.com/349751/37925453-75543390-30e9-11e8-9384-fed8e7256d33.png)

[2018-03-26 18:41] vindl opened #23655 "Sharing: unclear next steps after successfully setting up a connection"
Once the connection with the desired service (e.g. Facebook) has been established, it is not clear what happens next or how to proceed. At a minimum we could improve the wording here and a link to Publicize support page to inform users on how their now or existing posts will be shared.

Let's chat with design on options for making this clearer. We should create new issues reflecting this new work.

[2018-03-26 18:46] vindl opened #23656 "Sharing: Facebook preview doesn't match the created card"
#### Steps to reproduce
0. Use a test site that has a Premium or Business plan and Facebook connection enabled.
1. Navigate to `https://wordpress.com/posts/{site}`.
2. For individual post click on the more options drop-down menu and select `Share`.
3. Click on `Preview` and capture a screenshot of the generated preview.
4. Click on `Share post` and compare the actual results of the Facebook card w

[2018-03-26 19:21] bisko commented on #17340
This should be fixed with r172321-wpcom . If a similar issue occurs in the future, I'd love to take a look!

[2018-03-26 19:23] arunsathiya opened #23657 "Wording suggestion: Link to media page after successful import"
**Steps to reproduce**: Follow the steps below to reproduce the issue.

- Start at https://wordpress.com/settings/export and export a WordPress setup as .xml file
- Open https://wordpress.com/settings/import to import this file
- Notice "Import posts, pages, and media from a WordPress export file." on this page

![image](https://user-images.githubusercontent.com/18581859/37928008-1babc7ca-3159-11e

[2018-03-26 20:10] andfinally opened #23659 "PostEditor Help: help modal might need some redesign"
#### Steps to reproduce

1. Starting at URL: https://wordpress.com/post/[subdomain].wordpress.com/[postId]
2. Expand the post editor menu to show the second row.
3. Click on the dark question mark icon on the right-hand end of the menu to pop up the keyboard shortcuts modal dialog.

#### What I expected
* The help modal accommodates longer content.
* The content is legible and neatly contained on

[2018-03-26 20:13] andfinally commented on #4829
Thanks Marek - I've hopefully fixed the wording issues you identified in https://github.com/Automattic/wp-calypso/pull/22972, and I've split the design comments out into a new issue https://github.com/Automattic/wp-calypso/issues/23659.

[2018-03-26 22:20] designsimply commented on #23644
Thank you for the report! I tried testing using the steps provided just now and was unable to reproduce the problem. I tested while logged in as a regular user and a8c. I tested starting from a list (as in your example) in the Reader. I tested using Firefox 59.0.1 and Chrome 65.0.3325.162 on macOS 10.13.3.

Video: [29s](https://cloudup.com/cURlDDmQwdp)

Would you mind checking to see if the proble

[2018-03-26 22:21] psealock opened #23660 "Store: Referrers: Add conversion funnels widget"
Create and add the Conversions Funnels widget for Store Stats Referrers

### Example
![screen shot 2018-03-27 at 11 01 03 am](https://user-images.githubusercontent.com/1922453/37935525-545706b6-31ae-11e8-856b-d802b8d30452.png)

### Relevant Information
* Dashboard url: `/store/stats/referrers/day/<my-cool-site>?startDate=2018-03-14
* Example widget using the `<Module>` component
https://github.com

[2018-03-27 00:19] designsimply commented on #23617
Thank you for reporting this!

Reporting here is ace (no problem at all), but since the code for sending email notifications is in our internal `wpcom.trac` system right now I have moved this issue to 8030-wpcom and cc'd you there.

[2018-03-27 00:19] #23617 closed

[2018-03-27 00:51] ebinnion opened #23661 "Jetpack Connect: cobranded flow icons need adjustment"
While going through the cobranded flow today, I noticed that the logos there have some awkward spacing.

![image 2018-03-26 19-49-42](https://user-images.githubusercontent.com/1126811/37940570-faa2e2d6-312e-11e8-81ca-282805f91242.png)

A quick fix would be to add some top top margin to the cobranded logo there. But, I'll let @jeffgolenski chime in.

To hit this flow:

- Create a new Pressable site

[2018-03-27 00:52] alisterscott opened #23662 "Signup: /business and /premium sign up flows broken in IE11"
#### Steps to reproduce
1. In IE11 clear all cookies/local storage/data
2. Starting at URL: https://wordpress.com/start/business or https://wordpress.com/start/premium
3. Continue past about
4. Choose a theme

#### What I expected

Domains screen to load

#### What happened instead

Domains screen is blank
Forcing page refresh eventually shows it

#### Browser / OS version

Tested IE11 on Windows

[2018-03-27 00:53] alisterscott commented on #23662
@taggon @fditrapani any ideas about this? It seems to be fairly recent according to our e2e tests

[2018-03-27 01:40] beaulebens commented on #23319
Please feel free to ping me and/or @jeherve on this. Jeremy especially has a ton of experience triaging and dealing with a variety of issues here, so can help pull together details, point to existing issues, etc.

[2018-03-27 05:19] #23402 closed

[2018-03-27 06:57] druesome opened #23666 "Editor: Images with w= variable in the src don't render in Visual Mode after AT"
When an image is added to a post in the wp-admin editor, and is assigned a specific size other than Full Size or Custom Size, the image src is appended with a "w=" variable at the tail end to signify the width.

<img src="http://cld.wthms.co/3tIIAW+" width="600" />

<img src="http://cld.wthms.co/MaDoxX+" width="600" />

This works out ok in the Calypso editor, as images are showing up in Visual Mo

[2018-03-27 08:34] tyxla commented on #22696
Thank you Eric ❤️

With both the UI improvements and the API fix in production, I can no longer reproduce the issue. Closing.

[2018-03-27 08:34] #22696 closed

[2018-03-27 08:40] yoavf opened #23667 "Checkout: Layout issue with chat button on checkout form"
#### Steps to reproduce
1. Add a business plan to your cart
2. Proceed to the payment screen
3. Notice how the "Need help? Chat with us" label is too close to the "Secure Payment" Label"

#### What I expected
Nicer layout.

#### What happened instead
It looks bad.

#### Screenshot

<img width="731" alt="screen shot 2018-03-27 at 11 27 27" src="https://user-images.githubusercontent.com/844866/37956

[2018-03-27 09:57] rachelmcr commented on #23648
It looks like Australia (+61) is listed as "Cocos (Keeling) Islands" in the dropdown there, so the country code is available in the list but is labeled incorrectly. That list is coming from here:

https://github.com/Automattic/wp-calypso/blob/5f15f3365213253724ca0d8798c6cb8160f00bc9/client/lib/countries-list/index.js#L153

[2018-03-27 10:10] rachelmcr commented on #23648
@southp It looks like the label may have changed due to r171277-wpcom. (Prior to that, the label for +61 was `Australia/Cocos/Christmas Island`.) Could you take a look?

[2018-03-27 10:25] #22606 closed

[2018-03-27 12:29] thehenrybyrd opened #23677 "Editor: Date Picker: allow year to be changed without clicking through months"
Currently, the date picker in the page/post editor allows users to change the month or date on which a post was published.
However, to change the year in which it was published, users must click through months until they reach the desired year.

#### Steps to reproduce

Head into My Site > Posts and choose a Post to edit, which has already been published.
In Post Settings > Status, click the "publ

[2018-03-27 12:43] #23493 closed

[2018-03-27 13:01] fditrapani commented on #23662
The only thing I could think of is that it might be related to this: https://github.com/Automattic/wp-calypso/pull/22376#pullrequestreview-100202646

@taggon any thoughts?

[2018-03-27 13:02] rachelmcr commented on #23616
cc @Automattic/marketing-dev Looks like this needs to be updated in the `activation-encourage` email.

[2018-03-27 13:08] rachelmcr commented on #23652
Although it isn't used to publicize posts, I believe that permission is needed to include your Facebook followers in your site's follower count (e.g. in your site's stats or follow blog widget).

Related internal ref: p47NkD-pZ-p2

[2018-03-27 14:39] jeherve commented on #23319
I'll be happy to help in any way I can!

It's worth noting that a difference is to be expected, as we don't really have control over Jetpack sites and the themes / plugins folks use there.

For example, people can install additional plugins to manage Open Graph Meta Tags on their site, and sometimes end up with multiple sets of OG tags (one by a plugin, one by their theme for example). Facebook wi

[2018-03-27 14:40] seear opened #23687 "JP Remote Install: Retry install API on receipt of timeout error"
Automatically retry the remote install if the first API call returns a timeout error, which can often be transient.

Some work going on towards this goal already in #23645

[2018-03-27 14:58] seear opened #23690 "JP Remote Install: Redirects not being followed"
Currently, the remote-install API does not follow redirects (for example http -> https) when attempting to log in to the supplied site.

It seems that the `wp_safe_remote_post()` call does not incrementally hold on to response headers when following redirects, unlike the curl equivalent, so to grab the `set-cookie` header with the logged-in cookie, we currently use `'redirection' => 0`.

We may ne

[2018-03-27 16:06] seear commented on #23690
This is because it [implements its own redirect following](https://github.com/WordPress/WordPress/blob/0e9549d4245f301d519b45f1b0cc8615182f55a6/wp-includes/class-wp-http-curl.php#L309) loop.

[2018-03-27 16:41] seear opened #23693 "Jetpack Connect: All sites response can overwrite newly connected site"
#### Steps to reproduce
To reproduce this issue you will need to use an account that has a lot of sites, because it depends on the request to /me/sites being slow. Sandboxing public-api.wordpress.com will make reproduction easier.

1. Starting at URL: wordpress.com/jetpack/connect
2. Enter the URL of a wporg site with jetpack installed and activated
3. After connection is complete, wait at the /je

[2018-03-27 16:43] mapk opened #23694 "Showcase: Remove "current theme" notification bar"
With some of the recent changes to the Showcase, there are now a LOT of various notification bars on the screen. So many that they take up too much room.

I'm proposing to eliminate the "current theme" bar and make the first theme in the grid be the active theme and keep it highlighted as it currently is.

1. HEs have mentioned that the 'current theme' bar rarely gets clicked on, and is rarely not

[2018-03-27 16:45] #22858 closed

[2018-03-27 17:10] #17489 closed

[2018-03-27 17:32] scosgro opened #23698 "Editor: VideoPress Shortcode Adds Phantom Span Tag While Swapping Editors with Cursor in Shortcode"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/posts/
2. Create a new post (Premium or Business Plan)
3. Add Media
4. Videos - Select a video.
5. The video will appear in the visual editor.
6. Switch to the HTML editor.
7. Place your cursor anywhere inside the shortcode after the wpvideo portion. Don't type anything.
8. Switch back to the visual editor.
9. The video will disappe

[2018-03-27 17:51] #23513 closed

[2018-03-27 18:34] kwight commented on #23523
Hm, there are bigger issues going on with routing that should probably be cleared up first (making it easier to determine [in the controller](https://github.com/Automattic/wp-calypso/blob/master/client/signup/controller.js#L121) if we're in a specific locale:

![screen shot 2018-03-27 at 11 31 05 am](https://user-images.githubusercontent.com/349751/37987292-9aa9e616-31b2-11e8-94fc-5eb6476f0c50.png

[2018-03-27 20:11] vindl commented on #23523
Just a note that I didn't get chance to investigate all of the wrong paths that I stumbled upon in depth, so the issue description might not be complete/accurate. It might be worthwhile to check with data team or marketing if changing actual string to `:locale` might break something in their reporting. :thinking:

[2018-03-27 21:12] jancavan commented on #23576
I actually assumed that an option to be able to set a page as a Home page would be in the ellipsis menu as mentioned in the original description:

So I think adding it there is a good start. For the icon, the Home icon used in this image would be a better choice instead of the Pen icon:
![screenshot 2018-03-22 18 57 40](https://user-images.githubusercontent.com/4924246/37807481-e9c91f22-2e02-11e8-

[2018-03-27 21:28] beaulebens commented on #22455
@johnHackworth Assigning this to you/your team for consideration as part of iterating on the connection/NUX.

[2018-03-27 22:39] xpurichan opened #23706 "Calypso rerouting to wp-admin for image editing and then failing to load preview of image"
#### Steps to reproduce
1. Starting at URL: lillytest123456.blog (or **any** non-AT WP.com site)
2. My Sites > Customize > Colors & Backgrounds
3. Select image for background, [screenshot](https://snag.gy/EMhJLA.jpg)
4. Select Edit image on the right.
5. Calypso rerouted to wp-admin instead of going to the Calypso image editor
6. When following these steps the image preview fails to load, [screens

[2018-03-27 22:55] kwight commented on #23523
Posted to p10gg3-8y3-p2 for some input.

[2018-03-27 22:56] jerrysarcastic opened #23707 "Plugins: Show more info on plugin search results and plugin description pages"
Site owners often ask us for help in selecting which plugin is best to use out of all the plugins that are available.  While we are not able to make specific recommendations in all cases, we do generally recommend site owners consider the following factors when choosing among many options for a given type of plugin:
- **Number of active installs**: avoid plugins that have a small install count, as

[2018-03-28 06:14] southp commented on #23648
Argh! Sorry for causing this issue. With D11289, the AU is added back like this:
![image](https://user-images.githubusercontent.com/1842898/38011955-1204e9ba-3292-11e8-9ce3-dd6ab7afb7e7.png)

Since CC is still a valid country code by itself, I think it would be better to also keep it. Thus, the code is reserved and moved to the C-leading name group like this:
![image](https://user-images.githubuse

[2018-03-28 08:59] rachelmcr commented on #23648
That looks great to me; thanks for looking into this so quickly!

[2018-03-28 09:28] rachelmcr commented on #23706
I reproduced this issue with the steps above.

The customizer itself isn't part of Calypso, so it's loaded in an iframe. When you select "Edit Image" from within the customizer, it opens WP Admin but still includes a `frame-nonce` parameter, which results in a 400 error on the ajax request with the `imgedit-preview` action. When I manually removed the iframe nonce from the URL the WP Admin image e

[2018-03-28 09:38] rachelmcr commented on #23698
This looks like a side effect of the enhancement that preserves your cursor position when switching between Visual and HTML modes. cc @Automattic/delta-samus

It looks like the cursor marker span isn't cleaned up when switching in this scenario: https://github.com/Automattic/wp-calypso/blob/e03a17041819684b671d0914a97f10583a048d5e/client/post-editor/post-editor.jsx#L1079

[2018-03-28 11:27] spen commented on #23698
Thanks for reporting and investigating! I've tracked this in Samus's work board :)

[2018-03-28 13:17] jameskoster opened #23727 "Store: Dashboard - action items widget"
Our current "at a glance" widget could use some updating - we no longer need to display revenue because stats are now available on the Dashboard. We also have the "inventory alerts" widget which combined with the new orders/reviews highlights make for a nice collection of items to populate an "action items" widget. So here's our proposed design;

![action-items](https://cldup.com/fbQNaSW_9b-3000x3

[2018-03-28 14:35] vindl commented on #23510
@Copons just a note that https://github.com/Automattic/wp-calypso/pull/23688 will probably resolve this one too.

[2018-03-28 14:36] catehstn commented on #23546
Agree with Will, we will want to revisit it when we have AL in the apps though (ETA: May).

[2018-03-28 14:39] Copons commented on #23510
@vindl Yes it should! 🕺

[2018-03-28 15:43] #22013 closed

[2018-03-28 16:00] #23580 closed

[2018-03-28 17:12] kwight commented on #16900
Noting that while looking into #23632 , I'm not able to replicate this behaviour anymore (going from a site-specific page to the Reader or `/me` strips the previously selected site and does not record a blog ID in the page view stat), nor can I find any recent examples in Impala.

[2018-03-28 19:43] justinshreve commented on #19313
I can't seem to reproduce this, so I'm going to close it.

Days become blocked out on the end date calendar if you change your start date. If you do happen to get an earlier day selected, validation seems to catch it before saving.

[2018-03-28 19:43] #19313 closed

[2018-03-28 19:44] #22915 closed

[2018-03-28 20:41] retrofox commented on #16276
I think it's a similar but different issue. #709 makes reference when the user follows the site via email, using the Blog Subscriber Widget.

[2018-03-28 22:29] psealock opened #23747 "Component: Pagination: Compact mode one-pixel oddities"
Note in https://github.com/Automattic/wp-calypso/pull/23664#issuecomment-376375220 by @greenafrican

![screen shot 2018-03-28 at 14 16 58](https://user-images.githubusercontent.com/1160732/38028502-62152694-3293-11e8-8d3f-a32d4817bdb2.png)

[2018-03-28 22:48] gwwar commented on #22659
To summarize a Slack conversation:

It's a little tricky/hacky here to add an interactive element here to the field. The credit card field shows an icon though CSS styling, which is fine since the user doesn't directly interact with it.

A few options here:
- Create a new field component that relatively positions an icon (w/popover)
- Style the field like the how the credit card field does (a back

[2018-03-28 22:55] gwwar commented on #16900
@kwight you can repro by clicking on my-sites, selecting a site, then (without refreshing the browser) clicking on the Reader or Profile

[2018-03-28 23:07] thebud15 commented on #22829
@designsimply Hey! Just double checking if we have an update on this issue, as the ticket came back into play at 975529-zen

[2018-03-29 01:03] drw158 opened #23750 "Remove Noticons"
These are the last remaining significant uses of Noticons in `wp-calypso`. All other mentions of `noticon` are in comments, unused mixins, etc.

Context: The Noticon icon set is deprecated, and the Gridicons set is currently the standard set, and the only UI icons we should be using.

Please feel free to take one, spin up a PR, and check them off. This issue will be the master issue.

- [x] [_drop

[2018-03-29 01:12] #23517 closed

[2018-03-29 01:13] vindl commented on #23510
Should be resolved with https://github.com/Automattic/wp-calypso/pull/23688, I'll keep monitoring the stats in the following days.

[2018-03-29 01:13] #23510 closed

[2018-03-29 02:38] southp commented on #23648
I've deployed the fix. Please help me confirm if it's been resolved. Thanks 🙇

[2018-03-29 03:54] psealock commented on #23747
@greenafrican Are you zoomed in (or out) on your screen settings by chance?

Hmmm, not too sure how to address this one. Indeed the use case is probably different than the original intentions of this component (ie, the page would gather the next page of new data and refresh, instead of rapid clicking).

[2018-03-29 05:12] Piyopiyo-Kitsune opened #23752 "Domains: Spaces stripped out when adding/updating contact info"
Spaces disappear on the checkout page with iPad while typing. I also found a workaround while testing, which is to drag the typing bar in between the letters you want a space and then add the space. Also, if you type the space and then the next letter really fast the space seems to stay?

This arose in 1043817-zen

#### Steps to reproduce
1. Starting at URL: https://wordpress.com/domains
2. Add a

[2018-03-29 05:58] iamgabrielma commented on #19916
This came up on 1045686-zen for `.in` domains.

[2018-03-29 07:38] greenafrican commented on #23747
@psealock

Yup, so I could get a good screenshot. It looked exactly the same (relatively) though at 100% zoom.

Yeah, it is a bit tricky and maybe we don't need to do anything now. My initial feeling though was that I would expect them to be stationary but I may be an outlier.

[2018-03-29 09:30] KokkieH commented on #23752
This is not iPad specific. Replicated the same in Firefox on a Mac:

![address](https://user-images.githubusercontent.com/11873759/38081144-8e7c017a-3343-11e8-882c-508c09a990cb.gif)

As described above, a pause of even half a second after adding a space leads to the space being stripped out, in both address and postal code fields.

As some postal code, e.g. UK, can only validate if a space is incl

[2018-03-29 09:33] KokkieH commented on #23752
I'm also able to replicate this when updating contact information for an existing domain, so it is not specific to the checkout/registration flow.

[2018-03-29 09:36] KokkieH commented on #23752
Oh, also encountered the issue in 893423-f :)

[2018-03-29 11:00] rachelmcr commented on #23752
It looks like the form field is being sanitized (trailing space trimmed/stripped) too early in the process. I did a quick investigation and it looks like that's happening here:

https://github.com/Automattic/wp-calypso/blob/master/client/components/domains/contact-details-form-fields/index.jsx#L164

@Automattic/cobalt Is this something you're familiar with? It seems like this sanitizing should hap

[2018-03-29 11:17] eduardozulian commented on #17012
Another one on 2272156-hc

[2018-03-29 11:50] scruffian commented on #23750
I'm happy to look into Billing History.

[2018-03-29 12:21] rachelmcr commented on #23648
I confirmed that the fix is working for both the Recovery SMS Number and the 2FA phone number country code fields. Thanks again! Closing as resolved.

[2018-03-29 12:21] #23648 closed

[2018-03-29 13:54] rachelmcr opened #23768 "Themes: Header sections persist on mobile, overlapping the sidebar after exiting Themes section"
#### Steps to reproduce
1. Starting at URL on a mobile device: https://wordpress.com/
2. Open the My Sites section.
3. Open a site's Themes section.
4. After the Themes section loads, tap the back arrow to navigate back to the site's sidebar.

#### What I expected

I expected to fully exit the Themes section and view my site's sidebar.

#### What happened instead

The top section of the Themes pag

[2018-03-29 13:57] rachelmcr commented on #23768
@Automattic/theam I didn't see any recent theme showcase changes to account for this issue, but wanted to give you a heads up since this makes more a pretty broken experience for mobile users visiting the showcase.

[2018-03-29 14:02] #23436 closed

[2018-03-29 14:28] drw158 commented on #22659
Maybe an easier and simpler way is to add labels for each form.

[2018-03-29 14:28] scruffian commented on #23750
I'll look into `_dropdowns.scss` too.

[2018-03-29 14:32] scruffian commented on #22659
Should we A/B test this kind of change?

[2018-03-29 14:36] keoshi opened #23772 "Activity: upgrade banner shows up on highest paid plan"
Jetpack site with the highest paid plan (Professional) is incorrectly showing an upgrade banner on the Activity tab.

<img width="978" alt="screen shot 2018-03-29 at 15 33 58" src="https://user-images.githubusercontent.com/390760/38094802-bb25a3d4-3366-11e8-9547-2022a897d5d8.png">

[2018-03-29 14:40] scruffian commented on #23750
We can't remove these until all the other uses of Noticons are gone, as this is where we include the CSS for them.

[2018-03-29 14:58] tyxla opened #23775 "Jetpack Connect: Autoconfig failing to setup VaultPress and Akismet"
Steps to reproduce:

* Went to https://wordpress.com/jetpack/connect, entered my URL, logged in to the site, and clicked Install. After activation I’m prompted to Set up Jetpack.
* To connect, I’ll create a new WP.com account. After activation, I log in, and the connection process concludes.
* I pick “Premium”
* Plan is being set up, but can’t fully complete. Asks me to install Akismet and VaulPre

[2018-03-29 16:05] vindl commented on #23519
After inspecting the logs for the last couple of days I could no longer find this in the logs nor reproduce it manually.

[2018-03-29 16:05] #23519 closed

[2018-03-29 16:59] kwight opened #23778 "Analytics: `site_post_count` is always undefined."
In #14096, `post_count` was removed from the fields requested by `/me/sites` calls, breaking the `site_post_count` property in collected stats. We attempted to add it back in #23609 (where `blog_lang` was fixed), but discovered that it could [have an impact on API response time](https://github.com/Automattic/wp-calypso/pull/23609#issuecomment-377022933) for users with many sites.

![undefined](htt

[2018-03-29 17:29] gwwar commented on #22659
@drw158 Do you mean a more traditional label above the field? I believe that would likely be more a11y friendly as well if we didn't need to merge components on top of a field.

Would you or someone else in design be able to create a mock? If folks agree on that approach I'll update the issue summary.

@scruffian for a larger change for of what @drw158 proposed in the payments flow we'd at least n

[2018-03-29 19:32] katinthehatsite commented on #17631
Reported by the user in #1047121-zen

[2018-03-29 19:53] kjellr opened #23782 "Showcase: Slim down the showcase banner on small screens"
The showcase banner could be slimmed down a little bit on mobile. Currently, it takes up about 20-25% of the  screen on an iPhone 8. Combined with the other UI chrome, this can push the main page content (themes) off the screen entirely:

![artboard](https://user-images.githubusercontent.com/1202812/38110460-bcc245be-3369-11e8-818e-a94a9a25350e.png)

---

I think we could likely keep the impact wh

[2018-03-29 20:02] kwight opened #23783 "Signup: URLs with a locale are causing inaccurate `context.params`."
While investigating, #23523 , I noticed that URLs with a locale were causing buggy `context`s to be passed to the signup controller.

![context](https://user-images.githubusercontent.com/349751/38110692-509aaaec-3351-11e8-829f-d5a8fb3088c5.png)

This could be affected by poor handling in `setupLocale`: https://github.com/Automattic/wp-calypso/blob/master/client/signup/index.node.js#L14

[2018-03-29 21:17] katinthehatsite opened #23784 "Media: "Link To" Setting For Gallery Does Not Work"
I came across user's ticket when they did not want the images in their gallery to be linking to anything. But changing from Calypso - Link To - None, does not seem to change anything.

#### Steps to reproduce
1. Starting at URL:
2. Create A New Page: https://wordpress.com/page/
3. Add a gallery to it
4. Select the option to edit gallery and then select Link to - None, Media or Attachment Page

###

[2018-03-29 21:20] rralian opened #23785 "Login: post-login pages should display the login form for logged-out users"
We should have a framework-level approach to handling logged-out users who load a route requiring login. Right now we display a blank page with links to "sign up" and "log in" in the top bar.

![logged out view](http://cld.wthms.co/0T41QQ+)

But users interpret this as a broken/blank page.

There's a PR to address this for a particular route here #23548.

We were just discussing in slack that this

[2018-03-29 22:06] mapk commented on #23782
I'm creating a PR right now to hide the ad on smaller screens.

![no-ad](https://user-images.githubusercontent.com/617986/38115911-b8721130-3362-11e8-902d-618c03041672.gif)

[2018-03-29 22:54] #21658 closed

[2018-03-30 00:03] gwwar opened #23791 "Sharing: update the sharing support page"
Let's update https://en.support.wordpress.com/publicize/ with new screenshots!

[2018-03-30 00:24] codebykat commented on #23652
Just tested and unfortunately it is true that we need that to get the Facebook follower counts.

[2018-03-30 03:32] enejb commented on #22369
I am pretty sure we can update themes with the json api. We are just not doing it anywhere.

[2018-03-30 09:58] #16900 closed

[2018-03-30 10:45] jeherve commented on #17566
Closing as duplicate of #12660

[2018-03-30 10:45] #17566 closed

[2018-03-30 10:45] jeherve commented on #12660
Also reported in #17566

[2018-03-30 10:48] vindl commented on #23520
This also seems to be resolved with https://github.com/Automattic/wp-calypso/pull/23688.

[2018-03-30 10:48] #23520 closed

[2018-03-30 10:52] vindl commented on #23521
First two cases seem to be resolved with https://github.com/Automattic/wp-calypso/pull/23688.

[2018-03-30 12:57] aidvu commented on #23752
Yep, familiar with it, and had discussions about this problem. Will think about how to fix this. :) (might just remove the `trim()` in the meantime.

[2018-03-30 14:09] katinthehatsite commented on #23543
User reported in #2314265-hc

[2018-03-30 14:24] Copons commented on #23514
This is a list of all the `/domains` paths:

/domains/add/:site
/domains/add/site-redirect/:site
/domains/add/mapping/:site
/domains/add/transfer/:site
/domains/add/:domain/google-apps/:site
/domains/manage/email/:site
/domains/manage/:domain/email/:site
/domains/manage/:domain/add-google-apps/:site
/domains/manage/add-google-apps/:site
/domains/manage/:domain/email-forwarding/:site
/domains/manag

[2018-03-30 15:20] jblz opened #23804 "Inline Help: Command-click should open result links in a new tab by default"
#### Steps to reproduce
1. Starting at virtually any Calypso URL
1. Click the help button
1. Hold down the system-appropriate meta key. By default:
    * The Mac uses <kbd>command</kbd> / <kbd>⌘</kbd>
    * Many other systems use <kbd>ctrl</kbd>
1. Click a help link (either a search result or a default result)

#### What I expected
The browser to behave as configured. That is, the help link to ope

[2018-03-30 16:49] ryelle commented on #14347
@timmyc @justinshreve I've just added #23809 which will fix deactivated/deleted WC plugins - it doesn't detect Jetpack or WC version issues, do we still think that is something we should try to catch?

[2018-03-30 17:04] DavidRothstein commented on #22033
Final pull request for this issue is now at https://github.com/Automattic/wp-calypso/pull/23810 (although it still needs some polish and is also waiting on some WordPress.com REST API changes to get in).

[2018-03-30 17:20] beaulebens commented on #11179
I've just confirmed that this is still an issue. Here a few screenshots that show the flow that I see as a secondary Admin on an already-connected site.;

![screen shot 2018-03-30 at 11 15 38 am](https://user-images.githubusercontent.com/108942/38146712-5bd77730-340c-11e8-9ddf-c4419b791483.png)
![screen shot 2018-03-30 at 11 15 45 am](https://user-images.githubusercontent.com/108942/38146715-5f707

[2018-03-30 18:10] sixhours commented on #23102
Was looking into this, and it appears to be because of a MacOS setting:

<img width="667" alt="screen shot 2018-03-30 at 2 00 50 pm" src="https://user-images.githubusercontent.com/2124984/38148161-45f2eeec-3423-11e8-916d-7841de04047e.png">

Switching this to "All controls" allows focus styles to appear for all types of elements (links, etc) in Firefox. Chrome does its own thing, FF is using these

[2018-03-30 18:58] rickybanister commented on #22404
Fixing what exactly? If you took your site offline there's nothing we can do for you except give the manual instructions. It seems you tried to set up your plan while no chat operators were available as well, so you weren't give the option to get live help.

If live chat is available it displays as a larger white button. The smaller manual instructions link is a sort of unfortunate backup, we hope

[2018-03-30 18:58] jancavan commented on #23102
Thanks @sixhours! That's interesting to know. For other sites like Facebook, Twitter, etc., it seems to be working fine even without "All controls" enabled, so I wonder if they do something to get this to work (JS maybe?).

[2018-03-30 18:59] rickybanister commented on #22404
I suppose in the spirit of the original issue we should offer a 'try again' button in case of timeouts. It may give users false hope, but still worth a try. Or perhaps we could try twice behind the scenes without the user knowing it.

cc @johnHackworth as we move the functionality of this screen to the checklist we may want to explore quiet retries like we do for the connection flow.

[2018-03-30 19:25] sixhours commented on #23102
Possibly, though I struggled to tab through Facebook and Twitter in Firefox until I turned on that OS setting. There are no focus styles on links without it. I'm using High Sierra with FF 59 if that helps.

Any areas that do show focus styles when that setting is off are button elements rather than anchors. I was able to test this in Calypso by swapping the Write anchor for a button.

[2018-03-30 19:31] xpurichan commented on #23706
I'm glad to see you could replicate it easily! Since this isn't calypso should I report it elsewhere?

[2018-03-30 19:44] crunnells commented on #16249
Verity released another update which included post templates for Portfolio items, but you cannot select them in Calypso.

[2018-03-30 19:51] retrofox commented on #14051
Closing this one since it has been implemented today. :-D

[2018-03-30 19:51] #14051 closed

[2018-03-30 20:28] jblz commented on #22645
This should be resolved. We were not registering CPTs (& their redirects) on the "autosave" endpoint, but now are.

See D11306-code for more info.

[2018-03-30 20:28] #22645 closed

[2018-03-30 20:33] vindl commented on #23514
cc @Automattic/cobalt in case they can come up with some generic solution. I think the easiest way to see the current non-normalized paths is to run this query: 1d7bc-pb.

@copons as a result of https://github.com/Automattic/wp-calypso/pull/23688 I see some of these patterns now correctly assigned to `/no-sites` path (via this query 1d7be-pb), although I'm not sure if they account for every occurr

[2018-03-30 21:02] ryelle commented on #21223
I think between #21753, #21779, and #21838 this issue has been fixed. I'm going to close this issue, but we can revisit this if it's still a problem.

[2018-03-30 21:02] #21223 closed

[2018-04-01 06:33] markryall commented on #23506
i'm happy to take this on - the path problem is secondary to the fact that the routing doesn't make sense when switching sites.

[2018-04-01 07:30] markryall commented on #23506
Created PR #23818 today which should solve this issue.

[2018-04-01 19:30] #15625 closed

[2018-04-02 12:07] nagpai commented on #22811
I was able to replicate the issue on my test site too, with some of the buttons checked.

![sharing-button-bug](https://user-images.githubusercontent.com/4162931/38195685-667151c4-369c-11e8-8711-016065842f72.gif)

#1050920-zen

[2018-04-02 15:37] timmyc commented on #14347
@ryelle I think the fix you implemented in #23809 is probably sufficient... it seems most of our critical changes for store are shipped via the companion plugins, though a few things there have been dependent upon Woo core updates too.

I suppose if we have some time while things get sorted for the dashboard project we could look into a version check, but I don't think it is critical.

[2018-04-02 16:50] designsimply commented on #23644
I tested again and was unable to reproduce. @gravityrail is this problem still happening for you? Do you think I need to adjust my testing steps? I noticed the list you are testing is named "amptest"—is there a way I can test the same type of content you are testing? Do I need to do anything special to test AMP content in the Reader?

[2018-04-02 16:56] sixhours commented on #23768
The two persistent sections (the current theme block and the upgrade banner) are missing CSS layout transforms and transitions to hide them because they're located outside `.layout__primary .main`.

I'm not sure if their placement in the DOM is intentional, but adding CSS to target those areas and hide them works for me in testing:

[code]

I'm not sure where this CSS would fit best, however. Mayb

[2018-04-02 16:59] sixhours commented on #23768
Noting that if we move forward with #23694 we could ignore that section and just fix the upgrade notification card.

[2018-04-02 17:55] aidvu commented on #23514
@klimeryk might be good to plan this for the coming weeks?

[2018-04-02 18:44] mendezcode commented on #23768
@sixhours That's right, we'll only need to hide the upgrade notification card. I'm working on the removal of the current themes section and will notify here to move forward with this fix ;-)

cc @rachelmcr

[2018-04-02 21:46] retrofox commented on #16276
We can handle both on the fly.

[2018-04-03 01:56] psealock opened #23839 "Store: Stats: Navigation: Confusion around double arrows"
From @shaunandrews in https://github.com/Automattic/wp-calypso/pull/23579. Look into clarifying or redesigning how the arrows and period navigation works and feels.

<img width="427" alt="screen shot 2018-03-29 at 4 16 09 pm" src="https://user-images.githubusercontent.com/191598/38111323-82c011b8-336c-11e8-96f7-d16b4f86b06b.png">

![image 2](https://user-images.githubusercontent.com/191598/3811153

[2018-04-03 09:58] scruffian commented on #22659
Good plan 👍

The problem I have had with monitoring stats in the past is that they can fluctuate based on other factors, so it's always possible to say what impact your change had.

[2018-04-03 11:45] vindl commented on #23508
@markryall would you be able to look into this one too, since you already did some related work on https://github.com/Automattic/wp-calypso/pull/23027?

[2018-04-03 12:14] klimeryk opened #23849 "Plans: Upsell nudge for Premium shown only for domain registrations"
#### Steps to reproduce
1. Have a site without a paid plan.
2. Have a user that can buy a domain without a plan (non-DWPO).
3. Add domain mapping or domain transfer to cart.

#### What I expected
To see the upsell nudge for Premium:
<img width="255" alt="screen shot 2018-04-03 at 14 10 35" src="https://user-images.githubusercontent.com/3392497/38248483-cf9c4062-3748-11e8-8586-1a3c41e973e1.png">

#

[2018-04-03 12:36] rachelmcr commented on #23784
When the carousel is enabled (no setting in Calypso; can be adjusted under Settings > Media > "Display images in full-size carousel slideshow" in WP Admin) gallery images will open in that carousel slideshow. Also, the "link to: none" option has no effect when carousel is enabled — see related internal issue 6033-wpcom.

Note that the other options (attachment page and media) do have an effect on

[2018-04-03 12:44] rachelmcr commented on #23785
Some related issues: https://github.com/Automattic/wp-calypso/issues/23623, https://github.com/Automattic/wp-calypso/issues/22857, https://github.com/Automattic/wp-calypso/issues/23033

[2018-04-03 13:03] klimeryk opened #23850 "Plans: Domain to Plan nudge does not respect the user's currency"
#### Steps to reproduce
1. Starting at URL: http://calypso.localhost:3000/domains/manage/
2. Select a site without a Plan.
3. See the [Domain To Plan upgrade nudge](https://github.com/Automattic/wp-calypso/blob/5f15f3365213253724ca0d8798c6cb8160f00bc9/client/blocks/domain-to-plan-nudge/index.jsx).

#### What I expected
My currency being used consistently in the nudge.

#### What happened instead
T

[2018-04-03 13:54] flaviozavan opened #23852 "Domain email verification interface does not update the contact email address"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/domains/manage/$YOUR_BLOG
1. Click add domain, choose a domain, follow the screens until you get to the "Domain Contact Information" form
1. Fill the form, enter a dummy email address say "dummy@example.com"
1. Complete the process, the website should let you know that your email address needs to be verified
1. There should now be a

[2018-04-03 14:32] #23515 closed

[2018-04-03 14:53] #23521 closed

[2018-04-03 15:16] #22857 closed

[2018-04-03 17:08] beaulebens commented on #12842
Just to refresh on the current situation:

There's an "Ads" sidebar item, which has a "Settings" sub-nav, leading to these options:
![screen shot 2018-04-03 at 11 04 52 am](https://user-images.githubusercontent.com/108942/38264097-3b203344-372f-11e8-97a0-a85bf6ab1cf0.png)

Under the top-level "Settings" item, there's a "Traffic" sub-nav, with an "Ads" section that looks like this:
![screen shot 20

[2018-04-03 17:14] rickybanister commented on #12842
@rclations weren't you taking a look at this? I'm happy to help with any design updates to get all the settings into `/settings` so we can deprecate that Ads sidebar item.

[2018-04-03 18:46] aidvu commented on #23752
https://github.com/Automattic/wp-calypso/pull/23864

[2018-04-03 19:37] eliorivero opened #23869 "Timezone suggestion selects always the first element"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/settings/general/%SITE%
2. click the suggestion as shown in the GIF

![cualquiera](https://user-images.githubusercontent.com/1041600/38271538-1a42cbe0-375d-11e8-9be6-9addcd12947f.gif)

[2018-04-03 20:35] #23516 closed

[2018-04-03 20:37] timmyc opened #23874 "Store: Restrict Referrer Stats to Business Plan Users"
Prior to launching the new referrer stat views on Store Stats, we should add logic to only display the reporting widgets to sites that have an active Business Plan. As-is, all Store Stats on Calypso are available to any Jetpack-connected WooCommerce site, but with the new enhanced reporting data coming online, we want to limit access to those reports ( like Referrers ) to business plan users initi

[2018-04-03 22:02] klimeryk commented on #23752
Had to revert that one. But this PR will hopefully fix it once and for all: https://github.com/Automattic/wp-calypso/pull/23873

[2018-04-03 22:06] kwight opened #23878 "Media: Dropdown filter does not work."
At different screen widths, the media filter alternates between text tabs and a dropdown. It works fine when in tabs, but doesn't work when a dropdown.

![dropdown](https://user-images.githubusercontent.com/349751/38278081-7d33a912-374f-11e8-9e7a-f575dce659b3.gif)

The filter items [are generated](https://github.com/Automattic/wp-calypso/blob/master/client/my-sites/media-library/filter-item.jsx) b

[2018-04-03 22:46] ghost opened #23880 "Domains: Add further specificity to primary domain errors"
#### Steps to reproduce
1. Set a primary domain that isn't possible.
2. Get a very generic message:
![screen shot 2018-04-03 at 9 48 34 am](https://user-images.githubusercontent.com/8921630/38279532-8cdb0148-3755-11e8-8568-227dbcf0f260.png)

#### What I expected
Something that says why the domain can't be primary. Common reasons:
1) Domains is not yet using our name servers, please point it to our

[2018-04-03 22:47] #23778 closed

[2018-04-03 23:27] gwwar commented on #23878
Note that it's broken for this view:
<img width="471" alt="screen shot 2018-04-03 at 4 21 44 pm" src="https://user-images.githubusercontent.com/1270189/38280736-d245ed8c-375b-11e8-8980-8e10fe706043.png">

But not this one:
<img width="403" alt="screen shot 2018-04-03 at 4 22 02 pm" src="https://user-images.githubusercontent.com/1270189/38280740-d9d594e4-375b-11e8-8c95-f61bb8ff39f8.png">

[2018-04-03 23:34] mapk commented on #23768
@mendezcode Do you think we can get your eyes on this one? I think the problem resides in the way the HTML is structured right now.

All other sections in Calypso wrap the `<div>` inside a `<main>` element like this:

![sharing](https://user-images.githubusercontent.com/617986/38280927-d60083e6-375c-11e8-901f-25cdd93e66a7.png)

But the Theme Showcase wraps the `<main>` inside the `<div>` like this

[2018-04-04 00:06] mapk commented on #23768
It also turns out that those three child elements under the `<div>` are the ones staying on screen:

[code]

[2018-04-04 03:02] markryall commented on #23506
PR #23818 is now deployed so I think this issue can be considered resolved (although there are other checklist issues that will need to be addressed independently)

[2018-04-04 03:06] justinshreve opened #23882 "Store: No loading placeholder on initial load"
On an initial/fresh load of any store route, there is a brief flash where you can see the "Powered by WooCommerce" footer and the dashboard item in the sidebar. It seems like we should show a loading placeholder while the page content loads in (maybe it's the plugin request making this more noticeable?).

See https://cloudup.com/c-m-rNoTllX around 6 seconds in.

[2018-04-04 09:14] akirk opened #23884 "Community Translator: Overlapped by the new Inline Help Button"
Introduced in #23739, the new float overlaps the Community Translator button:

![screen shot 2018-04-04 at 11 03 19](https://user-images.githubusercontent.com/203408/38298940-118537ee-37f9-11e8-8246-c700ba4b4007.png)

As a short-term fix we could probably move the button out of the way but longer-term we should decide whether we should put the button elsewhere.

[2018-04-04 09:34] klimeryk opened #23886 "Domains: Not possible to add root AAAA record"
#### Steps to reproduce
1. Starting at URL: http://wordpress.com/domains/manage/
2. Select a site with a custom domain name (mapping or registration).
3. Go to its DNS editor.
4. Try to add a AAAA record.

#### What I expected
To be able to add a root AAAA record.

#### What happened instead
It is forbidden.

Probably since https://github.com/Automattic/wp-calypso/pull/3711/
Fix on the frontend sh

[2018-04-04 10:30] klimeryk commented on #23514
Saw some chatter about this on Slack - @Copons will you be working on this?

[2018-04-04 10:41] rachelmcr commented on #23644
I noticed that the URL for that Edit link in your video is this format: `https://wordpress.com/edit/{SITE_ADDRESS}/{POST_ID}`

However, it should be `https://wordpress.com/post/{SITE_ADDRESS}/{POST_ID}` (with `post` instead of `edit` in the URL).

I reproduced the issue by trying to edit a post I authored on a Jetpack site I own, clicking the Edit link on the post from my main Followed Sites feed.

[2018-04-04 11:01] Copons commented on #23514
@klimeryk Yup, I've created a PR yesterday, but I need to test it more extensively before opening it up to the public. 🙂

[2018-04-04 11:37] simison commented on #22695
Done in https://github.com/Automattic/wp-calypso/pull/23722

Didn't implement any extra guidance at plugins page this time and I'd say it isn't specific to _"Configure auto updates"_ CTA flow.

Anyone ending up to the plugins page first time could be lost. We need to improve that page If that's the case, regardless the flow how people end up there.

[2018-04-04 12:24] sirreal commented on #22912
Is persistence on the list? Should be simple after #23686

[2018-04-04 12:36] KokkieH commented on #19252
Had a request in 892059-f

According to the user their use case is to ensure comments appear at the top of the comments RSS feed once they are approved. It seems the order in which the comments actually appear on the site doesn't matter to them.

[2018-04-04 12:40] keoshi commented on #23772
@eliorivero Can you take a look here? Is this a state for a12s sites only?

[2018-04-04 13:12] #23804 closed

[2018-04-04 13:57] kjellr commented on #23694
It'd also be interesting to gather data around what people use this page for, and what they expect to use this page for. Do they primarily:

1. Use it to find information about their current theme?
2. Use it to change their theme, and explore other themes?

If it's more the former, the Current Site bar is potentially very valuable. If that's the case, perhaps we'd want to:

- Keep the Current Site

[2018-04-04 15:04] automattic-ian opened #23899 "Store: Store tab displays perpetual update message"
#### Steps to reproduce
1. Starting at URL: https://WordPress.com
2.  install WooCommerce/ set up store tab
3. Woo updates either automatically or manually
4. Visit Store tab and see stuck update message

#### What I expected
Store tab in calypso to function manage WooCommerce

#### What happened instead
Store tab in Calypso displays perpetual update message (see screenshot)

#### Browser / OS ver

[2018-04-04 15:37] cecilerainon opened #23900 "Social menu: Pinterest ccTLD links show chain icon"
Hello! I noticed while working with a user that Pinterest shows a chain icon in a social menu if the custom link used isn't _.com_. The issue is this particular service (unlike Twitter or Facebook) uses ccTLDs instead of a redirection, so users may use these URLs and get a chain icon instead of a Pinterest icon.

My suggestion would be that we make an exception for this service and show the Pinter

[2018-04-04 15:54] #22137 closed

[2018-04-04 16:01] tyxla commented on #22912
Good point, added to the list 👍

[2018-04-04 16:58] ryelle commented on #16732
This widget was added in #23347 & #23410; closing this issue

[2018-04-04 16:58] #16732 closed

[2018-04-04 17:27] gwwar commented on #23783
@kwight should we give nux a heads up on this and remove from backlog?

[2018-04-04 17:42] gwwar commented on #19252
Very interesting, thanks for reporting @KokkieH!

[2018-04-04 19:08] eliorivero commented on #23772
I can't repro this issue. Perhaps you can add me to this site so I can check the network responses to plan data requests?

[2018-04-04 19:11] keoshi commented on #23772
I’ve added you to the site, let me know if it worked.

[2018-04-04 19:39] eliorivero commented on #23772
It's good, thanks!

[2018-04-04 20:37] ryelle commented on #21496
This shows a site-selector as of #23805, closing this issue

[2018-04-04 20:37] #21496 closed

[2018-04-04 20:42] #23420 closed

[2018-04-04 20:43] kwight commented on #23783
Posted to p5XAZ9-1HD-p2 👍

[2018-04-05 03:53] psealock commented on #13521
closing as no longer relevant

[2018-04-05 03:53] #13521 closed

[2018-04-05 03:58] psealock opened #23916 "Store: Stats: Navigation: persist relevant url queries"
When switching from day, week, month, year on particular pages such as Referrers, the url query parameter is not persisted. Only the `startDate` should be amended

[2018-04-05 03:59] psealock opened #23917 "Store: Stats: Referrers: Create a way to clear out a selected referrer"
Create a mechanism in the UI for a user to clear out the referrer selection

[2018-04-05 08:33] jsnajdr commented on #23750
I'm adding this issue to the Team Calypso project. When this work is finished, we can save one HTTP request for _noticons.css_ on every initial load. It's 21kB gzipped and 33kB parsed CSS.

[2018-04-05 08:58] rachelmcr opened #23920 "Reader: Can't go back to Reader feed after editing a single post from the Reader"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/
2. Follow a site you own with a published post.
3. Find a post from the site in the Reader and open the full post view.
4. Select the Edit link at the bottom of the post.
5. Optional: Make any edits you want to the post.
6. Select the Close button to close the editor and return to the post in the Reader.
7. Select the Back link on

[2018-04-05 09:53] taggon commented on #23662
@alisterscott @fditrapani I made a fix for this problem. Can you take a look?

[2018-04-05 12:00] vindl opened #23924 "DocumentHead: reseting title on tab view changes"
To reproduce:

1. Navigate to `/stats/day`. Note the `Stats - WordPress.com` title.
2. Click on `Weeks`. The title is reset to just `WordPress.com`.

Similar thing happens on `comments/all/{site}` when switching comment status, and `/pages` when switching page status.

[2018-04-05 12:00] keoshi opened #23925 "Activity: add notice for limit on event history"
If a costumer reaches the end of their event history, set by limit restrictions based on the data retention that their plan offers, we must have a visual representation for that.

It should account for different retention periods, and recommend a better plan to get larger retention.

[2018-04-05 12:54] klimeryk commented on #23852
I'd guess the root cause is the fact that we have domain-related info stored within Calypso in two types of stores: old, flux ones (most of Domain Management) and newer, Reduxified (only Domain Warnings?). When the WHOIS is updated, it updates the old flux store, but not the Redux one. And as a result, the change is not reflected in the warning shown in the sidebar (which is powered by the Redux s

[2018-04-05 13:40] spen opened #23929 "SiteAddressChanger: Bad routing when navigating 'back' after a successful address change."
### Summary

After successfully making a change to your site address using the new (feature flagged) site address changer feature (`/domains/manage/{ old address }/edit/{ old address }`)  we navigate to `/domains/manage/{ new address }/edit/{ new address }`.

The reason we do this is to make sure that the new address takes full effect and state items are updated accordingly to reflect the new addr

[2018-04-05 14:00] fditrapani commented on #23662
Thanks @taggon. Looks good to me!

[2018-04-05 14:45] seear commented on #23690
Server-side part of the fix: D11529-code

[2018-04-05 14:48] Copons commented on #23506
As it seems, this is _almost_ solved. We only just need to stop reporting the query params in the page view events.
E.g. `/checklist/:site?d=gsuite`

[2018-04-05 14:51] samhotchkiss commented on #20521
@lezama -- @rcoll is testing these, and then will close

[2018-04-05 14:52] #23506 closed

[2018-04-05 15:07] jeherve opened #23936 "Analytics: allow Jetpack Premium Plan holders to use Google Analytics options"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/settings/traffic/ while selecting a site with a Jetpack Premium plan.
2. Scroll down to the Google Analytics section.
3. Try to activate the option.
4. You will receive the following response for the request:

[code]

This feature should be accessible as we enabled GA for Premium plans.

cc @tyxla since you recently worked on this i

[2018-04-05 15:09] ryelle opened #23937 "People: Scrolling through team list causes an unresponsive page"
Edit by @gwwar: I'd recommend for any content we need to manage that we have a simple pager instead of an infinite list. Infinite lists are usually better for consuming content.

When scrolling through the people list (at `/people/team/:site`), I somehow triggered an infinite loop where the InfiniteList component keeps trying to update state. I end up with an unresponsive page, and this error:

`U

[2018-04-05 17:30] sixhours commented on #23768
The above branch nests the header, div, and banner elements within the Main component by moving the Main component into several different outer files.

It needs more thorough testing. I worry adjusting the markup will have unintended consequences.

[2018-04-05 19:06] mapk commented on #23694
This is going to involve more design work and thinking. I had thought this would be a quick win worth AB testing, but there have been some great points brought up by @kjellr, @ockham and others regarding the proposed change on the PR #23879.

I'm closing this.

[2018-04-05 19:06] #23694 closed

[2018-04-05 19:16] pankmr commented on #23899
Another user with similar issue. 2517890-hc 1057223-zd-woothemes

[2018-04-05 19:20] #23522 closed, assigned to vindl

[2018-04-05 19:46] #8681 closed

[2018-04-05 19:46] #23752 closed

[2018-04-05 19:53] tmmbecker commented on #23936
also reported in 1067713-zen

[2018-04-05 20:41] lancewillett commented on #9134
This is working for Posts really well now. Needs to be ported to Pages.

<img width="911" alt="screen shot 2018-04-05 at 13 41 21" src="https://user-images.githubusercontent.com/66797/38390750-1325125c-38d7-11e8-8b58-b7b5c3a0d07c.png">

[2018-04-05 21:34] #23644 closed

[2018-04-05 21:44] nylen commented on #22816
The middle state in this mockup is <em>indeterminate</em> - the user has selected that they want to schedule the post for a different date, but they haven't selected the date yet.

The current UI is not ideal, but it has the advantage that there are no indeterminate states.  I don't think a pair of radio buttons is the correct solution here, because clicking the "Publish later" radio button by its

[2018-04-05 21:50] mapk opened #23944 "Showcase: Add a "close" button to the banner ad and upgrade notification bar"
Currently the banner ad and upgrade notification bar take up quite a bit of prime real estate in the Showcase. It would be great to offer the user the ability to close them, removing them from their view of the Showcase forever (or at least until the cookie is cleared).

Maybe something like this?

![screen shot 2018-04-05 at 2 47 57 pm](https://user-images.githubusercontent.com/617986/38393663-5e

[2018-04-05 21:56] #23524 closed

[2018-04-06 06:36] markryall commented on #23508
Hmm - yes - I can see there still a whole lot of checkout related `calypso_page_view` events with those incorrect paths.

I can't seem to reproduce them however - whenever I test the various routes covered in the test plan for the PR, I see the expected placeholders - even if I specify a site that I don't own (in which case, it'll switch to the site selector).

I realise now that the approach I to

[2018-04-06 10:05] rachelmcr commented on #23899
I took a look at the site in the first user report, and noted that when you open the Store section in Calypso an uncaught error appears in the console:

`Uncaught (in promise) Error: folder_exists
    at D (build.31e03eca623bb270a176.opt.js:1)`

I see a POST request to https://public-api.wordpress.com/rest/v1.1/sites/{SITE_ID}/plugins/woocommerce-gateway-stripe/install?http_envelope=1 that's retur

[2018-04-06 12:10] Lobsterovich commented on #23944
Zoid

[2018-04-06 12:20] #23514 closed, assigned to Copons

[2018-04-06 13:09] markx2 commented on #12434
I have a similar issue

Drafts in Calypso is showing '1', but there is no draft in wp-admin.

I tried adding a new draft - the count went to 2, then when I trashed it it changed back to 1.

User reports this has been showing for some time.

2543539-hc

[2018-04-06 13:25] keoshi commented on #23772
Closing this per https://github.com/Automattic/jpop-issues/issues/1983#issuecomment-379246462

[2018-04-06 14:50] marekhrabe commented on #17631
What about replacing the subtitle with something like "Import content from other platforms" or "…WordPress and other platforms" to keep the most important one? This change will also be more future proof should we port more importers from wp-admin to Calypso.

[2018-04-06 15:08] pablinos commented on #13625
It looks like #17347 that hides the edit button, also hides the edit button for videos, which can be edited on private sites.

If there's no fix for the CORS issue currently, should we change the logic so that the edit button is available for videos or does that risk causing more confusion?

I see you mention that the CORS issue is related to photon @retrofox, is there any other way that the image

[2018-04-06 15:10] sararosso opened #23962 "NPS: Don't show when in SU/SSP mode"
If an A11n does SU/SSP into user accounts for support reasons, the NPS survey should not show.

[2018-04-06 15:31] lancewillett commented on #17631
@marekhrabe That would work well, especially as we expand the importers to more over time.

[2018-04-06 15:39] timmyc commented on #23899
Thanks for the report @automattic-ian and for tagging this @designsimply - sounds like @ryelle is going to look into this today.

[2018-04-06 15:50] folletto opened #23963 "Themes: the modal content is not center-aligned properly"
![screen shot 2018-04-06 at 13 14 29](https://user-images.githubusercontent.com/4389/38430897-85893254-39ba-11e8-8d97-d386d544359a.png)

When a theme is activated, we show this modal.

Unfortunately, as seen from the screenshot, there's some padding on the right that off-centers its content.

/cc @mapk

[2018-04-06 16:12] lancewillett commented on #17631
@marekhrabe 👀 https://github.com/Automattic/wp-calypso/pull/23964 please?

[2018-04-06 16:33] spen opened #23965 "Domains Settings: Deep linking unhandled"
Domains settings require admin permissions and it seems that deep linking to `domains/manage` for a site without having the correct permissions is an unhandled case.

#### Steps to reproduce
- Be sure that you have multiple sites available. Including sites you own and site(s) that you are not an admin of.
- Go to http://calypso.localhost:3000/domains/manage (without an appended site address)
  - Y

[2018-04-06 16:36] spen commented on #23929
This quite likely relates to #23965, though I think there are subtleties between the two issues.

[2018-04-06 17:43] #17631 closed

[2018-04-06 19:03] drwpcom opened #23967 "Question: Blog Posts Page Slow/Unusable in Calypso"
#### Steps to reproduce
1. Starting at URL:http://wordpress.com/posts/my/FeedIT.cz
2. Page tries to load all posts on site in Posts List initially instead of 25, and is very slow or hangs.

#### What I expected
Perhaps pagination needed for a certain amount of posts? Or posts loaded upon scroll? Or...

#### What happened instead
The list tries to load/show all posts on the site. This is problemati

[2018-04-06 19:08] ryelle commented on #23899
I've investigated the reporting sites, and it looks like the new "store fixer" step (Updating your store…) is actually highlighting a few misconfigured stores. All of the reporting sites are missing a required plugin, either `woocommerce-gateway-stripe` or `woocommerce-services`. These were installed when the stores were set up, and then possibly the user deleted them, but they weren't fully remov

[2018-04-06 19:09] Lobsterovich commented on #18462
Cool

[2018-04-06 19:10] Lobsterovich opened #23968 "Wp-calypso"
#### Steps to reproduce
1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2018-04-06 19:10] Lobsterovich commented on #23968
Cool

[2018-04-06 19:10] #23968 closed

[2018-04-06 19:11] Lobsterovich commented on #23968
Zoid app

[2018-04-06 19:25] jancavan commented on #22816
What about disabling the Schedule button until they have picked a date?

[2018-04-06 21:45] ryelle commented on #23899
I was also thinking that might be useful - rather than relying on [the keys](https://github.com/Automattic/wp-calypso/blob/master/client/extensions/woocommerce/lib/get-required-plugins.js) from the required plugins list, we could have a few different lists in there. I think one "setup" list, which would install the three we provide now, and then one "required for Calypso" list, which IMO would hav

[2018-04-06 21:46] timmyc commented on #23899
+1 it does seem like wcs should be required.

[2018-04-06 22:12] #21058 closed

[2018-04-06 22:13] jamiepalatnik commented on #23426
In 2487402-hc a user reported that deleted sites appeared in the Blogs I Follow widget and the user didn't know how to delete them. I was able to unfollow the blog for the user by searching for the site address and clicking the unfollow link under the search box, as mentioned in [this comment](https://github.com/Automattic/wp-calypso/issues/5840#issuecomment-367310700).

[2018-04-06 23:01] gwwar commented on #23508
To prevent data from being lost, we need @rodrigoi's changes to land first in https://github.com/Automattic/wp-calypso/pull/23911 if we'd like to use the PageViewTracker to update usages from bare analytics calls in `client/my-sites/checkout/controller.jsx`

[2018-04-06 23:04] beaulebens commented on #17571
This has all changed with the new connection flows from Luna. No longer an issue.

[2018-04-06 23:04] #17571 closed

[2018-04-06 23:06] gwwar commented on #23508
We should also consider `sectionifyWithRoutes` since this is getting some cases incorrect.

[2018-04-06 23:10] beaulebens commented on #21879
As far as I can tell, everything is showing correctly. We don't show "discounts" available on jetpack.com because we just show the full, "shelf" price. On WP.com, we show "discount available" in the context of the current site, if you're already on a lower plan (e.g you might see $200 for a plan, where you already have a $99 plan) because we offer that discount in that context.

[2018-04-06 23:10] #21879 closed

[2018-04-06 23:18] scruffian commented on #23750
Once the PR above (#23974) is merged then we can remove Noticons from the project entirely.

[2018-04-06 23:24] gwwar commented on #23508
Note that rerunning the query I still see errors like `/checkout/[site_id]/personal` though I'm having a difficult time reproducing locally.

Likely a race condition with the controller?

[2018-04-07 03:28] nielslange commented on #23899
Another issue in #496207-hc

[2018-04-07 04:16] withinboredom opened #23975 "Unable to scroll stats page"
Reported via partner mailing list. Original issue at https://github.com/webcompat/web-bugs/issues/5205

Reproducible on Firefox for Android 55 to 61.
Notes:

- The device testing with matters, issue appeared on Samsung Note 4 and Huawei P10.
- Does not reproduce in Chrome for Android

#### Steps to reproduce

1. Navigate to: www.wordpress.com and log in. (I think having a Wordpress site created is

[2018-04-07 07:16] Copons commented on #23508
Sorry @gwwar, I did the very same assign/in progress/figure out/unassign/backlog the other day and totally forgot to write the reason. 🤦‍♂️

[2018-04-07 09:27] andfinally commented on #23659
Thanks Dave, that's a good point about hiding the modal on touch devices - we'd no longer be showing them irrelevant content. We could probably do that easily, because the `html` element gets a `touch` class in that context.

Rather than trying to rearrange the table on small viewports, we could simply hide the modal there too, on the assumption that a device with a viewport smaller than 660px is

[2018-04-07 15:18] andfinally opened #23977 "PostRevisions. Diff view shows quote marks as HTML entities"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/posts/my/[ subdomain ].wordpress.com, create a new post.
2. Enter an arbitrary title and in the post content, add a paragraph containing quote marks.
3. Publish the post.
4. Reopen the post and view the revisions history.

#### What I expected
The diff view shows the text as it is in the post editor, with quote marks rendered.

####

[2018-04-07 16:42] ryelle commented on #23899
I've added a check for errors in the "Updating" process, so now users will see something like [this screen](https://user-images.githubusercontent.com/541093/38444926-4af0e81c-39bf-11e8-91fa-83aff1e49e9d.png). It should say which plugin is the problem, but fixing it will require an HE to force-reinstall that plugin.

On Monday, I'll look into updating the required plugins list so this isn't as big

[2018-04-07 17:13] andfinally commented on #4829
https://github.com/Automattic/wp-calypso/pull/22972 with the added info has now been merged, and Marek's points have been outlined in https://github.com/Automattic/wp-calypso/issues/23659, so I'm assuming it's safe to close this issue.

[2018-04-07 17:13] #4829 closed

[2018-04-07 17:15] andfinally commented on #1580
I'm assuming it's safe to close this one.

[2018-04-07 17:15] #1580 closed

[2018-04-07 17:15] #22677 closed

[2018-04-07 17:25] andfinally commented on #23360
I'm not seeing that. This may be related to the fact that I'm not getting the "Free" card. I wonder if the layout has changed since this issue was created.

![screen-shot-2018-04-07-at-18 22 15](https://user-images.githubusercontent.com/1647564/38458057-e746d416-3a90-11e8-8c7c-6c74816a5f98.png)

[2018-04-07 17:28] andfinally commented on #21254
This was also mentioned in https://github.com/Automattic/wp-calypso/issues/4829#issuecomment-374640007 - possibly related issue https://github.com/Automattic/wp-calypso/issues/23659

[2018-04-08 15:10] videni opened #23978 "why a user is not logged in, still set `initialized` as true?"
client/lib/user.js

[code]
why a user is not logged in, still set `initialized` as true?

[2018-04-08 17:11] RealCarFax commented on #23899
@nielslange's user from #496207-hc reached back out. I've confirmed we cannot reinstall WooCommerce Stripe Payment Gateway even in CLI (I do not currently have access but @lizthefair helped me try to uninstall but it would not). WooCommerce Services has been uninstalled/reinstalled and doesn't appear to be the issue.

[2018-04-08 17:24] kraftbj commented on #23936
I believe this caused by https://github.com/Automattic/jetpack/blob/5c1ee15dfe051f274ce6ca22df3a078046814427/modules/google-analytics.php#L12 .

https://github.com/Automattic/jetpack/blob/33b2f8d611fe8f7255a8df192a73f7d1c2e87c7f/_inc/lib/core-api/class.jetpack-core-api-module-endpoints.php#L70 is what is returning the error message.

[2018-04-08 20:14] andfinally commented on #23360
Thanks Rachel - I see it now. I did have my scrollbars set to "when scrolling".

This scrollbar is related to some work that was done to improve the scrolling of the list on iOS. I've created https://github.com/Automattic/wp-calypso/pull/23979 to fix this.

[2018-04-08 20:49] jmdodd opened #23981 "Inline Help: topics in international forums are truncated and not as useful as a user-chosen subject"
#### Steps to reproduce
1. Set your language to French at https://wordpress.com/me/account
2. Click on the blue (?) icon in the lower right-hand corner and click on "Contactez-nous?"
3. Add some topic content (mark as "testing" so that moderators understand that this is a test).
4. Click on "Poser des questions sur les forums" to send the request for help to the forums.
5. Visit the link to your r

[2018-04-09 03:43] #23916 closed

[2018-04-09 05:06] KokkieH commented on #23981
This is not restricted to the i18n forums, but I've seen it on the English forums as well, and confirmed with a test account set to English that the form does not include a topic field. Using the i18n forums is better for testing, though, as English tickets for free users are not always routed to the forums, so you're not guaranteed to see the forums contact form with an account set to English.

T

[2018-04-09 05:45] yoavf commented on #6550
@alisterscott For testing purposes, it is possible to override the currency using a browser cookie: `landingpage_currency`

[2018-04-09 08:06] simison commented on #22372
For published post events this should happen quite rarely, but for drafts I could see this happen quite frequently (I have a habit to just start typing and come up with the title later on):

![image](https://user-images.githubusercontent.com/87168/38486557-10ee26ce-3be6-11e8-8f91-3547fa63deb0.png)

[2018-04-09 08:32] simison opened #23983 "Activity log: draft post events linking to reader"
Draft titles from activity log bring you to the reader. I expected to end up in the editor instead.

#### Steps to reproduce
1. Have Jetpack connected site with Activity Log
2. Create a new draft post
3. Open activity log and see the event:
    ![image](https://user-images.githubusercontent.com/87168/38487583-5c799e0e-3be9-11e8-93e8-566e8dc8bc74.png)
4. Pressing that title brings you to the reader

[2018-04-09 08:43] simison opened #23984 "Activity log: don't link custom post events to the reader"
Post events in the activity log for custom post types link to the reader although posts aren't visible via reader.

#### Steps to reproduce
1. Have a Jetpack site with Activity Log
2. Create a custom post type, e.g. using [custom-post-type-ui](https://wordpress.org/plugins/custom-post-type-ui/) plugin.
3. Create a new post and publish it
4. Go to your activity log and observe event:
    ![image](h

[2018-04-09 09:49] sirreal commented on #23360
This also impacts plans in the Jetpack connect flow (`/jetpack/connect/SITE_SLUG`):

![scroll](https://user-images.githubusercontent.com/841763/38491363-eeb35b6e-3beb-11e8-8039-cbe825a7eac3.png)

Appears to be from:

https://github.com/Automattic/wp-calypso/blob/2d2ba355ee1669a2410fa8ef540f4d435f81839a/client/my-sites/plan-features/style.scss#L443

Apparently introduced in #22820 (cc: @fditrapani)

[2018-04-09 14:44] blowery commented on #15375
@bluefuton could you take this one? :)

[2018-04-09 15:01] #23936 closed

[2018-04-09 15:02] #23882 closed

[2018-04-09 17:00] timmyc opened #24000 "Plugin: Cannot read property `slug` of null"
While setting up a new Business Plan site this weekend I encountered the following error message when hard-refreshing a plugin install page:

<img width="1439" alt="refresh-install-plugin-page" src="https://user-images.githubusercontent.com/22080/38511249-711f3c86-3bdc-11e8-94ef-83fb9c1400d8.png">

The flow taken to arrive at this error:
- Setup a new business plan site
- Did some basic site setup

[2018-04-09 17:05] timmyc opened #24001 "Store: Updating Your Store message shown on new Store Setup"
While setting up a new Business Plan + Store site this weekend, I encountered a few bumps along the way. The first item I hit I think is related to the new logic that was shipped in #23809 to auto-fix missing plugins on the remote site.

#### Steps to reproduce
1. Create a new business plan site, do not do so via the Store NUX flow.
2. Install a non-store plugin to initiate the AT process
3. Once

[2018-04-09 17:10] timmyc opened #24002 "Store Shipping: Service Package tab empty on new store"
While setting up a new Store this weekend, I encountered an empty dialog for "Service package" when completing the Store Setup wizard.

<img width="624" alt="no-service-package-for-you" src="https://user-images.githubusercontent.com/22080/38511735-e81d7e50-3bdd-11e8-84d0-c6b2399ff7c0.png">

#### Steps to reproduce
1. Create a new store on wpcom site
2. Click on the Shipping step in the setup wizar

[2018-04-09 17:15] timmyc opened #24003 "Store: Settings breadcrumbs look cramped"
Throughout Store, when the breadcrumb navigation is shown, the `/` separating paths seems a bit cramped where the slash looks closer to the parent navigation item vs the child. Not sure if is just my old eyes playing tricks on me so figured I'd open an issue about it:

<img width="323" alt="spacing-between-sections" src="https://user-images.githubusercontent.com/22080/38512007-cc7e11cc-3bde-11e8-9

[2018-04-09 17:43] tyxla commented on #23936
Thanks @kraftbj @jeherve 🙇

[2018-04-09 17:51] #23653 closed

[2018-04-09 17:52] gwwar commented on #23653
Closing as dup

[2018-04-09 17:58] blowery opened #24004 "Reduxify: lib/user"
`lib/user` is as old as calypso and used in a lot of places, with 63 different places importing it.

## Summary
- EventEmitter / Flux hybrid with data currently mirrored to redux
- Large number of users
- Best strategy would be a series of small PRs to migrate clients to use redux and selectors
- Biggest challenge: how to handle non-reactive clients, mostly controllers

## Writeup

It's mostly an

[2018-04-09 18:12] ryelle commented on #23899
@RealCarFax/@lizthefair Were you able to force the installation using the steps in p9HQHe-76-p2? The plugin doesn't exist really, so there isn't anything to uninstall -- instead you need to force the installation with `--force` in WP-CLI, to overwrite the plugin directory.

[2018-04-09 19:08] LevinMedia opened #24008 "Creating a new site: getting stuck in the store-nux flow"
#### Steps to reproduce
1. Starting at URL: wordpress.com (logged in)
2. Switch Sites > Add a new site
3. New WordPress site
4. Fill in site details
5. Only select "Sell products or collect payments"

#### What I expected
I expected to be able to create a new site with a .wordpress.com domain and choose premium as my subscription type.

#### What happened instead
I was forced into a business plan

[2018-04-09 19:30] kwight commented on #23654
It turns out some services will use the language according to the user's settings, which explains my own results: my Twitter account was in English, so the OAuth window was displayed in English.

 - [ ] Facebook
 - [ ] Twitter
 - [ ] Google+
 - [ ] LinkedIn
 - [ ] Tumblr
 - [ ] Path
 - [ ] Eventbrite
 - [ ] Photos from Google
 - [ ] Google My Businesss

[2018-04-09 20:30] fditrapani commented on #24008
Thanks for submitting this issue @LevinMedia.

Just to give you a little background of what's happening here, when you only select "Sell products or collect payments" as a site goal, you are placed in the `store-nux` signup flow. This flow allows people to create a store right from signup and explains why you don't see any `.wordpress.com` subdomains along with only seeing the business plan. The r

[2018-04-09 21:54] bluefuton commented on #15375
@blowery Sure :)

[2018-04-09 22:33] blowery opened #24019 "Remove CartStore"
This one's a biggie.

### Code
[lib/cart/store](https://github.com/Automattic/wp-calypso/tree/master/client/lib/cart/store) - actual flux stores. index and synchronizer register separately.
[lib/cart-values](https://github.com/Automattic/wp-calypso/tree/master/client/lib/cart-values) - operations / selectors on immutable cart data
[lib/products-values](https://github.com/Automattic/wp-calypso/tree

[2018-04-09 22:38] kwight commented on #23654
The service will only identify the user's language if the user is logged in to the service, so it would still be nice to provide an explicit language if we can. I've identified some params and formats that individual services use to call specific languages, but I'll also need to verify that the `service.connect_URL` (which I think comes from Keyring) can be modified to include it.

- Facebook: `lo

[2018-04-09 22:52] #24001 closed

[2018-04-09 22:57] kwight commented on #16208
This was fixed at some point, I can't reproduce now.

[2018-04-09 22:57] #16208 closed

[2018-04-10 03:45] psealock opened #24022 "Store: Stats: Referrers: Data array not sent in order"
Data from the `/stats/events-by-referrer` endpoint comes in an odd order - with the first element coming last in the array. I'm not sure what changed, but the chart is rendering oddly. It only appears with a `unit === 'day'`.

![screen shot 2018-04-10 at 2 41 30 pm](https://user-images.githubusercontent.com/1922453/38535067-e8a555e8-3cd5-11e8-8c17-9ee9116931aa.png)

![screen shot 2018-04-10 at 3 4

[2018-04-10 04:05] southp commented on #22914
All of the ingredients for resolving this are now ready.

### Backend
code-D11190. It will be deployed only after all the calypso pieces are deployed.

### Calypso

In the dependency order:

1. https://github.com/Automattic/wp-calypso/pull/23822
1. https://github.com/Automattic/wp-calypso/pull/23827
1. https://github.com/Automattic/wp-calypso/pull/23841
1. https://github.com/Automattic/wp-calypso/

[2018-04-10 04:10] suiwenfeng opened #24023 "CALYPSO_ENV=production npm run build Failed in Docker"
#### Steps to reproduce
1. Starting at URL:
2.
3.
4.

#### What I expected

#### What happened instead
[code]

#### Browser / OS version

#### Screenshot / Video

#### Context / Source

[2018-04-10 10:02] keoshi opened #24025 "Activity: no rewind buttons after adding back credentials"
While testing the Activity log, I removed and added back credentials.

This seems to tell the UI that this site is just now being set up and originates a couple of problems:

- No rewind buttons visible across the UI; they were there before.
- “Backup underway” banner has incorrect copy: in this case we are _not_ backing up the site for the first time, and so this is not the initial backup. We sho

[2018-04-10 11:37] thehenrybyrd commented on #6415
Another report in 2267025-hc, on bradleyday.net.
I was also able to reproduce on a test site.

The code in question was

<div class="wpview-body">
<div class="wpview-content wpview-type-contact-form">Name<em> (required)</em>
Email<em> (required)</em>
Website
Booking details or comment<em> (required)</em>
Telephone No.<em> (required)</em>
Area or Region<em> (required)</em>
Submit</div>
</div>

I've

[2018-04-10 12:15] andfinally commented on #23360
Hi @rachelmcr, this should now be resolved, am I OK to close this issue?

[2018-04-10 12:17] #23962 closed

[2018-04-10 13:29] jsnajdr opened #24036 "Disconnecting Jetpack site reports success even in case of failure"
#### Steps to reproduce
1. In Calypso, select a Jetpack site and try to disconnect it.
2. Before hitting the red "Disconnect" button, set your network offline to make sure that the REST request fails.
3. Hit the "Disconnect" button

#### What I expected
Notice with a `'%(siteName)s failed to disconnect'` text is shown.

#### What happened instead
Success notice with `'Successfully disconnected %(s

[2018-04-10 15:38] mattwiebe commented on #24008
I was actually working on an a/b test and discovered another related bug, in that:

1. pick "sell products or collect payments" and click next
2. get "choose store theme" page
3. don't want a store
4. click back (the link on the page, not the browser button), choose anything else, click next
5. still "choose store theme"

This happens because it puts us the `store-nux` flow and clicking the back l

[2018-04-10 15:45] #23963 closed

[2018-04-10 15:53] sararosso commented on #23455
Adding @taggon to this - we've done some extensive work on NPS v2 lately and the above is most likely outdated.

You can see more details of the project on p9jf6J-h6-p2

[2018-04-10 16:35] eliorivero commented on #24025
This is because after re-entering creds, the Rewind state is `provisioning`. At this point, Rewind actions like restores and backups aren't available.

A quick fix for the notice is to update the copy so instead of "We're currently backing up your site for the first time" it says something simple like "We're creating a backup of your site".

However this should be addressed in the Rewind state mac

[2018-04-10 17:26] nebososo opened #24045 "Sharing: Firefox might display overlapping text when connecting to sharing services"
#### Steps to reproduce
Use Firefox with tracking protection enabled. It is debatable whether this should be considered a bug or not, but this option is enabled by default on all private tabs and is recommended-ish by mozilla: https://blog.mozilla.org/firefox/tracking-protection-always-on/
https://developer.mozilla.org/en-US/Firefox/Privacy/Tracking_Protection

1. Starting at URL: https://wordpres

[2018-04-10 17:27] kathrynwp opened #24046 "About Me: Add support for basic HTML"
HTML is stripped out of the About Me box, preventing people from using links in their bios, among other things.

#### Steps to reproduce
1. Starting at URL: https://wordpress.com/me
2. In the About Me box, add the following content:
`
I am a prolific blogger and Pyrex collector. Check out <a href="https://wordpress.com/">my other site for Pyrex-obsessed people.</a>`

3. Click "Save Profile Details

[2018-04-10 18:10] jamiepalatnik commented on #22811
Reported in this chat: 2375165-hc

[2018-04-10 19:28] kraftbj commented on #21807
Specific to the Reader issue, there was two feedbag feeds for the site -- one tied to the Jetpack site, one tied to the RSS feed (which had the majority of the followers). I merged the two to link the RSS feed to the Jetpack site, which should help WordPress.com's Reader be aware of new posts faster than a pull RSS method.

All in all, I suspect this is mainly a Jetpack Sync issue relative to the

[2018-04-10 19:28] #21807 closed

[2018-04-10 21:33] tyxla commented on #22912
Also, @sirreal found a bug with the Add button - fixed in #24050.

[2018-04-11 00:35] kristarella opened #24052 "WordAds page not loading correctly"
#### Steps to reproduce
1. login to user's account
2. Starting at URL: https://wordpress.com/ads/settings/

#### What I expected
For current settings to be loaded, and be able to edit them.

#### What happened instead
The settings and button are greyed out.
There's an error in the console

From the ticket history this might be intermittent, but I could replicate.

[code]

#### Browser / OS version

[2018-04-11 03:20] rralian opened #24053 "SitePicker: site items missing `pointer` cursor treatment"
Tested on chrome 65.0.3325.181 (latest version) on Windows 10, just noticed the site-picker for creating a post doesn't give the cursor the pointer treatment when hovering over them.

### Testing instructions
- start on wordpress.com with a multi-site owning account
- click pencil icon to start a new post
- move cursor over site options, it will show text selector tool, not pointer.

[2018-04-11 09:06] rachelmcr opened #24057 "Jetpack: Plan purchase from Calypso dashboard directs to WP Admin"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/plans
2. Select a Jetpack-connected site.
3. Select a paid plan.
4. Complete checkout for the plan.
5. Wait for the thank you page to complete the plan setup and then select "Back to your site."

#### What I expected

Since I started in Calypso and had only been working in Calypso, I expected to be directed back to my site's dashboa

[2018-04-11 09:12] scruffian commented on #23750
This is done.

[2018-04-11 09:12] #23750 closed

[2018-04-11 10:22] scruffian opened #24058 "DevDocs: Add READMEs for UI components"
Not all components in DevDocs have README files. We should add them so that all components are documented.

[2018-04-11 10:29] scruffian opened #24059 "DevDocs: Link to other resources"
Not everything related to our design system lives in (or should live in) Calypso. We should link out to the other resources rather than duplicating content. This means linking to resources for:

- Logos
- Color
- Iconography
- Typefaces
- Voice and tone/Content

[2018-04-11 10:32] scruffian opened #24060 "DevDocs: Make it easier to access the code for each example component"
It's good to have lots of example components, but its not easy to see how to re-create them. We should make it easy to get to the code for each example.

Related to https://github.com/Automattic/wp-calypso/pull/23950/

[2018-04-11 10:42] Copons opened #24061 "Extensions: Enabling WP Super Cache in Calypso kills the site"
Apparently, in order for WP Super Cache to work in Calypso, you **have** to do a first time setup in wp-admin, even if just enabling the caching on the "Easy" tab.

Doing it in Calypso results in 500-ing the site, which then requires to manually remove a couple of php files from the plugins directory to bring it back up (`advanced-cache.php` and `wp-cache-config.php`).

To check if a site requires

[2018-04-11 11:08] rclations commented on #24052
fyi that this was reported in pMyNb-4a7-p2

[2018-04-11 11:12] scruffian opened #24062 "DevDocs: Add information on common components and when to use them"
The way to use different components, and when, isn't very clear from the docs. We could add a section which makes this clearer.

We could even go further and define what a standard page layout should look like, what components it should use, and how...

[2018-04-11 11:13] scruffian opened #24063 "ActionCard: Prevent button text breaking at smaller card widths"
The button breaks at smaller screen widths: https://cloudup.com/cy_7Sshg26W

[2018-04-11 11:15] scruffian opened #24064 "Update the Calypso guider"
There is a lot of information about Calypso in https://wpcalypso.wordpress.com/devdocs, but none of it is in the guide. We should update the guide to link to these resources.

[2018-04-11 11:23] scruffian opened #24065 "DevDocs: Add detail about the difference between UI components, Blocks and State selectors"
The difference between these sections isn't clear, and isn't explained anywhere (I could see). We should add some information this and make it easy to find.

[2018-04-11 11:25] scruffian opened #24066 "DevDocs: Create a guide for creating new components"
There is no guide for contributing new components. There is no template to use for the documentation or minimum requirements. We should add some documentation about this, or if its there, make it easier to find.

[2018-04-11 11:26] stephanethomas commented on #24065
I added more information about the different types of components [in the documentation](https://github.com/Automattic/wp-calypso/blob/master/docs/components.md#glossary) but I agree that it should be more visible, and easier to find.

[2018-04-11 11:27] scruffian opened #24067 "DevDocs: Component hierarchy"
Patternlab programmatically shows “lineage”. It shows what components are included in the current component, and shows what components the current component is in:

![](http://atomicdesign.bradfrost.com/images/content/pattern-lab-lineage.png)
.png

Adding something like this to DevDocs would be useful.

[2018-04-11 11:31] scruffian opened #24068 "DevDocs: Suggest related components"
Shopify has a “related components” section, which is used for suggesting other components that you might want to use (https://polaris.shopify.com/components/overlays/popover#section-related-components)

We could do something similar for Calypso components that are

[2018-04-11 11:34] scruffian opened #24069 "DevDocs: High level patterns, IA etc."
We have a lot of decision about the sidebar and the IA in general which are only documented internally. We should dig through these, consolidate them and move them into DevDocs.

[2018-04-11 11:36] scruffian opened #24070 "DevDocs: Investigate using a grid system"
We should think about how we layout in Calypso. Sometimes we use ems sometimes pixels, we don't have a standard grid at all. Should we try to conform more to a grid system? Should we define standard spacings and a consistent unit?

[2018-04-11 11:37] scruffian opened #24071 "DevDocs: URL structure"
We should document our rationale for URLs and the position of the :site selector, which is currently only documented internally.

[2018-04-11 12:19] eduardozulian commented on #17012
Another report 1056399-zen

[2018-04-11 12:59] eliorivero commented on #24025
@dmsnell fixed this in D11668

[2018-04-11 12:59] #24025 closed

[2018-04-11 13:00] scruffian opened #24074 "DevDocs: Update /typography"
We could update a few things to make /typography clearer:

- Provide required sass variables ($sans, $serif) for serif and sans fontstacks.
- Add info on the $code fontstack.
- Clarify the rules about when to use $serif vs. $sans.
- Link to the brandbook for other information
- Add information about the base style for regular UI text - $sans, 15px, $gray-dark, 400 weight.

[2018-04-11 13:03] scruffian opened #24076 "DevDocs: Update /icons"
The info at /icons is mostly duplicated at https://wordpress.com/design-handbook/iconography/

We should consolidate this into one place and link them. We could add some implementation details for Gricons.

[2018-04-11 14:41] rachelmcr commented on #23360
Closing as resolved, thanks!

[2018-04-11 14:41] #23360 closed

[2018-04-11 14:42] stephanethomas commented on #24065
Yes, and also where they should live (I didn't know that selectors should be located under `client/state/selectors` until very recently).

[2018-04-11 14:54] gwwar commented on #24061
cc @Automattic/guardians Would anyone have time to look into this?

[2018-04-11 15:15] rachelmcr commented on #19315
I can't reproduce this issue on a test Jetpack site. When I click the stats icon for a post on the Posts page in WP Admin, I'm directed to the Calypso stats for that post and it loads as expected without redirecting me.

Please reopen this issue with more details if you can still reproduce this issue under certain conditions!

[2018-04-11 15:15] #19315 closed

[2018-04-11 15:16] seear commented on #23768
Seems like this problem was caused (or surfaced) by #22884. @ryelle any thoughts on how this could be addressed? Some exploration going on in #24037.

[2018-04-11 15:43] dbtlr commented on #24061
@donnchawp Could you take a look at this when you get a chance? Likely will need a plugin side fix and would be good to include in the next release.

[2018-04-11 16:52] jancavan opened #24084 "Store: Unable to set up Store"
#### Steps to reproduce
Starting at URL: https://wordpress.com/store/jancavanblog.wordpress.com

Site URL: jan.blog (mapped to jancavanblog.wordpress.com)

#### What I expected
For me to be able to set up my Store.

#### What happened instead
I get an error message saying, "Some of your site settings couldn't be retrieved." I'm also not sure what this means exactly so it's not very helpful. I keep

[2018-04-11 16:54] detlefholtz commented on #23899
Same issue with user `axismotosport`. I've tried --force installing `woocommerce`, `woocommerce-gateway-strip` and `woocommerce-services`, to no avail. Disconnecting and reconnecting Jetpack didn't help either.
#1064580-zen

[2018-04-11 17:06] timmyc commented on #24084
Hi @jancavan ! Did you manually install the WooCommerce plugin from the Plugins portion of your site?

[2018-04-11 17:11] jancavan commented on #24084
@timmyc Yes, I installed it from `/plugins` in Calypso.

Re this, I went to `/wp-admin` to try to deactivate the plugin to see if this fixes it, but it didn't.

[2018-04-11 17:16] timmyc commented on #24084
Answered my own question 😆 - so it does look like you installed WooCommerce manually - I think we should still be able to install the other required plugins so not certain why this is failing. Might be related to #23899

[2018-04-11 17:19] ryelle commented on #23899
@detlefholtz It looks like the plugins are still deactivated. I ran through the setup process once more and it successfully activated the plugins. This user's site should be all fixed, now.

For this problem, that cli command should probably include `--activate`, or be followed by `plugin activate slug`

[2018-04-11 19:19] dcoleonline commented on #22432
Similar report with `<meta>` elements being stripped from Calypso, but working fine in wp-admin. 1082075-zen

Example:

[code]

When that is added to Calypso, only this is left in the editor after updating/publishing:

[code]

[2018-04-11 19:56] ryelle commented on #23768
Yeah, looks like re-ordering the #primary & #secondary containers surfaced an issue with the show/hide styles – [the layout css expects the top-level primary component to be `.main`](https://github.com/Automattic/wp-calypso/blob/master/client/layout/style.scss#L184). I think the approach in #24037 is the right way forward.

[2018-04-11 20:16] jancavan commented on #24084
I think it's related to that issue @timmyc. What other plugins should I be installing?

[2018-04-11 21:04] #22816 closed

[2018-04-11 21:05] nylen commented on #22816
This would address the issue I mentioned, but I think it's better to avoid the issue entirely by not using radio buttons.  Radio buttons work best when the setting you are modifying has multiple discrete values, one value per button, which isn't really the case here.

I think #23943 gets us to a better place here, but feel free to reopen if this needs further work.

[2018-04-12 00:16] beaulebens opened #24090 "Plans: Allow changing owner of a plan"
Currently, only an Administrator of a site (WordPress.com or Jetpack) can purchase a plan, and once they have purchased it, they are the owner and no one else can control that plan.

We should make it so that customers can transfer ownership of a purchased plan to any other Administrator on their site.

I propose that on this view (under Me > Manage Purchases > Purchases), we make the Owner box cl

[2018-04-12 00:27] beaulebens opened #24091 "Plans: Handle VaultPress purchases properly in Billing History"
When a customer has a VaultPress plan, their payments are recorded and visible in WP.com. Those purchases show up without enough information to know what's going on:

![screen_shot_2018-04-05_at_11_32_29_am](https://user-images.githubusercontent.com/108942/38649756-a18a3ce2-3db5-11e8-807e-43720572fd56.png)

"VaultPress Vault Press" makes no sense at all. It should be at least just "VaultPress", pr

[2018-04-12 00:27] xpurichan commented on #16585
User reports that this is an ongoing issue for them.

They only use Safari since only integrates with Apple VoiceOver. They say that this is not only an issue on the "Followed Sites" (https://wordpress.com/following/manage) page, but also the "Followers" page (https://wordpress.com/people/followers/travelswithtio.com).

We have an open ticket with them, in case we need to ask them questions or whe

[2018-04-12 00:32] beaulebens opened #24092 "Billing History: Clean up Jetpack Plans display"
Purchase a Jetpack plan, and then view the receipt via Me > Manage Purchases > Billing History.

You'll see something like this:

![billing_history_ _wordpress_com](https://user-images.githubusercontent.com/108942/38649933-65691534-3db6-11e8-9e6d-4624e710a308.png)

- [ ] Icon should be a Jetpack logo
- [ ] Should be listed as "Jetpack" at the top (not WordPress.com)
- [ ] Plan/purchase detail shou

[2018-04-12 05:37] #22912 closed

[2018-04-12 05:37] codebykat opened #24094 "Sharing: Clarify wording of oAuth post-connection dialog"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/sharing/{site}
2. Connect to a new Sharing service (Twitter, Facebook, etc)
3. The dialog that comes up reads:

![screen-shot-2018-03-26-at-02-09-03](https://user-images.githubusercontent.com/52152/38658146-ae8a91a8-3dd8-11e8-9114-ae6da3154eb7.png)

This is somewhat confusing in that it might sound like all existing or old posts wil

[2018-04-12 05:43] codebykat commented on #24094
I'm thinking it should be something like this:

"Is this the account you'd like to connect? By default, all new posts will be automatically shared to this account. You can change this on a post-by-post basis in the editor sidebar."

[2018-04-12 05:44] codebykat commented on #24094
"Options for each new post will appear in the editor sidebar." ?

[2018-04-12 05:51] codebykat opened #24096 "Editor: Add more descriptive wording to sharing message box"
In the Sharing sidebar, the customize message box currently looks like this:

![screen shot 2018-04-11 at 22 46 17](https://user-images.githubusercontent.com/52152/38658487-47280944-3dda-11e8-8838-44cbe0039f05.png)

It used to look like this:

![https://en-support.files.wordpress.com/2009/10/publicize-box.png?w=380&h=412](https://en-support.files.wordpress.com/2009/10/publicize-box.png?w=380&h=412

[2018-04-12 05:56] codebykat opened #24097 "Sharing: Provide better feedback when Publicize fails"
Right now, when an error occurs trying to share a post to a Publicize service, there is no feedback or messaging. One thing we could do is display a "sharing failed" icon in the Sharing section of a published post to indicate that we detected something amiss. We could display more information if we have it, or link to a support page with steps to try to solve the problem.

Stretch goal: allow repu

[2018-04-12 06:10] codebykat opened #24098 "Editor: Social media previews are hidden in a weird place, should be more prominent"
#### Steps to reproduce
When writing a new post, the social media preview pane is in the screen size dropdown, which makes zero sense to me.

![screen shot 2018-04-11 at 23 08 54](https://user-images.githubusercontent.com/52152/38659216-54e27cce-3ddd-11e8-9234-c48b4c67683c.png)

I can't believe anyone would notice this here or think to look for it. Especially if this is a feature we want people to

[2018-04-12 06:26] codebykat opened #24099 "Plans: Plan comparison for current site is missing info about my (free) plan"
#### Steps to reproduce
When logged in, if you click on Plans in the sidebar it takes you here: https://wordpress.com/plans/{site}

![screen shot 2018-04-11 at 23 19 33](https://user-images.githubusercontent.com/52152/38659553-e2e034ca-3dde-11e8-9429-bdb62a120d81.png)

Contrast this with https://wordpress.com/pricing/ :

![screen shot 2018-04-11 at 23 23 53](https://user-images.githubusercontent.c

[2018-04-12 10:01] scruffian opened #24104 "Checklist component"
The checklist component looks more like a block than a component, as its made of several different components. We should move it under blocks. It also has no README.md file, so we should add one.

[2018-04-12 10:01] scruffian commented on #24058
The checklist component should be done separately from this: https://github.com/Automattic/wp-calypso/issues/24104

[2018-04-12 10:49] scruffian opened #24106 "DevDocs: Move Gridicons out of /design and into /iconography"
Since Gridicons are external components we should probably treat them differently in devdocs. We can link to them from /icons.

We should do the same for SocailLogos.

[2018-04-12 10:49] scruffian commented on #24058
Gridicons need a different approach: https://github.com/Automattic/wp-calypso/issues/24106

[2018-04-12 11:37] seear commented on #23768
Yeah, sounds good, thanks for taking a look @ryelle

[2018-04-12 13:53] iamgabrielma opened #24114 "Add extra validation for email address when a domain is registered"
This came up in 2718687-hc , a customer purchases a domain on WordPress.com and when has to enter the contact information data, adds the email as `www.myemail@gmail.com`, hence not receiving the verification email because the extra `www.` .

Would it be possible to add additional validation here to avoid this in the future?

#### Steps to reproduce
1. Starting at URL: http://wordpress.com/domains/

[2018-04-12 13:58] aidvu commented on #24114
That e-mail is valid. What we could do, although that would mean we'd have to add non-blocking validation rules that can be bypassed to the validators. Hmm... @Automattic/cobalt

[2018-04-12 15:23] molszewska opened #24126 "Domains: Email hosting verification"
It looks like an universal issue. I've come across this with my user yesterday and managed to reproduce on my test site.

#### Steps to reproduce
1. Get Zoho verification code starting from "zb..."
2. Go to https://wordpress.com/domains/manage/SITENAME.com/name-servers/SITENAME.com
3. Enter the code in the appropriate field
4. Click "Set up Zoho Mail"

#### What I expected
I received "Success" mes

[2018-04-12 16:01] klimeryk commented on #24114
I've checked and we have at least 412 users that used a `www.*` email in the past.
Some seem legit, some have changed it to one without the `www.` prefix. I'd guess the ones with a legit `www.*` ones are clients that had their site set up by someone else?

Anyway, it _is_ a valid email, but I also get how someone could get confused and input that (for whatever reason). But less than a year ago, I'

[2018-04-12 16:07] klimeryk commented on #24126
I can't reproduce this with my test domain 🤔
The token is not cleaned in my case and I see a green success notice in the upper right corner.

I did notice that we are sending a bit weirdly formatted URL:
[code]
The uppercase `Zoho` is what alerted me. It succeeded - but wondering if it's not causing problems (either on some OS on the user side or on some servers on our side). @hambai or @delputnam

[2018-04-12 16:37] molszewska commented on #24126
Just MX records, nothing more complex than that. I've just tested in on a "clean" domain without any records previously added, and the behaviour still persists:
http://cld.wthms.co/klQcL5

[2018-04-12 18:38] andfinally commented on #24063
Could you give some detail on how you're viewing it? I've tried every conceivable window width in Chrome devtools responsive view, and I can't reproduce the issue.

![image](https://user-images.githubusercontent.com/1647564/38697079-d7bcd0c6-3e88-11e8-82cb-1edef01760ec.png)

[2018-04-12 19:01] andfinally commented on #24094
I think you're right, the wording could do with a tweak. How about

There might be a bit of ambiguity about which posts we're talking about - it could be Facebook posts - so maybe it  ought to be "all your new WordPress.com posts".

[2018-04-12 19:06] scruffian commented on #24063
@andfinally try Firefox :)

[2018-04-12 19:12] jeherve opened #24127 "Jetpack Connection Flow: missing option to create account."
Starting from a site where you have activated Jetpack, but not connected it to WordPress.com. Your admin account's email address should match an existing WordPress.com account.

Reported in https://github.com/Automattic/jetpack/issues/8994#issuecomment-380747630

It would be nice to offer the option to create a new account below the form.

[2018-04-12 19:26] andfinally commented on #24063
Oh right, now I see it - for me it's when the viewport's between 1281 and 1460px wide and the Checklist component is floated to the right.

[2018-04-12 20:02] timmyc commented on #24084
The issue was due to Jetpack connection being somehow corrupted during the AT process. All fixed up in at-happiness.

[2018-04-12 20:02] #24084 closed

[2018-04-12 20:03] blowery commented on #24004
Unassigning myself

[2018-04-12 20:03] blowery opened #24128 "Reduxify: lib/username"
## Summary
A **small** emitter that works with /me to change a user's username. No actions, no flux. Might be a good candidate for @jsnajdr's "new" data approach.

## Discovery

### Code
[lib/username](https://github.com/Automattic/wp-calypso/tree/master/client/lib/username)

### Imports
Only used by client/me/account/controller.js.

### Usage
Passed down to `me/account/main` where's it's observed

[2018-04-12 20:05] drw158 commented on #24068
This would probably be manually written, not programmatic. It may be redundant if we do https://github.com/Automattic/wp-calypso/issues/24067

Even if we do the lineage, it would be nice to have manually written suggestions or tips for the most used components.

[2018-04-12 20:05] jancavan commented on #24084
Thank you @timmyc!

[2018-04-12 20:08] drw158 commented on #24063
Seems like this would be true whenever we float buttons to the right with flexbox. Maybe add some css to icon buttons that prevents the icon dropping to a new line?

[2018-04-12 20:09] blowery opened #24129 "Reduxify: Viewers"
## Summary
A pretty simple ~C~R~U~D store. It just fetches a paginated list of viewers and allows the user to remove them. One UI view, one data component.

## Discovery
This module is a flux approach to managing private site viewers, and is intended to be used with people management.

### Data
List of viewers of a private site

### Actions
fetch and remove

### Code
[lib/viewers](https://github.c

[2018-04-12 20:11] drw158 commented on #24069
Sort of related to our Glossary, which may as well be a doc about our high level patterns.

https://wpcalypso.wordpress.com/devdocs/docs/guide/glossary.md

[2018-04-12 20:13] drw158 commented on #24063
I'm also wondering if the button could just be a normal button with no icon in the example. It's a bit misleading and makes me think that this card is primarily used for external links.

[2018-04-12 20:26] drw158 commented on #24065
I like this terminology guide: https://github.com/viljamis/vue-design-system/wiki/terminology

Do you think it's possible to change the names completely? Regarding UI, I love the terms Token > Element > Pattern > Template.

I think using the word components is confusing because React has their definition, but it could be something very different to a designer. Component to me, basically means an "

[2018-04-12 20:26] drw158 commented on #24070
Is it time to experiment with CSS grid?

[2018-04-12 20:45] andfinally commented on #24063
This issue happens above the 960 breakpoint when the width of the card is about 482px - I've tweaked the title to reflect that. I've hopefully addressed this in https://github.com/Automattic/wp-calypso/pull/24131.

[2018-04-12 21:10] drw158 opened #24132 "DevDocs: consider adding more docs to sidebar."
There are a lot of sections listed on the search page which aren’t accessible from the sidebar, so I think a lot of people miss them.

One that comes to mind is the A11y readme.

[2018-04-12 21:17] drw158 opened #24133 "DevDocs: consider adding a 1 column display option for UI Components"
Grid layout is hard to scan compared to a single column. It might be due to the lazy loading, but things seem to jump around when I scroll down for the first time. This makes it hard to scan the components.

[2018-04-12 21:29] drw158 commented on #24059
A simple idea for Color would be to add a new item in the sidebar, with an external icon. It would link to the handbook color page. I think that's a step in the right direction.

[2018-04-12 21:42] scruffian commented on #24068
I think there is value in both.

[2018-04-12 22:02] kwight commented on #23654
There's a Keyring [filter for auth token params](https://github.com/beaulebens/keyring/blob/master/includes/services/core/oauth2.php#L61); maybe this can be used to pass an additional language parameter to the service.

Hm, but after testing further, a test connection from Sharing winds up using OAuth1 (not sure why), so the language param would be inject [here](https://github.com/beaulebens/keyri

[2018-04-12 22:33] gwwar commented on #23108
@Copons I think we can close this one out since we have a recommended path for this. If folks notice new items, we should create a new more specific issue.

[2018-04-12 22:37] gwwar commented on #23455
@taggon should I update the issue then to remove unneeded code?

[2018-04-12 22:39] scruffian opened #24135 "DevDocs: Add READMEs for blocks"
In https://github.com/Automattic/wp-calypso/issues/24058 we added README files for UI components. We need to do the same for the /blocks section.

[2018-04-12 22:40] scruffian opened #24136 "DevDoc: Add missing components to DevDocs"
There are a lot of components in the /components and /blocks directories which aren't listed in the DevDocs. We should add them.

[2018-04-13 02:43] chaitanyamsv opened #24138 "Calypso edit page / post screen redirects to Select Site screen when used with a wpcom url"
#### Steps to reproduce

Add wpcom url in the edit page/post url of a site instead of a custom domain, i.e. use https://wordpress.com/page/chaittestpress.wordpress.com/2857 instead of https://wordpress.com/page/chaittestpress.com/2857

#### What I expected

I should go to edit page screen regardless of whether I use wpcom url or the custom domain in the edit page url.

#### What happened instead

[2018-04-13 04:04] southp commented on #22914
@yoavf @Automattic/payments I've just rolled out everything. If there is anything broken, please let me know. Thanks for guiding me on the way 🙇

[2018-04-13 04:04] #22914 closed

[2018-04-13 08:24] jsnajdr opened #24139 "Reduxify: domains/nameservers"
Store used in domain management UI for showing and changing domain nameservers. Stores a list of nameservers and flags about the state of request, keyed by domain name:
[code]

There are two actions that send a REST request and update the list with the response: `fetchNameservers` and `updateNameservers`.

There is no interaction with other stores and the migration should be straighforward. The `i

[2018-04-13 10:14] jsnajdr opened #24141 "Reduxify: lib/preferences"
The `preferences` module was already reduxified some time ago, but the duplicate Flux implementation is still there and used at only two places:
- to store list of ignored words for the editor proofreading plugin (After The Deadline). There is no React in that TinyMCE plugin, so the connection to Redux will need to be implemented in a slightly unusual way, without things like `connect` or `QueryPr

[2018-04-13 10:58] scruffian commented on #24058
This is done :)

[2018-04-13 10:58] #24058 closed

[2018-04-13 12:05] taggon commented on #23455
@gwwar I don't think you need to update the issue except for the testing instructions. We don't use `NPS_SURVEY_RAND_MAX` to ensure all users participate the survey two time a year. In other words, there is no _lucky_ user any more. See [this PR](https://github.com/Automattic/wp-calypso/pull/23894).

[2018-04-13 12:23] jsnajdr opened #24144 "Reduxify: remove Sites List Log Store"
Remove the only remaining remnant of the Sites List store, which is the Notices Log Store.

The only living part of that store is displaying error notices when receiving plugins fails ("Error fetching plugins on N sites"). That can be moved to `lib/plugins`, which has its own Log Store, too. The `sites-list` directory can be then removed for good.

[2018-04-13 12:43] jsnajdr opened #24145 "Reduxify: OAuth login Flux stores"
Remove two Flux stores related to OAuth login: `oauth-store` and `auth-code-request-store`. They are used to track status of requests to do the actual login and to send a 2FA SMS code. Both requests are trivial enough to not need any Flux/Redux state at all. Promise handlers that set local state are enough.

**Update:**
`auth-code-request-store` was removed in #26328 and `oauth-store` is still up

[2018-04-13 12:44] jsnajdr opened #24146 "Reduxify: lib/embeds store"
Used only at one place: TinyMCE plugin for displaying embeds. There are two stores: list store for a list of embeds supported by a particular site, and a store mapping an embed URL to a markup returned from a server call.

[2018-04-13 12:47] jsnajdr opened #24147 "Reduxify: help-search"
Recently (re)implemented in Redux (state/inline-help) by @lsinger, but only for the Inline Help popover. Search on the /help continues to use the help-search Flux store. Both search implementations are almost identical.

[2018-04-13 12:48] jsnajdr opened #24148 "Reduxify: lib/importer"
Uses ImmutableJS, written in a very Redux-friendly style already. @dmsnell offered help with converting.

Also used in Happychat middleware to show a Happychat notice when the user starts an import. That code is currently broken, because the middleware listens for a Redux action and it’s actually Flux. (cc @nosolosw)

[2018-04-13 12:56] jsnajdr opened #24149 "Reduxify: lib/invites"
Three stores that track the list of site invites and the REST requests to accept or create an invite. They use ImmutableJS, which makes them an interesting target.

Used at 6 places when accepting or sending an invite.

[2018-04-13 12:57] jsnajdr opened #24150 "Reduxify: users store"
Manages a CRUD list of site users for each site. Used for:
- selecting author for an edited post
- domain transfers
- managing the list of site users (People)
- author mapping in importer
- sharing connections mgmt — figuring out connection owner

[2018-04-13 14:13] bisko commented on #24148
Related PR: #23930

[2018-04-13 14:13] drw158 commented on #24076
In addition, it would be great to actually display the Gridicons somehow. I think just an image of a few icons would work for now. We can also link to the Gridicon component in UI Components.

[2018-04-13 14:45] beaulebens commented on #23654
Note that Twitter does actually [use the OAuth1 service](https://github.com/beaulebens/keyring/blob/master/includes/services/extended/twitter.php#L7).

I think I just never added any filters there because I haven't needed them yet, but seems totally appropriate. If you do it somewhere right around where you linked (in the context of the authorize URL/redirect), then I'd suggest something like `key

[2018-04-13 15:14] scruffian commented on #24076
Maybe the thing to do is to move the <Gridicons /> component under /icons (https://github.com/Automattic/wp-calypso/issues/24106)

[2018-04-13 15:23] TassyWassy opened #24155 "Rewind Appears to be Stalled on User Account"
#### Steps to reproduce

User site was getting a 500 error on her site and she attempted to rewind her site back to the 10th of the month. The user has been waiting over 10 hours for the rewind to be complete. The process bar is at about 75%. The user does have almost 200 published post and about 90 drafts. User has 14 pages and media in the hundreds. Based on that the rewind would take a while to

[2018-04-13 15:26] gwwar commented on #23455
@taggon Got it so we still need the API call?

[2018-04-13 15:43] rachelmcr commented on #24155
Closing this issue and moving it to an internal report. Thanks!

[2018-04-13 15:43] #24155 closed

[2018-04-13 16:11] lancewillett commented on #14240
Re-opening: we still need to do one more step, hide the setting for the default avatars in WP Admin.

[2018-04-13 17:04] #22369 closed

[2018-04-13 17:27] eliorivero opened #24160 "Rewind: add confirmation when revoking credentials"
From Filipe in p9rlnk-bP-activitylogrewind #comment-1436

[2018-04-13 17:29] eliorivero opened #24161 "Rewind: add loading animation when revoking credentials"
From Filipe in p9rlnk-bP-activitylogrewind #comment-1436

[2018-04-13 17:32] samouri opened #24162 "Reduxify: userSettings"
**summary**
event emitter located in `client/lib/user-settings/index.js`. Already been reduxified and lives in `state/user-settings` + data-layer. Mainly used in controllers that then pass it to the main view for a url.  Those then either don't use it, or use it sparingly. Overall a smallish task as far as reduxifying goes

| task size | files      |
| ----------- | ---------- |
| small/medium

[2018-04-13 17:52] samouri opened #24163 "Reduxify: ads"
**summary**
3 flux stores. [tos-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/ads/tos-store.js), [settings-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/ads/settings-store.js), [earnings-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/ads/earnings-store.js). Also has 2 utils that are basically selectors.  All 3 have barely an

[2018-04-13 18:10] scruffian commented on #31
Since they need to set up with SMS in either case, does it make sense to give them the option? What about just going through the SMS setup flow first and then adding auth App as optional step once they have done the SMS setup?

One thing to bear in mind is this p58i-32i-p2.

[2018-04-13 18:56] codebykat opened #24168 "Publicize: Investigate failing phpunit tests in bin/tests/publicize and decide if we need to port these to the new framework"
[code]

[2018-04-13 18:58] kwight commented on #31
I like the idea that the user knows up front that we offer app-based 2FA, rather than having to discover it (although nothing stops us from informing them they'll have the choice down the road – it feels like basically the same thing at that point?).

Hm, yeah, that's interesting! It could be looked at again separately, for sure.

[2018-04-13 20:03] drw158 commented on #24065
This is the original formation and reasoning for the Block: p2-p4TIVU-47o

[2018-04-13 20:51] drw158 commented on #24065
Further info is also in: https://github.com/Automattic/wp-calypso/blob/master/docs/components.md#glossary

Looks like there is a doc for each of the component types.

[2018-04-14 02:54] samouri opened #24176 "Reduxify: email-forwarding"
**summary**
[email-forwarding](https://github.com/Automattic/wp-calypso/blob/master/client/lib/domains/email-forwarding/store.js) is a store in the lib/upgrades that utilizes an interesting helper called `createReducerStore`.  It is a flux event emitter that was written in a reducer style.  I think that should make it significantly easier and natural to convert.

| task size | files      |
| -----

[2018-04-14 03:19] samouri opened #24177 "Reduxify: feed-stream-store"
**summary**
the [feed-stream-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/feed-stream-store/index.js) is the backbone of Reader streams.
I'm already significantly through converting it and progress is branching out from here: https://github.com/Automattic/wp-calypso/pull/22814

| task size | files      |
| ----------- | ---------- |
| large      | 13 |

[2018-04-14 03:22] samouri opened #24178 "Reduxify: infinite-list"
**summary**
`infinite-list` depends on two flux store, [scroll-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/infinite-list/scroll-store.js) and [positions-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/infinite-list/positions-store.js).
Both of those stores are _only_ used within the infinite-list component.
Both stores are glorified setters and get

[2018-04-14 03:32] samouri opened #24179 "Reduxify: notifications-settings-store"
**summary**
~~I wasn't able to find any store with this name 😖 😕 🙃~~
`lib/notification-settings-store`:

LOC: ~100
Usage: only 3 files use the getters/actions AFAICT. should be easy to switch over those bits.
Task Size: medium

[2018-04-14 03:38] samouri opened #24180 "Reduxify: plugins"
**summary**
Three associated flux stores.

[plugins-list-store](https://github.com/Automattic/wp-calypso/blob/master/client/lib/plugins/wporg-data/list-store.js):
responsible for storing .org data on plugins (same for each user, independent of site).
only used by the plugins browser. never shows up anywhere else. medium complexity. has interesting looking fetch logic strewn about it.  about 250 li

[2018-04-14 04:58] samouri opened #24182 "Reduxify: upgrades"
**summary**
`lib/upgrades` has a collection of actions that end up triggering events from many stores including various `domains` stores and `email-forwarding`.  The other actions end up being simple wrappers for api requests.

I don't think we should separately scope the work to reduxify these actions since it should be captured by the issues to reduxify the related stores.

[2018-04-14 05:02] samouri opened #24183 "Reduxify: checkout"
**summary**
I'm having trouble finding an associated store.
Looks to just have a few actions in the collection of `lib/upgrades` actions as described [here](https://github.com/Automattic/wp-calypso/issues/24182)

[2018-04-14 05:06] samouri opened #24184 "Reduxify: signup"
2 stores, only used during signup.
partially reduxified which makes it difficult to figure out what is really going on.

I noticed that `themes-data` and `hint-data` are translated at the module level, so it will never be correct if someone is non-english.

- [ ] `progress-store`:
SignupProgressStore stores the user's progress through a signup flow by storing a list of the steps in the signup flow

[2018-04-14 08:33] iamgabrielma commented on #24114
TIL. Any insight and why the user was not receiving the verification email until has changed it to the non-www. variation? Or maybe has just been a coincidence and delay from the registrar when sending the verification.

[2018-04-14 09:39] andfinally commented on #24094
That would do it!

[2018-04-14 12:54] blowery commented on #23238
nah, we canned this idea back at the meetup.

[2018-04-14 12:54] #23238 closed

[2018-04-14 16:56] spen commented on #24019
I just rebased #22901 so that's good for review now. Thankfully some of @aidvu's work has helped reduced the weight of that PR too so reviewing should be that little bit easier now :)

Also, I'll be very happy to pitch in here between my regular team responsibilities. Feel free to nudge me for reviews etc. and I'll do what I can! Go team!

[2018-04-14 17:37] benchilcote commented on #17191
1084856-zen

User is trying to migrate content from hoochiekoochie.skynetblogs.be (not a WordPress website) to hoochiekoochie.blog.  They successfully imported the content but images did not import.  I attempted a few other imports into a test website with no luck.  The user's original website account will be shut down at the end of the year and they want to save the images.

@kevmarsden, would yo

[2018-04-14 19:58] lsinger commented on #6256
Fixed by @jsnajdr in #22734. Props! 🎉

[2018-04-14 19:58] #6256 closed

[2018-04-14 23:38] katinthehatsite commented on #23543
Also reported in #1090622-zen

[2018-04-15 07:29] StefMattana commented on #12421
Has this issue got sorted out?

[2018-04-15 10:45] klimeryk commented on #24126
What browser/OS were you using? I can't seem to reproduce it on Mac/Chrome. Do you have email forwards on the domain? Anything that would help narrow down the steps to reproduce this 😁

[2018-04-15 10:51] klimeryk commented on #24114
If understand the case correctly they changed it from www.example@gmail.com to example@gmail.com, right? If that's the case then those two are separate emails. The `www.` one probably did not exist, which the non-www one did (and was probably what the user wanted to use).

But as mentioned above, both emails are valid and indeed we have some users that are using emails starting with `www.*`, so I'

[2018-04-15 10:51] #24114 closed

[2018-04-15 10:54] andfinally commented on #24136
I've added seven components and fixed a few stray issues in https://github.com/Automattic/wp-calypso/pull/24191.

[2018-04-15 11:01] klimeryk commented on #23139
@ehti sorry for the late reply.
OK, let's go with the optional token and show an alert when there are no TXT records - in which case we'll show a dialog asking the user if they're sure they've verified the domain (with appropriate links to documentation at Google/O365/Zoho). Sounds good?

[2018-04-15 11:05] andfinally commented on #24063
https://github.com/Automattic/wp-calypso/pull/24131 is now merged, so this can hopefully be closed.

[2018-04-15 19:39] molszewska commented on #24126
macOS Sierra, version 10.12.6, Chrome 63.0.
Both domains didn't have any email forwards, I can't find anything that stands out here.
(tested with magdatestdomain.com and interspellar.net)

[2018-04-15 22:38] katinthehatsite opened #24192 "Activity Log: Changes From WP-Admin As Staff Record Staff Name As An Admin"
I was testing something on user's site and made a change from WP-Admin to their comments. When I checked an Activity Log, my name was recorded as an admin on the site: https://cloudup.com/clkGfs5fbGL

#### Steps to reproduce
1. Starting at URL: As staff who is a Super Admin, go to any site's WP-Admin e.g. https://senfftestwpplanspersonal.wordpress.com/wp-admin/
2. Make a change on user's site e.g

[2018-04-15 22:40] katinthehatsite commented on #22811
Also reported in #1091646-zen

[2018-04-16 01:08] kevmarsden commented on #17191
@benchilcote I was able to import the images and update the references using a script from my sandbox (image-import.php).  I updated the user in 1084856-zen

[2018-04-16 02:30] alisterscott opened #24193 "Jetpack: Add existing Jetpack site URL is buggy using backspace"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/jetpack/new?ref=calypso-selector
2. Start typing a url, eg. mountain.com - note URL defaults to HTTP
3. Use backspace on keyboard go back to the HTTP and add an S
4. Input now doesn't work, using backspace behaves strangely

#### What I expected

Can edit the URL to HTTPS using backspace

#### What happened instead

Can't edit it, w

[2018-04-16 05:42] ramonjd commented on #24183
@samouri

Not sure if this helps you or not:

[client/lib/cart/store/index.js](https://github.com/Automattic/wp-calypso/blob/8ad3e94/client/lib/cart/store/index.js
)

[client/lib/transaction/store.js](https://github.com/Automattic/wp-calypso/blob/8ad3e94/client/lib/transaction/store.js
)

Both stores are passed down via `client/components/data/checkout/index.jsx` (`<CheckoutData />`)

[2018-04-16 05:49] ramonjd commented on #23667
Noticed this too.

Any UI changes might have to take into consideration other possible items (currently in the page, but hidden via CSS)

<img width="790" alt="screen shot 2018-04-16 at 3 48 03 pm" src="https://user-images.githubusercontent.com/6458278/38791875-a084d786-418d-11e8-92e5-24506b2b4424.png">

[2018-04-16 09:14] scruffian commented on #24063
Thanks @andfinally 👏

[2018-04-16 09:14] #24063 closed

[2018-04-16 09:25] klimeryk commented on #24126
Weird, that's very similar to my setup 🤔

@hambai or @delputnam, could you try to reproduce this problem? You two should be most familiar with this code (and maybe there's something wrong with _my_ setup).

[2018-04-16 11:46] eduardozulian commented on #20870
Also requested on 2836371-hc

[2018-04-16 13:31] rantoncuadrado opened #24204 "In-page translator and help round blue icons overlapping"
#### Steps to reproduce
1. Enable the community translator tool (https://translate.wordpress.com/community-translator/). To do this, you would need to set up your interface language to other than English.
2. Go to account settings https://wordpress.com/me/account
2. Click on Community Translator check-box (Enable the in-page translator where available)

#### What I expected
HELP and TRANSLATION ic

[2018-04-16 13:31] Copons commented on #23108
@gwwar Ok!
I was on the fence here, but in fact we have most things tracked or even with open PRs.

---

Closing because the issue has been fixed at framework level.
Most instances of the incorrect approach (`analytics.pageView.record`) have been replaced with the correct one (`PageViewTracker`), and we have officially deprecated the former in the [analytics docs](https://github.com/Automattic/wp-

[2018-04-16 13:31] #23108 closed

[2018-04-16 14:09] akirk opened #24207 "Domains: Whois telephone number should not default to US flag"
Right now when arriving at the Whois form, we always(?) show a US flag when nothing has been entered. Could we use GeoIP to at least change this to another country?

<img width="745" alt="screen shot 2018-04-16 at 16 07 57" src="https://user-images.githubusercontent.com/203408/38813940-917262f6-4190-11e8-9533-29c9ab7e79cd.png">

cc @southp @ramonjd

[2018-04-16 15:02] samouri commented on #24183
Thanks for the help @ramonjd!
Team Calypso is currently [going through](https://github.com/Automattic/wp-calypso/projects/45) and documenting all of our current Flux Stores.  @jsnajdr created a list of leftover stores on p2-p9oQ9f-3G.

We separately are tracking the `cart/store` and `transaction/store`, so your input is even further evidence that there is nothing considered a "checkout store" :).

[2018-04-16 15:16] ryelle commented on #23899
Now that we've merged #23973 & #24005, only WooCommerce & WooCommerce Services are required for using calypso (so we won't keep trying to install Stripe if the user has deleted it); and if we run into errors while installing, users will be directed to contact support, rather than seeing the updating screen forever. I'm closing this issue, but ping here or in slack if there is still a problem 🙂

[2018-04-16 15:16] #23899 closed

[2018-04-16 16:05] ryelle commented on #21794
This was fixed in #23748

[2018-04-16 16:05] #21794 closed

[2018-04-16 16:59] #23687 closed

[2018-04-16 17:30] eliorivero commented on #22283
With discarded events of the equation, we can now close this.

[2018-04-16 17:30] #22283 closed

[2018-04-16 17:42] sixhours commented on #24069
I see a couple ways this could go:

* We rename the Glossary to something that encompasses more than just definitions (maybe Design Patterns? With a section called Glossary?) and incorporate the additional info.
* We create a new page for high-level patterns and link to the Glossary from that.

Other thoughts on the structure? I'm leaning toward the first option.

[2018-04-16 17:59] blowery opened #24217 "Reduxify: Transactions"
## Summary
* Just one store, but part of checkout.
* Exposes one method, `get`, which hands back the entire transaction
* Used in one place `client/components/data/checkout/index.jsx`
* Waits on the CartStore using `Dispatcher.waitFor` to do some work
* Already uses immutable updates
* Should be an easy port, assuming we can redux-bridge it.

[2018-04-16 18:06] blowery opened #24218 "Reduxify: lib/followers & lib/email-followers"
## Summary
`lib/followers/*`
* one store, two actions (fetch and remove), ~300 LOC
* used by my-sites/people
* pretty small overall

[2018-04-16 18:13] blowery commented on #24218
There's also `lib/email-followers`, which I'm not sure we caught?

[2018-04-16 18:13] blowery opened #24219 "Reduxify: lib/shortcodes"
A pretty small store with limited actions
* store is 100 LOC
* one action, `fetch`
* only used by `components/shortcode`

Might be a good candidate to leave out of redux and just use the new context API?

Either way, this should be really straightforward.

[2018-04-16 18:15] eliorivero opened #24220 "Activity Log: pagination doesn't create an entry in brower's history"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/stats/activity/$ite.blog
2. use the AL pagination to go to a page other than page 1
3. click back in the browser

#### What I expected
To be taken back to page 1

#### What happened instead
I was taken to Stats main page. I had to click on Activity in the tab again

#### Context / Source
#dogfooding #anxiety #stresscase #painpoint.

[2018-04-16 18:17] blowery opened #24221 "Reduxify: People"
`lib/people/store` is a simple little store that holds errors, but listens to 13 different actions from across people management.

It ties in with users, viewers, invites, and followers.

A simple store (v150 LOC) but integrated into other parts.

[2018-04-16 18:29] jsnajdr commented on #24183
I probably referred to `lib/upgrades/actions/checkout.js` when adding "checkout" to the list. But it's just actions and all of the change the `transaction` store on dispatch.

[2018-04-16 18:30] sixhours commented on #24069
After looking further, I think splitting the sections up would be a better option; a glossary is a defined entity and more general information doesn't fit there. Plus it makes the page a lot longer if we try to combine them.

I'll open a PR with a new page added to the guide to see what folks think.

[2018-04-16 19:27] eliorivero commented on #20483
@MichaelArestad does this still apply now that we no longer have discarded events?

[2018-04-16 19:44] MichaelArestad commented on #20483
Nooooooooooooope. Case closed!

[2018-04-16 19:44] #20483 closed

[2018-04-16 20:46] #23929 closed

[2018-04-16 21:05] blowery commented on #24219
Previously ported to redux in https://github.com/Automattic/wp-calypso/pull/8116 and an attempt at hooking it up in https://github.com/Automattic/wp-calypso/pull/8857.

@aduth @tyxla any other movement on this one since? Looks like it was hung up on getting media reduxified?