[2021-01-20 01:05] roo2 commented on #47857
Let's put this on hold for now after we found that the implementation, especially on the wpcom side (D54769-code) is quite a bit more complex than we expected. pbxlJb-CF-p2

[2021-01-20 01:54] ilyasfoo opened #49060 "Store|Woo: Store deprecation notice looks too cramped in smaller screens"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Open WordPress.com in a small screen (i.e: iPhone 8) and select a business site with an existing Store set up
2. Look at the store deprecation notice, see the texts are too cramped together

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.co

[2021-01-20 02:45] #49020 closed, assigned to andrewserong

[2021-01-20 03:30] lsl opened #49061 "Onboarding: "Site Language" in Japanese doesn't fit the UI on design selector screen"
The translation for "Site Language" in the language picker for Japanese sometimes breaks out of the header bar on small screens.

The `/new/design/ja` page seems to be the only place this occurs - with the domain picker and jetpack icon squashing the available space in between.

Other locales seem to be fine but I suspect this is because they all use two words. The fix is probably to just apply a

[2021-01-20 04:02] nagpai commented on #49007
3663909-zen

[2021-01-20 04:03] becdetat commented on #48982
@cathymcbride this is being addressed in https://github.com/Automattic/wp-calypso/pull/48990 which is close to being merged (just having some CI issues). To test that PR check out that branch, go to a business site with the store enabled, and add `?flags=woocommerce/store-deprecated` to the URL, and the info icon should appear next to the "Store" menu item.

[2021-01-20 04:19] p-jackson opened #49062 "Signup with Apple displays unhelpful error message if using appleid already associated with an account"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to `/start/user`. You're looking now at the Signup form.
2. Click on **Continue with Apple**
3. Log in with an appleid that is already tied to a WordPress.com account

#### What I expected to happen

Either:
- get logged in as the existing WordPress.com account and carry on the site creation process, or
- shown a message

[2021-01-20 05:00] katiebethbrown opened #49063 "Changes to Reusable Block Content Don't Display In Preview Until They Are Explicitly Saved"
#### Steps to reproduce the behavior

1. Open a post or page in the editor
2. Add a reusable block (or create one from a block on the page)
3. Clicking into the reusable block and pressing enter starts editing the reusable block content directly, when it isn't necessarily clear that that's what is happening.
4. Preview the changes in a new tab.

#### What I expected to happen

The content I just a

[2021-01-20 05:06] DavidRothstein commented on #47845
Thanks for reporting this.  We had a similar issue tracked internally at c/eQdOAERR-tr already (and I just moved it to a more visible internal place also: pNPgK-5jB-p2).

Since it's really an internal issue with how upgrades work rather than anything involving Calypso, I'll close this so it can be tracked there instead.

[2021-01-20 05:06] #47845 closed, assigned to nobody

[2021-01-20 05:52] ilyasfoo opened #49064 "Permission error in "Create your store" link in eCommerce plan purchase"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Purchase a new site with eCommerce plan
2. Wait for the thank you page to load
3. Click on 'Create your store' button
4. Observe the error page

#### What I expected to happen
It loads WooCommerce setup screen.

#### What actually happened
Error with the following text: `Sorry, you are not allowed to access this page.`

####

[2021-01-20 06:24] andrewserong commented on #48888
@ianstewart it turns out that the white box where the input field is meant to be is actually a block error notice! The block is currently failing when rendered within a preview (a Disabled context) when there is no color set for both the background and text for the button. It looks like this is set for the other layouts (either a custom color or a named color). To fix in the short term we can upda

[2021-01-20 09:03] annbingle commented on #45127
HI there!

I have kind of the same issue for the user's site but since they are using the old them Edin, it doesn't have the box for  "Hide Homepage Title" on their Customizer. So far, what happens is when their page is set as the Homepage, the page title on the Editor in Calypso is not showing up. No issue when the page is opened in WP Admin.

[3660471-zd](https://woothemes.zendesk.com/agent/tick

[2021-01-20 09:21] sirreal commented on #49007
There's very good feedback here that we need to surface to the Gutenberg project. The struggles that users have and demonstrations like [these](https://github.com/Automattic/wp-calypso/issues/49007#issuecomment-762462521) can help to inform the design and development.

@inaikem is that something you'd like to work on as a product ambassador? I'm happy to assist.

[2021-01-20 09:38] getdave commented on #47043
We have made this a "must have" for final launch. I'm working on it now.

[2021-01-20 10:21] getdave commented on #48349
Yes this is still valid.

[2021-01-20 10:49] tjcafferkey commented on #47302
I am able to replicate this issue by

* Creating a page on a Simple Site and inserting an image > Save page
* Upgrade Simple Site to Atomic
* Edit the page, click the image that was inserted when your site was a Simple Site.

I suspect it has something to do with the transfer of data from Simple to Atomic sites, I found an article which explains more about this in the link at the bottom of this co

[2021-01-20 11:53] kdevnel commented on #49007
I just had this come up again in 27132890-hc

The issue here was that we had to remove the content from the reusable block so they could edit it and restore the actual content. Trouble is, every time they tried to edit it the block broke again. Getting them to edit directly in the reusable block editor seems to have worked.

[2021-01-20 12:48] the-curioustech commented on #48844
This appears to be specific to nautilus.  I was able to build a desktop launcher and use it, also it launches from the command line.  It appears that nautilus doesn't understand what to do with the binary when attempting execution.

[2021-01-20 13:05] jacoswan opened #49073 "eCOM WP Admin: Powered by WooCommerce footer overlaps WC Brands update button"
"Powerd by WooCommerce" footer logo/blurb overlays the "Update" button of WooCommerce Brands, but only on WPCOM eCOM plan sites. As reported in 3665534-zen.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. On an **eCom plan** enable **[WooCommerce Brands](https://woocommerce.com/products/brands/) (Yoast exagerates the issue further, but exists without it).
2. Go to WP Adm

[2021-01-20 13:36] Copons commented on #49007
A couple of updates from Core:

- There is a [relatively recent PR](https://github.com/WordPress/gutenberg/pull/27012) open to fix the infinite loop.

- The confusing UI is recognized, and there are [talks](https://github.com/WordPress/gutenberg/issues/28285) to make it consistent with the FSE's template part blocks (basically add an outline on hover/focus/selection).
A stop-gap [PR](https://githu

[2021-01-20 13:51] yansern commented on #48337
I think it depends on how do we wanna fix it, move the Publish/Launch/Preview etc. button into the triple dot more menu?

If that is the case, CSS trickery or DOM wrangling (reinsert DOM) might be not be achievable (and not sure if it will always stay there if the react component in Gutenberg decides to rerender).

The two places I would look at is the `<Header>` component in Gutenberg and also Sl

[2021-01-20 14:23] Nic-Sevic commented on #49007
Again here and resolved
3666143-zen

[2021-01-20 14:33] susanjanec opened #49077 "Blog Post Block - Grouped text calls ungrouped text in live site as post excerpt instead of first paragraph"
#### Steps to reproduce the behavior

Create a post with a group block with text, followed by a paragraph block that is not grouped.

Add the blog post block to another page referencing the post with the group block.

#### What I expected to happen

The excerpt text displaying in the Blog Post block on the live page shows the text that is not grouped further down the page instead of the first para

[2021-01-20 14:40] Copons commented on #49061
As @lsl guessed, that language picker only shows up in dev and Horizon, so it doesn't directly affect users.
The site language label already uses correctly the word break, but whereas most languages use spaces between words, Japanese doesn't, and so we end up with 1 character per line instead of 1 word per line.

There are many possible solutions for this, including hiding the language picker on s

[2021-01-20 15:43] vindl commented on #48149
@Addison-Stavlo @jasmussen what's the timing and process for these releases?

[2021-01-20 16:06] rosepajaroja opened #49080 "Signup with Google returns "An unexpected error occurred" error"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to 'https://wordpress.com/start/user'
2. Click on 'Continue with Google'

#### What I expected to happen
Proceed to account creation.

#### What actually happened
Does not proceed to the account creation, with `An unexpected error occurred. Please try again later.` error.

Video here: https://d.pr/v/AIYCgC/AOQWytT7ae

###

[2021-01-20 16:18] Addison-Stavlo commented on #48149
The version in the repo has been updated and is undergoing testing before the release (https://github.com/Automattic/block-experiments/pull/156#issuecomment-763723779).  I'm not sure beyond that though.

[2021-01-20 16:20] Nic-Sevic commented on #49007
3656219-zen
cleaned up references and seems resolved

[2021-01-20 18:23] ghost commented on #48573
It happens with Premium content view as well
![image](https://user-images.githubusercontent.com/77377635/105216900-0a8fe300-5b08-11eb-8e23-68cc203c8e8e.png)

[2021-01-20 18:32] ChaosExAnima commented on #49082
@nsakaimbo - I just tested and things seem okay now? I was able to view backups and successfully download it from the desktop app (it opens a web tab, but immediately downloads the file and closes). I didn't try restore but I suspect that's also fine.

Can we retest this? Happy to take point but I'd prefer someone familiar with the desktop app to check things out!

/cc @monsieur-z @rcanepa

[2021-01-20 18:48] startuptester commented on #48974
@felipelousantos thank you for the excellent reports :)
I was able to repro this one.

<img width="416" alt="Screen Shot 2021-01-20 at 11 44 12 AM" src="https://user-images.githubusercontent.com/66104034/105220630-3d8ca380-5b15-11eb-9495-70797ff09c65.png">

<img width="386" alt="Screen Shot 2021-01-20 at 11 45 15 AM" src="https://user-images.githubusercontent.com/66104034/105220659-47aea200-5b15-1

[2021-01-20 18:51] etucker opened #49084 "Older notifications don't show up under the bell"
# Older notifications don't show up under the bell

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to any-p2.wordpress.com
2. Click on the bell icon to view your notifications, then "comments" or "all" tabs
3. I'm noticing that entries only go back about a day.

#### What I expected to happen

As folks use this feature to stay on top of unread content, especially with

[2021-01-20 20:00] designsimply commented on #49086
Thank you for reporting this!

I tested with both v6.6.0 and v6.7.0 and found that I was able to replicate the bug as described when using v6.7.0.

Steps to reproduce:

1. Download and install wordpress.com-win32-setup-6.7.0.exe (from [here](https://github.com/Automattic/wp-calypso/releases/tag/v6.7.0)) on Windows 10.
1. Go to My Site > Site > Posts > Add new post.
1. Observe that the post does no

[2021-01-20 20:04] cpapazoglou opened #49087 "Nav Unification: admin-menu api response time"
After reading this P2 p58i-9yt-p2 it became apparent to me that our `wpcom/v2/sites/[blog-id]/admin-menu/?` is running on each Calypso load ( or site change ) and thus it should be as performant as it gets. Currently,`admin-menu` response time for a simple site of mine is 2600ms for 2.6Kb which is quite much in my opinion.

![](https://cln.sh/Vz73q9+)

We are caching the menu in calypso, so except

[2021-01-20 20:14] mattsherman opened #49088 "Store|Woo: Site with existing Business plan subscription, but without WooCommerce, shows both Store and WooCommerce menu items"
An Atomic site with an existing Business plan subscription, but without the WooCommerce plugin, shows both "Store" and "WooCommerce" menu items. This is incorrect.

Both menu items should be shown for existing Atomic sites that have a Business plan subscription that started before Store deprecation **and already had** the WooCommerce plugin installed prior to Store deprecation.

Only the "WooComme

[2021-01-20 21:20] kelasante commented on #49007
3667493-zen removed references. Seems resolved.

[2021-01-20 21:54] #48939 closed, assigned to mattsherman

[2021-01-20 21:55] mattsherman commented on #48939
Close this issue, as all tasks were completed.

[2021-01-20 22:02] mattsherman commented on #49060
Agreed. We, should probably just get rid of the `max-width` on `.woocommerce .dashboard__store-move-notice p` when on the mobile breakpoint.

![Screen Shot 2021-01-20 at 17 00 15](https://user-images.githubusercontent.com/2098816/105246263-fcaa8400-5b40-11eb-8b58-41e46eafa2e6.png)

/cc @elizaan36 Do you have any concerns with us making this change?

[2021-01-20 22:09] ramonjd commented on #49061
Thanks @Copons

What about a combination of your suggestions: showing only the language badge on smaller screens? 😄

[2021-01-20 22:19] worldomonation opened #49091 "Image Block: image dimensions do not respect original image size as inserted into block"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Start at My Sites.
2. Add new post.
3. Insert a column block.
4. Insert an Image block.
5. Upload an image that is at least 800x800.
6. Click on the Image block.
7. Under `Image Dimensions`, click on 100% scale.
8. Reset the image scale.
9. Manually enter the identical pixel size.

#### What I expected to happen
7. The origi

[2021-01-20 22:33] xpurichan commented on #49007
3643465-zen seems like it may be related but I haven't gotten to the bottom of it yet. From my understanding there is at least one reusable block that is blank (but it should have content) and some reusable blocks duplicate content (unclear if they duplicate their own content or other content) and cause issues when trying to save and leave the page.

I'm working to get more clarity on this one so

[2021-01-20 22:59] scosgro commented on #49007
Just had 2 more of these show up in Slack from chat support.

If anyone makes their way here, and are looking for a solution to the crashing, you can view/delete the reusable blocks from WP-Admin, here:

/wp-admin/edit.php?post_type=wp_block

Then edit in the Classic Editor, using:

/wp-admin/post.php?post=24479&action=edit&classic-editor

Where the ID# in the URL is the ID# for the block.

Or pos

[2021-01-20 23:21] #48982 closed, assigned to becdetat

[2021-01-20 23:31] dcoleonline commented on #30051
another request in #27130783-hc

[2021-01-21 00:06] #48891 closed, assigned to nobody

[2021-01-21 00:22] ramonjd opened #49095 "Enable Premium Patterns inserter highlight"
Let's enable the premium patterns inserter highlight. The test was inconclusive but we only have one pattern.

We can revisit A/B tests on variations to the inserter design later.

Tasks:

- [x] Set the plugin filter to return true
- [x] Turn off the experiment
- [ ] Should we also turn on the inserter highlight for Atomic (if it isn't on already)?

Context: pbxNRc-Ag-p2#comment-1393

[2021-01-21 00:44] fullofcaffeine opened #49096 "Tracking: Enable Gutenberg image editing on simple sites"
Project: pc9Uba-fo-p2

- [x] Figure out a way to pass the value for `crossOrigin` for the img el  @fullofcaffeine
- [x] Conditionally change the passed value of `crossorigin` depending on whether the site is public or private (D55474-code) @fullofcaffeine
- [x] Send the proper CORS headers (D46175-code) @fullofcaffeine
- [x] Set the `crossOrigin` attribute on the image element created by the image

[2021-01-21 00:46] lsl opened #49097 "Design screenshots followup"
Following on from #43428 there are a few things outstanding before we can launch the mshots implementation.

* [x] The vertically oriented screenshots aren't _quite_ how we'd like them, some of the viewport height based elements appear stretched vertically a little bit more than desired. This may or may not be a deal-breaker. This could be achieved by setting custom viewport sizes per design in av

[2021-01-21 04:30] lsl commented on #48337
Probably fair to add a filter to re-organize menu options.

Thinking purely from a mobile ux perspective, do these suggestions make sense?
- Hide the preview button (on mobile), or at least move it under the hamburger.
- Double duty launch/publish/update (on mobile).
- Move the icons to the left of the CTA (on mobile). CTA should be fixed-right on mobile (a single settings icon I could justify, th

[2021-01-21 05:38] druesome commented on #48984
@andrewserong Just wanted to add that the bug also affects the app (beta version 6.8.0).  Would the fix also address it in the app?

[2021-01-21 05:45] andrewserong commented on #48984
Thanks for mentioning that @druesome! Yes, it should fix it in the desktop app, too once it's deployed since the affected code is running in a plugin (deploy PR is in review: https://github.com/Automattic/wp-calypso/pull/49098).

[2021-01-21 07:32] joweber123 opened #49103 "Premium Content Buttons Block: Subscribe Button Does Not Appear"
#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Add a Premium Content Buttons block to a page.
2. View the page as a logged-out user.

#### What I expected to happen
I expected to see both buttons appear on the page.  One to subscribe to the site and the other to login.

#### What actually happened
On a page where I am logged out of WordPress.com, I am only seeing a login

[2021-01-21 08:27] cpapazoglou commented on #48211
@sfougnier let me say that I am totally in for

which in fact, don't even exist in the interface prior to nav-unification

![](https://cln.sh/spPesU+)

cc: @Automattic/ajax

[2021-01-21 09:16] #48585 closed, assigned to nobody

[2021-01-21 09:44] yoavf commented on #48073
This should be fixed now. Thanks @msilbers for the detailed report and reproduction instructions!

[2021-01-21 09:44] #48073 closed, assigned to nobody

[2021-01-21 10:36] retnonindya opened #49109 "Feature request: Jetpack Backup (.tar.gz) upload feature to restore backup without manual restore on Calypso"
My apologies if this is not the correct place to ask. Feel free to transfer/move the issue to appropriate repo 🙏

**What**
Is it possible if we can have some kind of feature where users can upload their .tar.gz file (Jetpack Backup) to their website without having to do manual restore?
https://jetpack.com/support/manually-restore-a-backup/

**Why**

In our Support doc:
https://wordpress.com/suppor

[2021-01-21 11:03] aneeshd16 opened #49110 ""Tools" menu items remain expanded after navigating to a different page"
#### Steps to reproduce the behavior

1. Go to My Home
2. Hover on Tools
3. Click on Marketing
4. Click on My Home

I could not reproduce this with any other menu item, but an investigation into the cause might give hints on whether other menu items are affected.

#### What I expected to happen
The Tools menu should not be shown since I am not hovering on it.

#### What actually happened
The expan

[2021-01-21 11:05] Copons commented on #49061
Ahah yes, I fumbled the sentence above, I meant all the above to be for small screens only. 😄

Either way, I'll open a quick one ASAP!

[2021-01-21 11:08] mirka opened #49111 "Invitation emails can be sent in the site language instead of the user's Calypso UI language"
Invitation emails will be sent in the site language instead of the invited user's Calypso UI language _if the user's language is English_.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Set a site's language to French. `https://wordpress.com/settings/general/<site-url>`
1. Set a test user's Calypso UI language to English. `https://wordpress.com/me/account`
1. Get the te

[2021-01-21 11:21] mrfoxtalbot opened #49112 "Atomic sites without plans: set primary domain to wpcomstaging.com automatically"
Steps to reproduce the behavior:
1. Register a new site and give it a Bussiness plan
2. Make the site atomic by installing a plugin or a third party theme
3. Let the plan expire
4. Check the primary domain

#### What I expected to happen

I would expect the primary domain to be replaced with the free/default example.wpcomstaging.com.

Sites on a free plan will have their primary domain switched to

[2021-01-21 12:15] simison commented on #42679
We're likely re-implementing this view soon so since it's pretty big task, it might make sense to wait a bit.

@ramonjd et co curious for your thoughts!

[2021-01-21 12:31] klimeryk commented on #49112
@aidvu, is this something Team Atomic could help with? 🙏

[2021-01-21 12:40] felipevelzani commented on #45881
I wasn't able to reproduce, and it seems that the issue got fixed by itself, but it seems that the user was finding it while adding categories here as well: 3669402-zen

[2021-01-21 12:47] #48767 closed, assigned to alshakero

[2021-01-21 13:09] aidvu commented on #49112
Think so. @delputnam do you have time to look at this one?

[2021-01-21 13:11] delputnam commented on #49112
@aidvu, sure. I'll have a look later today.

[2021-01-21 13:36] simison opened #49116 "Can't scroll navigation on smaller screen"
Can't scroll my sidebar anymore, and access links lower on the screen:

<img width="1440" alt="Screenshot 2021-01-21 at 15 32 19" src="https://user-images.githubusercontent.com/87168/105358092-6046b700-5bfe-11eb-8d76-5053777fd419.png">

If I zoom out, I can see them again:

<img width="1440" alt="Screenshot 2021-01-21 at 15 35 24" src="https://user-images.githubusercontent.com/87168/105358070-5ae9

[2021-01-21 13:42] eduardozulian opened #49117 "Media Library: audio upload on free sites still references the Premium plan"
Audio uploads are available on [all paid plans](https://wordpress.com/support/plan-features/#word-press-com-personal) but we are still mentioning the Premium plan in Site > Media > Audio

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Pick a free site
2. Click on Site > Media
3. Click on the Audio tab
4. See the message

#### What I expected to happen

#### What actually

[2021-01-21 13:50] AtrumGeost opened #49118 "Nav Unification"
I was testing and published this by mistake when hitting "Enter". I'm closing this 😅

[2021-01-21 13:51] #49118 closed

[2021-01-21 14:02] niranjan-uma-shankar commented on #44593
Verified the code works well. LGTM 🚢

[2021-01-21 14:13] ghost commented on #48211
Ok! Let’s remove them. They seem unnecessary and kind of confusing - even
if we capped, what if my site isn’t in the list?

On Thu, Jan 21, 2021 at 3:28 AM Harris Papazolgou <notifications@github.com>
wrote:

[2021-01-21 14:37] tyxla opened #49120 "Nav Unification: Plugins no longer point to Calypso for Jetpack sites"
#### Steps to reproduce the behavior

1. Go to `/stats/day/:site` where `:site` is a Jetpack (non-Atomic) site.
2. Click on "Plugins"
3. You're taken to the plugins page in the WP admin.

#### What I expected to happen

I expected to land on `/plugins/:site` in Calypso instead.

#### What actually happened

I was directed to the plugins page on WP admin.

#### Context
### Browser / OS version

Chr

[2021-01-21 14:43] michaeldcain commented on #44593
Deployed the change to expose scheduled, purchased support sessions on the Customer Home.

@mrfoxtalbot, as far as making it possible to schedule appointments from Customer Home, or schedule/manage appointments from the Purchases page (both of which I think we should add), I'll leave it up to @Automattic/martech to properly prioritize/address those changes. @niranjan-uma-shankar or @jaswrks, do yo

[2021-01-21 14:44] kristastevens opened #49121 "Custom Post Types Missing in Nav Unification (Longreads.com)"
Steps to reproduce the behavior:
1. Go to https://wordpress.com/posts/longreads.com

#### What I expected to happen
I expect to see Custom Post Types in my navigation menu including "Picks," "Authors," and "Publishers."

![Screen Shot 2021-01-21 at 8 26 57 AM](https://user-images.githubusercontent.com/4358882/105366178-a41cca80-5bc4-11eb-98e5-1aa8f715550f.jpg)

#### What actually happened

I don't

[2021-01-21 15:02] kathrynwp commented on #49116
I experienced the same issue in Firefox 84.0.2 on https://wpcourses.com/

I had to manually hack the URL in the address bar reach the full dashboard at https://wpcourses.com/wp-admin

[2021-01-21 15:15] kathrynwp opened #49122 ""My Sites" inactive on Atomic site"
"My Sites" at the top left is unresponsive.

#### Steps to reproduce the behavior

1. Go to https://wpcourses.com while logged in as an admin on the site
2. Click on "My Sites" at the top left

#### What I expected to happen

Clicking "My Sites" should open the dashboard.

#### What actually happened

The link is unresponsive, and the URL in the address bar changes to https://wpcourses.com/#

###

[2021-01-21 15:22] tyxla opened #49123 "Nav Unification: Unable to disable feature flag through query args"
I'm working on the reduxifying plugins currently. However, as I reported in https://github.com/Automattic/wp-calypso/issues/49120, I'm unable to access the plugins section in Calypso for a Jetpack site anymore. Not without manually typing the URL, of course.

I've tried to disable nav unification with `?flags=-nav-unification` but it doesn't do the job. So I'm stuck and unable to provide a clear p

[2021-01-21 15:31] ciampo opened #49124 "Gutenboarding: update Refund Policy to reflect the upcoming 14-days refund policy"
## What

The refund policy at the top of the Plans selection in gutenboarding needs to be updated

![image](https://user-images.githubusercontent.com/1083581/105372021-7c018b80-5c05-11eb-9d9d-cb9bd938cb9c.png)

## Why

This is part of the 14-days refund project (pcbrnV-ZH-p2)

## A/C

The message should change to "Pick a plan that’s right for you. There’s no risk, you can cancel for a full refund

[2021-01-21 15:40] pauljacobson opened #49125 "Gutenberg: Browser tab crashes when mousing over the block icon, and the Premium Content block option"
A customer reported a frustrating issue that causes their browser tab to crash when mousing over the Image Block icon, and then over the entry for the Premium Content Block. It looks like the block preview contributes to the browser tab locking up, and becoming unresponsive.

#### Steps to reproduce the behavior

Steps to reproduce the behavior:
1. Go to the page in the editor
2. Click on the Imag

[2021-01-21 15:47] sirino commented on #49116
I came across a similar issue in the Reader in Google Chrome 87.0.4280:
After interacting with the tags section all the way down, I cannot scroll all the way up in the sidebar any longer. To get back to my following stream, I have to naviaget to https://wordpress.com/read in the address bar.

[2021-01-21 15:52] deancroyal commented on #49110
I was able to reproduce this, but using different menu items.

**Steps to reproduce:**

1. Go to My Home.
2. Mouse over Appearance in the menu and click on Themes within the submenu.
3. Click on Media.

**What I expected:** To be taken to Media, and only Media be highlighted in the menu.

**What happened:** I was taken to Media and Media was highlighted in the menu, however, the Appearance menu it

[2021-01-21 16:07] sixhours opened #49127 "Atomic: Manage Plugins menu item looks off for Atomic sites"
#### Steps to reproduce the behavior

1. Visit the Calypso dashboard on a WordPress.com Atomic site.
2. The location of the Manage Plugins link is above My Home rather than under Appearance
3. The icon is black rather than light gray

#### What I expected to happen

The Manage Plugins link would appear under Appearance, and the icon would match the other icons.

#### What actually happened

<img w

[2021-01-21 16:13] daledupreez opened #49128 "Nav unification should show many fewer options for domain-only sites"
#### Steps to reproduce the behavior

To see many menu options that shouldn't be available, you need to have a domain-only site. If you don't have one, you can set one up by going to https://wordpress.com/domains and following the flow to purchase only a domain (which results in you also getting a domain-only site created).

Once you have a domain-only site:
1. Click on pretty much any link in the

[2021-01-21 16:43] obenland commented on #49121
Hi @kristastevens, thanks for the report! I'll look at it right away.

To unblock you in the meantime, it looks like the menu items are available from wp-admin

[2021-01-21 16:43] melchoyce opened #49130 "Nav Unification: Sidebar cuts off"
I was clicking around, and somehow managed to get into this state where the sidebar stops being fixed, and you can scroll passed the bottom edge of it:

![image](https://user-images.githubusercontent.com/2846578/105382087-b820f600-5bdd-11eb-89db-b1e451c083b3.png)

As far as I can tell, it happens after expanding a sidebar menu — so, toggle "Automattic" open, then closed, and scroll down.

[2021-01-21 17:12] ciampo commented on #49124
Closing as already part of #48872

[2021-01-21 17:12] #49124 closed, assigned to StefanNieuwenhuis

[2021-01-21 17:13] metabreakr opened #49131 "Pay with PayPal block: Unable to login to PayPal when clicking on Mastercard logo"
### Steps to reproduce the behavior

1. Go to a page which has a Pay with PayPal block, such as https://ralfrussi.com/ralf-russi/
2. Click on the Mastercard logo, rather than the main "Pay with PayPal" button.
3. Scroll down to "Have a PayPal account? Log In" and try to login
4. The PayPal window will reload, however not offer a login form

Note: the currency used here is Brazilian real, however m

[2021-01-21 17:26] kristastevens commented on #49121
Thanks for the speedy attention, @obenland! We'll use wp-admin links for the time being.

[2021-01-21 17:28] sarayourfriend opened #49132 "Nav Unification: "Write" button spacing weirdness"
### Steps to reproduce the behavior

1. Go to a site where you have at least one drafted post
2. Hover over the constituent parts of the "write" button (both the "write" button itself and the draft posts button)

#### What I expected to happen
The spacing of the highlighted areas on hover should look good.

#### What actually happened
There's some spacing weirdness going on (language independent):

[2021-01-21 17:29] sarayourfriend commented on #49132
One potential solution could be to only shade the inside of the circle on hover rather than the full button of the drafts button.

[2021-01-21 17:33] obenland commented on #49121
I got a (temporary) fix in D55785-code.

@kjellr Any chance you're around to give this a quick look?

[2021-01-21 17:35] sarayourfriend opened #49133 "Nav unification: Stats sparkline with little activity nearly invisible/doesn't look right on certain themes"
### Steps to reproduce the behavior

1. Go to `https://wordpress.com/stats/day/:site`
2. Observe the sparkline that appears on the "stats" line for a site that has some but not much activity (this doesn't happen for every site, not sure what determines whether it appears, feel free to SU to me and observe on `https://wordpress.com/stats/day/sarayourfriend.wordpress.com`)
3. Switch to the "aquatic"

[2021-01-21 17:40] sarayourfriend opened #49134 "Contrast theme: Non-hovered menu items in account settings area have nearly invisible text"
### Steps to reproduce the behavior

1. Switch to the "contrast" theme
2. Go to `https://wordpress.com/me/account`
3. Don't click anything, and note the color of the text of the "Account Settings" nav item on the left-side navbar

#### What I expected to happen
The text should be clearly legible

#### What actually happened
It is nearly invisible

### Context

I'm unsure if this is related to nav

[2021-01-21 17:46] sarayourfriend opened #49135 "Language Picker: Underline does not match selected theme"
#### Steps to reproduce

1. Select a theme other than the default (like "ocean" or "contrast")
2. Navigate to `https://wordpress.com/me/account`
3. Open the language selector

#### What I expected
Everything should be using the theme colors.

#### What happened instead
The theme colors are ignored for the underline of the selected region

#### Browser / OS version
Firefox, macOS Big Sur

#### Scre

[2021-01-21 17:51] ryelle commented on #48009
I noticed this with the beta rollout - I'm using the Aquatic theme, and the unread counts are almost invisible:

![Screen Shot 2021-01-21 at 12 40 56 PM](https://user-images.githubusercontent.com/541093/105390018-96783c80-5be6-11eb-8d6b-1c49dd2d8072.png)

Then in changing my color scheme, this yellow + white is also low contrast/kind of glowing:

![Screen Shot 2021-01-21 at 12 41 17 PM](https://us

[2021-01-21 17:57] ryelle commented on #49134
I think this is a duplicate of https://github.com/Automattic/wp-calypso/issues/48009

[2021-01-21 18:00] sarayourfriend commented on #49134
@ryelle It is, sorry! Closing.

[2021-01-21 18:00] #49134 closed, assigned to nobody

[2021-01-21 18:26] SiobhyB opened #49139 "Activity Log: Where Should Post Titles Link?"
There is a difference in how post titles behave in the activity log across the web and the Android mobile app. I'd like to get clarification on what the intended behaviour is.

At the moment, if you navigate to the activity log in the Android app and click on any event with a post title, you can click on that post title to get to its editor. (There is an open issue in https://github.com/wordpress-

[2021-01-21 18:29] SiobhyB commented on #49139
Noting (mostly for my own reference) that the reason I'm seeking clarification is so that I can move forward with an Android issue related to post titles in the activity log in https://github.com/wordpress-mobile/WordPress-Android/issues/10936.

[2021-01-21 18:32] abcxyz-m commented on #49120
Just adding that this seems to include all pages; everything is just a link to its WP Admin counterpart. I can create a separate issue if necessary.

I'd also mention this is **high** priority for Jetpack as it defeats one of Jetpack's most helpful features: the ability to easily manage plugins across multiple sites.

[2021-01-21 18:34] obenland commented on #49121
This should be fixed now!

@kristastevens Please feel free to re-open if it's not.

[2021-01-21 18:34] #49121 closed, assigned to nobody

[2021-01-21 18:38] ianstewart commented on #42679
I think the designs I've seen for this don't have the "big preview" so that might just take care of the issue?

[2021-01-21 18:42] kristastevens commented on #49121
All good, ty for such a speedy fix, @obenland!

[2021-01-21 18:47] obenland commented on #49122
@cpapazoglou This doesn't seem to work in both wp-admin and the front-end of the site. It looks like `admin-menu.js` needs some work.

I also noticed this:
![image](https://user-images.githubusercontent.com/1398304/105397537-0cc07300-5bd6-11eb-979b-333e7b72534c.png)

[2021-01-21 18:51] simison opened #49141 "Design Picker: Blank Canvas prototype"
**What**
Let's add a simple internal prototype flow for "Blank" option in `/new`. Doesn't need to be very pretty for starters.

**Why**
Give the user the possibility to start with an empty template.

**A/C**
- [x] Blank Canvas theme available on wpcom (pNEWy-dxQ-p2)
- [x] Create starter page without contents for it
- [ ] Add dummy empty image file for it (see example from Themes showcase: https://

[2021-01-21 18:52] obenland commented on #49127
Oh, that looks like a Calypsoify bug, nice job finding that one!

I was able to replicate it. Looking for a fix

[2021-01-21 18:53] simison commented on #42679
@ianstewart well all the thumbnails will be new previews. :-)

So in future, the theme that's applied to site, as well theme settings such as colors, will be reflected in thumbnail images.

[2021-01-21 18:56] razvanpapadopol opened #49142 "PlansGrid: some features are not correct"
There is a current discrepancy between the plans data that we're showing in the PlansGrid and what is present on `/start` flow or on `/pricing`

**Expected:**
Personal plan includes _Unlimited Email Support_ but doesn’t include _Basic Live Chat Support_

**Current:**
In PlansGrid we’re saying both are included. This needs to be fixed in both feature list and details table.

**How to fix** (illustr

[2021-01-21 18:57] obenland commented on #49127
I think this should be fixed with https://github.com/Automattic/jetpack/pull/18328. Could you try [activating Jetpack beta](https://jetpack.com/download-jetpack-beta/) on your atomic site and setting it to "Bleeding Edge" to double-check?

[2021-01-21 19:05] razvanpapadopol opened #49143 "PlansGrid: API gets called twice"
Probably after merging https://github.com/Automattic/wp-calypso/pull/48790, when loading PlansGrid in both Gutenboarding and launch flows (when sandboxed), the REST API calls for `/plans` and `/details` are each done 2 times.

<img width="731" alt="Screenshot 2021-01-21 at 20 52 03" src="https://user-images.githubusercontent.com/14192054/105399264-0d83f400-5c2c-11eb-8877-bdb0277b1307.png">

[2021-01-21 19:08] scosgro opened #49144 "Nav Unification: Atomic - WordAds Unification/WordAds ad placement links need updating."
This is for Atomic sites only.

### Steps to reproduce the behavior

1. Go to Tools - Earn - View Ad Dashboard - Settings - Manage Ad Placements:
![image](https://user-images.githubusercontent.com/30731356/105397777-5610c280-5bd6-11eb-91b8-df5e5e5c1cc8.png)

2. It will take you to Tools - Marketing - Traffic, which gives only two options for adjusting ad placements:
![image](https://user-images.gi

[2021-01-21 19:17] enejb opened #49145 "Jetpack Icon colour (as well as any SVG menu icon) looks off in the new nav"
To me the Jetpack icon colour looks a bit off.

This is what I see.
<img width="356" alt="Screen Shot 2021-01-21 at 11 13 49 AM" src="https://user-images.githubusercontent.com/115071/105400417-bead6e80-5bd9-11eb-816a-3037d7c5293f.png">

I am not sure if it is because of the colour scheme that I am using.

The site in question that this happends on is a simple wordpress.com site.

#### What I expec

[2021-01-21 19:19] glendaviesnz opened #49146 "Nav unification: Feedback menu reverts to old menu styles"
### Steps to reproduce the behavior

1. Go to site
2. Click on Feedback link in left nav

#### What I expected to happen
Navigation would remain consistent with new unified nav

#### What actually happened
Nav reverted to old calypso styles

![feedback](https://user-images.githubusercontent.com/3629020/105401021-87e36100-5c8a-11eb-8eb7-5ce33508232e.gif)

[2021-01-21 19:25] enejb opened #49147 "Domain Settings page is visible to Jetpack sites."
### Steps to reproduce the behavior

1. Go to a simple .com  site and click domains.
2. Select a jetpack site via the select sites section.
3. Notice that you can see the domain section even though I don't think it makes sense for a Jetpack site.
However it probably does make sense for an atomic site.

#### What I expected to happen
To be shown a list of sites that can see the domain section inste

[2021-01-21 19:35] gibrown commented on #21299
Another related bug to this came up here.

If I start reading an article in the Reader, and then click on a link in it, which takes me to a different website, then I click on the browser’s back button, I get back to the post I was reading in the Reader, which makes sense. But then if I click on the “back” link in the Reader, it takes me to my stats. I made a short screen recording of this.

Feels

[2021-01-21 19:38] obenland commented on #49120
@getdave Can you remind me where we left off on the discussion about Jetpack sites getting a separate menu structure fallback?

Maybe we could use this issue to get that added?

[2021-01-21 19:42] ianstewart commented on #49141
cc @ollierozdarz

[2021-01-21 19:43] sixhours commented on #49127
<img width="291" alt="Screen Shot 2021-01-21 at 2 40 29 PM" src="https://user-images.githubusercontent.com/2124984/105403332-9e3fdd00-5bf6-11eb-9e6c-e4a308a7c69d.png">

All better with Jetpack Beta and the alpha release. :D

[2021-01-21 19:43] obenland commented on #49147
Trying to reproduce this, I get:

![image](https://user-images.githubusercontent.com/1398304/105403456-a0e20880-5bdd-11eb-9bb3-1182daf006b2.png)

Although that is still not the site picker you expected.

Is that Upgrades > Domains or did you get there in a different way?

[2021-01-21 19:46] obenland commented on #49146
Thanks for that feedback @glendaviesnz! It looks like you're running into Calypsoify there, that should be fixed with the next Jetpack release.

Appending `?calypsoify=0` to the URL or activating Jetpack Beta on your Atomic site and setting it to "Bleeding Edge" should fix that.

[2021-01-21 19:47] klimeryk opened #49148 "Nav-Unification's notices' new style is hard to read"
### Steps to reproduce the behavior

1. Go to wordpress.com
2. Either force some SiteWarnings or have a site with broken domains like me ;) See https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/client/my-sites/domains/components/domain-warnings/index.jsx

#### What I expected to happen

A notice with a color clearly indicating the severity of it:

<img width="2

[2021-01-21 19:48] obenland commented on #49145
@frontdevde I think in some color schemes we don't have hover styles for the icons, is that correct? I wonder if we could remove the opacity for custom menu icons in those color schemes to make them look more alike?

[2021-01-21 19:54] obenland commented on #49144
Yeah this will be one of the tougher cases.

It'll likely be alleviated a little by 577-gh-Automattic/wpcomsh, since it should sync more of the Jetpack submenu items over. So far we're not ultimately determined what that Jetpack submenu should look like.

@jeherve Do you have thoughts/opinions here? Or can think of someone who does?
Also pinging @lcollette and @sfougnier for their input

[2021-01-21 20:06] jeffgolenski opened #49149 "Nav unification: "Add a tag" input seems to retain old styling in sidebar"
If you head to the "reader" on WordPress.com and scroll to the bottom under "tags," you'll notice the "Add a tag" input seems to retain older styling. Do we have a "dark mode" style for inputs in the sidebar?

<img width="277" alt="Screen Shot 2021-01-21 at 1 23 12 PM" src="https://user-images.githubusercontent.com/214813/105406273-3095b000-5bfa-11eb-9e5b-0988ac37640b.png">

cc @davemart-in

[2021-01-21 20:12] worldomonation opened #49150 "Link to initiate Support Chat is overlapped by upsell box in checkout"
### Steps to reproduce the behavior

Prereq: Use a free site with no purchases.
1. Go to My Site.
2. Add domain to site.
3. Choose a custom domain.
4. Add to cart and check out.
5. Skip G Suite integration.
6. At secure checkout, inspect the right pane.

#### What I expected to happen
Link to initiate Support Chat should be clearly visible.

#### What actually happened
`Upgrade and Save` upsell bo

[2021-01-21 20:19] ktyfuller604 commented on #45356
I just received a report of this issue here #3658068-zen

[2021-01-21 20:24] cathymcbride commented on #49125
@apeatling FYI - I added this to your backlog b/c of the premium content. let me know if it needs to go elsewhere.

[2021-01-21 20:37] apeatling commented on #49125
Should be fixed with https://github.com/Automattic/wp-calypso/pull/48988 and will go live when https://github.com/Automattic/wp-calypso/pull/49098 merges.

[2021-01-21 20:39] cathymcbride commented on #49125
Removing from view backlog based on 👆

[2021-01-21 20:49] isocialtish opened #49151 "Earn tab: Unable to add new payment plan for Stripe"
### Steps to reproduce the behavior

1. Go to Earn
2. Click on Collect Payments> Payment Plan> Click Add a new payment plan button
3. Add pricing and renewal frequency, then select "save"
4. See error "Cannot read property 'id' of undefined"

#### Browser / OS version
Browser Chrome: Version 87.0.4280.141
OS: Mac 10.13.6

#### Does this happen on simple or atomic sites or both?
Simple

#### Level

[2021-01-21 20:55] ianstewart commented on #45127
cc @scruffian

[2021-01-21 20:55] joanrho opened #49152 "New Page Layout Modal: Fix selected border state of layouts spanning multiple categories"
### Steps to reproduce the behavior

1. Create a new page on any level plan account on WordPress.com (three ways to do this: from Customer Home > Quick links > "Add a page" link, from /pages > "Add new page" button, and from the Editor > W icon in top left to open the nav sidebar > "Add new page" link at the bottom of sidebar).
2. See new page layout modal. Select the first thumbnail under the "Ab

[2021-01-21 21:04] ghost commented on #49125
I hit this issue too.

[2021-01-21 21:35] worldomonation commented on #47637
Oops, I accidentally unpinned this issue. Re-pinned to undo my mistake.

[2021-01-21 21:37] worldomonation commented on #48543
Found during user scenario testing initiative resulting in addition of the `User Testing` tag.

[2021-01-21 21:38] davemart-in commented on #49149
Thanks @jeffgolenski! cc @obenland for triage.

[2021-01-21 22:04] ramonjd commented on #42679
What's the underlying theme for the above examples?

As far as I understand it, the latest designs for the page picker will show image-based previews (e.g., mshots or otherwise). We're having some success generating the onboarding preview images.

In that case, we'd be taking shots of the original sites and not relying on the demo endpoint, so CSS/JS cross-contamination won't be an issue, at least

[2021-01-21 22:21] obenland commented on #49148
@lcollette @sfougnier This seems like it would be right up your wheelhouse

[2021-01-21 22:21] ianstewart commented on #42679
@ramonjd looks like the underlying theme was Balasana in my comments.

https://github.com/Automattic/themes/issues/2690

[2021-01-21 22:24] ianstewart commented on #48147
@davemart-in I think we should default to the Calypso one as there's a lot of custom code surrounding it all.

[2021-01-21 22:26] obenland commented on #48147
Thanks @ianstewart!

https://github.com/Automattic/wp-calypso/issues/47043 will add a way to access the wp-admin version in the short term.

[2021-01-21 22:26] #48147 closed, assigned to nobody

[2021-01-21 22:30] ramonjd commented on #42679
Ah, er I didn't have my reading glasses on 😇 Thanks!

I just wanted to double check the demo endpoint for that theme: https://public-api.wordpress.com/rest/v1/template/demo/balasana/balasana/?language=ko

[2021-01-21 22:31] worldomonation opened #49153 "New Onboarding: Do not reuse domain selected from incomplete flow"
### Steps to reproduce the behavior

Prereq. Interface language is English.
1. Add new site.
2. Enter some string into the site name.
3. At the `choose a domain` step, select some domain.
4. Click on the WordPress icon on top left to exit Gutenboarding.
5. Re-enter Gutenboarding by repeating Step 1.
6. Clear the text and enter a new string.
7. Click next.

#### What I expected to happen
8. Domain

[2021-01-21 23:14] noahtallen opened #49154 "Top Bar Alignment and Color Issues"
### Steps to reproduce the behavior
There are some CSS alignment differences when viewing the topbar in Calypso vs on the front-end of a site (all logged-in views). Some are very significant, and some are pretty slight. I would say the mobile front-end view has the most jarring difference, and the desktop differences are more slight.

The difference in color is very obvious though.

1. In calypso,

[2021-01-22 00:09] sirbrillig opened #49155 ""Ask a Happiness Engineer" link is hidden by "Upgrade and save" box in checkout"
### Steps to reproduce the behavior

1. Use a site that does not have a paid plan.
2. Add a domain to your cart by visiting https://wordpress.com/domains/add/ (decline the G Suite upsell if you see one).
3. Verify that you are redirected to checkout. Make sure your browser is set to a relatively wide ("desktop") width so that you see the sidebar.
4. Notice that the "Ask a Happiness Engineer" link

[2021-01-22 00:54] glendaviesnz commented on #49146
I still get it with that param on a simple site:

<img width="921" alt="Screen Shot 2021-01-22 at 1 52 53 PM" src="https://user-images.githubusercontent.com/3629020/105430777-2edef180-5cb9-11eb-8c79-67e51f1f64a0.png">

but happy for you to close this if it is a known/fixed issue.

[2021-01-22 01:18] donalirl commented on #49007
Occurred in #3658435-zen

[2021-01-22 01:27] ramonjd commented on #47257
Fixed by https://github.com/Automattic/wp-calypso/pull/46796

[2021-01-22 01:27] #47257 closed

[2021-01-22 01:27] happychait commented on #49007
Another instance in 27179267-hc

[2021-01-22 01:28] ramonjd commented on #47690
We've launched the tour! See pbxNRc-Cb-p2#comment-1501

@autumnfjeld Should we move the nice to haves to a new issue and close this one? Up to you

[2021-01-22 02:31] bluefuton opened #49157 "Nav Unification: add `aria-` role to identify expandable sidebar menus"
### Steps to reproduce the behavior

1. Visit the Reader at http://calypso.localhost:3000/read.
2. Click on Followed Sites, Tags or Lists to expand the contents.

#### What I expected to happen

In the existing nav, we show an arrow indicator that suggests the menu item expands when clicked:

<img width="257" alt="Screen Shot 2021-01-22 at 15 24 19" src="https://user-images.githubusercontent.com/1

[2021-01-22 02:34] bluefuton commented on #49149
One possible solution would be for this to work like 'Create new list', where we just have a link in the sidebar:

<img width="176" alt="Screen Shot 2021-01-22 at 15 33 03" src="https://user-images.githubusercontent.com/17325/105438085-35746580-5cc7-11eb-9e0f-f9a1f251f1b0.png">

This could link to a new 'Add tag' page that lets the user search and also offers some popular tag suggestions.

[2021-01-22 02:42] bluefuton commented on #48211
+1 for removing the flyouts in Reader.

On a account following several hundred sites it's pretty tricky to use, and the flyout sometimes positions itself upwards of the opening sidebar item, rather than downwards, meaning only a handful of items are reachable:

<img width="485" alt="Screen Shot 2021-01-22 at 15 39 34" src="https://user-images.githubusercontent.com/17325/105438705-643f0b80-5cc8-11e

[2021-01-22 02:56] formosattic commented on #48598
23148628-hc ,happened with Hever

Related: https://github.com/Automattic/wp-calypso/issues/46345

[2021-01-22 04:36] andrewserong commented on #48984
@druesome just an update that this has been deployed now, and I double checked in the Desktop app and it's fixed for me now. Let us know if you encounter it again, though!

[2021-01-22 04:39] andrewserong commented on #49125
Thanks for reporting! The fix is now live with the [ETK plugin 2.12 update](https://github.com/Automattic/wp-calypso/pull/49098) which has just been deployed, so closing this issue now.

[2021-01-22 04:39] #49125 closed, assigned to nobody

[2021-01-22 06:30] rantoncuadrado opened #49165 "Nav Unification with Polylang : posts page excludes posts in languages other than the default"
### Steps to reproduce the behavior

You need a running Polylang installation. I imagine this would happen with other plugins making changes to posts too. My default language is SPanish, but I have French and ENglish too.
![image](https://user-images.githubusercontent.com/6404071/105454543-5a92b500-5c82-11eb-8516-8730c51260b0.png)

1. Go to the posts page https://wordpress.com/posts/remotefrog.com

[2021-01-22 07:34] razvanpapadopol opened #49169 "New Onboarding: missing translations when coming from wpcom"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/new as an existing (logged-in) user with other locale than EN set in your account (eg: FR)

or

1. Open an incognito window
2. Go to [wordpress.com](https://wordpress.com) and get the logged-out homepage
3. Go to [wordpress.com/new/fr](https://wordpress.com/new/fr)

#### What I expected to happen
* All the translations to be in pl

[2021-01-22 07:50] ciampo commented on #49169
I visited `wordpress.com/new/it` in incognito window and a lot of translations are broken

https://user-images.githubusercontent.com/1083581/105462390-d7c42700-5c8e-11eb-8dbc-8902e391c498.mp4

[2021-01-22 08:01] ciampo opened #49171 "Gutenboarding: "Choose a domain I own" layout on mobile viewport"
#### What I expected to happen

The "Use a domain I own" button should be aligned to the right, and the "Already own a domain" should not collapse as much when the page is resized

#### Acceptance Criteria
* [ ] The copy and CTA-link are stacked (i.e. placed on separate rows) on mobile
* [ ] The copy and CTA-link are not stacked on desktop

### Steps to reproduce the behavior

1. Navigate to `word

[2021-01-22 08:01] robfelty commented on #21299
There is one more related issue - if I am reading an email digest and I click on a link which takes me to the Reader version of that post, and then I click the back button, I also end up at my stats page. I would expect to end up at my Reader home.

[2021-01-22 08:16] jeherve commented on #49144
That's a tough one indeed.

The existing Marketing / Traffic page in Calypso does have additional ad options. Maybe we should surface that page in Calypso, by adding it to the existing Tools menu?

The settings would then be accessible in two places:
- in the Jetpack menu once 577-gh-Automattic/wpcomsh is resolved
- under Tools > Traffic

[2021-01-22 08:45] razvanpapadopol commented on #49171
By adding these styles to `button.action_buttons__button.components-button` we could partly solve the space occupied by the button. But we still have to position the arrow correctly.

[code]

<img width="311" alt="Screenshot 2021-01-22 at 09 58 59" src="https://user-images.githubusercontent.com/14192054/105467789-d6025f80-5c9e-11eb-8ca4-0b210bb241f6.png">

[2021-01-22 09:17] tyxla commented on #49120
I agree with @mzakariya it's a high priority issue for Jetpack. cc @Automattic/jetpack and @Automattic/jetpack-voyager for awareness.

[2021-01-22 09:35] getdave opened #49173 "Retain users existing color scheme when feature first activated"
There have been reports that when the feature was activated users experienced a new color scheme which they didn't initiate.

This experience is jarring.

As suggested in p7DVsv-ago-p2#comment-33773 can we default users to either:

1. The color scheme that is closest to the Calypso default, or...
2. The color scheme that is closest to the one they previously had selected.

For more context see p7D

[2021-01-22 09:42] getdave opened #49174 "Auto SS for Network Admin `wp-admin` link"
You will need to read p7DVsv-ago-p2#comment-33814.

[2021-01-22 09:55] getdave commented on #47043
This is a good escape hatch for Issues such as this p7DVsv-ago-p2#comment-33825

[2021-01-22 09:58] getdave opened #49175 "Sidebar scroll/fixed state seems to have a variety of bugginess and jumpiness depending on screen size"
See p7DVsv-ago-p2#comment-33833.

Essentially  depending on screen size, length of the content in the sidebar, and if you resize the browser in various scroll positions the sidebar scroll seems to be buggy.

We also see a spike in CPU usage which needs to be addressed.

<img width="561" alt="Screen Shot 2021-01-22 at 09 57 56" src="https://user-images.githubusercontent.com/444434/105476260-5376a18

[2021-01-22 10:14] getdave commented on #49120
We left off here p6TEKc-4jR-p2. We said we would implement a static (hard coded, not from API endpoint) set of menu items for non-Atomic (ie: standard) Jetpack sites. The issue was trying to determine _exactly_ what these should be.

I'm going to add myself a task to grok everything that's been discussed so far and propose a concrete plan moving forward.

I will then ask Jetpack folks to 👌 this pl

[2021-01-22 10:25] mmtr commented on #48863
@getdave I tried to reproduce this on a fresh new site that I transferred to Atomic and then reverted, and the menus were updated correctly to the `.wordpress.com` subdomains again.

[2021-01-22 10:32] StefanNieuwenhuis commented on #49171
While we're at it, we have to improve HTML semantics as well. All `.domain-picker__suggestion-item` are `<button/>` while the "Use a domain I own" is a `<label/>`.

What we want to achieve is that every row is completely clickable. To achieve this, we use a `<button/>` for all domain suggestions and a `<label/>` for the "Use a domain I own" option. The purpose and results are the same, so why aren

[2021-01-22 10:34] simison opened #49177 ""Me" sidebar gone for small screens"
This:

<img width="921" alt="Screenshot 2021-01-22 at 12 33 43" src="https://user-images.githubusercontent.com/87168/105480192-1b7a5900-5cae-11eb-9d71-2021ef3a1c84.png">

Turns into this for small screens and I can't navigate anymore:

<img width="686" alt="Screenshot 2021-01-22 at 12 30 42" src="https://user-images.githubusercontent.com/87168/105480135-09001f80-5cae-11eb-84c4-1b16e9a2991f.png">

[2021-01-22 10:36] simison opened #49178 ""Me" navigation sections seem unnessary"
I was about to give feedback about how these section headings would really do with some air around them, but then I was thinking that they aren't really helpful here anyway?

Links under "profile" are quite vaguely related to profile, and "special" has just one link under it anyway?

<img width="286" alt="Screenshot 2021-01-22 at 12 28 56" src="https://user-images.githubusercontent.com/87168/10548

[2021-01-22 10:39] simison opened #49179 ""Log out" button at "Me" page doesn't have accessible colors"
"Log out" button at `/me`:

<img width="204" alt="image" src="https://user-images.githubusercontent.com/87168/105480718-c2f78b80-5cae-11eb-8105-18015af0785f.png">

https://webaim.org/resources/contrastchecker/?fcolor=74787F&bcolor=FFFFFF

<img width="740" alt="image" src="https://user-images.githubusercontent.com/87168/105480733-c9860300-5cae-11eb-8f4d-ba90befd9ac7.png">

[2021-01-22 10:42] simison commented on #49169
cc @Automattic/i18n and @Automattic/team-calypso in case anything has changed in our i18n tooling recently that might've caused this.

[2021-01-22 10:44] #47039 closed

[2021-01-22 10:49] simison opened #49180 "Navigation colors bleeding to "coming soon" badges at Notifications"
At https://wordpress.com/me/notifications I see dark colored badges:

Before

<img width="1120" alt="Screenshot 2021-01-22 at 12 48 15" src="https://user-images.githubusercontent.com/87168/105481822-3f3e9e80-5cb0-11eb-8805-5f9bcf664caa.png">

After

<img width="904" alt="Screenshot 2021-01-22 at 12 48 31" src="https://user-images.githubusercontent.com/87168/105481834-41a0f880-5cb0-11eb-8826-686bf5

[2021-01-22 11:07] mmtr commented on #49122
@kathrynwp just FYI, I added myself as an admin, just in case you receive any notification.

For folks trying to reproduce this, you need to sign in as an admin (check "WordPress.com Courses P2 and Sensei Account" credentials in Secret Store) and then go to https://wordpress.com/people/team/wpcourses.com so you can yourself as an admin of the site.

[2021-01-22 11:10] simison commented on #48886
@Automattic/good-mountain was this something that's fixed in latest Gutenberg?

[2021-01-22 11:12] mmtr commented on #49122
I can reproduce this on other Atomic sites as well, it's not specific to wpcourses.com

[2021-01-22 11:23] simison commented on #47618
@cathymcbride @apeatling Hi! I moved this to View backlog since we're not really working on cover block at Create and it's a new feature rather than maintenance task.

[2021-01-22 11:25] simison commented on #47254
I changed this to "low" priority — it's affecting an advanced feature in one block, so affected number of users is lower, and it's not fatally breaking anything. FYI @cathymcbride

[2021-01-22 11:55] Copons commented on #48886
I'm not able to repro any of the 3 different issues reported here, tested with Chrome and Firefox on MacOS 11.1.
Since the reports, a new Gutenberg version (9.7 up to 9.7.2) has been [merged](https://github.com/Automattic/wp-calypso/issues/48771) to .com.
At a quick glance of the changelogs, nothing seems related to this issue.

In the off-chance I'm missing something in the repro steps, I'd love

[2021-01-22 11:58] #49061 closed, assigned to Copons

[2021-01-22 12:06] cpapazoglou commented on #49123
I opted using the flag ONLY as an already proved mechanism for conditionally changing the behavior in multiple places in the Calypso codebase. Not as a way to enable / disable the feature. The biggest problem is that by using `?flags=-nav-unification` you would disable the feature for Calypso but not for `wp-admin` which may cause confusion.

Of course, we should fix the problem reported here #491

[2021-01-22 12:15] simison commented on #47086
@Copons @tjcafferkey looks like this is ready to go now that blockers are sorted (https://github.com/Automattic/wp-calypso/issues/48253).

[2021-01-22 12:35] roo2 commented on #48316
I found that we could get into the "public, unlaunched" state pretty easily by setting the site to public from wp-admin, this was updating wpcom_public_coming soon but not launch-status, oops! D55837-code should fix it. The issues that @ivan-ottinger found seem a bit different, I'll keep looking into them 🤔

[2021-01-22 12:38] kriskarkoski commented on #48023
@jonnyruzek Could you copy the URL of the broken image and share it here to see if that points to a particular cause?

[2021-01-22 12:52] jeherve opened #49186 "Nav Unification: Upgrades / Stats menu missing for some sites"
### Steps to reproduce the behavior

1. Start with a Jetpack site connected to WordPress.com, running the current version of Jetpack (9.3.1) without any additional filters.
2. Go to https://wordpress.com/stats/
3. Switch to that site.
4. You'll find that only wp-admin menu items are listed, which is problematic since those menu items are needed for plan management and to see stats.

**Running 9.3.

[2021-01-22 12:57] daledupreez commented on #49123
Just as a quick note from someone working on an unrelated project on WordPress.com -- it would be _really_ useful to be able to disable the flag so we can actually test flows the way users will see them. This is going to be particularly important if we're going to have this in place for a few weeks -- we're going to need to know whether we have bugs in our flows without possible behaviour coming f

[2021-01-22 12:57] jeherve opened #49187 "Nav Unification: Publicize / Sharing / Traffic settings missing for Jetpack sites"
### Steps to reproduce the behavior

1. Start from a Jetpack site connected to WordPress.com, running either Jetpack `master` or the current stable.
2. In wp-admin, go to Jetpack > Settings > Sharing
3. Click on "Connect your social media accounts" (the option to manage connected social media accounts is only available in Calypso)
4. You'll land in Calypso, in `https://wordpress.com/marketing/conn

[2021-01-22 13:00] jeherve opened #49188 "Nav Unification: Subscription / People settings missing for Jetpack sites"
### Steps to reproduce the behavior

1. Start from a Jetpack site connected to WordPress.com, running either Jetpack `master` or the current stable.
2. In wp-admin, go to Jetpack > Settings > Discussion
3. Click on "View your Email Followers"
4. You'll land in Calypso, in `https://wordpress.com/people/email-followers/yoursite.com`. That page does not have a corresponding menu item in the sidebar,

[2021-01-22 13:04] jeherve commented on #49144
I created #49187 to track other ways one has to get to that Calypso page at the moment, so I definitely think it needs its place in the new Calypso nav.

[2021-01-22 13:04] jeherve commented on #49188
Related: #49187

[2021-01-22 13:27] cpapazoglou commented on #49123
@daledupreez thanks for stopping by! I see your point.

Since the flag is Calypso only, the most consistent way to experience what Customers see is using a separate non-a8c account in a private browser (so you can have your a8c account in the main browser).

Also, bear in mind that from now all teams should check their flows with both the feature enabled and disabled. The first rollout segment wil

[2021-01-22 13:34] sirreal commented on #48886
I don't see any obviously related recent changes and it isn't highlighted in the release notes for [9.6](https://make.wordpress.org/core/2020/12/23/whats-new-in-gutenberg-23-december/) or [9.7](https://make.wordpress.org/core/2021/01/07/whats-new-in-gutenberg-6-january/), both of which received recent upgrades.

It's entirely possible that it has been fixed without me being aware or finding it. I'

[2021-01-22 13:39] simison commented on #48886
Thanks both! Let's close for now and be on the lookout.

[2021-01-22 13:39] #48886 closed, assigned to nobody

[2021-01-22 14:14] simison opened #49190 "Empty white bar under navigation on some .com themes"
See e.g. https://rockfielddemo.wordpress.com

<img width="1292" alt="image" src="https://user-images.githubusercontent.com/87168/105501258-a702e280-5ccc-11eb-921d-7f4d8f352c38.png">

Affects multiple designs in onboarding design grid (https://wordpress.com/new/design), and theme showcase (https://wordpress.com/themes/), as well likely customer's sites using these themes.

Originating from Varia th

[2021-01-22 14:14] mrfoxtalbot opened #49191 "Nav Unification > Unable to access options-general.php"
Some plugins will not add a new separate item in the “Settings” menu, but instead, they will add a new option inside an existing section. Typically under the "General" tab.

For instance, I installed [this plugin](https://wordpress.org/plugins/limit-revisions/) to limit revisions and I headead to  Settings > General to set the number of revisions, expecting to find this:

<img width="878" alt="Scr

[2021-01-22 14:17] metabreakr commented on #48023
@kriskarkoski

[code]

[2021-01-22 14:41] robfelty opened #49192 "Unread indicators in Reader are difficult to read after Nav unification changes"
### Steps to reproduce the behavior

1. Set color scheme to Aqua at https://wordpress.com/me/account
2. Go to https://wordpress.com/read

#### What I expected to happen
I expected that I would be able to easily read the number of unread posts per site I follow.

#### What actually happened
The number of unread messages is in a dark blue color which is very difficult to read on the blue background

[2021-01-22 14:45] getdave commented on #49087
I fully support this endeavour. My feeling is that unless this is causing noticeable degradation in performance on the WPAdmin side we shouldn't undertake any premature optimisation.

I think it should be addressed, but it should be a lower priority.

[2021-01-22 14:48] tyxla commented on #24180
Several more PRs got into place here in the meantime:
* #48996 disabled other actions while performing one in `PluginMeta`.
* #49035 fixed the `isFetching` to use the selector properly
* #49184 adds a query component and a couple of selectors on top of the work in #48962.

[2021-01-22 15:26] synora commented on #48522
Jetpack, Themes, Triaged, and Bug labels added.

[2021-01-22 15:29] synora commented on #48521
Bug, Blocks, VideoPress, Triaged, Themes labels added. Will hold off on merging with https://github.com/Automattic/wp-calypso/issues/48524 until a dev looks into this.

[2021-01-22 15:35] synora commented on #48511
Bug, Blocks, Editor, Pages labels added.

[2021-01-22 15:40] synora commented on #48498
Mobile Web, API, Notifications, Comments, and Bug labels added.

[2021-01-22 15:46] gaurav1984 commented on #48319
@nsakaimbo, the user in #3500645-zen does not have the Classic Editor plugin installed. They do have Gutenberg plugin installed though.

**Site**: www.stepantsov.info
**Site ID**: 155433800

[2021-01-22 15:52] nerdysandy commented on #25601
We're going to sunset Store by 22nd Feb 2021. I'm closing this in favor of that.

[2021-01-22 15:52] #25601 closed

[2021-01-22 15:56] kriskarkoski commented on #49190
Report of this in 3670955-zen

[2021-01-22 16:01] nerdysandy commented on #21427
Closing this in favor of the fact that we are sunsetting Store by 22nd Feb,2021.

[2021-01-22 16:08] cpapazoglou commented on #49146
It is not calypsoificiation. This should be a problem with the color-scheme not set in calypso. This needs investigation.

[2021-01-22 16:09] cpapazoglou commented on #49146
Possibly related to https://github.com/Automattic/wp-calypso/issues/49173

[2021-01-22 16:09] #21427 closed

[2021-01-22 16:09] synora commented on #37680
@sirreal this is an old bug but is it something your team can look into? Or could it be closed?

[2021-01-22 16:12] nerdysandy commented on #19761
We're sunsetting Store by Feb,2021. Closing it in favour of that.

[2021-01-22 16:12] #19761 closed

[2021-01-22 16:13] nerdysandy commented on #15508
We're sunsetting Store by Feb.2021. Closing it in favor of that.

[2021-01-22 16:13] #15508 closed

[2021-01-22 16:16] cpapazoglou commented on #49157
This problem derives from the `wp-admin` behavior of not having expand / collapse indicators as also not having the ability to expand / collapse (without redirecting). If we want to align with that behavior we would eventually need to **remove** the expand / collapse behavior and clicking the heading would open the first submenu item. But, there are some weird menus like "Lists" which don't have a

[2021-01-22 16:17] nerdysandy commented on #21940
We're sunsetting Store by Feb,2021.

[2021-01-22 16:17] #21940 closed

[2021-01-22 16:17] MaggieCabrera commented on #49190
Fixed via https://github.com/Automattic/themes/pull/3086

[2021-01-22 16:20] nerdysandy commented on #25853
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:20] #25853 closed

[2021-01-22 16:22] cpapazoglou commented on #49165
This one will probably be resolved by https://github.com/Automattic/wp-calypso/issues/47043.

TL;DR; Customers that are used or need to use wp-admin screens may set this behavior as default.

[2021-01-22 16:22] #49165 closed, assigned to nobody

[2021-01-22 16:22] nerdysandy commented on #32948
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:22] #32948 closed

[2021-01-22 16:23] sirreal commented on #37680
I just tested and was unable to reproduce. Can someone confirm whether this is still an issue and close if not?

[2021-01-22 16:24] nerdysandy commented on #33269
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:24] #33269 closed

[2021-01-22 16:25] nerdysandy commented on #33203
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:25] #33203 closed

[2021-01-22 16:26] nerdysandy commented on #33836
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:26] #33836 closed

[2021-01-22 16:27] nerdysandy commented on #34934
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:27] #34934 closed

[2021-01-22 16:28] nerdysandy commented on #37089
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:28] #37089 closed

[2021-01-22 16:28] cpapazoglou commented on #49174
We should not change the behavior of this. Switch to User is available in the same screen and will provide more consistent results.

But if we eventually need to do it, we should have in mind of showing the Customers current variation of nav-unification (enabled or disabled).

[2021-01-22 16:28] sarayourfriend opened #49196 "Nav unification: Mapped nav items do not always have unique keys"
### Steps to reproduce the behavior

1. Open the dev tools and observe the console
2. Go to `/home/:site`
3. Navigate to another site using the sidebar
4. Do this a couple times

#### What I expected to happen
There should be no errors in the console

#### What actually happened
There is a warning about duplicate React children keys. I've seen it warn about `upgrades` and `sharing` as a key, not s

[2021-01-22 16:29] synora commented on #37680
I just tested and cannot reproduce. Closing issue.

[2021-01-22 16:29] #37680 closed

[2021-01-22 16:29] nerdysandy commented on #38262
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:29] #38262 closed

[2021-01-22 16:30] nerdysandy commented on #38270
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:30] #38270 closed

[2021-01-22 16:32] nerdysandy commented on #31082
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:32] #31082 closed

[2021-01-22 16:33] nerdysandy commented on #33835
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:33] #33835 closed

[2021-01-22 16:33] cpapazoglou commented on #49177
Clicking "Me" will open the sidebar ( as it will for "My Sites" and "Reader" ).

We have already tried tackling this not so intuitive behavior here https://github.com/Automattic/wp-calypso/issues/48182.

TL;DR;
If you were already in a smaller screen and clicked "Me" you would be first presented with the sidebar (navigation) which would make you think that clicking "Me" again will open the sidebar

[2021-01-22 16:34] nerdysandy commented on #42604
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:34] #42604 closed

[2021-01-22 16:37] cpapazoglou commented on #49178
We have an open issue for showing these Headings nicer. But your feedback totally makes sense! As it seems here https://github.com/Automattic/wp-calypso/blob/56b3c632265448e2d7460efe5f64d8cff1e98702/client/me/sidebar/index.jsx#L130-L214

there are no other links or scenarios. @sfougnier how would you feel removing them?

[2021-01-22 16:37] nerdysandy commented on #33934
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:37] #33934 closed

[2021-01-22 16:38] nerdysandy commented on #33630
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:38] #33630 closed

[2021-01-22 16:39] mmtr commented on #49191
I think this will be covered by https://github.com/Automattic/wp-calypso/issues/47043. We're planning to add an option so users can decide which version of pages that have an equivalent in both Calypso and WP Admin will be loaded.

[2021-01-22 16:40] cpapazoglou commented on #49186
@getdave this seems like a good issue for tackling the Jetpack menu! Please close it if we already have another one.

[2021-01-22 16:40] nerdysandy commented on #33504
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:40] #33504 closed

[2021-01-22 16:41] nerdysandy commented on #33444
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:41] #33444 closed

[2021-01-22 16:41] rantoncuadrado commented on #49165
@cpapazoglou I don't think this solves it (It gives an alternative: using wp-admin, but the fact that all these posts are not shown in calypso would continue to happen)

[2021-01-22 16:41] nerdysandy commented on #33263
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:41] #33263 closed

[2021-01-22 16:42] nerdysandy commented on #33205
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:42] #33205 closed

[2021-01-22 16:43] nerdysandy commented on #27683
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:43] #27683 closed

[2021-01-22 16:44] nerdysandy commented on #33397
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:44] #33397 closed

[2021-01-22 16:45] cpapazoglou commented on #49187
This is a tricky one! Thanks @jeherve for discovering it! It seems that we do have a Marketing menu item under Tools which opens `https://wordpress.com/marketing/tools/yoursite.com`. Sadly though, this screen has a second navigation element

![](https://cln.sh/5cf1QD+)

Clicking any of these menus (except the first) doesn't correspond to an active element in the sidebar. We are having the same pro

[2021-01-22 16:47] nerdysandy commented on #33275
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:47] #33275 closed

[2021-01-22 16:47] cpapazoglou commented on #49188
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/49187

[2021-01-22 16:47] #49188 closed, assigned to nobody

[2021-01-22 16:48] nerdysandy commented on #33272
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:48] #33272 closed

[2021-01-22 16:50] nerdysandy commented on #26302
Based on the labels added this is related to Store. We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:50] #26302 closed

[2021-01-22 16:51] nerdysandy commented on #25937
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:51] #25937 closed

[2021-01-22 16:53] nerdysandy commented on #21579
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:53] #21579 closed

[2021-01-22 16:55] nerdysandy commented on #23874
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:55] #23874 closed

[2021-01-22 16:55] simison commented on #49177
Right, so the problem was that I "resized" the screen by opening Dev tools.

Same could happen by changing orientation of iPad for example I suppose.

Sounds not much of a problem then! :-)

[2021-01-22 16:55] nerdysandy commented on #21335
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:55] #21335 closed

[2021-01-22 16:56] cpapazoglou commented on #49191
I am still worried that some features are only available in Calypso or WPAdmin. Changing the link destination preference doesn't sound as good way of accessing features across interfaces. We should really think if #47043 is the solution.

[2021-01-22 16:56] nerdysandy commented on #21000
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:56] #21000 closed

[2021-01-22 16:56] synora commented on #45764
I was able to reproduce this if the icons did not contain a URL. Once I added a URL to the icons, the icons appeared.

Video: https://d.pr/v/16d2B2

I'll close this issue since 3331757-zen showed them how to convert the Classic Blocks to Paragraph Blocks instead. Social links are appearing as expected on https://dead-horse-canyon.com/blog/meet-the-authors/

[2021-01-22 16:56] #45764 closed

[2021-01-22 16:57] nerdysandy commented on #19402
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:57] #19402 closed

[2021-01-22 16:58] nerdysandy commented on #18540
We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:58] #18540 closed

[2021-01-22 16:58] nerdysandy commented on #27546
As per the labels this is related to Store. We're sunsetting Store by Feb,2021. Closing it in favour of that

[2021-01-22 16:58] #27546 closed

[2021-01-22 17:02] cpapazoglou commented on #47043
@Automattic/ajax I thinks it's time to step back and think again if this approach is enough. As I have already commented here https://github.com/Automattic/wp-calypso/issues/49191#issuecomment-765551434

we may need to have accessible both interfaces. For example
`https://wordpress.com/settings/general/yoursite.com` has several features not accessible through a WPAdmin screen

![](https://cln.sh/t

[2021-01-22 17:10] synora commented on #39956
The slideshow displays fine for me in the editor-so I'm unable to replicate this.

@lancewillett I did notice however that the slideshow jumps when added on Chrome Version 88.0.4324.96 (Official Build) (x86_64)/Big Sur (11.1): https://d.pr/v/Qtaycl

No jumping effect was seen on Safari(14.0.2)

[2021-01-22 17:10] mmtr commented on #48177
I see the "Links" option has been there quite a while on WP Admin for Simple sites. This is the current menu when the Nav Unification is disabled:

<img width="179" alt="Screen Shot 2021-01-22 at 17 59 56" src="https://user-images.githubusercontent.com/1233880/105521032-afaee500-5cdb-11eb-9187-f8fc7a80abf0.png">

Seems to be the intended behavior on WordPress Core: https://core.trac.wordpress.org/

[2021-01-22 17:10] jeherve opened #49199 "Nav Unification: masterbar styles impact the custom Jetpack checkout bar"
I'm not sure this qualifies as a bug, or just a little cosmetic change that may be worth doing.

### Steps to reproduce the behavior

1. Start from a Jetpack site connected to WordPress.com.
2. Purchase a plan for that site, starting from wp-admin (one way to get a checkout link is to add `add_filter( 'jetpack_block_editor_enable_upgrade_nudge', '__return_true' );` to your site and then go to Post

[2021-01-22 17:13] tyxla commented on #24180
#49198 reduxifies the `PluginsBrowser` and removes the last usage of the last plugins store 🥳 .

I've got some last cleanups to take care of before I mark this one as completed.

[2021-01-22 17:17] sarayourfriend opened #49200 "Search: Forwarded ref not applied causing manual focusing of element not to work"
### Steps to reproduce the behavior

1. Get a site with multiple authors (at least 10)
2. Go to `people/edit/:site/:user`
3. Scroll to the bottom and select the option to attribute posts by the author to another.
4. Click the "Choose an author" button

#### What I expected to happen
According to the code, the search should auto-focus

#### What actually happened
The search does not auto-focus beca

[2021-01-22 17:25] cpapazoglou commented on #49165
The posts link would eventually link to `wp-admin` isn't that enough?

eg Clicking "All Posts" ->  `https://remotefrog.com/wp-admin/edit.php?post_type=post`

[2021-01-22 17:38] synora commented on #38526
This is a stale bug but I'm able to reproduce the expected steps in @kcswong's initial post but the last step in the last comment ( width parameter in URL when clicking on an image) doesn't happen for me when I attempt to reproduce based on those steps.

It also looks like @kristarella provided a reply in 2571443-zen. Closing issue.

[2021-01-22 17:38] #38526 closed

[2021-01-22 17:45] sarayourfriend opened #49203 "Delete User: Untranslated string"
### Steps to reproduce the behavior

1. Go to `/people/edit/:site/:user`
2. Scroll to the bottom and select the option to attribute posts to a different user
3. Switch to a langauge other than English with Empathy mode off

#### What I expected to happen
Everything should be translated

#### What actually happened
Note that the "choose an author..." is untranslated

https://github.com/Automattic/w

[2021-01-22 17:45] mmtr commented on #47043
I agree that would be ideal, but even though Calypso developers would like be unaware of this limitation when adding new features to Calypso. So even if we refactor the screens to make sure all current features are accessible, I anticipate we'll have the same problem in the near future.

So in addition to trying to make sure that the current features that are exclusive to Calypso are always visibl

[2021-01-22 17:55] sarayourfriend opened #49205 "Themes: Midnight theme accent colors are broken"
### Steps to reproduce the behavior

Compare the [current Midnight theme](https://github.com/Automattic/wp-calypso/blob/HEAD/packages/calypso-color-schemes/src/shared/color-schemes/_midnight.scss) to the [pre-nav-unification midnight theme](https://github.com/Automattic/wp-calypso/blob/61acc957638fc7009632af4c0c058aa6bc0e82b7/packages/calypso-color-schemes/src/shared/color-schemes/_midnight.scss)

[2021-01-22 18:00] synora commented on #42600
The initial report from @nerdysandy is pretty old and I'm unable to replicate it.

I am able to replicate @marcuswisecaesar's report of the third Image Block inside a 3 Column Block not keeping the size set in the editor.

[2021-01-22 18:06] obenland commented on #48947
@dzver Could this be a result of #48691?

[2021-01-22 18:11] #49135 closed, assigned to sarayourfriend

[2021-01-22 18:13] sirbrillig opened #49206 "Sidebar: "Add a tag" button has white background which seems awkward"
The "Add a tag" item in the sidebar fly-out seems like it might have the wrong background color.

<img width="441" alt="Screen Shot 2021-01-22 at 1 07 45 PM" src="https://user-images.githubusercontent.com/2036909/105528701-4ca95800-5cb3-11eb-957d-325801fad5a5.png">

Note, for example, the background of the "Create new list" button, which matches the theme better:

<img width="434" alt="Screen Shot

[2021-01-22 18:28] kriskarkoski commented on #49007
26909375-hc

[2021-01-22 18:49] nsakaimbo commented on #49086
Thanks for the update, @designsimply. I've been testing v6.8.0-beta1 on Windows 10 with both a Simple and Atomic site and so far am unable to reproduce this. In both cases, Gutenberg loaded just fine, and the Classic editor was redirected to an external browser when enabled.

Also worth pointing out - if you toggle between the Classic and Gutenberg editors for a site, you'll need to restart the ap

[2021-01-22 18:58] mirka commented on #47807
Adding some context:

[Twemoji conversion](https://github.com/WordPress/WordPress/blob/master/wp-includes/js/wp-emoji.js) is a standard WP feature for compatibility.

In the new P2 sites (i.e. P2020), we've opted to disable it by removing the `print_emoji_detection_script` action. However, for Automattic's internal P2020 sites, we have an added experimental feature where we can use via the autocom

[2021-01-22 19:06] mattsherman opened #49209 "Nav Unification: Show WooCommerce menu items in Calypso, as shown in wp-admin, if WooCommerce plugin is active on Atomic site"
The navigation sidebar menu in Calypso does not show all the WooCommerce menu items that are shown in wp-admin for Atomic sites. In addition, the "Products" custom post type menu item is shown incorrectly (wrong location and icon).

## Actual (current Calypso)

<img width="281" alt="Nav Unification - Calypso Menu" src="https://user-images.githubusercontent.com/2098816/105546673-a61d8100-5ccb-11eb-

[2021-01-22 19:07] obenland commented on #49123
@cpapazoglou Let's review & merge https://github.com/Automattic/wp-calypso/pull/49136, there's enough value in disabling it in Calypso only

[2021-01-22 19:19] mattgawarecki opened #49210 "Nav Unification: Cannot access site visibility dashboard"
### Steps to reproduce the behavior

1. Go to https://dashboard.wordpress.com/wp-admin/index.php?page=my-blogs&show=hidden; or, open the Site Switcher and click the *Change* link at the bottom, as shown here:

<img width="260" alt="image" src="https://user-images.githubusercontent.com/670067/105535104-09031e00-5cb4-11eb-8ce6-d0d08235f3fa.png">

2. Observe the following error screen:

<img width="7

[2021-01-22 19:26] nixiack opened #49211 "Nav Unification: Unable to update passwords and email addresses in Users > All Users"
### Steps to reproduce the behavior

1. Go to 'Users > All Users'
2. Click on any user
3. Scroll down to the bottom of the User
4. It only allows for role change, display name and name change, and deletion of user.

#### What I expected to happen

When going to the Users and selecting a User, there should be the option to change the password, change email, etc.  as the standard WordPress Core user

[2021-01-22 19:36] designsimply commented on #49086
Ah! I'm actually really glad you couldn't replicate it because that means it's not as bad a bug as I first thought.

I tested with a Windows 10 virtual machine setup through VirtualBox. No proxy. I used my test site `made4testing0318.blog` which currently uses a Premium plan and the selected editor is `gutenberg` for that site for `testuser0313` for both web and mobile (I double checked this just

[2021-01-22 19:48] designsimply commented on #49086
Moving from blocker to high priority since we've had a a user report of this but lowering priority a little because it's intermittent and/or cannot be replicated in some cases and efforts are moving toward a rewrite which we want to prioritize.

If you are experiencing this bug, please drop a comment here so we can get an idea of how many people it's happening to. The logs we have are good, but if

[2021-01-22 20:14] tbradsha commented on #48886
Confirmed that I can no longer reproduce this, so let's hope it's fixed!

[2021-01-22 20:39] ramonjd commented on #49169
We can add an investigation task to our next sprint on Monday if the cause isn't discovered before

cc @Automattic/ganon

[2021-01-22 21:02] felipevelzani opened #49214 "Notifications: Message saying that plan needs to be renewed after plan renew"
#### References

18360196-hc

#### Steps to reproduce the behavior

1. Go to the user that opened the HappyChat, and access their WordPress.com Dashboard with SU
2. Click for checking the notifications
3. You should be able to see it there: https://d.pr/i/RkFD0S/jOmvozDvBh

#### What I expected to happen

The message should not be there, or it could have a warning on it saying that the plan was re

[2021-01-22 21:09] eurello commented on #49007
I had another one in 26522721-hc

@sirreal and @Copons I understand this is a core issue, but I don't suppose there is any way we can improve this for our customers meanwhile? It is happening pretty frequently.

[2021-01-22 21:23] #42004 closed

[2021-01-22 21:36] obenland commented on #49210
Thanks for the heads-up! Fixed in r219921-wpcom.

[2021-01-22 21:36] #49210 closed, assigned to nobody

[2021-01-22 21:56] ianstewart opened #49215 "Design Picker: "Easley" design rendering incorrectly on Font screen"
Compare design as it appears on design picker screen …

![image](https://user-images.githubusercontent.com/545779/105552973-5db19380-5cca-11eb-81b2-c1d4f83a4959.png)

With the font screen …

![image](https://user-images.githubusercontent.com/545779/105553014-6efaa000-5cca-11eb-8215-248794ce7e24.png)

[2021-01-22 22:01] ianstewart opened #49217 "Design Picker: Outdated thumbnail for Stratford design"
The thumbnail for the Stratford design showcases a now-fixed rendering error from the starter design. The icons shown below are the wrong size.

![image](https://user-images.githubusercontent.com/545779/105553450-03650280-5ccb-11eb-830b-793e310006a6.png)

Expected output can be seen below from https://stratfordstarter.wordpress.com/

![image](https://user-images.githubusercontent.com/545779/105553

[2021-01-22 22:19] obenland commented on #47043
It's probably worth revisiting the menu structure for Atomic sites. Users and Settings screens seem to be the biggest issues so far?

[2021-01-22 22:23] worldomonation opened #49219 "Pages: "Set as posts page" option unsets by itself"
### Steps to reproduce the behavior

1. Create a new site, or select any existing site.
2. Set a theme.
3. Go to Customizer > Homepage Settings > Posts.
4. Unset the Posts page dropdown to `---`
3. Click on My Site > Pages.
4. Click on meatball menu for a page.
5. In the dropdown, click on `Set as posts page`.
6. Refresh page.

#### What I expected to happen
Chosen page should be set as the 'Posts

[2021-01-22 22:26] obenland commented on #49146
Oh yes, my bad.

Feedback being edited in wp-admin is expected behavior. It's part of the menu structure document linked to from the Project thread: pbAPfg-Ou-p2

[2021-01-22 22:29] obenland commented on #49186
Let' close in favor of https://github.com/Automattic/wp-calypso/issues/49120.

[2021-01-22 22:29] #49186 closed, assigned to nobody

[2021-01-22 22:48] worldomonation opened #49220 "Pages: New Page selection is slow to load"
### Steps to reproduce the behavior

1. Select a site.
2. Go to My Sites > Pages.
3. (optional) Launch the Developer Console for your browser and activate the Network tab. Clear all requests.
4. Click on the `Add new page` button on the top right.
5. Wait until the page loads.

#### What I expected to happen
The page should load in a 'reasonable' (open to definition) amount of time.

#### What act

[2021-01-22 23:08] worldomonation commented on #47679
As a note, this is no longer reproducible as of today (Friday, January 22, 2021).

I will continue to observe but if not reproducible for another few weeks it should be closed.

[2021-01-22 23:09] worldomonation commented on #47694
Updated the title to reflect that multiple media-related blocks are exhibiting this behavior as observed in the user scenario walkthrough today.

Re-tested and attached an updated screenshot showing the behavior of problematic blocks.

[2021-01-22 23:43] worldomonation opened #49221 "Posts: default posts that come with layout are timestamped in UTC but user posts are in local timezone"
### Steps to reproduce the behavior

Prereq. user timezone is not UTC+0.

1. Create a new site.
2. Select any layout. I used `Stratford`.
3. Once site is created, create another post.
4. Go to My Sites > Posts.
5. Open all three posts (2 pre-generated posts and your post from Step 3).
6. On the right sidebar, click on the Posts tab.
7. Check the published date for all three posts.

#### What I exp

[2021-01-23 00:21] worldomonation opened #49223 "Social: Twitter share button opens both a new window and new tab"
### Steps to reproduce the behavior

Prereq. Social share is enabled (My Site > Tools > Marketing)

1. Create and publish the post.
2. View the post.
3. Locate the `Tweet` button towards bottom of the post.
4. Click on the `Tweet` button.

#### What I expected to happen
Small window pops up where user is able to compose and send tweet.

#### What actually happened
In addition to the small window (

[2021-01-23 00:31] worldomonation opened #49224 "Social: default posts do not have social share buttons"
### Steps to reproduce the behavior

1. Create a site with any layout/theme.
2. Once site is created, publish a new post.
3. Under `My Site > Tools > Marketing`, enable `Sharing Buttons`.
4. View a post that came with the layout/theme.
5. View the post that was published in Step 2.

#### What I expected to happen
Both posts viewed should have the social share buttons.

#### What actually happened

[2021-01-23 03:19] sarahcada commented on #49077
Also reported in 3672280-zd.  I was able to replicate on my simple site.

### Is this specific to the applied theme? Which one?
I don't think so, since my test site was using the Rebalance Theme.

### Does this happen on simple or atomic sites or both?
I was able to replicate for both Simple and WPcom on Atomic.

[2021-01-23 06:15] joweber123 opened #49225 "Page Template and Block Pattern images not added to Media Library"
Encouraged to create this bug report while testing another bug we have found.  https://github.com/Automattic/jetpack/issues/18362#issuecomment-762174767

### Steps to reproduce the behavior
1. Create a new page/post.
2. Select a page template/block pattern that includes images.
3. Publish page/post.
4. Go to media library.
5. The media library will be empty.
6. Alternatively you can inspect the im

[2021-01-23 08:01] galakhyati opened #49226 "Reader: Alt text on the featured image is not showing in the Feed on Reader"
### Steps to reproduce the behavior

1. From WordPress.com > My Sites > Site > Media add alt text on an image.
2. Assign this image (with alt text) as a post's Featured Image.
3. Check the post in the Reader, the alt text added to the featured image is not showing when checked in the browser console.

#### What I expected to happen
I was expecting the alt text to be showing on the image in the Rea

[2021-01-23 08:47] jartes commented on #49007
Another report here: 3667625-zen

[2021-01-23 10:38] paulostp commented on #44781
3670903-zen

[2021-01-23 11:23] Aurorum commented on #49155
Seems to also be reported in #49150.

[2021-01-23 11:30] mattsherman opened #49227 "nav unification"

[2021-01-23 11:30] #49227 closed, assigned to nobody

[2021-01-23 11:31] mattsherman opened #49228 "Nav Unification: WooCommerce Support"
When Nav Unification is active, WooCommerce must be available in Calypso as if is pre-Nav Unification.

See pbIJXs-zH-p2 for details.

## Tech notes

- The admin menu for Simple, Atomic, and Jetpack sites is controlled by a module in Jetpack:
https://github.com/Automattic/jetpack/tree/f66a6341fe162e5e350be707a7dff84292e7b179/projects/plugins/jetpack/modules/masterbar/admin-menu
- Currently, the ad

[2021-01-23 11:38] mattsherman opened #49229 "Nav Unification: Show WooCommerce menu items in Calypso, as shown in wp-admin, if WooCommerce plugin is active on Jetpack site"
The navigation sidebar menu in Calypso does not show all the WooCommerce menu items that are shown in wp-admin for Jetpack sites. In addition, the "Products" custom post type menu item is shown incorrectly (wrong location and icon).

## Actual (current Calypso)

<img width="281" alt="Screen Shot 2021-01-23 at 06 52 34" src="https://user-images.githubusercontent.com/2098816/105577791-b4aa7d80-5d49-

[2021-01-23 11:40] mattsherman opened #49230 "Nav Unification: Show WooCommerce menu item before plugin is installed on Atomic sites"
TODO: To be filled out by @mattsherman

[2021-01-23 11:42] mattsherman opened #49231 "Nav Unification: Show deprecated Store menu item for Atomic sites with Business plan"
Atomic sites with Business plan subscriptions should have the deprecated "Store" menu item available to them, until Store is removed from Calypso.

This menu item should bring users to the deprecated `/store` experience.

See https://github.com/woocommerce/woocommerce-admin/issues/5816 for details of how deprecation works.

## Implementation notes

- The "Store" menu item should probably be added

[2021-01-23 12:14] mattsherman opened #49232 "Nav Unification: Show WooCommerce menu item for Atomic sites when WooCommerce plugin is not installed"
As currently supported without Nav Unification, the "WooCommerce" menu item should be available on any Atomic site when the WooCommerce plugin is not installed.

Selecting this menu item should guide users through installing WooCommerce.

See existing behavior pre-Nav Unification for details. This was recently implemented in https://github.com/automattic/wp-calypso/issues/48423

[2021-01-23 15:20] zdenys opened #49234 "eCommerce Plan: Products section sub-items missing with the new WooCommerce Navigation"
### Steps to reproduce the behavior

1. Install and activate [WooCommerce Brands](https://woocommerce.com/products/brands/?aff=10486&cid=1131038)
2. Go to WP Admin > WooCommerce
2. Click on Products
3. See no Brands subsection

#### What I expected to happen
Prior to the new WooCommerce Navigation, Brands section used to be under Products

![](https://d.pr/i/Gue5Hx+)
_Link: https://d.pr/i/Gue5Hx_

[2021-01-23 15:31] zdenys commented on #49234
Reported in 25634951-hc (3675865-zen)

[2021-01-23 15:41] rachelwinspear opened #49235 "Nav Unification: Manage Plugins shown in menu first"
### Steps to reproduce the behavior

1. Logged into my test sites.
2. Saw `Manage Plugins` at the top of the menu

![Screenshot](https://d.pr/i/oG38WI+)

![Screenshot](https://d.pr/i/02iCIA+)

#### What I expected to happen

I expected to see 'Manage Plugins' under the option 'Appearance' in the left-hand menu

#### What actually happened

The menu option 'Manage Plugins'  is showing at the top of

[2021-01-23 15:48] zdenys commented on #49234
Related discussion about adding support for the New WooCommerce Navigation to the various extensions: https://github.com/woocommerce/woocommerce-admin/issues/5335

[2021-01-24 09:35] inaikem commented on #49007
@sirreal, yes please. I'd like to post a P2 to Happiness. I'll start drafting something immediately.

Adding my 2¢ here, I'm 100% certain that this is new behaviour on WPcom. Testing editing a reusable block on a WPorg site behaves exactly as this WPcom support guide suggests: https://wordpress.com/support/wordpress-editor/blocks/reusable-block/.

_"If you’d like to edit a reusable block, select t

[2021-01-24 18:57] gravityrail opened #49236 "Improperly escaped formatting in blank password feedback"
### Steps to reproduce the behavior

1. Try to log in with empty password

#### What I expected to happen

Error message

#### What actually happened

Improperly escaped error message (see screenshot)

### Context

#### Browser / OS version

Safari 14.0.2 on macOS 11.1 (Big Sur)

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

![html-in-error](https://user-im

[2021-01-24 19:07] gravityrail opened #49237 "calypso.localhost:3000 refuses to authenticate in Safari"
### Steps to reproduce the behavior

1. In Safari 14, go to calypso.localhost:3000
2. Try to log in

#### What I expected to happen

Logged in

#### What actually happened

Redirected to devdocs with no explanation

### Context

#### Browser / OS version

Safari 14, macOS 11.1 (Big Sur)

#### Level of impact (Does it block purchases? Does it affect more than just one site?)

Total inability to log

[2021-01-24 21:57] ChrissiePollock commented on #49015
Also requested in #3679584-zen

[2021-01-24 21:58] nixiack opened #49238 "Nav unification: Not able to see Installed themes/switch to different theme in new UI"
### Steps to reproduce the behavior

1. Go to **Appearance > Themes**
2. See the Themes list, it shows the current theme and `Recommended`
3. Scrolling down just populates more themes to install.

#### What I expected to happen

When going to **Appearance > Themes** it should show the installed themes first, and have a separate area for the option to install other themes.  The `Recommended` themes

[2021-01-24 22:00] ChrissiePollock commented on #45066
Requested in #3679584-zen as the customer could not find the one-time option.

[2021-01-24 23:21] psealock commented on #49209
With WooCommerce Navigation using the eComm plan, not Business plan, Products, Analytics, and Marketing are no longer top level items as they are nested in the Woo Nav.

<img width="232" alt="Screen Shot 2021-01-25 at 12 16 09 PM" src="https://user-images.githubusercontent.com/1922453/105646866-24199c00-5f07-11eb-9528-ed3223a472ae.png">

Depending on the timing of everything it appears we may need

[2021-01-24 23:46] ramonjd opened #49239 "New Page Layout Picker: create project thread"
Let's create a project thread for the New Page Layout Picker on Create P2

See spec: pbAok1-1QJ-p2

[2021-01-24 23:48] ramonjd opened #49240 "New Page Layout Picker: investigation and define tech specs"
Let's define how we're going to tackle the New Page Layout Picker, and update the spec p2 post accordingly.

- [x] Assess feasibility of moving core functionality to a package so we can share it across apps https://github.com/Automattic/wp-calypso/pull/49661
- [x] Identify any required changes to PTK
- [x] Define development tasks
- [x] ~~Do we need a tech spike?~~

### Technical requirements

- E

[2021-01-24 23:50] psealock commented on #49229
We'll need to check that this works with Woo Navigation turned on, see https://github.com/automattic/wp-calypso/issues/49209#issuecomment-766458367 for more info.

[2021-01-25 00:17] andrewserong commented on #48883
@ianstewart, I put together a fix in https://github.com/Automattic/wp-calypso/pull/49101 that refactored the preview, however there are some concerns with the approach given that Ganon will be working on the redesigned layout picker shortly.

In the short-term, what do you think about us unpublishing / switching this layout to draft to hide it from the layout picker?

The issue is that the existin

[2021-01-25 00:20] andrewserong commented on #48881
@ianstewart, (this comment is very similar to the one in #48883) I put together a fix in https://github.com/Automattic/wp-calypso/pull/49101 that refactored the preview, however there are some concerns with the approach given that Ganon will be working on the redesigned layout picker shortly.

In the short-term, what do you think about us unpublishing / switching this layout to draft to hide it fr

[2021-01-25 00:27] ramonjd commented on #49169
We've spoken to @p-jackson, who is on Gardening this week. He'll take a squiz when he can.

[2021-01-25 01:00] lsl commented on #49240
Read for extra context: pbAok1-1QJ-p2#comment-3756

[2021-01-25 02:26] ilyasfoo commented on #49232
I'm thinking of moving out the installation page from StoreUI and reimplement it as a standalone page with the new sidebar:

![image](https://user-images.githubusercontent.com/3747241/105652882-5cb07a00-5ef5-11eb-8d03-e822318ca77e.png)

[2021-01-25 02:28] p-jackson opened #49241 "An ability to choose a layout after creating a page in the customiser"
**What**
Users are able to create new pages directly within the customiser while they're designing their menus. Perhaps they're filling out the menus deciding what pages they'll need and they plan to fill the pages with content later. Ideally the user would have some way of using our pre-defined page layouts when they create these pages, the same way as if they created the new page from the Calyps

[2021-01-25 03:11] rinazrina commented on #49007
Another report: #3679815-zen

[2021-01-25 03:27] inaikem commented on #49007
Could this be related? Via @katiebethbrown : https://github.com/WordPress/gutenberg/pull/27887

[2021-01-25 03:29] lsl opened #49242 "Brice theme demo content header needs alignment removed for RTL"
`.has-text-align-left` needs to be removed from the header example content of the Brice theme.

![Screenshot_2021-01-25 WordPress com](https://user-images.githubusercontent.com/811776/105657140-dc4f4080-5f17-11eb-8ea0-100c1e08bdb4.png)

The theme is supporting RTL correctly but the title that shows up from demo content has left alignment applied, removing this is probably all that is needed to fix

[2021-01-25 03:41] autumnfjeld commented on #47690
@ramon Actually I don't think that list is valid anymore, and we don't need to track the items.  Because:

- Use icons that match buttons rather than text descriptions -
  -  I can't remember the root of this issue, and it doesn't make sense to me.
- Tour animations: buttons/items in Editor UI are highlighted as user proceeds through tour see WIP Spike
  -  This is noted in Jon's designs and also

[2021-01-25 04:07] ilyasfoo opened #49243 "Nav Unification: Updates to e2e tests for Store menu"
Current e2e tests Store UI using calypso sidebar menu. I foresee the changes will affect tests, and thus needs to be updated to be compatible with the new navigation menu.

[2021-01-25 05:10] p-jackson commented on #49242
This sounds right to me. Long term it seems like something phase 3 Gutenberg would handle, which means short/medium term it'd be appropriate for the Pattern Toolkit IMO.

[2021-01-25 05:44] andrewserong commented on #49242
I'm 50/50 on this too — I agree it's in scope for what the PTK _should_ be able to handle, but at the same time there are potentially a lot of edge cases to handle. I wonder what the most minimal version of this would be for common things in patterns? Would doing headings and paragraphs be enough to begin with? Re-ordering columns in a reliable way could be very tricky.

One concern is that it wou

[2021-01-25 06:48] pauljacobson opened #49244 "WP Admin: Admin color schemes may not update until site cache is cleared"
Our customer has a WordPress.com Business plan site with plugins. They reached out to us in Live Chat to ask why, when changing their site's Admin color scheme in the WordPress.com dashboard (in _Account Settings_), they didn't see a corresponding change when loading WP Admin pages.

I did some troubleshooting, and noticed that if I ran `wp cache flush` in WP-CLI, the WP Admin pages then loaded wi

[2021-01-25 06:56] rantoncuadrado commented on #49165
I meant Polylang users could not be able to use the new dashboard in all its shininess. But, yes, I understand what you mean.

[2021-01-25 07:49] kriskorn commented on #36274
3677729-zen

[2021-01-25 08:13] ramonjd commented on #49240
Also pbAok1-1QJ-p2#comment-3777

This will increase scope, so let's make a call on whether we do it now or later.

 Relates to working on PTK/demo endpoint/other API to serve up the pages, and then see if mshots can handle it.

[2021-01-25 08:31] StefanNieuwenhuis commented on #49171
The problem is that we don't have enough screen estate on the mobile viewport to display both copy and CTA-button in the same row. A possible solution is to apply the layout from `/start` (see screenshot). Placing both copy and CTA-button on separate rows generates enough space for both.

@ollierozdarz what do you think about this solution?

<img width="381" alt="Screenshot 2021-01-25 at 09 27 12"

[2021-01-25 09:13] #46843 closed

[2021-01-25 09:23] cpapazoglou commented on #47043
Per my understanding and users' reports, yes. Users and Settings screens seem to be the biggest (only) issues, meaning that neither Calypso nor WPAdmin are full featured.

[2021-01-25 09:29] razvanpapadopol commented on #41066
@alshakero did some progress in this direction in #48550

[2021-01-25 09:31] razvanpapadopol commented on #40324
Superseded by https://github.com/Automattic/wp-calypso/issues/44645

[2021-01-25 09:31] #40324 closed

[2021-01-25 09:32] razvanpapadopol commented on #40970
Superseded by https://github.com/Automattic/wp-calypso/issues/41066

[2021-01-25 09:41] cpapazoglou commented on #49211
👋 @nixiack, thanks for reporting this! We are planning to address this issue as part of https://github.com/Automattic/wp-calypso/issues/47043. https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-765579539 shows a suggested solution.

Till then, would using `[DOMAIN]/wp-admin/users.php` suffice?

[2021-01-25 10:00] getdave opened #49250 "Updates to all e2e tests for Nav Unification"
The e2e test suite in Calypso is designed for the existing Calypso navigation and is not ready for the Nav Unification feature.

As we've changed the DOM structure it's likely we're going to need to visit all the tests and check that they will work with the new feature active.

This will likely require:

1. Identifying core reusable helper components (eg: [`SidebarComponent`](https://github.com/Au

[2021-01-25 10:57] ciampo opened #49252 "Gutenboarding: reword plans refund policy for monthly plans"
## What

As originally discussed https://github.com/Automattic/wp-calypso/issues/48963#issuecomment-764487603_, the text at the top of the Plans step in Gutenboarding needs to be slightly modified to accomodate for the recent introduction of monthly billed plans.

## Why

The copy needs to be refined to specify the difference between monthly vs annually billed plans.
The "MVP" work has been carrie

[2021-01-25 11:18] getdave commented on #49250
Related https://github.com/Automattic/wp-calypso/issues/49243

[2021-01-25 11:29] ciampo opened #49253 "Plans Grid: automatically switch to monthly/annually version of currently selected plan"
## What

If the user picks a yearly premium plan, goes back to the plans grid, and changes the period toggle to Pay monthly they shouldn't need to pick the plan once more

## Why

This would improve the UX around monthly/annually billed plans, and avoid confusion in the user

## A/C

- [ ] Expected behaviour:
   1. User picks a plan by selecting on the plans grid (e.g. Premium, billed annually)

[2021-01-25 11:34] ciampo opened #49254 "Monthly pricing: add/update Tracks events"
## What

We should add/update Tracks events to support monthly pricing

## Why

Because analytics!

## A/C

Add/Update Tracks events:
- [ ] interaction with annual/monthly toggle
- [ ] selection of a monthly plan
- [ ] flow completion (site creation/launch) with a selected monthly plan (across Gutenboarding, Step by Step launch, Focused launch)

## Context

N/A

[2021-01-25 11:35] pauljacobson commented on #49019
This seems to be related to #48888

[2021-01-25 11:42] pauljacobson opened #49255 "Editor: Subscription Block button text not accurately displayed by default"
A customer pointed out that when they added a Subscription Form Block to their site, the default text on the button in the editor was _Subscribe_. When they then viewed the page in preview, or as if they were visiting the page as an ordinary site visitor, the button text was _Follow_.

The workaround for this is to edit the default text in the editor.

### Steps to reproduce the behavior

1. Go to

[2021-01-25 11:50] ciampo opened #49256 "Domains Picker: update copy after introduction on monthly billed plans"
## What

With the introduction of monthly billed plans, copy in the domains picker package needs to be updated to reflect the fact that the free custom domain is only included with annually billed plans.

## Why

We need to update the UI in order to convey the correct information to the user

## A/C

- [x] The corresponding PR should have the `String freeze` label until translations are ready

###

[2021-01-25 11:55] ciampo commented on #49256
cc @razvanpapadopol @ollierozdarz @paulbonahora any ideas on what the best copy would be?

One possible solution is to use the same text that we're using in Gutenboarding, "Included with annual plans" — this would improve consistency across flows and avoid waiting for translations

[2021-01-25 12:06] ciampo opened #49257 "Focused Launch: summary view always shows annually-billed plans price"
#### What I expected to happen

The price in the summary view should update correctly and show the monthly-billed plan's price for the selected plan and the other paid plans listed.

#### Acceptance criteria

* [ ] All plan prices in the summary view are updated when the billing period is toggled.

#### Steps to reproduce the behaviour

1. On an unlaunched site created through `/start`,  visit `wo

[2021-01-25 12:06] ciampo commented on #49257
cc @razvanpapadopol  and @ollierozdarz  in case you have any input on how to solve this problem best

[2021-01-25 12:28] sirreal commented on #49007
Internal post from @inaikem p7DVsv-alB-p2

https://github.com/WordPress/gutenberg/pull/28405 and https://github.com/WordPress/gutenberg/pull/28428 addressed this and I'll advocate for a patch release including those fixed.

We don't really have good solutions for improving this without a Gutenberg release.

[2021-01-25 13:11] guarani commented on #47289
How can I check this, @designsimply? Sorry, I'm not too familiar with this yet. My understanding is that when you create a Pressable site, it's going to be something of the form `xyz.mystagingwebsite.com`. The domain called `mystagingwebsite` is always used, and the subdomain (e.g. `xyz`) is customizable.

My best answer to your question above is that the WP install is at the subdomain, but I'm no

[2021-01-25 13:12] #37665 closed

[2021-01-25 13:15] #23126 closed

[2021-01-25 13:35] getdave commented on #49205
@frontdevde Would you be able to advise on this one in terms of

- Confirming the problem.
- Complexity and effort to fix.

Much appreciated.

[2021-01-25 13:38] getdave commented on #49196
Thanks for reporting. We'll take this into an iteration.

[2021-01-25 13:44] getdave commented on #49191
Thanks for reporting @mrfoxtalbot.

I recognise this to be a problem. It's always existed because Plugins only register settings in WPAdmin and not in Calypso.

The problem is that with Nav Unification we are _forcing_ the settings pages on WordPress.com to go to the _Calypso_ view.

My take on this is:

- all settings that have 1st party support on WP.com should be shown on Calypso. We need to id

[2021-01-25 13:49] getdave commented on #49187
Can I confirm what the expected solution would be here? Is it:

- make settings available in Calypso?
- allow these particular links to default to WPAdmin?

Many thanks

[2021-01-25 13:51] getdave commented on #49180
@frontdevde Would you be able to investigate this? Could you possibly triage with:

- Test and confirm.
- Steps required to fix.
- Estimated effort.

Much appreciated.

[2021-01-25 13:54] getdave commented on #49179
Thanks for reporting.

[2021-01-25 13:56] getdave commented on #49178
If these headings already exist in Calypso then can we limit our scope to fixing the spacing. They must exist for a reason and I don't want to risk expanding out scope.

[2021-01-25 13:57] jeherve commented on #49187
I think we should make those settings available in Calypso. There are no versions of those settings anywhere in wp-admin right now, so we can't really link to wp-admin in this case.

[2021-01-25 13:58] getdave commented on #49174
Agreed. I'm not sure we need to take this on as part of Nav Unification if other workarounds exist.

[2021-01-25 13:58] #49174 closed, assigned to nobody

[2021-01-25 13:59] getdave commented on #49173
@frontdevde Would you be able to take a look into this one for scope and feasibility? Just need an idea of complexity and effort to fix.

[2021-01-25 14:02] getdave commented on #49149
@sfougnier Would you be able to advise on the preferred visual route here? Much appreciated.

[2021-01-25 14:04] getdave commented on #49147
@enejb When you get a chance would you be able to confirm the exact steps to replicate? Much appreciated.

[2021-01-25 14:05] getdave commented on #49146
Agreed. I think we can safely close this as it's addressed in other issues. Thanks @glendaviesnz.

[2021-01-25 14:05] #49146 closed, assigned to nobody

[2021-01-25 14:12] getdave commented on #49128
@daledupreez Thanks for the report. We'll run through this in Production as a non-a12 and see what we can find out.

Do you have any additional context regarding the meaning of "domain-only site"? It's not something I'm familiar with.

Much appreciated.

[2021-01-25 14:13] #49122 closed, assigned to mmtr

[2021-01-25 14:21] getdave commented on #49110
@cpapazoglou Would you be able to triage this and advise on

- Can you replicate?
- Scope of work required to fix.

Thanks.

[2021-01-25 14:23] getdave commented on #48863
Thanks for testing @mmtr. Perhaps this was caching like @jmdodd suggested. Closing for now.

[2021-01-25 14:23] #48863 closed, assigned to nobody

[2021-01-25 14:24] getdave commented on #48444
This task is important and still valuable. However it shouldn't be a blocker for initial launch.

[2021-01-25 14:25] getdave commented on #48322
@michaeldcain looks like this is complete? I'm closing, feel free to reopen if still valid. Thanks for sorting it 🙇

[2021-01-25 14:25] #48322 closed, assigned to michaeldcain

[2021-01-25 14:27] getdave commented on #48243
@obenland I'd like to understand the scope of this task. Could we break it down into smaller actionable Issues?

Also are you intending to continue handling this or will @Automattic/ajax now resume responsibility?

Much appreciated.

[2021-01-25 14:28] getdave commented on #48211
Agreed. Let's remove the flyouts on Reader.

[2021-01-25 14:33] getdave commented on #48177
Nav Unification is intended to mirror WP Core navigation. The more we diverge from this then the more maintenance we incur and the more likely things go wrong.

The [WP.org Codex says of `Links Manager`](https://codex.wordpress.org/Links_Manager):

...and:

Can we

1. Hide `Links` by default.
2. Show `Links` if the user has active links.
3. In either case, depriortise `Links` by moving down below

[2021-01-25 14:34] cpapazoglou commented on #49178
After my comment above, I think:
- there is no risk removing them
- removing them would be much easier than fixing the spacing which is not so obvious cause the same component (Heading is used in My Sites).

[2021-01-25 14:35] getdave commented on #48177
This is marked as `In Progress` but no PR is referenced. I'm moving out of priority list for now as there are more pressing items.

If someone is working on it then please let me know.

[2021-01-25 14:36] getdave commented on #48146
Can we update `Widgets` to use the link `/wp-admin/widgets.php` then?

[2021-01-25 14:38] getdave commented on #48009
@frontdevde are you currently working on this? Only you are assigned? It would be good to understand the scope and effort involved in resolving this.

[2021-01-25 14:40] getdave commented on #47271
@mmtr Would you consider this Issue as `Done` now and open fresh ones for any further revisions / enhancements?

[2021-01-25 14:41] dcoleonline commented on #48894
I found a workaround but this also came up in 3680391-zen

It isn't currently possible to upgrade from the monthly subscription of a plan to the annual subscription of that same plan.

So upgrading from monthly Personal to annual Personal fails, but going from monthly Personal to annual Premium/Business/eCommerce works.

The workaround is to visit the annual plan's URL directly. This adds the annu

[2021-01-25 14:42] getdave commented on #47049
Scope and designs look to have been confirmed.

This now requires investigation and quick research into how much effort is required so we have a handle on scope.

[2021-01-25 14:45] getdave commented on #47043
Let's pull together a list of screens and features for a side-by-side comparison of Calypso and WPAdmin (Google Spreadsheet seems best).

From there we can decide how to approach the Issue.

I will say that as a quick solution @mmtr's suggestion seems like a good short term plan. It does however ask a lot of users given that Nav Unification is supposed to be providing a single interface for our pr

[2021-01-25 14:47] getdave opened #49262 "[EPIC] Users, Settings, Media, People pages are inconsistent between Calypso vs WPAdmin - find a way to unify"
See https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-765555441.

Essentially there is no consistency between Settings screens registered to Calypso vs WPAdmin. Neither is the superset. Some settings are missing from each. We need to unify these.

## Research

- [x] As per https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-766865603, let's produce a spreadsheet com

[2021-01-25 14:56] mmtr commented on #48177
I wasn't aware of that limitation. I'm used to move issues to "In progress" as soon as I start investigating them, when a PR is still not available, so others don't waste their time doing the same investigation in parallel.

[2021-01-25 15:01] mmtr commented on #47271
Yup, I just verified with a new site that I created that this is no longer needed since we're pulling the WP.com color scheme as of 590-gh-Automattic/wpcomsh.

[2021-01-25 15:01] #47271 closed

[2021-01-25 15:03] metabreakr commented on #48894
To add to @dcoleonline workaround, if you need to upgrade to biyearly, this structure should work as well: https://wordpress.com/checkout/example.com/business-2-years

[2021-01-25 15:23] dcoleonline commented on #48894
Thanks @jonnyruzek! I'd missed those.

I'll add all of the 2 year plan URLs here for easy copy/paste.

**2 Year Plan URLs**
https://wordpress.com/checkout/example.com/personal-2-years
https://wordpress.com/checkout/example.com/premium-2-years
https://wordpress.com/checkout/example.com/business-2-years
https://wordpress.com/checkout/example.com/ecommerce-2-years

[2021-01-25 15:25] AtrumGeost opened #49264 "Update needed for Two-Step authentication in El Salvador"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/security/two-step
2. When asked for a phone number select the +503 country code for "El Salvador"
3. Try entering a phone number that starts with 6XXXXXXX
4. See error about entering a valid phone number

#### What I expected to happen

To be able to enter phone numbers that start with 6

#### What actually happened

The phone

[2021-01-25 15:43] ivan-ottinger opened #49265 "Editor: Embed block - It is not possible to interact with the embedded page"
I am not sure whether we can do something about this issue, but I decided to report it anyways as it can come up in the future when users embed external links that include cookie notice.

The user created a new page and pasted there a link to an external page that has a cookie notice. Everything worked correctly, but when the saved page was opened on iOS, the cookie notice was blocking content lik

[2021-01-25 15:52] mmtr commented on #49250
@WunderBart provided a comprehensive list with what's needed to start working on this while the feature is not enabled to all users: pciE2j-bk-p2#comment-264

[2021-01-25 15:55] michaeldcain commented on #48894
@sirbrillig: was there code in old Checkout to deal with this sort of issue? Essentially replacing the renewal cart item with a new purchase cart item if the plan term changes?

[2021-01-25 15:59] mmtr commented on #49191
The thing is that when Nav Unification is enabled there is not a clear separation between Calypso and WP Admin. There won't be a standalone WP Admin menu entry in the navigation. Instead, some menu entries will link to Calypso (by default) and others will link to WP Admin (when the page does not have an equivalent in Calypso, or when the users has enabled the setting to use WP Admin links always).

[2021-01-25 16:03] alshakero commented on #49142
Diff in D55944-code

[2021-01-25 16:19] #49203 closed, assigned to nobody

[2021-01-25 16:20] DavidRothstein commented on #48894
I noticed that if you already have the monthly renewal in your cart and then go to https://wordpress.com/checkout/example.com/premium it will replace the monthly renewal with the new annual product (i.e. it does correctly switch things from a renewal to an upgrade).  But just making the "Switch to annual plan" link point to that URL would probably not be a great experience if there are other renew

[2021-01-25 16:21] frontdevde commented on #49180
Confirmed.

It's reusing the site badge that originated in the sidebar. So it's using the sidebar colors that had to change in Nav Unification. We'll need to change this so the styles in the sidebar differ to when the site badge is used outside the sidebar.

Effort small (needs to be tested across color schemes though) =>  (2-3P)

[2021-01-25 16:21] getdave commented on #47043
Needs splitting up into smaller Issues as this is currently a bit of an epic.

[2021-01-25 16:22] metabreakr commented on #45881
2151698-hc

[2021-01-25 16:23] frontdevde commented on #48009
Yes, I'm on it. I prioritised helping with the Beta launch on Thursday. Have a couple of fixes already stashed though.

[2021-01-25 16:28] getdave commented on #48146
Needs decision.

[2021-01-25 16:35] frontdevde commented on #49205
We had to change the colors of the Calypso Midnight color scheme as there was one with the exact same name in wp-admin.

The wp-admin color scheme was used to generate a new Calypso color scheme. It does look strange that the other accent variable values aren't variations on the accent color does seem strange. I'll look into it in more detail to see why the accent values weren't changed and get ba

[2021-01-25 16:49] ciampo commented on #48760
While working on this issue, I’ve found an inconsistency in Step by Step launch that hasn't been spec'd yet: if the user picks a monthly billed plan, the “Launch your site” step still shows a custom domain as part of the deal — although it should not be included with monthly plans.

![image](https://user-images.githubusercontent.com/1083581/105736745-69ed5900-5f35-11eb-9dc7-4b3c7ff9b8a6.png)

Any

[2021-01-25 16:51] obenland commented on #48146
In anticipation of https://github.com/Automattic/wp-calypso/issues/47043 I'm leaning towards keeping it pointed to the Customizer for now.

@serabi Do you think the toggle would cover that use case sufficiently?

[2021-01-25 17:03] sarayourfriend commented on #49116
The same issue happens on mobile, it's nearly impossible to scroll the sidebar in iOS Safari.

[2021-01-25 17:04] obenland commented on #47043
I'm hesitant about spelling out the difference between the two interfaces like that, to me it doesn't necessarily feel in line with what we're trying to do with nav unification.

Maybe we could explore finding menu titles for the wp-admin screens that we want to put back and have them available in addition to the Calypso ones? Like `Edit Users` or something for the users list?

We could limit addi

[2021-01-25 17:06] paulbonahora commented on #49256
I would suggest to add the word "annual", meaning: "First year included in annual plans"

[2021-01-25 18:18] tyxla commented on #24180
#49266 is a fix for a bug we found while working on #49198 and #49267 removes the flux plugins pieces.

With #49267 merged, we can actually call this done!

[2021-01-25 18:49] obenland commented on #47043
I should have used the word "Fixes" ;)

[2021-01-25 19:07] razvanpapadopol commented on #48760
It's not explicitly saying that the domain is included but it would probably be helpful if, in the case of a selected monthly plan, we add below "Custom domain: ..." a line with the yearly price of the domain (as we're doing for plan).

[2021-01-25 19:24] mattsherman opened #49273 "Store|Woo: Update Store deprecation documentation to show old WooCommerce navigation"
The support documentation for the Store deprecation currently only shows the upcoming/new WooCommerce navigation experience. This is not available to Business customers yet.

So, the support documentation should include only the existing WooCommerce navigation experience for now.

From pbIJXs-qm-p2#comment-1753:

[2021-01-25 19:39] enejb commented on #49147
1 . Start with a simple .com site.
2. Navigate to domains.
3. Use the site switcher to select a Jetpack site.
4. Notice that the domain settings are displayed for the Jetpack site.

I would be happy to pair and show you what I am looking at or add you to my jetpack site. In case that helps.

[2021-01-25 19:46] belcherj opened #49275 "Layout issue on Reader first load"
### Steps to reproduce the behavior

1. Be in a site
2. Open the reader

I was not able to reporduce.

#### What I expected to happen

I expect the left nav menu to load properly.

#### What actually happened

The nav menu is tucked up under the top bar.

<img width="276" alt="Screen Shot 2021-01-25 at 2 34 09 PM" src="https://user-images.githubusercontent.com/6817400/105757035-75338b00-5f1b-11eb-

[2021-01-25 19:55] ianstewart opened #49276 "Global Styles: Reset/Publish buttons incorrectly spaced in RTL language (Hebrew)"
### Steps to reproduce the behavior

1. Change your site content language to Hebrew
2. Visit Editor
3. Click on the Global Styles A icon
4. See error

#### What I expected to happen

Buttons to be spaced as they are in with LTR EN styles.

![image](https://user-images.githubusercontent.com/545779/105758330-be341100-5f14-11eb-9a83-57cb7e0342ed.png)

#### What actually happened

Buttons too close to

[2021-01-25 19:57] mattsherman commented on #49232
@ilyasfoo I think that would be a good thing to do. It's something we will need once we totally remove Store (and the Store extension in Calypso) anyway.

I would implement that in two phases (PRs):

1. Refactor things to pull the installation page out of the extension and call it from the existing Calypso sidebar menu item. We have things working in Calypso right now, so we should be able to easi

[2021-01-25 21:40] p-jackson commented on #49169
@razvanpapadopol are you still able to reproduce this issue? I've tested in various browser and proxied/unproxed combinations and translations are working fine for me. Even tried proxying through France to see if geoip made a difference 😅

I noticed that if I used my sandbox, and the sandbox was broken, then English strings would appear.

It could also have been fixed elsewhere by something else m

[2021-01-25 21:54] razvanpapadopol commented on #49169
I can't reproduce it either. Both scenarios (existing user and new user visiting first wordpress.com and then new onboarding) are working fine. Maybe it was something wrong with the translation bundles? The weird part of the bug is the mix of translated/untranslated strings (eg: title vs subtitle)

[2021-01-25 22:10] ricjcs opened #49279 "In Statistics/Insights/Best Views Ever, shows only the best date, does not show the number of best views."
### Steps to reproduce the behavior / What actually happened

**1. In wordpress.com interface go to "Statistics", In the top menu click on "Insights"**
2. In "All-time posts, views, and visitors" > "Best Views Ever"; observe that **the date with the best views is shown**.

![Captura de ecrã 2021-01-25 220405](https://user-images.githubusercontent.com/11923491/105772093-93b87700-5f59-11eb-925e-c108

[2021-01-25 22:11] smithkyle45 commented on #45881
11349615-hc

Simple site, Personal plan, only site in the account.

Suggested clearing browser cache/cookies or trying another browser as a temporary workaround.

[2021-01-25 22:39] mattsherman commented on #49209
@psealock Can't eCommerce users disable the new navigation? So, depending on the order of the rollouts of Nav Unification and the new WooCommerce Navigation, we might have:

- eCommerce with new WooCommerce Navigation
- eCommerce without new WooCommerce Navigation
- Business with new WooCommerce Navigation
- eCommerce without new WooCommerce Navigation

[2021-01-25 23:40] obenland commented on #48243
Sure, these come to mind for me:

* Have menu items show up in Calypso at all (#577-gh-Automattic/wpcomsh)
* Improve badge parser to pick up badges that use custom markup (see [API class](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php#L323-L348) + unit tests)
* Have a fallback icon in Caly

[2021-01-25 23:43] psealock commented on #49234
Thanks for opening @zdenys, this will be fixed by https://github.com/woocommerce/woocommerce-admin/pull/6179

[2021-01-25 23:45] smithkyle45 opened #49282 "Gallery Block - Overlapping buttons hiding the move image forward and backward options"
### Steps to reproduce the behavior

1. From `https://wordpress.com/home/`
2. Go to *Site > Pages*, enter any existing page or create a new one
3. Add a Gallery block with a minimum of 8 images
4. Adjust the block to display with 8 columns
5. Click on one of the images and try to reorder it within the set of images

#### What I expected to happen

Expected to see the "Move Image Forward" & "Move I

[2021-01-25 23:47] psealock commented on #49209
Yes, absolutely. We need to handle all 4 cases

[2021-01-25 23:54] katiebethbrown commented on #49063
Another report in 27258386-hc. User wasn't able to save the page changes because they weren't understanding the reusable block save options and kept closing them.

[2021-01-26 02:03] serabi commented on #48146
Yes, I do think the toggle would cover the use case sufficiently. Thanks for the tag!

[2021-01-26 05:33] p-jackson commented on #45412
I think centring the shortcode with the Classic Block is the right approach here. I think it makes sense given the user was previously aligning using the classic editor.

[2021-01-26 05:33] #45412 closed

[2021-01-26 06:18] supernovia opened #49284 "Private Sites: "Request an invite" does not send an invitation"
### Steps to reproduce the behavior

You will need a private site, and a separate test account that is not member of that site.

1. While logged into the non-member account, visit the private site.
2. Click "Request an Invite"

#### What I expected to happen
The site owner should receive an email notification

#### What actually happened
No notification was sent. I also checked our logs to see if

[2021-01-26 06:32] razvanpapadopol commented on #49253
This change could lead to confusion from UX perspective because until now only by explicitly pressing on a "Select" button, a plan would be selected (and added to cart when completing signup/launch). If the plan selection state is not immediately visible, doing the same action when a user interacts with the billing interval toggle doesn't feel transparent.

Perhaps we should apply this behavior on

[2021-01-26 06:53] thesacredpath commented on #49007
Another report here: #3676992-zen

[2021-01-26 06:58] p-jackson opened #49285 "Launch: layout of the domain upsell step is broken by long domain names"
### Steps to reproduce the behavior

1. Create a new site at `/start` using a very long domain name
2. Launch the site from the customer home
3. Proceed through the launch flow to the `domain-upsell` step

#### What I expected to happen
The upsell UI deals sensibly with a long domain name. Perhaps the price gets displayed underneath the domain, like it does on the mobile view?

#### What actually

[2021-01-26 07:30] razvanpapadopol commented on #49256
I agree and I propose we use this in both site creation and launch flows.

[2021-01-26 09:42] cpapazoglou commented on #49191
Sadly, WPAdmin is not a superset of features and doesn't include all Calypso features. It seems to me that we may have to extract that kind of features into different Calypso screens / menus first as mentioned here https://github.com/Automattic/wp-calypso/issues/47043

[2021-01-26 10:25] pyronaur opened #49291 "Jetpack.com - Statistics "Hourly View" image doesn't load"
### Steps to reproduce the behavior

1. Go to a site wp-admin
2. See error:

Looks like this might be happening because the image can't be loaded here:

[code]

Browser: Firefox 84.0.2

[2021-01-26 10:29] ciampo commented on #49256
I applied the suggested change in #49290

[2021-01-26 11:11] tjcafferkey opened #49292 "Ability to see CSS revisions"
### Steps to reproduce the behavior

1. On a site which has the Premium Plan head over to Appearance > Customizer
2. Open "Additional CSS" panel. _If this is your first time adding CSS here you will need to add some, save and refresh to enable the "CSS Revisions"._
3. Click "CSS Revisions" above the CSS editor
4. See new tab open with a "The page requested does not exist" error.

**Video**: [https

[2021-01-26 11:47] simison commented on #46696
@ianstewart @nosolosw:

- Are there plans for Global styles in core to support Headings/Base font separately instead of just one font?

    <img src="https://user-images.githubusercontent.com/87168/105841300-0d457900-5fdd-11eb-90b6-1a0cd95a2341.png" width="300"/>

- Is there a slot-fill in Global styles panel to easily add such quick-selector into that panel?
    <img src="https://user-images.gith

[2021-01-26 12:00] simison commented on #43224
@alaczek @ianstewart is this task still relevant?

[2021-01-26 12:26] #49190 closed, assigned to kjellr, MaggieCabrera

[2021-01-26 12:30] liviopv commented on #47830
Repro: https://d.pr/v/m8cdOA

[2021-01-26 12:35] simison commented on #43904
That's intentional 👍

@scruffian hi! is this a theme bug?

[2021-01-26 12:42] scruffian commented on #43904
I'll add it to the list...

[2021-01-26 12:46] devNigel opened #49299 "Masonry Block: Rendering issue on desktop with AMP Standard mode"
### Steps to reproduce the behavior

1. Go to AMP settings and Template mode is set to `Standard`.
2. Create a post or a page and add the Masonry block.
3. You will notice that the block rendering on live page is not as expected.

The workaround is to change AMP Template mode or disable AMP for the page or post.

#### What I expected to happen

AMP settings shouldn't affect the desktop view of Mas

[2021-01-26 13:00] cpapazoglou commented on #49110
Yes I can reliably replicate it by:
1) Click any Calypso submenu (like Themes, Marketing, All Posts)
2) Click "My Home"

Fixed in https://github.com/Automattic/wp-calypso/pull/49300

[2021-01-26 13:08] nagpai commented on #49238
The issue noted here impacts the ability of atomic users to access themes from the WordPress.org repository.

The current Appearance link seems to redirect to the erstwhile calypso theme page that only has WordPress.com themes and a theme upload button for third party themes. It does not show WordPress.org themes.

Users of Atomic plan would expect the ability to easily install WordPress.org Repos

[2021-01-26 13:51] StefanNieuwenhuis opened #49305 "Domain Picker: Update i8n for "Included with annual plans" copy"
Currently, the "included with annual plans" copy isn't translated correctly (see screenshot). This is because a ternary operator is included inside the `__()` method, which isn't allowed (it should only accept string literals). In order to make i8n operational, we have to update the rendering logic for the label.

#### Acceptance Criteria
* [ ] Whenever the user changes the language, the copy is t

[2021-01-26 14:10] davipontesblog commented on #49127
Reopening this one as the Jetpack update hasn't been merged to WoA yet, so the issue persists.

[2021-01-26 14:49] #49110 closed, assigned to cpapazoglou

[2021-01-26 15:06] Nic-Sevic commented on #49130
This also happens when in the Upgrades section and you select Purchases or Domains

![](https://d.pr/i/iDfZOu+)
Link to image: https://d.pr/i/iDfZOu
![](https://d.pr/i/R0jIVx+)
Link to image: https://d.pr/i/R0jIVx

[2021-01-26 15:13] Nic-Sevic opened #49309 "Nav Unification: Portfolio Project types/tags highlights wrong menu item"
### Steps to reproduce the behavior

1. Click Portfolio root item
2. Click Project types or Project tags
3. See how highlighted menu item switches to Posts

#### What I expected to happen
Portfolio would remain highlighted

#### What actually happened
Posts menu section was highlighted

<img width="1018" alt="1" src="https://user-images.githubusercontent.com/47717887/108841249-24798580-75e0-11eb-9

[2021-01-26 15:13] tyxla commented on #48408
Several more reduxification or cleanup PRs today:

* #49295 - Purchases - Reduxify domain cancelation notices
* #49297 - Shopping Cart: Reduxify notices in `CartMessages`
* #49298 - Purchases: Reduxify notices in `ChangePaymentMethod`
* #49302 - Purchases: Reduxify survey notice
* #49303 - Help: Reduxify notices in `HelpUnverifiedWarning`
* #49308 - Customizer: Remove unused notices

[2021-01-26 15:17] Nic-Sevic commented on #49209
Adding to this: If you click the Analytics item and then backout to the main dashboard the menu item switches to WooCommerce

initially: https://d.pr/i/ktjcCH

once clicked and backed out: https://d.pr/i/1amzUT

[2021-01-26 15:21] #49155 closed, assigned to nobody

[2021-01-26 15:24] Nic-Sevic opened #49310 "Nav Unification: menu highlight disappears in tabbed pages"
### Steps to reproduce the behavior

1. Click on a menu item with tabs in the page (ie posts, pages, settings, etc)
2. Click on one of the secondary tabs (ie drafts, scheduled, trashed)
3. See that highlight disappears from sidebar menu

#### What I expected to happen
highlight should stay as it does currently
<img width="659" alt="1" src="https://user-images.githubusercontent.com/47717887/1088413

[2021-01-26 15:43] mattsherman commented on #49209
@Nic-Sevic This is because the first screenshot (with the Analytics item) is the Calypso sidebar menu. The second one (with the WooCommerce item) is the wp-admin sidebar menu.

[2021-01-26 15:48] simison opened #49311 "Launch flow: 2nd domain sales step broken on mobile"
- Create a free site
- Launch it
- Continue on free option across regular domains step & plans step
- 2nd domain sales step doesn't look great on mobile:

Regular mobile devices:

<img width="453" alt="Screenshot 2021-01-26 at 17 45 39" src="https://user-images.githubusercontent.com/87168/105868149-886b5700-5ffe-11eb-8bc8-036d6fa45f5e.png">

Bigger screen mobile devices:

<img width="457" alt="Scr

[2021-01-26 16:14] ghost commented on #49157
Thanks for the ping!

While I agree that having the visual indicator makes the expected behavior clearer, I hesitate to say we should prioritize adding expand/collapse icons for our v1.

- The icons, as stated above, are not part of the existing wp-admin design language or interaction patterns. Adding them in will deviate visually and add another interactive element on top of the flyouts. How thes

[2021-01-26 16:16] lakellie opened #49313 "Mobile theme setting not accessible on simple sites"
On WordPress.com simple sites, there is a mobile theme that can be enabled or disabled. This is the same as the Jetpack mobile theme, which was already retired and removed from Jetpack, but it was never removed from simple sites, so it is still available, and we still do sometimes encounter users who have it enabled and would like to disable it.

The only way to access this is via wp-admin under A

[2021-01-26 16:19] ghost commented on #49178
I am all for removing the labels! We don't have them on any other menu at this time, so they seem a little random and don't seem to add much value here.

Could we still maintain a little bit of padding between 'Blocked sites' and 'Get apps'? Perhaps whatever the equivalent is between 'Products' and 'Jetpack' here:
<img width="412" alt="Screen Shot 2021-01-26 at 11 18 52 AM" src="https://user-image

[2021-01-26 16:25] #49082 closed

[2021-01-26 16:27] razvanpapadopol commented on #44239
paused for now: https://github.com/Automattic/wp-calypso/pull/49251#issuecomment-767592200

[2021-01-26 16:32] simison commented on #48867
I'll re-open since this is still in English in production, while we wait for solutions to get deployed.

[2021-01-26 16:56] ghost commented on #49177
The above comments may be more feedback about how intuitive the mobile views are, but I took a look at the window resizing with dev tools, and by manually resizing my window down to a mobile-size screen, and I noticed the menus weren't visible when I toggled them open/closed until I refreshed.

[2021-01-26 17:14] eduardozulian opened #49314 "Notice text goes missing once menu is collapsed"
Sites with a custom domain have a notice that nudges the user to register another URL:

<img width="296" alt="Captura de Tela 2021-01-26 às 13 57 49" src="https://user-images.githubusercontent.com/1136160/105879286-bcd01a80-5fe0-11eb-8b6e-efe7227e1bce.png">

That nudge, however, disappears when the menu is collapsed.

### Steps to reproduce the behavior

1. Select a site with at least one custom

[2021-01-26 17:15] ianstewart commented on #43224
Let's keep this one open as a request for more serif pairings. @kjellr and @sfougnier are looking currently at new pairing and font additions. (Note: these will eventually require UI updates but that's a good problem to have.)

[2021-01-26 17:24] ianstewart commented on #48881
— Jon's comment on the PR

Sounds like it might be worth pursuing a fix still? But I'll draft the pattern in the meantime until we swap out the block and/or find a fix.

[2021-01-26 17:28] ianstewart commented on #48883
Following this comment …

https://github.com/Automattic/wp-calypso/issues/48881#issuecomment-767698885

I've kept this pattern live but am removing it from the page layout picker for now.

[2021-01-26 17:41] ezebecke opened #49316 "Nav Unification: Comments panel not displaying when account is set to Spanish"
### Steps to reproduce the behavior

1. Start from a Simple Site.
2. Go to Account Settings and change interface language to Spanish
3. Go back to site dashboard
4. "Comentarios" label not displaying.

#### What I expected to happen

<img width="378" alt="Markup 2021-01-26 at 11 37 50" src="https://user-images.githubusercontent.com/24919469/105882174-f72ebd00-5fca-11eb-8e53-4b0a81dd6fdb.png">

###

[2021-01-26 17:48] ianstewart opened #49317 "Themes: Blank Canvas theme should not show page-layout modal when switching themes"
### Steps to reproduce the behavior

1. Navigate to Themes in Calypso
2. Click activate button for Blank Canvas theme to initiate theme switch
3. Note the dialog screenshotted below. It shouldn't appear with this theme.

![image](https://user-images.githubusercontent.com/545779/105883137-1c6ffb00-5fcc-11eb-8fff-0d1fb85ac71e.png)

#### What I expected to happen

As Blank Canvas does not have any sp

[2021-01-26 17:52] marcuswisecaesar commented on #49007
Another report here: #27280818-hc

[2021-01-26 18:15] oandregal commented on #46696
:wave: There's a few things here. Core is now in the middle of updating the component system and reviewing the design of the sidebars (starting with Global Styles in the Site Editor I believe), see https://github.com/WordPress/gutenberg/issues/27331 and https://github.com/WordPress/gutenberg/issues/27484 Until those efforts are settled, I don't think we'll start developing the mechanisms for 3rd p

[2021-01-26 18:19] simison commented on #46696
@nosolosw what if those extension-points would be `__experimental`, then it really wouldn't be official (and you wouldn't need to worry about any breakage)?

[2021-01-26 18:47] bsessions85 commented on #49250
Yes, @WunderBart  did a great job outlining the best way to do this. I'm happy to help where I can with this.

[2021-01-26 18:48] oandregal commented on #46696
The site editor is already experimental, so I presume that should be enough as far as UI extension goes. My larger point was that the GS sidebar is changing, so it seems best to wait until that dust is settled to avoid duplicated work.

[2021-01-26 18:56] obenland commented on #49127
Tickets usually get closed when the fix for them gets committed, even if they're not released yet. I understand it can feel like there's something missing when the bug is encountered after, but it keeps us from having to go back and bulk-close tickets after a release.

[2021-01-26 19:01] simison commented on #46696
@nosolosw I think it's fine (although I'm not familiar with details so bare that in mind!). It's generally more valuable for us on .com get all FSE flows into internal testing earlier (like, next month), rather than in a perfect-shape much later on. We're fully aware that it's a moving target and we're prepared for it. :-)

[2021-01-26 19:33] jeyip opened #49321 "Site Editor: TT1 theme provided templates don't load content"
### Description
For the TT1-blocks theme, the page template and single post template don't load properly in the site editor

### Steps to Reproduce
1. Select the tt1-blocks theme to enable the site editor
2. Navigate to the site editor
3. Open the navigation sidebar and select Templates > Pages > Page or Templates > Posts > Single

### Screenshots
<img width="644" alt="Screen Shot 2021-01-26 at 11

[2021-01-26 19:34] #49321 closed, assigned to jeyip

[2021-01-26 20:44] ghost commented on #49148
I'd like to suggest we remove the white fill and lighten the red and yellow so that they pass accessibility on the dark background. Alternatively, we could just remove the colored border on the icons and maintain the white fill.

<img width="1440" alt="desktop - contextual nudge-1" src="https://user-images.githubusercontent.com/67021691/105902180-4afdce00-5fec-11eb-9d23-33df58d82a12.png">
<img wid

[2021-01-26 21:00] ghost commented on #49149
I think we should keep the current form field + button treatment, and tweak the colors to align with the new navigation color scheme. See mocks:

<img width="1351" alt="desktop - reader" src="https://user-images.githubusercontent.com/67021691/105904741-81891800-5fef-11eb-98f9-eb1e6ab058bf.png">
<img width="1351" alt="desktop - reader-1" src="https://user-images.githubusercontent.com/67021691/10590

[2021-01-26 21:29] bluefuton commented on #49157
Thanks for explaining your rationale @sfougnier 👍

As there's going to be no other indicator of expansion state, please could we consider adding `aria-expanded` attribute for these menus as I mentioned above?

[2021-01-26 22:14] ianstewart commented on #48973
cc @kjellr @scruffian

[2021-01-26 22:28] apeatling commented on #49151
I've tried this on multiple sites and I can't reproduce. Is it related to the Stripe account? Can you try connecting a different account to check?

![2021-01-26 14 28 01](https://user-images.githubusercontent.com/1464705/105914133-be024700-5fe2-11eb-8872-974baebe10c8.gif)

[2021-01-26 22:31] apeatling commented on #49151
Can you retry connecting the Stripe account again?

[2021-01-26 22:49] sirbrillig commented on #49150
For some additional info, the component that displays the support link is [`CheckoutSummaryHelp`](https://github.com/Automattic/wp-calypso/blob/a7ee7a2af4b1bc56efebdb82212ba61dd44e15f7/client/my-sites/checkout/composite-checkout/components/wp-checkout-order-summary.js#L317) and the component that renders the upsell is [`CartFreeUserPlanUpsell`](https://github.com/Automattic/wp-calypso/blob/a7ee7a2

[2021-01-26 23:47] ollierozdarz commented on #49171
100%, @StefanNieuwenhuis. This is the way to go. It's fine that it's not side by side like the table above it. Let me know if you need any help styling it or a final review 🙂

[2021-01-26 23:51] donalirl commented on #38676
This is still happening. It has been for a long time but I just thought to open an issue for it.

A recent example can be seen in #27266077-hc.

Can this be revisited? cc @klimeryk

[2021-01-26 23:57] ollierozdarz commented on #49257
Hey @ciampo, exposing the toggled price on the summary view feels like the right option to me. I think in the future there's probably more we can do to make it more obvious from the summary screen, but to get this working for the impending launch (of the new Launch flow) it feels like the right choice 🙂

[2021-01-27 00:03] ollierozdarz commented on #49253
@ciampo would you mind providing a screenshot or video of what you're proposing so it's easier to follow please? 🙏

[2021-01-27 00:05] #49234 closed, assigned to nobody

[2021-01-27 00:20] obenland commented on #46139
I'm going to close this for now since the originally reported instances seem to work now. Please feel free to re-open if you come across a new instance.

[2021-01-27 00:20] #46139 closed

[2021-01-27 00:21] obenland commented on #47042
@lcollette Is this something Manage Design would feel comfortable updating?

[2021-01-27 00:38] obenland commented on #41326
The disconnect message seems to have been fixed with D42122-code.

I could reproduce the missing profile pic. That field was empty in the response from `wpcom/v2/me/connections`. I wonder if we're just not checking the right field to grab it.

[2021-01-27 00:56] obenland commented on #28145
@frontdevde Is this "just" a code review away from being fixed? Or is there something that's blocking (other than bandwidth of course) that needs documenting?

[2021-01-27 01:03] obenland commented on #44719
Removing the `auto=2` query arg from the full screen image URL fixed it for me. Not sure where that gets added, though. Needs investigation

[2021-01-27 02:09] lsl opened #49328 "New onboarding: Long titles displace nav bar elements at some breakpoints"
Similar problem to what we saw with #49061, this time I find long titles are able to squash the domain picker to an empty strange looking block and the "Site Language" text gets messed up (worse for Japanese with no space between words)

Fix likely needs to hide a portion of a long title and to hide it completely when there is not enough room (earlier than the mobile view where this currently happ

[2021-01-27 02:54] obenland commented on #45377
It looks like it's meant to be cut off: https://wordpress.com/calypso/images/sharing/connections-instagram.png

Introduced in #44809. @sixhours can you confirm it's intentional?

[2021-01-27 07:39] aneeshd16 commented on #49311
FYI https://github.com/Automattic/wp-calypso/issues/49285 is another bug related to the same screen and also needs some design guidance. 🙂

[2021-01-27 08:25] frontdevde commented on #49173
I've been thinking about this one for a while. While this is something we could do, I'm not certain we should. In the end, I think this boils down to us needing a senior stakeholder decision here. Let me try to explain:

The goal of Nav Unification is to unify the Calypso experience with wp-admin. From the beginning the look & feel of wp-admin in core informed the design direction of Nav Unificati

[2021-01-27 08:31] pauljacobson opened #49332 "Gutenberg: Poor block rendering in Chrome and Firefox"
Our customer reported that their site's Home page is not rendering correctly when they view the public-facing version of the page. By contrast, the editor view looks as they'd expect it.

I loaded the Home page on Firefox, Chrome, and Safari, and only Safari seemed to render the page correctly. Both Firefox and Chrome rendered the page poorly, and I wasn't able to determine why.

### Steps to repr

[2021-01-27 08:40] cpapazoglou commented on #49173
Also, bare in mind that we will be preparing a welcoming modal that is designed with the dark color as default https://github.com/Automattic/wp-calypso/issues/47049#issuecomment-732479799

[2021-01-27 08:42] StefanNieuwenhuis commented on #49171
Awesome @ollierozdarz! Thanks for your reply.

[2021-01-27 08:54] swoodipto commented on #46077
Another report: 3687247-zen

The profile picture change in Calypso did not update in WP Admin, guided them to manually change it from WP Admin → Users → Profile.

[2021-01-27 08:58] frontdevde commented on #49173
CC'ing @obenland @davemart-in for direction on the above.

[2021-01-27 09:09] getdave commented on #47043
## Missing Settings and Users screens discussion:

Just so _this_ Issue remains on topic for `Method to opt our of Calypso links` let's continue the discussion about sorting out the missing settings pages over at https://github.com/Automattic/wp-calypso/issues/49262.

Thanks 🙇

[2021-01-27 09:11] getdave commented on #49262
I agree with what @obenland mentioned in https://github.com/Automattic/wp-calypso/issues/47043#issuecomment-766963036 that we need to find a way to unify the settings screens rather than expect users to switch between Calypso and WPAdmin.

This is on Ajax's radar and will be tackled in due course.

No requirement for design work at the moment @sfougnier.

[2021-01-27 09:18] p-jackson commented on #49169
Found a way to test using old translation bundles pxLjZ-6j7-p2. However I still wasn't able to reproduce 😕
It's a little unsettling, but I'm going to close this issue now since I don't think we can make any more progress on it, and I don't want to give the impression that it's on anyones radar.

If it is still a problem for someone then please reopen posthaste!

[2021-01-27 09:27] getdave commented on #49147
Thanks @enejb. This is now on our radar to fix.

[2021-01-27 09:45] hacchism opened #49336 "Manage Purchases: No Cancel & Refund option appears for Quick Start session sub"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/purchases
2. Click on the Quick Start session subscription within 14 days from purchase

#### What I expected to happen

See Cancel & Refund option as explained in the "**How do I get a refund for an unused session?**" section in https://wordpress.com/support/quickstart-support/

#### What actually happened

No Cancel & Refund

[2021-01-27 10:09] druesome opened #49337 "Premium Content Block: VideoPress videos in Premium Content block shows "This block contains unexpected or invalid content" error"
Videos hosted on VideoPress that are placed inside the Subscriber View in the Premium Content block shows this error:

`This block contains unexpected or invalid content`

Pressing "Attempt Block Recovery" gets the video to show up, but upon the refreshing the editor, the error shows up again.

### Steps to reproduce the behavior
1. Upload video on site with Premium Plan or higher, making sure it

[2021-01-27 10:23] Agepeuve opened #49338 "Update needed for Two-Step authentication in Dominican Republic"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/me/security/two-step
2. Click on Get Started
3. Look for the country code of the Dominican Republic
4. You should be able to pick between +1809, +1829, and +1849
5. Right now, you can only select "+1809".

#### What I expected to happen

I was expecting to be able to use the Two-Step authentication with numbers that have the +1829

[2021-01-27 10:39] ciampo opened #49339 "Plans Grid: persist value of the billing period in store"
## What

Persist in the launch store the `billingPeriod` (at the moment it always "resets" to annual)

## Why

This would improve the UX around plans selection, and avoid confusion in the user

## A/C

- [x] When showing the plans grid, the initial value of the annual-vs-monthly toggle should be:
   - [x] The same as the billing period of the currently selected plan (if there is one in the launch

[2021-01-27 11:01] simison commented on #49169
This might've been real issue related to Webpack 5 and popped up again, slack thread: p1611737961102100-slack-luna

[2021-01-27 11:21] davemart-in commented on #49173
Thanks for recapping!

That is correct. The primary goal here being for us to align with what the default is in core. Unity with core (and thus every book, article, video recorded in the last 5 years) is top of mind. If we want the default in Dotcom to be bright blue, we'll need to propose this change in core first.

[2021-01-27 11:23] simison commented on #48867
Sorted in https://github.com/Automattic/wp-calypso/pull/49170, some follow-ups in https://github.com/Automattic/wp-calypso/issues/49097

[2021-01-27 11:23] #48867 closed, assigned to lsl, deBhal

[2021-01-27 11:24] simison commented on #49097
@lsl this would prolly be good to track as its own issue since it's more about UI and less about the infra-work in mshots.

[2021-01-27 11:26] andrewserong commented on #48881
Thanks Ian, much appreciated!

Yes, particularly for #48883 given that the Map block is under our care, it'd be good to get to the bottom of how best to get blocks that depend on JS to update their front end rendering to play nicely in iframes. I'm pleased that we can at least hide the errors in the meantime.

Let's keep these issues open, and we can add more context as we learn more.

[2021-01-27 11:28] #48709 closed, assigned to cpapazoglou

[2021-01-27 11:28] simison commented on #49317
Guestimate on requirements:

• register a new recommended term
• update calypso to use that term for listing recommended themes
• and keep the auto-loading homepage term for doing the job of telling calypso “this theme can just add a homepage” (for now)

via slack-dotcom-create-p1611683693057900

[2021-01-27 11:35] flootr opened #49340 "Plugins: Update plugins button does not disappear after updating"
### Steps to reproduce the behavior

Get a connected Jetpack site with one or several outdated plugins.

1. Go to `/plugins/manage/:site`
2. Click on `Update x plugin(s)` (top right)

#### What I expected to happen

The `Update plugins` button should disappear.

#### What actually happened

The `Update plugins` button doesn't disappear.

### Context

This is probably related to the recent plugin r

[2021-01-27 12:09] tjcafferkey commented on #49292
@Automattic/ajax any ideas on this? Here's what I (think I) know so far...

* It works on the non-unified nav accounts for premium websites (non a8c accounts)
* `editcss` is not getting added as a sub menu page to `$_registered_pages`
* I am guessing [this method](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/custom-css/custom-css.php#L902-L909) is responsible

[2021-01-27 12:51] ciampo commented on #49257
Thank you @ollierozdarz ! We'll go ahead and show the monhtly prices of each plan in the summary view, if the user selected a monthly plan.

[2021-01-27 12:56] mmtr commented on #49292
@tjcafferkey You're in the right direction! I'd say that the `editcss` page is likely registered correctly via the methods you found and then removed [here](https://github.com/Automattic/jetpack/blob/53b06df61656b306931cec6e3ded2a64c4234831/projects/plugins/jetpack/modules/masterbar/admin-menu/class-admin-menu.php#L369) when customizing the Appearance menu entries when the Nav Unification is enabl

[2021-01-27 13:24] cpapazoglou commented on #49292
Since this is a high priority for HEs, lets try to:

- either create a cherry pick commit for Jetpack 9.4
- or create the Jetpack commit that will be merged in 9.5 and deploy a wpcomsh hotfix

[2021-01-27 13:33] tyxla commented on #49340
Great find @flootr! Seems like this is a bug in our `getPlugins` selector. Fix incoming.

[2021-01-27 13:36] tyxla commented on #49340
Fix: #49342

[2021-01-27 13:44] mmtr commented on #49292
cc @jeherve for awareness that we may need to include a fix for this on Jetpack 9.4

[2021-01-27 13:52] ciampo commented on #49253
Hey @ollierozdarz , here's an example of what Razvan and I referred to:

![image](https://user-images.githubusercontent.com/1083581/106000496-2b7ba980-60af-11eb-8be8-640709c628e7.png)

Let us know if you need further clarifications!

[2021-01-27 13:56] #49305 closed, assigned to StefanNieuwenhuis

[2021-01-27 14:15] frontdevde commented on #49173
Thanks for chiming in! I'm closing the issue as the current implementation matches stakeholder expectations.

[2021-01-27 14:15] #49173 closed, assigned to nobody

[2021-01-27 14:21] #49340 closed, assigned to tyxla

[2021-01-27 14:26] thabotswana commented on #49007
Another report here: 3687664-zen

[2021-01-27 14:27] getdave commented on #49291
<img width="568" alt="Screen Shot 2021-01-27 at 14 26 35" src="https://user-images.githubusercontent.com/444434/106005029-b65aa500-60ab-11eb-9a12-32226fa33e8a.png">

I'm not seeing that. @Automattic/ajax can anyone else replicate this?

[2021-01-27 14:32] pyronaur commented on #49291
I wonder if this was cache related. I'm no longer able to reproduce this myself.

[2021-01-27 14:58] ghost commented on #49262
I'll be taking a look into the toggle issue from a UX perspective, so I'd love to work with whoever picks this one up. If whoever picks this up could ping me, I'd be happy to collaborate on this one.

[2021-01-27 14:58] razvanpapadopol commented on #49257
Found some i18n issues. Here is a comparison with reskinned:

### Monthly plans:
* "monthly" translation is not the same
* "annually" is not translated
* "Save xx% by paying anually" is not translated

#### `/new` on live:
<img width="1235" alt="Screenshot 2021-01-27 at 16 40 14" src="https://user-images.githubusercontent.com/14192054/106007625-2cb4d280-60bf-11eb-991c-7d3beec49272.png">
#### `/sta

[2021-01-27 15:01] sixhours commented on #45377
👋 Yes, as far as I remember that's meant to be a screenshot of the widget on a site (which will look different depending on the theme), not a live preview. I could see a case for removing the post text in a future PR to reduce confusion, but the image is not meant to be full size to save space.

[2021-01-27 15:11] razvanpapadopol commented on #49142
Fixed in D55944-code

[2021-01-27 15:11] #49142 closed, assigned to alshakero

[2021-01-27 15:18] cpapazoglou commented on #49232
FWIW, we are dynamically manipulating the menus of Atomic sites (both for Calypso and WPAdmin) here in Jetpack https://github.com/Automattic/jetpack/blob/c8aba01cf5f9ceb2d76b69943637ade334ca3fbb/projects/plugins/jetpack/modules/masterbar/admin-menu/class-atomic-admin-menu.php#L13.

If there is eventually a need to make changes in `wpcomsh` here `/feature-plugins/masterbar.php:151` is probably the

[2021-01-27 15:36] cpapazoglou commented on #49042
Closing as duplicate of https://github.com/Automattic/wp-calypso/issues/49120

[2021-01-27 15:36] #49042 closed, assigned to nobody

[2021-01-27 15:45] retrofox commented on #48841
Hi, there. I tried to reproduce the issue following the flow described, and it wasn't possible. It doesn't show me the notice bar about upgrading the plan. I tested using the `Jetpack Security Daily` plan.
I'll try again.

[2021-01-27 15:49] nickpagz commented on #38807
I encountered this as well, user was able to add a Jetpack pro plan and continue using the Atomic site for six months!!!
#21470039-hc

[2021-01-27 15:55] gibrown opened #49345 "Nav Unification: the Jetpack > Search page is missing from the sidebar"
### Steps to reproduce the behavior

1. Go to any site
2. Hover or click on "Jetpack"

#### What I expected to happen

Our landing page for Jetpack Search should be there. https://github.com/Automattic/wp-calypso/tree/trunk/client/my-sites/jetpack-search

#### What actually happened

<img width="456" alt="Screen Shot 2021-01-27 at 8 50 49 AM" src="https://user-images.githubusercontent.com/820871/1

[2021-01-27 16:02] getdave commented on #49232
@mattsherman @ilyasfoo Do keep us in the loop with any PRs you produce and we can provide confidence check on the technical direction so as to save you headaches down the line.

[2021-01-27 16:04] Sandkorner commented on #25972
Reopening this, as you still cannot see the poll in the reader or even a poll link.

Website look:
<img width="1006" alt="Poll on Website " src="https://user-images.githubusercontent.com/71094068/106018290-06486480-60ca-11eb-8224-c6c45e55c33a.png">

Reader look:
<img width="1020" alt="Poll in Reader" src="https://user-images.githubusercontent.com/71094068/106018313-0e080900-60ca-11eb-98ec-aefd3957

[2021-01-27 16:10] kbrown9 commented on #48841
Hmm, I just retested on a site with Security Daily Monthly, and I'm still seeing the notice to upgrade to a Business plan, exactly as shown in the screenshot.

Are you seeing the previews?

[2021-01-27 16:19] retrofox commented on #48841
sorry, I got it!
![image](https://user-images.githubusercontent.com/77539/106020156-367c0d00-60a2-11eb-9ff2-288980923331.png)

Thanks

[2021-01-27 16:45] #49123 closed, assigned to cpapazoglou

[2021-01-27 17:00] synora commented on #13061
Closing as Store has been deprecated.

[2021-01-27 17:00] #13061 closed

[2021-01-27 17:03] synora commented on #13062
Closing as Store has been deprecated.

[2021-01-27 17:03] #13062 closed

[2021-01-27 17:08] synora commented on #15498
Closing as Store has been deprecated.

[2021-01-27 17:08] #15498 closed

[2021-01-27 17:09] synora commented on #13617
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:09] #13617 closed

[2021-01-27 17:10] synora commented on #13668
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:10] #13668 closed

[2021-01-27 17:11] synora commented on #13845
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:11] #13845 closed

[2021-01-27 17:12] synora commented on #14005
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:12] #14005 closed

[2021-01-27 17:13] getdave commented on #49120
I haven't forgotten about this. The p2 is nearly ready. It's required a bit of digging.

[2021-01-27 17:14] synora commented on #14760
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:14] #14760 closed

[2021-01-27 17:14] synora commented on #14962
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:14] #14962 closed

[2021-01-27 17:15] synora commented on #15772
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:15] #15772 closed

[2021-01-27 17:16] synora commented on #16441
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:16] #16441 closed

[2021-01-27 17:16] synora commented on #16441
Closing as Store has been deprecated.

[2021-01-27 17:17] synora commented on #16832
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:17] #16832 closed

[2021-01-27 17:18] synora commented on #16833
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:18] #16833 closed

[2021-01-27 17:19] synora commented on #43529
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:19] #43529 closed

[2021-01-27 17:21] synora commented on #45861
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:21] #45861 closed

[2021-01-27 17:22] synora commented on #46773
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:22] #46773 closed

[2021-01-27 17:23] synora commented on #47018
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:23] #47018 closed

[2021-01-27 17:24] synora commented on #47365
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:24] #47365 closed

[2021-01-27 17:24] ianstewart opened #49350 "Site Editor: Beta tab displays HTML in Calypso sidebar"
### Steps to reproduce the behavior

1. [Create a site on Horizon with the Site Editor](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor)
2. Navigate to Calypso
3. See error in bottom left of the screenshot below

![image](https://user-images.githubusercontent.com/545779/106028965-370ca780-6092-11eb-9716-3fe4fc0cd275.png)

[2021-01-27 17:25] synora commented on #48131
As per the labels, this is related to Store. We're sunsetting Store by Feb 2021. Closing it in favor of that.

[2021-01-27 17:25] #48131 closed, assigned to nobody

[2021-01-27 17:32] cpapazoglou commented on #49120
I have digged into it. This is the menu appearing for a Jetpack site

![](https://cln.sh/ZPFio1+)

and here are the links

[code]

I just have two questions:
1) Is it possible that the Jetpack menu changes per product purchased?
2) Are we keeping the `WP Admin` link?

[2021-01-27 17:34] synora commented on #35633
@apeatling 👋  Is this issue still worth pursuing or can it be closed?

[2021-01-27 17:38] synora commented on #37052
@apeatling 👋 I'm triaging the queue at the moment and noticed this issue. Are there plans to fix this and all the issues in the related MIlestone?

[2021-01-27 17:45] jeherve commented on #49120
Yes:
https://github.com/Automattic/jetpack/blob/e13487d0dbbe4c743739b6f1a3e37c143a8c2614/projects/plugins/jetpack/modules/scan/class-admin-sidebar-link.php#L72-L80

I think we should, yes, for folks not using Nav Unification in wp-admin (non-Atomic users).

[2021-01-27 18:02] synora commented on #36649
Noting that I'm unable to replicate the initial issue. The second issue about the Classic Block and the small image has been resolved at https://github.com/Automattic/themes/pull/1547. Closing this issue as I'm unable to replicate the initial issue.

[2021-01-27 18:02] #36649 closed

[2021-01-27 18:15] frontdevde commented on #48009
### List of reported issues (in order of reports)
---
#### Calypso /me/account
- [x] Fix selected state of menu items
- [x] Test in
  - [x] Classic Blue
  - [x] Contrast
  - [x] Light
  - [x] Aquatic
---
#### Contrast color scheme
- [x] Add divider to sidebar in
  - [x] Calypso (wp-calypso)
  - [x] wp-admin (Jetpack)
- [x] Test in
  - [x] Contrast
 ---
#### Calypso /read
- [x] Fix unread count nor

[2021-01-27 18:15] cpapazoglou commented on #49120
Thanks @jeherve for chiming in. The code you posted is for the WPAdmin interface. I wonder if we were doing the same in Calypso.
Currently I get the following without having bought any as a product.

![](https://cln.sh/rHgPBx+)

Each sections has a upgrade nudge

![](https://cln.sh/F0Y1BP+)

[2021-01-27 18:16] pbking commented on #43904
From what I can tell this is a theme issue and seems to be specific to Redhill.  (Contrary to the notes in the description testing with Brompton show that the header/base fonts follow the settings in the Style Editor.) So far Redhill is the only theme that I have noticed this issue in, however I have thus far only evaluated some of the Varia child themes.  (Varia itself is also not experiencing th

[2021-01-27 18:18] cpapazoglou commented on #49120
I have filed a PR https://github.com/Automattic/wp-calypso/pull/49352. We can change the menus as requested.

[2021-01-27 18:27] obenland commented on #49350
Let's add a case to [`parse_update_count()`](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/_inc/lib/core-api/wpcom-endpoints/class-wpcom-rest-api-v2-endpoint-admin-menu.php#L332) that strips HMTL tags if the title begins with one or truncates the title before the first HTML tag to remove any unexpected badges.

[2021-01-27 18:33] worldomonation opened #49353 "Gutenboarding: Entering example.com in domain search shows domains that look like internal attributes"
### Steps to reproduce the behavior

Prereq. User is signed in.
Prereq. User language is set to English.

1. Add new site (initiate Gutenboarding).
2. Enter any site name in the initial Gutenboarding step.
3. Clear existing domain suggestion and enter `example.com`.
4. Select `object.id` domain name and click next.

#### What I expected to happen
3. I would not expect `.id` domains to show up.
4.

[2021-01-27 18:37] pbking commented on #43904
One potential option for a fix might be: https://github.com/Automattic/themes/pull/3123

[2021-01-27 18:39] synora commented on #38441
@cathymcbride 👋 [This comment](https://github.com/WordPress/gutenberg/issues/20515#issuecomment-716822025) says the functionality has been removed in core and also suggested a plugin that resolved this issue.

Since that issue is closed, can we close this one as well?

[2021-01-27 18:49] synora commented on #42772
Closing in favor of [#38640](https://github.com/Automattic/wp-calypso/issues/38640)

[2021-01-27 18:53] synora commented on #38640
I'm unable to replicate this as of today. The Social Icons Block is working as expected.

[2021-01-27 18:53] #38640 closed

[2021-01-27 18:54] synora commented on #42772
The block works as expected so I've closed a related issue ([ #38640](https://github.com/Automattic/wp-calypso/issues/38640)). Keeping this enhancement request open.

[2021-01-27 19:00] synora commented on #38788
Noting that I'm still able to replicate this issue. I've tested with Twenty-Twenty and Twenty-Twenty One themes.

[2021-01-27 19:00] cathymcbride commented on #38441
@synora Yes. Let's.

[2021-01-27 19:04] synora commented on #39053
The block supports Patreon now, but Apple icon has been removed from the list of supported icons.

We can keep this open as a feature request/enhancement to add the Apple icon again as well as the iTunes icon.

[2021-01-27 19:15] cathymcbride commented on #47695
Should be fixed in Gutenberg 9.9

[2021-01-27 19:20] synora commented on #38929
https://github.com/WordPress/gutenberg/issues/18704 has been closed.
I'll close this one in favor of https://github.com/Automattic/wp-calypso/issues/49007

[2021-01-27 19:20] #38929 closed

[2021-01-27 19:21] Sandkorner opened #49355 ""My home" overflows to a site without a title"
### Steps to reproduce the behavior

1. Go to a private site you have.
2. Click on "Links" or "Feedback" , "Private" changes, "Redirect" option appears, another broken link of "Hourly views" pops up (see below images)
3. Click on any other navigation item in the sidebar, that should look normal.

It seems that the "Links" & "Feedback" have some problems. As both are WP-Admin links, I guess they ar

[2021-01-27 19:25] cathymcbride commented on #49332
@pauljacobson are there repro steps you used to recreate this on the other themes? If so, it would be great if you could add those.

[2021-01-27 19:27] kristenzuck commented on #49048
Added this as a comment on the internal Happiness announcement, but as part of adding it to Gutenboarding, it'd be great to add a few guiding suggestions about how to use/learn more on Blocks and Patterns on the screen after activation :)

[2021-01-27 19:29] worldomonation commented on #49353
Not sure why the title was cut off, but I have fixed it.

[2021-01-27 19:35] worldomonation opened #49357 "Gutenboarding: selecting Store feature should trigger suggestion of Business or eCommerce plans"
### Steps to reproduce the behavior

Prereq. User language is set to English.
Prereq. User is logged in.

1. Initiate Gutenboarding.
2. Select any domain.
3. Select any layout.
4. Select any font.
5. In the features page, select `Store`.
6. Click next.

#### What I expected to happen
Since Store is only supported with Business or eCommerce plans, those plans should be suggested first.

#### What a

[2021-01-27 19:48] metabreakr commented on #45881
603044-hc

[2021-01-27 20:01] tbradsha opened #49358 "Unable to move page to draft on an unlaunched Coming Soon site"
### Steps to reproduce the behavior

1. Create a new site. Do not launch it.
2. Create a new page or post. Publish it in any status (public, private, or password-protected).

There should be a way to set a page or post to draft again prior to launch, but there isn't without going to WP Admin. This is also the case with existing posts/pages that are already published.

Note that if one launches, th

[2021-01-27 20:12] razvanpapadopol opened #49360 "New Onboarding: navigation doesn't work when landing from an external page"
### Steps to reproduce the behavior

1. Go to wordpress.com/new/design
2. Click on Domain Nudge in the header. Domain selection modal will open
3. Click on _Use a domain I own_ button. You will be redirected to an external flow
4. Go back to the Domain selection modal
5. Try closing the modal

#### What I expected to happen
I should land on the previous step in the onboarding (Design selection in

[2021-01-27 20:31] #48337 closed, assigned to tjcafferkey

[2021-01-27 20:32] razvanpapadopol commented on #49353
This is not the case also on `/start` flow. I guess checking the availability for all domain suggestions before the user tries to select them was decided to be a waste of resources / bandwidth.
cc: @Automattic/cobalt

<img width="1071" alt="Screenshot 2021-01-27 at 22 25 21" src="https://user-images.githubusercontent.com/14192054/106049213-94cedd00-60ee-11eb-8b8e-fcf6a8c24a98.png">

Yes, indeed. I

[2021-01-27 20:42] razvanpapadopol commented on #43340
A solution for this issue has been implemented in #45698
Feel free to re-open if it's not acceptable. We can also open a follow-up issue for improvements.

[2021-01-27 20:42] #43340 closed

[2021-01-27 21:09] tyxla commented on #24148
Importers have been reduxified by the aforementioned PRs. Closing.

[2021-01-27 21:09] #24148 closed

[2021-01-27 21:12] worldomonation commented on #49353
Interesting, I did not know that!

Should I update the bug title to reflect that the issue seems to be different results between `/start` and `gutenboarding` flow?

I have also uploaded a video recording of the flow in question.

[2021-01-27 21:21] bluefuton commented on #25972
@Sandkorner sounds like a regression. Does this affect Crowdsignal polls _and_ surveys, or just surveys (like the original issue)?

[2021-01-27 21:46] #49150 closed, assigned to sirbrillig

[2021-01-27 21:52] apeatling commented on #35633
I'm going to add a new note in our backlog for the slide block, closing this one.

[2021-01-27 21:52] #35633 closed

[2021-01-27 21:57] metabreakr opened #49364 "Nav Unification — Cannot access "Settings → Hosting Configuration" when disabling masterbar"
### Steps to reproduce the behavior

1. Install the Code Snippets plugin: https://wordpress.org/plugins/code-snippets/
2. Create a new snippet called "Hide WPCOM Admin Toolbar"
3. The snippet code can be found in the FG, though I have copied it below.
4. The "Settings → Hosting Configuration" link is missing, as shown here: https://d.pr/i/zPnQnj/XWLspKGmUA

Code snippet:

[code]

#### What I expec

[2021-01-27 21:59] razvanpapadopol commented on #49353
No, adding this information to the description should be enough to help with debugging.

[2021-01-27 22:07] mattsherman commented on #49232
Will do!

[2021-01-27 22:17] annacmc commented on #37055
Closing up as the business themes and 'Our team template' for the business themes have been retired, additionally, fixes at https://github.com/Automattic/themes/issues/1521 and https://github.com/WordPress/gutenberg/pull/24468 will likely have resolved this issue.

[2021-01-27 22:17] #37055 closed

[2021-01-27 22:29] annacmc commented on #40348
Closing this up in favor of core issue opened upstream at https://github.com/WordPress/gutenberg/issues/18095 @bsanevans if you're wanting to follow up with the user, there is progress being made on this request over in that thread you can follow.

[2021-01-27 22:29] #40348 closed

[2021-01-27 22:43] obenland commented on #49316
It looks like the pending comments bubble is preceding the menu item title, contrary to how it's set up in English or other languages.

This should fix it in `WPCOM_REST_API_V2_Endpoint_Admin_Menu::parse_update_count()`
[code]

[2021-01-27 22:45] sirbrillig opened #49368 "Checkout: products in URL remain in browser history and can recreate cart accidentally"
Checkout URLs encode data to add to the shopping cart. If someone pressed "back" or in some other way reloaded checkout when they had used a URL to get there, they could end up purchasing the same products again accidentally.

One possible solution would be to have checkout change its own url to remove the product data after it updates the cart.

so `/checkout/premium` would become `/checkout` aft

[2021-01-27 22:54] sirbrillig opened #49369 "Checkout: Changed tax details do not override domain purchase"
Related to https://github.com/Automattic/wp-calypso/issues/43265

Steps to reproduce:

- Purchase a domain name using checkout.
- After the purchase is complete, add a plan to your cart and visit checkout.
- Verify that the contact details fields request only postal code and country and that they are pre-filled with the information you entered during the previous checkout.
- Modify the postal code

[2021-01-27 23:32] mattwiebe commented on #48973
This will be fixed by D56110-code - notes in there on possible different approaches, unsure how @Automattic/theam would like this to land.

[2021-01-27 23:40] annacmc commented on #41860
Reproduced in both wpcom, wporg/local environments on Chrome Version 88.0.4324.96 (Official Build) (x86_64) and Safari Version 14.0.2 (16610.3.7.1.9)

**Interesting additional notes:**

- The same issue does not occur with regular HTML tests. Only when copying block code out of 'code view' such as ``

- If you follow on from the provided steps to replicate with the following:

1. Return to the pag

[2021-01-27 23:43] obenland commented on #45483
@Nic-Sevic I tried reproducing this with a star or poll block and the color bubbles show up fine on my end? Is this something that still happens for you?

[2021-01-28 00:05] obenland commented on #45695
I don't know if Woo has any Jetpack compatibility layer, but adding that role to Jetpack's `count_roles` settings feels like a good fit for that.

@simison Who'd be a good person to ping on the WooCommerce side?

[2021-01-28 00:07] obenland commented on #38030
@niranjan-uma-shankar Have you had a chance to take a look at this?

[2021-01-28 00:26] obenland commented on #38082
@dwolfe Is this still an issue or can the ticket be closed?

[2021-01-28 00:33] obenland commented on #45891
We should check if this is an issue with Gutenberg itself and report upstream if it is

[2021-01-28 00:37] obenland commented on #38097
I'm not sure what this is referring to I'm afraid. Is this test flow active now? What's the best way to reproduce?

[2021-01-28 00:45] sarayourfriend commented on #33385
Shall we just copy what's in the README?

https://github.com/automattic/wp-calypso/blob/6037b345736168b583ea0c7a4fd06729338841c0/README.md#L35

[2021-01-28 00:46] obenland commented on #38788
@Automattic/evergreen Is this something you've come across before or could possibly help out with?

[2021-01-28 00:49] obenland commented on #40951
@carinapilar Is this something you can still reproduce?

In my testing I was able to select the image just fine, with the focus lines showing up as expected:

![image](https://user-images.githubusercontent.com/1398304/106073813-9c2ac200-60bf-11eb-86c1-02cd5703324e.png)

[2021-01-28 00:54] worldomonation opened #49374 "Opening Gutenberg editor sometimes triggers error messages on Chrome and Firefox"
### Steps to reproduce the behavior

Prereq. there is an existing Post or Page.
Prereq. on Firefox, enable Enhanced Tracking Protection.

1. Select a site.
2. On the sidebar, click on Posts or Pages.
3. Click on Add New (page or post).
4. Quickly navigate back.
5. Open the existing page or post.

#### What I expected to happen
Clicked page or post opens in the Gutenberg editor as soon as feasible,

[2021-01-28 00:55] worldomonation opened #49375 "Subscription Block: this block contains unexpected or invalid content"
### Steps to reproduce the behavior

1. Initiate Gutenboarding with any name and domain.
2. Choose `Leven` theme.
3. Wait until site is created.
4. Edit Home Page
5. Scroll down to the `Subscribe to Our Newsletter` section.

#### What I expected to happen
Block does not show error.

#### What actually happened
Block shows error message:
`This block contains unexpected or invalid content.`

In the

[2021-01-28 01:10] worldomonation commented on #49337
I wonder if my issue #49375 is related; that one is with Subscription Block on Leven theme.

[2021-01-28 01:39] obenland commented on #37916
Related #38510

[2021-01-28 01:44] worldomonation opened #49377 "Customizer: "we're sorry, an unexpected erorr has occurred" shown with WooCommerce-enabled site"
### Steps to reproduce the behavior

1. Create new site with Leven theme.
2. Upgrade to eCommerce plan.
2. Click on Appearance > Customizer.

#### What I expected to happen
Customizer loads without error.

#### What actually happened
Splash with `We're sorry, an unexpected error has occurre` is shown.
The page reloads automatically and the Customizer is then loaded.

### Context
User scenario manu

[2021-01-28 01:55] lsl opened #49378 "Create e2e test to confirm onboarding shows translations when switching from calypso"
@razvanpapadopol raised a good point about needing an e2e test to confirm translation is loading properly through [locale-context](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/gutenboarding/components/locale-context/index.tsx).

pbxNRc-vn-p2#comment-1511

[2021-01-28 02:00] lsl commented on #49378
@Automattic/i18n No pressure just added to your roadmap in case you're able to get to this first.

[2021-01-28 02:02] obenland commented on #45966
This seems to be theme-specific? I was able to reproduce with Twenty Twenty but not with Spearhead for example.

There's a theme compat style that is supposed to fix it but doesn't seem to work (anymore): https://github.com/Automattic/jetpack/pull/16138

@scottsweb Do you think you could take another look at this?

[2021-01-28 02:05] deancroyal opened #49379 "Nav Unification: "Me" menu items do not change color after being selected"
### Steps to reproduce the behavior

1. Go to My Profile. (wordpress.com/me)
2. Click on Account Settings (or any other menu item within /me).

#### What I expected to happen
After clicking the menu item, I expected to see the menu item change to blue (matching /home menu item behavior).

#### What actually happened
After clicking the menu item, it remained black, exactly like the hover state.

##

[2021-01-28 02:05] obenland commented on #46114
@roo2 @ramonjd  Is this something you'd want to take another look at?

[2021-01-28 02:11] ramonjd commented on #46114
Thanks for the ping @obenland

I think it's better suited to the Create Gardeners board for triage. I'll add it :)

[2021-01-28 02:51] annacmc commented on #41860
Closing this up as a new issue has been opened in the Gutenberg repo at https://github.com/WordPress/gutenberg/issues/28537 for this.

[2021-01-28 02:51] #41860 closed

[2021-01-28 03:29] p-jackson commented on #45127
This has moved to the theme dev board, so moving off the maintenance board

[2021-01-28 03:33] supernovia commented on #11116
I found an instance of this, I think, here:
https://wordpress.com/forums/topic/list-of-subscribers-to-blog/

Some email followers are showing and some are not.

[2021-01-28 03:34] supernovia commented on #11116
Here is another case where some email followers are not showing on the list:
https://wordpress.com/forums/topic/problems-with-subscriber-registrations/

[2021-01-28 04:04] deancroyal opened #49381 "Nav Unification: page load auto-scroll issue after menu item selection"
### Steps to reproduce the behavior

1. Go to 'My Home' (wordpress.com/home)
2. Scroll to the bottom of the My Home page.
2. Click on 'Stats' within the menu (wordpress.com/stats/day)
3. Stats page loads, but scrolled to the bottom; does not auto-scroll to the top.

#### What I expected to happen
I expected the Stats page to load and auto-scroll to the top.

#### What actually happened
The Stats p

[2021-01-28 04:06] p-jackson commented on #45562
Reported here godaddy-wordpress/coblocks#1808

[2021-01-28 04:38] niranjan-uma-shankar commented on #38030
I haven't yet gotten a chance to look into it. I've added this issue to our project board to track.

[2021-01-28 05:32] lsl opened #49382 "New Onboarding: Improve design preview layout"
#49170 introduced landscape design previews for onboarding's `/new/designs`. @simison [noticed](https://github.com/Automattic/wp-calypso/pull/49170#issuecomment-767476316) that the spacing between designs and size of the images displayed at different breakpoints could use some debugging to avoid tiny images in some situations.

#### What we need:
Images to be legible at as many breakpoints as poss

[2021-01-28 05:41] #49291 closed, assigned to nobody

[2021-01-28 06:04] andrewserong commented on #48932
@ianstewart I believe this one should be fixed by D56048-code which updated the template/demo endpoint preview to support specifying the theme and rendering the preview in that theme's context. This has just been deployed, but it might take up to a day for the mShots cache to be refreshed, I believe, but that particular image that was 404ing is now working correctly for me:

![image](https://user-

[2021-01-28 07:49] kylemcph commented on #48316
I've seen a number of cases recently of sites set to public, but still in "Coming Soon" mode. Screenshot to show what I mean:

![](https://d.pr/i/Q9Yjka+)
Direct link to image: https://d.pr/i/Q9Yjka

I haven't been able to replicate on my end. I asked the user from 27324642-hc what steps they took to make site public and they couldn't remember. The site in question was a simple site.

Edit to add

[2021-01-28 07:53] ramonjd commented on #48316
Thanks @kylemcph

Hoping D55837-code will prevent this in the future. I think @roo2 has it nearly ready to ship.

[2021-01-28 07:56] frontdevde commented on #28145
IIRC there were a couple of tests failing after the change. Looking back at the latest CircleCI run, I see

IIRC at the time we were advised to pause work on Janitor items after the Janitor iteration ended to focus on product work and let the next Janitor rotation pick up where we left off. That said, I should've added handover notes here to outline outstanding todos to make it easier for the next

[2021-01-28 08:36] ciampo opened #49390 "Plans grid: copy changes after Monthly plans"
## What

While working on #48963, we had to re-use some existing text strings because the ones requested in the designs were not already translated

## Why

We should open a new PR with the exact copy requested in the design, and merge it once the translations are available

## A/C

- [x] PR should have the `String freeze` label, and be merged only when all translations are available
- [x] Toggle

[2021-01-28 08:43] razvanpapadopol opened #49391 "New onboarding: /new/free flow is not working"
### Steps to reproduce the behavior

1. Go to wordpress.com/new/free?fresh
2. Advance through the flow

#### What I expected to happen
Free plan to be pre-selected and Plans step to be skipped by default. More details in https://github.com/Automattic/wp-calypso/pull/48115

#### What actually happened
The `/free` path in the URL was ignored so the experience is the same as landing on `/new`

### Co

[2021-01-28 08:44] klimeryk commented on #49353
Hi, @worldomonation 👋 I understand that `object.id` could seem like an internal variable name from Javascript, but `.id` is actually a ccTLD (country level TLD) for Indonesia that we do support on WordPress.com 😅 So it _is_ expected to show up - especially for a very generic term like `example`.

Yes, given our scale, it'd probably kill our third-party partners API :) It's also not needed in most

[2021-01-28 08:47] daledupreez commented on #49353
So I think there are two entangled issues that we should be clear on:
1. `.id` domains are perfectly reasonable suggestions, and they tend to get additional prominence for certain kinds of generic searches. They are also the country-specific TLD for Indonesia, though there has been a push to get them used in contexts related to identification. (The same is true for `.co` and `.me`, the TLDs for Co

[2021-01-28 09:06] frontdevde commented on #49145
All colors schemes have a fill colors set for the icons i.e. `var(--color-sidebar-gridicon-fill)`. The issue with custom menu icons like the Jetpack logo is that it's embedded as an image thus not being affected by the fill property.

Removing the opacity makes the difference even more obvious I'm afraid:

|Before|After|
|-|-|
|<img width="165" alt="Screenshot 2021-01-28 at 09 55 29" src="https://

[2021-01-28 09:22] ddc22 commented on #38030
Working on a fix here #49393 :)

[2021-01-28 09:24] iamgabrielma opened #49394 "Quickstart sessions: Add dynamic countdown for the upcoming session"
Adding a dynamic countdown to our dashboard when a customer has booked a Quickstart session could help to reduce the no-show ratio that happens due to timezone/booking mistakes, by showing exactly how many hours/minutes are left till the session starts.

At the moment the timezone description we're showing is very verbose, and while specific, it can still lead to confusion.

**Why?**
To reduce the

[2021-01-28 09:24] razvanpapadopol commented on #49339
@ollierozdarz WDYT about this one?

Since we have the select plan already persisted, an interesting alternative would be to have the Plans Grid automatically show as default the correct billing period depending on the selected plan product.

Then if the user just toggles between annually and monthly and doesn't make a selection we continue to show annual next time as default.

[2021-01-28 09:24] philnick206 commented on #49007
Another report here: #3676255-zen

[2021-01-28 09:29] frontdevde commented on #49145
Another technique could be to use a mask
`
background-color: var(--theme-icon-color-here);
mask: url(link-to-svg-here) no-repeat center;
`
Again though, with the Jetpack logo we'd probably have the same issue here that while it retains the shape it looses the detail.

<img width="200" alt="Screenshot 2021-01-28 at 10 25 58" src="https://user-images.githubusercontent.com/1562646/106117708-954d8f00-

[2021-01-28 09:37] #48760 closed, assigned to ciampo

[2021-01-28 09:37] #49027 closed, assigned to ciampo

[2021-01-28 10:17] carinapilar commented on #40951
Thanks for looking into this, @obenland! I would guess it depends on the theme and the size of the images, because of the available width area.

I'm still able to replicate this, using theme Stow, if I add 2 images that are wide enough, when I select the second one this is what happens:

![SelectingImages](https://user-images.githubusercontent.com/16104522/106123444-b0f76c00-6138-11eb-9f82-795a855