[2022-10-28 05:55] lsl opened #69548 "Marketplace: Plugin detail cache invalidation after plan upgrade"
I suspect there might be some kind of plugin detail cache that isn't getting appropriately cleared / invalidated when you upgrade a plan.

Context: Noticed in an HE chat that a cache clear was required after a plan change, 7348511-hc

Acceptance:

- [ ] Test plan upgrades via both checkout and SA (say during a happy chat interaction)
- [ ] Confirm if plugin pages behave as expected, can install pl

[2022-10-28 06:36] autumnfjeld commented on #69175
See Saxon's copy suggestions: https://ganonp2.wordpress.com/2022/10/27/mini-pt-video-screen-for-pattern-assembler/#comment-2011

[2022-10-28 06:46] daledupreez commented on #69468
I think it may be worth keeping the scope smaller for now. How about the following approach?
1. Let's start by keeping one CTA, and having the downstream flow (and any pricing) match the billing interval for the current plan (if any). If the user has no plan, we may want to default to _monthly_ pricing for Business and the theme -- a free user is unlikely to suddenly pay over $300 based on a theme

[2022-10-28 06:52] sharpirate opened #69551 "Launchpad: Add Email Validation Banner Unit Tests"
#### Summary
We've recently [worked on a PR](https://github.com/Automattic/wp-calypso/pull/69252) for implementing [an email validation banner](https://github.com/Automattic/wp-calypso/issues/68961) on the Launchpad screen. We would want to add unit tests for the [email-validation-banner.tsx ](https://github.com/Automattic/wp-calypso/blob/add/launchpad_email_validation_message/client/landing/stepp

[2022-10-28 07:30] ivan-ottinger commented on #69424
D90652-code is now ready for review.

[2022-10-28 07:30] zdenys commented on #69144
@TimBroddin given the timeline of the above, I suspect that some WordPress.com users may have been affected by this. But I cannot be certain 100%. In 5660756-zd-woothemes we have a user who stopped receiving email notifications about new comments on their site since October 20th. They haven't changed any settings on the site.

Could it be that the above fix didn't fix their case?

[2022-10-28 07:39] mpkelly commented on #67320
@vajrasar, which links were you having trouble with specifically? For example, it could be post titles, links in paragraphs, or links in menus/navigation. One thing to keep in mind, which might also be useful as a workaround, is that some blocks have their own link colour styles. If you go to **Styles** > **Blocks** > **Paragraph** > **Colors** > **Links** and specify colours there it should overr

[2022-10-28 08:08] artpi commented on #69517
D90991-code

[2022-10-28 08:13] ivan-ottinger opened #69554 "Update Featured image email toggle copy to match the design"
The goal of this task is to update the Featured Image email toggle copy to match the design (wdlTywgHNsHnVw1IMre1eQ-fi-221%3A4703) and send the related strings for translation.

Before:
![Image](https://user-images.githubusercontent.com/25105483/198546444-76015dce-a30c-49c4-bb65-26746628e32d.png)

After:
![Image](https://user-images.githubusercontent.com/25105483/198546520-8d81d123-eb2b-44bc-bca7-

[2022-10-28 08:16] artpi commented on #69516
Asked in Jetpack
p1666944976772939-slack-C0299DMPG

[2022-10-28 08:29] artpi commented on #69518
This task is ONLY about handling `blog_sub ` parameter

[2022-10-28 08:33] artpi commented on #69518
You want to write a test for gating post for **blog subscribers**.  I think a one for paid should already be there

[2022-10-28 09:00] arthur791004 opened #69555 "The preview of page template picker is not rendered well"
Referring to p1666257227083559-slack-CRWCHQGUB, the following things are wrong in the preview

![Image](https://user-images.githubusercontent.com/13596067/198548719-4fea00f4-a98d-4d46-a839-35583dae8903.png)

* The site name
* The site tagline
* The site logo
* The style variation

**Possible Solutions**

1. Switch to new the new endpoint, `/site-previews/pattern`, to preview the page templates
2.

[2022-10-28 09:12] arthur791004 commented on #69555
Reverted https://github.com/Automattic/wp-calypso/pull/69283 as it doesn't work on AT sites. See https://github.com/Automattic/wp-calypso/pull/69553

[2022-10-28 09:24] keoshi commented on #69530
Exactly, @jsnmoon — that's the only one that's not part of the WP icon library. Design will work with .org to see if we can add it to the library to avoid importing one-off SVGs.

[2022-10-28 09:37] bangank36 commented on #68551
Landed

[2022-10-28 09:37] #68551 closed, assigned to bangank36

[2022-10-28 09:51] taipeicoder commented on #69279
Closing via #69363

[2022-10-28 09:51] #69279 closed, assigned to nobody

[2022-10-28 09:59] scruffian commented on #62835
This happened to me when doing an import from one WordPress.com site to another. It happened when there was a lot of media on the site. I can give more details if that's helpful.

[2022-10-28 10:11] scruffian opened #69559 "[Bug]: When I scroll the list of pages they disappear until more have loaded"
### Quick summary

For sites with a lot of pages, when additional pages load, the list of pages disappears for a moment while the rest load:

![page scroll](https://user-images.githubusercontent.com/275961/198562874-2a6dc20e-1520-4795-aa11-ca558f85b6c2.gif)

### Steps to reproduce

1. Open a site with a lot of pages (try https://rootstofruitstaging.wpcomstaging.com/)
2. Open the list of all pages

[2022-10-28 10:45] epeicher commented on #68227
Reopening this as I have been able to reproduce it again and found the root cause. The problem is that two CSS classes in the `foldable-card__content` component have the same specificity so they depend on the order the CSS is being called. And that order could be different depending on the way the component is rendered.

The fix is pretty simple, just increase the specificity of the [affected styl

[2022-10-28 10:50] JuanLucha commented on #65656
Hi!
I have been looking into this but I couldn't reproduce it with `ı`, nor `ö`, `'` or ```. Can I have more details about this problem, please?

[2022-10-28 11:09] scruffian opened #69563 "[Bug]: Links with long URLs are hard to edit"
### Quick summary

When links have long URLs its not obvious where the edit button is:

<img width="727" alt="Screenshot 2022-10-28 at 12 06 57" src="https://user-images.githubusercontent.com/275961/198573161-6e80d67e-25ff-4f93-931a-cbfe2a55c2a0.png">

if you scroll inside that box to the right then it is there:

<img width="763" alt="Screenshot 2022-10-28 at 12 07 04" src="https://user-images.git

[2022-10-28 11:25] ariel-maidana opened #69564 "Broken links in the Spanish version of the Plugins page in Calypso"
### Quick summary

In the Spanish version of the [Plugins](https://wordpress.com/plugins) page there are three broken links:
- [¿Qué son los plugins y temas de WordPress? (Tutorial para principiantes)](https://wordpress.com/es/go/website-building/what-are-wordpress-plugins-and-themes-a-beginners-guide/)
- [Cómo elegir plugins de WordPress para tu sitio web (7 consejos)](https://wordpress.com/es/go

[2022-10-28 11:41] scruffian opened #69566 "[Bug]: Install Theme button takes me to a different dashboard"
### Quick summary

This "Install Theme" button doesn't make it easy to install a theme:
<img width="1436" alt="Screenshot 2022-10-28 at 12 34 14" src="https://user-images.githubusercontent.com/275961/198578091-eb39de89-9dfc-48ee-b78f-dcc3f6a23ade.png">

Instead I am taken to a different dashboard and I have to click another button:
<img width="1440" alt="Screenshot 2022-10-28 at 12 34 23" src="htt

[2022-10-28 11:50] TimBroddin commented on #69144
Hi @zdenys,

Thanks for bringing this to our attention.

We did some investigation: p1666944663583219-slack-C02TCEHP3HA
and will deploy a patch later today (when it's reviewed): D91010-code

[2022-10-28 12:07] #69406 closed, assigned to miksansegundo

[2022-10-28 12:28] scruffian opened #69568 "[Bug]: Media Library search input is too tall"
### Quick summary

The CSS from the search component is leaking into the media library and making the search form too tall:

<img width="1432" alt="Screenshot 2022-10-28 at 13 17 44" src="https://user-images.githubusercontent.com/275961/198586153-e331d52d-6f77-4c63-a86f-bd3395045d85.png">

This is coming from this file:

https://github.com/Automattic/wp-calypso/blob/56e4df9841891ca5f47824ecf562c59

[2022-10-28 12:36] TimBroddin commented on #69563
I've taken a look at this problem and I notice two things:

1) On WPCOM the title isn't retrieved and defaults to the full URL, on .org the title is "Before you continue" (Google's privacy wall)
2) The title field of the edit UI doesn't break.

### Title not being retrieved
As for the title that's not being retrieved. The block calls `https://public-api.wordpress.com/wp-block-editor/v1/sites/<site

[2022-10-28 12:47] youbrokesomething commented on #69395
@ianstewart Sorry to ping you so soon after the Marvel announcement. Is this something Ajax or Gannon would be able to look into? Seems like quite a few customers are concerned.

[2022-10-28 13:01] #68227 closed, assigned to epeicher

[2022-10-28 13:39] Addison-Stavlo opened #69572 "Site Editor - Update close button URLs for Gutenberg 14.5"
Gutenberg 14.5 will remove the `MainDashboardButton` slot/fill and replace it with a `dashboardLink` setting instead. Relevant changes can be found in [this PR](https://github.com/WordPress/gutenberg/pull/45149). Note 14.5 is not currently available and probably will be on edge some time next week, until then you can sync a Gutenberg build with the above changes to your sandbox for testing.

* Whe

[2022-10-28 13:55] millerf commented on #69413
Work in https://github.com/Automattic/jetpack/pull/27144
and D91046-code

[2022-10-28 14:00] arthur791004 commented on #69555
Referring to p1666946034895699-slack-C03N25JPCE4, I will hold it on and come back when we have a time.

Here might be possible tech path:

* Let the core version of this page modal take over. See https://github.com/WordPress/gutenberg/pull/40034
* Forward the API call to the AT site
* Render the page templates on the calyso side. See https://github.com/Automattic/wp-calypso/pull/69573

[2022-10-28 14:15] upwardmomentum84 opened #69574 "Invitations Failing to Send"
### Quick summary

Some users cannot invite users to their site. They receive a message of `Sorry, we couldn't process your invitations. Please try again later.` or a message saying `Invitation failed to resend.`

[P2 here](p2EDhh-1K6-p2) p2EDhh-1K6-p2 with more cases.

### Steps to reproduce

1. Go to Users
2. Invites
3. Click Invite
4. Invite user, set a role and click "Send Invitations".

I can

[2022-10-28 14:16] keoshi commented on #69041
Ditto to everything @jeffgolenski said above!

Hm, good catch. I wonder if this is already happening in other languages. I'd be tempted to _not_ change anything else, as it might break other areas that use the same components, and address this separately if we can.

[2022-10-28 14:27] markbiek commented on #69468
@daledupreez @valterlorran Isn't it true that the user will be able to change the billing frequency once they get to the checkout page? Assuming that's correct, I think that would make the simplified approach reasonable since the user still has an opportunity to change.

[2022-10-28 14:32] TimBroddin opened #69575 "API doesn't return link details in certain cases"
As noted in [this bug report](https://github.com/Automattic/wp-calypso/issues/69563#issuecomment-1294948370), the WP.com API sometimes doesn't return any title when called.

I've tested this with some URL's, and they all seemed to work, except for google.com URL's. We might want to look into the why of this problem.

This is the API that's being called: `https://public-api.wordpress.com/wp-block-e

[2022-10-28 15:29] JulianBustamante commented on #69535
Deployed r255388-wpcom

[2022-10-28 15:32] #69535 closed, assigned to JulianBustamante

[2022-10-28 15:33] #67994 closed, assigned to WBerredo

[2022-10-28 16:35] danielbachhuber opened #69582 "WPCOM SSH: Point the user back to 'Hosting Configuration' if that's where they originated"
If a user enabled SSH access for their site but doesn't yet have a SSH key on their account, they'll see this UI:

![image](https://user-images.githubusercontent.com/36432/198686994-39b70299-bd88-4cda-8b8a-f7b9e9f0ebf5.png)

If they were to click "Add an SSH key to your account", they end up on `/me/security/ssh-key` with no obvious way to return to Hosting Configuration.

It would be nice if we p

[2022-10-28 16:58] epeicher opened #69584 "Marketplace: Add two additional WC.com fields to Product Extra Fields meta"
The following two fields are not synchronised to WP.com and they are returned by the `/marketplace/products` endpoint so they could be included in the `wpcom_marketplace_product_extra_fields` meta currently saved in WC.com database:

- `_demo_url`
- `_documentation_url`

They are the only missing fields required to be able to get from Elasticsearch results the same values currently returned by `/m

[2022-10-28 17:04] danielbachhuber opened #69585 "WPCOM SSH: Use a better placeholder for a loading SSH key"
It would be nice if this placeholder more closely resembled our SSH key card:

![image](https://user-images.githubusercontent.com/36432/198692612-abab8d46-38af-4735-828d-532ca809933c.png)

![image](https://user-images.githubusercontent.com/36432/198692624-a02402ea-3762-4c2d-8b29-032a33cd2a5f.png)

This enhancement might pair nicely with https://github.com/Automattic/wp-calypso/issues/69248

From p

[2022-10-28 18:11] epeicher commented on #64891
I have created the following draft diff D91105-code to add the new serialised field to the index so it can be returned by the ES results

[2022-10-28 18:21] scruffian commented on #69563
It seems like the best fix would be to ensue that the title is returned then.

[2022-10-28 18:29] TimBroddin commented on #69563
I submitted a PR to Jetpack to wrap the title, because this bug would also occur if the site would return a long title with no spaces.

I created [a ticket](https://github.com/Automattic/wp-calypso/issues/69575) for our team to look into the title fetching problem. I did some initial testing, and I assume that for some reason Google is blocking requests from us. But, that's an assumption and I wil

[2022-10-28 18:29] ariel-maidana commented on #55795
Reported in 5664770-zd-woothemes
Suggested the Social icons block workaround.

[2022-10-28 18:39] jsnmoon commented on #69530
Got it! I'll slide this task into the backlog then.

[2022-10-28 19:03] ai2n commented on #69441
Ditto #34498112-hc

[2022-10-28 19:04] Nic-Sevic opened #69589 "Connection options for Publicize can't be changed in classic editor"
### Quick summary

Connection options for Publicize can't be changed in classic editor but can be changed in block editor
Seems like active connections are still being automatically added but the user can't choose to add or remove connections before publishing

### Steps to reproduce

1. On a simple or atomic site make sure that some connections exist for publicize (if Atomic site you also need to

[2022-10-28 20:08] dognose24 commented on #69041
Yes @jeffgolenski! Sounds like a plan!

Agree with you! @keoshi

[2022-10-28 20:16] n3f commented on #69513
In my testing I'm seeing a totally different chain of events.  The api token response returns, however the JWT dosen't had any subscription information:

[code]

Will continue to dig.

[2022-10-28 20:20] tvolpert commented on #69589
looks like another instance here. I advised them to switch to the Block Editor for now when they're ready to publish their posts

- [ ] 36325850-hc

[2022-10-28 20:27] n3f commented on #69513
Problem was easier than expected: D91124-code

[2022-10-29 00:22] jsnmoon commented on #69224
@keoshi: I noticed some divergence between the pictured designs and the Figma file. Am I correct in assuming the Figma file as our canonical source of truth?

[2022-10-29 05:37] cpapazoglou opened #69597 "Marketplace: plugin links should redirect to WordPress.com"
Most of the times plugin vendors add several link across different interfaces that redirect to their site.
Some of those links are related to:

- buying a subscription
- upgrading a subscription
- buying an add-on or related product

This applies both to free and paid plugins onboarded in WordPress.com Marketplace. For example, the free plugin might have a link to buy a subscription and the paid p

[2022-10-29 08:01] zdenys commented on #66233
5665800-zd-woothemes

[2022-10-29 09:01] zdenys commented on #69574
I've reported my recent case on this other bug report from 2021 where I see 4 new reports from the past few days:
- https://github.com/Automattic/wp-calypso/issues/56758

We've had a spike of new cases of this issue over the past few days. By just looking at tickets, I could find these:
- 5664700-zd-woothemes
- 5665623-zd-woothemes
- 5665813-zd-woothemes
- 5658228-zd-woothemes
- 5665936-zd-woothem

[2022-10-29 09:25] zdenys commented on #69144
Thank you very much for such a quick investigation and fix @TimBroddin  🥳 I've informed Happiness about this: p1667035380247309-slack-CB0B2G43X

[2022-10-29 09:52] CodeAllNightNDay commented on #69589
Cases here:
5666937-zen
5667893-zen

[2022-10-29 12:30] zdenys commented on #65656
Here are more details from 5649321-zd-woothemes. User's post title `MARS GERİ GİDERKEN` (notice that the capital i does have a dot above, so it's not the Latin capital I that has no dot) appears as `=??Q?[Yeni_yaz=C4=B1]_Mars_Geri_Giderken?=`.

Previously they shared that the affected letters are: ğ - ö - ü - ş - and the [dotless i](http://www.unicode-symbol.com/u/0131.html) from the Turkish langu

[2022-10-29 12:34] kspilarski opened #69599 "Help Center: Move lower to not overlap or hide some buttons"
### What

In the Domains section https://wordpress.com/domains/manage/ if the Help Center is open, it overlaps with "Site domains" and "Add a Domain" buttons.  In DNS records section https://wordpress.com/domains/manage/example.com/dns/example.com  if the Help Center is open, it overlaps with "Add a record" button.

### Why

The user was not able to see "Add a record" button when the Help Center w

[2022-10-29 13:05] vajrasar commented on #62835
@scruffian can you please share any more details you have?

[2022-10-29 13:22] kspilarski opened #69600 "Gathermattic: Add option to filter countries based on Visa requirements"
### What

In Gathermattic when a meetup location is selected:

- display visa requirements
- or add a meetup location filter where visa is not required
- or display which certain passport holders need a visa or special entry requirements to a meetup location.

### Why

As we have diverse teams at A8C, members have different visa requirements per country. Meetup planners will be able to see which c

[2022-10-29 14:48] cpapazoglou commented on #68148
Haven't done any progress here. The idea is:
- in [MarketplaceThankYou](https://github.com/Automattic/wp-calypso/blob/b861acf21449733c70426391383b4264866e9634/client/my-sites/checkout/checkout-thank-you/marketplace/marketplace-thank-you.tsx#L53)
- we get the latest transaction
- check if there is a purchase with a `redirect_url`
- redirect to this `redirect_url`

[2022-10-29 15:21] cpapazoglou opened #69601 "Marketplace: Refund for SaaS Products"
We will need to discuss our refund policy for SaaS products. The main problem is that vendors might want to disallow refunds for specific customers in case there is usage abuse.

Related WCCOM implementation: p6JqRr-6BB-p2
Related WPCOM inquiry: pdh6GB-2eH-p2#comment-3144

[2022-10-29 21:33] Jaykame commented on #39956
Opening as I have a user with this issue in 5666258-zen which does not display the slideshow on the site editor index template. Provided the workaround of putting the slideshow in Group Block which shows the slideshow. I saved and removed the group block later and the slideshow remains working.

[2022-10-30 00:33] happychait commented on #56360
In 37703260-hc the `Copy page` option isn't available in Calypso until I got the customer to disable the Elementor plugin.

[2022-10-30 03:00] happychait commented on #53027
A customer asked to allow using the root domain as of the site at a page like /site example: https://yourgroovydomain.com/site

37609003-hc

[2022-10-30 04:01] dognose24 commented on #69041
I will use a follow-up PR to tackle period header content and alignment. cc @jeffgolenski @keoshi

[2022-10-30 04:07] dognose24 opened #69602 "Main chart period header content and alignment"
There are a few issues to tackle for the period header content and alignment related to https://github.com/Automattic/wp-calypso/issues/69041#issuecomment-1293927938 and https://github.com/Automattic/wp-calypso/pull/69529#pullrequestreview-1160839142.

- [x] The height of the chart unpredictably doubles during data load. After data load, the height collapses back down to the expected height. (http

[2022-10-30 07:17] pablinos commented on #69589
I can't access those tickets for some reason, but this was an issue for a few hours on Friday and judging from the time it was reported and the second instance it would have still have been an issue for these customers.

The fix was deployed around October 29 00:30 UTC. If there are instances after this time then it will need further investigation.

[2022-10-30 07:55] sudeepbaral commented on #68071
Another report here: 5648023-zen

[2022-10-30 08:15] ahmadbaig1 opened #69603 "Reader: Image block size is not respected in the Reader. Images show full sized."
### Quick summary

Image blocks on a page/post when set different sizes, all show large (max) size on the Reader.

For example-
https://wordpress.com/read/blogs/1922632/posts/2932

Another example-
Reader- https://wordpress.com/read/feeds/97334622/posts/4352694667
Live page- https://premiumtest1993.wordpress.com/2022/10/30/reader-testing-post/

### Steps to reproduce

1. Create a post/page with va

[2022-10-30 09:04] mdtanjid0 commented on #66233
5664186-zd-woothemes

[2022-10-30 12:18] csabarakasz opened #69604 "Console in Editor is showing `Block validation: Block validation failed for` errors for blocks"
### Quick summary

When creating a New Post in the Editor, the Browser console is showing a lot of errors for the `core/button` and `core/heading`. Example:

<img width="1247" alt="CleanShot 2022-10-30 at 13 11 15@2x" src="https://user-images.githubusercontent.com/84539773/198877708-208dcaa8-b3c3-4572-ae52-0c21a9b9d802.png">

This was user reported in 36664175-hc but it was duplicated on a brand n

[2022-10-30 18:10] JulianBustamante commented on #69384
Diff created D91153-code

[2022-10-30 22:24] jerrysarcastic commented on #45122
Also reported in https://wordpress.com/forums/topic/reader-shows-pictures-without-space-between

[2022-10-30 23:09] pablinos commented on #69589
I've gone through all these reports now, and it seems that they were all before the fix was deployed, so everything should be ok now.

[2022-10-30 23:38] autumnfjeld commented on #69400
@bangank36 Reminder to close the corresponding issue when the PR is merged.  I'll close this since https://github.com/Automattic/wp-calypso/pull/69550 is done.

[2022-10-30 23:53] autumnfjeld commented on #68550
I have network activated blank-canvas-3. See https://wordpress.com/wp-admin/network/themes.php?s=blank

<img width="1062" alt="image" src="https://user-images.githubusercontent.com/5665959/198908004-bef445e1-82ca-4340-bb9b-e66574754926.png">

In this process Ola figured out that https://github.com/Automattic/themes/blob/trunk/blank-canvas-3/style.css has incorrect Theme URI.    https://github.com/

[2022-10-31 00:04] autumnfjeld commented on #69408
As discussed with Ola, we will simplify the menus and remove "Blog".

Updated menus shown here:
<img width="328" alt="image" src="https://user-images.githubusercontent.com/5665959/198908530-8bf18f42-2fb4-4152-87b4-a44b036a484e.png">

[2022-10-31 00:26] happychait commented on #67434
A similar customer report with Safari: Site Editor doesn't load / keeps blanking.

37718105-hc

[2022-10-31 02:46] 1dr0 commented on #54871
Another one here 37719888-hc. I mentioned the Query Loop block as a workaround.

[2022-10-31 03:36] fushar opened #69607 "Update Site Editor's Welcome Guide slides to mention FSE"
# Description

The  Blank Canvas Pattern Assembler onboarding flow, see pbxlJb-2ki-p2 , ends with the user landing in the Site Editor.  The Welcome Tour should be updated to have contextual information related to the Site Editor, as currently it only has content on Block Editing.

Update the copy of these slides on Site Editor.

### Slide 1

<img width="401" alt="image" src="https://user-images.gi

[2022-10-31 03:38] fushar commented on #69607
@autumnfjeld Should it be:

- `Full Site editor` (as mentioned in the original issue description), or
- `Full Site Editor`, or
- `Site editor`

?

Not sure if we ever mention "full site editor" (in whatever capitalization) everywhere else?

cc: @SaxonF

[2022-10-31 03:53] fushar commented on #69156
@autumnfjeld I split this issue into the following two tasks instead:

- Updating slide 1 and slide 3 for Site Editor (see: #69607)
- Adding a new slide for FSE (this very issue, as it already has the discussions)

[2022-10-31 03:56] fushar commented on #69156
@autumnfjeld Could you confirm here whether the new slide is shown for the Site Editor only if the site came from the PA flow, or for the Site Editor regardless of the flow?

[2022-10-31 04:36] autumnfjeld commented on #69607
@fushar  These docs use the term "Full Site Editing".   https://wordpress.com/support/full-site-editing/
So let's go with Full Site Editor.

[2022-10-31 04:39] miksansegundo commented on #69408
There is also a [PR](https://github.com/Automattic/wp-calypso/pull/69570) to show the site title or the text `Site Title` instead of the theme name.
<img width="467" alt="Screen Shot 2565-10-31 at 11 37 00" src="https://user-images.githubusercontent.com/1881481/198932137-e2631579-383d-4934-942e-16e61b5d8c86.png">

[2022-10-31 04:41] autumnfjeld commented on #69156
@fushar There are two scenarios :

#1 user is in post or page editor
- The Welcome Tour is unchanged,  shows content like it does now in production (for block editing)

#2 user opens the site editor
- The Welcome Tour shows updated content specific for Full Site Editing

It isn't dependent on flow, but rather identifying which editor.

As we chatted about last week, p1666937551237989/1666866470.05

[2022-10-31 04:59] autumnfjeld opened #69610 "Fix blurry mShots images in Design Picker"
# Description

See Matias's comment: p1666274280616169-slack-C03E1LGV796.

Currently the thumbnails in the Design Picker look blurry. Investigate if sharper images can be produced for the Design Picker. Is it a mShots issue? Or image sizing issue?

![Image](https://user-images.githubusercontent.com/5665959/198934633-70a494a0-30f3-4841-8410-f1238e8ae10b.png)

Compare the Design Picker thumbnails to

[2022-10-31 06:04] taipeicoder commented on #66796
Closing as D90830-code has been deployed.

[2022-10-31 06:04] #66796 closed, assigned to taipeicoder

[2022-10-31 08:44] miksansegundo commented on #69408
And in the same PR, we are replacing the demo site tagline `Blank Canvas is a barebones starter theme, stripped off of content templates but only a footer and a header` with a more generic text `Site Tagline`.

[2022-10-31 08:52] miksansegundo commented on #69408
<img width="240" alt="Screen Shot 2565-10-31 at 15 52 06" src="https://user-images.githubusercontent.com/1881481/198969131-58eec039-3059-4dbf-86e4-f756e54be228.png">
To show the logo placeholder image in the patterns and site previews, we have to upload it to the new BC demo site `blankcanvas3demo`. However, the option to upload the logo is not visible in the customizer. I'm investigating this. Se

[2022-10-31 09:12] #69400 closed, assigned to bangank36

[2022-10-31 10:18] miksansegundo commented on #69408
A reminder about changing the background color of the header pattern https://dotcompatterns.wordpress.com/?p=5316

<img width="1285" alt="Screen Shot 2565-10-31 at 17 17 30" src="https://user-images.githubusercontent.com/1881481/198985480-b3d10d6d-8b3b-4824-9ece-0218f8a26e13.png">

[2022-10-31 11:24] deancroyal commented on #67618
Sharing another duplicate sites issue on checkout 37671602-hc

Three sites created:

[2022-10-31 11:31] alshakero opened #69617 "Task: Help Center: build a promotional popover for the Help Center"
### Details

In similar fashion to this PR https://github.com/Automattic/wp-calypso/pull/62605, we need to inform users (exactly once) about the new Help Center. This implies the following:

1. Create a V2 public-api endpoint (not an ETK one), to write and read a [single Calypso preference](fbhepr%2Skers%2Sjcpbz%2Schoyvp.ncv%2Serfg%2Sjcpbz%2Qwfba-raqcbvagf%2Spynff.jcpbz-wfba-ncv-zr-cersreraprf-i1-

[2022-10-31 12:49] Addison-Stavlo commented on #60209
Closing since this isnt replicated or had any noted issues since march. Feel free to ping/re-open if its still an issue!

[2022-10-31 12:49] #60209 closed, assigned to nobody

[2022-10-31 13:01] Addison-Stavlo commented on #42016
This hasn't moved in a while, idea for a quick fix would be to:

* Always show the 'homepage status banner'. Im referring to the conditional banner that appears above the page list that says "The homepage is showing your latest posts." and has a link to the front-end of the homepage. To always show, we could show this in the case that posts are set as the homepage as well with a similar but differ

[2022-10-31 13:03] Addison-Stavlo commented on #62017
closing this (duplicate) issue in favor of - https://github.com/Automattic/wp-calypso/issues/65419 , lets track there

[2022-10-31 13:03] #62017 closed, assigned to nobody

[2022-10-31 13:05] #63062 closed, assigned to nobody

[2022-10-31 13:11] filipanoscampos commented on #69407
Another case, here: 5655527-zd-woothemes

[2022-10-31 13:15] Addison-Stavlo commented on #59801
Unable to replicate, and this issue seems quiet. It seems like this has been resolved so im going to close.

[2022-10-31 13:15] #59801 closed, assigned to nobody

[2022-10-31 13:17] Addison-Stavlo commented on #63078
This should resolve by default once we remove the calypsoify iframe for the editors in the near future.

[2022-10-31 13:33] Addison-Stavlo commented on #69351
https://github.com/WordPress/gutenberg/pull/45055 - seems like it may resolve this!🤞

[2022-10-31 13:47] Nic-Sevic commented on #69589
Confirmed that I can no longer reproduce so closing

[2022-10-31 13:47] #69589 closed, assigned to nobody

[2022-10-31 13:48] scruffian commented on #62835
Sure, I was trying to import the content from https://rtflearn.co.uk/ to a new site. I exported the content using the WordPress.com export tool, and then imported with the media option selected. I can provide the export XML if that helps.

[2022-10-31 14:06] karenroldan opened #69622 "E2E: Investigate adding a Stripe integration to a test user"
### Details

**Context:** p1666793706130759/1666793696.801109-slack-C1A1EKDGQ

Some of the tests that verify there are no block warnings or errors in the editor in Atomic were skipped because Stripe is not connected to any test users. This task is to investigate if we can add Stripe integration to a test user.

Helpful links:

- https://stripe.com/docs/implementation-guides/billing/testing
- paJDY

[2022-10-31 14:46] msilbers commented on #69441
reported in #6615371-hc

[2022-10-31 15:01] Joshgrygiel commented on #66233
Another report, Independent Publisher 2 theme, 37731251-hc

[2022-10-31 15:16] sharpirate opened #69624 "Launchpad: Launchpad not loading when using a secondary .wordpress.com domain"
#### Summary
Currently, if a site has a custom primary domain and a secondary free domain, the Launchpad only loads for the primary domain. For the secondary domain, it's stuck on loading.

#### Notes
The [useSite()](https://github.com/Automattic/wp-calypso/blob/trunk/client/landing/stepper/declarative-flow/internals/steps-repository/launchpad/step-content.tsx#L21) selector inside `launchpad/step-

[2022-10-31 15:18] artpi opened #69625 "Optimization seems to have broken the following translation strings"
This is a bit of an intermittent error in the build process that I do not see, but @millerf does:

As reported by Fab:

[code]

I see the same error trying to build the branch https://github.com/Automattic/jetpack/pull/27142
But **I do not** see that error when building locally.

@millerf can you please tell which commands do you run?

[2022-10-31 15:28] romarioraffington commented on #69625
Yes! I broke this and added a comment to fix [here](https://github.com/Automattic/jetpack/pull/26417#discussion_r1007363333). I will fix this ASAP

[2022-10-31 15:30] #69476 closed, assigned to markbiek

[2022-10-31 15:46] artpi opened #69626 "The newsletter tab is sometimes showing, sometimes not"
When testing https://github.com/Automattic/jetpack/pull/26417 we have had trouble seeing when the "Newsletters" tab is showing. **The scope of this task is to find out why it's not showing on some sites and fix it if that's a bug.**

## Tab seems to be showing
- When building in docker with pnpm jetpack watch on https://excessive-gorilla.jurassic.ninja/wp-admin/post-new.php

## Tab seems to NOT be

[2022-10-31 15:52] #69625 closed, assigned to romarioraffington

[2022-10-31 15:57] gmovr commented on #69610
I wonder if this is related to retina (and other 2x screens). It can be solved using `srcset="pic.jpg?w=600 1x, pic.jpg?w=1200 2x"` I believe (or something along those lines).

At least worth a test to prevent loading images larger than the container.

@dkd903 who's been working on something similar for images on blog posts/landing pages.

[2022-10-31 15:59] carinapilar commented on #59801
@Addison-Stavlo, my guess is that since we have removed CoBlocks from WordPress.com, we shouldn't be seeing new reports - since it was a conflict between Gutenberg and the Carousel from CoBlocks.

[2022-10-31 16:04] JulianBustamante commented on #69384
Deployed r255484-wpcom

[2022-10-31 16:04] #69384 closed, assigned to JulianBustamante

[2022-10-31 17:10] ebinnion commented on #68955
We chose to put this in the icebox for now on WPCOM to see how the home navigation helps with the pattern assembler project.

[2022-10-31 17:18] kerrynicl commented on #66233
Another case with Dara theme - 5663210-zd-woothemes

[2022-10-31 18:06] jerrysarcastic opened #69627 "Inconsistent post date if publishing from /posts vs. publishing directly from the editor."
### Quick summary

The default behavior when publishing a draft blog post from the editor (Gutenberg or classic) is to use the post creation date or the date the draft is created.  It is possible to change the publication date to "now" or the current date if you choose that option in the pre-pub checklist, but if you do nothing the default is the post creation date.

However, if you visit /posts/d

[2022-10-31 18:31] heavyweight opened #69628 "1Blocker and Mobile safari display issues for tailored flows"
p1666915636751149-slack-CRNF6A9DX
p1666915626807439-slack-CRNF6A9DX

Tried to replicate with 1Blocker and Safari on Mac but couldn't replicate

[2022-10-31 18:46] obenland commented on #66673
It looks like this was fixed in https://github.com/WordPress/rss-importer/pull/4.

Anything standing in the way of merging https://github.com/WordPress/rss-importer/pull/5 and shipping 0.3?

[2022-10-31 18:56] Addison-Stavlo opened #69630 "Site Editor Tracking - Add event for tracking document actions dropdown"
We need to add tracking events for the document actions dropdown in the site editor:

![image](https://user-images.githubusercontent.com/28742426/199086875-7a138bde-25a0-46c7-b9f2-3d035747761d.png)

We should have events for:

- [ ] Opening the panel
- [ ] Selecting an item in the panel ('header', 'footer', 'browse all templates') as seen above.

FG info related to events - PCYsg-nrf-p2

[2022-10-31 19:03] ebinnion opened #69631 "[Bug]: Write new post in masterbar misaligned when Chrome translates the page"
### Quick summary

When Google Chrome translates a page, it adds extra markup which then causes issue with the alignment of the new post button in the masterbar.

<img width="1640" alt="Screen Shot 2022-10-26 at 1 10 17 PM" src="https://user-images.githubusercontent.com/1126811/199089018-f2ea06e1-15a9-4f4e-9f8a-ad40f895826e.png">

### Steps to reproduce

1. Go to a non-English local site with Chro

[2022-10-31 19:04] sirbrillig opened #69632 "Comma-separated slugs in checkout URL are not working for siteless checkout"
Originally reported here: pNPgK-6bD-p2

[2022-10-31 19:23] sirbrillig opened #69633 "Remove edit button from checkout variant picker and only show longer terms"
Monthly plan variants are being selected too frequently in checkout and longer term variants are not being selected often enough. As discussed in pdgrnI-1Mu-p2, we should remove the "Edit" button in checkout by reverting https://github.com/Automattic/wp-calypso/pull/68606 and then change the variant picker to only show longer terms than the initial (current?) choice.

We may also want to revisit s

[2022-10-31 20:45] valterlorran commented on #69470
@markbiek I've added a hook to add the theme on the cart and redirect to the checkout. I think it can be useful on this issue.
https://github.com/Automattic/wp-calypso/blob/d52fc044ae0e3c09fb1b4c59712d4614d0a47724/client/state/themes/hooks/use-add-external-managed-theme-to-cart.tsx#L24-L74

[2022-10-31 20:54] sirbrillig commented on #69632
This appears to have been intentional:

https://github.com/Automattic/wp-calypso/blob/0274ba815a0f1310453dab7a99348234122e0a12/client/my-sites/checkout/composite-checkout/hooks/use-add-products-from-url.ts#L84-L94

Added in https://github.com/Automattic/wp-calypso/pull/54811

[2022-10-31 21:11] romarioraffington commented on #69518
After discussions with Artur, we felt it was important to share additional context. I find it easier to understand the solutions in terms of user flows.

### Flow A: User subscribes for the first time as a paid subscriber

1. User enters their email, then clicks the subscribe button
2. A checkout modal is displayed in an iFrame
3. User enters their card details and pays
5. A JWT token is returned

[2022-10-31 21:15] deancroyal commented on #67618
One of the more costly ones I've run into 37713105-hc

Three sites created

Monthly Business plan on each, began paying 8 months ago.

[2022-10-31 21:18] #69225 closed, assigned to jsnmoon

[2022-10-31 21:38] n3f commented on #69518
Feel free to edit this diagram if it helps...

[code]

[2022-10-31 21:54] #67840 closed, assigned to WBerredo

[2022-10-31 22:52] sajmes commented on #69395
37739159-hc

[2022-10-31 22:53] cuemarie commented on #69427
Site owner reported a similar problem that one of their subscribers is having here: 37667615-hc

They mentioned:

[2022-10-31 22:59] thekingsprojects commented on #52209
Had what looks like another case here:

37738694-hc

Lost touch with the user at the end, but it sounds like logging in in incognito mode helped while we were talking, so I asked them to clear cache/cookies.

[2022-10-31 23:02] cuemarie commented on #69427
Similar issue is (maybe?) being looked at here: https://github.com/Automattic/wp-calypso/issues/68506

Though the details there are more specific to the first 24 hours after the monthly subscriptions renew.

[2022-10-31 23:04] cuemarie commented on #68506
Cross-posting this similar issue with Premium Content: https://github.com/Automattic/wp-calypso/issues/69427

The subscribers that are noted in that report cannot see premium content even after the first 24 hours, it seems, but wanted to note it here in case these issues have a shared underlying cause.

[2022-11-01 00:05] alaczek opened #69644 "Premium Theme: Tazza"
### Details

The Tazza premium theme needs the following:

### Checklist

- [x] [Set up the demo site](https://tazzademo.wpcomstaging.com/)
- [x] Theme showcase draft
- [x] Add the theme to the soft-launch filter
- [x] Build a ZIP for the theme
- [x] Add the theme as a product to the Store
- [x] Add the theme to the prices page in MC
- [x] Headstart annotations (don't forget to submit for translat

[2022-11-01 00:07] autumnfjeld commented on #69175
Note that the videos will be in English, however we can show these screens to all languages, and then on the video screen include a link for "Request translation of these videos"

e.g. like this existing event: calypso_courses_translation_support_link_click

[2022-11-01 01:27] autumnfjeld commented on #68427
I'm going to close this spike issue.
The user facing feature is described here: https://github.com/Automattic/wp-calypso/issues/69421

Also related is this issue to persist pattern content for patterns that are theme-specific: https://github.com/Automattic/wp-calypso/issues/69507

[2022-11-01 01:30] #68427 closed, assigned to bangank36

[2022-11-01 03:56] rw-ye commented on #53027
36688539-hc

Suggested Cloudflare Page Rules

[2022-11-01 05:20] inaikem commented on #67229
@fullofcaffeine 👋 5566112-zen is back in 5658376-zen with ongoing issues related to historical content (~400 pages).

Reiterating the above requests, are there any options for a bulk restore/resolution on this?

[2022-11-01 05:23] lsl opened #69646 "Gifting: Limit which plans / sites / purchases see the gifting toggle"
Context: https://github.com/Automattic/wp-calypso/pull/69637#issuecomment-1298050124

We only show the gifting toggle on some sites per [this code](https://github.com/Automattic/wp-calypso/blob/ff429e5bb5b4021ac11d12ae8c3d20252399cf91/client/my-sites/site-settings/form-general.jsx#L645) but I'm thinking we should limit this further to only dotcom paid plans excluding e.g. jetpack, p2, domain only

[2022-11-01 06:37] bangank36 commented on #69421
Closed as landed

[2022-11-01 06:37] #69421 closed, assigned to bangank36

[2022-11-01 07:18] inaikem opened #69648 "Subscriber Importer: Add a subscriber-facing unsubscribe/opt-out"
### What

Add a subscriber-facing unsubscribe/opt-out with various options subscribers can use to indicate their reasons for unsubscribing.

### Why

We can use this to help us identify, monitor and manage spam and TOS violation issues. For example, if X% of a user's subscribers flag TOS/spam unsubscribe reasons, the site/user gets added to a review flow.

As an example of what I think is a great

[2022-11-01 07:36] ouikhuan opened #69650 "Viewer is not showing in the user role list when a site is private"
## What's the issue

When a site is private, they should see a Viewer as an option in their user role list. It's not showing on the site currently.

## How to reproduce the issue

1. Make sure your testing site is private. (You can do it by go to Settings > Generals > Privacy )
2. Head to `https://wordpress.com/people/new/${SITE_SLUG}`
3. The "Viewer" is not on the list.

![Image](https://user-ima

[2022-11-01 07:36] simison commented on #39956
@Jaykame Isn't this a bit different bug? I think it would make sense to open a new issue, especially since original issue here was already fixed. Otherwise it becomes a bit hard to manage and this issue becomes too generic, catching multiple bugs.

[2022-11-01 07:40] #69387 closed, assigned to heavyweight

[2022-11-01 08:08] arthur791004 commented on #68550
✅ Pattern Assembler: Remove old blank canvas on the client side before it's retired #69608
✅ Pattern Assembler: Adjust footer position and scroll selector #69609
✅ Pattern Assembler: Update Home template if it's existed #69613
✅ Block Preview: Fix missing root element if the homepage is template D91163-code
✅ Blank Canvas 3: Add Headstart annotation file D91174-code
✅ Themes Showcase: Hide blank-c

[2022-11-01 08:17] vishnugopal commented on #69648
Right now the interaction looks like this:

<img width="1095" alt="CleanShot 2022-11-01 at 12 23 49@2x" src="https://user-images.githubusercontent.com/533/199189215-08530073-820c-4c7c-82df-4c1e99742bed.png">
<img width="1075" alt="CleanShot 2022-11-01 at 12 21 20@2x" src="https://user-images.githubusercontent.com/533/199189219-53a81113-f693-445e-9ad7-e32d97339632.png">

[2022-11-01 09:06] arthur791004 commented on #68550
Do we have this feature on a simple site 🤔

Referring to [State of the Customizer with block themes in WordPress 5.9](https://make.wordpress.org/core/2022/01/07/state-of-the-customizer-with-block-themes-in-wordpress-5-9/), it looks like we still have plugins registering `customize_register` action on the simple site, and that's why we still see the Customizer there even if the current activated th

[2022-11-01 09:29] kavyagokul commented on #69313
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-11-01 09:31] kavyagokul commented on #69313
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Uncertain

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Feature request kept

[2022-11-01 09:34] #69358 closed, assigned to nobody

[2022-11-01 09:58] kavyagokul commented on #69368
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Only replicated on Chrome/webkit/Blink browsers
-
📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to Themes:

[2022-11-01 10:26] arthur791004 commented on #69555
Here is the demo via rendering the page templates on the calypso (https://github.com/Automattic/wp-calypso/pull/69573). If it looks okay, we could go this way 🙂

https://user-images.githubusercontent.com/13596067/199212204-9d313fba-bb58-4fec-97e8-2582e4011258.mov

cc @simison

[2022-11-01 10:47] Copons commented on #69427
Thanks for reporting!
I've added this to Ajax's backlog, but just to frame the expectations: at the moment we are completely swamped and cannot give prioritize Payment Blocks issues. 😓
We'll try to take a look as soon as we physically can.

[2022-11-01 11:10] TimBroddin commented on #69563
I did some further research into the no title returned at `google.com/travel` problem.  We currently cap the max response size at 150 KB. The HTML Google returns us, contains many inline styles, making the `<title>` tag fall outside this 150 KB.

We could fix this by raising this max response size, but this will also increase network usage. This bug only happens in very select cases (HTML response

[2022-11-01 11:11] TimBroddin commented on #69575
Researched and posted an update: https://github.com/Automattic/wp-calypso/issues/69563

[2022-11-01 11:11] #69575 closed, assigned to TimBroddin

[2022-11-01 11:49] #68298 closed, assigned to renancarvalho, heavyweight

[2022-11-01 12:08] #68910 closed, assigned to heavyweight

[2022-11-01 12:10] taipeicoder opened #69658 "Theme Showcase: Refine search"
## Description
We want to improve the usability of the search component in the Theme Showcase.

**Filters**
Instead of displaying filters in a separate popover component, display filter categories whenever clicking to expand the search suggestion dropdown.

| Before | After |
| --- | --- |
| ![Image](https://user-images.githubusercontent.com/797888/199199582-f0d9801e-cc67-448a-b36d-971602a72810.pn

[2022-11-01 12:18] markbiek commented on #68288
@nelsonec87 Looks like we're going to use Tsubaki as a test theme: paYKcK-2kT-p2

[2022-11-01 12:37] deancroyal commented on #66233
A report for Apostrophe 2 36988818-hc

[2022-11-01 12:39] #67811 closed, assigned to nobody

[2022-11-01 12:40] artpi commented on #69626
I can now confirm this issue is gone

[2022-11-01 12:40] #69626 closed, assigned to nobody

[2022-11-01 13:46] saygunnyc commented on #67321
I think we're missing dots after "23 readers" and "to the world" I also believe share is used with "with" instead of "to".

So, It should be:
"Congratulations! [Intro to Lorca](url) is on its way to **23 readers**. Now it's time to share it with the world. "

cc @michaelpick in case he has any final notes before translation.

[2022-11-01 14:09] saygunnyc commented on #69648
@vishnugopal I've been reviewing the existing experience here – inDLaEQV8jJ21O4WXawIsJ-fi-2%3A101 How did you manage to open that Delete Your Subscription UI? In my case, as soon as I click unfollow, it just notifies me it's done.

[2022-11-01 14:19] markbiek opened #69660 "Theme Subscriptions: Fix overlapping logic between theme bundling and third-party subscriptions"
Part of #69383

There is a high likelihood that upcoming third-party themes will also have WooCommerce bundled with them.

We need to make sure that we correctly handle UI and logic for themes that are both third-party _and_ bundled.

This means that we need to ensure we're displaying the third-party messaging even if the theme is also bundled. Currently, we seem to default to the bundled messagin

[2022-11-01 14:54] markbiek commented on #67862
Theme is launched to all users!

[2022-11-01 14:54] #67862 closed, assigned to nobody

[2022-11-01 15:29] michaeldcain commented on #67618
Thanks for the added context @deancroyal and @carinapilar. I mentioned this to Dean yesterday, but I don't think that Shilling will be able to look at this again before the end of the year with our current project load. I'm also concerned that this is an issue further upstream, and adding a confirmation to Checkout will only mask the issue of why users are creating multiple sites unintentionally.

[2022-11-01 16:38] carinapilar commented on #67618
@michaeldcain, I wonder if we would be able to investigate how many users are affected by this. Reports aren't common because it relies on the user getting in touch with us, then with an HE spotting the issue, then proactively finding this thread to report it, so my theory is that we see a very small fraction of the real issue.

What also worries me is how many users get upgrades that they don't n

[2022-11-01 16:40] artpi opened #69662 "Newsletters: visibility selector crashes"
On a Jurassic Ninja site, the post level visibility selector crashes the editor.

![Zrzut ekranu 2022-11-1 o 17 39 35](https://user-images.githubusercontent.com/3775068/199288094-600f88cf-311d-4ef1-b6b1-8fac3faab494.png)

With the error message:

    at el (https://excessive-gorilla.jurassic.ninja/wp-includes/js/dist/vendor/react-dom.min.js?ver=17.0.1:9:86182)
    at h (https://excessive-gorilla.j

[2022-11-01 16:40] sirbrillig commented on #69633
I started work on this in https://github.com/Automattic/wp-calypso/pull/69643 but I'm not sure it's going to be very good UX. For example, if the product currently in the cart is annual, the monthly variant of that plan will not be shown in the variant picker after this PR; it will only be possible to see the annual and the biennial variants. If the biennial variant is selected, the term picker wi

[2022-11-01 17:19] artpi opened #69664 "[Paid Newsletters] Subscribe as a new blog subscriber and immediatelly unlock content"
There seems to be the case where:

- User never subscribed to anything
- Post is for blog subscribers only

These are these flows:
docs.  google.  com     /spreadsheets/d/1zAVGVPn_KbaOy4BopmKkx9q-fGI0b8fn-BTcAWnYfaA/edit#gid=402847350&range=11:12

In the first-blog subscribe we are not properly setting the token for unlocking the content.
Instead, we close the modal BEFORE subscribing and reload t

[2022-11-01 17:44] #69650 closed, assigned to bogiii

[2022-11-01 18:15] carinapilar commented on #67229
Hey @vajrasar! Would you be able to help us with some extra eyes on the above requests to restore historical content? Thanks!

[2022-11-01 18:18] davemart-in opened #69665 "Add date followed when sorting by date"
## Description

On the manage followed sites screen, when you sort by date followed, we should show the date that you followed the site for each site:

### Before

![image](https://user-images.githubusercontent.com/5634774/199309153-2efa4cc4-46c1-488e-aed8-757b33ee542c.png)

### After

![CleanShot 2022-11-01 at 14 39 12](https://user-images.githubusercontent.com/5634774/199312157-ab245574-9df0-4d6

[2022-11-01 18:22] Addison-Stavlo opened #69666 "LaunchPad - Launchpad stepper page does not stay in browser history."
To Repro:
* Go through the standard onboarding flow for newsletters or link-in-bio to get to LaunchPad
* Select the task to take you into the editor ('add links' for LIB or 'write your first post' for newsletters)
* Once the editor loads, click the browser's back button.
* Notice we dont return to the launchpad, but whichever start/stepper page we had previously visited.

This is likely due to use

[2022-11-01 18:54] agrullon95 commented on #61090
Fix to empty template/template_parts have been deployed: D90791-code.

[2022-11-01 18:54] #61090 closed, assigned to agrullon95

[2022-11-01 19:31] Copons commented on #67059
@mmtr this looks similar to https://github.com/Automattic/wp-calypso/issues/67344
Would you mind checking this within the same context?

[2022-11-01 19:42] Jaykame commented on #69441
Reported in #37135023-hc
The workaround of wp-admin did not work so I suggested user use the image cropping tool as an alternative.

[2022-11-01 20:38] khristiansnyder commented on #68716
+1. Noticed this on my site. I often direct others to this tool to quickly create pages using the layouts and would be quite valuable to have showcase the rest of the layouts.

[2022-11-01 22:46] jerrysarcastic commented on #66233
Also reported in https://wordpress.com/forums/topic/text-style-not-the-same-in-editor-and-in-blog/
Independent Publisher 2 theme

[2022-11-01 22:57] DustyReagan commented on #69646
Do we just need to confirm the plan is one of [these](https://github.com/Automattic/wp-calypso/blob/b2ac371036a0c0e9988ef4b2c7bb3ada9a4f6aa8/packages/calypso-products/src/constants/wpcom.ts#L42-L55) or [these](https://github.com/Automattic/wp-calypso/blob/b2ac371036a0c0e9988ef4b2c7bb3ada9a4f6aa8/packages/calypso-products/src/constants/wpcom.ts#L64-L66)?

[2022-11-01 23:56] lsl commented on #69646
Need to confirm what sites the feature should apply to.

From my understanding it was only dotcom plans but maybe p2 should be included?

[2022-11-02 00:11] jerrysarcastic opened #69675 "Search Widget: Some search terms result in a 500 error"
### Quick summary

we have an oddball issue in our public forums with a site owner that is getting a 500 error if they try to perform a search on their site (search widget) and I have also been able to confirm this issue.   Search is broken for some specific terms but loads correctly for others.  For example most single-word searches work just fine, but specific multi-word searches result in an er

[2022-11-02 00:57] taipeicoder commented on #69515
Closing as it's deployed.

[2022-11-02 00:57] #69515 closed, assigned to taipeicoder

[2022-11-02 00:59] taipeicoder commented on #69403
Closing as it's deployed.

[2022-11-02 00:59] #69403 closed, assigned to arthur791004

[2022-11-02 01:00] ha-un opened #69677 "Navigation Block: Does not indicating submenus on mobile (when items are centered)"
### Quick summary

When using the Navigation Block to create submenus, the mobile view doesn't indicate which is a submenu. This only happens when the menu items are aligned as center.

### Steps to reproduce

1. Create a site with Munchies theme. (or any theme)
2. Create a menu & add submenus (page links).
3. (If not already), center the menu items.

### What you expected to happen

When the menu

[2022-11-02 01:59] bangank36 commented on #69507
Regarding copy, we found the message on theme switch modal is confusing users when they select not to preserve home page:

\`After activation, you can still access your old homepage content under Pages -> Drafts\`

I think we should check for current homepage settings in Reading option to update the message accordingly

![Screenshot on 2022-11-01 at 11-27-46.png](https://cdn-std.droplr.net/files/a

[2022-11-02 02:45] inaikem commented on #56758
@Automattic/kitkat, this issue's been around for quite a while now and feels like it should have had some developer attention already. Any thoughts on the best team to assign/ping?

[2022-11-02 02:59] lsl commented on #69646
https://github.com/Automattic/wpcomsh/pull/1118/files?w=1#diff-0cd1140ab64b12cf731ce339c45d831b963a2e0b6dbb03c2fcff67bacdf7eaf6R108-R112

Looks like it

[2022-11-02 03:35] vinnykaur opened #69679 "Block Patterns not available on the mobile app."
### What

When trying to add block patterns from the mobile app, we cannot find that option.

The option is available through the web though.

Screenshot from desktop view:

<img width="911" alt="Screen Shot 2022-11-02 at 08 47 18" src="https://user-images.githubusercontent.com/49183855/199388841-d4fe23a6-62a8-47f4-a2ec-a73fef0eb547.png">

Screenshot from the mobile view:
![image](https://user-ima

[2022-11-02 03:44] rosepajaroja opened #69680 "Unable to keep Editor's View - Fullscreen mode disabled"
### Quick summary

Cannot keep the editor's View → Fullscreen mode unchecked. It will work while editing a post/page, but after publish and create a new post/page, it shows checked again.

![Alt text](https://d.pr/i/a3sy4Y/QOQjcGDf63+)

### Steps to reproduce

1. Create/Edit a page/ost.
2. Uncheck "Fullscreen mode"
3. Publish page/post.
4. Create/Edit a post/page again.
5. Check "Fullscreen mode"

[2022-11-02 07:10] arthur791004 commented on #69373
Close it via D91170-code

[2022-11-02 07:10] #69373 closed, assigned to arthur791004

[2022-11-02 07:16] arthur791004 opened #69686 "Persist Home template doesn't work on AT sites"
After we deployed D89996-code, we're able to persist the Home template when switching themes. However, this doesn't work on AT sites, and we might need to support it.

### Related

* https://github.com/Automattic/wp-calypso/issues/68427

[2022-11-02 07:41] fushar opened #69687 "Deprecate Theme Switch modal because: "Preserve my homepage content" modal does not load preview for certain themes"
# Description
[Updated 20 Jan 2023]
Over the past months we have had many discussions on how the visuals in  theme switch modal is "mostly" broken. It some very specific cases the live preview (the left side visual) works properly and applies the styles of the new theme to the user's existing content.  For the cases where this works properly we want to show the visuals.  Otherwise we want to hide

[2022-11-02 09:09] millerf commented on #69513
The diff was landed

[2022-11-02 09:09] #69513 closed, assigned to n3f

[2022-11-02 09:32] sharpirate opened #69690 "Launchpad: Address a11y issues from aXe scan"
#### Summary
I've run an aXe scan on the Launchpad page which identified some unresolved a11y issues:

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/20927667/199453930-ab28426d-012e-4a97-96a5-8fb908143de9.png">

#### Reproduce
1. Install [aXe Devtools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US)
2. Go

[2022-11-02 09:55] fushar commented on #69687
Update on investigation: I've narrowed down the possible culprits; the preview loads if I commented out the following two lines 😅

- fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Syvo%2Sjc%2Qgurzr%2Qcerivrj.cuc%3Se%3Q09r44316%23124-og
- fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Syvo%2Sjc%2Qgurzr%2Qcerivrj.cuc%3Se%3Q09r44316%23128-og

Will investigate further...

[2022-11-02 10:16] gcsecsey opened #69692 "Marketplace search: index categories and tags to a common schema"
Follow-up issue to #69337

Based on the backlog grooming here: p1666876574190569-slack-C02JPCHEKDY

To make filtering by category easier, we need to index the below taxonomies to the `plugin.*` array:
- For WP.org plugins:
  - `plugin_tags`
  - `plugin_category`

- For WC.com products:
  - `wpcom_marketplace_categories`
  - `product_tag`

We can update the filtering logic created in #69337 to use

[2022-11-02 10:26] gcsecsey opened #69693 "Marketplace search: add more weight to number of installs and reviews"
Based on the discussion here: p1666887570005669/1666886827.660349-slack-C029JEQRVRT

Currently, the ranking of search results puts much more weight on matching pieces of product title or description than needed. Important data points, like the number of installations or number of reviews for the product are considered with a lower weight.

We need to update the ranking config to feature more popul

[2022-11-02 10:40] millerf commented on #69662
Cannot reproduce...

[2022-11-02 10:44] gavande1 opened #69694 "Marketplace: Vendor OAuth2 Token Doesn’t Have User_id Configured"
### Details

At some point along the way of developing the licensing system, it seems like we stopped treating vendors as machines ([Client Credentials](https://auth0.com/docs/get-started/authentication-and-authorization-flow/client-credentials-flow)) and started to associate credentials with user ids.

There are several instances where we needed to know the `user_id` of from vendor token.

### Wh

[2022-11-02 11:00] gcsecsey opened #69695 "Marketplace search: enable `track_total_hits` by default"
Follow up to https://github.com/Automattic/wp-calypso/pull/68978

Based on Greg's comment here: D89845-code#1887995

We don't need to use a query parameter to turn on `track_total_hits` for a specific query, it can be used for all queries from the Marketplace search API.

[2022-11-02 11:05] artpi commented on #69520
Sharing here what I shared on Slack:

1. We need to make header consistent with other screens. Here for example, it has a customization passed in for site logo and title:
![image](https://user-images.githubusercontent.com/3775068/199473942-e211c9a5-31e7-4b52-974d-1970a8d56fe0.png)

2. We need to make button respect the color from customization:

![image](https://user-images.githubusercontent.com/3

[2022-11-02 11:54] bogiii opened #69698 "Import focused flow: Support choosing domain and plan steps"
Create a new onboarding flow:

- Doesn’t assume site is created yet, and instead creates a new site.
- Doesn’t include “goals” step
- Does include domains & plans steps
- Asks for customer’s old site’s URL like importer flow does

cc @vishnugopal

[2022-11-02 12:03] arthur791004 commented on #69687
It's a bug in the theme preview. See https://core.trac.wordpress.org/ticket/56908#comment.

[2022-11-02 12:27] bogiii commented on #68984
Since we changed the BE logic to all requests go async. We don't have that kind of error handling anymore.

And the reason why you have been redirected to the home page (see video) is that you tried the newsletter onboarding flow multiple times. Launchpad will be there only for the first time (that's how the newsletter flow has been setup).

[2022-11-02 12:27] #68984 closed, assigned to bogiii

[2022-11-02 13:35] WunderBart commented on #65906
Nice work with all the remaining fixes, @karenroldan! 🙌 I've run the Atomic suite against trunk to check if we're all set and found [one more failure](https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_atomic_production_desktop/8924608?buildTab=tests&status=failed) - would you like to pick this one or should I? (I've already added it to the tracking list above)

[2022-11-02 13:40] karenroldan commented on #65906
Thanks, @WunderBart! Great work!

Good to see there's only one left 🥳 I can pick it up!

[2022-11-02 14:54] brinbliss commented on #69395
5677110-zd-woothemes

[2022-11-02 14:56] millerf commented on #69520
Fixed in D91413-code

[2022-11-02 15:03] millerf opened #69704 "Template var not replaced"
Follow up on https://github.com/Automattic/wp-calypso/issues/69520

When entering the right code, the "thank you" template is wrong ({{email}} is not replaced)

See:
<img width="327" alt="Screenshot 2022-11-02 at 16 01 33" src="https://user-images.githubusercontent.com/790558/199525101-fec4214b-8643-401a-873f-00b81fe37e1b.png">

[2022-11-02 15:04] millerf opened #69705 "See what is wrong with backend HTTP code"
Follow up on https://github.com/Automattic/wp-calypso/issues/69520

When entering a wrong code, backend returns HTTP code 200, even if it returns code:400. See this comment: p1667398923957349-slack-C01B6KEJ5GE

[2022-11-02 15:13] csabarakasz commented on #69604
This [turned out to be a core issue](p1667371994389059-slack-C03TY6J1A) so we can probably close this. I am gonna wait for a second opinion.

[2022-11-02 15:32] sajmes commented on #69395
5675734-zd-woothemes

[2022-11-02 15:56] sajmes commented on #69395
5665210-zd-woothemes

[2022-11-02 16:08] sajmes commented on #69395
5665672-zd-woothemes

[2022-11-02 16:45] the-misha opened #69708 "Scheduled post's publish date/time picker shows different dates"
### Quick summary

User reports that the date shown on the visual calendar when they try to schedule a post is off from the date shown in the text field.

### Steps to reproduce

1. Start on any post.
2. Click on date next to Publish under the Summary module in the right sidebar of the post.

### What you expected to happen

Date indicated on calendar should match date shown in text fields.

### W

[2022-11-02 17:58] artpi opened #69711 "[Paid Newsletters] :: investigate weird subjects in sent subscription confirmation emails"
Per @n3f :
p1666727772715049-slack-C01B6KEJ5GE

[2022-11-02 17:59] agrullon95 commented on #61179
Thanks for the update @pbking. The changes in [#6484](https://github.com/Automattic/themes/pull/6484/files) have fixed the translation issue for some of themes in the PR (blank canvas, blockbase) , but I'm still having translation issues for theme ssuch included such as `vivre` and `disco`.

[2022-11-02 19:50] jerrysarcastic opened #69712 "Marl: Editor style for aligncenter missing for image blocks"
### Quick summary

When adding image blocks in Gutenberg and setting them to aligncenter, the image is shown in the editor as left aligned, and does not correctly preview the block setting.  The image is correctly aligned on the published page/post, so this affects the view within the editor only.

Screenshot shows view on the site front end (right) and the editor (left) with image alignment shown

[2022-11-02 19:50] jerrysarcastic opened #78205 "Editor style for aligncenter missing for image blocks in some FSE themes"
### Quick summary

When adding image blocks in Gutenberg and setting them to aligncenter, the image is shown in the editor as left aligned, and does not correctly preview the block setting.  The image is correctly aligned on the published page/post, so this affects the view within the editor only.

Screenshot shows view on the site front end (left) and the editor (right) with image alignment shown

[2022-11-02 19:54] tanjoymor commented on #69441
Another case 37781128-hc (in block image cropping doesn't work as they're trying to edit an image they want to use as the Featured Image).

[2022-11-02 20:38] sajmes commented on #69395
5678240-zd-woothemes

[2022-11-02 21:04] sajmes commented on #69395
5678737-zd-woothemes

[2022-11-02 21:14] ezebecke opened #69717 "[Bug]: Screen reader JAWS 2023 losing focus in the editor"
### Quick summary

 A user who is using a screen reader and their screen is losing focus in the editor window whenever they try to edit a post or add content in the new post by switching to Forms mode in their screen reader.

### Steps to reproduce

### What you expected to happen

To be able to enter "Forms mode" (Screen reader feature) without getting kicked out of the editor.

### What actually

[2022-11-02 21:19] epeicher commented on #65081
This is happening because the `domain_mapping` has a value for the `.blog` subdomain, so the following condition
fbhepr%2Skers%2Sjcpbz%2Sjc%2Qpbagrag%2Syvo%2Sngbzvp%2Sryvtvovyvgl.cuc%3Se%3Q89948n49%23348-og
does not meet and the warning is not returned.

If we need to still display the warning we should update that condition. @cpapazoglou , @jmdodd, What additional criteria could we use to identif

[2022-11-02 21:20] zaguiini opened #69718 "2FA: Retry failed scenarios on authentication"
### Details

On https://github.com/Automattic/wp-calypso/pull/69460, we implemented a mechanism to prevent the loading of a query that depends on 2FA if the user is not yet authorized. We would like to check the existing 2FA-required scenarios and adapt the logic to automatically retry or not render components that depend on 2FA depending on the current user status.

### Checklist

- [x] Analyze a

[2022-11-02 21:28] sirbrillig commented on #68049
FWIW, that line was added in https://github.com/Automattic/wp-calypso/pull/25927. It reads "The only difference from https://github.com/Automattic/wp-calypso/pull/25473 is a fix which allows Jetpack purchases to be removed regardless of their expiration." but it doesn't really say _why_.

[2022-11-02 21:38] khristiansnyder commented on #69712
Noticing the same in Meraki theme. Image block set to align center aligns to the left. Published page looks fine.
#37784535-hc

<img width="2056" alt="Screenshot 2022-10-31 at 3 03 07 PM" src="https://user-images.githubusercontent.com/41035049/199607379-cc4b6fae-ea38-4941-8fda-7ddcf8c4de8f.png">

[2022-11-02 22:27] nicdwilson commented on #61557
5678881-zen

Removing absolute positioning from #wpfooter fixes this.

!krAwae.png](https://user-images.githubusercontent.com/3624025/199614323-e1a909a7-f615-4bfd-9cdb-4de58f9fc4d5.png)

![9Svqrs.png](https://user-images.githubusercontent.com/3624025/199614389-2629cacb-88a3-45c2-91ea-34e4402d85e3.png)

[2022-11-02 22:46] jjchrisdiehl commented on #68049
@sirreal It looks like a condition was added to the `isRemovable` function on the Purchases page to allow Jetpack plans to be removed while in a disconnected state.

It now looks like this is leading to both the 'Remove' and 'Cancel' buttons to be shown on Jetpack plans after the plan leaves the refund window as noted above. Before I go ahead and remove the `isJetpackPlan` condition in the `isRemo

[2022-11-02 22:56] n3f opened #69722 "Fix subscription login dialog"
After entering a previously subscribed email (and entering the security code) the confirmation dialog needs to be updated. (Both the bad placeholder `{{email}}` and the general text should all be changed.

![image](https://user-images.githubusercontent.com/6354169/199617852-0e6841d4-4b63-466c-9216-37c1d21e533e.png)

[2022-11-03 00:40] gutenberg-plugin-upgrade-bot[bot] opened #69723 "Gutenberg: v14.5.x plugin upgrade"
Previous upgrade: #69391
Release notes: [v14.5.4](https://github.com/WordPress/gutenberg/releases/tag/v14.5.4)

**Install and activate**

- [x] Install and activate v14.5.0-rc.1 on edge (D91530-code)
- [x] Install and activate v14.5.0 on edge (D91986-code)
- [ ] Activate v14.5.0 on production (######-code)
- [ ] Request v14.5.0 AT upgrade (######-p2)
- [x] Install and activate v14.5.1 on edge (D92

[2022-11-03 01:25] cuemarie opened #69724 "Theme: Rowling - Quote block missing styling in editor, looks like Paragraph block"
### Quick summary

In the theme Rowling, text inside a quote block looks the same as regular paragraph blocks, making it hard to find in the editor.

### Steps to reproduce

1. Activate **Rowling** theme
2. In a page or post, add a quote block

### What you expected to happen

The quote block to show any kind of indentation or styling, making it stand out as a different block.

### What actually h

[2022-11-03 02:46] thekingsprojects commented on #44161
I see this went stale ages ago, but since it's still open I'll add for completeness' sake:

I played into a ticket with the same issue today ( 5677684-zen ), but I'm not sure this is actually a bug (or at least not a bug with the Blog Posts block itself).

As I understand it the Blog Posts block seems to only display post excerpts, and default excerpts have never respected formatting unless you ex

[2022-11-03 04:08] fushar commented on #69687
Thanks @arthur791004!

Confirmed that by applying the patch that is proposed in the above issue, this broken theme preview issue is also resolved 😄

<img width="744" alt="image" src="https://user-images.githubusercontent.com/1525580/199645853-838b507d-3b83-431d-86cd-245655d1ae43.png">

[2022-11-03 06:51] JulianBustamante commented on #68149
PoC Diff created D91555-code

[2022-11-03 07:14] pauljacobson commented on #69427
It looks like we have another report here: 5635700-zen

[2022-11-03 07:57] pauljacobson opened #69732 "WooCommerce Setup Wizard: Users stuck on empty or blank Business Details page"
### Quick summary

A couple customers have reported that when they work through the Setup Wizard and reach the "Business Details" page, the page doesn't load content and there is no clear way to proceed to complete the setup process:

![Capture_2022-10-30 at 13 10 25](https://user-images.githubusercontent.com/2912202/199670213-2b6cc551-dcc0-4544-87b0-5dd7965a4bce.jpeg)

### Steps to reproduce

1.

[2022-11-03 07:59] pauljacobson commented on #69732
I see that this may be as a result of the Google Listings and Ads plugin. Closing this issue in favor of the related issue here: https://github.com/woocommerce/google-listings-and-ads/issues/1741

[2022-11-03 07:59] #69732 closed, assigned to nobody

[2022-11-03 08:32] #69554 closed, assigned to ivan-ottinger

[2022-11-03 08:52] ivan-ottinger commented on #69424
D90652-code is now merged to production.

[2022-11-03 08:53] #69424 closed, assigned to ivan-ottinger

[2022-11-03 08:53] simison commented on #69698
See https://href.li/?https://github.com/Automattic/wp-calypso/pull/68722 and pdDR7T-hL-p2

[2022-11-03 08:54] ivan-ottinger commented on #69554
https://github.com/Automattic/wp-calypso/pull/69488 is now merged and deployed.

[2022-11-03 09:15] fushar opened #69734 "Pattern Assembler: Enforce header & footer & content are selected"
### Background

Currently, in the "Design your page" screen, we allow the step to continue even though no patterns are selected. For example, if the user selected nothing, then they will be presented with a blank Site Editor:

![image](https://user-images.githubusercontent.com/1525580/199683785-00284bb7-d097-4e45-8176-2211a3065b28.png)

The problem: it is not intuitive how to add header / footer t

[2022-11-03 09:27] millerf opened #69736 "[Bug]: Weird behavior in subscriptions management page"
### Quick summary

When trying to unsubscribe from a subscription, the subscription get duplicated on screen (but it still gets unsubscribed).

A screencast is worth a thousand words:

https://user-images.githubusercontent.com/790558/199685617-24874043-c55f-4d5e-8d30-a38b7ff7da8a.mov

### Steps to reproduce

1. Get a subscription from a site SITE_URL
2. Go to your subscription management page (htt

[2022-11-03 10:04] ivan-ottinger opened #69737 "Featured image email toggle: Move the setting to Settings → Reading"
The goal of this task is to move the Featured image email toggle from _Settings → Writing_ to _Settings → Reading_ - as can be seen in the following Figma design: wdlTywgHNsHnVw1IMre1eQ-fi-1%3A3.

This task is waiting for the new Reading settings page to be implemented first and hence cannot be worked on earlier.

[2022-11-03 10:09] mxhassani commented on #65656
Another case here: 37794585-hc
![image](https://user-images.githubusercontent.com/81776920/199694541-2e9ef421-ed4e-490d-9c84-5cb29e14ceb2.png)

[2022-11-03 10:23] artpi commented on #69705
It's a pretty common pattern. I think this is what `envelope=1` is doing

[2022-11-03 10:23] #69705 closed, assigned to nobody

[2022-11-03 10:26] artpi commented on #69704
I think I failed to port the javascript that should run on this specific flow. I think @n3f also reported it on slack

[2022-11-03 10:27] artpi commented on #69704
Oh its a duplicate of #69722

[2022-11-03 10:58] michaelpick commented on #67321
Thanks @saygunnyc! I agree with your comments above. Otherwise, LGTM!

[2022-11-03 11:08] artpi opened #69739 "Improve debug snippet for the payment features"
Pretty often when we are developing payment features we run into some obstacle and bang our heads why the feature does not work. It should generally work when this checklist is successfully completed: pbOQVh-2zk-p2
But it is not obvious how to pinpoint what is wrong, as symptoms are scattered all over.

We need some kind of a debug tool.

It is best it works both in Jetpack and in WPCOM, so it is

[2022-11-03 11:18] millerf opened #69740 "[Bug]: Earn block asking for unnecessary upgrade"
### Quick summary

The payment block is asking for a plan upgrade but checkout (after paying) tells you it is unnecessary.

This happens  on WPCOM in a development environment and has not been tested any place else.

<img width="738" alt="Screenshot 2022-11-03 at 12 00 20" src="https://user-images.githubusercontent.com/790558/199707166-4f36048d-aa56-4421-a71e-3e4032f0c24f.png">

While checkout tel

[2022-11-03 11:46] mxhassani commented on #65656
Another case here: 5680004-zd-woothemes
The special character appear to be: `—`

[2022-11-03 12:22] annbingle commented on #56574
Profile description not updating 25074156-hc

Workaround: I updated their profile description in CLI.

[2022-11-03 13:45] TimBroddin commented on #65241
By default 60px padding is added underneath `.step-container.layout.is-horizontal-layout.has-navigation`. I think we can safely remove this.

[2022-11-03 14:13] epeicher commented on #68148
Diff reviewed ✅ D91398-code

[2022-11-03 14:26] millerf commented on #69740
Some more data: if you are on a Personal plan and do the checkout, it renews your plan...

[2022-11-03 14:28] artpi opened #69744 "[Newsletters] Hide entire comment section when visitor has no access to post"
When it has been determined that the visitor does not have access to the post, we should hide the entire comments section.

1. User should not be able to see comments
2. User should not be able to post a comment

[2022-11-03 14:34] ivan-ottinger commented on #65656
I tried to reproduce the issue on an Atomic test site, but without any luck. Here's what I tried so far:

- added multiple special characters / words mentioned in this thread to the post title, e.g. `ı`, `MARS GERİ GİDERKEN`, `Dil Yarası`, etc...
- set the site language and user locale to Turkish
- looked up a specific post that was sent with "gibberish" / incorrectly coded title and resent the em

[2022-11-03 14:40] agrullon95 commented on #69666
Changes for this issue merged: https://github.com/Automattic/wp-calypso/pull/69691

[2022-11-03 14:40] #69666 closed, assigned to agrullon95

[2022-11-03 15:14] mmtr commented on #67344
I took a deeper look at this since WP.com Simple sites are already running WP 6.1 and the issue is still present. Turns out that it's a Core bug that happens only when the KSES filters are active (which is the case of WP.com Simple sites), so I reported it in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/45520

[2022-11-03 15:17] mmtr commented on #67059
@Copons Yes, this is the same issue as https://github.com/Automattic/wp-calypso/issues/67344 which is caused by this Gutenberg bug: https://github.com/WordPress/gutenberg/issues/45520

[2022-11-03 15:25] davemart-in opened #69749 "Weak password banner disables ability to edit password on signup form"
## Description

I just ran into a critical bug trying to create a new [WP.com](http://wp.com/) site. I just tossed in a random assortment of characters as a password (`passjdks`) and saw this banner alert, but the form fields became disabled, so I couldn't actually change my password.

<img width="1027" alt="CleanShot 2022-11-03 at 11 16 41@2x" src="https://user-images.githubusercontent.com/563477

[2022-11-03 15:50] alshakero commented on #69028
Closing as done in https://href.li/?https://github.com/Automattic/wp-calypso/pull/69561

[2022-11-03 15:50] #69028 closed, assigned to ebinnion, alshakero

[2022-11-03 15:56] artpi commented on #69519
There are additional things to think about here

- In order to have the "Paid Subscriber" access level working, you need to have
    - A paid plan for your site
    - Stripe account connected
    - A subscription plan set up.
    I think it would also be awesome to communicate that if you don't have one of them set up and nudge you what to do
- It would be neat to educate that this will match emai

[2022-11-03 16:13] artpi opened #69752 "[Newsletters] Design Logged-out view"
We need designs for when we have determined user does not have access. We currently show this:

<img width="1064" alt="Zrzut ekranu 2022-11-3 o 17 12 23" src="https://user-images.githubusercontent.com/3775068/199774666-ee190572-9fa3-43a3-b99b-69d4ff4a2f8b.png">

Things we would like to communicate:

1. The entire content of this page is hidden and you will only get access once you either subscribe

[2022-11-03 16:41] romarioraffington commented on #69704
Also, we always show the "Thank You" page, even when the OTP is invalid

https://user-images.githubusercontent.com/7076981/199781231-5ac2e343-894c-4359-9eca-802373349f7f.mov

[2022-11-03 16:47] #69662 closed, assigned to millerf

[2022-11-03 16:48] ivan-ottinger commented on #65656
In case we get in touch with one of the affected users, would it be possible to ask them to forward us the email with broken site title?

We could then compare the raw email (including headers) with email that is rendered properly. That could lead us further.

[2022-11-03 16:52] danielbachhuber commented on #67031
Closing in favor of https://github.com/Automattic/wp-calypso/issues/69749

[2022-11-03 16:52] #67031 closed, assigned to nobody

[2022-11-03 17:30] wynwin commented on #69712
Another report in 37804446-hc

[2022-11-03 17:45] epeicher commented on #65081
Started a thread asking about this issue here p1667496657336169-slack-C029JEQRVRT

[2022-11-03 17:59] Addison-Stavlo opened #69756 "LaunchPad - Surface a launchpad banner in calypso"
For sites that have the launchpad active, we should surface a banner in Calypso admin to make finding and returning to the launchpad easy. So when a launchpad user selects "go to admin" and visit more complicated calypso admin, there will always be a visible indication of how to return to the launchpad at the top of the page.

In a fitting visible location such as the top of the right hand column

[2022-11-03 18:00] millerf commented on #69704
I actually cannot find the task. Can you create one?

[2022-11-03 18:03] #68728 closed, assigned to jsnmoon

[2022-11-03 18:08] Addison-Stavlo opened #69757 "LaunchPad - add return to launchpad modal in Site Editor upon save."
When launchpad users save changes in the site editor (such as link-in-bio 'add links' step) we should surface a friendly modal to help them get back to the launchpad.

The modal content can be celebratory of saving, and present options to 'return to launchpad' or 'continue editing'. We can use friendly icons ( 🎉 🚀  etc.), description/CTA (ex: "Congratulations on saving these changes to your site!

[2022-11-03 18:10] artpi opened #69758 "[Newsletters] Check the checkout design"
Here is what we have now:

![Zrzut ekranu 2022-11-3 o 19 11 49](https://user-images.githubusercontent.com/3775068/199801811-49ae5b52-8354-49a8-9614-dcb452af4440.png)

![Zrzut ekranu 2022-11-3 o 19 11 56](https://user-images.githubusercontent.com/3775068/199801835-746a2d0a-1ffa-4216-9dc8-33cdb8514e5a.png)

We were talking with @mtias  and @pablohoneyhoney about:

- Weird design hierarchy of labels

[2022-11-03 18:21] artpi opened #69759 "[Newsletters] Validate OTP"
Also, we always show the "Thank You" page, even when the OTP is invalid

https://user-images.githubusercontent.com/7076981/199781231-5ac2e343-894c-4359-9eca-802373349f7f.mov

Per @romarioraffington in #69704

[2022-11-03 18:22] artpi commented on #69704
https://github.com/Automattic/wp-calypso/issues/69759

[2022-11-03 18:22] artpi commented on #69704
Created one just now

[2022-11-03 18:26] artpi opened #69760 "[Newsletters] [LATER] Logged-out view customization"
This is a follow-up to https://github.com/Automattic/wp-calypso/issues/69752 to keep on a backburner:

It would be neat if site owners could customize the logged-out messaging - to describe why one would want to subscribe

I think this could be done with a template part.

[2022-11-03 18:33] artpi commented on #69519
Similarly:

We need a nudge in post-publish flow that something is broken for the same conditions that govern the subscribe popup

[2022-11-03 18:39] agrullon95 commented on #55682
Warning @cuemarie noted above has been fixed with #69652 .

[2022-11-03 18:39] #55682 closed, assigned to agrullon95

[2022-11-03 19:19] jeremyanderberg opened #69763 "Move + edit educational resources section on /plugins"
### Details

Here are my recommendations for moving and slightly editing the educational resources found at the bottom of the /plugins page. Here's what it looks like now:

<img width="961" alt="Screen Shot 2022-10-18 at 2 00 23 PM" src="https://user-images.githubusercontent.com/106615146/199813789-b2dd7fea-f9fd-41fd-9002-0a1d99a46c18.png">

1. Can we get rid of the category names at the top of th

[2022-11-03 20:17] #58118 closed, assigned to edanzer, Addison-Stavlo

[2022-11-03 21:00] romarioraffington commented on #69411
I think we can close this for now

[2022-11-03 21:00] #69411 closed, assigned to romarioraffington

[2022-11-03 21:12] romarioraffington opened #69764 "Port tests from FSE to Jetpack"
### Description

We want to port [these Premium content tests](https://github.com/Automattic/wp-earn/blob/master/dev/test/Automattic/Earn/PremiumContent/PremiumContentDomTest.php) to Jetpack

[2022-11-03 21:17] #69633 closed, assigned to sirbrillig

[2022-11-03 22:20] happychait opened #69768 "Remove "Add User" button on the Followers tab of Simple sites"
### What

Remove the `Add User` button on the Users page → Followers tab of Simple sites.

### Why

`Add User` button is only relevant on the Team tab for inviting people to the site with the other regular roles (Administrator, Editor, Author, Contributor, and Viewer (on private sites)).

On the Followers tab, we don't allow inviting Followers. Now we can only "invite" Followers from the Email Sub

[2022-11-03 22:44] jamiepalatnik commented on #68867
Closing this since there are no new user reports. The issue should be resolved. If we do get any other user reports with the same error code discussed above, we can reopen and take another look.

[2022-11-03 22:44] #68867 closed, assigned to nobody

[2022-11-03 23:07] autumnfjeld opened #69771 "[Placeholder] Address Ian's comments on theme switch"
# Description
Dec 12 update: I'm keeping this issue open as a placeholder.  All [theme switch issues](https://github.com/orgs/Automattic/projects/338/views/35) will be triaged when we are ready to take action in early 2023.

See pbxlJb-2X4-p2#comment-2066

Let’s parse fixes/create issues as

* fixing anything we’ve made worse (if that is the case)
* things we need to fix in general

And let's figu

[2022-11-03 23:19] autumnfjeld commented on #69175
I have updated copy in this issue.  It is good to go.

[2022-11-03 23:21] danielbachhuber commented on #69144
There might be an issue on p2 breath sites too p1667516446086859/1666035976.333449-slack-C02TCEHP3HA

[2022-11-03 23:21] Gustavo-Hilario opened #69773 "Domain Transfer: Improve how the link to update domain name servers works"
### What

I have noticed a helpful banner that says, `Transfer successful! To make this domain work with your WordPress.com site you need point it to WordPress.com name servers.` (_I just noticed a small typo. It should be:_ need **to** point …) suggesting users update name servers after a domain is transferred. However, when we click on that link, it just redirects us to the domain settings, but

[2022-11-03 23:52] jamiepalatnik commented on #69427
📌 SCRUBBING : RESULT
- Did not test since the issue has no steps to replicate on a test site or with a test user.

📌 FINDINGS/SCREENSHOTS/VIDEO
- The issue seems to be a report for a specific user, with no steps to replicate on a test site.
- Keeping the issue open since [this comment](https://github.com/Automattic/wp-calypso/issues/69427#issuecomment-1298343455) shows it has been added to the Aja

[2022-11-03 23:59] jamiepalatnik commented on #69441
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this in Calypso. Cropping in WP Admin worked as expected.
- Looks like it's already being worked on based on [this comment](https://github.com/Automattic/wp-calypso/issues/69441#issuecomment-1293935005).

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-04 00:17] vykes-mac commented on #69441
There's a fix attached that's currently being reviewed.

[2022-11-04 00:18] jamiepalatnik commented on #69497
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this, but only when there is no payment method saved for the subscription.
- It seems reasonable for a prompt to appear to remind the user to add a payment method for the renewal, but maybe the copy could be improved so it is clear why the message is appearing.
- This might be OK to close since it

[2022-11-04 00:26] jamiepalatnik commented on #56758
📌 SCRUBBING : RESULT
- Skipped testing this since I do not have 15+ test emails to use for testing, and there are already multiple user reports.
- Moving this forward for further review.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-04 00:28] jamiepalatnik commented on #69167
Moving this back to Needs Triage so we can test again with one of these themes.

[2022-11-04 00:48] donalirl opened #69776 "Theme Showcase: Change our themes from "by Automattic" to "by WordPress.com""
### What

Our themes in Appearance → Themes say "by Automattic", but shouldn't it say "by WordPress.com"?

![image](https://user-images.githubusercontent.com/30727666/199861264-61227c34-11c9-4a88-9fdd-9fbbbc7bb401.png)

### Why

Users do not know what "Automattic" is. It is better for branding and user recognition to say "by WordPress.com" for our themes in the WordPress.com theme showcase.

Had t

[2022-11-04 01:24] cuemarie commented on #69533
📌 SCRUBBING : RESULT
- Could not replicate

📌 FINDINGS/SCREENSHOTS/VIDEO

**Test 1 - Chrome Version 107.0.5304.87 on MacOS 12.5.1**
- Non superadmin account
- Changed email address within Chrome
- Cleared Chrome cache and opened new session
- Opened new email address, clicked email link to confirm change
- Logged in to WordPress.com
- **Email is now changed, as expected**

**Test 2 - Safari Versio

[2022-11-04 01:24] #69533 closed, assigned to nobody

[2022-11-04 01:32] cuemarie commented on #69564
📌 SCRUBBING : RESULT
- Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
![Markup on 2022-11-03 at 18:29:42](https://user-images.githubusercontent.com/27249804/199865765-b54cbbc7-f33c-4b31-9593-860740ef649e.png)

All 3 boxes noted above lead to the same error page that the OP shared. They are linked to the following:

1. https://wordpress.com/es/go/website-building/what-are-wordpress-plugins-and-themes-a-b

[2022-11-04 01:41] #69574 closed, assigned to nobody

[2022-11-04 02:08] inaikem commented on #55335
5595541-zen is back and hoping for an update. @cometgrrl / @yansern do either of you have a sense of when we might be able to look into this a little deeper?

[2022-11-04 02:43] cuemarie commented on #69401
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for sharing this feedback request!

[2022-11-04 02:46] cuemarie commented on #69416
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Great idea to help clarify the first step in onboarding. :) Thanks for submitting!

[2022-11-04 02:47] cuemarie commented on #69496
📌 ACTIONS
- Feature request kept

[2022-11-04 02:49] cuemarie commented on #69540
📌 ACTIONS
- Feature request kept

[2022-11-04 02:50] cuemarie commented on #69543
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for this feature request, @supernovia - I got a kick out of your screenshots as well 😁

[2022-11-04 02:51] cuemarie commented on #69544
📌 ACTIONS
- Feature request kept

[2022-11-04 02:53] cuemarie commented on #69599
📌 ACTIONS
- Feature request kept

[2022-11-04 03:34] ollierozdarz commented on #69665
Looks good @davemart-in!

[2022-11-04 03:51] margaretschneider commented on #68494
I see what you're seeing, @ivan-ottinger, that these embeds are working again. I just tried this Spotify embed as well, from the original article where I'd reported it:

- `https://open.spotify.com/episode/5oYMGuza5FIxB1KxvQCKoX`

[2022-11-04 03:59] p-jackson commented on #69749
#69755 addresses the frontend issue of the UI getting locked up.

We can also tidy up the logic in the backend D91653-code

[2022-11-04 04:05] vishnugopal commented on #69648
![Image from iOS](https://user-images.githubusercontent.com/533/199883217-13ab4475-843a-4f32-9d50-4c8b105b320b.jpg)

I clicked on either one of these links in the email. It's a bit strange that we're landing at different screens :-/

[2022-11-04 04:06] vishnugopal commented on #69648
![Image from iOS](https://user-images.githubusercontent.com/533/199883217-13ab4475-843a-4f32-9d50-4c8b105b320b.jpg)

I clicked on either one of these links in the email. It's a bit strange that we're landing at different screens :-/

[2022-11-04 04:20] ouikhuan opened #69778 "Update the text in Jetpack subscription module from Email Followers to Email Subscribers"

[2022-11-04 05:01] essleeung commented on #60257
Another user here: 32007731-hc
Looking for a good workaround.

[2022-11-04 05:27] pauljacobson commented on #69427
Hi @jamiepalatnik

The challenge with this issue is that we haven't been able to reproduce it. At the same time we have received multiple reports from multiple users.

We have had a discussion about this internally and haven't been able to make much progress there.

[2022-11-04 06:39] dognose24 opened #69781 "Empty query date in StatsPeriodHeader"
An empty query date is displayed within the StatsPeriodNavigation of the `Ads` page when navigating between periods, which makes the period title move up and down.

Related to https://github.com/Automattic/wp-calypso/pull/69743#pullrequestreview-1167799361
![Large GIF (764x68)](https://user-images.githubusercontent.com/4044428/199857753-8578cb38-ba9a-4cd2-97b1-d732d36ba855.gif)

[2022-11-04 07:09] dognose24 opened #69782 "The last query day on the Ads page chart is not selectable"
When navigating to the URL `/stats/ads/day/${ads-site}`, the last query day is not selectable even though the URL param `?startDate=` was set to the last date. The last day clicking triggers the day before it.

https://user-images.githubusercontent.com/6869813/199914711-666aebe1-0b71-4558-8f3e-de6c3cecffcd.mov

[2022-11-04 07:21] dognose24 commented on #69041
<img width="1145" alt="截圖 2022-11-04 下午3 17 43" src="https://user-images.githubusercontent.com/6869813/199915050-f7528659-d2da-463f-81b9-e8fb8d61d010.png">

The primary color from user themes works fine.

[2022-11-04 09:01] ivan-ottinger commented on #68494
Thank you for checking as well, @margaretschneider. 🙂

In this case I am closing the issue, but we can reopen it in case we get additional reports.

[2022-11-04 09:31] ivan-ottinger opened #69786 "Featured image email toggle: Add link pointing to the featured image docs"
The new Featured image email toggle needs more information on what the Featured image is.

Product discussion: pdtkmj-Gy-p2#comment-1149

The goal of this task is to add CTA link `Learn more about the featured image` leading to user-facing Featured image doc: https://wordpress.com/support/featured-images/.

We can use the same structure/design as we have for Feed settings:

![Image](https://user-i

[2022-11-04 10:33] danielbachhuber commented on #69144
Fixed with D91652-code

[2022-11-04 10:33] #69144 closed, assigned to TimBroddin

[2022-11-04 10:44] JanaMW27 opened #69787 "Task: Improvements for the Import a Domain flow."
### Details

If a user wants to import their domain, the first page that they see when they initiate the flow is the following:
<img width="1150" alt="image 6" src="https://user-images.githubusercontent.com/71137829/199953846-f6744db0-3726-480f-a92e-1053cfaf042b.png">

This page should have a better structure and provide directions for the user on what they have to do and why.

### Checklist

- [

[2022-11-04 10:45] JanaMW27 commented on #69787
@paulbonahora has done a first exploration [here](https://www.figma.com/file/eLf7gfvbYHwHUx1Ys2kAaa/Untitled?node-id=0%3A1).

[2022-11-04 10:54] arthur791004 commented on #68550
✅ Hide theme activation bar for blank-canvas-3 D91664-code

[2022-11-04 10:59] TimBroddin commented on #69244
Deployed!

[2022-11-04 10:59] #69244 closed, assigned to TimBroddin

[2022-11-04 11:49] artpi commented on #69519
Another consideration:

When the site is not public, the newsletter functionality will not show. What should we do when site is Private or not yet launched?

[2022-11-04 11:51] sverleis commented on #67493
Affecting 37500002-hc.

[2022-11-04 12:06] gcsecsey commented on #68219
Raised a draft diff that contains the changes to the field mappings: D91024-code

[2022-11-04 12:06] mmtr commented on #68707
This was solved in Gutenberg 14.4.0.

[2022-11-04 12:44] TimBroddin commented on #62773
Changes would need to be made here: https://github.com/Automattic/wp-calypso/blob/trunk/apps/editing-toolkit/editing-toolkit-plugin/coming-soon/fallback-coming-soon-page.php

### Quick spiking of this issue

Facebook shows the first `og:image` tag it encounters as the default, for `og:title` & `og:description` tags this is the other way around (the last encountered tag is shown)<sup>1</sup>. Becau

[2022-11-04 12:53] filipanoscampos opened #69789 "Baskerville 2: Editor theme styles cannot be deactivated"
### Quick summary

On websites using the Baskerville 2 theme, turning off the option to use theme styles inside the editor doesn't stay disabled after the page/post editor is reloaded and needs to be turned off every time the editor loads.

I was able to replicate this on a simple site with a Personal plan, but I had to start it from scratch.
On my older test websites (2021 sites) this bug was not

[2022-11-04 13:14] #57997 closed, assigned to agrullon95

[2022-11-04 13:35] millerf commented on #69711
Could not reproduce...

<img width="1339" alt="Screenshot 2022-11-04 at 14 32 51" src="https://user-images.githubusercontent.com/790558/199985409-73dbe92f-b6e6-4162-8d31-ecf930125f39.png">

[2022-11-04 13:39] millerf commented on #69711
I'll leave it here if someone has more luck....

[2022-11-04 14:02] simison commented on #62773
I think you should implement this in Jetpack, and it's fine if those get overridden by dedicated SEO plugins like Yoast. It'll just provide decent out-of-the-box experience for .com customers across simple and Atomic.

Copy I believe is fine already, but the image is missing. You can either copy the one from WordPress.com or check with designers if they'd wanna come up with a new generic one.

[2022-11-04 14:10] ezebecke commented on #55911
+1 37681530-hc

Another user expecting to see a video embedded in the notification email for new posts

[2022-11-04 14:19] ccwalburn opened #69791 "Add a Rumble Video block"
### What

Create a new block to allow Rumble video embeds (like the YouTube block).

### Why

Some users prefer Rumble to YouTube.

Reference: 30253297-hc

### How

_No response_

[2022-11-04 15:29] Addison-Stavlo commented on #69630
events have been added in -  https://github.com/Automattic/wp-calypso/pull/69642

We still plan to:

- [ ] create e2e cases to cover the basic interactions here
- [ ] register/verify the events on tracks.

And can close this issue once those follow ups are complete.

[2022-11-04 15:30] TimBroddin commented on #62773
Thanks for the feedback. I'll implement it in Jetpack!

[2022-11-04 15:42] Addison-Stavlo commented on #67820
paYE8P-28d-p2 for the discussion.

My apologies I missed your ping @mattwiebe !  I was letting Erick handle kickstarting this post since he has a good chance to dig into these items while you were on sabbatical.

[2022-11-04 15:42] #67820 closed, assigned to edanzer

[2022-11-04 16:23] kozer opened #69794 "[Bug]: malformed url params break up calypso"
### Quick summary

### The problem
When there is a malformed URL parameter, calypso breaks.

Look here for an example:

Normal URL:
![normal-url](https://user-images.githubusercontent.com/497103/200026799-252110fc-d078-472e-aa39-9d6c7901eb76.png)

Malformed URL:
![malformed-url](https://user-images.githubusercontent.com/497103/200026842-ad317521-6eec-447b-ab54-a4ec5884ea24.png)

This is not an eas

[2022-11-04 16:29] ccwalburn commented on #57043
I got another report on this and did some testing on my own and still see this issue so I am re-opening it.

I tested on a Simple site (Personal) and it occurs for both Karuna and Hew; but not for newer themes like Hever and Russell. The "Twenty" themes all seem to work, though...even the older ones like Twenty Eleven.

5675661-zen

[2022-11-04 17:03] lynnbgriffith opened #69795 "[Bug]: pullquote block content is not validating"
### Quick summary

In 5566112-zen, a user reported that their pullquote blocks render correctly on the fronted of their site, but in the editor itself, the text included in the pullquote is missing. On further examination, they're getting block invalidation errors for this content.

<img width="1171" alt="redacted-block-validation-error" src="https://user-images.githubusercontent.com/449804/200033

[2022-11-04 17:03] griffbrad commented on #67229
On closer reading, 5566112-zen appears to be a separate issue, related to block validation for their pullquote blocks. The original issue's fix wouldn't have differing behavior on new vs historical content because it was just adding a different class in the editor itself – not affecting the saved content in any way. Moving discussion of this pullquote block issue to #69795.

<img width="1171" alt=

[2022-11-04 17:03] #67229 closed, assigned to nobody

[2022-11-04 17:08] worldomonation commented on #66192
We've settled on Allure for now, but would like to eventually transition to a React based dashboard.

[2022-11-04 17:08] #66192 closed, assigned to nobody

[2022-11-04 17:12] griffbrad commented on #69795
Opened an issue upstream as well: https://github.com/WordPress/gutenberg/issues/45562

[2022-11-04 18:29] paxblueribbon opened #69798 "When opening submenu in safari, hitting back brings you back to"
### Quick summary

On a customer's site, in safari when you open the sub-menu and click an item, then hit the back button, you return to the homepage with the navigation menu still open.

### Steps to reproduce

Go to customer's site in Safari (or I'll use this one as an example (https://demo.studiopress.com/infinity/)

1. (In this example only) Shrink the browser so the mobile menu appears
2. Cli

[2022-11-04 19:35] n3f commented on #69711
We figured out on slack that this was a bad issue.  I have my outgoing email trapped in a filter and the subject changed/mangled, so it's probably related to that.

[2022-11-04 19:35] #69711 closed, assigned to nobody

[2022-11-04 20:01] cometgrrl commented on #55335
@ebinnion Is there someone who can look into this? If it would be useful, I can ask my team to see if we can reproduce it.

[2022-11-04 20:38] worldomonation commented on #67460
Turns out, @matticbot is able to commit changes to the repo, so that actually works.

However, I got access to a S3 bucket, so this whole discussion is moot.

[2022-11-04 20:38] #67460 closed, assigned to nobody

[2022-11-04 20:39] worldomonation opened #69800 "KPI Dashboard: connect Allure to Pre-Release Tests"
### Details

Once ready, connect the Allure report to Pre-Release Tests and let it run for some indeterminate amount of time. This way we can build up a trendline and history.

### Checklist

_No response_

### Related

_No response_

[2022-11-04 20:48] #69410 closed, assigned to WBerredo

[2022-11-04 20:49] worldomonation opened #69801 "KPI Dashboard: refactor the TeamCity configuration E2EBuildType"
### Details

In order to define custom steps, it was necessary to revert the build configuration for Pre-Release Tests to a non-templated configuration.

Look at refactoring the E2EBuildType into either:
- accept a `buildSteps` param that will override the default one, or;
- convert the class into a [build configuration template](https://www.jetbrains.com/help/teamcity/build-configuration-template

[2022-11-04 21:23] worldomonation commented on #66193
This piece is completed in #69802.

[2022-11-04 21:45] jamiepalatnik commented on #56279
Another report: 37588678-hc

One link was showing as the URL only, when other links displayed as an embed preview automatically. It's not clear why that one link wasn't working like the others.

Suggested using the Blog Posts block as a workaround since all the links were for the user's own site.

[2022-11-04 23:02] worldomonation commented on #69294
I've reassigned the project from "General Maintenance" to "E2E Flakiness".

[2022-11-04 23:32] noahtallen commented on #69801
For context, the wpcom plugins build does accept extra steps. I originally tried to write it as a configuration template, but that didn't work how I expected (for reasons I can't remember unfortunately). Thankfully, it was really easy to add like this:

You can write build steps like this, just putting the steps inside of another function:

https://github.com/Automattic/wp-calypso/blob/18e3abbec52

[2022-11-04 23:38] worldomonation opened #69804 "CI: remove `v2019_2` namespace from TeamCity imports."
### Details

As noted in [this documentation page](https://www.jetbrains.com/help/teamcity/upgrading-dsl.html#packages-without-dsl-api-version), it is now possible to not have to specify the `v2019_2` namespace in imports of Kotlin DSL code.

### Checklist

- [ ]
- [ ]

### Related

_No response_

[2022-11-05 00:36] hacchism commented on #66233
Another report, Business theme, 5685124-zd-woothemes

[2022-11-05 01:06] hacchism opened #69805 "Business Theme: No "Fonts" option in Customizer"
### Quick summary

There is no Fonts option in the Customizer although [The theme Business](https://wordpress.com/theme/business/) doesn't support Site Editor nor Global Styles.

### Steps to reproduce

1. Activate the theme Business.
2. Go to **_Appearance > Customize_**.

### What you expected to happen

You should be able to find the Fonts option in the Customizer to change fonts.

### What act

[2022-11-05 01:35] thekingsprojects commented on #69395
5681991-zen

This user previously received a fine for the CDN fonts.

[2022-11-05 10:03] zdenys commented on #53102
5628876-zd-woothemes

[2022-11-05 10:44] wynwin commented on #60119
Another report in 5685669-zen

[2022-11-05 11:29] daria2303 opened #69806 "Simple Sites: Animated Gif Featured Images display blurry on some classic themes"
### Quick summary

GIFs uploaded as featured images in Portfolios display blurry after a moment, on mobile.

### Steps to reproduce

1. Install Sketch theme
2. Upload a GIF as a Portfolio page featured image.
3. Set a page to use Portfolio template.
4. Open the page on mobile

### What you expected to happen

GIFs display sharp and don't reload.

### What actually happened

GIF displays ok at firs

[2022-11-05 11:36] zdenys commented on #66233
Toujours theme in 5675202-zd-woothemes

[2022-11-05 16:25] upwardmomentum84 commented on #66233
Canard theme in 5686516-zd-woothemes

[2022-11-06 06:30] masperber opened #69808 "Nucleare Theme: Posts in Image Format do not display images in excerpt"
### Quick summary

The Nucleare theme includes several different post formats. If the Image post format is chosen, then any images in the post do not display in the post excerpt/preview

### Steps to reproduce

1. Create a site with the Nucleare theme
2. Set the home page to latest posts
3. Create a post with some text and an image. Set it's format to Image and publish the post.

### What you expe

[2022-11-06 13:55] sajmes commented on #69395
5682219-zd-woothemes

[2022-11-06 14:11] sajmes commented on #69395
See: https://github.com/Automattic/dotcom-forge/issues/983

[2022-11-06 14:35] sajmes commented on #69395
5681772-zd-woothemes

[2022-11-06 15:07] sajmes commented on #69395
5686672-zd-woothemes

[2022-11-06 15:59] sajmes commented on #69395
5671718-zd-woothemes

[2022-11-06 16:53] csabarakasz commented on #69306
Same issue for Quadrat Yellow theme here:

- [ ] 5686765-zd-woothemes

I am suggesting using Query Loop Block instead.

[2022-11-06 19:01] csabarakasz opened #69811 "Post Featured Image block has no options to change sizes"
### Quick summary

I am not sure if this is intended, but on the FSE Russell theme, the default Single template includes a Post Featured Image block to show the image but it has no adjustment settings to change the image height. The default look crops most of the image and since there is no way to change it, it is limiting.

![vYEqwcaWJjHowQc05DdwcQVhKeNGyuYFx5xjwLqO.jpg](https://user-images.githu

[2022-11-06 19:52] sajmes commented on #69395
5687826-zd-woothemes

[2022-11-06 21:20] devNigel commented on #69717
The current ticket was closed. Please contact them via a new ticket once the issue is resolved.

[2022-11-06 21:24] devNigel commented on #69717
Added to [Dotcom Bug Prioritization Board](https://github.com/orgs/Automattic/projects/343#card-86611305)

@ezebecke Please make sure to use Bugomattic when reporting bugs to get it automatically add correct boards and labels.

[2022-11-07 01:51] arinoch commented on #66233
The original Independent Publisher theme is having this issue in 5681101-zd-woothemes. The workaround of disabling "use theme styles" does not work - the site won't respect that setting. p1667785397936439-slack-C03TY6J1A

[2022-11-07 03:42] roo2 opened #69813 "Writing Prompts: refactor, rename to blogging-prompts and reuse common functions"
As @creativecoder reported pe7F0s-mf-p2#comment-361

We've also talked about reusing common functions defined in https://github.com/Automattic/jetpack/pull/26680/files#diff-acd0204d3f6f426c73c50b612d14f3c9fdba8386c5047cbb2cea0892822faeb1

We've also been debating standardizing on how we check whether the user is a blogger or not p1667792156714089/1667217622.476049-slack-C03NLNTPZ2T

### Checklist

[2022-11-07 03:57] roo2 commented on #69364
cc @creativecoder, it looks like you're doing this as part of https://href.li/?https://github.com/Automattic/jetpack/pull/26680

[2022-11-07 04:25] #68374 closed, assigned to nobody

[2022-11-07 06:39] #68148 closed, assigned to gavande1

[2022-11-07 06:58] arthur791004 opened #69816 "[Bug]: The preview of "Preserve my homepage content" is incorrect"
### Quick summary

When you go to "Appearance > Themes", you can select a theme and click the "Activate" button to preview the result. However, the preview of "Preserve my homepage" might be wrong if the current activated theme is a block-based theme.

![image](https://user-images.githubusercontent.com/13596067/200244738-3f03d29a-fc46-49a9-a572-f78b1d30a109.png)

### Steps to reproduce

1. Go to "

[2022-11-07 07:33] rakshitwesley commented on #68559
5689404-zd-woothemes

[2022-11-07 07:35] arthur791004 commented on #69507
@bangank36 I thought this feature is important, so I made a change based on D90868-code and did a bit refactor to avoid duplicate code. See D91764-code

[2022-11-07 07:53] miksansegundo opened #69817 "Pattern Assembler - UI updates"
### Updates

1. Remove max width from PA.
2. Reduce the intro text. Some options are:
   1. First choose a header for your page layout, then choose at least one section pattern, and finally choose your footer.
   2. Get started by picking a header, sections and a footer for your site.
   3. Choose a header, section patterns, and a footer for your homepage.
3. What about adding one of these too?

[2022-11-07 08:31] arthur791004 commented on #69175
I'll take this ticket if nobody wants 🙂

[2022-11-07 08:53] senadir commented on #66092
Revisiting this again, I think the best course of action is to memoize the functions being created, this is not limited to `useSelect`, we saw the same problem with `useLayoutEffect` and `useEffect`. The issue is that the returned function reference is not stable.

[2022-11-07 11:00] eoigal opened #69820 "Writing Prompts: Add answers_prompt query param"
### Details

Links from My Home or notifications in Calypso should append the `?answer_prompt={prompt_id}` query param, to instruct the post editor to set up the post as a response to a writing prompt.

We need to update the writing prompts notification handler on calypso to include this query param when the Answer Prompt action link has been clicked.

### Checklist

- [x] Create PR to add `answer

[2022-11-07 11:56] mdtanjid0 commented on #65656
The user came back again and confirmed the issue is resolved now.

[2022-11-07 14:20] #69516 closed, assigned to artpi

[2022-11-07 16:01] sirreal commented on #68049
I'm sorry, I don't recall a lot of details from those changes 4 years ago. There are details in 1642-gh-jpop-issues about motivations.

It seems that the goal was to allow management of plans for disconnected Jetpack sites. I'd suggest following the testing instructions from https://github.com/Automattic/wp-calypso/pull/25927 to make sure there are no regressions, otherwise I don't have much to ad

[2022-11-07 16:11] #60732 closed, assigned to mattwiebe

[2022-11-07 16:44] mattwiebe commented on #60732
Note that although this was closed by automation, the issue will persist until these changes ship via Jetpakc

[2022-11-07 17:25] ariel-maidana opened #69827 "Lodestar: Image block displayed with no bottom margin"
### Quick summary

On the Lodestar theme, Image blocks are displayed with no bottom margin. This affects both new blocks as well as existing blocks that were displayed correctly in the past.

### Steps to reproduce

1. Activate Lodestar.
2. Create a post.
3. Add several consecutive Image blocks.
4. Publish the post.

### What you expected to happen

1. To see a gap between consecutive images on th

[2022-11-07 17:28] ariel-maidana commented on #69827
5691088-zd-woothemes
Please inform the user once this issue is fixed.

[2022-11-07 18:48] zaguiini opened #69828 "Sites page: update Link in Bio banners"
### Details

Following the designs (QeephiOEw5Ym0kj1jfVCqn-fi-1203%3A51512) proposed by @SaxonF, update the LIB banners on the Sites page accordingly. Take responsiveness into account when implementing the changes.

We are only interested in the "Final" variation, the last item from the designs.

[2022-11-07 19:15] valterlorran opened #69829 "Rename the prop `isPurchased` on the themes page"
The prop `isPurchased` does not describe very well what it's referring to. This prop is used to check if the theme is purchased or is included in a plan. We should rename all its references on the theme pages to `isThemePurchased`  or `isThemeAlreadyPurchased`.

File: client/my-sites/theme/main.jsx

https://github.com/Automattic/wp-calypso/pull/69616#discussion_r1014124526

[2022-11-07 19:23] sajmes commented on #69395
5691797-zd-woothemes

[2022-11-07 19:38] jeyip commented on #69630
https://github.com/Automattic/wp-calypso/pull/69803

[2022-11-07 19:39] valterlorran opened #69830 "Rename the `id` prop to clarify we refer to the theme id"
Rename the `id` prop to a more descriptive name on the theme page. It should be clear that it's the theme ID.

File: client/my-sites/theme/main.jsx
https://github.com/Automattic/wp-calypso/pull/69616#discussion_r1014191346

[2022-11-07 20:05] #69441 closed, assigned to vykes-mac

[2022-11-07 20:05] dognose24 commented on #68974
Hi @keoshi, I am figuring out if we are trying to make all existing `fixed` page headers support the proposed style change as the design below. (eqlepL7MHifK8Bgr1OWqLr-fi-1310%3A1681)

<img width="997" alt="截圖 2022-11-08 上午3 56 01" src="https://user-images.githubusercontent.com/6869813/200403159-6d6b5795-9fea-4516-bb84-4fadef5bf88a.png">

[2022-11-07 21:25] creativecoder commented on #69364
@roo2 Yes, that's correct, thanks for connecting the dots! The recent changes to that PR should take care of all 3 items on the checklist for this issue.

[2022-11-07 21:37] sirbrillig opened #69833 "Post-checkout redirect sometimes gets stuck in site fetching loop"
See report here: https://github.com/Automattic/wp-calypso/pull/69769#pullrequestreview-1170804894

<img width="923" alt="200374030-314db659-2dbb-476b-9255-19f03d52be92" src="https://user-images.githubusercontent.com/2036909/200420780-a46314a1-7a15-4ad7-82c9-d6eb3d61d48d.png">

Also reported here: https://github.com/Automattic/payments-shilling/issues/1217#issuecomment-1301169773

This appears to h

[2022-11-07 23:04] sirbrillig commented on #69833
`create_new_blog` is probably being set to true [by this code](https://github.com/Automattic/wp-calypso/blob/2c707eaab587ae48cd342fe76d37546eed2a68ef/client/my-sites/checkout/composite-checkout/lib/translate-cart.ts#L89) when there is no siteId. We should change that so that it is `false` for gift purchases.

[2022-11-07 23:42] dhackneya8c commented on #69395
5691767-zen

[2022-11-07 23:59] lsl opened #69838 "Gifting: banner copy update"
We'd like to update the copy for the gift banner:

[2022-11-08 00:14] druesome opened #69839 "Navigation Block: Percentage Character (%) in Links Are Improperly Encoded"
### Quick summary

User is trying to add this menu link to the navigation block:

https://api.payaconnect.com/hostedpaymentpage?id=11eacdb9c9fc0d2c989d2057&data=U2FsdGVkX18xMWVhY2RiOa8xisZ0ulzB%2FzlaRnFN0dWAM1rLyZL%2BQpUc9oo2fp616ICqcykrs%2BjPzDfEPLd%2FZA%3D%3D

However, after adding it, something is converting the percentage character `%` to `%25`, causing the link to go somewhere else and fail:

[2022-11-08 00:28] sirbrillig commented on #69833
Looks like `create_new_blog` [doesn't seem to do anything](https://github.com/Automattic/payments-shilling/issues/759#issuecomment-1306365375) during a transaction anyway, so we can probably start to remove that property entirely. In the meantime, I think we can [remove the polling](https://github.com/Automattic/wp-calypso/pull/69837) that is causing this bug.

[2022-11-08 00:35] romarioraffington commented on #69764
Didn't get very far with porting tests. I was able to add some tests [here](https://github.com/Automattic/jetpack/commit/882d06ba0a726beb0febf9cd240390897f385e7a). Putting this back to work on something more urgent

[2022-11-08 00:47] jsnmoon commented on #68981
@grzegorz-cp: Can we consider this issue closed?

[2022-11-08 01:42] grzegorz-cp commented on #68981
Yes, let's mark it as done.

[2022-11-08 05:12] #69734 closed, assigned to miksansegundo

[2022-11-08 05:46] lsl opened #69843 "Gifting: Integrate thank you page with checkout changes"
[Some information here](https://github.com/Automattic/wp-calypso/pull/69729#issuecomment-1306421739), we need to point gift checkouts at the new thank-you page implemented by https://github.com/Automattic/wp-calypso/pull/69729.

Acceptance:

- [ ] New gift checkout flow lands on the new thank you page after checkout completes

[2022-11-08 05:51] lsl commented on #69843
Duplicate, will use https://github.com/Automattic/payments-shilling/issues/1217 for this instead.

[2022-11-08 05:51] #69843 closed, assigned to lsl

[2022-11-08 07:09] ddc22 opened #69846 "Fix checkout issues related to BBE"

[2022-11-08 07:11] #69846 closed, assigned to ddc22

[2022-11-08 07:29] gavande1 commented on #69694
Created diff: D91861-code. The basic idea here is to create a vendor API token with user_id. So whenever this API token is used, the user_id will resolve correctly.

[2022-11-08 09:04] filipanoscampos commented on #69439
Another example of a confused user:
5691995-zd-woothemes

[2022-11-08 09:45] filipanoscampos commented on #61756
Another one, here:
5693749-zd-woothemes

[2022-11-08 10:40] a8ck3n opened #69850 "Preserve View Post/Page button in secondary page headers"
The preview header added a "View Post" or "View Page" button as appropriate on Simple sites. We should preserve this behaviour with the new header for now.

Before:

![Image](https://user-images.githubusercontent.com/40267301/200544464-6437d076-ed85-4ea4-9cdf-06a3dce08469.png)

After:

![Image](https://user-images.githubusercontent.com/40267301/200544506-c08ce9e4-67b0-4f98-baa9-f5ff3d4be354.png)

[2022-11-08 10:43] sanjeev00733 commented on #69306
Similar issue with Varese theme in

- [ ] 5693751-zd-woothemes

[2022-11-08 11:01] kavyagokul commented on #69604
📌 SCRUBBING : RESULT
- Tested on P2 - Could Not Replicate
- Tested on Simple - Could Not Replicate
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Unable to replicate on freshly reset atomic site, Fresh site on Jurassic ninja, and fresh simple site.

📌 ACTIONS
- Await author feedback

📌 Message to Author
Hi @csabarakasz ! Can you a

[2022-11-08 11:20] kavyagokul commented on #39956
📌 SCRUBBING : RESULT
- Tested on P2, Simple, Atomic, and self-hosted, and this is a separate bug

📌 FINDINGS/SCREENSHOTS/VIDEO
- Original bug is fixed
-
📌 ACTIONS
- Closed as could not replicate (please reopen the issue reoccurs)

📌 Message to Author
@Jaykame This is a completely different issue. Please file a new bug for this issue. Thanks

[2022-11-08 11:20] #39956 closed

[2022-11-08 11:30] kavyagokul commented on #69724
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/themes/issues/3515
- Added info from here to the existing bug

[2022-11-08 11:30] #69724 closed, assigned to nobody

[2022-11-08 11:40] kavyagokul commented on #69776
📌 SCRUBBING : RESULT
- Sounds like a good idea

📌 ACTIONS
- Feature request kept

[2022-11-08 12:22] eoigal commented on #69820
I was able to do this from WPCOM side, no need for calypso PR

code-D91874

[2022-11-08 17:14] worldomonation opened #69857 "Flaky E2E: See and click notification for the comment left by commentingUser"
### Spec file

specs/infrastructure/notification__actions.ts: Notifications

### TeamCity ID

8957836

### Logs

[code]

[2022-11-08 18:19] #68981 closed, assigned to grzegorz-cp

[2022-11-08 20:02] #69850 closed, assigned to a8ck3n

[2022-11-08 20:30] Jaykame opened #69859 "Blockbase: Slideshow block shows on site editor but does not show on preview or live site"
### Quick summary

The Slideshow Block shows images fine on Site Editor (FSE) but does not show up on the live site when added through the Site Editor.

### Steps to reproduce

1. Choose a **Blockbase** theme.
2. Go to **Appearance -> Editor**.
3. Add a **Slideshow Block**.
4. Select or Upload a few images.
5. Save and Preview your site.
6. Slideshow images do not show up.

Screenshots:

### What

[2022-11-08 21:15] inaikem commented on #68554
I've also been unable to recreate this, even on a new AT site! Closing this issue for the moment. Please reopen this if needed 🙏

[2022-11-08 21:15] #68554 closed, assigned to nobody

[2022-11-08 21:19] jordesign commented on #69603
Interestingly - I'm finding I *can't* recreate this one in my testing.
https://wordpress.com/read/feeds/134829492/posts/4371510710

It seems that it is likely theme specific - as I noticed the theme in your test @ahmadbaig1  doesn't have the image size option (so all images receive the 'large' size in the source code).

@ahmadbaig1 - do you see the image size option for the images in your test?

[2022-11-08 21:22] vajrasar commented on #69559
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
The screenshot on the report is the same one I get on both the Simple and AT sites.

This feels like a "feature not bug" at the moment, but pushing to Triaged for the respective team to check.

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-08 21:31] zachspears commented on #69163
Thank you for clarifying! This is already present in the following themes:
- Pendant
- Cultivate
- Archeo
- Yuga

[2022-11-08 21:31] #69163 closed, assigned to nobody

[2022-11-08 21:36] aisajib commented on #69627
Hi @jerrysarcastic

I've tested this, and I can definitely see the bug/unexpected behavior, but I wanted to clarify this:

I think this might be incorrect. If you start a draft and do not manually update the date (as in, you do not touch the Publish date/time at all), then publishing that draft in the future will not result in the post being published on the post creation date.

For example, if I

[2022-11-08 21:40] #69833 closed, assigned to sirbrillig

[2022-11-08 21:43] zachspears commented on #68340
I was able to reproduce this issue, marking triaged.

[2022-11-08 21:55] vajrasar commented on #69675
Hey @jerrysarcastic since this cannot be replicated and there is only one instance where the issue is showing up on the customer site - I've posted here p2EDhh-1Lv.

[2022-11-08 21:55] #69675 closed, assigned to nobody

[2022-11-08 21:58] aisajib commented on #69708
@the-misha I wasn't able to reproduce this with multiple timezone settings on my test atomic site. I wonder if this was a one-off issue on their end. I'm closing this since we couldn't reproduce it at all on our end. Feel free to reopen if users repeat similar reports.

[2022-11-08 21:58] #69708 closed, assigned to nobody

[2022-11-08 22:10] jartes commented on #69395
5693707-zd-woothemes

[2022-11-08 22:12] thekingsprojects commented on #49053
A user in this ticket was confused by not being able to find a customer through Calypso, and thought the customer had managed to check out without creating an account at all. We explained how to use Classic view/wp-admin to find the customer by email, but being able to do this direct from Calypso would be really convenient.

- [ ] 5690808-zen

[2022-11-08 22:34] zachspears commented on #69679
Hello @vinnykaur! Thank you for sharing this feature request. This GitHub repo is targeted toward calypso, please start a new feature request with on the WordPress app repo here: https://github.com/wordpress-mobile/WordPress-iOS

Thanks!

[2022-11-08 22:34] #69679 closed, assigned to nobody

[2022-11-08 22:41] WunderBart opened #69865 "E2E (Atomic): Authentication redirect loop error"
### The issue

Currently, the `Calypso / WPCom Tests / Gutenberg atomic E2E tests production` tests cannot be run in parallel because every time, a random but large number of them fail due to an authentication redirect loop. If we run those tests non-concurrently, the auth loop is not an issue, but the whole thing takes ~3x longer to complete (at the time of writing). The interesting part is that

[2022-11-08 23:00] WunderBart commented on #65906
Here's a dedicated issue for the auth redirect loop: https://github.com/Automattic/wp-calypso/issues/69865

Also, I realized that [the mobile part](https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gutenberg_atomic_production_mobile?branch=%3Cdefault%3E&buildTypeTab=overview&mode=builds) has still [quite a few failures](https://teamcity.a8c.com/buildConfiguration/calypso_WPComTests_gu

[2022-11-08 23:06] jerrysarcastic commented on #69627
Interesting, my guess is that this behaviour changed in core, and maybe I missed it?  You can see here that there is a long history of posts using the "draft date" instead of the publish date.  https://wordpress.com/forums?s=draft%2Bpost%2Bdate

Those are pretty stale though, and I can confirm that if I publish a post where the date has not been modified, then the publication date (not draft creat

[2022-11-08 23:49] romarioraffington commented on #69722
Is this a duplicate of https://github.com/Automattic/wp-calypso/issues/69704 ?

[2022-11-09 00:25] jeyip commented on #68967
Closing this issue since the large majority of features have been implemented. There is a follow-up issue regarding clipboard button keyboard focus that I'll create that's lower priority to handle

[2022-11-09 00:25] #68967 closed, assigned to jeyip, nuriapenya

[2022-11-09 05:44] Robertght opened #69875 "Patterns selector border gets cut at the top"
### Quick summary

This happens only on .com sites

### Steps to reproduce

1. Create a new page
2. Try to go through the entire list of patterns by clicking on the "Explore" button.

### What you expected to happen

To see the patterns top border correctly

### What actually happened

This
![CGsBmo.png](https://user-images.githubusercontent.com/6737345/200748437-cdda294f-f6ec-4b4d-b193-d72b745d0f

[2022-11-09 06:17] lsl commented on #69646
Updated acceptance to include auto renew restriction removal.

@allilevine / @michaeldcain / @JanaMW27 should we be including p2 plans in gifting?

[2022-11-09 06:25] iamtakashi opened #69878 "Layout Modal: a blog layout is missing"
### Quick summary

Currently, there is only one blog layout available in the modal at the moment. However, in Dotcom Patterns, there is [one more layout](https://dotcompatterns.wordpress.com/2022/10/19/grid-of-posts-4x2/) that is tagged with `layout` and published under the `blog` category. I thought when a layout was published in Dotcom Patterns, it became available in the modal just like pattern

[2022-11-09 06:52] lsl opened #69879 "Gifting settings defaults"
We're figuring out how the default settings should behave in https://github.com/Automattic/dotcom-forge/issues/1176.

If we go for something like what I've suggested in https://github.com/Automattic/dotcom-forge/issues/1176#issuecomment-1308222345
[code]

We'll need to:

- [x] Update [this line](https://github.com/Automattic/wp-calypso/blob/d966527c215653e0d47d1f5134a311e09da16d90/client/my-sites/

[2022-11-09 09:41] miksansegundo opened #69882 "Pattern Assembler - Find a solution for a long list of sections"
There is no limit to the sections that can be added to the list. The list will grow vertically and push the "Continue" button out of the view.

<img width="402" alt="Screen Shot 2565-11-09 at 16 16 29" src="https://user-images.githubusercontent.com/1881481/200791721-4b3c15cb-8ca4-4d85-b48d-a18fd8693a9f.png">

Possible solutions are:

- Limit the number of sections.
This is possibly the easiest sol

[2022-11-09 10:23] filipanoscampos opened #69884 "FSE Theme Global Styles: Changes to Layout not saving"
### Quick summary

On a simple site, with an active FSE theme (I tried Twenty Twenty-Two, Blank Canvas, and Masu), changes to the layout content width aren't saving.

### Steps to reproduce

1. on a website with an active FSE theme, open the site Editor and navigate to the theme global styles;
2. Choose the option to edit the Layout
3. Change the width of the content
4. Save your changes
5. Notice

[2022-11-09 10:43] arthur791004 commented on #69882
I'd prefer the first one because it's simple and I assume 6 ~ 8 sections are enough for the new site 🙂

[2022-11-09 16:24] dognose24 commented on #69782
I have found this was an [intentional behavior to prevent incorrect data](https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/stats/wordads/index.jsx#L125) for today.

[2022-11-09 16:24] #69782 closed, assigned to dognose24

[2022-11-09 17:23] tyxla commented on #69865
@WunderBart are these requests in order of redirection? I find it extremely suspicious that when we attempt to login via SSO  we are redirected to the SSO page for a different user with ID 123456789. That's also likely the reason for the difference in the nonce and for the SSO being unable to succeed. Any thoughts on where this `123456789` user ID comes from?

[2022-11-09 18:06] sirbrillig commented on #65968
Here's some designs utilizing radio buttons for the variant picker by @JanaMW27 ([originally mentioned here](https://github.com/Automattic/wp-calypso/pull/69494#issuecomment-1295315829)) which I wanted to explore. The basic idea is to remove the price display for the line item if variants are available and instead display the price and discounts inside the variant itself. This would greatly decrea

[2022-11-09 18:07] jeyip opened #69894 "[Bug]: Launchpad copy to clipboard button disappears when enter key is pressed"
### Quick summary

When keyboard navigating to the copy url to clipboard button, pressing the "enter" key causes the button to disappear instead of remaining visible and displaying a tooltip. The behavior should actually match what is done when the button is clicked with a mouse.

![2022-11-09 10 05 33](https://user-images.githubusercontent.com/5414230/200906542-644bbbe1-0e61-4083-853a-0f6cc161a3d

[2022-11-09 18:15] jeyip commented on #69894
### Notes:

The issue appears to be with the `ClipboardJS` library used by the `ClipboardButton` Calypso component. In `node_modules/clipboard/src/clipboard-action.js:151`, we can see that the active element is blurred when a copy action is successful.

I've tried implementing the `@wordpress/components` `ClipboardButton`, but the component doesn't forward refs, so we're unable to use the `Tooltip

[2022-11-09 18:22] samiff commented on #69441
Hey @gwensmithx 👋

The fix mentioned in #27224 has not been deployed just yet on WordPress.com. That should be happening soon however, see internal: https://wp.me/p9o2xV-2zl#comment-6573

[2022-11-09 18:30] cpapazoglou commented on #65081
I assume that all [free blog subdomains](https://wordpress.com/blog/2018/11/28/announcing-free-dotblog-subdomains/) are pointing to the Simple sites infrastructure and thus need to change to `*.wpcomstaging.com` when they move to Atomic. This condition should be enough.

[2022-11-09 18:34] JanaMW27 commented on #69787
Latest design can be [found here.](https://www.figma.com/file/0JF6KLmG0YRR7RB6WaWEfU/Importing-domain?node-id=1601%3A7237)
![Import a domain](https://user-images.githubusercontent.com/71137829/200912670-27efa667-c850-48f9-9ac7-d1be716c9582.png)

[2022-11-09 18:42] paulbonahora commented on #69787
Looking great! @claudiucelfilip , would you be able to help with the implementation of this as part of our bottle pickup? There are new strings of texts so it'd be ok to default to the old version for non-en texts until translations come in.

[2022-11-09 19:54] n3f commented on #69759
I fixed this in D91850-code

[2022-11-09 19:57] n3f commented on #69722
Looks like it...

[2022-11-09 19:57] #69722 closed, assigned to n3f

[2022-11-09 19:57] n3f commented on #69704
Reviews: D91850-code

[2022-11-09 20:05] claudiucelfilip commented on #69787
Opened https://github.com/Automattic/wp-calypso/pull/69898 with the changes for this.

[2022-11-09 20:11] jeyip opened #69899 "Free Onboarding Flow Tracking Issue"
### Details

This is a tracking issues for task related to the new Free Flow, which will be based on stepper and use architecture similar to our existing tailored flow cases like newsletters and link in bio websites.

### In Progress ###

### On Deck ###

- [ ] https://github.com/Automattic/wp-calypso/issues/70845
- [x] https://github.com/Automattic/wp-calypso/issues/72268
- [x] https://github.com

[2022-11-09 20:32] kelliepeterson commented on #69787
Hey folks. Love that you're working on this, but I have a couple of comments:

Please include something on the page about owning the domain. "Enter the domain you would like to use" will absolutely lead to users entering domains that someone else owns and thus creating frustration.

Domains don't actually include https or www. I'm not sure why we wouldn't simply state "please enter the domain with

[2022-11-09 21:10] WunderBart commented on #69865
Ah, I've replaced the original IDs with fake ones, so our E2E test site data is not exposed. I've replaced it with placeholders just now, so they're not confusing anymore. Sorry, @tyxla!

[2022-11-09 21:32] paulbonahora commented on #69787
Hey @kelliepeterson thanks for the note. I realize we didn't include context for this so I'll share more of it: the main issue we're trying to address here is that currently, if users include "www" on the domain, they get an error message that gives the impression their domain won't be eligible to use, see [here](https://d.pr/i/NGpMfw). That's the main nuance we're trying to address as we suspect

[2022-11-09 21:43] cpapazoglou commented on #62206
Another case https://wordpress.org/support/topic/error-warning-when-activated-through-api-cli/

[2022-11-09 21:44] cpapazoglou commented on #62339
Another case Another case for `wp-dummy-content-generator` plugin https://wordpress.org/support/topic/error-warning-when-activated-through-api-cli/

[2022-11-09 21:44] DustyReagan commented on #69879
Can we update calypso to use the logic above to set a default value on the toggle? And leave Jetpack as is? I ask because Jetpack's next release is Dec 6th.

[2022-11-09 22:20] ccwalburn commented on #68344
Another user was confused by this. They had two domains and were deleting the non-primary domain, but the messaging referred to the primary domain so they thought it would delete their entire site.

Since this is a low priority and could be complicated to make product-specific, could we at least ask the developers to change the verbiage to "Remove product **from**: SITE URL"?

36758180-hc

[2022-11-09 22:30] alliebbush2 commented on #53106
Can this user be added to notifications? zn: 5693954 AB

[2022-11-09 22:41] DustyReagan commented on #69879
Oh, but Jetpack releases weekly on Atomic doesn't it. So maybe ok? Still, I wonder if updating Jetpack with the default is strictly necessary?

[2022-11-09 23:18] cpapazoglou opened #69906 "Marketplace: add an action before plugin removal"
Several plugins might want to act upon plugin removal which happens on `Store_Product_Marketplace_Plugins::deactivate`, so that they delete premium related files / content.

Let's trigger an action right before plugin removal. The hook should include the type of the action ( refund or expiry )

Related: pedbMh-j-p2#comment-79

[2022-11-09 23:41] #69518 closed, assigned to romarioraffington

[2022-11-09 23:59] getdave commented on #65836
Needs re-test as the block now uses inner blocks for individual items and not rich text.

[2022-11-10 00:03] getdave commented on #65836
https://user-images.githubusercontent.com/444434/200967895-f13edd08-c5f2-430e-bc77-cf381915aef5.mp4

Re-tested with the List View v2 block and the problem no longer manifests due to the use of inner blocks.

[2022-11-10 00:03] #65836 closed, assigned to nobody

[2022-11-10 00:27] sethmclellana8c opened #69908 "Calypso Page screen on Atomic sites reverts to old design"
### Quick summary

On an Atomic site, if you go to edit a page, then return to the "Pages" screen in My Site menu, the design of the Pages screen (listing all available pages) reverts to some sort of old design. Reloading the page refreshes the screen and the design goes back to the "normal" design we're used to.

https://user-images.githubusercontent.com/37377834/200963965-cb044ab1-85aa-4507-83ba

[2022-11-10 00:32] pbking commented on #55030
Closing as fixed

[2022-11-10 00:32] #55030 closed, assigned to nobody

[2022-11-10 00:39] #69787 closed, assigned to claudiucelfilip

[2022-11-10 01:59] jerrysarcastic opened #69913 "TextBook Theme: Page template setting missing from Page Settings Panel"
### Quick summary

The TextBook theme [supports a full page template option](P7JQvD-2G-p2), but in Gutenberg there is no option to switch page templates from within the page settings panel.  See screenshot:

<img width="2034" alt="Screen Shot 2022-11-09 at 5 38 29 PM" src="https://user-images.githubusercontent.com/1967448/200981352-56de2c0d-d4b6-4ec4-8305-9b4f90afd37c.png">

This seems to be an is

[2022-11-10 02:06] hacchism opened #69914 "Donations Form Block: Allow to change the number of price options"
### What

Currently, the block shows three default pricing options. Although users can change each price, they can't add/remove the price options.

### Why

We can't assume that all the users need three price options for sure. They should be able to increase/decrease the number of price options for their needs.

### How

We might want to add a new option for this into the settings tab:

![Screen S

[2022-11-10 03:27] jjchrisdiehl commented on #68049
It looks like there were two main testing flows in the original issue that Jon linked to:

1. Ensure that a customer can still cancel/remove a Jetpack plan from a disconnected JP site.
2. Ensure that a removed WordPress.com user could still cancel any owned plans from the site they were removed from

I tested both flows, the first worked as expected. I added a Jetpack plan to jjcd.blog (test self-

[2022-11-10 03:45] arthur791004 commented on #68244
Close it as it's completed 🎉

[2022-11-10 03:45] #68244 closed, assigned to fushar, arthur791004

[2022-11-10 04:10] arthur791004 commented on #69507
Close it via D91764-code

[2022-11-10 04:10] #69507 closed, assigned to bangank36, arthur791004

[2022-11-10 04:17] miksansegundo commented on #69882
@SaxonF what are your thoughts about limiting the number of sections to 6 ~ 8 sections and hiding the button?

[2022-11-10 05:38] miksansegundo opened #69916 "Update the page title of onboarding steps"
### Description
The following steps are using the page title `What’s your website about?`:

- Design Picker
- Pattern Assembler
- Pattern Assembler starting point
- Learn the basics

Each step should have a different page title because they are visible on the tab, the back history, and potentially on the page bookmark title.

<img width="553" alt="Screen Shot 2565-11-10 at 12 30 09" src="https://u

[2022-11-10 06:31] a8ck3n commented on #69230
Two questions regarding the behaviour here.

1. Should we be using the Apple app store badge here or should we show a more generic app store badge that just links to our wp.com/app page? With this approach, we'd push any device detection logic to the external page.
2. Or should we try detecting the device and present the correct badge based on that? In which case, we'd need SVG data for a Google a

[2022-11-10 08:17] jeyip opened #69920 "Free Onboarding Flow: Create a domain name generator"
### Details

Create a name generator similar to what is described here paYE8P-2bD-p2, but audited to be acceptable for facing towards users ( Ex. We don't want the adjective "bitchy" to be included as an adjective )

### Checklist

- [x] Add site name generator logic into WPCOM lib folder
- [x] Set up endpoint to return a random generated name
- [ ] Set up i18n to allow usage of locale
- [ ] Possi

[2022-11-10 08:18] jeyip opened #69921 "Free Onboarding Flow: Remove domains/plans steps"
### Details

- Create a feature flag to hide the upcoming changes
- Remove domains/plans steps from the free flow.
- Roll out changes gradually to a small percentage of users. One means of doing so is by modular division of the user ID. Roll out is dependent on https://github.com/Automattic/wp-calypso/issues/69920

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso

[2022-11-10 08:21] jeyip opened #69922 "Free Onboarding Flow: Create optional domain name generator button"
### Details

 Update the signup flow to include an optional name generation/suggestion button which can use the same name generator.

### Checklist

_No response_

### Related

https://github.com/Automattic/wp-calypso/issues/69899

[2022-11-10 10:13] taipeicoder opened #69925 "Theme Showcase: Show "subject" filters as toggle group"
## Description
Increase the visibility of "subject" filters by displaying them in a toggle group below the search bar.
![Image](https://user-images.githubusercontent.com/797888/201061079-34821f02-dc01-46d9-b2b3-a8ba7f0d9b77.png)

Currently, there are 8 "subject" filters:
1. Blog.
2. Business.
3. Link in Bio.
4. Newsletter.
5. Podcast.
6. Portfolio.
7. Single page.
8. Store.

In addition, we want t

[2022-11-10 10:20] JuanLucha commented on #65884
I tried to reproduce this following these steps:
1- Create a new site with user A.
2- Following the site with user B.
3- User B activates "Email me new comments" in the notification settings of the new site.
4- User A creates a new post.
5- User A comments on that new post.

The result is the user B receiving the "[Site Title] User A commented on The New Post" email, but the reply-to field of the

[2022-11-10 11:29] #69517 closed, assigned to artpi

[2022-11-10 11:41] vinnykaur commented on #69712
Another one in zd-5699941

Theme: Russell

[2022-11-10 11:50] candy02058912 opened #69927 "Gifting: Link to gift settings in auto-renew modal"
We could add a link to the gifting settings page in the auto-renew confirm dialog:

![Image](https://user-images.githubusercontent.com/6586048/202410917-19fa3f8b-59df-43e8-889b-56d57c23e345.png)

Acceptance criteria:

- [ ] Link to general settings page
- [ ] Confirm copy

[2022-11-10 11:58] kavyagokul commented on #69913
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- This is expected behavior for this theme, since the theme doesn't have any custom templates to choose from.
- The [full width page in the theme demo](P7JQvD-2G-p2) has been created by using widget visibility
![image](https:

[2022-11-10 12:25] kavyagokul commented on #69875
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Only happens when the Gutenberg plugin is installed(even on self-hosted)

📌 ACTIONS
- Added to 'HE Cross-repo Watchlist' project board
- Transferred to XYZ external repo: https://github.com/WordPr

[2022-11-10 12:38] kavyagokul commented on #69827
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/themes/issues/6197

[2022-11-10 12:38] #69827 closed, assigned to nobody

[2022-11-10 12:48] kavyagokul commented on #69712
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Only happens on simple sites

📌 ACTIONS
- Transferred to XYZ external repo:

[2022-11-10 12:56] artpi commented on #69759
I added a few comments

[2022-11-10 13:15] keoshi commented on #68974
@dognose24 Hey there! This header style has been worked on by the Dotcom Design team, we merely reused the Figma component to support our own use cases. I don't know how much of this has been ported over to the code component, or how flexible it is in terms of adapting to our particular scenarios, so I'd rely on you all to let us know if we should extend the existing component or create a new one

[2022-11-10 14:32] epeicher commented on #64891
Diff deployed r256039-wpcom

[2022-11-10 16:17] artpi opened #69930 "[Newsletters] User logged in to WPCOM, post is blog-subscriber only"
In https://github.com/Automattic/wp-calypso/issues/69518 we introduced a check to properly handle the `blog_sub` parameter.

But there is one more case that we are missing:
- User is logged in to WordPress.com
- She is a blog subscriber
- Post is subscriber-only

In that case we have to intercept user_id from the actual logged in session, and check if user is indeed a subscriber.
Somewhere here we

[2022-11-10 16:50] dognose24 commented on #68974
Hey @keoshi! If we are not planning to fix the page header for some convenient interactions with the `tabbed menu` and `extra links`, we could keep the static headers for Stats. We can just refactor the page header as a `component in Stats` instead of using the same component as those existing pages. 👍🏼

[2022-11-10 20:07] mreishus commented on #68847
Atomic Headstart Generation: Is now a part of the theme-demo-bar-plugin.
Atomic Headstart Application: The taxonomy portion is now triggered by a wpcomsh "headstart-terms" command, which is queued up to run in a post-transfer job.

[2022-11-10 20:07] #68847 closed, assigned to mreishus, daledupreez

[2022-11-10 20:09] mreishus commented on #66738
Atomic Headstart Generation: Is now a part of the theme-demo-bar-plugin. https://github.com/Automattic/theme-demo-bar-plugin

[2022-11-10 20:09] #66738 closed, assigned to mreishus

[2022-11-10 20:13] sharpirate opened #69936 "Launchpad: Email Banner shows for all flows instead of only for newsletter"
#### Summary

Currently, the email validation banner is showing for all flows (both newsletter and link-in-bio) but we want it to be showing only for the newsletter flow.

![C5uzkv.png](https://user-images.githubusercontent.com/20927667/201196293-dd914be0-080e-4407-b48b-aa0ac3491ed0.png)

[2022-11-10 20:51] DustyReagan commented on #69879
I just tested it. It's necessary. 😅

[2022-11-10 21:35] DustyReagan commented on #69646
It just occurred to me this could be a good case for a new site feature. We could probably leverage that feature in `gifting-banner.php` too.

Thoughts on https://github.com/Automattic/wp-calypso/pull/69939 and D92119-code ?

[2022-11-10 22:00] samiff commented on #69441
@gwensmithx The fix in https://github.com/Automattic/jetpack/pull/27224 has now been deployed to wpcom

[2022-11-10 22:25] sirbrillig commented on #69211
This is a side effect of https://github.com/Automattic/wp-calypso/pull/64344 which simplified how contact validation works. Since the contact step attempts to auto-complete as soon as checkout loads, it will display validation errors if the information is incomplete. Prior to that PR we had a special form of validation that would silently ignore validation errors on load; however, that meant that

[2022-11-10 23:08] sophiegyo commented on #61302
Within wpcom we could possibly use https://genericons.com but for a core issue would Dashicons (https://developer.wordpress.org/resource/dashicons/) make more sense?

[2022-11-10 23:23] cuemarie commented on #69680
📌 ACTIONS
- Closed as duplicate of  #64324

[2022-11-10 23:23] #69680 closed, assigned to nobody

[2022-11-10 23:41] cuemarie commented on #69167
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: Not a core block
- Replicable on Core? No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the Columns discrepancy issues above in both AT and Simple environments. Screenshots show results on TT2:

***Example of 3 Columns Result***

_AT Editor_
![Markup on 2022-11-10 at 16:35:05](

[2022-11-10 23:44] cuemarie commented on #69789
📌 ACTIONS
- Closed as duplicate of #64324

📌 Message to Author
- This looks to me like a symptom of a more widespread issue with the editor preferences not saving across sessions. Closing in favor of that report.

[2022-11-10 23:44] #69789 closed, assigned to nobody

[2022-11-10 23:47] cuemarie commented on #64324
Bumped up the priority on this as we continue to see reports from users, and I'm running into more bug reports that look like they reflect this same issue (⬆️)

[2022-11-10 23:48] cuemarie commented on #64324
Ticket from #69789 :

- [ ] 5681323-zd-woothemes

[2022-11-10 23:50] cuemarie commented on #69791
📌 ACTIONS
- Feature request kept

📌 Message to Author
- Thanks for sharing that user's request, @ccwalburn !

For context, here's what the user had to say:

With Rumble growing and YouTube dying, it would be worth looking into. Thanks.

[2022-11-10 23:55] sirbrillig opened #69941 "Visiting checkout with the product slug `:product` causes a fatal error"
Steps to reproduce:

- Visit https://wordpress.com/checkout/jetpack/:product

Expected to see an error adding an invalid product as we do with a URL like https://wordpress.com/checkout/jetpack/foobar

<img width="701" alt="Screen Shot 2022-11-10 at 6 53 26 PM" src="https://user-images.githubusercontent.com/2036909/201230482-e56714e3-4760-4e30-b284-052b47dea296.png">

Actually saw a fatal error

<i

[2022-11-11 00:08] DustyReagan commented on #69879
Something like this? https://github.com/Automattic/jetpack/pull/27374/files

It seems to be testing well.

[2022-11-11 00:19] cuemarie commented on #69798
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated in** ***mobile only***
- Tested on AT: **Replicated in** ***mobile only***
- Tested on Self-hosted: **Replicated in** ***mobile only***

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated the persistent open dropdown menu within **Safari on iOS** in the following environments:
     - AT site, **Shoreditch** theme
     - Simple site, **Twenty Twenty** an

[2022-11-11 00:29] cuemarie commented on #69805
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
Replicated in all environments - no Font options in Customizer for theme **Business**, and no Global Styles options within the editor.

- The info page for the theme doesn't advertise any fonts options, so this may be by design.
- That said, o

[2022-11-11 00:35] lsl commented on #69879
I wasn't sure about this myself but glad my assumption was correct :smile:

[2022-11-11 00:48] jeyip commented on #69921
### Notes:

Looking into modifying

https://github.com/Automattic/wp-calypso/blob/322fba7a3e878a98a34fe89efdee5ce8a9a7c86c/client/signup/config/flows-pure.js#L72-L79

[2022-11-11 00:53] lsl commented on #69646
Plan feature sounds like a good way to gate this, thanks!

[2022-11-11 01:11] cuemarie commented on #69806
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: Could Not Replicate
- Tested on Self-hosted: Could Not Replicate
- Replicable on Core?  No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm able to replicate this issue in a variety of ways on **Simple Sites**:

**Simple Site, Sketch theme, mobile**

https://user-images.githubusercontent.com/27249804/201237567-f57e301e-03cd-4059-b4cb-5fad0

[2022-11-11 02:54] jjchrisdiehl commented on #68921
Just waiting on translations to finish here https://translate.wordpress.com/deliverables/7619216

Once that is done, [this](https://github.com/Automattic/wp-calypso/pull/69271) should be good to merge.

[2022-11-11 02:57] jjchrisdiehl commented on #68049
Update: As far as I can tell, [this PR ](https://github.com/Automattic/wp-calypso/pull/69772)should be ready to merge. From the testing above, removing the `isJetpackPlan` condition doesn't adversely affect our customers' ability to cancel and remove a disconnected Jetpack plan from their site (which is why this condition was added in the first place).

[2022-11-11 08:53] jromales commented on #69395
5701507-zd-woothemes

[2022-11-11 08:56] jromales commented on #69395
5698404-zd-woothemes

[2022-11-11 09:21] jromales commented on #69395
5703294-zd-woothemes
5702069-zd-woothemes

[2022-11-11 09:56] zdenys opened #69947 "Users: Privacy Information link is broken in Followers section"
### Quick summary

When you click the (i) icon in Users → Followers you'll see the link Privacy Information that points to `https://wordpress.com/people/followers/{SITENAME}#privacy` and hence leads to the same page instead of supposedly to an external support page.

![LQXUDR.png](https://user-images.githubusercontent.com/39308239/201315232-c862acb3-4c58-4a96-97a8-6d1e579ff5ab.png)

### Steps to r

[2022-11-11 10:35] #69362 closed, assigned to miksansegundo

[2022-11-11 10:35] #66789 closed, assigned to miksansegundo

[2022-11-11 10:37] gcsecsey opened #69948 "WC.com products: sync monthly and yearly product IDs"
Related Slack conversation: p1668159067812879-slack-C029JEQRVRT

To remove hard-coded items from the Marketplace catalog class, we need to be able to access `wpcom_marketplace_store_product_yearly_id` and `wpcom_marketplace_store_product_monthly_id` meta fields in the jetpack-search index.

Changes need to be made similarly to #69081 and #63903

[2022-11-11 10:41] gcsecsey commented on #69948
Diff raised: D92154-code
Jetpack PR created: https://github.com/Automattic/jetpack/pull/27376

[2022-11-11 13:45] danielbachhuber opened #69951 "My Home: Improve messaging when site is already launched"
From p1668163871099539-slack-C014TPFLP4Z

When a site is already launched, saying “Your site is private and only visible to you” is a bit confusing:

![image](https://user-images.githubusercontent.com/36432/201352748-a3e1dcad-1ca9-4655-a210-bb5ec969d0fc.png)

We should improve this messaging when the site is already launched.

**Done is:**
* We've worked with Dotcom PAs to figure out better text f

[2022-11-11 15:43] #67848 closed, assigned to renancarvalho

[2022-11-11 15:57] keoshi opened #69953 "Stats: Update sections background color"
# Development

- [x] Apply new backgrounds to the traffic page.
(#70093)
- [x] Apply new backgrounds to the insights page.
(#70158)
- [x] Apply new backgrounds to the store page.
- [x] Apply new backgrounds to the ads page.

# Design

Part of the modernization project (p1HpG7-igQ-p2).

One thing we're missing is the background colors for each section in Stats. This is a global change that should b

[2022-11-11 17:08] #69646 closed, assigned to DustyReagan

[2022-11-11 17:34] cuemarie opened #69961 "Video Block: Improve Error Message after failed upload"
### What

Update the error message displayed by a Video block when a video upload fails to either get more specific to the underlying issue, or to suggest more options for the user to troubleshoot.

### Why

When a video upload fails in the Video block, the error message that appears is a bit vague:

`An error was encountered during the upload. Check your network connection.`

![Markup on 2022-11-

[2022-11-11 17:37] ouikhuan opened #69962 "Fix calypso_subscriber_add_form_individual_subscribers event firing issue"
Currently `calypso_subscriber_add_form_individual_subscribers` event is not firing correctly when we adding individual subscriber. We'll need to look into how the event gets triggered again.

See more on tracks flow for `calypso_subscriber_add_form_display` > `calypso_subscriber_add_form_individual_subscribers` > `calypso_subscriber_add_form_success`.

[2022-11-11 18:28] DavidRothstein opened #69964 "[Bug]: Client-side estimation of Jetpack Search tiers in checkout can be wrong"
### Quick summary

Parts of checkout seem to use a client-side estimation of the Jetpack Search tier (rather than the actual one from the server) which can lead to issues like this in checkout:

![image-2-1](https://user-images.githubusercontent.com/235183/201404324-0c933625-6655-4b64-86ae-e3d78ec6922b.png)

That looks very similar to the bug that this issue was trying to fix:
- https://github.com

[2022-11-11 18:36] gibrown commented on #69964
@jsnmoon @kangzj adding this to the launch list of issues. Feels like after the launch we should fix this so it works correctly using the pricing from the backend.

[2022-11-11 19:39] bogiii opened #69965 "Import flow: Start building link doesn't work"
- Go to /setup/import?flow=import-focused&siteSlug={SITE_SLUG}
- Enter any existing wordpress.com website
- Click on `Start building`

Both the Start Building links don't link to the Build flow here (they take me to the start of the URL flow).

<img width="726" alt="CleanShot 2022-11-04 at 16 31 14@2x" src="https://user-images.githubusercontent.com/533/199957491-11ce9539-f820-47bf-8ab3-5297ae43236

[2022-11-11 19:51] #69698 closed, assigned to bogiii

[2022-11-11 20:36] jsnmoon commented on #69224
<img width="1081" alt="image" src="https://user-images.githubusercontent.com/4044428/201427144-b5c6dced-e1b4-485d-84e9-49229de58621.png">

@danjjohnson: We just shipped this new feature to production!

[2022-11-11 20:43] #69224 closed, assigned to jsnmoon

[2022-11-11 22:35] #69744 closed, assigned to romarioraffington

[2022-11-11 22:55] DustyReagan opened #69968 "The gifting banner shows through the full page Coming Soon screen on sites that haven't launched."

[2022-11-12 01:07] n3f commented on #69704
Merged/deployed

[2022-11-12 01:07] #69704 closed, assigned to n3f

[2022-11-12 01:15] n3f commented on #69764
I don't know if the link is bad, but the test linked in the description appears to be testing a class that doesn't exist anymore (at least I can't find it -- but I could be mistaken)...

[2022-11-12 01:16] n3f commented on #69520
@millerf , not sure if you're still working this or not.  I can take a swing at it if you don't start on Monday...

[2022-11-12 14:33] zdenys commented on #55795
5703648-zd-woothemes with Argent theme. Suggesting [Social Icons Block](https://wordpress.com/en/support/wordpress-editor/blocks/social-icons-block/).

[2022-11-12 17:55] sajmes commented on #69395
5704074-zd-woothemes

[2022-11-13 00:04] kuropixel commented on #52241
5707046-zen

[2022-11-13 03:11] rw-ye opened #69973 "Marketplace: Yoast SEO Premium shows as inactive if purchased directly from Yoast"
### Quick summary

If Yoast SEO Premium is purchased from Yoast directly, then it will show as **Inactive** on the Plugin Marketplace.

<img width="595" alt="Screenshot 2022-11-13 at 1 06 51 pm" src="https://user-images.githubusercontent.com/21261509/201503807-26687477-ac92-4ac6-a29e-31a8a4869fd1.png">

### Steps to reproduce

1. Download Yoast SEO Premium directly from their site: https://yoast.c

[2022-11-13 06:31] sharonlaker19 commented on #61756
- [ ] 5706951-zen

[2022-11-13 14:07] #66402 closed, assigned to nobody

[2022-11-13 21:00] donalirl commented on #69798
User is using Safari 16 on desktop (OS X 10.15.7): https://www.whatsmybrowser.org/b/FB52P

[2022-11-14 00:48] mxhassani commented on #65656
@ivan-ottinger

There is one here: 5680004-zd-woothemes

[2022-11-14 01:27] rw-ye commented on #44263
+1 5709163-zd-woothemes

[2022-11-14 03:40] fushar commented on #69607
This is shipped.

[2022-11-14 03:40] #69607 closed, assigned to fushar

[2022-11-14 03:53] lsl opened #69976 "Improve gifting thank you page copy"
@emilyaudela [pointed out](https://github.com/Automattic/wp-calypso/pull/69729#issuecomment-1312860009) the copy on this page only makes sense for mobile viewports.

Replace:

[code]

With:
[code]

https://github.com/Automattic/wp-calypso/blob/trunk/client/my-sites/checkout/checkout-thank-you/gift/gift-thank-you.tsx#L58

- [ ] Copy updated per above

[2022-11-14 05:03] lsl opened #69977 "Gifting: enable gifting for a11n's"
Once https://github.com/Automattic/wpcomsh/pull/1141 and https://github.com/Automattic/jetpack/pull/27374 are merged, let's enable gifting for a11n's.

 - [x] Enable the subscription-gifting flag in wpcalypso and staging environments. Alternatively we could just remove the flag entirely and show the option to all users early.
 - [x] Replace the gifting_banner flag _GET check in wpcom/wpcomsh with

[2022-11-14 10:43] ivan-ottinger commented on #65656
Thank you @mxhassani.

The issue is tricky in a way that we still haven't been able to reproduce it in our tests, while still seeing the issue being present for some users. We will keep digging.

[2022-11-14 11:15] carinapilar commented on #67641
I got this on 37459062-hc too.

The user has the theme Heiwa, we have set the _Playfair Display_ font on the site editor, but it doesn't load on the site's pages. I was able to replicate this on a test site, I've tried setting the font to _All_ headings, and to _H2_ ones too, but the page always loads another font on the live site.

This is how it shows in the editor, with the correct font:

![fon

[2022-11-14 11:30] miksansegundo commented on #69408
Here is the list of patterns with alignment issues related to Blank canvas 3:

- p1668145709229129/1667482926.154089-slack-C02M88KJ684
- p1668425202233199/1667482830.071029-slack-C02M88KJ684
- p1668150092380619/1667483253.329579-slack-C02M88KJ684
- p1668149610672159/1667483147.976649-slack-C02M88KJ684

[2022-11-14 12:39] keoshi opened #69981 "Ability to turn off/on Highlight sections"
Part of the modernization project (p1HpG7-igQ-p2).

From p1HpG7-izR-p2#comment-58500

![Image](https://user-images.githubusercontent.com/390760/201662623-8b3bc00c-17cc-4439-b227-a6abff54e8db.png)

What do you think about this, @jeffgolenski? Could we implement something simple that would allow users to turn this off and back on easily?

[2022-11-14 12:59] ivan-ottinger commented on #65884
Thanks for checking, Juan! Have you tried with the long email address though? (as described in pdDOJh-DX-p2 from the [comment above](https://github.com/Automattic/wp-calypso/issues/65884#issuecomment-1216759349))

[2022-11-14 13:25] TimBroddin opened #69982 "[Pre-publish] Update wording of panel"

[2022-11-14 13:25] TimBroddin opened #69983 "[Pre-publish] Add social counts next to the labels"

[2022-11-14 13:26] TimBroddin commented on #69983
Where: Jetpack

[2022-11-14 13:26] TimBroddin opened #69984 "[Pre-publish] Add Email subscribers toggle"

[2022-11-14 13:26] TimBroddin commented on #69984
Allow skipping out of sending emails

Where: Jetpack

[2022-11-14 13:27] TimBroddin opened #69985 "[Pre-publish] Check value of Email subscribers toggle when new post emails are sent."

[2022-11-14 13:27] TimBroddin commented on #69985
Where: Jetpack

[2022-11-14 13:27] TimBroddin opened #69986 "[Pre-publish] Update count summary in subscribers panel based on selected toggles."

[2022-11-14 13:27] TimBroddin commented on #69986
Where: WPCOM

[2022-11-14 13:28] TimBroddin opened #69987 "[Pre-publish] Combine Share This Post and Subscribers panel."

[2022-11-14 13:29] TimBroddin opened #69988 "[Pre-publish] Check translations"

[2022-11-14 13:30] TimBroddin opened #69989 "[Subscribe block] Add toggle to show email subscribers to Block edit UI."

[2022-11-14 13:30] TimBroddin commented on #69989
Where: Jetpack

[2022-11-14 13:30] TimBroddin opened #69990 "[Subscribe block] Add toggle to show social followers to Block edit UI."

[2022-11-14 13:30] TimBroddin commented on #69990
Where: Jetpack

[2022-11-14 13:31] TimBroddin opened #69991 "[Subscribe block] Add API params to WPCOM"

[2022-11-14 13:31] gcsecsey commented on #69948
Based on the discussion [here](https://github.com/Automattic/wp-calypso/issues/64891#issuecomment-1243880889), these fields should be added to the dynamic serialized field we've created in #67863. This would require a smaller change in only one codebase and lend us greater flexibility in the long term. I'll add a PR with these changes soon.

[2022-11-14 13:32] TimBroddin commented on #69991
Where: WPCOM

Add `?splitted` parameter on:
- [ ] XML-RPC API (called by Jetpack)
- [ ] WP REST API

[2022-11-14 13:33] TimBroddin opened #69992 "[Subscribe block] Add API params to Jetpack"

[2022-11-14 13:33] TimBroddin commented on #69992
Add `?splitted` parameter to the WP REST API on Jetpack.

[2022-11-14 13:34] TimBroddin opened #69993 "[Subscribe block] Update API-calls & block labels"

[2022-11-14 13:35] TimBroddin opened #69994 "[Subscribe block] Provide block deprecations"

[2022-11-14 13:36] TimBroddin opened #69995 "[Action bar] Update wording on the Action Bar."

[2022-11-14 13:36] TimBroddin commented on #69995
Where: WPCOM

[2022-11-14 13:43] #69248 closed, assigned to mpkelly

[2022-11-14 14:06] #69749 closed, assigned to danielbachhuber

[2022-11-14 14:34] escapemanuele opened #69997 "Help Center: Error when minimizing in Sybil article"
`location.state` seems to be undefined in https://github.com/Automattic/wp-calypso/blob/trunk/packages/help-center/src/components/help-center-header.tsx#L13, when we have try to minimize an article from the Sybil articles ( more from `getFilteredContextResults` )

[code]

[2022-11-14 14:48] gavande1 commented on #69694
Created another diff: D92061-code

[2022-11-14 14:48] #69879 closed, assigned to DustyReagan

[2022-11-14 14:56] keoshi commented on #69044
Moving a couple of items from https://github.com/Automattic/wp-calypso/pull/69907 to this issue:

On the smallest resolutions, we should adjust the card styling:

- [ ] Set `border-radius` to `0px`.
- [ ]  Set `border-left` and `border-right` to `0px` so the card is flush with the window and only has border on the top and bottom.

Before | After
--|--
<img width="330" alt="image" src="https://user

[2022-11-14 15:21] cpapazoglou opened #69998 "Marketplace: vendor signup refactor to move code in product vendors plugin"
Related: p1667844178851579-slack-C029JEQRVRT

[2022-11-14 15:23] cpapazoglou commented on #69998
@JulianBustamante is this something you can wrangle?

[2022-11-14 15:38] markbiek opened #69999 "Theme Bundling: Site did not revert themes after cancelling plan"
A user purchased a Business plan and started using the Tsubaki theme. After they cancelled their Business plan, Tsubaki stayed as the active theme instead of the site being reverted to the previous theme.

More details at p1668105570566419-slack-C0Q664T29

[2022-11-14 15:57] dognose24 commented on #69229
Since the number of `Likes` does not exist in the `/stats` API so far, could we restore the `Likes` item of the All-time stats card in a follow-up improvement with the API update for all-time like counts? cc @keoshi @jeffgolenski @jsnmoon

[2022-11-14 16:08] iamtakashi opened #70002 "Site Title: The font size is larger than how it should be in WP.com"
### Quick summary

I've noticed that the site title is larger than how it should be in some themes on WP.com. This seems to be caused by the calculation of the fluid type feature. We can see this issue in Masu theme, for example.

on a self-hosted site with a Gutenberg trunk, the fluid font size is determined by: (Correct)
[code]
But this is how it's been done in a WP.com site: (Wrong)
[code]

###

[2022-11-14 16:33] ivan-ottinger opened #70004 "Featured image email toggle: Explore options of matching image styles set in the theme"
Currently, the Featured image displayed in the _New Post_ email template ignores the styles coming from the theme and _Post Featured Image_ block.

The goal of this task is to explore the codebase and see how easy or complicated is it to apply these styles to the Featured image in the email template.

More details and product discussion: pdtkmj-Gy-p2#comment-1170

[2022-11-14 16:34] #69572 closed, assigned to agrullon95

[2022-11-14 16:35] ckmccoy2 opened #70005 "Instagram Posts cut and repeated"
### Quick summary

Videos being cut and repeated on this ticket: 5703664-zd

### Steps to reproduce

1. Add an Instagram block to a page or post on a simple site
2. Add post link in ticket notes

### What you expected to happen

Post to show as it does in instagram

### What actually happened

formatting is odd where a portion of the video appears to be cut and repeated

### Context

Seems to only

[2022-11-14 16:40] ivan-ottinger opened #70006 "Featured image email toggle: Remove gray image background"
In order to match the design in the _New Post_ email template with the Featured image representation on the site, we would like to remove the current gray background:

| Before | After |
| ------------- | ------------- |
| ![Image](https://user-images.githubusercontent.com/25105483/201730113-4734c563-7d7b-4dff-b6cf-528a588b21be.png) | ![Image](https://user-images.githubusercontent.com/25105483/201

[2022-11-14 16:53] keoshi commented on #69229
That sounds perfectly reasonable to me, @dognose24. :)

[2022-11-14 17:28] DustyReagan commented on #69977
wpcom: D92328-code
wpcomsh: 1146-gh-Automattic/wpcomsh

[2022-11-14 17:51] #68485 closed, assigned to ivan-ottinger

[2022-11-14 18:30] agrullon95 commented on #69899
@Addison-Stavlo / @ebinnion - Is the [optional domain name generator button](https://github.com/Automattic/wp-calypso/issues/69922) supposed to be displayed on the existing sign up flow?

[2022-11-14 18:48] jeffgolenski commented on #69981
@keoshi I think we should think about the entire system at once and how customers should be able to customize everything to their liking. I think allowing this to be turned off and on is fine, but we should designer an evergreen pattern for scalability. Shall we add it to the list of future improvements?

[2022-11-14 18:53] jeyip commented on #69899
Designers are in the process of creating mocks. Eric says "I would focus efforts right now on the backend, such as getting the library in place, endpoint, etc." ( [link](p1668451042654359/1668450288.931879-slack-CHN6J22MP) )

[2022-11-14 20:07] DavidRothstein opened #70011 "Purchase Management: Remove the "You purchased X with credits" message"
### What

When a subscription has been purchased with credits, you get a "You purchased X with credits" message like this at the top:

![credits](https://user-images.githubusercontent.com/235183/201755155-ee59f8db-604a-4042-af5f-1de20f6e5f3a.png)

This message isn't shown in other cases where the subscription has no payment method attached.  So let's remove it here (or alternatively, add something

[2022-11-14 20:19] DavidRothstein commented on #70011
Actually, it's weird that the "You don’t have a payment method to renew this subscription" message (in the bottom right of this screenshot) isn't clickable -- maybe we should add a clickable "Add one" sentence to it as part of this, which would be an overall improvement.

[2022-11-14 20:31] connorhipps commented on #55102
The same issue appears again here 5711438-zd-woothemes

[2022-11-14 20:56] DustyReagan commented on #69977
Calypso: https://github.com/Automattic/wp-calypso/pull/70012

[2022-11-14 20:59] jsnmoon commented on #69981
What value do we provide by hiding the 7-day highlights? Might it be more productive to figure out why the customer might want to turn off the highlights, which might reveal more insightful action item? (e.g., "I find my views chart more valuable than the highlights.")

[2022-11-14 22:13] danielbachhuber commented on #69585
Shipped with https://github.com/Automattic/wp-calypso/pull/69897

[2022-11-14 22:13] #69585 closed, assigned to vykes-mac

[2022-11-14 22:30] sirbrillig opened #70019 "Sometimes Apple Pay/Google Pay displays "This payment type is not supported""
In the past few days (starting on Oct. 27), we've seen 9 instances of the fatal error "This payment type is not supported" show up for clients. This error is thrown when the payment button for the Apple Pay or Google Pay payment method is rendered and Stripe tells us that the payment is not allowed.

https://github.com/Automattic/wp-calypso/blob/ac5971e98b0249bdb7b4b617e3b40cf65ae128ba/packages/wp

[2022-11-14 22:35] sirbrillig commented on #70019
See this Slack thread for a link to the errors in our logs: p1668284243832319/1668283204.862969-slack-C096PD42U

[2022-11-14 23:14] agrullon95 commented on #64880
I'm able to reproduce the issue on my simple site on the Premium plan.
CSS variables are removed on the "Customizer" page after I save and reload.

@fullofcaffeine - I stumbled upon your diff (D70703-code) related to removing CSSTidy and wanted to confirm that this would also fix CSS variable issues. Do you have an ETA for this diff? Thanks.

[2022-11-14 23:59] n3f commented on #69759
Merged/deployed.

[2022-11-14 23:59] #69759 closed, assigned to n3f

[2022-11-15 00:06] n3f commented on #69930
@artpi I just want to clarify the test cases for this PR/issue: (in all cases the Subscriber attempts to login to view post).

1. They are a subscriber with their WPCOM email, and the post is subscriber only. They aren't logged in so the email check should pass as normal.
2. Subscriber (logged-out), post is all subscribers, they aren't logged in so the email check should pass as normal.
3. Subscri

[2022-11-15 00:20] jerrysarcastic opened #70021 "VideoPress: Display unmute icon on autoplay videos that are muted"
### What

When a visitor views a page with an embedded video set to auto-play, it's not immediately obvious if it's a video that has no audio, or if it's a video that has audio but is muted.  Visually speaking it's no different from a GIF, and if the visitor does not interact with the player and check if sound is muted, they would have no way of knowing that audio is an option.

It would be helpfu

[2022-11-15 00:21] jsnmoon commented on #69044
This has been addressed in #70020 via 8108e0dccdb8b4f7665a5bd742b621cade94dae6 😁

[2022-11-15 00:23] jerrysarcastic commented on #70021
Noting that as it seems related:  https://github.com/Automattic/wp-calypso/issues/67089

If we opt to auto-mute videos in Calypso, a persistent mute icon in the video block could serve as an visual additional indicator.

[2022-11-15 02:33] creativecoder commented on #69820
Looks like this was resolved by D91874-code, so I'll close this issue.

[2022-11-15 02:33] #69820 closed, assigned to eoigal

[2022-11-15 08:31] TimBroddin commented on #69982
Change to: This post will reach 200 email subscribers and 4000 social followers.

[2022-11-15 08:44] #69817 closed, assigned to miksansegundo

[2022-11-15 08:49] cpapazoglou commented on #69998
It seems that this part needs to be extracted in hook logic
`/plugins/woocommerce-product-vendors/includes/class-wc-product-vendors-shortcodes.php#L72-L80`

[2022-11-15 10:14] #69997 closed, assigned to escapemanuele

[2022-11-15 10:23] #68590 closed, assigned to escapemanuele

[2022-11-15 10:45] keoshi commented on #69044
Beautiful, thank you!

[2022-11-15 11:06] rickmgithub commented on #70005
The original reporter added some further details about how they make the videos

"I just record the videos with my phone, generate subtitles, and save them as mp4 files. The subtitles are burned into the videos, meaning they are not an additional .srt file but simply visual input added to the video. So the videos are regular mp4 files. Then I upload them as reels on Instagram via the Meta Business

[2022-11-15 12:05] iamtakashi commented on #70002
Moved to the theme repo: https://github.com/Automattic/themes/issues/6727

[2022-11-15 12:06] #70002 closed, assigned to nobody

[2022-11-15 13:08] yansern commented on #70004
For overlays, the idea was tested on Cover Block rendering fallback D89960-code, thanks @TimBroddin, here's [CanIEmail for RGBA support](https://www.caniemail.com/features/css-rgba/).

[2022-11-15 13:37] Addison-Stavlo commented on #69922
Marking this issue on hold for now. I believe this specific idea was veto'd in a design discussion last week at the meetup, and we should have some design direction shortly.

[2022-11-15 13:48] scruffian commented on #69559
This doesn't feel like a feature when you use it!

[2022-11-15 13:58] scruffian commented on #63967
I fixed it. The problem was that somehow the mobile app created a post without an author.

[2022-11-15 13:58] #63967 closed, assigned to nobody

[2022-11-15 14:40] dsas commented on #67709
Changing the title text to "Pay $80 once to <sitename> & create a WordPress.com account" might be clearer but possibly overly wordy. Dropping the '& create a WordPress.com account' from the title entirely would remove the confusion and be more succinct. The smaller-print above the CTA should still be clear enough that a WordPress.com account will be created.

[2022-11-15 14:40] escapemanuele commented on #69108
Opened a PR for this: https://github.com/Automattic/wp-calypso/pull/70033

[2022-11-15 15:07] annaBrasnar commented on #59564
"Workaround details

Make the browser window wider or hide the right sidebar panel."

Tried this ^^ but does not resolve it no matter how the browser window is wide and closing the right panel or list view.

[2022-11-15 15:22] dsas commented on #67709
The wording here was specifically suggested by legal (p2JRYi-3RM-p2#comment-14079) so if we're changing it, we need to be careful!

[2022-11-15 15:33] ccwalburn commented on #64324
Another report here 37655855-hc

Editor Preferences are not saved (i.e., unchecking "Use theme styles")
Theme: Sela
Plan: Personal

I can recreate the issue when going to their dashboard from here.
However, I tried to recreate the issue on my own Personal plan test site using the Sela theme but cannot.

[2022-11-15 15:54] keoshi commented on #69981
More user feedback:

[2022-11-15 16:14] escapemanuele opened #70037 "Help Center: Open maximized even when closed minimized"
### What

Re-open the HelpCenter maximized after closing it, even if closed when minimized.

We can see in the video that it could be annoying having it minimized when clicking on the Help Center icon

https://user-images.githubusercontent.com/52076348/201969882-519c6cb3-b7d3-46b2-beab-c758d0aa361d.mov

[2022-11-15 16:27] #69108 closed, assigned to escapemanuele

[2022-11-15 16:42] agrullon95 commented on #67624
@cpapazoglou - Is this something that has been also raised in your discussions related to syncing WP.com and WooCommerce.com plugins? (https://github.com/Automattic/wp-calypso/issues/60661).

I noticed I cannot delete the WooCommerce Subscription plugin on WP.com (which helps mitigate part of this issue), but I was able to force delete using an SFTP client. As this issue mentions, theres no way to

[2022-11-15 17:03] escapemanuele commented on #66107
Already done.

[2022-11-15 17:03] #66107 closed, assigned to nobody

[2022-11-15 17:05] sourourn commented on #44844
Another one requested here: #37979773-hc

[2022-11-15 17:15] cuemarie commented on #63967
@scruffian Great to hear! And thanks for sharing what the issue was - that will be a great thing to check if we encounter future reports like this 👍

[2022-11-15 17:25] cpapazoglou commented on #67624
👋 @agrullon95 there are no discussions on how we could allow the end user to add back a purchased and deleted plugin. Eventually we would need:
- an endpoint that checks if the plugin is purchased and adds it back by calling `$marketplace_software_manager->install_product_software()`
- leveraging this endpoint in Calypso, instead of forcing the user to buy the plugin again

For HE, if the plugin i

[2022-11-15 17:53] nelsonec87 opened #70042 "Stepper eCommerce flow: handle plan being removed from cart"
The new eCommerce plan assumes the user is getting the eCommerce plan (and adds it automatically to the cart).
What should happen if the user, during checkout, removes the plan from the cart?

[2022-11-15 17:55] nelsonec87 opened #70043 "Stepper eCommerce flow: define which themes are gonna be shown in the carousel"
For the new eCommerce flow, we show a simplified design picker.
Which themes/variations should be presented to the user?

[2022-11-15 17:58] nelsonec87 opened #70044 "Stepper eCommerce flow: Define the URL users should be redirected at the end of the flow"
When the user finished the new eCommerce flow, where should they be redirected to?

*We may have to wait for the Woo installation.

[2022-11-15 18:02] nelsonec87 opened #70045 "Stepper eCommerce flow: integrate the monthly/yearly parameter"
Use the [new `recur` param](https://github.com/Automattic/wp-calypso/pull/69932) in the new eCommerce flow.

[2022-11-15 18:04] nelsonec87 opened #70046 "Stepper eCommerce flow: prepare Call for Testing"
Prepare CfT for the new stepper eCommerce flow

[2022-11-15 18:07] nelsonec87 opened #70047 "Stepper eCommerce flow: check integration with Woo flow"
Make sure the data from the Store Profiler step is stored in a way that is available for the Woo flow, so the user doesn't have to type it again.

[2022-11-15 18:14] michaeldcain commented on #70019
From planning:

This is lower priority since users have the ability to checkout with other payment methods. Moving it to the backlog until we have more bandwidth.

[2022-11-15 18:58] michaeldcain commented on #69497
From planning:

The first message seems to be shown for non-rechargeable (one-time) payment methods, but is shown way too far out. We should maybe align this with either other Calypso notices or BDSE events (-60).

[2022-11-15 19:00] michaeldcain commented on #70011
Closing as a duplicate of https://github.com/Automattic/wp-calypso/issues/69497. Let's consolidate the logic for non-rechargeable payment method notices.

[2022-11-15 19:00] #70011 closed, assigned to nobody

[2022-11-15 19:05] blackjackkent commented on #70045
@SaxonF @daledupreez @nelsonec87 Looking at the designs at 9XooISHKU1phs4Ju2Yyy5p-fi-2407%3A31088&t=YOZuFBNqcwv0V9FB-0 it feels like the main potential visual difference here is simply choosing whether "Pay monthly" or "pay annually" is autoselected for the user on the plan selection page. Are there other visual differences we want to incorporate between the monthly and yearly versions of the flow

[2022-11-15 19:22] DavidRothstein commented on #69497
I confirmed that the customer who reported this was paying with a one-time payment method.

We should decide on the correct overall behavior here and apply it to all cases where a subscription doesn't have a renewable payment method attached, regardless of reason (i.e. no need for any of the messages to say "You purchased X with credits", thereby encompassing https://github.com/Automattic/wp-calyp

[2022-11-15 19:56] ebinnion opened #70048 "[Bug]: Stats traffic for countries doesn't account for few countries"
### Quick summary

See the following screenshot from my traffic for ebinnion.link.

<img width="1077" alt="Screen Shot 2022-11-15 at 1 48 38 PM" src="https://user-images.githubusercontent.com/1126811/202012697-d554dc77-516a-4835-bf7b-73d6877d3fa5.png">

My best guess is that the list of countries is small, so the countries map doesn't expand.

Compare that to my more established site:

<img width=

[2022-11-15 20:10] epeicher commented on #65081
Diff created D92473-code

[2022-11-15 20:13] delputnam commented on #65081
This looks like a good temporary fix, but I think we can actually make these subdomains available on Atomic sites with some help from systems.

[2022-11-15 20:25] #68049 closed, assigned to jjchrisdiehl

[2022-11-15 20:31] jamiepalatnik commented on #69427
The user replied in 5714293-zd-woothemes to share these details:

I let them know I would share these details with our team to investigate further.

[2022-11-15 20:53] delputnam commented on #65081
FYI, I also submitted a suggested change to the back-end diff to make sure we capture w.link and any other managed subdomains as well.

[2022-11-15 21:16] ianstewart opened #70049 "Advertising card loads slow on /advertising"
Noticed on an atomic site. The card at the top of /advertising loads slowly. (Multiple seconds.) I assume because the list of promote-able posts is loading first. Ideally this would be one of the first things to load on this screen.

![image](https://user-images.githubusercontent.com/545779/202026936-6a986d24-b0db-45d0-b0c0-8800df9c3f72.png)

[2022-11-15 21:31] iamtakashi commented on #68798
Usually, this sort of issue will come back even after resaving. I think all the ones that have the issue are the blocks that specify the font family. The issue is caused almost certainly by that.

[2022-11-15 21:40] mreishus commented on #69409
This simple calypso change **does not** work:
[code]

The reason being the order of operations. Let's say I go to /start, search for a domain and choose the wp.com one. Now I'm looking at the plans page. As soon as I click the button to select ecommerce, two things happen:

(1) The browser requests the backend to make a new site for me
![2022-11-15_15-35-new-site-premium-theme](https://user-images

[2022-11-15 22:20] romarioraffington commented on #69664
Instead of introducing another status. Could we allow users with the `confirming` status to unlock free content?

I believe this should be `confirming` as this is the status that is added as a query param after the flow described.?

[2022-11-15 22:59] john-legg commented on #66144
The associated PR [has been merged](https://github.com/Automattic/wp-calypso/pull/69446), however the test seems to be failing intermittently on other branches. It looks to be a timeout issue, but I'm still investigating it. I will hopefully have a clearer idea soon.

[2022-11-15 23:32] freelylovinglife commented on #55102
Another report 5714674-ZD

[2022-11-16 00:14] jsnmoon commented on #69041
@danjjohnson: This feature is expected to release in the next 24 hours.

[2022-11-16 00:15] jsnmoon commented on #68974
@danjjohnson: This feature is expected to release in the next 24 hours.

[2022-11-16 00:25] SaxonF commented on #69882
@miksansegundo Sorry for the delay, was AFK. I think I'd lean towards just letting people do what they want and fixing continue button to the bottom. We can monitor post release and see if its something we need to resolve.

Behaviour would be similar to this

https://user-images.githubusercontent.com/1072756/202053201-0cd6b2b7-b05a-455a-96ed-2f991b52e5b8.mp4

[2022-11-16 00:54] miksansegundo commented on #69882
@SaxonF we can try it. I see some UX issues with that approach:

- the button to add another section and the footer will be out of the screen.
- we'll have to create extra scroll at the bottom of the scrolling area or the last elements will be behind the button.
- after adding a section we have to jump to the bottom of the list scrolling programmatically to show the last section

[2022-11-16 01:03] #69151 closed, assigned to grzegorz-cp

[2022-11-16 01:39] Jaykame opened #70054 "Gallery Block columns not showing up properly in preview or live site"
### Quick summary

Images added in columns in Gallery Block do not show up properly in the live preview or the live site. They are stacked on top of each other. Tested across multiple themes, blockbase, FSE, and classic themes and they're all having the same issue.

### Steps to reproduce

1. Add **Gallery Block** to any page.
2. Select a few images.
3. Select to show in at least two columns.
4. P

[2022-11-16 01:51] cuemarie commented on #69808
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I am able to replicate that the "Image" post format does not display images added into the content of the post on the latest posts page.

I'd guess this post format likely relies on the **Featured Image** of the post, which does appear on th

[2022-11-16 02:11] cuemarie commented on #69811
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated in several themes and across AT, Simple, and Self-Hosted.
- **Post Featured Image** block, at least in the `Single` Template, comes with little to no good resizing options.

**Examples**

**Simple Sit

[2022-11-16 02:21] cuemarie commented on #69717
📌 SCRUBBING
- this requires some pretty specific tools to test (Screen reader [JAWS 2023](https://support.freedomscientific.com/Downloads/JAWS)); moving forward to triage squad without repro

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-16 02:21] rickmgithub commented on #68582
One thing to note is that the WPCOURSES.com site is now going to be shut down and the content moved across to WordPress.com/learn. It's note clear how that will be structured but once we know more we can update this thread.

[2022-11-16 02:30] 1dr0 commented on #70054
Yeps! Confirmed that this issue recently surfaced and only on Simple sites, after testing it against a plugin-enabled site. The user mentioned seeing the issue minutes ago, which coincides with the time of this bug report.

35981402-hc

[2022-11-16 02:31] happychait commented on #70054
Another report in 37956056-hc

[2022-11-16 02:34] cuemarie commented on #69839
📌 SCRUBBING : RESULT
- Tested on Simple: Could Not Replicate
- Tested on AT: Could Not Replicate
- Tested on Self-hosted: Could Not Replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Could not replicate in any tests. Across AT, Simple, and Self-Hosted, the pasted link in the Nav block menu, the `%` characters were not converted to `%25`.

**Examples**
![Markup on 2022-11-15 at 19:29:29](https://user-images

[2022-11-16 03:08] a8ck3n opened #70055 "Calypso: Inline SVG data for mobile QR code"
Per [this comment](https://github.com/Automattic/wp-calypso/pull/70028#discussion_r1023458946), it would probably be better to have the SVG data in the bundle.

[2022-11-16 03:20] happychait commented on #70054
Another report in 37716411-hc

Suggested transforming the Gallery to Tiled Gallery as a workaround.

[2022-11-16 03:44] dev-sabbir commented on #70054
I have encountered these:

5715445-zd-woothemes
5715432-zd-woothemes

[2022-11-16 05:01] lsl opened #70057 "Gifting banner: Make "WordPress.com" a link"

[2022-11-16 05:14] rinazrina commented on #70054
Another one: 5715527-zd-woothemes

[2022-11-16 05:35] mdtanjid0 commented on #70054
Another one: 37835821-hc

[2022-11-16 05:45] taipeicoder commented on #69658
Closing as it's deployed.

[2022-11-16 05:45] #69658 closed, assigned to taipeicoder

[2022-11-16 06:07] rakshitwesley commented on #70054
Another one: 35195952-hc

[2022-11-16 06:15] inaikem commented on #70054
Another report here: 38058520-hc

[2022-11-16 06:17] inaikem commented on #70054
Escalated internally here: p1668579418481669-slack-CBTN58FTJ

[2022-11-16 06:28] rw-ye commented on #16585
5715452-zd-woothemes - The user reached out again about this today. They are still experiencing issues with using Apple VoiceOver to navigate their followed blogs.

[2022-11-16 07:00] fushar opened #70060 "[Bug]: Logged-out /themes page only shows 20 themes on All filter"
### Quick summary

The /themes page, on a logged-out user (e.g. on incognito), only shows 20 themes, on the default All filter. However, when we select the Free / Premium filter, more than 20 themes are shown, which does not make sense.

### Steps to reproduce

1. Open a new incognito window.
2. Go to wordpress.com/themes.

### What you expected to happen

I see more than 20 themes.

### What actu

[2022-11-16 07:28] fushar commented on #70060
After some investigation, this bug is first introduced (accidentally, I believe) by #66431 (Add themes subtree back to the server-side redux cache).

The PR (re-)adds /themes results to the cached SSR data. Unfortunately, the default limit is 20:

https://github.com/Automattic/wp-calypso/blob/9fc87b67031891e9fd9545ccf44963a703370586/client/state/themes/constants.js#L5

which causes the default (lo

[2022-11-16 07:32] inaikem commented on #70054
**📌 SCRUBBING**
- Tested on Simple - Replicated on new and existing Gallery Blocks (GB 14.5.1)
- Tested on AT - Could Not Replicate (GB 14.4.0)
- Tested on Self-hosted - Could Not Replicate (GB 14.5.1)
- Replicable on Core - No

**📌 FINDINGS/SCREENSHOTS/VIDEO**
- As described above

**📌 ACTIONS**
- Added to 'HE Cross-repo Watchlist' project board
- Escalated as high-priority: p1668580014334759-sla

[2022-11-16 07:42] mdtanjid0 commented on #70054
Got more: 5715234-zd-woothemes

And: 5715233-zd-woothemes

[2022-11-16 07:45] daledupreez commented on #69409
Thanks for digging into this, @mreishus! This does look like a complicated timing issue.

Might it be worth looking at a quicker/simple change on the back end for the two weeks until we ship the new flow where the user will select their theme in the flow? We might be able to hook into the following locations:
 * In the post-transfer code for eCommerce sites - the gotcha here will be detecting when

[2022-11-16 08:22] nazilya06 commented on #70054
Another one:5715681

[2022-11-16 08:47] NatzJoy commented on #70054
**➕1️⃣ Another report received:** 36955189-HC

[2022-11-16 09:07] nazilya06 commented on #70054
One more: 5715357

[2022-11-16 09:43] epeicher commented on #65081
Thanks for that! I have updated the diff with the suggested changes

[2022-11-16 10:24] daledupreez commented on #70045
@blackjackkent, I think there are two aspects to using the new parameter:

1. For our MVP, we need to add the correct eCommerce plan to the cart within the flow. More specifically, we need to load either the monthly or yearly eCommerce plan to the cart based on the value of the new setting.
2. Once we have a clearer outline for supporting multiple eCommerce plans (or plan tiers) and we need a plan

[2022-11-16 10:41] zyousafi commented on #70054
21182002-hc and 38063875-hc

The user said it started working properly for them and it was only a temporary glitch 🤷‍♂️

[2022-11-16 10:43] #69951 closed, assigned to sejas

[2022-11-16 10:45] daledupreez commented on #70044
Per a discussion @nelsonec87 and I had yesterday, we think this should redirect users to WooCommerce onboarding. As he pointed out in the task description, this will likely need to be deferred until WooCommerce has been installed on the site.

[2022-11-16 10:50] gcsecsey commented on #69948
Thanks @JulianBustamante for the heads up! 🎉  I've checked the WC.com code and the fields are indeed added to the extra field.

I've tried checking the synced field for a products where we already have these fields added, eg. WooCommerce Bookings, but the serialized field didn't show up in Site Explorer: 2e363-pb/#plain I suspect this issue is similar to what we've had here: p9dueE-5AB-p2#comment-

[2022-11-16 10:55] sejas commented on #70054
It was fixed here D92544-code

It was a CSS conflict that was breaking the gallery block style.
- Thread: p1668580014334759-slack-C02FMH4G8

Closing this issue since the last comment confirm it was fixed 💪

[2022-11-16 10:55] #70054 closed, assigned to nobody

[2022-11-16 11:05] dev-sabbir commented on #70054
I went ahead and informed the users once I could confirm the issue was fixed. However, feel free to send a detailed response.

[2022-11-16 11:23] gcsecsey commented on #69948
I've added the extra fields meta field to the whitelist so it would be synced, but there were some errors and it still isn't being synced. I've added more details and asked for help here: p9dueE-5AB-p2#comment-8892

[2022-11-16 11:38] nuriapenya opened #70067 "Launchpad i1"
The Launchpad will be a modular checklist that will help guide users through specific use case onboarding flows. These sites will enter the LaunchPad flow instead of standard Calypso interfaces after initial onboarding steps, and the LaunchPad will help guide them to reach their specific goals. The LaunchPad will be in place of standard management interfaces until the launch flow is complete, or t

[2022-11-16 12:44] TimBroddin commented on #69982
PR's: D92430-code & https://github.com/Automattic/jetpack/pull/27436

[2022-11-16 12:55] #69976 closed, assigned to lsl

[2022-11-16 13:11] vajrasar commented on #70054
@inaikem I think you tagged a different interaction here.

[2022-11-16 13:19] vajrasar commented on #70054
Hi everyone 👋 Just a quick note to let you all know @Automattic/dotcom-triage-pa-group have finished following up with affected users reported in this thread.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2022-11-16 13:20] inaikem commented on #70054
@vajrasar, my mistake. Here's the correct one: 18727204-hc

[2022-11-16 13:25] inaikem commented on #70054
@vajrasar FYI, we'll want to include a note to let folks who have implemented a workaround know they can revert to their pre-workaround page/post revision. This will be helpful for interactions like the one above, which involved transforming ~20 Gallery blocks to Tiled Gallery blocks.

[2022-11-16 14:11] Addison-Stavlo opened #70069 "LaunchPad - Update copies (title, subtitle, CTA)"
We need to update title, subtitle, and CTA for the LaunchPad.

For Newsletter we should have:
Title: You’re all set to start publishing.
Subtitle: Why not welcome your readers with your first post?

For link-in-bio we should have:
Title: You’re ready to link and launch
Subtitle: All that’s left is to add some links and launch your site.
CTA: Launch your site

![Screen Shot 2022-11-16 at 9 09 43 AM