[2021-09-22 20:54] carinapilar commented on #55807
Another report on 4306488-zd-woothemes

[2021-09-22 20:58] fullofcaffeine commented on #56468
Fix has been deployed in D67244-code. Let us know if you still experience any issues!

[2021-09-22 21:04] mreishus commented on #55807
We deployed a fix for this about 1 hour ago. I'm not able to access 4306488-zd-woothemes, so I can't tell if that happened before or after we deployed it.

[2021-09-22 21:13] #52849 closed, assigned to nobody

[2021-09-22 21:18] carinapilar commented on #55807
Ah, great, thanks @mreishus! It was a request from last week. I'm happy to know that this will get fixed! 🎉

[2021-09-22 21:39] JoshuaGoode commented on #49109
I recently worked on a situation where we still had the backups on file for the source site but there's no easy way for us to restore them to a WPCOM site.

p9F6qB-7uh-p2

It'd be nice to have an easy option to restore both files and backups we have on file on our end to a specific blog ID.

Even better, it'd be nice to be able to route those backups through the WPCOM migration tool as it applies

[2021-09-22 21:40] mreishus commented on #55796
Unfortunately, I must have mis-interpreted the twilio pages for the `vu` country. If the SMS messages are not being sent after we add the country to the list, then it means that our provider (twilio) does not support the country. I have backed out the changes here: D66157-code (meaning that VU will no longer display in the list).

Here's a record of the twilio pages `https://www.twilio.com/guideli

[2021-09-22 21:43] dcoleonline commented on #56428
The customer wrote in to say thanks and that it works for them now. :)

[2021-09-22 21:44] sbathompson-he commented on #54990
Experienced this bug on the Affinity theme here: 30538090-hc

[2021-09-22 22:37] yansern commented on #53978
**Final investigation note:**

The **UGCPosts** API endpoint has a `thumbnails` property but that one did not work. The documentation says:

Therefore, the fix implemented was to move over to Shares API. https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/share-api?tabs=http

**The phab patch for the fix is ready for review!**
D67270-code

[2021-09-23 00:29] InsomniacSabbir commented on #56046
Another issue reported here: 28300820-hc

[2021-09-23 01:17] kosiew opened #56483 "Problem retrieving blog stickers"
### Quick summary

Some customers are seeing
`Problem retrieving blog stickers. Please try again later`

[Here is an instance on a Simple site](p1632357338149200-slack-C03TY6J1A).

[Here is another on an AT site](4315172-zd-woothemes)

![image](https://user-images.githubusercontent.com/29057562/134441691-663322bd-b6d3-4698-ad98-e91534204ecc.png)

### Steps to reproduce

In 4315172-zd-woothemes, th

[2021-09-23 01:22] flameslash opened #56484 "[Media Gallery] Place a marker if the image is used on a page/post"
### What

Add a tag or marker in the media gallery indicating if the image is used on a page or not

### Why

Users who have a lot of images have difficulties discerning if the image they want to delete is being used in a page/post or not. Having this marker or tag in place will ensure that they delete any unused images with ease.

### How

N/A

[2021-09-23 01:25] kosiew commented on #56483
hi @Robertght ,

Flagging for flow attention

[2021-09-23 01:26] kuropixel commented on #56483
I'm also seeing this issue on simple sites.
I'm able to trigger the message when I go to Purchases, choose an entry, and wait for about 30 seconds to a minute.
4312381-zd
4318807-zd
![blog sticker](https://user-images.githubusercontent.com/83020905/134442313-0ec302f0-2bd0-4383-92f7-36d24b79774a.png)
![blog sticker 2](https://user-images.githubusercontent.com/83020905/134442388-8196523b-7025-4005-a

[2021-09-23 01:33] noahtallen commented on #56372
The language picker is written with `Flex` components from `@wordpress/components`. This package was updated from v13.x to v17.x in the React 17 PR. I notice this item [in the changelog from the v14 release](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/CHANGELOG.md#1400-2021-05-14): " `Flex, FlexBlock, and FlexItem components have been re-written from the ground up (#31297

[2021-09-23 02:11] kosiew opened #56486 "Widgets display twice"
### Quick summary
Simple Site

Nikau theme.

Customer set up these widgets in Customizer:

1. Follow Blog
2. Search
3. Categories
4. Recent Pots
5. Archives
6. Instagram
7. Twitter Timeline
8. Meta

On the frontend, these widgets appeared twice

1. Search
2. Categories
3. Archives
4. Instagram
5. Twitter Timeline

![Markup on 2021-09-23 at 09:41:41](https://user-images.githubusercontent.com/290575

[2021-09-23 03:11] donalirl commented on #56297
Related #56023

[2021-09-23 04:37] Greatdane commented on #56046
Another issue here: 4315957-zd-woothemes

[2021-09-23 05:08] jeyip commented on #56455
I believe I identified the issue in core Gutenberg that's causing conflicts with legacy FSE. I've made an issue and information about how to reproduce the problem in this issue https://github.com/WordPress/gutenberg/issues/35066

[2021-09-23 05:27] inaikem commented on #47076
Closing as unable to replicate on Simple, Atomic or Self hosted sites. Please reopen if you are able to replicate the issue!

[2021-09-23 05:27] #47076 closed

[2021-09-23 05:33] inaikem commented on #48214
@simison, do you think this is something better requested in the main Gutenberg repo? It's a great idea and I'd like to get more eyes on if possible!

[2021-09-23 05:38] Greatdane commented on #48478
Closing this as unable to replicate. While I do get quite a long pause (over 2 seconds) in between clicking 'add page' and the page actually loading.

Also noticed in the video you are using incognito mode, and the error refers to SU session, so it could be related to this.

[2021-09-23 05:38] #48478 closed, assigned to nobody

[2021-09-23 05:43] Greatdane commented on #39227
Marking this as closed now that the user interface has been redesigned.

There is also now a checkbox that lets a user decide about using the new card for existing renewals.

<img width="824" alt="Markup 2021-09-23 at 14 42 31" src="https://user-images.githubusercontent.com/5075840/134459498-93644b27-da42-4041-9061-ee21dcb7a788.png">

[2021-09-23 05:43] #39227 closed

[2021-09-23 05:50] Greatdane commented on #48675
I agree that the current explanation of what is happening is rather sparse and could be expanded;

<img width="1125" alt="Markup 2021-09-23 at 14 49 44" src="https://user-images.githubusercontent.com/5075840/134459995-506273ea-4498-4bc1-8e6d-e195e93d7da7.png">

[2021-09-23 05:59] inaikem commented on #48536
Scrubbed request. I have confirmed the `style` attribute is removed on Simple sites but retained on Atomic and self-hosted sites.

I expect this is intentional - especially on Simple site plans which don't permit custom CSS.

@simison, can you see the use of `style` in the code editor ever making it to Simple sites?

[2021-09-23 06:06] Robertght commented on #56483
I've asked in Slack now: C029WGXE5T4/p1632373949016800

[2021-09-23 06:11] Greatdane commented on #48524
Closing this. I am able to align videos via editor that shows on live site;

<img width="1280" alt="Markup 2021-09-23 at 15 10 17" src="https://user-images.githubusercontent.com/5075840/134461545-81757135-d6be-4d0a-8146-be9d0c27ae99.png">

[2021-09-23 06:11] #48524 closed, assigned to nobody

[2021-09-23 06:15] Greatdane commented on #48521
Similar to https://github.com/Automattic/wp-calypso/issues/48524, I am unable to replicate this.

Can make the video full width in Alves theme;

![Markup on 2021-09-23 at 15:14:36](https://user-images.githubusercontent.com/5075840/134461847-4242326f-eb0c-4069-9464-053afef41aab.png)

Closing

[2021-09-23 06:15] #48521 closed, assigned to nobody

[2021-09-23 06:21] simison commented on #48536
Yes, we will need this for https://github.com/WordPress/gutenberg/pull/34680

I gave Team Calypso heads up earlier this week. Cc @fullofcaffeine

[2021-09-23 06:25] inaikem commented on #48684
Unable to replicate on my test sites and it appears the related JP issue has been resolved, too: https://github.com/Automattic/jetpack/issues/18211.

Closing for the moment. Please reopen if the issue appears again or you are able to replicate it!

[2021-09-23 06:25] #48684 closed, assigned to nobody

[2021-09-23 06:28] Greatdane commented on #49077
I am unable to replicate this any longer on Simple or AT sites, closing for now.

[2021-09-23 06:28] #49077 closed, assigned to nobody

[2021-09-23 06:30] inaikem commented on #37050
Closing per @rcanepa's Jan 4th comment above

[2021-09-23 06:30] #37050 closed

[2021-09-23 06:35] inaikem commented on #48536
Thank you!

[2021-09-23 06:44] KokkieH commented on #48536
@inaikem

We've never blocked the use of inline styles on free sites, and it works for, e.g. `<span></span>` tags.

[2021-09-23 07:10] Sheikhlipu123 commented on #16743
same problem https://www.awesomescreenshot.com/image/13890270?key=d63946fe4457eb2674291b4b0259dbf5

[2021-09-23 07:27] Robertght commented on #47112
@ciampo Is this still relevant? If not I noticed more tasks are stale as well:

https://github.com/Automattic/wp-calypso/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-asc+label%3A%22Focused+Launch%22+label%3A%22%5BStatus%5D+Stale%22

[2021-09-23 07:37] ciampo commented on #47112
I don't think so, but I think @razvanpapadopol may be able to give a more informed answer

[2021-09-23 07:47] Robertght commented on #48766
I can't replicate this anymore. I'm assuming this was fixed here: https://github.com/Automattic/themes/issues/3202

[2021-09-23 07:47] #48766 closed, assigned to nobody

[2021-09-23 07:53] Robertght commented on #48909
This is something that can be added through the Gutenberg core. Closing in favor of this one: https://github.com/WordPress/gutenberg/issues/15821

[2021-09-23 07:53] #48909 closed, assigned to nobody

[2021-09-23 07:58] Robertght commented on #48731
I can still see this. Tested below(ignore the creativity)

![image](https://user-images.githubusercontent.com/6737345/134472692-c8efadce-eebe-4275-952e-8d8d3028ea96.png)

Flagging this for Flow Patrol Spacelab

[2021-09-23 08:08] jsnajdr commented on #56468
To send authenticated REST requests to `public-api.wordpress.com`, the `gutenberg-wpcom-apifetch` module uses the WordPress.com REST proxy. That's an iframe loaded from `public-api.wordpress.com`, it's same-origin with the actual REST endpoints URL, and can add the headers and cookies that are needed to authenticate the REST requests -- an `Authorization: X-WPCOOKIE` header and a `wp_api_sec` cook

[2021-09-23 08:10] Robertght commented on #48911
I found the opposite report here: https://github.com/Automattic/jetpack/issues/10651

I'm not able to find another similar case though. @jeherve is this more Jetpack-related than WordPress.com?

[2021-09-23 08:17] cpapazoglou commented on #56149
After some chats with Barry, we decided that if we are creating a WOO infrastructure it would be better collaborating with the Woonification team so that we don't introduce any bugs and site maintenance is well thought. I will be reaching to @jcsanyi  as it seems that Woonification efforts are paused (pLZE4-isR-p2)

[2021-09-23 08:26] Robertght commented on #56486
I was able to see this issue on their website, but I think it's a glitch as there are no visibility rules on the widgets, and that I can see the duplicates in the wp-admin/widgets.php

I'm asking the user to try and remove them for now and see if that helps.

I'm marking this as solved but please open it again if more cases arise.

[2021-09-23 08:26] #56486 closed, assigned to nobody

[2021-09-23 08:36] saygunnyc commented on #56466
Sharing below the dark mode styles along with 3 examples from existing templates. And, here is a link to the Figma file. crtNho9opJSnM80QsE275F-fi-894%3A1674 Let me know if these are helpful.

**Styles**

![DarkMode_Styles](https://user-images.githubusercontent.com/78876323/134476995-ef2083a4-0260-4c36-81f0-12c9be3ea17d.png)

**Jetpack powered New Comment**

<img width="1352" alt="d-Jetpack - NewC

[2021-09-23 09:00] jeherve commented on #48911
Yes, that would be Jetpack-related, although I am not able to reproduce this issue at the moment.

I'll transfer this to the Jetpack repository.

[2021-09-23 09:47] tellisbethel commented on #54990
Preview colour is right but colour in editor when using the palette (not the picker) is wrong: 30511716-hc
Simple site.

[2021-09-23 09:50] hideandgeek404 commented on #56012
Reopening as have found another site that is reporting the same issue.

Reported on 4308406-zd-woothemes

The customer reports that the TikTok block shows the contents of the post but not the video itself.

Various errors in the console on both the blogroll and the single page.

Single page console error suggests an inability to read sessionStorage from Window directly related to TikTok links

[2021-09-23 10:01] inaikem commented on #56012
Based on "_Single page console error suggests an inability to read sessionStorage from Window directly related to TikTok links_", I'm wondering if

Perhaps this user has actively blocked third-party cookies / site data? The preview (post content and video) loads as expected on a test site. Screenshot:

&nbsp;
<img width="702" alt="Markup 2021-09-23 at 17 58 12" src="https://user-images.githubuserc

[2021-09-23 10:30] jordesign commented on #51899
Hey @arthur791004 - I'd love to have that happen as a fallback - but I don't imagine it is vital. If we've got higher priority things - then I think updating the wording would be sufficient.

[2021-09-23 10:37] dsas commented on #56460
Weirdly I just tried this again and it is now displaying a preview, I'm not sure what was happening yesterday for it to fail...

[2021-09-23 10:42] cpapazoglou opened #56491 "Remove `/marketplace` redirect"
Visiting `https://wordpress.com/marketplace` will redirect you to a landing page `https://wordpress.com/create/?utm_source=apm&utm_campaign=marketplace`.

We need to remove that redirect first in `marketing-redirects.php`, @emmnyc85 can you confirm if we can remove that redirect?

Then we would need a Systems Request like pMz3w-dQd-p2 so that all `/marketplace/*` routes redirect to Calypso.

[2021-09-23 10:50] #55808 closed, assigned to nobody

[2021-09-23 10:51] gavande1 opened #56493 "Marketplace: Allowing adding new subscription of marketplace products from Store Admin"
### What
Allowing adding new subscription of marketplace products from Store Admin

### Why
So the marketplace products subscriptions can be added to atomic sites from Store Admin.

[2021-09-23 10:53] gavande1 commented on #56493
The diff created at D67291-code

[2021-09-23 11:05] chad1008 opened #56494 "Gutenberg: v11.6.x plugin upgrade"
Previous upgrade:  #56098
Release notes: [v11.6.0](https://github.com/WordPress/gutenberg/releases/tag/v11.6.0)

- [x] Install and activate
   - [x] Copy & install v11.6.0-rc.1 (D67298-code, D67318-code)
   - [x] Activate v11.6.0-rc.1 on edge (D67324-code)
   - [x] Copy & install v11.6.0 (D67584-code, D67585-code)
   - [x] Activate v11.6.0 on edge (D67588-code)
   - [x] Activate v11.6.0 on product

[2021-09-23 11:09] #56098 closed, assigned to nobody

[2021-09-23 11:18] philnick206 opened #56495 "Block patterns: Link in Bio preview keeps expanding, breaks view, scrolls endlessly"
### Quick summary

When browsing block patterns under the "link in bio" section, the preview for one of the patterns expands and breaks the view, causing you to need to scroll endlessly,

### Steps to reproduce

1. Open block patterns tab to insert a pattern
2. Choose "Link in Bio" category
3. Scroll down list

### What you expected to happen

Each pattern should show in a thumbnail

### What actu

[2021-09-23 11:24] Robertght commented on #56495
Thank you for reporting this @philnick206 ! I'm closing it in favor of this one:

https://github.com/Automattic/wp-calypso/issues/56077

Core Gutenberg issue here: https://github.com/Automattic/wp-calypso/issues/56077

[2021-09-23 11:24] #56495 closed, assigned to nobody

[2021-09-23 11:29] dsas opened #56496 "API changes for whether to inhibit plan changes"
In #55381 we check to see if `subscription_deactivation_locked` is a blog sticker to decide whether to lock the UI from changing a subscription (e.g. cancelling it). It gets the blog sticker from the rest endpoint implemented by `WPCOM_JSON_API_Get_Blog_Stickers`. This endpoint is only available to a12s.

The solution is to add a new public endpoint that checks whether the blog sticker is present.

[2021-09-23 11:31] simison opened #56497 "wp.editor.RichTextToolbarButton is deprecated warning"
Open block editor, note warnings in console:

Coming from:

https://github.com/Automattic/wp-calypso/blob/fb55dd173718474002a6204905974f2d9a669314/apps/wpcom-block-editor/src/default/features/rich-text.js#L5

Just need to get updated before it some day breaks.

[2021-09-23 11:36] dsas opened #56498 "Calypso changes to see whether to inhibit plan changes"
### Details

In #55381 we check to see if subscription_deactivation_locked is a blog sticker to decide whether to lock the UI from changing a subscription (e.g. cancelling it). This endpoint is only available to a12s.

In #56496 a new bespoke endpoint will be added to use instead.

### Checklist

_No response_

### Related

_No response_

[2021-09-23 11:46] philnick206 opened #56499 "Block patterns: Block patterns in .org directory are missing from .com"
### Quick summary

I tried searching for some block patterns that are available in the WordPress.org directory (https://wordpress.org/patterns/) in the block inserter on a .com site and am not able to find them.

### Steps to reproduce

1. Search for a block pattern like the following: https://wordpress.org/patterns/pattern/image-with-angled-overlay-and-text/ - using the text "Image with angled ov

[2021-09-23 11:53] arcangelini commented on #55187
### Explanation
We use the [Facebook plugin](https://developers.facebook.com/docs/plugins/embedded-posts/) to embed posts, pages, and videos. This involves creating a `div` element with the criteria ie. URL, attributes, and styling then running the Facebook plugin that replaces it with an `iframe` within a `span`.

### The dilemma
When someone adds the URL of what they want to embed we examine the

[2021-09-23 11:53] #55187 closed, assigned to arcangelini

[2021-09-23 12:18] carinapilar opened #56501 "Query Loop: Include a Query Pagination option on the block variations panel"
### What

Add the _Query Pagination_ block when selecting a variation.

### Why

When you add the _Query Loop_ block and select a variation:

![QueryLoopBlock](https://user-images.githubusercontent.com/16104522/134504729-41285ba6-6511-487a-9c5f-ba4398eed9d3.png)

You would expect that those would include pagination, but they don't. It's confusing because you can see pagination settings on the bloc

[2021-09-23 12:24] Gustavo-Hilario opened #56503 "Billing History: add option to download receipts in PDF"
### What

Add a "Download PDF" link in the billing history page.

### Why

When users are on the billing page they see two options: **view** or **email** their receipts. If they choose to view the receipt, they will be able to print it as a PDF, but for some users, it's hard to follow this path and some page headers may not be easily removed. If they prefer to email the receipt, they can print the

[2021-09-23 12:36] carinapilar opened #56504 "Query Loop: Pagination on Empty Query"
### Quick summary

The _Query Pagination_ is still shown even when there are no results on the _Query Loop_ block.

### Steps to reproduce

1. Create a new page
2. Add the _Query Loop_ block
3. Add a filter that would result in _No results found._
4. Add the _Query Pagination_ block

### What you expected to happen

To not show any pagination on the live page, since there are no results on the que

[2021-09-23 12:36] philnick206 opened #56505 "Block patterns: Tiled mosaic gallery pattern shaking in preview window"
### Quick summary

Observed the Tiled Mosaic Gallery block pattern "shaking" when viewed in the preview window.

### Steps to reproduce

1. Browse Featured block patterns and scroll down until you get to this pattern

### What you expected to happen

The pattern preview would display properly

### What actually happened

The patter preview shakes, like so:

![Screen Capture on 2021-09-23 at 13-32-

[2021-09-23 12:40] yansern commented on #55187
@arcangelini Well explained!

[2021-09-23 13:01] hideandgeek404 commented on #56012
Thanks for the response.

I can certainly see if this is the case, however, it is worth noting that this is reproducible on my own computer if I try to load the single page in Incognito, but if I load it normally it works fine for me.

This could be conducive with the above, could you see if you can reproduce in Incognito?

[2021-09-23 13:08] vindl commented on #56290
@Addison-Stavlo has done some research on this front, and we concluded that the Experimentation platform is not suitable for our needs here. It's intentionally limiting these kinds of use cases both on the process and technical level.

[2021-09-23 13:08] #56290 closed, assigned to Addison-Stavlo

[2021-09-23 13:09] vindl commented on #56289
Let's save this task for developer onboarding.

[2021-09-23 13:10] danmaze commented on #56046
Okay, so this is currently a known issue being caused by the recent change to using HLS streaming. If a user wants to use a direct link to a video, preferably they should use the `master.m3u8` extension: https://videos.files.wordpress.com/XbsACnRO/screen-capture-on-2021-09-06-at-15-35-26_mp4_hd.master.m3u8. This way the browser/video player will pick up the audio file to play as well.

If they use

[2021-09-23 13:17] vindl opened #56506 "FSE beta: show the opt-in only to a certain fraction of users"
To avoid having too many users opting into FSE beta, we want to limit the number of users that will see the opt-in step. This feature is still in its early stages, and we want to avoid overloading support queues.

In https://github.com/Automattic/wp-calypso/issues/56290, we concluded that the Experimentation platform is not a good fit for this use case. Our fallback option is to determine eligibil

[2021-09-23 13:33] DanAntion commented on #51787
If you check the comment, you'll see that this person has been dropped from
my followers list again. She has re-followed my blog about a dozen times
(that's not an exaggeration). Some people are just leaving my blog behind
as a result of continually being dropped. This problem is much worse than
you think.

https://nofacilities.com/2021/09/22/sea-trials-1liner-weds/#comment-228252

Dan
------
Dani

[2021-09-23 14:20] Nic-Sevic opened #56507 "Customizer: Widgets creating empty "block settings" sections"
### Quick summary

There are broken block settings sections in the customizer that are tied to unknown widgets

### Steps to reproduce

1. Open the customizer on a site with a theme with widget areas
2. add a few widgets
3. See that some (unclear which) create a block settings area
4. open a section and you can see where the widget supposedly is but not which widget or any options for settings

##

[2021-09-23 14:27] rossanafmenezes opened #56508 "Notification Icon disappears when active"
### Quick summary

This is very specific, but you click on the notification bell under any of the WooCommerce tabs it disappears (the bell icon). On the other tabs, it works as expected.

### Steps to reproduce

1 - access the dashboard of a site that has WooCommerce installed and the store is all set
2 - Click on the Notification Icon (the bell) at the top right corner of the page
3 - see the not

[2021-09-23 14:35] #55239 closed, assigned to mmtr

[2021-09-23 14:35] #55240 closed, assigned to mmtr

[2021-09-23 14:43] mreishus opened #56509 "widgets.php: Creating new block widgets doesn't work"
### Steps to reproduce the behavior

*    Visit /wp-admin/widgets.php
*    See the current state of my site (1 block)
*    Add new paragraph block and press update
*    Observe that 2 blocks are POSTed, but in the response to the post, the rendered value of the new block is ''
*    F5 and only see the original block (expect to see: the new block added as well)

Video by @dsas:

https://user-images

[2021-09-23 14:57] razvanpapadopol commented on #48928
The issue is still valid but not directly related to `/new` signup flow since it's only inside the editor.

[2021-09-23 15:01] bazza commented on #55283
This is the expected behavior since not all views can be geolocated.  There are a few reasons for this, but a couple of them are

(a) the IP address is listed as an anonymous proxy in the geo IP database. This could happen if a site is visited using Tor, for example.

(b) the IP address just isn't in the geo ip database at all for whatever reason.

If it would help prevent confusion we could add s

[2021-09-23 15:07] eurello opened #56510 "Greater-than sign appears if replying to a comment by email"
### Quick summary

When you reply to a comment by email, a greater-than symbol is posted after your comment:

<img width="661" alt="Screen Shot 2021-09-23 at 10 08 56 AM" src="https://user-images.githubusercontent.com/8698879/134533713-a77676c4-2531-4e58-9bb6-553aeb2fed95.png">

### Steps to reproduce

1. Post a comment on your blog.
2. Open the email notification of the comment.
3. Click reply in

[2021-09-23 15:18] mreishus commented on #55807
Great, it is now fixed :)

[2021-09-23 15:18] #55807 closed, assigned to mreishus

[2021-09-23 15:48] kwight commented on #51787
Hi @DanAntion , thanks for pointing this one out again. You're right, they've been unsubscribed more like three dozen times – and sometimes unsubscribed after a previous unsubscribe (so, without having even resubscribed). We'll reach out to them via email to see if we can collect any specific actions they're taking that might get us on the right track.

[2021-09-23 15:50] ccwalburn commented on #55388
Another request here: 4321116-zen

They need the WP Admin screen because these two plugins have options that are not accessible from the Customizer:

Menu Icons By ThemeIsle
User Menus By Code Atlantic

[2021-09-23 16:24] ash1eygrace commented on #55388
Another third-party theme where the customizer won't work: 31837606-hc

Provided them the direct link as a workaround.

[2021-09-23 16:29] jcsanyi commented on #56149
Thanks for reaching out, @cpapazoglou.

Just to be clear for anybody else that might run across this, Woonification itself is not paused - it's [still a current and primary focus](https://thursdayupdates.wordpress.com/2021/09/23/a8c-payments-update-september-22-2021/) of the A8C Payments team.

However - we did pause our project for adding additional support for running woocommerce on simple sites

[2021-09-23 17:05] jonny-a8c commented on #51095
User is 4321551-zen asking about share stats no longer being available. They just went AT today.

[2021-09-23 17:16] mreishus commented on #56308
We have deployed a slight movement to the tab so it will not overlap the X.

[2021-09-23 17:16] #56308 closed, assigned to nobody

[2021-09-23 17:42] Addison-Stavlo opened #56512 "Site Editor Loading Error - cannot destructure 'id' of null"
FSE sites are encountering the following error on load of a page using a default template, resulting in a blank/gray editor.

![image](https://user-images.githubusercontent.com/28742426/134556150-4f0f20ef-4488-40fc-9418-6f656ebf72fc.png)

![image](https://user-images.githubusercontent.com/28742426/134556165-d6155f5e-a837-4640-9857-3920cb6c28f1.png)

### Initial investegation:

Looking at the error

[2021-09-23 17:42] worldomonation opened #56513 "QS: Build awareness of testing documentation"
### Details

Currently, our documentation at the top level (wp-calypso) don't really mention anything about testing or documentation.

Add links to our e2e testing documentation to build awareness.

Example pages:
- https://github.com/Automattic/wp-calypso/blob/trunk/README.md
- https://github.com/Automattic/wp-calypso/blob/trunk/docs/CONTRIBUTING.md
- https://github.com/Automattic/wp-calypso/blob

[2021-09-23 18:04] Addison-Stavlo commented on #56512
unsure if this PR may be related - https://github.com/WordPress/gutenberg/pull/34579 - as it looks like the failing `.json()` call was added as part of 11.5

[2021-09-23 18:23] davoraltman opened #56515 "Add an option to chat with website visitors"
It would be great to have chat functionality added to the dashboard so that the site owners can chat with site visitors. Similar to what plugins like [Chaty](https://premio.io/downloads/chaty/) offer.

Came up in 31830251-hc

[2021-09-23 18:37] #56372 closed, assigned to noahtallen

[2021-09-23 18:39] Addison-Stavlo commented on #56512
r232186-wpcom seems to be the culprit, reverting this fixes the issue.

[2021-09-23 19:16] jonny-a8c commented on #55388
4321810-zen

[2021-09-23 19:53] worldomonation commented on #53567
Closing for now. Can reopen if needed.

[2021-09-23 19:53] #53567 closed, assigned to nobody

[2021-09-23 19:54] worldomonation commented on #54568
I think this is done now as of #55802.

[2021-09-23 19:54] #54568 closed, assigned to nobody

[2021-09-23 20:13] kwight commented on #51787
A follower of nofacilities.com replied: "I have refollowed through all three - Reader, sidebar, and bottom right, and I go to the settings and click email, instantly." (they also noted it was never through the WP mobile app). @andres-blanco This seems to toss out our theory of blaming just the blue Follow widget button. 🤔

[2021-09-23 20:49] kwight opened #56522 "Notifications: Social icons do not render properly."
Social Icons blocks in a post notification will render full-width, without their logo (although they are clickable).

<img width="785" alt="Screen Shot 2021-09-23 at 1 46 53 PM" src="https://user-images.githubusercontent.com/349751/134581864-df6b1e1d-a4a0-4485-8191-480ac413b0c1.png">

[2021-09-23 20:57] worldomonation commented on #55727
At this moment, we have pre-release tests running in TeamCity under the Calypso > Webapp > Pre-release tests.

What needs to happen now is the plumbing in the backend of the deploy page needs to be hooked up to look at TeamCity instead.

[2021-09-23 20:57] #56126 closed, assigned to alshakero

[2021-09-23 20:58] worldomonation commented on #54854
Issue bypassed by disabling the steps that cause issues.

It may be possible to have a conditional skip in that if the test is run inside a Pre-Release environment, it executes the currently skipped steps.

[2021-09-23 20:58] worldomonation commented on #54932
Addressed.

[2021-09-23 20:58] #54932 closed, assigned to nobody

[2021-09-23 21:00] worldomonation commented on #55072
These steps are likely no longer relevant, or if they are still relevant, not a high priority at all.

[2021-09-23 21:00] #55072 closed, assigned to nobody

[2021-09-23 21:01] worldomonation commented on #55600
Related to #55727 where work to implement Pre-Release tests as a successor to the canary suite is underway.

[2021-09-23 21:01] #55600 closed, assigned to nobody

[2021-09-23 21:01] worldomonation commented on #55177
PR in progress at #56298.

[2021-09-23 21:04] worldomonation commented on #55661
This has been largely implemented and we are now in the test migration phase.

[2021-09-23 21:04] #55661 closed, assigned to nobody

[2021-09-23 21:04] worldomonation commented on #55695
I still think there is value to this.

[2021-09-23 21:07] worldomonation commented on #55716
I'd imagine this would be run as part of the `calypso-release` suite. There's just too many moving parts to this that would cause concurrency issues otherwise IMO.

[2021-09-23 21:08] worldomonation commented on #55868
I think we can set this to happen tentatively in the next sprint.

[2021-09-23 21:09] worldomonation commented on #56211
Addressed in #56241.

[2021-09-23 21:09] #56211 closed, assigned to worldomonation

[2021-09-23 21:10] worldomonation commented on #56227
Addressed in #56241.

[2021-09-23 21:10] #56227 closed, assigned to worldomonation

[2021-09-23 21:10] ccwalburn commented on #49497
Similar request to allow Payments block to not require WordPress.com account for one-time payments.
4321888-zen

[2021-09-23 21:11] worldomonation commented on #56400
Proposed solution in the works at #56482.

[2021-09-23 21:12] worldomonation commented on #56254
Fixed by #56414.

[2021-09-23 21:12] #56254 closed, assigned to nobody

[2021-09-23 21:13] worldomonation commented on #56449
Rated high priority since the logs are being thrown into multiple directories at the moment, due to #56409.

[2021-09-23 21:14] worldomonation commented on #56471
Related to #56449.

[2021-09-23 21:22] eduardozulian commented on #56466
Not sure if completely related but I recently got a like on a blog post (Atomic site) when in dark mode. It seems that our mobile icons are not ready for the color change:

<img width="504" alt="Captura de Tela 2021-09-23 às 18 21 38" src="https://user-images.githubusercontent.com/1136160/134586044-0c254f47-f71e-4471-b1aa-0002570763ec.png">

[2021-09-23 21:41] blackjackkent commented on #55171
I've got some notes built up regarding tracks events across four different areas (action bar, emails, reader, and subscribe.wordpress.com) - also chatted with @andres-blanco about email stuff to make sure I was on top of things there. I'll get a P2 post up on Monday with a summary.

[2021-09-23 22:34] jeyip commented on #56455
As Addie mentioned earlier, we've pinned legacy FSE to Gutenberg v11.4 for now. We have [a patch in Gutenberg](https://github.com/WordPress/gutenberg/pull/35076), but it hasn't been introduced to dotcom sites yet. **Legacy FSE, however, should still be working.** The bug was attributed to compatibility problems with Gutenberg v11.5, and pinning to v11.4 avoids compatibility issues entirely.

We're

[2021-09-23 22:34] #56455 closed, assigned to nobody

[2021-09-23 22:52] jeyip opened #56524 "Legacy FSE: Duplicate template parts on initial load"
### Steps to reproduce the behavior

1. Create a legacy FSE enabled site
2. Pin the site to the latest Gutenberg version
3. Note that header and footer legacy FSE template parts are duplicated at the bottom of the view. To clarify, these duplicates were _not_ inserted by the user.

### Context

#### Is this specific to the applied theme? Which one?
Mayland

#### Screenshot / Video: If applicable,

[2021-09-23 23:12] marianearchimbaud commented on #52556
Similar report here:
4322182-zd
31842086-hc
different number on stats view and insights view:
https://d.pr/i/sUJO4Z
https://d.pr/i/jCU8NH

[2021-09-23 23:57] jsnmoon commented on #56022
@mrfoxtalbot: I can no longer reproduce this issue; I suspect it was fixed via D66047-code that was shipped on September 2nd.

Can you confirm?

[2021-09-24 00:12] katiebethbrown commented on #55685
I did some conflict testing for this case - https://github.com/Automattic/wp-calypso/issues/55685#issuecomment-924393757

It only seems to occur when all of these plugins are active:
-  Gutenberg
- WPcom Toolkit
- Ultimate Addons for Gutenberg
- PublishPress Blocks

Deactivating any one of the those allows the editor to load.

The same combination of plugins on my test site does not repro the erro

[2021-09-24 00:55] openfist commented on #56046
#4322479-zen

Hi, I tried the format on https://videos.files.wordpress.com/0FZxeeom/4-5_mp4_hd.mp4 to https://videos.files.wordpress.com/0FZxeeom/4-5_mp4_hd.master.m3u8 and it doesn't do anything. Is there something else that needs to be done?

[2021-09-24 02:01] donalirl opened #56526 "Widget-Visibility: Out of Memory leads to 500 Error on Several Simple Sites"
### Quick summary

Several simple sites are producing a 500 error and not loading. All sites are using a classic theme, and they load if they are switched to a newer theme.

### See Also

*  #56546

### Steps to reproduce

Unable to reproduce so far, but we have received at least 4 reports of this.

#29555158-hc (Lovecraft)
#30342258-hc (Toujours)
#4322338-zen (Colinear)
#4314833-zen (Baskerville

[2021-09-24 02:06] p-jackson commented on #56306
Shipped in #56481

[2021-09-24 02:06] #56306 closed, assigned to nobody

[2021-09-24 02:25] Greatdane commented on #56526
Another; 4322496-zd-woothemes

[2021-09-24 02:41] erricgunawan commented on #56526
Ticket: 4322096-zen
Plan: Personal
Theme: Hemingway Rewritten

Switching to another theme then back didn't work (still error).

[2021-09-24 03:37] donalirl commented on #56091
Potentially relevant solution: https://github.com/WordPress/gutenberg/pull/11330

[2021-09-24 03:54] devNigel commented on #56526
Another report: 31845088-hc

Site was using the theme Blask, tried switching to couple of other themes, did not work.

Follow up: 4322711-zen

[2021-09-24 04:56] flameslash commented on #55796
I've closed this ticket 4307738-zd-woothemes for now as there is no update.  Please open a new ticket for the user if ever this gets fixed and let them know of the update.

Thank you!

[2021-09-24 05:01] sanjeev00733 commented on #56046
Another issue reported in 31824486-hc

[2021-09-24 05:03] adelineyaw commented on #56526
Another report: 4321943-zen
Plan: Premium
Theme: Arcane

Switching to a block based theme (worked) but switching back to Arcane didn't work

[2021-09-24 05:42] flameslash commented on #56046
User reported this as well here in 4322061-zd-woothemes. They have an AT site and the first video in the page doesn't play with audio once previewed.

[2021-09-24 05:58] devNigel commented on #56526
User report: 31766471-hc
Plan: Premium
Theme: Lovecraft

Changing the theme and switching back did not work.

Helped them switch to a similar theme they selected - Twenty Eleven to avoid loss of business.

Follow-up: 4322832-zen

[2021-09-24 06:13] jeherve commented on #56526
I've reverted a change we had made a few hours ago to try to solve this.

Internal references:
- r232237.wpcom
- p1632459711126000-slack-CBTN58FTJ
- p7DVsv-cIY-p2#comment-37757

Potentially related to https://github.com/Automattic/jetpack/pull/20731

cc @mreishus

[2021-09-24 06:27] donalirl commented on #56526
@jeherve all the sites reported above are working now. Although about half of them switched themes, the ones that didn't are loading normally.

[2021-09-24 07:25] dsas commented on #56460
Duplicate of #56468

[2021-09-24 07:25] #56460 closed, assigned to nobody

[2021-09-24 07:28] #56022 closed, assigned to nobody

[2021-09-24 09:02] aleone89 commented on #50750
Another request to add this to the menu reported here: https://wordpress.com/forums/topic/reusable-blocks-6/

[2021-09-24 09:11] cpapazoglou commented on #56491
Got confirmation in Slack p1632408710274300-slack-C029JEQRVRT that we can remove the redirect.

[2021-09-24 09:40] cpapazoglou commented on #56491
Related patch D67355-code

[2021-09-24 09:44] cpapazoglou commented on #56491
Request posted pMz3w-dRo-p2

[2021-09-24 09:50] cpapazoglou commented on #56491
Deployed r232243-wpcom

[2021-09-24 09:50] #56491 closed, assigned to cpapazoglou

[2021-09-24 10:07] Robertght commented on #56505
Thank you for reporting this @philnick206 !

Unfortunately, I can't replicate this on Chrome or Firefox:

https://d.pr/v/NQc9P3

Could you share a bit more details about the environment, please?

[2021-09-24 10:11] Robertght commented on #56507
Thank you @Nic-Sevic & @mrfoxtalbot ! This is already being looked into here: https://github.com/WordPress/gutenberg/pull/35055

[2021-09-24 10:11] saygunnyc commented on #56466
@eduardozulian would you mind sharing the full template? Not sure which one this is as I don't remember seeing any email that promotes WordPress Apps with an image in my discovery. – crtNho9opJSnM80QsE275F-fi-3%3A55

And, I wonder if it's technically possible to replace images once the user switches to dark mode?

[2021-09-24 10:29] Robertght commented on #56012
I can confirm the incognito page doesn't load the TikTok embed. Instead, I see this:

![image](https://user-images.githubusercontent.com/6737345/134660076-8dee165f-26e1-4c9d-93e2-6cf2cbbb5bcf.png)

The same happens on my test website.

[2021-09-24 10:51] gavande1 commented on #56493
Deployed r232242-wpcom

[2021-09-24 10:51] #56493 closed, assigned to gavande1

[2021-09-24 10:56] Robertght commented on #48959
I can't replicate this anymore @carinapilar

Are there are other details that you could share with us so we can take a closer look?

I can see in the other issue, https://github.com/Automattic/wp-calypso/issues/48573 the background color is coming from the dashboard color scheme, but I'm not able to replicate it.

[2021-09-24 10:59] Robertght commented on #56295
I might've misunderstood this one, for now, however, I'm wondering if this will be a supported browser.

[2021-09-24 11:02] Addison-Stavlo commented on #56512
Closing since the above commit was reverted and things are working as expected.

[2021-09-24 11:02] #56512 closed, assigned to nobody

[2021-09-24 11:32] Addison-Stavlo opened #56538 "FSE / Global Styles - empty block settings menus."
The Global Styles panel (as seen in the Site Editor) has recently (v11.6.1) been updated in Gutenberg to use a new UI.
In doing so, all registered blocks are shown in the blocks list regardless of whether or not they support global styles options.  This creates a lot of confusion, especially when we have other blocks of the same titles registered.  For example if we open the global styles panel ->

[2021-09-24 11:41] Addison-Stavlo opened #56539 "Site Editor Tracking - update global styles panel tracking events."
As a new interface for Global Styles has recently been released as part of Gutenberg `v11.6.1`, the tracks events for global styles tab selections ([originally added here](https://github.com/Automattic/wp-calypso/pull/53456)) need to be updated accordingly.

![image](https://user-images.githubusercontent.com/28742426/134668291-e3ba04e1-69a0-435b-ad03-015d35f1ac66.png)

Previously we had the `wpcom

[2021-09-24 11:46] carinapilar commented on #48959
@Robertght, the icon is still only black, the issue is less impactful now because the background isn't also black as it was, it depends on the interface color palette, which I believe will never be all black.

You can see on the GIF below, that when you select the Paragraph block, its icon turns white, while this doesn't happen with the Premium Content one:

![WhiteIcon](https://user-images.github

[2021-09-24 11:47] Addison-Stavlo opened #56540 "Site Editor e2e tracks tests - Update Global Styles tracking tests."
Since the Global Styles interface has been updated as part of `v11.6.1`, the e2e tests for global styles update/save events will need to be updated accordingly.

Updating the block level tests is blocked as the block level settings are currently missing on dotcom - https://github.com/Automattic/wp-calypso/issues/56538 .  However, the tests for root level Global Styles should be ok to update in the

[2021-09-24 12:33] yansern commented on #55385
Update: Phab patch is now ready. D66879-code

![image](https://user-images.githubusercontent.com/1287077/134674782-58af0e87-94ec-419b-b76b-523487b39d34.png)

[2021-09-24 12:37] zdenys commented on #55388
5346744-hc

[2021-09-24 12:44] mmtr commented on #56496
I wonder why is that and whether we could remove that limitation to expose the endpoint publicly. I'll publish a P2 post to gather some feedback.

[2021-09-24 12:58] poligilad-auto commented on #56133
Thanks @donalirl. Will be looking into this soon, we want to migrate all of the domain message from the left nav bar to another location.

[2021-09-24 12:59] Gustavo-Hilario commented on #55388
30856017-hc

[2021-09-24 13:03] gmovr commented on #55388
Also relevant for users using Polylang and WPML (to localize menus).

[2021-09-24 13:06] Robertght commented on #48959
Ah that makes sense now! Thank you!  cc @Automattic/flow-patrol-create to have a second look

[2021-09-24 13:43] mmtr commented on #56496
Internal discussion: p3hLNG-18B-p2

[2021-09-24 13:48] eduardozulian opened #56542 "Navigation: Stats Sparkline does not appear on WP Admin pages for Atomic sites"
### Steps to reproduce the behavior

1. Go to a page that's served via WP Admin. For example, the Feedback/Form Responses at `wp-admin/edit.php?post_type=feedback`
2. Check the missing sparkline right next to stats

#### What I expected to happen

To see the sparkline on all screens

#### What actually happened

Sparkline disappears from wp-admin/ pages.

### Context

#dogfooding

#### Does this h

[2021-09-24 14:01] openfist opened #56543 "Twenty Thirteen Theme - Using Sidebar Compresses Author/Date in Blog Posts Block"
### Quick summary

- customer author and post date compresses when sidebar is activated
![Markup 2021-09-22 at 10 21 11](https://user-images.githubusercontent.com/11617249/134686116-f6addba1-4293-49bf-b9be-5fec182574ea.png)
- customer is using 2013 theme

### Steps to reproduce

- able to replicate issue on dummy site
- removing sidebar fixes issue
- does not replicate when using other themes

###

[2021-09-24 14:06] eduardozulian commented on #56466
Sure, @saygunnyc. There you go:

<img src="https://user-images.githubusercontent.com/1136160/134686785-9660cef0-6d61-4e48-a039-109813ca0610.png" width="400"/>

My phone screen is not that big so right after this part, it comes the footer I shared in my previous message.

Also, as you can see, the avatar is also a bit large. That doesn't happen on simple sites as far as I remember.

I believe that

[2021-09-24 14:19] Addison-Stavlo commented on #56540
first skipping the corresponding tests here - https://github.com/Automattic/wp-calypso/pull/56544 - so the rest of the specs can run and be tested in the meantime.

[2021-09-24 14:24] dsas commented on #56421
D67371-code

[2021-09-24 14:27] StefanNieuwenhuis opened #56545 "Editor Welcome Tour: Visual updates"
### Details

The Editor Welcome Tour needs to be consistent with generic design principles as used elsewhere in the WordPress ecosystem, hence we have to update the Tour's design. Some initial explorations are already on their way (see resources) but we need a final design not only for the Welcome Tour but for the Step-By-Step Guidance component as well (since this is based on the first).

### Res

[2021-09-24 14:32] Christopher-Stevers commented on #56386
https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/sharedaddy/sharing-service.php#L700
Thanks! I'm setting up the dev environment for jetpack, then I'll get to work on it.

[2021-09-24 14:38] mreishus opened #56546 "Widget-Visibility: null->render() leads to 500 error on Simple Sites"
## Summary

After Automattic/jetpack#20731 is deployed, some sites crash `Call to a member function render() on null in /home/wpcom/public_html/wp-includes/class-wp-block.php:211`

## See Also

*  #56526

### More Info

Stack trace:
[code]

[2021-09-24 14:41] kelliepeterson commented on #55921
@donalirl I like the idea here to improve the language, though strictly speaking only the DNS settings would be managed here, the domain name servers, contacts, etc. are still managed elsewhere.

We opted not to remain generic here and not include the specific registrar here for a couple reasons:

1. Millions of domains are registered via resellers of wholesale registrars like WWD, OpenSRS, Key-Sy

[2021-09-24 14:44] mreishus commented on #56526
It's definitely caused by https://github.com/Automattic/jetpack/pull/20731, and we are seeing two failure states: Out of Memory and render->null(). I've turned this issue into Out Of Memory, and created #56546 for render->null().

First impressions of the Out of Memory error is that some of the errors occur on pages like sitemap.xml and ads.txt, which is not expected if the error is related to tra

[2021-09-24 15:05] razvanpapadopol commented on #47112
@Robertght, some of the tasks may be still relevant but the whole project is on pause for now. I've added the "Hold" label and this explanatory card on the project board: https://github.com/Automattic/wp-calypso/projects/103#card-51274315

[2021-09-24 15:06] alshakero commented on #56126
Fix is now live!

[2021-09-24 15:20] DavidRothstein commented on #56242
This already exists -- here's what I see:

![Screenshot from 2021-09-24 11-11-33](https://user-images.githubusercontent.com/235183/134699704-11199a88-ba54-46cc-afe8-396277b49a37.png)

Are there steps to reproduce that cause that not to appear?  I tried it a couple of times and so far it always showed for me.

[2021-09-24 15:22] razvanpapadopol commented on #55610
Hey, @poligilad-auto, could you have a look at the mobile experience of the Welcome tour?
Should we keep it as a floating panel with the rest of the UI visible (as it is on desktop) or make it full-screen with the possibility to see what's behind only if you minimize it?

In case we keep it as it is, do you think this is a good solution to avoid overlapping?

[2021-09-24 15:49] DavidRothstein commented on #56092
I think adding "which expires on [date]" could be helpful, but I believe they made an explicit decision (going back to 2017) not to highlight that in the renewal failure emails that are sent early on.  Probably because it's basically undermining the message of the email, which is (correctly) indicating that you should update your payment information sooner rather than later.  For background, see p

[2021-09-24 15:51] DavidRothstein commented on #56092
By the way, I'm wondering why the original screenshot in this issue looks so different from mine (missing paragraph spacing, etc).  Is that actually what the email looks like in some particular email client?

[2021-09-24 16:01] DavidRothstein commented on #56051
I wonder if it would be enough to **just** do that actually, and nothing else?  Either "Get help" or "Need help?" for the wording.

This email is a little long already, and I'm not sure if we should put so much text into it that isn't fully related to the primary purpose of the email.

[2021-09-24 16:25] worldomonation opened #56548 "Domains Only flow: redirects to incorrect page post-checkout"
### Quick summary

When using the `/start/domain` flow, post-checkout the page redirects to an invalid page.

### Steps to reproduce

prerequisite: log out of WordPresss.com account.
prerequisite for a11n: enable store sandbox.

1. start at /start/domain.
2. search for a domain to purchase and select it.
3. opt to purchase just to domain.
4. create a WordPress.com account.
5. enter domain registra

[2021-09-24 16:33] worldomonation commented on #56548
I attempted to reproduce this using an existing account and purchasing domains only, but was unable to.

It would appear (currently at least) that this issue is tied to the`/start/domain` flow.

[2021-09-24 16:43] obenland commented on #56526
With the revert clearing these errors, can this ticket be closed?

[2021-09-24 17:41] lakellie opened #56550 "Feature Request: Enable self-serve Jetpack disconnection for "Please check your primary site's Jetpack connection" error"
### What

Add a button/link for users to disconnect their Jetpack site when Calypso shows the error "Please check your primary site's Jetpack connection".

### Why

More info on the error here and in what circumstances it's displayed: https://github.com/Automattic/wp-calypso/pull/18382

In these situations, Calypso is completely borked and all you see is the error message. Currently, it contains a

[2021-09-24 20:05] worldomonation commented on #56505
I am not the original reporter, however I was able to reproduce this on Firefox 94.0a1 (2021-09-23) (64-bit) (nightly).

See attached video on both P2 and my own personal site.

P2
https://user-images.githubusercontent.com/6549265/134733567-964b518f-4de3-4701-8887-29a821da589f.mov

Personal site
https://user-images.githubusercontent.com/6549265/134733594-77866a30-dafa-49f0-a407-caa37460db84.mov

[2021-09-24 21:21] carinapilar commented on #51787
Another report on 29134279-hc

[2021-09-24 21:21] edequalsawesome opened #56555 "Gallery block with link displaying incorrectly on Safari 15.0"
### Quick summary

When adding a Gallery block on a site on WordPress.com, if you've chosen either the "Media" or "Attachment Page" option, the image in the Gallery is displayed incorrectly

### Steps to reproduce

1. Add a new post or page to your site
2. Add a Gallery block to the post or page
3. Select two or more images for the gallery
4. Set the Gallery block to Crop Images
5. Set the images

[2021-09-24 22:02] katiebethbrown commented on #55388
Another request in 31711363-hc

[code]

[2021-09-24 22:18] carinapilar commented on #56242
Hm, interesting! I tested with different accounts now and also see that message. I first thought it could be the currency, but I tested with USD and BRL and the message was still there. I would guess it might be related to my A8c account being [PWPO exempt](P6Ya1B-Nh-p2).

[2021-09-25 02:36] worldomonation commented on #56006
Remains an issue.

[2021-09-25 03:56] galakhyati opened #56559 "Image block: "Unexpected error" when transforming to Carousel CoBlocks"
### Quick summary

When switching from Image block to (CoBlocks) Carousel block they are thrown out of the editor.

Video

https://user-images.githubusercontent.com/7382505/134757029-46d64f32-b5e2-4b03-86fa-e666a4a4281b.mp4

:

### Steps to reproduce

1. Create a new page or edit an existing page
2. Add Image block, select the image.
3. Switch the block type and select Carousel.
4. You'll be throw

[2021-09-25 05:20] Robertght commented on #49528
I'm wondering if we can get a fix for the above as well or if I should create a new issue and close this one? cc @mreishus

[2021-09-25 05:53] devNigel commented on #51706
I have closed the follow-up ticket 4306332-zen for 31717728-hc

Noting down here to update the user via a new ticket once this bug is resolved.

[2021-09-25 06:11] devNigel commented on #51415
Is the fix live? I can still reproduce the issue on the site in this ticker: 4292632-zen

[2021-09-25 08:27] Aurorum commented on #56426
PR for this issue in #56560. :)

[2021-09-25 11:00] mxhassani commented on #52728
Other report: 4279161-zen

[2021-09-25 12:12] sajmes commented on #56292
Another report here: 4318561-zd-woothemes

[2021-09-25 13:53] mikeicode commented on #56046
30445804-hc

Ran into this on a site using Divi linking to the .mp4 URLs. Tried the solution mentioned above by @danmaze but ran into this:
<img width="999" alt="Screen Shot 2021-09-25 at 09 43 31" src="https://user-images.githubusercontent.com/10353785/134773815-0ffa4f9e-cef9-450f-9dad-eafbaa70b785.png">

Used the VideoPress shortcode as a solution.

This site already had a lot of embedded videos

[2021-09-25 17:31] danmaze commented on #56046
@openfist @mikeicode Are you adding that file with the `.master.m3u8` extension to the third-party player? If you're simply adjusting the source URL in the browser console or trying to view the file in the browser, I don't think that will work. As far as I know, the only browser that recognizes those `m3u8` files (which are based on the HLS streaming protocol developed by Apple) is Safari.

All in

[2021-09-25 17:55] mikeicode commented on #50560
Same issue as mentioned above with the Spotify buttons not appearing any longer. 4324350-zd-woothemes

I suggested using the method Robert mentioned above, using an Image block to create a manual link to Spotify.

[2021-09-25 18:31] mikeicode commented on #56046
@danmaze

Yes, I tried that based on this:

It was worth trying but didn't work. The shortcode method has worked so far.

[2021-09-25 18:43] NoHopeRadio commented on #56555
Another report in #4321498-zen

I offered the user some CSS to set a max height for their gallery images as sort of a fix, and because they happen to have a narrow content area, I think this will mostly work, but I don't think I will offer my workaround here.

[2021-09-26 01:14] inaikem commented on #55388
Another request here: 31864223-hc.

I provided a direct link to the menu page at `domain.com/wp-admin/nav-menus.php`.

[2021-09-26 01:47] hacchism opened #56561 "Eventbrite Block - Event URL doesn't update, reverts to initial URL"
### Quick summary

When using **Button & Modal** embed type for Eventbrite Block, event URL can't be updated.

### Steps to reproduce

Get some test Eventbrite links at https://www.eventbrite.com/

1. Create a new page.
2. Add an Eventbrite Block.
3. Add an event URL to the block and choose "**Button & Modal**" as embed type.
4. Publish the page.
5. Reload the editor.
6. Select the same Eventbrite

[2021-09-26 02:28] inaikem commented on #49497
@rosepajaroja, do you happen to have access to the screenshot you linked in the original feature request above?

If so, can you please edit the submission and upload them directly? Thanks!

[2021-09-26 02:34] inaikem commented on #55388
Another request here: 31875584-hc.

I provided a direct link to the menu page at domain.com/wp-admin/nav-menus.php.

[2021-09-26 07:02] retnonindya opened #56562 "Poll Block: Endless "Connect to Crowdsignal" prompt"
### Quick summary

When users creating polls, they added Poll block and keep getting prompted to connect their website to Crowdsignal, despite them already logging in to Crowdsignal and connect their WPCOM account to Crowdsignal. This also affects older Poll blocks/Crowdsignal-related blocks (Applause, Vote, NPS, and Feedback)

### Steps to reproduce

1. Create new post/page
2. Add Poll block
3. N

[2021-09-26 08:00] daria2303 opened #56563 "Twenty Twelve: social icons block gets spacing on live page"
### Quick summary

In Twenty Twelve theme if you use social icons block the icons get wide spacing on live page. In editor and in preview it looks fine.

### Steps to reproduce

1. Install Twenty Twelve
2. Use Social icons bloc, add few icons
3. Publish page
4. Visit the live version

### What you expected to happen

Icons look the same as in the editor and in preview
<img width="335" alt="Screens

[2021-09-26 10:10] aisajib opened #56564 "Legacy Widgets: Some legacy widgets throw an error in customizer"
### Quick summary

On WordPress.com Simple sites, when trying to add a legacy widget from the Customizer, it throws an error message instead, rendering the whole widgets section unusable.

### Steps to reproduce

1. Navigate to the customizer's widgets section on a Simple site.
2. Add the + icon and insert a legacy widget from the list below (You can also insert the **Legacy Widget** and choose on

[2021-09-26 11:05] mrfoxtalbot opened #56565 "Blog Posts & Post Carousel Blocks: Add setting to list child and sibling pages automatically"
### What

Adding a querying setting to the Blog Posts & Post Carousel Blocks to automatically list child and/or sibling pages of the current page

### Why

Given that it is not possible to register new Custom Post Types on simple sites, I often tend to use pages and page hierarchies to organize content on certain sites.

This method is simple and intuitive enough even for new users, has a meaningf

[2021-09-26 11:51] arunsathiya commented on #48746
Another issue when Jetpack is broken is, purchases like domain registrations and email hosting (Professional Email or Google Workspace) are not accessible too. Visiting https://wordpress.com/me/purchases shows that the user does not have permissions to manage them.

[2021-09-26 12:23] Sandkorner commented on #48746
Just wanted to add to the above comment, that it helped to change to the wpcomstaging domain and deactivate all plugins, also not go straight to the manage purchases options, but to go to my account and then there. I removed the professional email for the user.

[2021-09-26 17:56] edwinho89 commented on #56194
I believe it is closed as per https://github.com/Automattic/wp-calypso/pull/56276

[2021-09-26 20:43] autumnfjeld commented on #55277
It's been decided! We'll use the the Zoologist theme (which is a derivative of the Geologist theme dmli5-p2)
P2: pNEWy-ekS-p2#comment-53631

[2021-09-26 20:46] hgwaltney commented on #56555
Another report in #31886007-hc

I also offered CSS to set a max height for their gallery images as a workaround in the meantime

[2021-09-26 21:34] autumnfjeld opened #56567 "Design Picker v2"
# Design Picker v2
Continuing work on the Design Picker in Onboarding. Prior GH issues listed below.
This is part of the Blogger Experience Pod work.

![image](https://user-images.githubusercontent.com/5665959/134825087-7862d58c-a08c-4fd4-bf39-046a914b3cb9.png)

## Details
[Figma Desings](https://www.figma.com/file/EuqfSnWpfYx8fgiBlVmbuA/?node-id=2119%3A1107)
**User Facing Specs** (also check for

[2021-09-26 21:53] autumnfjeld opened #56568 "Hero Flow: Extended Write Flow"
# Blogger Flow v1:  Extended Write Flow
This is iteration #3 pdgK6S-78-p2#extended-write-flow in the production of Blogger Flow.  👏
Prior and related work listed below
Brought to you by the Blogger Experience Pod

![image](https://user-images.githubusercontent.com/5665959/134825595-4697ad1e-1be6-4a21-b0d4-987f3d5522b1.png)

## Details

**Write -> Draft post flow**
Finish Signup -> Intent Screen ->

[2021-09-27 00:06] Greatdane commented on #55388
Another request here; 4326645-zd-woothemes

[2021-09-27 00:28] donalirl commented on #55921
Fair point! I've updated the original issue to clarify that.

Thanks for the additional context regarding why we can't reliably pull the registrar's name. Would it be possible to display the registrar name _when we have it?_ For example, registered with GoDaddy, Name.com, Crazy Domains... Then when we don't have the registrar name, use "external provider" as a fallback.

Let me know if that's feas

[2021-09-27 00:44] donalirl commented on #56092
I like the "you've got X days to complete this process" as that also addresses the main goal here, which is to prevent customers from replying to these emails asking for more time, when they actually still have time.

It's a Zendesk reply that we receive, so not user-facing :)

[2021-09-27 01:05] kuropixel commented on #56507
28359837-hc
A user came in with this issue. Atomic
![block settings](https://user-images.githubusercontent.com/83020905/134831262-939bc340-0bcd-44ba-95f8-31ed0ccbc572.png)
No work arounds?

[2021-09-27 03:49] #56501 closed, assigned to nobody

[2021-09-27 03:56] inaikem commented on #49497
Adding this feature request for the Shilling Team project per this previous discussion: pNPgK-5vM-p2#comment-22328.

[2021-09-27 04:57] formosattic commented on #55815
+1 4328191-zd-woothemes

[2021-09-27 06:41] alshakero commented on #54990
Hi @scruffian! I have sent a [PR](https://github.com/Automattic/themes/pull/4359) to fix this issue earlier. It's probably a bad PR but will give you a clear idea about this issue. Can you please give it look? Thanks!

[2021-09-27 06:44] inaikem commented on #56043
Pinged @chrism245 re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 06:46] #55415 closed, assigned to nobody

[2021-09-27 06:48] inaikem commented on #56236
Pinged @kspilarski re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 06:49] devNigel opened #56571 "Lodestar: Wide width Columns block content in a Full Width Group block is over flowing"
### Quick summary

With the Lodestar theme, when the Columns block in a Full Width Group block is set to Wide Width, the content inside Columns block overflows.

### Steps to reproduce

1. Switch to Lodestar theme.
2. Make sure there are no sidebar widgets on the site.
3. Create a new template with the default template.
4. Add a Group block, set it to Full Width.
5. Add a Columns block with 1 or m

[2021-09-27 06:54] inaikem commented on #56542
Pinged @ eduardozulian re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 06:55] inaikem commented on #55643
Pinged @eduardozulian re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 06:58] inaikem commented on #55044
Pinged @eduardozulian re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 07:01] inaikem commented on #54721
Pinged @edwinho89 re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 07:04] inaikem commented on #54722
Pinged @rossanafmenezes re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 07:22] inaikem commented on #54265
Pinged @devNigel re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 07:24] inaikem commented on #51540
Pinged @pauljacobson re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 07:43] arthur791004 commented on #51899
@jordesign @kristastevens  I've created a PR to improve this one and here are the results

## Press This Description
<img src="https://user-images.githubusercontent.com/13596067/134858015-b933bdf1-92ef-404d-b5c0-b742d170791d.png" />

## Situation where no text is selected
https://user-images.githubusercontent.com/13596067/134865168-587cec0e-f7ee-4c92-95cf-0cdb45d6c629.mov

[2021-09-27 08:03] lsl commented on #55491
Woo on Simple - no longer relevant.

[2021-09-27 08:03] #55491 closed, assigned to lsl

[2021-09-27 08:04] lsl commented on #55492
Woo on simple infra - no longer relevant.

[2021-09-27 08:04] #55492 closed, assigned to nobody

[2021-09-27 08:04] lsl commented on #55489
Woo on simple infra - no longer relevant.

[2021-09-27 08:04] #55489 closed, assigned to nobody

[2021-09-27 08:04] lsl commented on #55490
Woo on simple infra - no longer relevant.

[2021-09-27 08:04] #55490 closed, assigned to nobody

[2021-09-27 08:04] lsl commented on #55433
Woo on simple infra - no longer relevant.

[2021-09-27 08:04] #55433 closed, assigned to nobody

[2021-09-27 08:04] lsl commented on #55544
Woo on simple infra - no longer relevant.

[2021-09-27 08:04] #55544 closed, assigned to nobody

[2021-09-27 08:05] lsl commented on #55544
Actually this was a sort of bug and has been fixed in D66750-code

[2021-09-27 08:06] lsl commented on #55424
Woo on simple infra - no longer relevant.

[2021-09-27 08:06] #55424 closed, assigned to nobody

[2021-09-27 08:06] lsl commented on #55423
Woo on simple infra - no longer relevant.

[2021-09-27 08:06] #55423 closed, assigned to nobody

[2021-09-27 08:06] lsl commented on #55425
Woo on simple infra - no longer relevant.

[2021-09-27 08:06] #55425 closed, assigned to nobody

[2021-09-27 08:06] lsl commented on #55420
Woo on simple infra - no longer relevant.

[2021-09-27 08:06] #55420 closed, assigned to nobody

[2021-09-27 08:06] lsl commented on #55426
Woo on simple infra - no longer relevant.

[2021-09-27 08:06] #55426 closed, assigned to nobody

[2021-09-27 08:11] lsl commented on #55421
Not required, duplicate.

[2021-09-27 08:11] #55421 closed, assigned to nobody

[2021-09-27 08:13] lsl commented on #55416
Dupe

[2021-09-27 08:13] #55416 closed, assigned to nobody

[2021-09-27 09:09] inaikem commented on #47658
Closing as no longer relevant per this discussion: pNEWy-e9X-p2

[2021-09-27 09:09] #47658 closed, assigned to nobody

[2021-09-27 10:27] #55546 closed, assigned to lsl

[2021-09-27 10:38] inaikem commented on #56550
Pinged @lakellie re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 10:42] inaikem commented on #55648
Pinged @sourourn re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 10:48] inaikem commented on #55583
Pinged @danmaze re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 10:49] inaikem commented on #55514
Pinged @eduardozulian re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 10:53] inaikem commented on #54869
Pinged @happychait re Bugomattic and added the issue to the HE Triage board.

[2021-09-27 11:39] scinos commented on #56330
I've been looking at the lint rules related to JSDoc params, and I think there is room for improvement.

Given that we don't generate external docs from the source code, and I assume that most devs use VSCode (or an editor with very similar features regarding code intellisense), I based this analysis on the usefulness of JSDoc `@param` for VSCode in two scenarios: code intellisense when typing and

[2021-09-27 12:01] kdevnel opened #56574 "User Profile: Editing biography, display name and so on in WP Admin isn't possible."
### Quick summary

Following this PR - https://github.com/Automattic/jetpack/pull/20479

This has created a situation where any user who has previously edited their profile details from WP Admin can no longer access the fields to edit them with SSO enabled.

The options are to either update the WordPress.com profile or to disable SSO so the fields are then available in WP Admin.

This is problemat

[2021-09-27 12:17] kdevnel commented on #56574
Related discussion: p9GEWz-OB-p2

[2021-09-27 12:55] yansern commented on #51013
**What will be fixed:**
Image caption on Slideshow block is updated when editing the image caption on media library through the **Block Editor**,
PR: https://github.com/Automattic/wp-calypso/pull/56535

**What won't be fixed:**
Image caption on Slideshow block is updated when editing the image caption on media library through Calypso.
Why? Caption is saved in block meta, it does not fetch caption

[2021-09-27 12:55] poeticabdul commented on #51540
Another report here 27281309-hc

[2021-09-27 13:00] rinazrina opened #56575 "All blocks displaying "This block has encountered an error and cannot be previewed""
### Quick summary

When editing older posts (before August 2021), all blocks are showing this error: "This block has encountered an error and cannot be previewed"

### Steps to reproduce

1. Go to Posts
2. Look for posts that are published before August 2021 > open the post editor (e.g. https://wordpress.com/post/blog.shopsolensis.com/460)
3. Click on any blocks to see the error

### What you expe

[2021-09-27 13:01] poligilad-auto commented on #55610
Hey @razvanpapadopol, I think we can keep the same behaviour like in desktop view.

I agree with this solution @StefanNieuwenhuis

[2021-09-27 13:18] yansern commented on #55385
Phab patch superceded by D67452-code. (Difference is instead of touching WP core on the JS end, we make IDs unique through a filter on WPCOM on the PHP end).

[2021-09-27 14:10] saygunnyc opened #56578 "Action Bar: Line-height on each explanation under switches needs improvement"
Let's update the line height under each explanatory copy to be 150% under the switches to make those more readable.

**Existing**
<img width="450" alt="Existing" src="https://user-images.githubusercontent.com/78876323/134924536-b61b9523-6a82-4454-8de0-a347d299ab4c.png">

**Ideal**
<img width="272" alt="Scr" src="https://user-images.githubusercontent.com/78876323/134925194-9c567909-1b52-4651-9be6-8

[2021-09-27 14:16] saygunnyc commented on #56466
Thank you, @eduardozulian ! This template is quite interesting as I've never seen it before. Sharing below "New Like - Comment" version for visibility.

<img width="697" alt="Screen Shot 2021-09-27 at 17 15 23" src="https://user-images.githubusercontent.com/78876323/134926287-a6ec50f8-56e8-48f8-b405-e0d08209ca1b.png">

@andres-blanco It seems like this is the "New Like - Post" template we were loo

[2021-09-27 14:39] mreishus commented on #56526
Planning to use this to track the debugging of the issue; it contains relevant information and the widget visibility PR itself is getting hard to navigate.

[2021-09-27 14:41] sixhours opened #56582 "Widget Visibility: Add usage tracking"
Add tracking for click events when adding new rules on the front end, possibly for block render on the back end.

p1632431685028100-slack-C029HQKQ146

[2021-09-27 14:42] jsnajdr commented on #56330
For me personally, I only find useful the rules that say "I was able to detect there's something obviously wrong about your jsdoc comment", ones that enforce some consistency, like newline between description and params or `{boolean}` and `{String}` type names over `{bool}` and `{string}`.

On the other hand, rules that say "you need to fill in this required information" mostly lead to jsdoc comme

[2021-09-27 14:44] sixhours opened #56583 "Stats: Remove extra bottom margin on Parse.ly banner"
The `p` tag is adding extra space to the bottom of the Parse.ly banner:

<img width="1116" alt="Screen Shot 2021-09-27 at 10 46 28 AM" src="https://user-images.githubusercontent.com/2124984/134931820-72a15e4c-5e44-4c50-acf1-00e1b99c0c70.png">

[2021-09-27 14:44] AtrumGeost opened #56584 "[Jetpack Search] Add support for WooCommerce Product Attributes filter"
### What

We got a request from a user who wanted to be able to filter the product search results by attribute

### Why

For discoverability of product variations

### How

I'm not sure if this is technically possible due to the way WooCommerce works and that each product can have its own set of attributes. But here's a screenshot with annotations:

![Screen Shot on 2021-09-27 at 09:44:19](https:/

[2021-09-27 15:05] EjayhanFernandes commented on #54990
This occurred as well here 4320518-zen.
Theme: Gateway by Rescue Themes.

[2021-09-27 15:31] yansern commented on #55385
Deployed!

[2021-09-27 15:31] #55385 closed, assigned to nobody

[2021-09-27 15:39] dolgelukkig opened #56586 "Mobile menu not working in Storefront"
### Quick summary

The mobile menu is not working in Storefront.

### Steps to reproduce

- Activate the theme Storefront.
- Add a Primary menu and also check the Handheld menu option
-  When visiting the site the mobile menu button is showing but not responding when clicked.

### What you expected to happen

I would expect the menu to open when the menu button is clicked on mobile devices.

### W

[2021-09-27 15:41] darnelldibbles opened #56587 ""Always Start with the Classic Block" Option | Remove "Convert to Blocks" on Classic Block"
### What

Classic block as a default option | Removing "Convert to Block"

### Why

https://wordpress.com/forums/topic/stop-the-convert-to-blocks-tab/#post-3741547

![image](https://user-images.githubusercontent.com/89815843/134939832-6ed42e7c-e5f5-46ff-8d25-d5c9cd944ffc.png)

### How

Our moderator proposed a feature request in light of the above issue:

From: https://wordpress.com/forums/topic/s

[2021-09-27 15:44] jeherve commented on #56526
@mreishus If we don't figure this out before October 5 (the day of the release of Jetpack 10.2), do you think we should revert / disable the new Widget Visibility options in Jetpack?

[2021-09-27 15:44] kspilarski commented on #56586
I have the same case with a user on Storefront theme (3.9.0) where their mobile menu  is not clickable. Mobile  menu is also not clickable in theme demo (mobile) and customizer (mobile view). CLI shows that theme is updated and don't have any errors. Changing to another theme like Twenty Twenty works.

[2021-09-27 15:48] sajmes commented on #56586
Another report here: 4329948-zd-woothemes.

- Handheld menu option was checked.
- I can replicate on my test site.

[2021-09-27 15:55] mikeicode commented on #56586
I'm seeing a few errors in Console related to minified JS files not loading. This specific menu issue appears to be that this file isn't loading:

[code]

To confirm I tested linking to this unminified file and the mobile menu worked:

[code]

[2021-09-27 16:21] #51013 closed, assigned to nobody

[2021-09-27 16:27] AtrumGeost commented on #56586
Got a report here: 4330049-zd-woothemes

[2021-09-27 16:48] noahtallen commented on #56330
I don't have much to add, but I agree with your logic and the proposal to change these rules.

If one wants great type analysis for a JS function, I think we should be encouraging them to re-write in TS rather than jsdoc. I guess it's even possible that jsdoc gives a false sense of security that types are checked by something before deploy.

[2021-09-27 16:52] sixhours commented on #55696
Now that legacy widgets are fixed I'll do some testing with the MailChimp widget and see if the conflict still exists.

[2021-09-27 17:01] kristastevens commented on #51899
Hi @arthur791004, looks good to me, except for a typo I made.

Please change "favourites" to "favorites" in the first bullet point. (A British spelling variant crept in. Sorry about that!)

[2021-09-27 17:07] sixhours commented on #55696
I'm not seeing a conflict with the MailChimp block and the video/music player legacy widgets now; I suspect this was related to the Jetpack upgrade and not the MailChimp block specifically.

<img width="380" alt="Screen Shot 2021-09-27 at 1 03 14 PM" src="https://user-images.githubusercontent.com/2124984/134954171-45a4fc6c-4f0f-43b6-ae53-d9a0ebfe167a.png">

Once the fix has been deployed to atomic

[2021-09-27 17:08] CompChris commented on #56586
Another report here: 30168725-hc
4330542-zen

[2021-09-27 17:18] sixhours commented on #55708
This appears to be working for me on a test site now that the fix in https://github.com/Automattic/jetpack/pull/21004 has been deployed. It should also be fixed on Atomic per @jeherve's comment 6947-gh-Automattic/jpop-issues#issuecomment-922817812

I'm closing this out!

[2021-09-27 17:18] #55708 closed, assigned to sixhours

[2021-09-27 17:20] jgcaruso commented on #56046
It seems like there may be a few different problems being noticed in this Issue. The recommendations for posting the video are correct, the VideoPress player should be used to guarantee compatibility with our transcode pipeline.

There is currently a fix in for Jetpack (should be part of the next release) which will expose the`.m3u8` playlist to a 3rd party player if the customer happens to be usi

[2021-09-27 17:26] dev-sabbir opened #56591 "In WordPress.com view there is no option to update a theme."
### Quick summary

If there are some theme updates available, the user can not update the theme from `WordPress.com > My Sites > Appearance > Themes`. But we can do that from the `Classic view`.

WordPress.com view: ![WordPress.com view](https://d.pr/i/6Bz7CN+) **Image Link:** https://d.pr/i/6Bz7CN

Classic view: ![Classic view](https://d.pr/i/r9jWF7+) **Image Link:** https://d.pr/i/r9jWF7

As you

[2021-09-27 17:34] andres-blanco commented on #56445
D67263-code

[2021-09-27 17:35] andres-blanco commented on #56435
D67457-code

[2021-09-27 17:36] andres-blanco commented on #56447
D67392-code

[2021-09-27 17:40] andres-blanco commented on #56463
closed in D67229-code

[2021-09-27 17:40] #56463 closed, assigned to andres-blanco

[2021-09-27 17:51] thekingsprojects commented on #56586
Another report: 31902766-hc

[2021-09-27 17:55] sixhours commented on #55685
@edwinho89 I'm able to reproduce this on my test site, too, although I don't think it's related to this particular issue since it's not throwing a similar error message. Could you create a new issue with more details so it can be triaged separately? Thank you!

[2021-09-27 18:03] autumnfjeld commented on #55603
@arthur791004 & @roo2
For the item  “Draft your first post modal” when user land in editor : there may be some design changes or evolution on this modal.   Let's wait to implement this until we are certain what will happen with the Welcome Tour conflict.

[2021-09-27 18:06] sixhours commented on #55685
@synora @ClassicRKR27 @Gustavo-Hilario @Sandkorner Hi folks! The best next step is to check to see if the users have other active plugins or themes that are causing a conflict. PublishPress Blocks may be a culprit, as noted by Robert here: https://github.com/Automattic/wp-calypso/issues/55685#issuecomment-915023772

If you've ruled out a theme/plugin conflict, we need more details about the users'

[2021-09-27 18:10] marcuswisecaesar opened #56592 "Instagram Latest Posts Widget - Gallery Enhancement"
### What

I would like to see the ability to edit the layout of images  similar to a gallery.  Currently the images sit in rows that are not editable.

### Why

Currently the instagram widget shows a small gallery of nine images.  This is sufficient but not ideal for users who feature text in their Instagram images or want to call attention to a few of their posts.

### How

Adding the ability to

[2021-09-27 18:10] KirkwallDay opened #56593 "Carousel comments gives vague error when conflicting with media comment settings"
### Quick summary

If the setting on a piece of media is to disallow comments, then when that media is in the carousel the comment option still appears, but trying to use it gives a "Sorry, but there was an error posting your comment. Please try again later." Error.

### Steps to reproduce

1. Have an image that has comments disabled on it. This is done by going to the image in the wp-admin media

[2021-09-27 18:14] kelasante commented on #56586
Another report here: 31869628-hc

[2021-09-27 18:24] TheSteveK commented on #56586
Another report 4330726-zen

[2021-09-27 18:30] mreishus commented on #56526
This is caused by an infinite loop. Here is a stack trace:

[code]

The difference is that with **legacy** widgets, the `filter_widget()` has two possible return values:
  * Returns the `$instance` passed to it OR
  * Returns `false`

**Block** widgets add a new possibility:
  * Change the content inside $instance, by rerendering `$instance['content']`

The problem here is that running `render_blo

[2021-09-27 18:33] Thelmachido commented on #56586
Another report 31890508 - HC

[2021-09-27 18:34] obenland commented on #56526
Is there a way to remove the filter ahead of rendering `$instance['content']`?

[2021-09-27 18:40] mikeicode commented on #56586
Homestore - 31904042-hc

[2021-09-27 18:48] cuemarie commented on #56586
Another report: 31903545-hc
User also tried deactivating all plugins, and the issue persisted.

[2021-09-27 18:49] mreishus commented on #56526
This works in my testing but I don't feel great about:
[code]
I think it's too dependent upon the filters that we set up around this function. That is, if something else starts hooking onto this function and using it a different way, the same problem could crop up again.

This also works in my testing and I feel a bit better about:
[code]

[2021-09-27 18:52] mreishus commented on #56526
Yes.

[2021-09-27 18:52] andres-blanco commented on #56443
This was merged in D66917-code to get ahead of translation. We still need to verify that the `Delete` and `Mark as spam` works correctly

[2021-09-27 19:05] #54461 closed, assigned to mattwiebe, onuro

[2021-09-27 19:16] the-misha commented on #56586
Another report, using Galleria (Storefront child theme): 31903889-hc
Follow-up ticket: 4330871-zd-woothemes

[2021-09-27 19:25] the-misha commented on #56586
Another report: 31900595-hc
Follow-up ticket: 4330782-zd-woothemes

[2021-09-27 19:45] edequalsawesome commented on #56586
Reported here: 31904815-hc
Also provided the workaround mentioned by Mike, so we'll need to follow-up with them to deactivate Insert Headers & Footers by email when this is resolved: 4331008-zen

[2021-09-27 19:59] TeniCola commented on #55815
+1 for this request -- 14926697-hc

[2021-09-27 20:25] sixhours commented on #56251
@obenland @mreishus Can this be closed out?

[2021-09-27 20:25] katiebethbrown commented on #56586
A fix for this is in place now in Storefront 3.9.1:

https://github.com/woocommerce/storefront/issues/1800#issuecomment-928196332

And that update has been pushed to all eCom sites that have the theme symlinked:

p1632772651346300-slack-C7YPW6K40

[2021-09-27 20:26] obenland commented on #56251
Yes, thanks for the nudge!

[2021-09-27 20:26] #56251 closed, assigned to nobody

[2021-09-27 20:35] ccwalburn commented on #43919
Another report here: 4330967-zen

[2021-09-27 20:39] TeniCola commented on #56586
I had a report of this as well, but just found that this has been resolved; I'll advise the user to update their Storefront theme as needed, thanks!

For reference, 4330498-hc

[2021-09-27 21:17] mreishus commented on #56546
Here's a logstash link for this one: 2a502-pb/
I have been unable to reproduce this. For #56526, I reverted the revert of widget visibility on my sandbox without committing: (`svn merge --ignore-ancestry -c -232237 .`), then edited my hosts file to point a known crashing site to my sandbox, then loaded that site.
On the logstash link, I only see one site throwing the error, and when I replicate th

[2021-09-27 21:22] zaguiini opened #56597 "Task: Add E2E test to ensure users are redirected to /home after creation"
### Details

When working on #56596 I couldn't find any test to prevent regressions on my changes. The idea is to include a test where we can ensure that after creating a site, the user gets redirected to `/home` instead of `/site-editor`.

### Checklist

_No response_

### Related

#56289

[2021-09-27 22:03] mreishus commented on #56526
I have a fix for this issue (render inside the visibility feature inadvertently trigger an infinite loop).  However, I don't have a fix for #56546 (render inside visibility feature tries to render null and crashes). I'm also not able to reproduce this issue. Additionally, there could be more issues out there.

I propose scaling back the functionality offered by the feature. Instead of letting the

[2021-09-27 22:08] mreishus commented on #56526
@jeherve We're in an odd spot development wise with JP and dotcom being unsynced. The changes are on JP, merged, but manually reverted on dotcom. I've been using `svn merge --ignore-ancestry -c -232237 .` and manual editing to try out changes, but I would like to get back into a workflow where I can submit changes to jetpack and have dotcom patches automatically generated that I can hand out for t

[2021-09-27 23:49] Greatdane commented on #55388
Another confused user and request for menu; 4330968-zd-woothemes

[2021-09-27 23:56] #55084 closed, assigned to nobody

[2021-09-28 00:54] nielslange commented on #56586
@dolgelukkig, @kspilarski, @sajmes, @mikeicode, @AtrumGeost, @CompChris, @thekingsprojects, @kelasante, @TheSteveK, @Thelmachido, @cuemarie, @edequalsawesome, @katiebethbrown & @TeniCola: The broken mobile menu had been fixed and Storefront 3.9.1 had been released. Could you inform the users, and ask them to update their Storefront theme accordingly? Thanks in advance! 🙌

[2021-09-28 00:54] #56586 closed, assigned to nobody

[2021-09-28 01:18] kelasante commented on #56046
I just tested uploading the same video in my media library on my test site - appleslices12345.blog. I did not get the audio append error. Based on @Greatdane's comment, it looks like it still occurs for some sites.

The sound still does not play on the direct URL. Additionally, sound works with the video block only if you select from the media libary. It does not work if you insert from URL using

[2021-09-28 01:33] formosattic commented on #42056
+1 27149499-hc

[2021-09-28 01:46] autumnfjeld commented on #56303
@jaswrks Just verifying this is now in the Martech backlog. :). Thank you!

[2021-09-28 01:54] dkd903 opened #56602 "Crawlers: Prevent Google bot (and some other bots) from seeing the /browsehappy browser unsupported page"
### Steps to reproduce the behavior

1. [Override Chrome user agent](https://developer.chrome.com/docs/devtools/device-mode/override-user-agent/) to use the Google mobile crawler bot user agent string: **Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4 (compatible; Googlebot /2.1; +http://www.google.com/bot.html)*

[2021-09-28 02:11] arinoch opened #56603 "Feature Parity: @import CSS call is stripped on Simple sites, not on Atomic sites."
### What plan tier(s) are affected?

Business, eCommerce

### Steps to Reproduce

1: Go into Appearance > Customize > Additional CSS, on any theme.
2: Paste the following code:

[code]

3: Save your CSS.

### Expected (Simple)

This should be valid CSS code, and accepted by the customizer.

### Expected (Atomic)

If this is not meant to be accepted by the customizer, then atomic sites should strip

[2021-09-28 02:18] autumnfjeld commented on #55603
Update on  “Draft your first post modal”
- hide Welcome Tour if modal is showing
- show Welcome Tour as normal for Build flow

[2021-09-28 02:18] arinoch commented on #56603
Brought to my attention by a colleague in p1632789758337500-slack-C03TY6J1A as I was reverting their site at their request. They were using the above CSS on their site while atomic, it was stripped when they attempted to use it after the revert. Reporting it here as it may be a source of user frustration--both scenarios are undocumented and inconsistent.

[2021-09-28 04:39] arthur791004 commented on #51899
@kristastevens Okay, thank you!

[2021-09-28 05:00] lsl opened #56608 "Fix WooCommerce fallback menu item"
#56488 changed the WooCommerce fallback menu item to always display (behind the `woop` config flag), this needs fixing to only show on sites with wpcom plans (i.e. not on p2s, jetpack or domain only sites)

[2021-09-28 06:33] inaikem commented on #56504
Thanks for the report, Carina!

I was not able to replicate this on a Simple, Atomic or self-hosted test site. The screenshots below are from an Atomic sites public page and editor page respectively:

&nbsp;
![Query block no results (public)](https://user-images.githubusercontent.com/66711744/135034446-1e196dad-9443-43b1-b445-899a1075287d.png)
&nbsp;
![Query block no results (editor)](https://user

[2021-09-28 06:43] inaikem commented on #56508
On notification bell click, `<li id="wp-admin-bar-notes"> ... </li>` has the following classes  added to it:

`menupop mb-trackable wpnt-stayopen wpnt-show active`

...this causes the following elements to be affected by `color` and `background-color` changes in CSS.

`<div class="ab-item ab-empty-item"> ... </div>`, `<span id="wpnt-notes-unread-count">  ... </span>` and `<span class="noticon noti

[2021-09-28 06:44] inaikem commented on #56508
@Robertght, is this something Flow Patrol can be tasked to review?

[2021-09-28 07:36] formosattic commented on #56510
Strange, I can't reproduce. I tested with Exford, Twenty Twenty One. Is it still happening?

![image](https://user-images.githubusercontent.com/15944096/135042582-4601b65b-6c7c-49f2-a31f-bf01a53a2594.png)

Pinged for other details: p1632814538296900-slack-C01UW7SB411

[2021-09-28 07:39] inaikem commented on #56543
Thanks for reporting the issue!

The issue is related to posts loaded via the Blog Posts block, not the standard archive display of the theme.

With the sidebar (Secondary Widget Area) active on this theme, author meta is affected by this selector -- `.sidebar .entry-meta` -- in the following CSS:

[code]

[2021-09-28 07:47] formosattic commented on #56603
Thanks for the report @arinoch

From https://wordpress.com/support/editing-css/#frequently-asked-questions, it's not expected to work on Simple sites:

But I guess we could have a more elegant way to handle it on Simple sites, like having a warning when clicking on Save.
Right now, this happens when the code is saved and Customize get reloaded:

![troubleshooting](https://user-images.githubusercon

[2021-09-28 07:58] inaikem commented on #56555
I was able to replicate this. see attached Chrome vs Safari screenshot:

![Calypso 56555 - Safari vs Chrome](https://user-images.githubusercontent.com/66711744/135046673-8dbe2b8a-4625-4dab-8226-c8ac8ded9753.png)

@NoHopeRadio, would you mind sharing what CSS worked for you in case some themes can benefit from it? Thanks!

[2021-09-28 08:31] formosattic commented on #56559
Thanks @galakhyati !

I was able to reproduce it.
I've updated the initial report with the workaround of disabling Gutenberg.

Also test on a self-hosted WordPress.org site, same behavior happens, the error only shows when Gutenberg is active.

[2021-09-28 09:00] formosattic commented on #51415
Unable to reproduce on my test site.
I've asked the user to remove the current Blog Posts and add it again.

Closing for now, but open if the problem is still there.

[2021-09-28 09:00] #51415 closed, assigned to nobody

[2021-09-28 09:17] formosattic commented on #56561
Thanks @hacchism! I was able to reproduce it.

![troubleshooting](https://user-images.githubusercontent.com/15944096/135059417-d98844c2-52b1-4731-8a83-82a15686aaab.gif)

[2021-09-28 09:50] inaikem commented on #56564
Thanks for reporting this bug, Ai!

I was also able to replicate when adding the 'Top Rated' widgets. I also noted the same error message as the one you included.

**Note:** when widget insertion fails, it is not possible to undo the action. The Customiser must be reloaded and all changes up to that point will be lost.

[2021-09-28 09:50] formosattic commented on #56542
Thanks for the report @eduardozulian!

I was able to confirm that it only happens on atomic sites.

![troubleshooting](https://user-images.githubusercontent.com/15944096/135064675-f8d08305-213b-4d2f-9259-c6cc763524b9.gif)

[2021-09-28 10:00] edwinho89 commented on #56555
4326489-zd-woothemes

It appears to be relating to this CSS affecting how gallery images applied on Safari.

[code]

The CSS above appears to obtain the image height on Safari web browser

The following CSS can be used as workaround :

[code]

[2021-09-28 10:14] inaikem commented on #56562
@retnonindya, I was unable to replicate on my test site (with or without CrowdSignal connected initially).

Can you confirm if the issue is still present for you? If so, we can move it to the [Crowdsignal repo](https://github.com/Automattic/crowdsignal-forms/).

[2021-09-28 10:39] Robertght commented on #56508
Thank you for the ping @inaikem !

I can confirm the issue is only present while you're in the WooCommerce dashboard.

Flagging this for @Automattic/flow-patrol-spacelab

[2021-09-28 10:50] inaikem opened #56610 "Alphabetise the WordPress.com account/connected apps list"
### What

Alphabetise the WordPress.com Account connected apps page at: https://wordpress.com/me/security/connected-applications.

### Why

The current ordering is cluttered and confusing 🙏

Example:
&nbsp;

<img width="1119" alt="Markup 2021-09-28 at 18 47 26" src="https://user-images.githubusercontent.com/66711744/135073517-aa7c8a01-3c01-424d-ba76-7c4d7c6f98ab.png">

### How

Sort the items in t

[2021-09-28 11:15] philnick206 commented on #56507
Noticed this in the following as well #4332016-zen

[2021-09-28 12:11] retnonindya commented on #56562
Eh.

Wait.

Why so weird.

My test site: premiumtestsite2.corianderpho.blog -- has Poll block working. Blog ID: 154340455

_This_ test site: premiumtestsite.corianderpho.blog -- has Poll block **not** working. Blog ID: 153295757

Does this mean this issue affecting a fraction of blogs with specific characteristics? From a quick glance, I don't see anything different between the two, except the web

[2021-09-28 12:41] yansern commented on #53978
Phab patch D67270-code deployed. This issue is now resolved.

[2021-09-28 12:46] dragstor commented on #55815
+1 for this request - 4332530-zd

[2021-09-28 13:05] carinapilar commented on #56504
The problem is with the _Query Pagination_ block within the _Query Loop_, you would want to have this structure on the page:

![PaginationBlockIssue](https://user-images.githubusercontent.com/16104522/135092307-720b3574-bcc4-444a-ade5-7ec0447eb20c.png)

Even if there are no results from the query, it shows a Next Page link:

![PaginationBlockIssue2](https://user-images.githubusercontent.com/161045

[2021-09-28 13:22] eurello commented on #56510
Yes, still happening, and it's not just me. I've seen this symbol appear in author comments on many blogs over the years, but I never figured out what was causing it until it happened to me.

[2021-09-28 13:23] eurello commented on #56510
Theme on my blog is Blank Canvas, but I've definitely seen it with others. It's a simple site, not Atomic.

[2021-09-28 13:26] bobmatyas commented on #53978
I updated Jetpack Forum users who created threads about this issue.

[2021-09-28 13:50] synora commented on #55364
I've removed the [Goal] Full Site Editing label. I didn't see any details as to how this relates to FSE.

[2021-09-28 13:54] #56583 closed, assigned to sixhours

[2021-09-28 14:08] sixhours commented on #41508
@yansern 👋 Does anyone in your group happen to have an Android device and could work on this?

[2021-09-28 14:12] davipontesblog commented on #56555
Another instance at 4331166-zd-woothemes.

User on Personal plan so no access to CSS workaround, unfortunately. Let's see if we can get this prioritized as it's likely affecting thousands of users - Gallery block with links on Safari is probably a common combination on WordPress.com sites.

[2021-09-28 14:38] synora commented on #56593
Triaged. Can replicate. At the very least, the error message should be more specific about comments being disabled on a particular image.

[2021-09-28 15:35] michaeldcain commented on #49497
While it's technically true that a user could donate without needing the payment management features that come with a WPcom account, this change would require a substantial refactor of how our Payments Blocks work on the backend and thus won't be prioritized by Shilling.

That being said, @Automattic/gold is working on a new version of Payments Block right now, and we can flag this for their work.

[2021-09-28 16:08] ahmadbaig1 commented on #54990
User returned and requested a quicker resolution 31830828-hc.

[2021-09-28 16:16] jeherve commented on #56526
As we discussed in Slack, at this point it may be easier to open a Jetpack PR, and then manually open a diff on WordPress.com Simple to bring everything over later on. We will not be able to rely on Fusion for this one unfortunately.

[2021-09-28 16:17] ahmadbaig1 opened #56616 "Featured Image having capability to show captions."
A user requested that the featured images be allowed to have captions and that they also show them just like normal images.

I'm not sure if featured images should have captions, but I thought I should post the request here so we can think and discuss it.

4332886-zd

[2021-09-28 16:21] synora commented on #56043
Closing as this is a duplicate of #55568

[2021-09-28 16:21] #56043 closed, assigned to nobody

[2021-09-28 16:30] michaeldcain commented on #51556
To get back to the original suggestion for this issue, let's show a modal when the user clicks the "X" to leave Checkout and still has items in their cart. It would read something like:

[2021-09-28 16:36] sixhours commented on #56387
I'm thinking we should avoid showing an error message here, and instead show a message that notes the site owner must be reassigned (with a link/internal link to documentation) before the user can be removed.

But I'm having a tough time finding a selector that denotes the site owner. We have `wpcom_get_blog_owner` on the server side, but I don't see an equivalent on the front end. Will keep diggi

[2021-09-28 16:40] synora commented on #56236
Triaged. Can replicate.
@Robertght, I'm flagging @Automattic/flow-patrol-create. This issue affects all simple sites.

[2021-09-28 16:50] noahtallen commented on #56602
@dkd903 Are the bots trying to access logged-in pages, or are the pages they interact with public? @Automattic/team-calypso-platform have been talking about this, and we think it might be best to just not redirect public pages.

[2021-09-28 17:04] ChrissiePollock opened #56619 "Color Edits in the Colinear Theme Don't Show in Editor"
### Quick summary

The customer came in saying _when I change the color of certain text, it doesn't show in editing mode, but does appear when I preview the page._

They are using the Colinear theme. I was able to replicate on my test site.

### Steps to reproduce

1. Use a theme that is not Colinear.
2. Add a paragraph in the editor.
3. Highlight a word and change the color of the word.
4. Notice

[2021-09-28 17:05] synora commented on #56096
Triaged. Can replicate. The ability to change the order of the icons appears to be broken.

[2021-09-28 17:17] olaolusoga commented on #43592
Any update on this?

[2021-09-28 17:23] synora commented on #55044
Triaged. Can replicate.

[2021-09-28 17:40] cuemarie commented on #35800
Another report of this here: 31923276-hc
User is using Safari on an iPhone 7, and I can replicate the issue on Safari 14.1 on iOS 14.7

[2021-09-28 17:44] cuemarie commented on #35800
Has anyone been able to offer any workarounds for this issue?

[2021-09-28 17:52] Aurorum commented on #56610
PR for this issue in #56620. :)

[2021-09-28 17:55] arinoch commented on #56603
If I'm a user on a business plan and I have no reason to go atomic (I'm fine with the Twenty Twenty-one theme, for example, or all the functionality I need is provided by wpcom), I'm reading the quoted section of that document and thinking "Good, this applies to me.". Then I'm adding that code, watching it get stripped out, and I'm in live chat or a ticket asking why. That, I believe, is the issue

[2021-09-28 18:05] davipontesblog opened #56621 "Block widgets: Sidebar widgets area won't come up in the Customizer"
### Quick summary

I am not sure (didn't have time to research more) how widespread this is, if it's theme-related, atomic vs simple, etc, but I just helped a user in 31923292-hc to be able to edit their sidebar widgets (a mix of Legacy AND block ones), and I had to point them to /wp-admin/widgets.php for the sidebar area to come up.

Theme: Tortuga

In WordPress.com we are pointing users who clic

[2021-09-28 18:19] fullofcaffeine commented on #56098
I've linked the 11.4.x "test fixes" issue by mistake and unfortunately there's no way to remove a reference. Please ignore it.

[2021-09-28 18:20] fullofcaffeine commented on #56494
I've linked the 11.4.x "test fixes" issue by mistake and unfortunately there's no way to remove a reference. Please ignore it.

[2021-09-28 18:26] mreishus commented on #56526
Created https://github.com/Automattic/jetpack/pull/21222

[2021-09-28 18:26] mreishus commented on #56546
Created https://github.com/Automattic/jetpack/pull/21222

[2021-09-28 18:27] helenaartmann commented on #56621
Thanks, David! I also helped someone this morning with the same issue: 4333211-zen

[2021-09-28 18:31] benchilcote commented on #56507
Reporting another case of this #4333521-zen

[2021-09-28 18:42] KirkwallDay commented on #56593
Edited the original report to clarify my further notes regarding the setting that should override the media-specific comments setting is: The setting located in Settings > Media under "Image gallery Carousel", called "Show comments area in carousel"

[2021-09-28 18:46] mikeicode commented on #30426
5230885-hc

Used the solution from happychait above.

[2021-09-28 18:47] ahmadbaig1 commented on #55437
I'm seeing a similar issue, not for youtube but for 4 widgets on a user's site and the strange part is that disabling the Gutenberg plugin resolves the issue.
4332310-zd

[2021-09-28 19:04] gibrown commented on #52543
This should only come up if they have purchased a Search plan for a Simple site. I suspect this is a bug that probably never comes up because the solution would be to just turn off the product rather than disabling search. Maybe we should just gray out that option? Though I do wonder what happens if you have a WP.com business/ecommerce plan (which come with classic search) on a Simple site and you

[2021-09-28 19:12] mikeicode opened #56626 "Simple sites - permalink slug /blank-canvas/ results in error page"
### Quick summary

Using the permalink **blank-canvas** on a Simple site results in an error page. The same error doesn't happen on AT.

### Steps to reproduce

* Create a page called Blank Canvas (most importantly the permalink must be /blank-canvas/)
* View page

### What you expected to happen

Should see the page.

### What actually happened

![Screen Shot on 2021-09-28 at 15:01:12](https://us

[2021-09-28 19:20] DavidRothstein commented on #56242
Looks like you're right!  Here's the code that suppresses the plan nudge for those users: https://github.com/Automattic/wp-calypso/blob/b11f2d49590d814c0b53efadaeb405d9e850b8bd/client/my-sites/checkout/cart/cart-free-user-plan-upsell.jsx#L177

It was originally added here: https://github.com/Automattic/wp-calypso/pull/39610

I am not sure if there was a reason (I wonder if it was a temporary measu

[2021-09-28 19:40] sixhours commented on #56555
It looks like this might have occurred when support for earlier versions of IE was removed in Gutenberg: https://github.com/WordPress/gutenberg/commit/9506b08dead0bb5676a402706f2c0793e175f5fc

Although, in theory, [those styles should have still applied to Safari 13+](https://caniuse.com/css-sticky).

[2021-09-28 19:48] jonny-a8c commented on #55333
31925560-hc

[2021-09-28 19:54] carinapilar commented on #56242
Sounds great, thanks for sharing all these details @DavidRothstein! 😌

[2021-09-28 20:00] sixhours commented on #56555
This does not appear to happen on my local install, which leads me to believe it's not a core/Gutenberg issue:

<img width="1340" alt="Screen Shot 2021-09-28 at 3 59 48 PM" src="https://user-images.githubusercontent.com/2124984/135157312-c2a8f329-ddff-4840-b0b6-eb08eb2b4e1b.png">

[2021-09-28 20:02] jonny-a8c commented on #50574
31925560-hc

[2021-09-28 20:10] obenland commented on #43592
@sixhours @mreishus Do you think you could see what can be done on this one? Maybe [`unseen_count`](https://github.com/Automattic/wp-calypso/blob/38c37bbfe35b8c741c4e346637987ddc0fb3ab59/client/state/reader/sites/fields.js#L19) is something that could be built on?

[2021-09-28 20:34] sixhours commented on #56555
In the meantime, for folks on upgraded plans, adding `width: 100%` to the selector should fix it without rendering the images at different heights:

[code]

[2021-09-28 20:50] sixhours commented on #56555
I just confirmed that enabling the new refactored Gallery block on my local test site also fixes the issue. @glendaviesnz @simison do you know when the new Gallery block will be available on WP.com sites? Is it worth hacking a patch together for the old version of the block at this stage?

[2021-09-28 20:52] jgcaruso commented on #56046
@Greatdane I'm curious if this video url works for you? https://videopress.com/v/wRXKBeY7 It is the direct VideoPress link for that same video you provided the audio error for.

I've tried viewing it in a few places and the audio and video are playing OK for me. So I'm starting to wonder if this particular issue might be CDN or connection related.

And just to clarify, this error message is separa

[2021-09-28 20:58] jerrysarcastic commented on #55680
Is there a possible regression here?  I noticed that a few themes I visit today have odd grey swatches (that cannot be selected) and I am wondering are these normally hidden?

Some examples pictured here (Twenty Seventeen and Dara) but seems to affect any legacy theme that offers custom colors.

<img width="481" alt="Screenshot on 2021-09-28 at 13-44-36" src="https://user-images.githubusercontent.

[2021-09-28 21:22] mreishus commented on #43592
I have a very rough proof of concept here: D67552-code + https://github.com/Automattic/wp-calypso/pull/56627.
It works for me, the sites I have updated more recently are at the top:
![2021-09-28_16-17](https://user-images.githubusercontent.com/937354/135167033-de8bb24c-bc4d-4f60-996f-563827963bb8.png)
The biggest concern in its current state **is that it likely adds too much backend load**. It doe

[2021-09-28 21:57] dkd903 commented on #56602
@noahtallen we have noticed these issues on 3 pages so far and all of them are public pages:

- WordPress.com/log-in
- WordPress.com/start
- WordPress.com/themes

[2021-09-28 22:37] p-jackson opened #56628 "Misalignment of text in the `/start` domain picker"
### Steps to reproduce the behavior

1. Go to `/start`
2. Click on a domain search

#### What actually happened

The left edge doesn't line up.

<img width="50%" src="https://user-images.githubusercontent.com/1500769/135174910-b3d0ecf6-aebc-4a26-9e9e-61333133f105.png">

#### What I expected to happen

This is what it used to look like, and what it looks like if we revert the changes to the reskinn

[2021-09-28 22:40] worldomonation opened #56629 "Flaky E2E: Signup: WordPress.com Paid > Cancel plan > Manage plan"
### Spec

wp-signup__paid.ts

### Suite

Manage plan

### Framework

Playwright

### Logs

Context: I suspect the navigation took place too quickly.

Possible mitigation: make `waitForNavigation` look for a specific URL scheme in all preceding navigations.
This way, the interactions that trigger the navigation will be forced to wait.

[code]

[2021-09-28 22:40] worldomonation commented on #56629
Not a frequent failure - seen only once so far. Low priority.

[2021-09-28 23:40] thekingsprojects commented on #53716
Another report at 31373558-hc

For now, the user is using the VideoPress embed block and video shortcodes as a workaround, although they'd prefer using the Video block because its playback controls include a "rewind" option where VP doesn't. Using the third-party Yaatra Mag theme.

[2021-09-28 23:53] creativecoder commented on #56373
Note that @zaguiini and I have started on the task "Add/update Calypso state to use wpcom/v4/sites/gutenberg", using the WIP endpoint in D67076-code

[2021-09-29 00:17] creativecoder commented on #54468
Upcoming Core change which should make this a bit easier: https://make.wordpress.org/core/2021/09/28/implementing-a-webfonts-api-in-wordpress-core/

[2021-09-29 06:14] Robertght commented on #35800
This is a core issue(https://github.com/WordPress/gutenberg/issues/17718) and it looks like there's some progress(https://github.com/WordPress/gutenberg/pull/32824) but it's not merged yet.

[2021-09-29 07:37] zdenys commented on #55739
It would have helped in 4334892-zd-woothemes where user mapped the domain but was not aware how to set the domain as primary.

[2021-09-29 08:04] hideandgeek404 commented on #55283
@bazza I have had the customer from 4334355-zen come back with the following having seen your comment about it being expected behaviour.

[2021-09-29 08:10] inaikem commented on #54990
@Robertght, do you think this is something for Flow Patrol could look into?

[2021-09-29 09:04] arcangelini commented on #56236
This is likely due to the way that WordPress.com used to serve avatars. It was a request made to the URL `$host/avatar`. When we switched to Gravatar I think we kept the `/avatar` to prevent it from breaking everywhere.

It looks like this was spotted a couple of years ago but fell through the cracks: p1575462107235800/1575405208.234200-slack-C02FMH4G8

I updated the Fieldguide post and made the c

[2021-09-29 09:17] sguzovskaia opened #56644 "Obsidian: Logo is not showing on Homepage"
### Quick summary

User can't get the logo to display correctly on the homepage. They have changed the logo in the Customizer and it displays correctly on other pages, but it is not showing anything on Homepage. They've reset the logo multiple times, deleted the old logo image from the site, and cleared the cache.

![Markup 2021-09-29 at 10 03 21](https://user-images.githubusercontent.com/47414943

[2021-09-29 09:22] arcangelini commented on #55937
Closing this, still unable to reproduce and it seems like it has been resolved in another PR.

[2021-09-29 09:22] #55937 closed, assigned to arcangelini

[2021-09-29 09:51] edwinho89 opened #56645 "Domain Connection resulted in Blank Page"
### Quick summary

When attempting to connect a domain , it resulted in a blank page with no further error messages

### Steps to reproduce

1. Visit "My Site > Upgrades > Domains" -- https://wordpress.com/domains/manage/
2. Select "I have a domain", or select "Add a domain to this site > Use a domain I own" -- https://wordpress.com/domains/add/use-my-domain/
3. Add existing domain name, click Nex

[2021-09-29 09:56] edwinho89 commented on #56645
Reported below:
4335076-zd-woothemes
26824556-hc

[2021-09-29 10:07] Robertght commented on #54990
Thanks! I've added it now. cc @Automattic/flow-patrol-create

[2021-09-29 10:10] fashuvo commented on #56645
Another instance at #13423140-hc

[2021-09-29 10:15] simison commented on #55680
@jeffikus ☝️ can you have a look?

[2021-09-29 10:18] Robertght commented on #55613
Thank you for reporting this!

Closing this in favor of this one: https://github.com/Automattic/wp-calypso/issues/56564

Looks like more legacy widgets are affected.

[2021-09-29 10:18] #55613 closed, assigned to nobody

[2021-09-29 10:19] Robertght commented on #56564
Flagging this for @Automattic/flow-patrol-create as it seems they are all legacy widgets.

[2021-09-29 10:30] Robertght commented on #54307
The way I understand this feature is that styles(Fill/Outline) should update as soon as they are changed, however, the default styles can't render a change as it should work with any new button blocks added after the change.

The button block updates the styles on my end correctly.

@poojashetty18 can you take a look and let me know if you're seeing another issue instead?

cc @yansern for a second

[2021-09-29 10:40] carinapilar opened #56646 "Query Loop: Open on New Tab Option"
### What

Add option to open links on a new tab

### Why

When you add a Query Loop block, choose the option to show the featured image from the posts, from the image's settings you will see a section called "Link Settings", which only has the option "Link to post", it could also have "Open link on new tab", which is now currently not possible to set up.

### How

_No response_

[2021-09-29 10:43] Robertght commented on #54265
I cannot replicate this on my end. @devNigel do you see the Secondary color as an option still?

[2021-09-29 10:45] Robertght commented on #55648
Flagging this for @Automattic/flow-patrol-create

[2021-09-29 10:48] poojashetty18 commented on #54307
Thanks for clearing that up! I wasn't aware that the default style would only apply to new buttons and not to the existing ones. We may probably need to update the support docs to clarify this.

[2021-09-29 10:58] Robertght commented on #56575
We're currently troubleshooting this here as I was unable to replicate the issue: EDhh-1kD-p2

[2021-09-29 10:58] hambai commented on #56645
That's probably related to #56614 - I'm testing this now and I'll either revert or do a quick fix

[2021-09-29 11:19] kriskorn commented on #56645
One more: 31736307-hc

[2021-09-29 11:28] yansern commented on #56564
Statuses of all legacy widgets are now being tracked here: 2a544-pb

[2021-09-29 11:34] arcangelini commented on #56236
Deployed

[2021-09-29 11:34] #56236 closed, assigned to arcangelini

[2021-09-29 11:56] #56603 closed, assigned to nobody

[2021-09-29 11:58] inaikem commented on #56603
Expected functionality. Simple sites do not permit not allow loading external files via CSS. see: https://wordpress.com/support/editing-css/#frequently-asked-questions.

Internal discussion is here: p1632916575392700/1632789758.337500-slack-C03TY6J1A

[2021-09-29 12:00] hambai commented on #56645
Okay, I just reverted the PR that introduced this. We'll fix the issue and fix it

[2021-09-29 12:00] #56645 closed, assigned to nobody

[2021-09-29 13:52] chriskmnds commented on #56353
Latest figma flow: Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15786

[2021-09-29 13:56] daria2303 commented on #55685
4335718-zd-woothemes
Using only Akismet, AMP, Gutenberg, Embed Plus for YouTube, Jetpack

[2021-09-29 14:19] dcoleonline commented on #55815
Not asked for explicitly, but came up in 4335311-zd

[2021-09-29 14:57] StefanNieuwenhuis commented on #56545
The outlines/rationale for the new design of the Welcome Tour are outlined in this P2 p9Jlb4-34s-p2, and the Figma files are available in Mh2ZK4ZkifXClvLEG5imNc-fi, hence we can close this issue!

[2021-09-29 14:57] #56545 closed, assigned to poligilad-auto

[2021-09-29 15:06] daledupreez opened #56654 "Task: Fix brittle CSS related to layout padding"
### Details

The `.layout__content` selector defined in `client/layout/style.scss` defines (and wraps) padding values that vary as the size of the viewport varies. These padding values are very specific with vertical values of `79px`, `71px`, and `calc( var( --masterbar-height ) + 1px )` depending on the viewport width.

In isolation, this is OK, but in practice we have various pages trying to ove

[2021-09-29 15:14] mreishus commented on #43592
The above approach doesn't work for RSS feeds like Wirecutter. We'll need to find a way to get the updated date for that, too. I'm not seeing a [last-modified date stored](https://github.com/Automattic/wp-calypso/issues/43592#issuecomment-648472361), eg `Feedbag_Meta::get( $sub['feed_id'], 'last-modified' );` returns nothing, but `Feedbag_Meta::get( $sub['feed_id'], 'title' );` successfully return

[2021-09-29 15:23] vindl opened #56655 "FSE beta: Update the list of available themes"
~Research if it's possible to refactor the existing design picker step in the FSE beta signup flow to use Themes API, similar to the approach here: https://github.com/Automattic/wp-calypso/pull/56528~

~Initial request from @ianstewart: "Ganon just made an update to the design picker code to use the Themes API. Can we use the same update for this screen to only use Themes from the Themes API that

[2021-09-29 15:42] StefanNieuwenhuis opened #56657 "Editor Welcome Tour: Replace dots navigation"
### Why
We want to improve the user-friendliness of the onboarding experience for (new) users.

### What
The dot navigation (see before screenshot) is not a11y-compliant and is inconsistent with other (onboarding) components, hence we want to replace it with a step indicator (see after screenshot).

### How
See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15866 for implementation details.

#### Before
<img wid

[2021-09-29 15:50] NoHopeRadio opened #56659 "Navigation Block: Dropdown Option"
### What

An option to display links as a dropdown menu in the Navigation Block

### Why

This was an option in the navigation widget, and is an option in similar blocks (categories block, for instance). It seems like an oversight that it is not an available option currently.

### How

_No response_

[2021-09-29 16:26] mreishus commented on #43592
Updated D67552-code to pull RSS dates @bluefuton

[2021-09-29 16:54] bobmatyas commented on #53978
@yansern We got a report of a possible regression on the forums:

https://wordpress.org/support/topic/publicize-to-linkedin-not-sharing-featured-image/?view=all#post-14920649

According to the user:

I did not have a chance to independently verify this.

[2021-09-29 16:57] AtrumGeost commented on #55815
Got another request here: 4336023-zd-woothemes

[2021-09-29 17:40] worldomonation opened #56664 "Playwright: add e2e tests for P2"
### Details

Investigate feasibility of adding automated e2e tests for P2s as part of the Gutenberg update process.

Context: p1632936169323300-slack-C7YPUHBB2

### Checklist

- [ ] Set up TeamCity task for P2 tests.
- [ ] Set up a testing P2 blog and user account.
- [ ] Set up a cron job to clear the test P2.
- [ ] Write test cases for the front-end editor.

### Related

_No response_

[2021-09-29 18:08] thekingsprojects commented on #56507
Another case here: 3147804-hc

Additionally, this site seems to be having trouble loading the actual "Widget" option; I had to wrestle with trying to access Customizer/Widgets through WP-admin to eventually get the proper widget area settings to load, and it wasn't always consistent.

[2021-09-29 18:39] ccwalburn commented on #54678
Another report where the Customizer doesn't recognize the visibility settings here: 4336648-zen

Also, if the visibility is set to display only on the posts page, then the widget doesn't display in the Customizer widget section either. If you hover, you can see the outline of a box like this:

![screenshot](https://d.pr/i/yyAtLM+)
Image URL: https://d.pr/i/yyAtLM

...and clicking on the white box

[2021-09-29 19:10] autumnfjeld opened #56669 "Feature Request: Welcome Notifcation in the Notifications Sidebar copy update"
## What

Update the Welcome Notification that new users receive in the Notifications Sidebar.

## Why

The Welcome Notification sent to  all new users via the Notifications Sidebar needs sharper copy. It's the first notification users see and it should be clear and deliver con

See the P2 for the in-depth discussion on improvements to the Welcome Card Notification pdgK6S-7z-p2

## How

Update the

[2021-09-29 19:29] benchilcote commented on #54990
Adding another report - 22972062-hc

Theme isola.  Simple site.

[2021-09-29 20:00] #56289 closed, assigned to creativecoder, zaguiini

[2021-09-29 20:16] lizswafford opened #56673 "Cookie & Consents Banner Widget: Warning for WordAds appears when WordAds is not active"
### Quick summary

Unable to change the Cookie & Consents Banner options in the Customizer > Widgets specifically for the section titled "Capture consent & hide the banner".

Unable to select any of the options in that section:
- after the user clicks the dismiss button
- after the user scrolls the page
- after this amount of time

Error message is visible:
Visitors must provide consent by clickin

[2021-09-29 20:50] AtrumGeost opened #56675 "Have an option to display Share and Like buttons independently"
### What

Right now it is only possible to turn off both sharing and like buttons. It would be cool if the Like button could still be displayed independently

### Why

Some users don't want the sharing buttons but they do want the like button:

22010869-hc

### How

_No response_

[2021-09-29 21:02] ccwalburn commented on #54990
Another report - 4335926-zen
Theme: Lovecraft

[2021-09-29 21:12] mattwiebe opened #56676 "Full Site Editing: Create a FSE card in Blog Report Cards"
### Details

Our blog report cards are the critical HEs and we should create a section for Full Site Editing

### Checklist

- [ ] explain how active status works
- [ ] result of `gutenberg_is_fse_theme`
- [ ] active status
- [ ] is_eligible status

### Related

_No response_

[2021-09-29 23:13] dcoleonline commented on #54990
Reported in 31927285-hc
Theme: Baskerville 2
We should follow up in 4337424-zen

Example:
![image](https://user-images.githubusercontent.com/3505172/135360786-1dacb518-9a65-4316-99f9-5cd9c6b3088d.png)

[2021-09-29 23:14] jordesign commented on #52591
I'm not able to recreate the ability to do that in Atomic - but just bumping this for future attention as it seems it is agreed that adding 'Try and Customize' to the ellipsis menu would be a good plan.

[2021-09-30 05:20] arunsathiya opened #56685 "Don't show deleted site address when changing the account username"
### Steps to reproduce the behavior

- Start with a WordPress.com account that has a matching site address.
- Delete that site.
- Visit https://wordpress.com/me/account to change the username
- Enter the new username
- See that you are asked if you would like a new, matching address site to be created. This question also includes the site that you deleted earlier.

#### What I expected to happen

[2021-09-30 06:19] aisajib opened #56687 "Twenty Sixteen: Visiting the attachment page displays the image as a site logo"
### Quick summary

If you visit an image attachment page on Twenty Sixteen, the image itself shows up as the Site Logo at the top left, even when there are no Site Logos set on the site.

### Steps to reproduce

1. Activate Twenty Sixteen on a Simple site.
2. Navigate to the Media (`/wp-admin/upload.php`)
3. Click on an image and then click the View attachment page
4. Wait for the attachment page

[2021-09-30 06:54] zdenys opened #56688 "Page Layouts: Social Icons Block looks wrong in some previews — buttons are too wide and vertical"
### Quick summary

The Social Icons Block in some Page Layout previews look wrong (too wide):

![image](https://user-images.githubusercontent.com/39308239/135401295-05418311-0e59-4ba4-8d0c-71befdb571b7.png)

Compared to how they look in the Editor once added:

![image](https://user-images.githubusercontent.com/39308239/135401332-443ec731-6d3d-4b0b-aa8a-b2fe30f6ec98.png)

### Steps to reproduce

1.

[2021-09-30 07:00] Robertght commented on #56688
Thank you for reporting this @zdenys !

I know @arcangelini had this already in sight as we could see it the other day in the Customizer, but now I can see it in the editor too.

cc @Automattic/flow-patrol-create

[2021-09-30 08:00] hideandgeek404 commented on #53102
4327740-zd-woothemes

Simple site
Custom domain as primary
No images - 403 error

Here is another reported instance of images not loading on a simple site when the custom domain is set as primary.

[2021-09-30 08:34] sanjeev00733 commented on #55388
Another user in 28613639-hc is not happy about using a direct link for the menu. They shared the feedback:

[2021-09-30 08:45] edwinho89 commented on #53953
31736030-hc

Safari 14.1 on Mac OS X 10.15.7

[2021-09-30 09:38] ellatrix opened #56691 "subscribe.wordpress.com: unclear wording"
### Quick summary

When I manage my **email** subscription, I see a list of blogs that I'm following with an unfollow button next to them. It's not clear to me if that button unfollows the blog on wordpress.com or if it unsubscribes me from the emails. (I just want to unsubscribe from emails but still follow the blog.)

As a workaround, I went to settings and tried "Block all email updates from bl

[2021-09-30 11:04] tellisbethel commented on #55388
Another request here: 31955316-hc
Provided direct link workaround: [DOMAIN]/wp-admin/nav-menus.php

[2021-09-30 11:09] #40201 closed

[2021-09-30 11:23] davoraltman commented on #56688
There's also another a different use case for the same issue:

1. Activate Twenty Eleven theme
2. Add the social icons block to a post, at the top (so that they are visible in the excerpt, in the blog posts overview)
3. Make sure that the Infinite Scroll is turned off
4. Scroll down on the Blog posts page and click on Older Posts so that the post where the social icons block is, gets displayed
5.

[2021-09-30 11:25] chad1008 opened #56695 "Gutenberg: v11.7.x plugin upgrade"
Previous upgrade: #56494
Release notes: [v11.7.0](https://github.com/WordPress/gutenberg/releases/tag/v11.7.0), [v11.7.1](https://github.com/WordPress/gutenberg/releases/tag/v11.7.1).

- [x] Install and activate
   - [x] Copy & install v11.7.0-rc.1 (D67985-code, D67986-code)
   - [x] Activate v11.7.0-rc.1 on edge (D67989-code)
   - [x] Copy & install v11.7.0 (D68373-code, D68374-code)
   - [x] Act

[2021-09-30 11:25] chad1008 commented on #56494
Barring any unexpected patches, that should be a wrap for 11.6.x, closing this issue out!

[2021-09-30 11:26] #56494 closed, assigned to nobody

[2021-09-30 11:41] StefanNieuwenhuis opened #56696 "Editor Welcome Tour: Update header"
### Why
In order to remove inconsistencies and hence improve the user experience, we want to update the Welcome Tour header.

### What
This issue consists of multiple subtasks. See the checklist for details.

#### Implementation details
See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15823 for implementation details.

#### When do the buttons have to be visible?
On mobile, both buttons are always visible, but

[2021-09-30 11:54] StefanNieuwenhuis opened #56699 "Editor Welcome Tour: Add slide title to header"
### Details

### Why
To bring more clarity and hence make the welcome tour friendlier to the users, we want to display the current slide title in the header. When the tour is minimized, we want to show "Resume welcome tour".

### What
See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15823 for implementation details.

### Note
There is already some work in progress regarding the minimized copy (see related issu

[2021-09-30 12:15] StefanNieuwenhuis opened #56700 "Editor Welcome Tour: Place minimize & close buttons to the top right of the header"
### Details

### Why
To make the UI more user-friendly, we want to always show the minimize & close buttons in the top-right corner of the header.

### What
See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15823 for implementation details.

#### When do the buttons have to be visible?
On mobile, both buttons are always visible, but on desktop, they are only visible when the user hovers over the header.
The but

[2021-09-30 12:22] StefanNieuwenhuis opened #56701 "Editor Welcome Tour: Change back & next button styling"
### Details

### Why
In order to improve the user-friendliness of the tour, we want to update the back & next button styling.

### What
The current buttons are styled as buttons, but we want to make them look like links.
See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15823 for implementation details.

#### The current status
<img width="411" alt="Screenshot 2021-09-30 at 14 19 37" src="https://user-images.gi

[2021-09-30 12:32] StefanNieuwenhuis opened #56702 "Editor Welcome Tour: Update start & end slide layout"
### Details

### Why
To create a more user-friendly experience, we want to _onboard_ the user to the welcome tour in the best possible way. The same goes for completing the tour, and that's why we want to create a different layout.

### What
For the start slide, see Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A15787 for implementation details.
For the end slide, see Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A16029 for im

[2021-09-30 12:34] StefanNieuwenhuis opened #56703 "Editor Welcome Tour: Add rating stars component"
### Details
### Why
In order to collect more usable user feedback about the Welcome Tour, we want to introduce a rating stars component that replaces the current thumbs up/thumbs down implementation.

### What
We want to replace the current implementation with a rating stars component. See Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A16029 for implementation details.

### Checklist

- [ ] Replace thumbs up/thu

[2021-09-30 12:48] StefanNieuwenhuis commented on #56703
@poligilad-auto, we currently have a great design for the initial state of the rating stars component (see Mh2ZK4ZkifXClvLEG5imNc-fi-596%3A16029) but how should it look when:
- The user hovers over the stars in different viewports (i.e. mobile & desktop)?
- The user clicks on a star to rate the tour? Do we have to show a message? Is it enabled or disabled (i.e. is the user able to change its ratin

[2021-09-30 12:57] arunsathiya opened #56704 "Comments: Clicking on "Bulk Edit" button crashes Calypso"
### Steps to reproduce the behavior

- Start with a WordPress.com site (doesn't matter if it's simple or Atomic)
- Click on the comments menu on the left
- Click on 'Bulk edit' button
- See that Calypso crashes with a white screen, and has a log on console as well

#### What I expected to happen

That the bulk edit button allows the user to choose comments.

#### What actually happened

Calypso cr

[2021-09-30 12:58] arunsathiya commented on #56704
30753684-hc.

[2021-09-30 13:00] arunsathiya opened #56705 "Ability to check PHP error log without contacting support"
### What

Users would like to check PHP error logs on their Atomic sites without contacting WordPress.com Happiness Engineers.

### Why

This is help customers self-service their theme or plugin crashes, without having to contact WordPress.com support team.

### How

I think it'd be neat to have the log automatically display on the `Hosting Configuration` area: https://wordpress.com/hosting-config

[2021-09-30 13:00] arunsathiya commented on #56705
31952947-hc.

[2021-09-30 13:28] dpasque opened #56706 "Playwright: Create async jobs to clean up E2E test data"
### Details

Some E2E tests will inevitably create and strand various test sites and posts. We should create async jobs to clean up that test data that run on a cron daily. This will prevent overtime data bloat that slows down tests or messes with API calls.

### Checklist

_No response_

### Related

_No response_

[2021-09-30 13:59] StefanNieuwenhuis commented on #56161
Note to myself: How to disable the default tour (p7DVsv-cqD-p2#comment-37138).

[2021-09-30 14:07] StefanNieuwenhuis opened #56708 "Editor Welcome Tour: Update copy for slides on mobile"
### Details

### What
Update the copy for the mobile slides in the Welcome Tour.
See https://github.com/Automattic/wp-calypso/issues/55826#issuecomment-910070777 for more details + copy.

### Checklist

- [ ]
- [ ]

### Related

#55826

[2021-09-30 14:08] StefanNieuwenhuis opened #56709 "Editor Welcome Tour: Add new slide for List View"
**Note**: when picking this one, first check the changes from https://github.com/Automattic/wp-calypso/pull/56347 as mentioned in https://github.com/Automattic/wp-calypso/issues/56709#issuecomment-987785753
___

### Details
We'd like to introduce a new slide to the Editor Welcome Tour to present the List View feature.

https://user-images.githubusercontent.com/12104589/135470978-95e76aad-c565-4aff

[2021-09-30 14:15] synora commented on #54721
Triaged. Working as expected. Within the Site Editor (on a simple site created via the Horizon flow), rotating images occurs instantly within Image Blocks.

https://user-images.githubusercontent.com/10015451/135472154-20ef746c-5813-4c1f-84ce-87e335e1eeee.mp4

Closing issue for now.

[2021-09-30 14:15] #54721 closed, assigned to nobody

[2021-09-30 14:40] #56699 closed, assigned to nobody

[2021-09-30 14:40] #56700 closed, assigned to nobody

[2021-09-30 14:40] synora commented on #54722
I've changed the Bug label to Enhancement. I agree, having some dummy menu text may help instead of gray rectangles.

[2021-09-30 15:07] synora commented on #56673
Triaged. Can replicate. Though I'm not sure, I think @Automattic/flow-patrol-create may be able to assist with this.

[2021-09-30 15:21] dpasque commented on #55643
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-30 15:29] dpasque commented on #56659
Going to mark as a bug actually for now - a loss of functionality might be perceived as a regression!

Tagging @Automattic/flow-patrol-create based on issue content.

[2021-09-30 16:05] kelliepeterson commented on #55739
We have updated the "Use a domain I own" flow to automatically set the domain name to primary if it is the first one being mapped. It hasn't been deployed to the onboarding flow yet, but once it is this issues should all but disappear. https://github.com/Automattic/wp-calypso/pull/56366

[2021-09-30 16:23] #56476 closed, assigned to pottedmeat

[2021-09-30 16:25] cuemarie commented on #56046
User from https://github.com/Automattic/wp-calypso/issues/56046#issuecomment-925425851 followed up 4319524-zd-woothemes to try providing additional information for troubleshooting.
- I recommended trying the shortcode workaround, as well as trying to embed the file with the URL's `_mp4_hd` removed, as this allowed the audio to play in browser for me.

[2021-09-30 16:37] dpasque commented on #56561
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-30 16:44] dpasque commented on #56704
Tagging @Automattic/flow-patrol-create based on issue content

[2021-09-30 17:27] jgcaruso commented on #56046
Loading the version of the video file without the `_mp4_hd` actually just serves the original file the user uploaded. So this won't be transcoded through our pipeline and will potentially be a larger file than needs to be served, but it should still work as long as the file is supported in all browsers it is viewed in.

For any customers who are using 3rd party players though, and are not using a

[2021-09-30 17:44] blackjackkent commented on #56446
I had started working on this but it looks like it's going to be addressed for free by @andres-blanco 's changes in D67392-code.

[2021-09-30 18:52] zaguiini commented on #56597
Resolved by #56674.

[2021-09-30 18:52] #56597 closed, assigned to nobody

[2021-09-30 19:30] kathleenjross commented on #53716
Another report with 4339738-zd

Offered user the workaround with the shortcode, but they wanted to have 1) autoplay on the video, and 2) turn off playback controls, so they would prefer the video block.

[2021-09-30 20:55] arcangelini commented on #56564
These widgets have actually been retired from WPCOM. For some reason, Legacy Block is not recognizing this. Just deployed a fix for this: D67640-code

[2021-09-30 20:55] #56564 closed, assigned to arcangelini

[2021-09-30 21:15] danieldudzic opened #56715 "[Bug]: Headstart isn't fully compatible with the Query block"
### Quick summary

While trying to create Headstart annotations for Quadrat, @MaggieCabrera and I have noticed that the Query block annotation didn't work correctly.

The Query block, allows to restrict posts based on Categories or Tags. The block saves that info using the ID of the taxonomy:

``

example: **"categoryIds":[1142]**

At the present time, there doesn't seem to be an option to specify

[2021-09-30 21:28] scruffian commented on #56715
I'm not sure this is a bug, I think its a known limitation of Headstart. I'm not sure if it's a good idea to fix it either - I think it might make more sense to use the core version of this feature (starter content) on WordPress.com.

[2021-09-30 22:21] worldomonation opened #56716 "Start: purchase on domain-only flow takes long time to complete"
### Quick summary

_No response_

### Steps to reproduce

prereq. set store sandbox cookie.

1. start at `/start/domain`.
2. search for a domain.
3. select a .live domain.
4. select `Buy just the domain`.
5. create an account.
6. checkout with a Stripe test card.

### What you expected to happen

The checkout should complete within a reasonable amount of time.

### What actually happened

The chec

[2021-09-30 22:44] #56602 closed, assigned to danielwrobert, jaswrks, claudiucelfilip, noahtallen, chickee0311

[2021-10-01 01:08] Greatdane commented on #55388
another request; 31969722-hc

[2021-10-01 02:56] jamiepalatnik commented on #53626
Saw this again on another Atomic site, 31385110-hc

[2021-10-01 03:08] yashitamittal11 commented on #55388
Another request here- #31899169-hc
Suggested user bookmark the direct link.

[2021-10-01 03:50] yansern commented on #53978
@bobmatyas Thanks for reporting this! I indeed, wasn't aware of the visibility aspect of posts when I migrated over to Shares API.

So here it is, another phab patch - D67701-code.

![2021-10-01_06-46-00](https://user-images.githubusercontent.com/1287077/135562397-fbb044c1-fa78-4a43-b77d-611df3495160.png)

[2021-10-01 04:07] arunsathiya commented on #28646
Tested again, still an issue.

[2021-10-01 08:23] Robertght commented on #54756
I can see this happening again. @brandonpayton is this something we can take another look into perhaps or should I open a new issue?

[2021-10-01 08:39] Robertght commented on #54269
I cannot replicate this on an atomic or simple site using the invite button or the subscription widget, but I saw it happen on the user's site.

I'm not sure if it's a one-off case, but I'm wondering if it could be looked into for the reasons mentioned in the report.

[2021-10-01 08:45] Robertght commented on #51540
I can confirm this is still happening.

[2021-10-01 08:59] Robertght commented on #56574
Flagging this for Flow Patrol Manage to take a second look. Also pinged in the P2 post.

[2021-10-01 09:06] Robertght commented on #56621
One similar report where using /widgets.php/ also did the trick: https://github.com/Automattic/wp-calypso/issues/55437

[2021-10-01 09:29] rickmgithub opened #56724 "Can we increase the number of episodes shown in the podcast player block"
### What

Increase the "number of items" in the podcast player block

### Why

Many podcasts have more than 10 episodes.

If the podcaster is hosting their podcast files on another service then they can only show 10 of their episodes on the podcast player block in their website here.

Is it possible to increase the number. It doesn't seem to be effected by the "writing" or feed number settings on

[2021-10-01 10:57] jartes commented on #56555
Another report on 30674719-hc. Adding the CSS from @sixhours fixed it. Thanks!

[2021-10-01 11:12] Copons commented on #56412
Could you clarify on this?

The stale navigation bug should only happen in a SPA context like Calypso (fixed by #56172).
In wp-admin, activating a theme involves a full-fledged page reload, which would inevitably also refresh the navigation.

[2021-10-01 11:48] yansern commented on #53978
Deployed!

[2021-10-01 11:48] #53978 closed, assigned to yansern

[2021-10-01 13:25] dcoleonline commented on #55648
4340416-zd

[2021-10-01 14:19] nickpagz commented on #56704
Another report here #31979176-hc
Suggested the classic view as a workaround.

[2021-10-01 14:53] dpasque commented on #54756
Tagging @Automattic/flow-patrol-create based on issue content

[2021-10-01 15:15] jamiepalatnik opened #59134 "Publicize: Not able to connect via desktop app"
#### Steps to reproduce

- Try to connect Facebook on Tools > Marketing > Connections

#### What I expected

I expected to be able to connect Facebook.

#### What happened instead

I was able to select a Facebook account, but then the app shows a blank screen.

#### App Version / OS version

- 7.2.0
- Mac OS 11.5.2

#### Screenshot / Video

![Screen Capture on 2021-10-01 at 09-14-11](https://user-

[2021-10-01 16:02] ClassicRKR27 commented on #55685
Another report here with Firefox: 4342066-zd-woothemes

This case was a bit more interesting because while disabling Gutenberg did ultimately resolve the issue, they were getting this error message in Firefox that I haven't seen before: https://snipboard.io/enuCSa.jpg

I was unable to replicate the issue in my version of Firefox and there are a lot of CLI notices coming from Varia with the Shawbur

[2021-10-01 18:23] kelliepeterson commented on #56230
@poligilad-auto Thoughts?

[2021-10-01 20:49] jeffikus commented on #55680
@simison I've added it to our board for the team to take a look at while I'm AFK next week.

[2021-10-01 21:08] sixhours commented on #56507
@mreishus Since we're waiting on Gutenberg here, what do you think about us adding a CSS `display: none` hack or similar on the Jetpack/WP.com side?

[2021-10-01 21:58] nicolynramos commented on #54990
Another report for Lovecraft, simple site - 31984931-hc

[2021-10-02 04:04] creativecoder commented on #56373
Endpoint is ready for review in D67076-code

[2021-10-02 06:21] zdenys commented on #52646
Closing this one, since the original one here has been fixed: https://github.com/Automattic/themes/issues/3202

[2021-10-02 06:21] #52646 closed, assigned to nobody

[2021-10-02 09:00] formosattic commented on #56510
Closing as unable to reproduce.

Please, open if it happens again.

[2021-10-02 09:00] #56510 closed, assigned to nobody

[2021-10-02 12:34] kingsleyinfo commented on #56704
Another report here: #4342665-ZEN
Suggesting the classic view as a workaround as well.

[2021-10-03 02:12] rw-ye commented on #56704
Another report: 4343442-zd-woothemes

[2021-10-03 04:02] donalirl commented on #55739
While this comes up very frequently, I wanted to report the case of #31611297-hc. They weren't able to figure out how to set their primary domain and as a result, cancelled their plan and moved to another host.

I wanted to note as well that they added their domain 7 days after going through the onboarding flow. I think there is still a good case for a prompt like this.

[2021-10-03 07:45] formosattic commented on #51641
+1 4341252-zd-woothemes

[2021-10-03 07:54] inaikem commented on #55388
Another request: 4345053-zen

@dpasque, could we get eyes on this when you have a moment? We have close to 50 interactions noted here, plus over 10 noted on these two issues:

- https://github.com/Automattic/wp-calypso/issues/49830
- https://github.com/Automattic/wp-calypso/issues/55553

[2021-10-03 08:15] retnonindya opened #56738 "WooCommerce Email setting: If user is using a free email service, have a notification to use a custom email or SMTP plugin"
### What

A nudge/notification for the user to use custom email (purchasing it from Google Workspace, Titan/Professional Mail, or other services) or using SMTP plugin when the user's email is GMail or Y!Mail

Under `WooCommerce > Settings > Email`:
![image](https://user-images.githubusercontent.com/15944096/136001106-68f8634b-01de-4451-8a76-f9e1b6c728ea.png)

### Why

Users might found their email

[2021-10-03 09:22] kspilarski opened #56739 "Themes: More block not displaying"
### Quick summary

More block can be added in a page or post editor, but it's not displaying in the preview or live page.

### Steps to reproduce

1. use any of these themes
- Twenty Twenty
- Twenty Twenty One
- Twenty Nineteen
- Barnsbury
- Alves
- Mayland
- Seedlet
- Maywood
- Balasana
- Baker
- Pollard
- Spearhead
- Dalston
- Rivington

2. Create or edit post or page
3. add More block
4. save d

[2021-10-03 19:37] TeniCola opened #56740 "Canard Theme: Search bar and mobile menu will not work when AMP is in Standard mode"
### Quick summary

On the Canard theme, when the AMP plugin is enabled and set to Standard mode, it will prevent the built-in search bar and mobile menu from working on the website (the search bar for all views, the hamburger menu for mobile/tablet view)hamburger

### Steps to reproduce

1. Activate the Canard theme on a website (it will need to go atomic for step 2)
2. Activate the AMP plugin, an

[2021-10-03 21:59] glendaviesnz commented on #56555
PR to fix this https://github.com/WordPress/gutenberg/pull/35309

[2021-10-04 00:12] glendaviesnz commented on #56555
Fix merged in https://github.com/WordPress/gutenberg/pull/35309

[2021-10-04 01:30] inaikem commented on #56555
I'm reopening this as @Automattic/bug-herders will be sending out replies to affected users once this is deployed to WPcom.

@sixhours, could you please ping us here once that's done so we can jump into action?

[2021-10-04 02:12] kangzj commented on #55090
And we could possible use some rest APIs to keep the logic in one place since we have all our libs now. 😄

[2021-10-04 02:22] kangzj opened #56741 "Jetpack Search: two `Search` submenu for atomic sites"
### Quick summary

Two Search submenu under Jetpack in the sidebar.

![image](https://user-images.githubusercontent.com/1425433/135784073-254d8151-9d7e-4845-8096-504f90715c83.png)

### Steps to reproduce

1. Open a atomic site with Jetpack Search subscription
2. Open Calypso, expand Jetpack menu in the sidebar
3. You could find two `Search` sub menus

### What you expected to happen

Only one Sear

[2021-10-04 02:26] arinoch opened #56742 "Upsell Opportunity: Custom CSS and other disallowed (see: javascript, etc) code"
### What

I'd like to see the following happen when a user not on a business plan with plugins attempts to install CSS code that is otherwise not allowed on their site. If a premium user, prompt to upgrade to the business plan in order to use this code. If the user upgrades, or if the user is already on the business plan, treat them as we do any other feature specific to the business plan--display

[2021-10-04 02:28] arinoch commented on #56742
This request originated in an internal discussion at p1632789758337500-slack-C03TY6J1A in which I initially treated it as a bug/feature parity issue. It is believed, while not explicitly a bug that needs fixed, this would be an improvement over the current process.

[2021-10-04 03:17] scinos commented on #55184
Bloqued until https://github.com/yarnpkg/berry/commit/cb2623dcdcbe2428af5d91cbbc7cac6b975f825f is released

[2021-10-04 03:22] arinoch opened #56743 "Payment Methods: Unable to add PayPal despite PayPal being available."
### Quick summary

When navigating to Purchases > Payment Methods, you only have the option to add a credit card. Even in countries where other payment methods are available, the option for credit card is the only one.

### Steps to reproduce

1: Either create, or log into, a free account.
2: Visit: https://wordpress.com/me/purchases/add-payment-method
3: You'll only see one payment method here.

[2021-10-04 05:55] kosiew opened #56745 "Add feature to also Publicize to Reddit"
### What

Request to be able to publicize to Reddit like Publicize to Twitter, Publicize to  Facebook

### Why

Reddit is a popular social platform and there are Customers who request for this feature.

Here is an example request - 4347234-zd-woothemes

### How

_No response_

[2021-10-04 08:16] inaikem commented on #56616
Pinged @ahmadbaig1 re using Bugomattic and added the issue to the HE Triage board.

[2021-10-04 08:28] poligilad-auto commented on #56230
Thanks for bringing this to our attention @kuropixel.

@kelliepeterson in the new table design, not all the domain area will be clickable. I think clicking on the domain name or on an action in the "3 dots" should take you to the internal domain page, so we can eliminate clicking on the domain by mistake in that way. This will also make the "3 dots" more accessible as you will see that it's clicka

[2021-10-04 08:48] kuropixel commented on #56230
@poligilad-auto Thank you for your reply. I'm not against the "3 dots" menu. Hearing the table design may help with this issue is great. I had certain types of customers as well as my own parents in mind when I was checking the domains page. Appreciate the info!

[2021-10-04 09:24] poligilad-auto commented on #56230
@kuropixel of course and please keep this feedback coming! It always helps us improve :)

[2021-10-04 09:35] aisajib opened #56747 "Blogger Import: Apostrophes have a backslash after import"
### Quick summary

We got a report that a Blogger import is causing issues with apostrophes. Every apostrophe on WordPress.com (after importing from Blogger) has a backslash before them.

### Steps to reproduce

1. Following the instructions [here](https://wordpress.com/support/import/coming-from-blogger/#import-to-word-press-com), go to My Sites → Tools → Import → choose Blogger.
2. Upload the fi

[2021-10-04 11:46] carinapilar opened #56751 "FSE: Hide FSE Blocks from Email to Followers"
### What

Add an option to hide FSE blocks from the emails sent to followers.

### Why

When creating a new post, if you're using the Blank Canvas theme for example, you will probably use FSE blocks such as Site Title, Post Title, Navigation, etc., once the post is published, site followers will get all those blocks on the email too, which is confusing, because it's actually part of the site itsel

[2021-10-04 12:25] kspilarski opened #56752 "Themes: Pinterest.co.uk shows as link icon"
### Quick summary

In social menu, .co.uk Pinterest link like `https://www.pinterest.co.uk/username1` shows as a link icon instead of Pinterest icon.

 If it's .com Pinterest link like `https://www.pinterest.com/username2`, it will show the Pinterest icon:

<img width="1253" alt="Screen Shot 2021-10-04 at 2 13 07 PM" src="https://user-images.githubusercontent.com/36863633/135849590-cdd0a4d4-569c-4

[2021-10-04 14:26] dpasque opened #56753 "Chore: Deprecate Baymax testing bot"
### Details

We have an old testing bot that could provide common flows to folks in Slack.

Details are here: p6fDka-6j-p2

We should deprecate that bot in favor of our internal use case generator, and update any old documentation to point to that use case generator.

### Checklist

- [ ] Deprecate the Baymax testing bot
- [ ] Update FG docs to point to the use case generator
- [ ] Add a comment o

[2021-10-04 14:31] dpasque commented on #42056
Reopening so it can be tracked for easily from the A8c side.

[2021-10-04 14:57] sixhours commented on #56555
@inaikem Sure, do you know where I can keep track of the release schedule for Gutenberg on WP.com?

[2021-10-04 15:04] mmtr commented on #56496
As discussed in p3hLNG-18B-p2, we're finally to expose a new property to all the purchases objects returned on API endpoints, so we don't need to create a new endpoint.

I think we could add a new `is_locked` property in the `set_properties_for_purchases_rest_api` function (`wp-content/admin-plugins/wpcom-billing/store-subscription.php`) when the blog sticker is present and the purchase requires a

[2021-10-04 15:05] mmtr commented on #56498
As discussed in p3hLNG-18B-p2, we're finally exposing a new property to all the purchases objects returned on API endpoints, so we don't need to consume a new endpoint.

Instead, Calypso will check the new property of a given purchase (suggested name: `is_locked`) and hide all the managements actions when true.

[2021-10-04 15:33] dpasque commented on #55388
Pinged in Slack to start getting some eyes on this: p1633361587184500-slack-C01VDMPHG69

[2021-10-04 15:46] ghost opened #56755 "[Bug]: Zero-width non-joiner Character in Persian"
### Quick summary

I had a user in chat today who said that they are unable to type using Persian language as the Zero-width non-joiner character doesn’t work any more. They said it happened since September 1.

For example this word must be this: می‌شود but in editor show this می شود<br>Since the language was not known to me, @rachelmcr tested this and reported:<br>I can reproduce this when I try

[2021-10-04 16:01] rachelmcr commented on #56755
I added more details around steps to reproduce and a workaround; let me know if I can be of any further help!

[2021-10-04 16:14] sixhours opened #56756 "[Bug]: Reader: "Load more sites" sometimes leaves browser sidebar stuck, unable to scroll up"
### Quick summary

As a follow up to #56660, sometimes when you click "Load more sites" in the sidebar, you can't scroll back up the list.

### Steps to reproduce

1. Open the Reader on an account that has more than 50 followed sites
2. Click "Load more sites" at the end of the Followed Sites list
3. Try to scroll back up to the top of the sidebar.

### What you expected to happen

You should be a

[2021-10-04 16:47] sixhours commented on #43592
This has shipped to Automatticians in D67552-code and will be rolled out to everyone today via #56660

[2021-10-04 17:17] mikeicode opened #56757 "Quadrat: More control needed for spacing under page titles"
### What

There are 2 Spacer blocks under page titles, resulting in a large gap. Ideally we would have a way to adjust these without custom CSS. Even using custom CSS is tricky since the HTML structure of this area doesn’t have many uniques classes to target.

### Why

The gap is large and may result in a decent amount of CSS Requests.

![Screen Shot on 2021-10-04 at 13:09:26](https://user-images.

[2021-10-04 17:18] worldomonation opened #56758 "User Invites: failure to process invites observed after 15+ consecutive invitations sent"
### Quick summary

When a user sends out many user invites repeatedly, Calypso can display a message banner stating failure to process the invitation.

### Steps to reproduce

1. start at `/people/invites`.
2. click on invite.
3. enter an email address.
4. select the following parameters:<br>a. Editor<br>b. Custom message: 'testing'
5. send invitation.

Repeat this between 15-40 times quickly, eit

[2021-10-04 17:45] #56472 closed, assigned to worldomonation

[2021-10-04 18:27] blackjackkent commented on #55171
Posted at pdgv5Y-gg-p2

[2021-10-04 18:27] #55171 closed, assigned to blackjackkent

[2021-10-04 19:16] Robertght commented on #56740
Thank you for reporting this @TeniCola! I'm checking with the Themes team for more details.

[2021-10-04 19:16] jp-imagines commented on #55388
Another request in 32027687-hc, gave user the direct link.

[2021-10-04 19:27] mreishus opened #56762 "[Bug]: Some users are in the 'default' color scheme, an unselectable colorscheme."
### Quick summary

* Selecting the color scheme labeled 'default' actually assigns you to 'classic-dark'. You can tell by looking at the classes on the body tag; you'll have a `is-classic-dark` class on it.
* However, some users still have the `default` color scheme, as evidenced by the `is-default` class on their body tag.
* They may experience obscure bugs like: https://github.com/Automattic/wp-

[2021-10-04 20:03] zaguiini commented on #56373
The sticker name change from `core-site-editor-enabled` to `core-fse-eligible` is ready for review in D67840-code.

[2021-10-04 20:08] #56471 closed, assigned to worldomonation

[2021-10-04 20:15] worldomonation opened #56764 "Playwright: create e2e flow for Comment: Bulk Edit flow."
### Details

https://github.com/Automattic/wp-calypso/issues/56704 outlines a High Priority issue encountered by customers when they go to bulk edit their comments.

https://github.com/Automattic/wp-calypso/pull/56754 is the fix for the issue.

### Checklist

_No response_

### Related

_No response_

[2021-10-04 21:26] dpasque commented on #55947
Fixed in #55991

[2021-10-04 21:26] #55947 closed, assigned to dpasque

[2021-10-04 21:39] kwight commented on #54657
Hm, I have the same experience as @taggon on WP.com – no issue.

![2021-10-04 14 37 23](https://user-images.githubusercontent.com/349751/135928357-1fb986af-7efb-43b9-8f6a-872e55c9997b.gif)

[2021-10-04 21:52] kwight opened #56769 "Launch Bar: Implement new design of the front-end launch bar."
# Blogger Flow v1:  Launch Bar on Front-End
## This is iteration 5 in production of Blogger Flow v1.  👏

As part of the Blogger Experience pod, @ollierozdarz has tweaked the design for the front-end launch bar.

| Before | After |
| --- | --- |
| ![before](https://user-images.githubusercontent.com/349751/135929645-566af394-c7e8-4c33-97c1-ffba7d3fbfd2.png) | ![after](https://user-images.githubuserc

[2021-10-04 21:55] kwight commented on #56769
@ollierozdarz @ianstewart a couple of questions:

Does that seem reasonable?

Also, the one redeeming quality of the original version is that it clearly tells the user that their site is not launched – that's not at all obvious in the new version (particularly for a new user that doesn't really know what that means). Should we have a short description, or other treatment to make it more understand

[2021-10-04 22:03] worldomonation commented on #49847
Still an issue, reproduced.

[2021-10-04 22:05] worldomonation commented on #47680
Still reproducible on
[code]

[2021-10-04 22:05] worldomonation commented on #47680
Adding low priority as this is quite a specific use case.

[2021-10-04 22:07] worldomonation commented on #20299
Clearing stale label as this is a feature that would be nice to have.

[2021-10-04 22:26] worldomonation opened #56770 "Flaky E2E: Commenting on notification post"
### Spec file

wp-notifications__trash-spec.js

### Suite or step

Comment on the post

### Framework

Playwright

### Logs

[code]

[2021-10-04 23:12] worldomonation commented on #49486
Still reproducible, it is a jarring experience.

[2021-10-04 23:19] worldomonation commented on #49578
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue but was unsuccessful. Please see the video below.

https://user-images.githubusercontent.com/6549265/135937061-8c61e673-e644-48ab-a9d2-ef45ea1ed48d.mov

OS: macOS Big Sur 11.6
Browser: Firefox Nightly 94.0a1.

As I was not able to reproduce this issue

[2021-10-04 23:19] #49578 closed, assigned to nobody

[2021-10-04 23:22] worldomonation commented on #49703
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue but was unsuccessful:

[code]

1. start new post.
2. insert `Navigation` block.
3. insert existing menu.
4. add `Social Icons` block.
5. add multiple social icons.

If this issue should remain open, please feel free to re-open this bug.

[2021-10-04 23:22] #49703 closed, assigned to nobody

[2021-10-04 23:28] worldomonation commented on #49265
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this on both Firefox 94.0a1 using mobile emulation and a physical iPhone 7 device, but was unable to reproduce.

See attached screenshot of emulated mobile device. The physical iPhone also sees the same outcome.

![Screen Shot 2021-10-04 at 4 28 11 PM](https://u

[2021-10-04 23:28] #49265 closed, assigned to nobody

[2021-10-04 23:32] worldomonation commented on #49242
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue on Firefox 94.0a1 and accessing Gutenboarding, then changing language to Hebrew.

![Screen Shot 2021-10-04 at 4 31 42 PM](https://user-images.githubusercontent.com/6549265/135937997-fd25b353-112e-4978-99a3-1cb4b486bd2e.png)

[2021-10-04 23:33] ollierozdarz commented on #56769
@kwight nice work!

That sums it up perfectly. While we're not telling the user their site isn't launched in a paragraph, I'm happy to ride it out to see what a different providing these options make. I think it's too early to push launching so heavily (as we've been doing) in this bar, so I'm happy if we capitalize on that later in the flow (i.e. through Launchpad or My Home).

[2021-10-04 23:33] worldomonation commented on #49236
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this issue easily on Firefox 94.0a1.

In the console:

[code]

[2021-10-04 23:36] worldomonation commented on #49130
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I tried to reproduce this issue in the locations specified, but have not been able to do so.

Browser: Firefox 94.0a1
OS: macOS Big Sur 11.6

As there has been no recent activity on this issue it is being closed with the label `Closed - Not Reproducible`.
If this issue should remain ope

[2021-10-04 23:36] #49130 closed, assigned to nobody

[2021-10-04 23:39] worldomonation commented on #49791
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was able to reproduce this on Firefox 94.0a1 on:
[code]

![Screen Shot 2021-10-04 at 4 39 00 PM](https://user-images.githubusercontent.com/6549265/135938526-3aadbb74-3949-47c6-b0d4-8ffdde65673e.png)

[2021-10-04 23:42] worldomonation commented on #49419
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I was unable to reproduce this issue on Gutenboarding with Firefox 94.0a1, Chrome 94 and Safari 15.0.

Closing as `Closed - Not Reproducible`.

![Screen Shot 2021-10-04 at 4 41 15 PM](https://user-images.githubusercontent.com/6549265/135938750-435d7a74-7fd5-4c37-b969-ac3b24649cb5.png)

[2021-10-04 23:42] #49419 closed, assigned to nobody

[2021-10-05 01:08] autumnfjeld commented on #55603
* Any first time visit to the Page Editor (not the post editor) always show the Welcome Tour

Confirmation from Ollie: pdgK6S-bD-p2#comment-381

And for translations, ship to EN-locales first, then when translations are done, ship to all users.
pdgK6S-bD-p2#comment-380

[2021-10-05 05:24] inaikem opened #56775 "Theme: Twenty Twenty not respecting custom font-sizes in Paragraph Block"
### Quick summary

- This appears to be a theme-related bug for Twenty Twenty on Simple sites only.
- When setting a custom font size in a paragraph block on the above theme, setting the theme to a "small" font such as 18px results in the font rendering as 13px on previewed/live content.
- On Atomic/self-hosted sites, the font size set in the editor is respected.

### Steps to reproduce

1. Create

[2021-10-05 05:44] lsl opened #56776 "Implement woocommerce-installation for business plans on simple"
The current /woocommerce-installation/ menu item in calypso only supports installation of WooCommerce for Business plans on Atomic sites. We want to expand this to Business and premium plans on simple or atomic. Due to other blockers for premium plan atomic transfers limit the scope of this ticket to working on business plans on simple.

- [x] Unblock the atomic only restriction
- [x] Add a wpcoms

[2021-10-05 07:10] lsl opened #56777 "[Bug]: Editor render breakage when cutting and pasting into the title on wpcom"
### Quick summary

Cutting and pasting text from and to the title of a new post breaks the editors rendering.

Confirmed WordPress.com only, FF only.

https://user-images.githubusercontent.com/811776/135975248-a0955647-23ab-4979-b0a6-1353262c231e.mp4

### Steps to reproduce

1. Create a new post
2. Type out a title "test title and stuff"
3. Select "and stuff"
4. Cut the text with ctrl/cmd+x
5. Hit

[2021-10-05 07:10] kuropixel commented on #56704
Another report, was able to duplicate: 4348506-zd. Classic view seems to be the current workaround, will suggest.

[2021-10-05 07:16] formosattic opened #56778 "Dyad 2: Featured Image not updated if Front page is also a WooCommerce Shop page"
### Quick summary

_No response_

### Steps to reproduce

1. Create page X, with a featured image
2. Under `WooCommerce > Settings > Products`, set X as the `Shop page`
3. Set X as the `Front page`, and check the featured image showing
4. Change the featured image of page X

### What you expected to happen

Front page should update with the new featured image set on page X.

### What actually happ

[2021-10-05 08:02] Nic-Sevic opened #56779 "Unlaunched/coming soon site: user able to follow through reader and then see posts"
### Quick summary

If a user searches for and follows a site via the reader they are then able to see any content on a coming soon site even if the site has not yet been launched. If you launch and set back to coming soon the content is hidden again (at least when I tested from an already launched site).

### Steps to reproduce

1. Find/create site and do not launch
2. With another account search

[2021-10-05 08:07] formosattic commented on #43923
Edited the initial message for clarity, and remove user-related info.

I was able to reproduce, but it's a different translation issue @mrfoxtalbot, but maybe related, thanks for linking.

My test setup:

* Site language set to Spanish
* Subscriber has WordPress.com account with account language set to French

On a site with site language set Spanish, after subscribing, I get a message in Spanish:

[2021-10-05 08:16] CoachBirgit commented on #31779
User turns received customer feedback manually as site admin into comments to a dedicated page. They would like to edit the comments in a later step and add images by adding them with the Markdown options as HTML tag`img` to the comment text.

They demonstrate the process with a video. They use the WP.com view (Calypso).
After saving the comment with valid HTML for the image, the HTML gets strippe

[2021-10-05 08:27] sophiegyo opened #56781 "Pullquote block + Gutenberg plugin: border color - custom colors work, "default" theme colors do not"
### Quick summary

Pullquote block within **Gutenberg on wpcom** - border color issue on published page, but it works in the editor.

* Selecting a 'custom color' works just fine for both editor and published page.
* Selecting a default color dot from the theme's palette makes it appear in the editor, but not on the published page.

### Steps to reproduce

1. Start at any wpcom site (Simple or Ato

[2021-10-05 08:29] formosattic commented on #56644
Closing as it was a theme setting, logo is to be set under `Appearance > Customize > Theme Options > Front Page Logo`.

Obsidian theme guide: https://web.archive.org/web/20210830120841/https://wordpress.com/theme/obsidian

[2021-10-05 08:29] #56644 closed, assigned to nobody

[2021-10-05 08:57] #56421 closed, assigned to dsas

[2021-10-05 09:31] formosattic commented on #56724
Link to test: https://distributed.blog/category/podcast/feed/

The max setting is 10.
![image](https://user-images.githubusercontent.com/15944096/135997359-3b60b13b-7b20-4252-a90f-e403b4ae6c73.png)

Moving to Jetpack repo.

[2021-10-05 10:03] formosattic commented on #56738
I edited the original message to clarify some details.

WooCommerce has some tips at https://docs.woocommerce.com/document/email-faq/

At WordPress.com, we could indeed be more proactive with reminding users about this?

Internal convo: p1633428171340800-slack-C01UW7SB411

[2021-10-05 10:11] Nic-Sevic commented on #53723
another instance of this here: 32036875-hc

[2021-10-05 10:28] vindl commented on #56312
In pd2n8V-90-p2 we decided to remove the beta sidebar item for all users since Horizon is no longer suitable for beta testing on Dotcom.

[2021-10-05 10:36] formosattic commented on #56742
Related: https://github.com/Automattic/wp-calypso/issues/56603

Agree that there's an opportunity that could be made more clear, to guide users towards a solution to use some CSS code not allowed on the Premium plan, such as `@import` and `@font-face`, see https://wordpress.com/support/editing-css/#frequently-asked-questions.

Currently here's what happens:

![troubleshooting](https://user-images.

[2021-10-05 10:42] mmtr commented on #56061
As outlined in pdgTfM-3Y-p2 and pdgTfM-4r-p2 we're finally incorporating the content of this email into https://github.com/Automattic/wp-calypso/issues/56059.

[2021-10-05 10:42] #56061 closed, assigned to nobody

[2021-10-05 10:43] Nic-Sevic commented on #54678
another similar case here: 29674548-hc

This one's AT though and there is no option that I see to sticker the blog as block widgets disabled

Additionally, if you try to update the visibility in the widgets.php page it won't save; you can only change the visibility in the customizer

[2021-10-05 10:46] mmtr commented on #56059
Thanks @onuro, it looks great! As noted in pdgTfM-4r-p2, we're finally using the existing template to expedite a little bit our velocity. Once we ship a first iteration, we'll look into creating a new template according to your design.

[2021-10-05 10:51] mmtr commented on #56058
Thanks @onuro, it looks great! As noted in pdgTfM-4r-p2, we're finally using the existing template to expedite a little bit our velocity. Once we ship a first iteration, we'll look into creating a new template according to your design.

[2021-10-05 11:36] #56704 closed, assigned to alshakero

[2021-10-05 11:36] alshakero commented on #56704
Fix is being deployed. Should be live in 30 mins.

[2021-10-05 11:45] mmtr commented on #56496
Diff ready for review: D67879-code.

[2021-10-05 11:49] alshakero commented on #56704
Fix is live! Would be nice to inform the users that the issue is fixed.

[2021-10-05 12:55] benchilcote commented on #56046
Another report #4350580-zen.  They are using Elementor video blocks.  I have suggested shortcode for a workaround

[2021-10-05 13:08] #56447 closed, assigned to andres-blanco

[2021-10-05 13:36] jgcaruso commented on #56046
@benchilcote

Another tip for Elementor, if they use the "W Video" instead of the "Video" block/widget (if they aren't already) the proper video player should also load
<img width="305" alt="Screen Shot 2021-09-28 at 4 23 26 PM" src="https://user-images.githubusercontent.com/4081020/136033789-a0d4c8b5-71ee-4e6d-8440-3033de883704.png">

[2021-10-05 13:45] #56582 closed, assigned to sixhours

[2021-10-05 14:10] mreishus commented on #49528
I think closing this and creating a new issue would help @Robertght

[2021-10-05 14:16] delputnam commented on #56548
@rafaelgalani I think the PR you're currently working on will address this, but pinging you here just to make sure.

[2021-10-05 14:24] #56497 closed, assigned to nobody

[2021-10-05 14:41] tellisbethel commented on #54038
Ticket tied to the above https://stripe.com/india-data-storage-faq issue: 4300066-zd-woothemes
Payments Admin Orders page showing: "Payment information can no longer be cloned into or out of India"

[2021-10-05 14:43] synora commented on #56743
Hi @arinoch,

This seems more like an enhancement request rather than a bug. Our public facing support doc says this:

Link: https://wordpress.com/support/payment/#add-a-credit-card-to-your-account

[2021-10-05 14:56] arinoch commented on #56743
Should I resubmit this accordingly, then? I can close this issue and reopen it as a feature request if that’s the proper course. Thank you for the free education.

[2021-10-05 15:14] davipontesblog opened #56790 "Media: Attachment pages not displaying image comments"
### Quick summary

I am not quite sure how reproducible this is but logging it anyway since I just helped a user with this. Please be aware of the very specific setup below for this user's site.

On this site, the comments were not showing, unless under `Media > Click image > Edit more details` I clicked `Screen Options` and "showed" both `Comments` and `Discussion`. Somehow, this triggered the at

[2021-10-05 15:15] davipontesblog commented on #56790
User report: 4349501-zd-woothemes

[2021-10-05 15:18] kerrynicl commented on #56747
Triaged. Can replicate in testing

[2021-10-05 15:28] kimerlin81 commented on #56781
I can reproduce this issue: the default border color does not display on the actual site, but it does reflect in the editor.

I've included a screen recording of how the updates apply.

(Atomic) Themes tested:
Dalston
Twenty Twenty One
Rivington
Exford

https://user-images.githubusercontent.com/83732167/136053001-07c70a95-774b-4ad2-8baf-065286f85269.mp4

* I did notice that changing the CSS for th

[2021-10-05 15:28] alshakero commented on #56249
Hi @jeherve! I searched the Jetpack channel and found a couple threads around Jetpack and `wp_set_script_translations`. This bug seems to be yet another instance of jetpack strings not being picked up.

It seems all strings under the `jetpack` domain aren't being loaded nor translated. It looks like as if [this line](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/class.

[2021-10-05 15:41] andres-blanco commented on #56443
This task is complete with D67598-code

[2021-10-05 15:41] #56443 closed, assigned to andres-blanco

[2021-10-05 15:54] cpapazoglou opened #56792 "[Bug]: Installing a plugin not existing to the .org directory through calypso results in a loading screen"
### Quick summary

After users upload a plugin in Calypso we redirect them to the Calypso plugin details page. This page retrieves the plugin details from the .org directory. If you try to upload a plugin that doesn't exist in .org directory then you are stuck with a loading screen.

We have discussed this in our pod and suggested that ~~after any manual plugin install users are redirected to WP A

[2021-10-05 15:57] cpapazoglou opened #56793 "[Bug]: Searching for plugins in Calypso doesn't have pagination"
### Quick summary

We will need to add pagination to the Calypso plugins search list. Let's use the Marketplace new designs for plugins search list oU6nEIeiKSg8CayhEtgR6b-fi-6559%3A46946

### Steps to reproduce

1. Start at `https://wordpress.com/plugins/[DOMAIN]`
2. Search for `woocommerce`

### What you expected to happen

I expected to be able to find more than 24 plugins

### What actually hap

[2021-10-05 16:00] synora commented on #56743
Nope. No need to resubmit it. I've switched the labels so everything's all good now. 😄

[2021-10-05 16:01] andres-blanco commented on #56445
Merged in D67263-code

[2021-10-05 16:01] #56445 closed, assigned to andres-blanco

[2021-10-05 16:02] alshakero commented on #56012
You nailed it @inaikem! Allowing 3rd party cookies fixes the issue. I'll add more details shortly.

[2021-10-05 16:04] rambogenius commented on #56755
I will follow up with the user, with that workaround. Thanks

[2021-10-05 16:20] alshakero commented on #56012
Alright, so it seems TikTok tries to fingerprint users using session storage and other utils, and when you block 3rd party cookies, even touching `SessionStorage` throws an error. TikTok seems to check if `sessionStorage` is undefined, but even that check throws.

They'll need to add a try catch around it. Here is the [faulty line](https://sf16-scmcdn-va.ibytedtos.com/goofy/tiktok/web/node/_next/s

[2021-10-05 16:43] kimerlin81 commented on #56779
I've tested several times with existing (simple and atomic) sites, but I'm unable to reproduce this.

I followed these steps:

1. Find/create site and do not launch
2. With another account search the site address in reader and follow
3. pull up site address and see content

However, each time I viewed a site after following it, the "Coming soon" page displays (not the site content).

I then create

[2021-10-05 17:04] cpapazoglou commented on #56277
Closing this in favor of
https://github.com/Automattic/wp-calypso/issues/56792
https://github.com/Automattic/wp-calypso/issues/56793

[2021-10-05 17:04] #56277 closed, assigned to JanaMW27

[2021-10-05 17:05] alshakero commented on #55680
I'll take a look since I'm probably the one who introduced the regession.

[2021-10-05 17:10] #56655 closed, assigned to Copons

[2021-10-05 17:27] synora opened #56797 ""What's New" Feature Broken on Atomic Sites"
### Quick summary

The "What's New" feature doesn't appear once clicked on for Atomic sites. It's working as expected on Simple sites.

My Atomic test site:

https://user-images.githubusercontent.com/10015451/136072304-6fb7e7e4-4ccb-4b07-bf82-0df066ad5b34.mp4

My Atomic site with the Site Editor enabled:

https://user-images.githubusercontent.com/10015451/136072344-0310b37d-5209-4033-a0f2-53c19c3c

[2021-10-05 17:27] alshakero commented on #55680
Fix ready for review in D67925-code

[2021-10-05 17:42] worldomonation commented on #55845
Another instance at https://teamcity.a8c.com/buildConfiguration/calypso_Calypso_E2E_Playwright_desktop/6793917:

[code]

[2021-10-05 17:46] mikeicode opened #56798 "Blockbase & Child themes: Logo size option"
### What

Ideally there would be a way to increase the logo size which is set at `64px`.

### Why

Blockbase (parent theme), Quadrat (child theme), and potentially future Blockbase child themes set the logo height to 64px. This could be considered small, some users may want larger logos.

### How

Perhaps a Customizer option.

For Blockbase & Quadrat CSS can be used for now.

[code]

Before:

![lo

[2021-10-05 19:53] arinoch commented on #56743
Thanks. It wouldn’t have bothered me to resubmit, but if you’re going to save me work, I’m not going to say no. 😊

[2021-10-05 20:05] alshakero commented on #55648
Closing as won't fix because it's intended behavior. It's explained by Tracy quite well [here](https://github.com/Automattic/newspack-blocks/issues/675#issuecomment-934392236) and a workaround is also provided. Thanks everyone!

[2021-10-05 20:05] #55648 closed, assigned to nobody

[2021-10-05 20:16] #55896 closed, assigned to nobody

[2021-10-05 20:32] #56426 closed, assigned to nobody

[2021-10-05 20:52] jeherve commented on #56249
This may have been fixed with https://github.com/Automattic/jetpack/pull/21235 , which will ship with Jetpack 10.2 later today. I think it would be worth checking this again tomorrow, once the release is available and language packs have been generated on translate.wordpress.org.

Until then, I'll move this issue to the Jetpack repo, where the blocks live.

[2021-10-05 21:20] alshakero commented on #56797
I did some investigation and it seems WhatsNew package [issues a wpcom-proxy proxy](https://github.com/Automattic/wp-calypso/blob/f2e6f88ae65c8571bbac21b284c29b48ec987598/packages/whats-new/src/index.js#L20) and then renders the response.

But this request is never going though, because the wpcom-proxy-iframe (which what we use to proxy requests to public-api) isn't sending a message to the parent

[2021-10-05 21:20] worldomonation commented on #50025
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue, but it appears the link for `Need help with setting up your site?` is no longer present in the Customizer.

Closing the issue as `not reproducible`.

[2021-10-05 21:20] #50025 closed, assigned to nobody

[2021-10-05 21:42] worldomonation opened #56805 "Playwright: videos are not saved for non-default pages."
### Details

Currently, the only video recordings saved (when a test fails) is for the default `page` object constructed as part of the `setupHooks` in `packages/calypso-e2e/src/hooks.ts`.

This leads to issues when new contexts are launched in-spec and a test fails. Anything happening inside the newly launched context is not captured.

As noted in https://github.com/Automattic/wp-calypso/pull/567

[2021-10-05 21:46] obenland commented on #54657
I can't reproduce it myself anymore either. Closing for now.

[2021-10-05 21:46] #54657 closed, assigned to nobody

[2021-10-05 21:53] worldomonation commented on #49111
Hi! I'm performing triage on older bugs as part of Quality Squad's efforts to cut down on backlog issue counts.

I attempted to reproduce this issue with Firefox 94.0a1, macoS Big Sur 11.6 with the following steps:

1. set language of User A to Japanese.
2. set language of User B to English.
3. User A invites User B.
4. check invitation email received by User B.

The invitation email received was

[2021-10-05 21:53] #49111 closed, assigned to nobody

[2021-10-05 23:21] enejb opened #56809 "wordpress.com - home page ( The current experience feels desktop focused )"

[2021-10-05 23:30] hacchism commented on #53626
31476637-hc
Simple site

[2021-10-06 01:27] inaikem commented on #56555
@chad1008 are you able to help add Caroline to any official release/notification schedule you manage there?

[2021-10-06 01:48] inaikem opened #56810 "Exporting: Intermittent issue on Simple sites"
### Quick summary

Reported across various interactions by multiple customers (see p2EDhh-1kI-p2 for further context by @davoraltman), there appear to be intermittent issues with creating a site export on some simple sites.

The error is present regardless of if exporting via Calypso or WP Admin screens.

### Steps to reproduce

1. Visit: `Tools > Export` on a Simple site.
2. Selected a single cat

[2021-10-06 01:49] inaikem commented on #56810
Cc/ @msilbers @marcuswisecaesar @AtrumGeost

[2021-10-06 03:03] arthur791004 opened #56811 "Theme: Tablet layouts for Laporte and Coutoire seemed a little off"
### Quick summary

According to https://github.com/Automattic/wp-calypso/pull/56274#issuecomment-933799180, the tablet layout for these two seemed a little off.

### Steps to reproduce

1. Go to My Home > Appearance > Themes
2. Select Laporte or Coutoire
3. Open live demo
4. Switch the device to the tablet

### What you expected to happen

For Laporte, the `Opening` should not break `g` into the n

[2021-10-06 05:54] Aurorum commented on #41727
This would be fixed by #56625!

[2021-10-06 06:53] edwinho89 opened #56819 "Add Query Pagination block by default into Query Loop block"
### What

Allow Query Pagination block added inside Query loop block by default

### Why

It would be easier to remove existing blocks, rather than finding and adding the Query Pagination block instead.

### How

_No response_

[2021-10-06 07:03] pablinos commented on #55388
I've just been trying to absorb all the context on this and work out the fix. The issues I can see with reverting it are:

- It was partly done to unblock (sorry for the pun) block widgets https://github.com/Automattic/jetpack/pull/20587#issuecomment-899396532 but as far as I can tell this isn't an issue anymore. Could someone confirm that? @fullofcaffeine, or @Automattic/team-calypso more general

[2021-10-06 07:08] kosiew commented on #55973
Hi @jordesign,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-10-06 07:11] kosiew commented on #56751
Hi @carinapilar ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-10-06 07:16] inaikem commented on #55388
On your second bullet above:

A lot of the contact/confusion in user interactions falls into 2 camps from my perspective:

1. _"I've been using this for years and it suddenly changed without warning"_ - simple UI shock from being used to the `wp-admin` screen and it "disappearing". These may be self-hosted folks who've some over to WPcom, or equally people who are simply used to and prefer the "Cl

[2021-10-06 07:41] BogdanUngureanu commented on #55243
Two new diffs are ready to review:
- D67906-code
- D67909-code

[2021-10-06 08:27] inaikem commented on #55388
I'll leave @simison and others to speak to the underlying reasons for this implementation and any negative/breaking implications of mirroring core WP.

To add my 2¢: if there's no technical reason _not to_ enable direct access to `wp-admin/nav-menus.php` and `wp-admin/widgets.php` via the `Appearance` menu, then we should just do it.

Even more context to support that can be found in this comment:

[2021-10-06 09:05] zdenys opened #56820 "Collect Payments: Three-dots menu `...` not visibile enough"
### Quick summary

The three-dots menu at https://wordpress.com/earn/payments/ has a very light grey color and is hardly visible, so customers miss it sometimes.

### Steps to reproduce

Visit My Site → Tools → Earn → Collect Payments (https://wordpress.com/earn/payments/) on a site that has at least one customer/subscriber

### What you expected to happen

See a more visible three-dots menu `...`

[2021-10-06 09:20] #56820 closed, assigned to nobody

[2021-10-06 09:30] daria2303 opened #56822 "Seedlet: green background stripe visible in demo isn't visible on the site"
### Quick summary

Seedlet theme: green background stripe visible in demo in homepage isn't visible on the site, even when the same blocks used.

### Steps to reproduce

1. Instal Seedlet
2. Add blocks: Group > Columns > Images (like in the theme setup)
3. Check preview - there is no green stripe like in theme's demo: https://wordpress.com/theme/seedlet, my test:
4. This works in Atomic, not on si

[2021-10-06 09:36] Robertght commented on #43227
Thank you for the ping @inaikem! I've had this issue recently as well.

I'm flagging this for Flow Patrol Manage

[2021-10-06 09:43] Robertght opened #56823 "Activity Log: Restore/download buttons become squished for detailed events"
### Quick summary

This comes as a result of this issue: https://github.com/Automattic/wp-calypso/issues/49528

### Steps to reproduce

![image](https://user-images.githubusercontent.com/6737345/136179250-21997ed9-9b33-444c-8083-cfe7a0818e76.png)

### What you expected to happen

To have the buttons keep their dimensions while the logs description increasing height.

### What actually happened

Ch

[2021-10-06 09:43] Robertght commented on #49528
Of course! Thank you @mreishus

New issue: https://github.com/Automattic/wp-calypso/issues/56823

[2021-10-06 09:43] #49528 closed, assigned to mreishus

[2021-10-06 09:57] dsas commented on #56060
Working on as D67956-code

[2021-10-06 10:10] geriux opened #56826 "Gutenberg - Mark HTML tag - Styles attributes removed after saving"
When a post has a `mark` HTML tag with a set color and background styles, it loses those styles attributes after saving.

There's a [new feature](https://github.com/WordPress/gutenberg/pull/34680) in Gutenberg core, that will allow this customization from the editor but it will be affected by this bug as well.

#### Steps to reproduce

1. Create a new post
2. Toggle to the Code editor (HTML mode)

[2021-10-06 10:42] yansern commented on #56433
Meetup removed Oembed support. There's no way to embed Meetup links now. https://api.meetup.com/oembed
This needs to be removed from the support docs.

[2021-10-06 10:56] yansern commented on #56273
The block preview points to `https://calendly.com/wordpresscom/jetpack-block-example?background_color=ffffff&embed_domain=wordpress.com&embed_type=Inline&hide_event_type_details=0&primary_color=00A2FF&text_color=4D5055`.

This URL returns that page shown in the screenshot.

The constant the modify is `CALENDLY_EXAMPLE_URL` in `jetpack/extensions/blocks/calendly/index.js`. It seems that this line w

[2021-10-06 11:17] #55680 closed, assigned to alshakero

[2021-10-06 11:48] chad1008 commented on #55388
To the best of my knowledge this was more about unification and presenting a single UI whenever possible than addressing a specific pain point. When we released block widgets, @simison shared that our goal was a single UI (in that case, Customizer) where possible. Shortly after that I noticed that Menus still had a split experience and asked if that should follow the same single-UI pattern (p16285

[2021-10-06 12:21] DavidSaladu commented on #56593
Customer suggested looking at [this issue](https://github.com/Automattic/wp-calypso/issues/56790) in regards to their gallery problem with the coments.

[2021-10-06 12:35] synora commented on #53159
@mmtr 👋
I see that the other related issues ([19922](https://github.com/Automattic/jetpack/issues/19922) and [19967)](https://github.com/Automattic/jetpack/pull/19967) have been closed. Is it safe to close this one?

Looks like reports were still coming in the early part of September for this issue.

[2021-10-06 12:45] kristastevens commented on #56811
Hi @arthur791004, I think this question would be better for a designer to take a look at. I'm not sure what the best solution would be here.

[2021-10-06 13:00] yansern commented on #56273
The existing calendly account is used for something else now. The remedy is to create another account, create an event type for "Jetpack Block Example", and update the URL here. (Also, add the account to SS).
![image](https://user-images.githubusercontent.com/1287077/136207142-7e654083-2b7b-4a94-99fe-bf6b42a59b83.png)

[2021-10-06 14:44] ianstewart opened #56831 "Design Picker: Loading screen experience needs improvement"
A minor issue. It feels a bit strange to have step 1 of 1 …

![image](https://user-images.githubusercontent.com/545779/136226520-4f99e366-804a-4aa9-a5e1-50919283069d.png)

![image](https://user-images.githubusercontent.com/545779/136226556-e6cc6322-e300-46fc-a939-f32f277fc9b4.png)

… on these screens. Especially since they come so close to each other.

[2021-10-06 14:46] #56548 closed, assigned to rafaelgallani

[2021-10-06 14:49] ianstewart opened #56832 "Design Picker: Add random sort to selections"
It would be good to have these designs randomly sorted. Probably with the exception of Blank Canvas. When we launch categories it’d be nice to have the designs in each category randomly sorted as well. We can use the data later to add in a trending sort to produce a better offering and also for theme and pattern design. (I think all the code needed already exists in the wp.com/new design picker.)

[2021-10-06 14:55] ianstewart opened #56833 "Design Picker: Quadrat Demo content needs updating"
There are lots of images being added when you select the Quadrat design.

We may need to clean this up. **Ref:** p6nuNy-UH-p2

![image](https://user-images.githubusercontent.com/545779/136227979-46bac763-3969-4d63-8843-f7c4d0e0caef.png)

Quadrat probably does not need so many demo posts to make the design look like it does for a user and we’re likely adding too many to new to sites.

![image](http

[2021-10-06 15:00] obenland opened #56834 "Task: Remove Editor Preview in Favor of Native Preview"
### Details

With Gutenberg natively offering the various screen size previews now, let's remove that preview modal in favor of the built-in preview.

The modal was introduced in #31610, but it will likely take more work than just a revert to restore the native behavior.

The desired outcome is to offer the native preview dropdown in Calypso as well:
<img width="446" alt="Screen Shot 2021-10-05 at

[2021-10-06 15:04] ianstewart opened #56835 "Design Picker: Twenty Twenty One content needs updating"
We're adding a lot of pages, posts, and media to user sites through the design picker with no control. I believe most of this content is here to support a "Works" page/template that the user does not get to preview before design selection. (They only see the homepage.) And a blog template that only requires one post to capture the layout.

We should clean up the demo site or the headstart annotati

[2021-10-06 15:39] Nic-Sevic commented on #56194
I’ve had another case of this today here after a connection was broken by an AIOWPM import:

p1633527472086200-slack-C03TY6J1A
4355364-zd-woothemes
site: http://juliasatterlee.com/

[2021-10-06 15:41] jartes commented on #56194
I had another one on: 4355050-zd-woothemes

As well, they migrated their site via AIOWPM, and `at_options` were not present

When I was trying to re-connect Jetpack, JP plans page was being displayed, so I needed to go back, and click on the "Approve" button to get it connected.

[2021-10-06 15:56] ianstewart opened #56836 "Design Picker: Spearhead demo content needs clean up"
The spearhead content created through the design picker leaves users with far more blog posts than needed to create the design.

![image](https://user-images.githubusercontent.com/545779/136239979-6ea5f3f4-3481-436e-bce7-39c1d268f96b.png)

[2021-10-06 15:57] #56538 closed, assigned to nobody

[2021-10-06 16:04] #56385 closed, assigned to nobody

[2021-10-06 16:11] ianstewart opened #56837 "Design Picker: Twenty Fifteen preview appears broken"
To reproduce hover to allow the preview to scroll up.

- Twenty Fifteen
- Twenty Sixteen
- Rockfield

![image](https://user-images.githubusercontent.com/545779/136242346-57a921ef-3eed-4449-bc8a-5aedc5248178.png)

![image](https://user-images.githubusercontent.com/545779/136242543-178b84d4-9c2e-425a-a17a-723d1ba45543.png)

![image](https://user-images.githubusercontent.com/545779/136242654-cafe6b03

[2021-10-06 16:32] yansern commented on #56621
Customizer only show widget areas that exist on the page. If the widget area does not exist on the page, click on other pages where the widget area is shown. This is left as a note which is easily missed.
![image](https://user-images.githubusercontent.com/1287077/136245617-85db4128-1989-412f-8eaa-a409289c1ac8.png)

The standalone widgets editor is the place to go to edit all the widget areas. :)

[2021-10-06 17:04] davipontesblog commented on #56621
I opened the customer's site in the Customizer now, and it seems like this is not an issue anymore. I wonder if it got fixed with a recent Gutenberg plugin update or similar? In ay fashion, I am closing it again as "Fixed" :)

<img width="1513" alt="Screen Shot 2021-10-06 at 13 03 07" src="https://user-images.githubusercontent.com/31009008/136250513-2748600e-0c8b-40fb-9c0a-89b33abcf18f.png">

[2021-10-06 17:04] #56621 closed, assigned to nobody

[2021-10-06 17:36] IoanaAMuresan opened #56838 "Error when attempting to create subdomains with 1-2 characters"
### Quick summary

Chat user could not add a subdomain using the format fr.example.com (or any 1-2 character subdomains). Tested on our end (help in Slack p1633517492039700-slack-C03TY6J1A ) and replicated the issue.

### Steps to reproduce

1. Start at Upgrades -> Domains -> Add a domain to this site -> Use a domain I own
2. Add any 1-2 letter subdomains (ex. fr.example.com)
3. Error: 'Are you su

[2021-10-06 17:37] Robertght opened #56839 "Revisions: Add Visual/Code editor views"
### What

While I was debugging a post revisions case, I noticed the Unified view which became really hard to track.

### Why

The editor markup can be problematic for newer users to compare the new and previous content, especially if they are not familiar with the blocks markup.

![image](https://user-images.githubusercontent.com/6737345/136254317-794131ae-7146-4a0b-9af5-c6428b83a76e.png)

### Ho

[2021-10-06 17:40] yansern commented on #56659
@NoHopeRadio When you mean Dropdown, do you mean a bulletpoint list?

I don't see an option to display links as dropdown menu with the legacy widget.

![image](https://user-images.githubusercontent.com/1287077/136255178-be6cfc46-ca25-4750-af49-bf704e08a96d.png)

![image](https://user-images.githubusercontent.com/1287077/136255399-eac669ea-546d-4db0-be91-c41a736ae3bc.png)

[2021-10-06 18:20] worldomonation opened #56841 "Account Close: Domain-only account closure flow is not redirecting to account closed page if user never logged out."
### Quick summary

Issue identified from automated e2e testing script: `test/e2e/specs/specs-playwright/wp-signup__domain.ts`.

This issue only affects accounts created through the `/start/domain` flow and the user has **never** logged out before closing the account.

Issue is introduced with https://github.com/Automattic/wp-calypso/pull/56803, which was a fix for an earlier issue https://github.c

[2021-10-06 18:23] worldomonation commented on #56841
Quoting from @sirbrillig in https://github.com/Automattic/wp-calypso/pull/56803#issuecomment-936800075:

[2021-10-06 18:37] #55618 closed, assigned to nobody

[2021-10-06 18:54] #56435 closed, assigned to andres-blanco

[2021-10-06 19:38] #56526 closed, assigned to mreishus

[2021-10-06 19:38] #56546 closed, assigned to mreishus

[2021-10-06 19:54] mreishus commented on #56507
We have a fix merged into gutenberg now: https://github.com/WordPress/gutenberg/commit/b9ad37d4007dba76279fadd9001d3e41b786daad
Looking into non-disruptive workarounds.

[2021-10-06 20:07] csonnek commented on #55925
A user from [Twitter](https://twitter.com/rootlabs/status/1445817328847912970) has a similar request - allow setup using a QR code without providing a phone number

[2021-10-06 21:05] mattwiebe commented on #56412
Sorry, missed this comment and now I don't remember the situation as clearly.

Oh, actually, never mind. I do remember now: I was dealing with a non-Atomic Jetpack site, which doesn't use Nav Unification and therefore never shows the Site Editor. 🤦

Closing now, will reopen if I come across this again.

[2021-10-06 21:05] #56412 closed, assigned to nobody

[2021-10-06 21:20] #54469 closed, assigned to mattwiebe

[2021-10-06 21:23] #52744 closed, assigned to nobody

[2021-10-06 21:25] mattwiebe commented on #54470
Released!

[2021-10-06 21:25] #54470 closed, assigned to nobody

[2021-10-06 23:44] sirbrillig commented on #56841
I figured it out. The `page()` redirect _was_ working, but then was being redirected _back_ to the first page by another `page()` redirect. Since they were both SPA redirects, it appeared to do nothing at all.

The bug has actually existed for 2 years but probably was hidden because all the flows had a page refresh. It's likely that https://github.com/Automattic/wp-calypso/pull/56803 somehow remov

[2021-10-06 23:58] enejb opened #56851 "Already own a domain get s cut at the bottom - link is unreachable"

[2021-10-07 00:40] jeyip opened #56853 "Themes Showcase: Current Theme Card badges overflow at smaller widths"
### Quick summary

<img width="675" alt="Screenshot 2021-10-01 at 15 30 21" src="https://user-images.githubusercontent.com/2070010/135637699-074cd187-5266-4c56-9bfc-685b9fbc428b.png">
<img width="492" alt="Screenshot 2021-10-01 at 15 30 31" src="https://user-images.githubusercontent.com/2070010/135637704-13d8edf0-c9f4-4e16-bcf6-feab306afd60.png">

### Steps to reproduce

1. Create an FSE eligible

[2021-10-07 00:49] donalirl commented on #56709
The above is for desktop. From what I can tell, there is no List View on mobile unless I'm missing something?

[2021-10-07 00:54] jeyip opened #56854 "Themes Showcase: Only show theme beta badges on sites that are FSE eligible"
### Quick summary

Currently, beta badges are displayed as long as full site editing is activated on a site and disabled otherwise. Instead, we want beta badges to be displayed on _any_ site that is full site editing eligible, regardless of whether or not the full site editor is activated.

### Steps to reproduce

1. Create a full site editing enabled site
2. Navigate to Appearance > Site editor
3

[2021-10-07 01:25] annbingle commented on #55333
Another report here. Since the user needs this urgently, I recommended them to add PayPal using HTML instead.

32056471-hc

[2021-10-07 01:43] p-jackson commented on #56832
Implementation note: take a look at the `randomize` param of the `getAvailableDesigns()` function to see the existing code for this.